<?xml version="1.0" encoding="ISO-8859-1"?>
<screen conversionType="Hash">
<property name="Screen Width" value="547"/>
<property name="Initialize Commands" value=""/>
<property name="screenTitle" value="Advanced User Properties"/>
<bean>
<property name="UserCode_Bean_Top" value="Bean_Top"/>
<property name="InstanceName" value="Top"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Layout Manager" value="Border Layout"/>
<property name="Layout Constraints" value="Center"/>
<property name="Panel" value="container"/>
<property name="Layout Manager Constraints" value="5,5"/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Constraints" value="North"/>
<property name="DefaultSize" value="529,46"/>
<property name="UserCode_Bean_JLabel1" value="Bean_JLabel1"/>
<property name="PaddingSize" value="345,21"/>
<property name="InstanceName" value="JLabel1"/>
<property name="PropertyOrder" value=",text,horizontalAlignment,foreground,"/>
<property name="Bean Permissions" value="244"/>
<property name="foreground" value="-16764109"/>
<property name="Panel" value="Top"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="horizontalAlignment" value="0"/>
<property name="text" value="Advanced Security Configuration"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="PopupMenu" value="none"/>
<property name="Layout Manager Constraints" value="5,5,3,1"/>
<property name="Layout Constraints" value="Center"/>
<property name="DefaultSize" value="586,421"/>
<property name="Layout Manager" value="Grid Layout"/>
<property name="UserCode_Bean_JPanel1" value="Bean_JPanel1"/>
<property name="PaddingSize" value="49,130"/>
<property name="InstanceName" value="JPanel1"/>
<property name="Bean Permissions" value="252"/>
<property name="Panel" value="Top"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="PopupMenu" value="none"/>
<property name="Layout Manager Constraints" value=""/>
<property name="Layout Constraints" value="0"/>
<property name="DefaultSize" value="529,83"/>
<property name="UserCode_Bean_JPanel2" value="Bean_JPanel2"/>
<property name="Layout Manager" value="GridBag Layout"/>
<property name="InstanceName" value="JPanel2"/>
<property name="Bean Permissions" value="252"/>
<property name="Panel" value="JPanel1"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="UserCode_Bean_JLabel7" value="Bean_JLabel7"/>
<property name="Initializer" value=""/>
<property name="font" value="Dialog+0+12"/>
<property name="Layout Constraints" value="0,0,1,1,0,10,0,0,0.0,0.0,5,5,5,10"/>
<property name="DefaultSize" value="293,25"/>
<property name="InstanceName" value="JLabel7"/>
<property name="PropertyOrder" value=",font,foreground,text,"/>
<property name="Bean Permissions" value="244"/>
<property name="foreground" value="-16764109"/>
<property name="Panel" value="JPanel2"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="text" value="Click to associate views to a group                                "/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="font" value="Dialog+0+13"/>
<property name="Layout Constraints" value="1,0,1,1,0,10,0,0,0.0,0.0,5,10,5,5"/>
<property name="DefaultSize" value="159,37"/>
<property name="InstanceName" value="JButton3"/>
<property name="PropertyOrder" value=",text,font,"/>
<property name="Bean Permissions" value="244"/>
<property name="Panel" value="JPanel2"/>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="text" value="Group  To  Views    "/>
<property name="UserCode_Bean_JButton3" value="Bean_JButton3"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Manager Constraints" value=""/>
<property name="Layout Constraints" value="1"/>
<property name="DefaultSize" value="505,91"/>
<property name="UserCode_Bean_JPanel3" value="Bean_JPanel3"/>
<property name="Layout Manager" value="GridBag Layout"/>
<property name="InstanceName" value="JPanel3"/>
<property name="Bean Permissions" value="252"/>
<property name="Panel" value="JPanel1"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="font" value="Dialog+0+12"/>
<property name="Layout Constraints" value="0,0,1,1,0,10,0,0,0.0,0.0,5,5,5,10"/>
<property name="DefaultSize" value="298,25"/>
<property name="UserCode_Bean_JLabel2" value="Bean_JLabel2"/>
<property name="InstanceName" value="JLabel2"/>
<property name="PropertyOrder" value=",foreground,font,text,"/>
<property name="Bean Permissions" value="244"/>
<property name="foreground" value="-16764109"/>
<property name="Panel" value="JPanel3"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="text" value="Click to configure  views                                                 "/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="UserCode_Bean_JButton1" value="Bean_JButton1"/>
<property name="Initializer" value=""/>
<property name="font" value="Dialog+0+12"/>
<property name="Layout Constraints" value="1,0,1,1,0,10,0,0,0.0,0.0,5,10,5,5"/>
<property name="DefaultSize" value="157,45"/>
<property name="InstanceName" value="JButton1"/>
<property name="PropertyOrder" value=",actionCommand,font,text,"/>
<property name="Bean Permissions" value="244"/>
<property name="actionCommand" value="Views and Groups"/>
<property name="Panel" value="JPanel3"/>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="text" value=" View Configuration   "/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Manager Constraints" value=""/>
<property name="Layout Constraints" value="2"/>
<property name="DefaultSize" value="504,91"/>
<property name="UserCode_Bean_JPanel4" value="Bean_JPanel4"/>
<property name="Layout Manager" value="GridBag Layout"/>
<property name="InstanceName" value="JPanel4"/>
<property name="Bean Permissions" value="252"/>
<property name="Panel" value="JPanel1"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="PopupMenu" value="none"/>
<property name="font" value="Dialog+0+12"/>
<property name="Layout Constraints" value="0,0,1,1,0,10,0,0,0.0,0.0,5,5,5,10"/>
<property name="UserCode_Bean_JLabel3" value="Bean_JLabel3"/>
<property name="DefaultSize" value="295,25"/>
<property name="InstanceName" value="JLabel3"/>
<property name="PropertyOrder" value=",foreground,font,text,"/>
<property name="Bean Permissions" value="244"/>
<property name="foreground" value="-16764109"/>
<property name="Panel" value="JPanel4"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="text" value="Click to Configure the Operations  Tree                         "/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="UserCode_Bean_JButton2" value="Bean_JButton2"/>
<property name="Initializer" value=""/>
<property name="font" value="Dialog+0+13"/>
<property name="Layout Constraints" value="1,0,1,1,0,10,0,0,0.0,0.0,5,10,5,5"/>
<property name="DefaultSize" value="159,45"/>
<property name="InstanceName" value="JButton2"/>
<property name="PropertyOrder" value=",font,text,"/>
<property name="Bean Permissions" value="244"/>
<property name="Panel" value="JPanel4"/>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="text" value=" Operations Tree     "/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Manager Constraints" value="5,5,3,1"/>
<property name="font" value="Dialog+1+12"/>
<property name="Layout Constraints" value="South"/>
<property name="UserCode_Bean_JPanel5" value="Bean_JPanel5"/>
<property name="DefaultSize" value="568,131"/>
<property name="border" value="TitledBorder,[null],Views and Operations,4,2,Dialog+0+12,-16777216"/>
<property name="Layout Manager" value="Grid Layout"/>
<property name="PaddingSize" value="10,10"/>
<property name="InstanceName" value="JPanel5"/>
<property name="PropertyOrder" value=",font,border,"/>
<property name="Bean Permissions" value="252"/>
<property name="Panel" value="Top"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="UserCode_Bean_JLabel4" value="Bean_JLabel4"/>
<property name="font" value="Dialog+0+12"/>
<property name="Layout Constraints" value="0"/>
<property name="DefaultSize" value="538,25"/>
<property name="InstanceName" value="JLabel4"/>
<property name="PropertyOrder" value=",font,foreground,text,verticalAlignment,verticalTextPosition,"/>
<property name="Bean Permissions" value="244"/>
<property name="verticalAlignment" value="3"/>
<property name="foreground" value="-16764109"/>
<property name="verticalTextPosition" value="3"/>
<property name="Panel" value="JPanel5"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="text" value="The group to which a user belongs is associated with a view or a set of views, a view has a set of "/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="UserCode_Bean_JLabel5" value="Bean_JLabel5"/>
<property name="font" value="Dialog+0+12"/>
<property name="Layout Constraints" value="1"/>
<property name="DefaultSize" value="538,25"/>
<property name="InstanceName" value="JLabel5"/>
<property name="PropertyOrder" value=",font,foreground,verticalAlignment,text,"/>
<property name="Bean Permissions" value="244"/>
<property name="verticalAlignment" value="3"/>
<property name="foreground" value="-16764109"/>
<property name="Panel" value="JPanel5"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="text" value="operations asssociated with it, The &quot;Views&quot; and &quot;Operations&quot; can be configured independently"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="UserCode_Bean_JLabel6" value="Bean_JLabel6"/>
<property name="font" value="Dialog+0+12"/>
<property name="Layout Constraints" value="2"/>
<property name="DefaultSize" value="226,25"/>
<property name="InstanceName" value="JLabel6"/>
<property name="PropertyOrder" value=",font,foreground,verticalAlignment,verticalTextPosition,text,"/>
<property name="Bean Permissions" value="244"/>
<property name="verticalAlignment" value="1"/>
<property name="foreground" value="-16764109"/>
<property name="verticalTextPosition" value="1"/>
<property name="Panel" value="JPanel5"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="text" value="and later associated with a User-Group."/>
<property name="Modifiers" value=""/>
</bean>
<property name="Import Code" value=""/>
<property name="Variable Definitions" value=""/>
<property name="Version" value="4.4"/>
<property name="Screen Height" value="542"/>
<property name="Start Commands" value=""/>
<property name="Type" value="Panel"/>
<connection>
<property name="ConnectionType" value="1"/>
<property name="ClassHeader" value="&#10; class JButton2_JButton2_conn1 implements java.awt.event.ActionListener, java.io.Serializable &#10;  {&#10;&#10;     //&lt;TOP_PART&gt;&#10;"/>
<property name="NeedsCompilation" value="false"/>
<property name="Targets" value="JButton2-TARGET"/>
<property name="UserCode_Connection_JButton2_JButton2_conn1" value="Connection_JButton2_JButton2_conn1"/>
<property name="Sources" value="JButton2-action-false"/>
<property name="ConnectionName" value="JButton2_JButton2_conn1"/>
<property name="ConnectionClass" value="java.awt.event.ActionListener"/>
<property name="Connection_Version" value="1"/>
<property name="ListenerMethodName" value="actionPerformed"/>
</connection>
<connection>
<property name="ConnectionType" value="1"/>
<property name="UserCode_Connection_JButton3_JButton3_conn1" value="Connection_JButton3_JButton3_conn1"/>
<property name="ClassHeader" value="&#10; class JButton3_JButton3_conn1 implements java.awt.event.ActionListener, java.io.Serializable &#10;  {&#10;&#10;     //&lt;TOP_PART&gt;&#10;"/>
<property name="NeedsCompilation" value="false"/>
<property name="Targets" value="JButton3-TARGET"/>
<property name="Sources" value="JButton3-action-false"/>
<property name="ConnectionName" value="JButton3_JButton3_conn1"/>
<property name="ConnectionClass" value="java.awt.event.ActionListener"/>
<property name="Connection_Version" value="1"/>
<property name="ListenerMethodName" value="actionPerformed"/>
</connection>
<connection>
<property name="ConnectionType" value="1"/>
<property name="ClassHeader" value="&#10; class JButton1_JButton1_conn1 implements java.awt.event.ActionListener, java.io.Serializable &#10;  {&#10;&#10;     //&lt;TOP_PART&gt;&#10;"/>
<property name="NeedsCompilation" value="false"/>
<property name="Targets" value="JButton1-TARGET"/>
<property name="Sources" value="JButton1-action-false"/>
<property name="ConnectionName" value="JButton1_JButton1_conn1"/>
<property name="ConnectionClass" value="java.awt.event.ActionListener"/>
<property name="Connection_Version" value="1"/>
<property name="ListenerMethodName" value="actionPerformed"/>
<property name="UserCode_Connection_JButton1_JButton1_conn1" value="Connection_JButton1_JButton1_conn1"/>
</connection>
<property name="MenuBarPresent" value="true"/>
<property name="Custom Code" value=""/>
<property name="GenSource" value="false"/>
<property name="Dummy Interface" value=""/>
<property name="ToolBarPresent" value="true"/>
<property name="HorizontalSplitPanePos" value="170.0"/>
<property name="SubVersion" value="4.4"/>
<property name="LookAndFeel" value="None"/>
</screen>
