<?xml version="1.0" encoding="ISO-8859-1"?>
<screen conversionType="Hash">
<property name="Screen Width" value="597"/>
<property name="Initialize Commands" value=""/>
<property name="screenTitle" value=""/>
<bean>
<property name="UserCode_Bean_Top" value="Bean_Top"/>
<property name="InstanceName" value="Top"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Layout Manager" value="GridBag Layout"/>
<property name="Panel" value="container"/>
<property name="Layout Constraints" value="Center"/>
<property name="Layout Manager Constraints" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JScrollPane();"/>
<property name="Layout Manager Constraints" value=""/>
<property name="Layout Constraints" value="0,0,3,1,1,10,0,0,0.0,0.01,5,5,5,5"/>
<property name="DefaultSize" value="37,53"/>
<property name="border" value="TitledBorder,[LineBorder,-16777216,1,false],Audit Details,0,0,Dialog+0+12,-10066279"/>
<property name="Layout Manager" value="Viewport Layout"/>
<property name="InstanceName" value="JScrollPane1"/>
<property name="PropertyOrder" value=",foreground,border,"/>
<property name="Bean Permissions" value="255"/>
<property name="foreground" value="-13224394"/>
<property name="UserCode_Bean_JScrollPane1" value="Bean_JScrollPane1"/>
<property name="ClassName" value="javax.swing.JScrollPane"/>
<property name="Panel" value="Top"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new com.adventnet.beans.table.SortTable();"/>
<property name="PopupMenu" value="none"/>
<property name="DefaultSize" value="20,20"/>
<property name="model" value="SortTableModel1$BEAN"/>
<property name="InstanceName" value="SortTable1"/>
<property name="UserCode_Bean_SortTable1" value="Bean_SortTable1"/>
<property name="PropertyOrder" value=",model,foreground,"/>
<property name="Bean Permissions" value="247"/>
<property name="foreground" value="-16777216"/>
<property name="ClassName" value="com.adventnet.beans.table.SortTable"/>
<property name="Panel" value="JScrollPane1"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="UserCode_Bean_JButton1" value="Bean_JButton1"/>
<property name="Initializer" value="new javax.swing.JButton();"/>
<property name="Layout Constraints" value="0,1,1,1,0,13,0,0,0.01,0.0,5,5,5,5"/>
<property name="font" value="Dialog+0+12"/>
<property name="DefaultSize" value="109,35"/>
<property name="InstanceName" value="JButton1"/>
<property name="PropertyOrder" value=",font,text,"/>
<property name="Bean Permissions" value="247"/>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="Panel" value="Top"/>
<property name="text" value="Save To File"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="UserCode_Bean_JButton2" value="Bean_JButton2"/>
<property name="Initializer" value="new javax.swing.JButton();"/>
<property name="Layout Constraints" value="1,1,1,1,0,13,0,0,0.0,0.0,5,5,5,5"/>
<property name="font" value="Dialog+0+12"/>
<property name="DefaultSize" value="93,35"/>
<property name="InstanceName" value="JButton2"/>
<property name="PropertyOrder" value=",font,text,"/>
<property name="Bean Permissions" value="247"/>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="Panel" value="Top"/>
<property name="text" value="   Clear    "/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JButton();"/>
<property name="Layout Constraints" value="2,1,1,1,0,13,0,0,0.0,0.0,5,5,5,5"/>
<property name="font" value="Dialog+0+12"/>
<property name="DefaultSize" value="87,35"/>
<property name="InstanceName" value="JButton3"/>
<property name="PropertyOrder" value=",font,text,"/>
<property name="Bean Permissions" value="247"/>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="Panel" value="Top"/>
<property name="text" value="  Close  "/>
<property name="UserCode_Bean_JButton3" value="Bean_JButton3"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new com.adventnet.beans.table.SortTableModel();"/>
<property name="UserCode_Bean_SortTableModel1" value="Bean_SortTableModel1"/>
<property name="Layout Constraints" value="BOTTOM"/>
<property name="DefaultSize" value="104,25"/>
<property name="InstanceName" value="SortTableModel1"/>
<property name="Bean Permissions" value="247"/>
<property name="Panel" value="Bottom"/>
<property name="ClassName" value="com.adventnet.beans.table.SortTableModel"/>
<property name="Modifiers" value=""/>
</bean>
<property name="Import Code" value=""/>
<property name="Variable Definitions" value=""/>
<property name="Version" value="4.4"/>
<property name="Screen Height" value="422"/>
<property name="Start Commands" value=""/>
<property name="Type" value="Dialog"/>
<connection>
<property name="ConnectionType" value="1"/>
<property name="ClassHeader" value="&#10; class JButton2_SortTableModel1_conn implements java.awt.event.ActionListener, java.io.Serializable &#10;  {&#10;&#10;     //&lt;TOP_PART&gt;&#10;"/>
<property name="NeedsCompilation" value="false"/>
<property name="Targets" value="SortTableModel1-TARGET"/>
<property name="UserCode_Connection_JButton2_SortTableModel1_conn" value="Connection_JButton2_SortTableModel1_conn"/>
<property name="Sources" value="JButton2-action-false"/>
<property name="ConnectionName" value="JButton2_SortTableModel1_conn"/>
<property name="ConnectionClass" value="java.awt.event.ActionListener"/>
<property name="Connection_Version" value="1"/>
<property name="ListenerMethodName" value="actionPerformed"/>
</connection>
<connection>
<property name="UserCode_Connection_JButton3_JButton3_conn" value="Connection_JButton3_JButton3_conn"/>
<property name="ConnectionType" value="1"/>
<property name="ClassHeader" value="&#10; class JButton3_JButton3_conn implements java.awt.event.ActionListener, java.io.Serializable &#10;  {&#10;&#10;     //&lt;TOP_PART&gt;&#10;"/>
<property name="NeedsCompilation" value="false"/>
<property name="Targets" value="JButton3-TARGET"/>
<property name="Sources" value="JButton3-action-false"/>
<property name="ConnectionName" value="JButton3_JButton3_conn"/>
<property name="ConnectionClass" value="java.awt.event.ActionListener"/>
<property name="Connection_Version" value="1"/>
<property name="ListenerMethodName" value="actionPerformed"/>
</connection>
<connection>
<property name="ConnectionType" value="1"/>
<property name="ClassHeader" value="&#10; class JButton1_JButton1_conn implements java.awt.event.ActionListener, java.io.Serializable &#10;  {&#10;&#10;     //&lt;TOP_PART&gt;&#10;"/>
<property name="NeedsCompilation" value="false"/>
<property name="Targets" value="JButton1-TARGET"/>
<property name="Sources" value="JButton1-action-false"/>
<property name="ConnectionName" value="JButton1_JButton1_conn"/>
<property name="ConnectionClass" value="java.awt.event.ActionListener"/>
<property name="UserCode_Connection_JButton1_JButton1_conn" value="Connection_JButton1_JButton1_conn"/>
<property name="Connection_Version" value="1"/>
<property name="ListenerMethodName" value="actionPerformed"/>
</connection>
<connection>
<property name="ConnectionType" value="1"/>
<property name="ClassHeader" value="&#10; class JButton2_JButton2_conn implements java.awt.event.ActionListener, java.io.Serializable &#10;  {&#10;&#10;     //&lt;TOP_PART&gt;&#10;"/>
<property name="NeedsCompilation" value="false"/>
<property name="Targets" value="JButton2-TARGET"/>
<property name="UserCode_Connection_JButton2_JButton2_conn" value="Connection_JButton2_JButton2_conn"/>
<property name="Sources" value="JButton2-action-false"/>
<property name="ConnectionName" value="JButton2_JButton2_conn"/>
<property name="ConnectionClass" value="java.awt.event.ActionListener"/>
<property name="Connection_Version" value="1"/>
<property name="ListenerMethodName" value="actionPerformed"/>
</connection>
<property name="MenuBarPresent" value="true"/>
<property name="Custom Code" value=""/>
<property name="GenSource" value="true"/>
<property name="Dummy Interface" value=""/>
<property name="ToolBarPresent" value="true"/>
<property name="HorizontalSplitPanePos" value="170.0"/>
<property name="SubVersion" value="4.4"/>
<property name="LookAndFeel" value="None"/>
</screen>
