<?xml version="1.0" encoding="UTF-8"?>
<screen conversionType="Hash">
<property name="Screen Width" value="839"/>
<property name="Initialize Commands" value=""/>
<property name="screenTitle" value=""/>
<menu>
<property name="InstanceName" value="FileMenu"/>
<property name="menuName" value="File"/>
<property name="parent" value="top"/>
<property name="type" value="menu"/>
<property name="mnemonic" value="F"/>
<property name="uniqueID" value="MenuBar"/>
</menu>
<menu>
<property name="InstanceName" value="NewMenu"/>
<property name="menuName" value="New"/>
<property name="parent" value="File"/>
<property name="type" value="menu"/>
<property name="mnemonic" value="none"/>
<property name="uniqueID" value="MenuBar"/>
</menu>
<menu>
<property name="UserCode_menuItem_AddUserMenuItem" value="menuItem_AddUserMenuItem"/>
<property name="uniqueID" value="MenuBar"/>
<property name="shortCutKey" value="U"/>
<property name="menuName" value="AddUser"/>
<property name="InstanceName" value="AddUserMenuItem"/>
<property name="shiftKeyStatus" value="true"/>
<property name="ctrlKeyStatus" value="true"/>
<property name="actionCommand" value="AddUser"/>
<property name="type" value="menuItem"/>
<property name="altKeyStatus" value="false"/>
<property name="mnemonic" value="U"/>
<property name="parent" value="New"/>
</menu>
<menu>
<property name="InstanceName" value="Separator"/>
<property name="menuName" value="Separator"/>
<property name="parent" value="New"/>
<property name="type" value="separator"/>
<property name="uniqueID" value="MenuBar"/>
</menu>
<menu>
<property name="uniqueID" value="MenuBar"/>
<property name="UserCode_menuItem_AddGroupMenuItem" value="menuItem_AddGroupMenuItem"/>
<property name="shortCutKey" value="G"/>
<property name="menuName" value="AddGroup"/>
<property name="InstanceName" value="AddGroupMenuItem"/>
<property name="shiftKeyStatus" value="true"/>
<property name="ctrlKeyStatus" value="true"/>
<property name="actionCommand" value="AddGroup"/>
<property name="type" value="menuItem"/>
<property name="altKeyStatus" value="false"/>
<property name="mnemonic" value="G"/>
<property name="parent" value="New"/>
</menu>
<menu>
<property name="InstanceName" value="Separator1"/>
<property name="menuName" value="Separator"/>
<property name="parent" value="New"/>
<property name="type" value="separator"/>
<property name="uniqueID" value="MenuBar"/>
</menu>
<menu>
<property name="uniqueID" value="MenuBar"/>
<property name="shortCutKey" value="O"/>
<property name="menuName" value="AddOperations"/>
<property name="UserCode_menuItem_AddOperationsMenuItem" value="menuItem_AddOperationsMenuItem"/>
<property name="InstanceName" value="AddOperationsMenuItem"/>
<property name="shiftKeyStatus" value="true"/>
<property name="ctrlKeyStatus" value="true"/>
<property name="actionCommand" value="AddOperations"/>
<property name="type" value="menuItem"/>
<property name="altKeyStatus" value="false"/>
<property name="mnemonic" value="O"/>
<property name="parent" value="New"/>
</menu>
<menu>
<property name="InstanceName" value="Separator12"/>
<property name="menuName" value="Separator"/>
<property name="parent" value="File"/>
<property name="type" value="separator"/>
<property name="uniqueID" value="MenuBar"/>
</menu>
<menu>
<property name="uniqueID" value="MenuBar"/>
<property name="shortCutKey" value="F4"/>
<property name="menuName" value="Exit"/>
<property name="InstanceName" value="ExitMenuItem"/>
<property name="shiftKeyStatus" value="false"/>
<property name="ctrlKeyStatus" value="false"/>
<property name="actionCommand" value="Exit"/>
<property name="type" value="menuItem"/>
<property name="altKeyStatus" value="true"/>
<property name="mnemonic" value="X"/>
<property name="parent" value="File"/>
<property name="UserCode_menuItem_ExitMenuItem" value="menuItem_ExitMenuItem"/>
</menu>
<menu>
<property name="InstanceName" value="ViewMenu"/>
<property name="menuName" value="View"/>
<property name="parent" value="top"/>
<property name="type" value="menu"/>
<property name="mnemonic" value="V"/>
<property name="uniqueID" value="MenuBar"/>
</menu>
<menu>
<property name="uniqueID" value="MenuBar"/>
<property name="shortCutKey" value="A"/>
<property name="menuName" value="AuditTrails"/>
<property name="InstanceName" value="AuditTrailsMenuItem"/>
<property name="shiftKeyStatus" value="true"/>
<property name="ctrlKeyStatus" value="true"/>
<property name="actionCommand" value="AuditTrails"/>
<property name="type" value="menuItem"/>
<property name="altKeyStatus" value="false"/>
<property name="mnemonic" value="A"/>
<property name="parent" value="View"/>
<property name="UserCode_menuItem_AuditTrailsMenuItem" value="menuItem_AuditTrailsMenuItem"/>
</menu>
<menu>
<property name="InstanceName" value="EditMenu"/>
<property name="menuName" value="Edit"/>
<property name="parent" value="top"/>
<property name="type" value="menu"/>
<property name="mnemonic" value="E"/>
<property name="uniqueID" value="MenuBar"/>
</menu>
<menu>
<property name="uniqueID" value="MenuBar"/>
<property name="shortCutKey" value="R"/>
<property name="menuName" value="Refresh"/>
<property name="UserCode_menuItem_RefreshMenuItem" value="menuItem_RefreshMenuItem"/>
<property name="InstanceName" value="RefreshMenuItem"/>
<property name="shiftKeyStatus" value="false"/>
<property name="ctrlKeyStatus" value="false"/>
<property name="actionCommand" value="Refresh"/>
<property name="type" value="menuItem"/>
<property name="altKeyStatus" value="true"/>
<property name="mnemonic" value="E"/>
<property name="parent" value="Edit"/>
</menu>
<menu>
<property name="uniqueID" value="MenuBar"/>
<property name="shortCutKey" value="C"/>
<property name="menuName" value="Change Password"/>
<property name="InstanceName" value="Change_PasswordMenuItem"/>
<property name="shiftKeyStatus" value="true"/>
<property name="ctrlKeyStatus" value="true"/>
<property name="actionCommand" value="Reset Password"/>
<property name="type" value="menuItem"/>
<property name="altKeyStatus" value="false"/>
<property name="mnemonic" value="C"/>
<property name="parent" value="Edit"/>
<property name="UserCode_menuItem_Change_PasswordMenuItem" value="menuItem_Change_PasswordMenuItem"/>
</menu>
<menu>
<property name="InstanceName" value="Separator123"/>
<property name="menuName" value="Separator"/>
<property name="parent" value="Edit"/>
<property name="type" value="separator"/>
<property name="uniqueID" value="MenuBar"/>
</menu>
<menu>
<property name="uniqueID" value="MenuBar"/>
<property name="shortCutKey" value="D"/>
<property name="menuName" value="Delete"/>
<property name="UserCode_menuItem_DeleteMenuItem" value="menuItem_DeleteMenuItem"/>
<property name="InstanceName" value="DeleteMenuItem"/>
<property name="shiftKeyStatus" value="false"/>
<property name="ctrlKeyStatus" value="false"/>
<property name="actionCommand" value="Delete"/>
<property name="type" value="menuItem"/>
<property name="altKeyStatus" value="true"/>
<property name="mnemonic" value="E"/>
<property name="parent" value="Edit"/>
</menu>
<menu>
<property name="InstanceName" value="HelpMenu"/>
<property name="menuName" value="Help"/>
<property name="parent" value="top"/>
<property name="type" value="menu"/>
<property name="mnemonic" value="H"/>
<property name="uniqueID" value="MenuBar"/>
</menu>
<menu>
<property name="uniqueID" value="MenuBar"/>
<property name="shortCutKey" value="F1"/>
<property name="menuName" value="Help Contents"/>
<property name="UserCode_menuItem_Help_ContentsMenuItem" value="menuItem_Help_ContentsMenuItem"/>
<property name="InstanceName" value="Help_ContentsMenuItem"/>
<property name="shiftKeyStatus" value="false"/>
<property name="ctrlKeyStatus" value="false"/>
<property name="actionCommand" value="Help Contents"/>
<property name="type" value="menuItem"/>
<property name="altKeyStatus" value="false"/>
<property name="mnemonic" value="C"/>
<property name="parent" value="Help"/>
</menu>
<bean>
<property name="InstanceName" value="Top"/>
<property name="PopupMenu" value="none"/>
<property name="UserCode_Bean_components" value="Bean_components"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Layout Manager" value="Border Layout"/>
<property name="Layout Constraints" value="Center"/>
<property name="Panel" value="container"/>
<property name="Layout Manager Constraints" value="5,5"/>
</bean>
<bean>
<property name="PopupMenu" value="none"/>
<property name="Initializer" value="new javax.swing.JSplitPane();"/>
<property name="Layout Manager Constraints" value=""/>
<property name="Layout Constraints" value="Center"/>
<property name="DefaultSize" value="742,384"/>
<property name="Layout Manager" value="SplitPane Layout"/>
<property name="PaddingSize" value="540,28"/>
<property name="InstanceName" value="JSplitPane1"/>
<property name="Bean Permissions" value="255"/>
<property name="Panel" value="Top"/>
<property name="ClassName" value="javax.swing.JSplitPane"/>
<property name="UserCode_Bean_JSplitPane1" value="Bean_JSplitPane1"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JScrollPane();"/>
<property name="Layout Manager Constraints" value=""/>
<property name="Layout Constraints" value="left,164"/>
<property name="DefaultSize" value="162,346"/>
<property name="Layout Manager" value="Viewport Layout"/>
<property name="InstanceName" value="JScrollPane1"/>
<property name="Bean Permissions" value="255"/>
<property name="UserCode_Bean_JScrollPane1" value="Bean_JScrollPane1"/>
<property name="Panel" value="JSplitPane1"/>
<property name="ClassName" value="javax.swing.JScrollPane"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JTree();"/>
<property name="PopupMenu" value="delegate"/>
<property name="DefaultSize" value="136,320"/>
<property name="InstanceName" value="JTree1"/>
<property name="Bean Permissions" value="247"/>
<property name="UserCode_Bean_JTree1" value="Bean_JTree1"/>
<property name="Panel" value="JScrollPane1"/>
<property name="ClassName" value="javax.swing.JTree"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new com.adventnet.beans.panels.CardPanel(applet);"/>
<property name="PopupMenu" value="none"/>
<property name="Layout Constraints" value="right,164"/>
<property name="DefaultSize" value="20,20"/>
<property name="cardAndClassNames" value="label=com.adventnet.security.ui.Lable|tab1=com.adventnet.security.ui.TabbedPane1|tab2=com.adventnet.security.ui.TabbedPane2"/>
<property name="InstanceName" value="CardPanel1"/>
<property name="PropertyOrder" value=",cardAndClassNames,"/>
<property name="Bean Permissions" value="247"/>
<property name="Panel" value="JSplitPane1"/>
<property name="ClassName" value="com.adventnet.beans.panels.CardPanel"/>
<property name="UserCode_Bean_CardPanel1" value="Bean_CardPanel1"/>
<property name="Modifiers" value=""/>
</bean>
<property name="Import Code" value=""/>
<property name="Variable Definitions" value=""/>
<property name="Version" value="4.4"/>
<property name="Screen Height" value="491"/>
<property name="Start Commands" value=""/>
<property name="Type" value="Nms Frame"/>
<property name="FileVersion" value="3"/>
<connection>
<property name="ConnectionType" value="1"/>
<property name="ClassHeader" value="&#10; class JTree1_CardPanel1_conn implements javax.swing.event.TreeSelectionListener, java.io.Serializable &#10;  {&#10;&#10;     //&lt;TOP_PART&gt;&#10;"/>
<property name="NeedsCompilation" value="false"/>
<property name="Targets" value="CardPanel1-TARGET"/>
<property name="Sources" value="JTree1-treeSelection-false"/>
<property name="ConnectionName" value="JTree1_CardPanel1_conn"/>
<property name="ConnectionClass" value="javax.swing.event.TreeSelectionListener"/>
<property name="Connection_Version" value="1"/>
<property name="ListenerMethodName" value="valueChanged"/>
<property name="UserCode_Connection_JTree1_CardPanel1_conn" value="Connection_JTree1_CardPanel1_conn"/>
</connection>
<connection>
<property name="ConnectionType" value="1"/>
<property name="ClassHeader" value="&#10; class JTree1_JSplitPane1_conn1 extends java.awt.event.MouseAdapter implements java.io.Serializable &#10;  {&#10;&#10;     //&lt;TOP_PART&gt;&#10;"/>
<property name="NeedsCompilation" value="false"/>
<property name="Targets" value="JSplitPane1-TARGET"/>
<property name="Sources" value="JTree1-mouse-false"/>
<property name="ConnectionName" value="JTree1_JSplitPane1_conn1"/>
<property name="ConnectionClass" value="java.awt.event.MouseAdapter"/>
<property name="Connection_Version" value="1"/>
<property name="ListenerMethodName" value="mouseClicked"/>
<property name="UserCode_Connection_JTree1_JSplitPane1_conn1" value="Connection_JTree1_JSplitPane1_conn1"/>
</connection>
<property name="MenuBarPresent" value="true"/>
<property name="GenSource" value="true"/>
<property name="Custom Code" value=""/>
<property name="Dummy Interface" value=""/>
<property name="ScreenTitle" value=""/>
<property name="ToolBarPresent" value="true"/>
<property name="HorizontalSplitPanePos" value="235.0"/>
<property name="SubVersion" value="4.4"/>
<property name="LookAndFeel" value="None"/>
</screen>
