<?xml version="1.0" encoding="ISO-8859-1"?>
<screen conversionType="Hash">
<property name="Screen Width" value="328"/>
<property name="Initialize Commands" value=""/>
<property name="screenTitle" value="Change Password"/>
<bean>
<property name="UserCode_Bean_Top" value="Bean_Top"/>
<property name="InstanceName" value="Top"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Layout Manager" value="Border Layout"/>
<property name="Panel" value="container"/>
<property name="Layout Constraints" value="Center"/>
<property name="Layout Manager Constraints" value="5,5"/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Manager Constraints" value=""/>
<property name="Layout Constraints" value="North"/>
<property name="DefaultSize" value="215,86"/>
<property name="Layout Manager" value="GridBag Layout"/>
<property name="UserCode_Bean_JPanel1" value="Bean_JPanel1"/>
<property name="InstanceName" value="JPanel1"/>
<property name="Bean Permissions" value="252"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Panel" value="Top"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Constraints" value="1,1,1,1,2,18,0,0,0.0,0.0,5,10,5,5"/>
<property name="font" value="Dialog+0+12"/>
<property name="DefaultSize" value="152,25"/>
<property name="UserCode_Bean_JLabel2" value="Bean_JLabel2"/>
<property name="InstanceName" value="JLabel2"/>
<property name="PropertyOrder" value=",font,foreground,text,"/>
<property name="Bean Permissions" value="244"/>
<property name="foreground" value="-16764109"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="Panel" value="JPanel1"/>
<property name="text" value="Confirm New Password"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Constraints" value="1,0,1,1,2,18,0,0,0.0,0.0,5,10,5,5"/>
<property name="font" value="Dialog+0+12"/>
<property name="DefaultSize" value="133,25"/>
<property name="UserCode_Bean_JLabel1" value="Bean_JLabel1"/>
<property name="InstanceName" value="JLabel1"/>
<property name="PropertyOrder" value=",foreground,font,text,"/>
<property name="Bean Permissions" value="244"/>
<property name="foreground" value="-16764109"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="Panel" value="JPanel1"/>
<property name="text" value="Enter New Password"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Constraints" value="2,0,1,1,2,18,0,0,0.0,0.0,5,5,5,15"/>
<property name="DefaultSize" value="20,29"/>
<property name="UserCode_Bean_oldPassword" value="Bean_oldPassword"/>
<property name="InstanceName" value="oldPassword"/>
<property name="Bean Permissions" value="244"/>
<property name="Panel" value="JPanel1"/>
<property name="ClassName" value="javax.swing.JPasswordField"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Constraints" value="2,1,1,1,2,18,0,0,0.1,0.1,5,5,5,15"/>
<property name="DefaultSize" value="20,29"/>
<property name="InstanceName" value="newPassword"/>
<property name="Bean Permissions" value="244"/>
<property name="Panel" value="JPanel1"/>
<property name="ClassName" value="javax.swing.JPasswordField"/>
<property name="UserCode_Bean_newPassword" value="Bean_newPassword"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="PopupMenu" value="none"/>
<property name="Layout Manager Constraints" value="5,5,2"/>
<property name="Layout Constraints" value="South"/>
<property name="DefaultSize" value="359,55"/>
<property name="UserCode_Bean_JPanel2" value="Bean_JPanel2"/>
<property name="Layout Manager" value="Flow Layout"/>
<property name="PaddingSize" value="169,0"/>
<property name="InstanceName" value="JPanel2"/>
<property name="Bean Permissions" value="252"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Panel" value="Top"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="UserCode_Bean_JButton1" value="Bean_JButton1"/>
<property name="Initializer" value=""/>
<property name="Layout Constraints" value="0"/>
<property name="font" value="Dialog+0+13"/>
<property name="DefaultSize" value="80,37"/>
<property name="PaddingSize" value="21,0"/>
<property name="InstanceName" value="JButton1"/>
<property name="PropertyOrder" value=",font,text,"/>
<property name="Bean Permissions" value="244"/>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="Panel" value="JPanel2"/>
<property name="text" value="Ok"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="UserCode_Bean_JButton2" value="Bean_JButton2"/>
<property name="Initializer" value=""/>
<property name="Layout Constraints" value="1"/>
<property name="font" value="Dialog+0+13"/>
<property name="DefaultSize" value="87,37"/>
<property name="PaddingSize" value="4,0"/>
<property name="InstanceName" value="JButton2"/>
<property name="PropertyOrder" value=",text,font,"/>
<property name="Bean Permissions" value="244"/>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="Panel" value="JPanel2"/>
<property name="text" value="Cancel"/>
<property name="Modifiers" value=""/>
</bean>
<property name="Import Code" value=""/>
<property name="Variable Definitions" value=""/>
<property name="Version" value="4.4"/>
<property name="Screen Height" value="115"/>
<property name="Start Commands" value=""/>
<property name="Type" value="Dialog"/>
<connection>
<property name="ConnectionType" value="1"/>
<property name="ClassHeader" value="&#10; class JButton2_JButton2_conn1 implements java.awt.event.ActionListener, java.io.Serializable &#10;  {&#10;&#10;     //&lt;TOP_PART&gt;&#10;"/>
<property name="NeedsCompilation" value="false"/>
<property name="Targets" value="JButton2-TARGET"/>
<property name="UserCode_Connection_JButton2_JButton2_conn1" value="Connection_JButton2_JButton2_conn1"/>
<property name="Sources" value="JButton2-action-false"/>
<property name="ConnectionName" value="JButton2_JButton2_conn1"/>
<property name="ConnectionClass" value="java.awt.event.ActionListener"/>
<property name="Connection_Version" value="1"/>
<property name="ListenerMethodName" value="actionPerformed"/>
</connection>
<connection>
<property name="ConnectionType" value="1"/>
<property name="ClassHeader" value="&#10; class JButton1_JButton1_conn1 implements java.awt.event.ActionListener, java.io.Serializable &#10;  {&#10;&#10;     //&lt;TOP_PART&gt;&#10;"/>
<property name="NeedsCompilation" value="false"/>
<property name="Targets" value="JButton1-TARGET"/>
<property name="Sources" value="JButton1-action-false"/>
<property name="ConnectionName" value="JButton1_JButton1_conn1"/>
<property name="ConnectionClass" value="java.awt.event.ActionListener"/>
<property name="Connection_Version" value="1"/>
<property name="ListenerMethodName" value="actionPerformed"/>
<property name="UserCode_Connection_JButton1_JButton1_conn1" value="Connection_JButton1_JButton1_conn1"/>
</connection>
<property name="MenuBarPresent" value="true"/>
<property name="Custom Code" value=""/>
<property name="GenSource" value="true"/>
<property name="Dummy Interface" value=""/>
<property name="ToolBarPresent" value="true"/>
<property name="HorizontalSplitPanePos" value="170.0"/>
<property name="SubVersion" value="4.4"/>
<property name="LookAndFeel" value="None"/>
</screen>
