<?xml version="1.0" encoding="UTF-8"?>
<screen conversionType="Hash">
<property name="Screen Width" value="630"/>
<property name="Initialize Commands" value=""/>
<property name="screenTitle" value="new_screen1"/>
<bean>
<property name="InstanceName" value="Top"/>
<property name="PopupMenu" value="none"/>
<property name="UserCode_Bean_components" value="Bean_components"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Layout Manager" value="GridBag Layout"/>
<property name="Layout Constraints" value="Center"/>
<property name="Panel" value="container"/>
<property name="Layout Manager Constraints" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Manager Constraints" value=""/>
<property name="Layout Constraints" value="1,0,1,1,1,10,0,0,0.8,0.1,0,0,0,0"/>
<property name="DefaultSize" value="575,439"/>
<property name="border" value="EtchedBorder,1,null,null"/>
<property name="Layout Manager" value="GridBag Layout"/>
<property name="UserCode_Bean_JPanel1" value="Bean_JPanel1"/>
<property name="InstanceName" value="JPanel1"/>
<property name="PropertyOrder" value=",border,"/>
<property name="Bean Permissions" value="252"/>
<property name="Panel" value="Top"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="background" value="-3355444"/>
<property name="Initializer" value=""/>
<property name="Layout Manager Constraints" value="5,5"/>
<property name="Layout Constraints" value="0,2,1,2,1,11,0,0,0.05,0.1,0,0,0,0"/>
<property name="DefaultSize" value="553,138"/>
<property name="UserCode_Bean_JPanel2" value="Bean_JPanel2"/>
<property name="Layout Manager" value="Border Layout"/>
<property name="InstanceName" value="JPanel2"/>
<property name="PropertyOrder" value=",background,"/>
<property name="Bean Permissions" value="252"/>
<property name="Panel" value="JPanel1"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="background" value="-3355444"/>
<property name="PopupMenu" value="none"/>
<property name="Initializer" value=""/>
<property name="Layout Manager Constraints" value=""/>
<property name="Layout Constraints" value="Center"/>
<property name="DefaultSize" value="535,120"/>
<property name="Layout Manager" value="Viewport Layout"/>
<property name="PaddingSize" value="489,74"/>
<property name="InstanceName" value="JScrollPane1"/>
<property name="PropertyOrder" value=",background,"/>
<property name="Bean Permissions" value="252"/>
<property name="UserCode_Bean_JScrollPane1" value="Bean_JScrollPane1"/>
<property name="Panel" value="JPanel2"/>
<property name="ClassName" value="javax.swing.JScrollPane"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="rowMargin" value="0"/>
<property name="rowHeight" value="22"/>
<property name="Modifiers" value=""/>
<property name="model" value="DefaultTableModel1$BEAN"/>
<property name="showHorizontalLines" value="false"/>
<property name="ClassName" value="javax.swing.JTable"/>
<property name="selectionForeground" value="-16777216"/>
<property name="PropertyOrder" value=",rowMargin,rowHeight,autoResizeMode,intercellSpacing,doubleBuffered,selectionForeground,selectionBackground,gridColor,showVerticalLines,model,showHorizontalLines,"/>
<property name="doubleBuffered" value="true"/>
<property name="DefaultSize" value="20,20"/>
<property name="UserCode_Bean_JTable1" value="Bean_JTable1"/>
<property name="autoResizeMode" value="4"/>
<property name="PopupMenu" value="none"/>
<property name="selectionBackground" value="-1"/>
<property name="Initializer" value="new javax.swing.JTable();"/>
<property name="InstanceName" value="JTable1"/>
<property name="showVerticalLines" value="false"/>
<property name="Panel" value="JScrollPane1"/>
<property name="intercellSpacing" value="1,0"/>
<property name="gridColor" value="-16764109"/>
<property name="Bean Permissions" value="244"/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Manager Constraints" value="5,5,2,2"/>
<property name="Layout Constraints" value="0,4,1,1,1,15,0,0,0.0,0.0,0,0,0,0"/>
<property name="UserCode_Bean_JPanel5" value="Bean_JPanel5"/>
<property name="DefaultSize" value="530,195"/>
<property name="border" value="EmptyBorder,5,5,5,5"/>
<property name="Layout Manager" value="Grid Layout"/>
<property name="InstanceName" value="JPanel5"/>
<property name="PropertyOrder" value=",border,"/>
<property name="Bean Permissions" value="252"/>
<property name="Panel" value="JPanel1"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Manager Constraints" value=""/>
<property name="Layout Constraints" value="0"/>
<property name="DefaultSize" value="414,81"/>
<property name="UserCode_Bean_JPanel4" value="Bean_JPanel4"/>
<property name="border" value="TitledBorder,[null],Enter the new group name,4,2,Dialog+1+12,-10066279"/>
<property name="Layout Manager" value="GridBag Layout"/>
<property name="InstanceName" value="JPanel4"/>
<property name="PropertyOrder" value=",border,"/>
<property name="Bean Permissions" value="252"/>
<property name="Panel" value="JPanel5"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="PopupMenu" value="none"/>
<property name="UserCode_Bean_grpText" value="Bean_grpText"/>
<property name="Layout Constraints" value="0,0,1,1,2,10,0,0,0.8,0.2,5,5,5,5"/>
<property name="DefaultSize" value="20,29"/>
<property name="InstanceName" value="grpText"/>
<property name="Bean Permissions" value="244"/>
<property name="Panel" value="JPanel4"/>
<property name="ClassName" value="javax.swing.JTextField"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="PopupMenu" value="none"/>
<property name="font" value="Dialog+0+13"/>
<property name="Layout Constraints" value="1,0,1,1,2,10,0,0,0.1,0.2,5,5,5,5"/>
<property name="DefaultSize" value="117,37"/>
<property name="InstanceName" value="addGrpBtn"/>
<property name="PropertyOrder" value=",text,enabled,font,"/>
<property name="UserCode_Bean_addGrpBtn" value="Bean_addGrpBtn"/>
<property name="Bean Permissions" value="244"/>
<property name="enabled" value="true"/>
<property name="Panel" value="JPanel4"/>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="text" value="Add Group"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Manager Constraints" value=""/>
<property name="Layout Constraints" value="1"/>
<property name="DefaultSize" value="451,81"/>
<property name="border" value="TitledBorder,[null],Direct assignment of Permissions,4,2,Dialog+1+12,-10066279"/>
<property name="UserCode_Bean_JPanel41" value="Bean_JPanel41"/>
<property name="Layout Manager" value="GridBag Layout"/>
<property name="InstanceName" value="JPanel41"/>
<property name="PropertyOrder" value=",border,"/>
<property name="Bean Permissions" value="252"/>
<property name="Panel" value="JPanel5"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="PopupMenu" value="none"/>
<property name="font" value="Dialog+0+13"/>
<property name="Layout Constraints" value="1,0,1,1,2,10,0,0,0.1,0.2,5,5,5,5"/>
<property name="DefaultSize" value="123,37"/>
<property name="InstanceName" value="addGrpBtn1"/>
<property name="PropertyOrder" value=",text,enabled,font,"/>
<property name="Bean Permissions" value="244"/>
<property name="enabled" value="true"/>
<property name="UserCode_Bean_addGrpBtn1" value="Bean_addGrpBtn1"/>
<property name="Panel" value="JPanel41"/>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="text" value="Permissions"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JLabel();"/>
<property name="font" value="Dialog+0+13"/>
<property name="Layout Constraints" value="0,0,1,1,2,17,0,0,0.8,0.2,5,5,5,5"/>
<property name="DefaultSize" value="290,26"/>
<property name="UserCode_Bean_JLabel2" value="Bean_JLabel2"/>
<property name="InstanceName" value="JLabel2"/>
<property name="PropertyOrder" value=",horizontalAlignment,horizontalTextPosition,text,font,foreground,"/>
<property name="Bean Permissions" value="247"/>
<property name="foreground" value="-16764109"/>
<property name="Panel" value="JPanel41"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="horizontalTextPosition" value="4"/>
<property name="text" value="Click here to assign permissions directly."/>
<property name="horizontalAlignment" value="2"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JCheckBox();"/>
<property name="font" value="SansSerif+0+12"/>
<property name="Layout Constraints" value="0,1,1,1,2,11,0,0,0.0,0.0,5,5,5,5"/>
<property name="DefaultSize" value="199,33"/>
<property name="selected" value="true"/>
<property name="InstanceName" value="JCheckBox1"/>
<property name="PropertyOrder" value=",font,horizontalTextPosition,text,foreground,selected,"/>
<property name="Bean Permissions" value="247"/>
<property name="UserCode_Bean_JCheckBox1" value="Bean_JCheckBox1"/>
<property name="foreground" value="-16764109"/>
<property name="Panel" value="JPanel1"/>
<property name="ClassName" value="javax.swing.JCheckBox"/>
<property name="horizontalTextPosition" value="4"/>
<property name="text" value="            Direct assignment."/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JCheckBox();"/>
<property name="font" value="SansSerif+0+12"/>
<property name="Layout Constraints" value="0,0,1,1,2,11,0,0,0.0,0.0,5,5,5,5"/>
<property name="DefaultSize" value="245,33"/>
<property name="selected" value="true"/>
<property name="InstanceName" value="JCheckBox11"/>
<property name="PropertyOrder" value=",font,horizontalTextPosition,text,label,foreground,selected,"/>
<property name="Bean Permissions" value="247"/>
<property name="foreground" value="-16764109"/>
<property name="label" value="            Group based permissions."/>
<property name="Panel" value="JPanel1"/>
<property name="ClassName" value="javax.swing.JCheckBox"/>
<property name="horizontalTextPosition" value="4"/>
<property name="text" value="            Assign groups to the user."/>
<property name="UserCode_Bean_JCheckBox11" value="Bean_JCheckBox11"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JLabel();"/>
<property name="PopupMenu" value="none"/>
<property name="Layout Constraints" value="0,0,1,1,1,10,0,0,0.2,0.1,0,0,0,0"/>
<property name="DefaultSize" value="20,20"/>
<property name="UserCode_Bean_JLabel1" value="Bean_JLabel1"/>
<property name="InstanceName" value="JLabel1"/>
<property name="Bean Permissions" value="244"/>
<property name="Panel" value="Top"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.table.DefaultTableModel();"/>
<property name="UserCode_Bean_DefaultTableModel1" value="Bean_DefaultTableModel1"/>
<property name="Layout Constraints" value="BOTTOM"/>
<property name="DefaultSize" value="166,25"/>
<property name="InstanceName" value="DefaultTableModel1"/>
<property name="Bean Permissions" value="244"/>
<property name="Panel" value="Bottom"/>
<property name="ClassName" value="javax.swing.table.DefaultTableModel"/>
<property name="Modifiers" value=""/>
</bean>
<property name="Import Code" value=""/>
<property name="Variable Definitions" value=""/>
<property name="Version" value="4.4"/>
<property name="Screen Height" value="400"/>
<property name="Start Commands" value=""/>
<property name="Type" value="Panel"/>
<property name="FileVersion" value="3"/>
<connection>
<property name="ConnectionType" value="1"/>
<property name="ClassHeader" value="&#10; class JCheckBox11_addGrpBtn_conn1 implements java.awt.event.ActionListener, java.io.Serializable &#10;  {&#10;&#10;     //&lt;TOP_PART&gt;&#10;"/>
<property name="NeedsCompilation" value="false"/>
<property name="Targets" value="addGrpBtn-TARGET,JCheckBox11-USED_BEAN,JTable1-USED_BEAN"/>
<property name="Sources" value="JCheckBox11-action-false"/>
<property name="UserCode_Connection_JCheckBox11_addGrpBtn_conn1" value="Connection_JCheckBox11_addGrpBtn_conn1"/>
<property name="ConnectionName" value="JCheckBox11_addGrpBtn_conn1"/>
<property name="ConnectionClass" value="java.awt.event.ActionListener"/>
<property name="Connection_Version" value="1"/>
<property name="ListenerMethodName" value="actionPerformed"/>
</connection>
<connection>
<property name="UserCode_Connection_JPanel4_grpText_conn1" value="Connection_JPanel4_grpText_conn1"/>
<property name="ConnectionType" value="1"/>
<property name="ClassHeader" value="&#10; class JPanel4_grpText_conn1 extends java.awt.event.MouseAdapter implements java.io.Serializable &#10;  {&#10;&#10;     //&lt;TOP_PART&gt;&#10;"/>
<property name="NeedsCompilation" value="false"/>
<property name="Targets" value="grpText-TARGET"/>
<property name="Sources" value="JPanel4-mouse-false"/>
<property name="ConnectionName" value="JPanel4_grpText_conn1"/>
<property name="ConnectionClass" value="java.awt.event.MouseAdapter"/>
<property name="Connection_Version" value="1"/>
<property name="ListenerMethodName" value="mousePressed"/>
</connection>
<connection>
<property name="ConnectionType" value="1"/>
<property name="ClassHeader" value="&#10; class grpText_addGrpBtn_conn1 extends java.awt.event.KeyAdapter implements java.io.Serializable &#10;  {&#10;&#10;     //&lt;TOP_PART&gt;&#10;"/>
<property name="NeedsCompilation" value="false"/>
<property name="Targets" value="addGrpBtn-TARGET,grpText-USED_BEAN"/>
<property name="Sources" value="grpText-key-false"/>
<property name="ConnectionName" value="grpText_addGrpBtn_conn1"/>
<property name="ConnectionClass" value="java.awt.event.KeyAdapter"/>
<property name="Connection_Version" value="1"/>
<property name="ListenerMethodName" value="keyTyped"/>
<property name="UserCode_Connection_grpText_addGrpBtn_conn1" value="Connection_grpText_addGrpBtn_conn1"/>
</connection>
<connection>
<property name="ConnectionType" value="1"/>
<property name="ClassHeader" value="&#10; class JTable1_JTable1_conn3 extends java.awt.event.KeyAdapter implements java.io.Serializable &#10;  {&#10;&#10;     //&lt;TOP_PART&gt;&#10;"/>
<property name="NeedsCompilation" value="false"/>
<property name="Targets" value="JTable1-TARGET"/>
<property name="Sources" value="JTable1-key-false"/>
<property name="ConnectionName" value="JTable1_JTable1_conn3"/>
<property name="ConnectionClass" value="java.awt.event.KeyAdapter"/>
<property name="UserCode_Connection_JTable1_JTable1_conn3" value="Connection_JTable1_JTable1_conn3"/>
<property name="Connection_Version" value="1"/>
<property name="ListenerMethodName" value="keyTyped"/>
</connection>
<connection>
<property name="ConnectionType" value="1"/>
<property name="ClassHeader" value="&#10; class JTable1_JTable1_conn2 extends java.awt.event.MouseMotionAdapter implements java.io.Serializable &#10;  {&#10;&#10;     //&lt;TOP_PART&gt;&#10;"/>
<property name="NeedsCompilation" value="false"/>
<property name="Targets" value="JTable1-TARGET"/>
<property name="Sources" value="JTable1-mouseMotion-false"/>
<property name="ConnectionName" value="JTable1_JTable1_conn2"/>
<property name="ConnectionClass" value="java.awt.event.MouseMotionAdapter"/>
<property name="Connection_Version" value="1"/>
<property name="UserCode_Connection_JTable1_JTable1_conn2" value="Connection_JTable1_JTable1_conn2"/>
<property name="ListenerMethodName" value="mouseMoved"/>
</connection>
<connection>
<property name="ConnectionType" value="1"/>
<property name="ClassHeader" value="&#10; class addGrpBtn1_addGrpBtn1_conn1 implements java.awt.event.ActionListener, java.io.Serializable &#10;  {&#10;&#10;     //&lt;TOP_PART&gt;&#10;"/>
<property name="NeedsCompilation" value="false"/>
<property name="Targets" value="addGrpBtn1-TARGET"/>
<property name="Sources" value="addGrpBtn1-action-false"/>
<property name="ConnectionName" value="addGrpBtn1_addGrpBtn1_conn1"/>
<property name="ConnectionClass" value="java.awt.event.ActionListener"/>
<property name="UserCode_Connection_addGrpBtn1_addGrpBtn1_conn1" value="Connection_addGrpBtn1_addGrpBtn1_conn1"/>
<property name="Connection_Version" value="1"/>
<property name="ListenerMethodName" value="actionPerformed"/>
</connection>
<connection>
<property name="ConnectionType" value="1"/>
<property name="ClassHeader" value="&#10; class JTable1_JTable1_conn1 extends java.awt.event.MouseAdapter implements java.io.Serializable &#10;  {&#10;&#10;     //&lt;TOP_PART&gt;&#10;"/>
<property name="NeedsCompilation" value="false"/>
<property name="Targets" value="JTable1-TARGET"/>
<property name="Sources" value="JTable1-mouse-false"/>
<property name="ConnectionName" value="JTable1_JTable1_conn1"/>
<property name="ConnectionClass" value="java.awt.event.MouseAdapter"/>
<property name="Connection_Version" value="1"/>
<property name="ListenerMethodName" value="mousePressed"/>
<property name="UserCode_Connection_JTable1_JTable1_conn1" value="Connection_JTable1_JTable1_conn1"/>
</connection>
<connection>
<property name="ConnectionType" value="1"/>
<property name="ClassHeader" value="&#10; class addGrpBtn_grpText_conn1 implements java.awt.event.ActionListener, java.io.Serializable &#10;  {&#10;&#10;     //&lt;TOP_PART&gt;&#10;"/>
<property name="NeedsCompilation" value="false"/>
<property name="Targets" value="grpText-TARGET"/>
<property name="UserCode_Connection_addGrpBtn_grpText_conn1" value="Connection_addGrpBtn_grpText_conn1"/>
<property name="Sources" value="addGrpBtn-action-false"/>
<property name="ConnectionName" value="addGrpBtn_grpText_conn1"/>
<property name="ConnectionClass" value="java.awt.event.ActionListener"/>
<property name="Connection_Version" value="1"/>
<property name="ListenerMethodName" value="actionPerformed"/>
</connection>
<connection>
<property name="ConnectionType" value="1"/>
<property name="ClassHeader" value="&#10; class JCheckBox1_addGrpBtn1_conn1 implements java.awt.event.ActionListener, java.io.Serializable &#10;  {&#10;&#10;     //&lt;TOP_PART&gt;&#10;"/>
<property name="NeedsCompilation" value="false"/>
<property name="Targets" value="addGrpBtn1-TARGET"/>
<property name="Sources" value="JCheckBox1-action-false"/>
<property name="ConnectionName" value="JCheckBox1_addGrpBtn1_conn1"/>
<property name="ConnectionClass" value="java.awt.event.ActionListener"/>
<property name="Connection_Version" value="1"/>
<property name="ListenerMethodName" value="actionPerformed"/>
<property name="UserCode_Connection_JCheckBox1_addGrpBtn1_conn1" value="Connection_JCheckBox1_addGrpBtn1_conn1"/>
</connection>
<property name="MenuBarPresent" value="true"/>
<property name="GenSource" value="true"/>
<property name="Custom Code" value=""/>
<property name="Dummy Interface" value=""/>
<property name="ScreenTitle" value=""/>
<property name="ToolBarPresent" value="false"/>
<property name="HorizontalSplitPanePos" value="170.0"/>
<property name="SubVersion" value="4.4"/>
<property name="LookAndFeel" value="None"/>
</screen>
