<?xml version="1.0" encoding="ISO-8859-1"?>
<screen conversionType="Hash">
<property name="Screen Width" value="438"/>
<property name="Initialize Commands" value=""/>
<property name="screenTitle" value="Views For a Group"/>
<bean>
<property name="PopupMenu" value="none"/>
<property name="Layout Manager Constraints" value="20,15 "/>
<property name="Layout Constraints" value="Center"/>
<property name="Layout Manager" value="Border Layout"/>
<property name="InstanceName" value="Top"/>
<property name="Panel" value="container"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="UserCode_Bean_Top" value="Bean_Top"/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Manager Constraints" value="5,5"/>
<property name="Layout Constraints" value="Center"/>
<property name="DefaultSize" value="423,72"/>
<property name="UserCode_Bean_JPanel3" value="Bean_JPanel3"/>
<property name="border" value="SoftBevelBorder,0,null,null,null,null"/>
<property name="Layout Manager" value="Border Layout"/>
<property name="PaddingSize" value="361,10"/>
<property name="InstanceName" value="JPanel3"/>
<property name="PropertyOrder" value=",border,"/>
<property name="Bean Permissions" value="252"/>
<property name="Panel" value="Top"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Manager Constraints" value=""/>
<property name="Layout Constraints" value="Center"/>
<property name="DefaultSize" value="48,48"/>
<property name="Layout Manager" value="Viewport Layout"/>
<property name="InstanceName" value="JScrollPane1"/>
<property name="Bean Permissions" value="255"/>
<property name="UserCode_Bean_JScrollPane1" value="Bean_JScrollPane1"/>
<property name="Panel" value="JPanel3"/>
<property name="ClassName" value="javax.swing.JScrollPane"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="DefaultSize" value="20,20"/>
<property name="model" value="ViewListModel$BEAN"/>
<property name="InstanceName" value="JList1"/>
<property name="PropertyOrder" value=",model,cellRenderer,"/>
<property name="UserCode_Bean_JList1" value="Bean_JList1"/>
<property name="Bean Permissions" value="244"/>
<property name="cellRenderer" value="OperationsListCellRenderer1$BEAN"/>
<property name="Panel" value="JScrollPane1"/>
<property name="ClassName" value="javax.swing.JList"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Manager Constraints" value="5,5"/>
<property name="Layout Constraints" value="North"/>
<property name="DefaultSize" value="385,237"/>
<property name="UserCode_Bean_JPanel2" value="Bean_JPanel2"/>
<property name="Layout Manager" value="Border Layout"/>
<property name="PaddingSize" value="10,10"/>
<property name="InstanceName" value="JPanel2"/>
<property name="Bean Permissions" value="252"/>
<property name="Panel" value="Top"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Manager Constraints" value="5,5"/>
<property name="Layout Constraints" value="Center"/>
<property name="DefaultSize" value="366,113"/>
<property name="UserCode_Bean_JPanel4" value="Bean_JPanel4"/>
<property name="Layout Manager" value="Card Layout"/>
<property name="PaddingSize" value="12,43"/>
<property name="InstanceName" value="JPanel4"/>
<property name="Bean Permissions" value="252"/>
<property name="Panel" value="JPanel2"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Manager Constraints" value=""/>
<property name="Layout Constraints" value="JPanel10:0"/>
<property name="DefaultSize" value="335,47"/>
<property name="Layout Manager" value="GridBag Layout"/>
<property name="UserCode_Bean_JPanel10" value="Bean_JPanel10"/>
<property name="InstanceName" value="JPanel10"/>
<property name="Bean Permissions" value="252"/>
<property name="Panel" value="JPanel4"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="font" value="Dialog+0+12"/>
<property name="Layout Constraints" value="0,0,1,1,2,18,0,0,0.1,0.1,5,5,5,5"/>
<property name="DefaultSize" value="107,25"/>
<property name="UserCode_Bean_JLabel1" value="Bean_JLabel1"/>
<property name="InstanceName" value="JLabel1"/>
<property name="PropertyOrder" value=",text,font,foreground,"/>
<property name="Bean Permissions" value="244"/>
<property name="foreground" value="-16764109"/>
<property name="Panel" value="JPanel10"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="text" value="Enter group name"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Constraints" value="1,0,1,1,2,18,0,0,0.2,0.1,5,5,5,5"/>
<property name="DefaultSize" value="20,29"/>
<property name="UserCode_Bean_groupText" value="Bean_groupText"/>
<property name="InstanceName" value="groupText"/>
<property name="Bean Permissions" value="244"/>
<property name="Panel" value="JPanel10"/>
<property name="ClassName" value="javax.swing.JTextField"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="UserCode_Bean_JPanel9" value="Bean_JPanel9"/>
<property name="Initializer" value=""/>
<property name="Layout Manager Constraints" value=""/>
<property name="Layout Constraints" value="JPanel9:1"/>
<property name="DefaultSize" value="336,52"/>
<property name="Layout Manager" value="GridBag Layout"/>
<property name="InstanceName" value="JPanel9"/>
<property name="Bean Permissions" value="255"/>
<property name="Panel" value="JPanel4"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="font" value="Dialog+0+12"/>
<property name="Layout Constraints" value="0,0,1,1,2,18,0,0,0.1,0.1,5,5,5,5"/>
<property name="DefaultSize" value="76,25"/>
<property name="iconTextGap" value="8"/>
<property name="UserCode_Bean_JLabel2" value="Bean_JLabel2"/>
<property name="InstanceName" value="JLabel2"/>
<property name="PropertyOrder" value=",font,foreground,iconTextGap,text,"/>
<property name="Bean Permissions" value="244"/>
<property name="foreground" value="-16764109"/>
<property name="Panel" value="JPanel9"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="text" value="Edit a Group"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="background" value="-1"/>
<property name="PopupMenu" value="none"/>
<property name="editable" value="false"/>
<property name="Layout Constraints" value="1,0,1,1,2,18,0,0,0.1,0.1,5,5,5,5"/>
<property name="DefaultSize" value="129,29"/>
<property name="InstanceName" value="groupCombo"/>
<property name="UserCode_Bean_groupCombo" value="Bean_groupCombo"/>
<property name="PropertyOrder" value=",background,editable,"/>
<property name="Bean Permissions" value="244"/>
<property name="Panel" value="JPanel9"/>
<property name="ClassName" value="javax.swing.JComboBox"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Manager Constraints" value="5,5,2,1"/>
<property name="UserCode_Bean_JPanel6" value="Bean_JPanel6"/>
<property name="Layout Constraints" value="North"/>
<property name="DefaultSize" value="367,101"/>
<property name="Layout Manager" value="Grid Layout"/>
<property name="PaddingSize" value="22,38"/>
<property name="InstanceName" value="JPanel6"/>
<property name="Bean Permissions" value="252"/>
<property name="Panel" value="JPanel2"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="font" value="Dialog+0+12"/>
<property name="Layout Constraints" value="0"/>
<property name="UserCode_Bean_JLabel3" value="Bean_JLabel3"/>
<property name="DefaultSize" value="337,25"/>
<property name="InstanceName" value="JLabel3"/>
<property name="PropertyOrder" value=",font,foreground,text,"/>
<property name="Bean Permissions" value="244"/>
<property name="foreground" value="-16764109"/>
<property name="Panel" value="JPanel6"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="text" value="Use the following list to add a new group, assign views for it,"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="UserCode_Bean_JLabel4" value="Bean_JLabel4"/>
<property name="font" value="Dialog+0+12"/>
<property name="Layout Constraints" value="1"/>
<property name="DefaultSize" value="255,25"/>
<property name="InstanceName" value="JLabel4"/>
<property name="PropertyOrder" value=",text,font,foreground,"/>
<property name="Bean Permissions" value="244"/>
<property name="foreground" value="-16764109"/>
<property name="Panel" value="JPanel6"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="text" value="or assign different views for an existing group"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Manager Constraints" value="5,5,1,1"/>
<property name="Layout Constraints" value="South"/>
<property name="DefaultSize" value="379,81"/>
<property name="Layout Manager" value="Grid Layout"/>
<property name="UserCode_Bean_JPanel1" value="Bean_JPanel1"/>
<property name="PaddingSize" value="198,18"/>
<property name="InstanceName" value="JPanel1"/>
<property name="Bean Permissions" value="252"/>
<property name="Panel" value="Top"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Manager Constraints" value="5,5,2"/>
<property name="Layout Constraints" value="0"/>
<property name="UserCode_Bean_JPanel5" value="Bean_JPanel5"/>
<property name="DefaultSize" value="173,55"/>
<property name="Layout Manager" value="Flow Layout"/>
<property name="InstanceName" value="JPanel5"/>
<property name="Bean Permissions" value="255"/>
<property name="Panel" value="JPanel1"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="UserCode_Bean_JButton1" value="Bean_JButton1"/>
<property name="Initializer" value=""/>
<property name="font" value="Dialog+0+13"/>
<property name="Layout Constraints" value="0"/>
<property name="DefaultSize" value="75,37"/>
<property name="InstanceName" value="JButton1"/>
<property name="PropertyOrder" value=",text,font,"/>
<property name="Bean Permissions" value="244"/>
<property name="Panel" value="JPanel5"/>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="text" value="Apply"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="UserCode_Bean_JButton2" value="Bean_JButton2"/>
<property name="Initializer" value=""/>
<property name="PopupMenu" value="none"/>
<property name="font" value="Dialog+0+13"/>
<property name="Layout Constraints" value="1"/>
<property name="DefaultSize" value="75,37"/>
<property name="InstanceName" value="JButton2"/>
<property name="PropertyOrder" value=",text,font,"/>
<property name="Bean Permissions" value="244"/>
<property name="Panel" value="JPanel5"/>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="text" value="Close"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="UserCode_Bean_ViewListModel" value="Bean_ViewListModel"/>
<property name="Layout Constraints" value="BOTTOM"/>
<property name="DefaultSize" value="91,25"/>
<property name="InstanceName" value="ViewListModel"/>
<property name="Bean Permissions" value="244"/>
<property name="Panel" value="Bottom"/>
<property name="ClassName" value="javax.swing.DefaultListModel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="UserCode_Bean_OperationsListCellRenderer1" value="Bean_OperationsListCellRenderer1"/>
<property name="Initializer" value=""/>
<property name="Layout Constraints" value="BOTTOM"/>
<property name="DefaultSize" value="173,25"/>
<property name="InstanceName" value="OperationsListCellRenderer1"/>
<property name="PropertyOrder" value=",text,"/>
<property name="Bean Permissions" value="244"/>
<property name="Panel" value="Bottom"/>
<property name="ClassName" value="com.adventnet.security.ui.OperationsListCellRenderer"/>
<property name="text" value="OperationsListCellRenderer1"/>
<property name="Modifiers" value=""/>
</bean>
<property name="Import Code" value=""/>
<property name="Variable Definitions" value=""/>
<property name="Version" value="4.4"/>
<property name="Screen Height" value="439"/>
<property name="Start Commands" value=""/>
<property name="Type" value="Dialog"/>
<connection>
<property name="ConnectionType" value="1"/>
<property name="ClassHeader" value="&#10; class JButton2_JButton2_conn1 implements java.awt.event.ActionListener, java.io.Serializable &#10;  {&#10;&#10;     //&lt;TOP_PART&gt;&#10;"/>
<property name="NeedsCompilation" value="false"/>
<property name="Targets" value="JButton2-TARGET"/>
<property name="UserCode_Connection_JButton2_JButton2_conn1" value="Connection_JButton2_JButton2_conn1"/>
<property name="Sources" value="JButton2-action-false"/>
<property name="ConnectionName" value="JButton2_JButton2_conn1"/>
<property name="ConnectionClass" value="java.awt.event.ActionListener"/>
<property name="Connection_Version" value="1"/>
<property name="ListenerMethodName" value="actionPerformed"/>
</connection>
<connection>
<property name="ConnectionType" value="1"/>
<property name="ClassHeader" value="&#10; class JList1_JPanel3_conn1 extends java.awt.event.MouseAdapter implements java.io.Serializable &#10;  {&#10;&#10;     //&lt;TOP_PART&gt;&#10;"/>
<property name="NeedsCompilation" value="false"/>
<property name="UserCode_Connection_JList1_JPanel3_conn1" value="Connection_JList1_JPanel3_conn1"/>
<property name="Targets" value="JPanel3-TARGET"/>
<property name="Sources" value="JList1-mouse-false"/>
<property name="ConnectionName" value="JList1_JPanel3_conn1"/>
<property name="ConnectionClass" value="java.awt.event.MouseAdapter"/>
<property name="Connection_Version" value="1"/>
<property name="ListenerMethodName" value="mousePressed"/>
</connection>
<connection>
<property name="ConnectionType" value="1"/>
<property name="ClassHeader" value="&#10; class groupCombo_groupCombo_conn1 implements java.awt.event.ItemListener, java.io.Serializable &#10;  {&#10;&#10;     //&lt;TOP_PART&gt;&#10;"/>
<property name="NeedsCompilation" value="false"/>
<property name="Targets" value="groupCombo-TARGET"/>
<property name="Sources" value="groupCombo-item-false"/>
<property name="ConnectionName" value="groupCombo_groupCombo_conn1"/>
<property name="ConnectionClass" value="java.awt.event.ItemListener"/>
<property name="Connection_Version" value="1"/>
<property name="UserCode_Connection_groupCombo_groupCombo_conn1" value="Connection_groupCombo_groupCombo_conn1"/>
<property name="ListenerMethodName" value="itemStateChanged"/>
</connection>
<connection>
<property name="ConnectionType" value="1"/>
<property name="ClassHeader" value="&#10; class JButton1_JButton1_conn1 implements java.awt.event.ActionListener, java.io.Serializable &#10;  {&#10;&#10;     //&lt;TOP_PART&gt;&#10;"/>
<property name="NeedsCompilation" value="false"/>
<property name="Targets" value="JButton1-TARGET"/>
<property name="Sources" value="JButton1-action-false"/>
<property name="ConnectionName" value="JButton1_JButton1_conn1"/>
<property name="ConnectionClass" value="java.awt.event.ActionListener"/>
<property name="Connection_Version" value="1"/>
<property name="ListenerMethodName" value="actionPerformed"/>
<property name="UserCode_Connection_JButton1_JButton1_conn1" value="Connection_JButton1_JButton1_conn1"/>
</connection>
<property name="MenuBarPresent" value="true"/>
<property name="Custom Code" value=""/>
<property name="GenSource" value="false"/>
<property name="Dummy Interface" value=""/>
<property name="ToolBarPresent" value="true"/>
<property name="HorizontalSplitPanePos" value="170.0"/>
<property name="SubVersion" value="4.4"/>
<property name="LookAndFeel" value="None"/>
</screen>
