<?xml version="1.0" encoding="UTF-8"?>
<screen conversionType="Hash">
<property name="Screen Width" value="529"/>
<property name="Initialize Commands" value=""/>
<property name="screenTitle" value="Operations"/>
<bean>
<property name="PopupMenu" value="none"/>
<property name="Layout Manager Constraints" value="5,5"/>
<property name="Layout Constraints" value="Center"/>
<property name="border" value="EtchedBorder,1,null,null"/>
<property name="Layout Manager" value="Border Layout"/>
<property name="InstanceName" value="Top"/>
<property name="PropertyOrder" value=",border,"/>
<property name="UserCode_Bean_components" value="Bean_components"/>
<property name="Panel" value="container"/>
<property name="ClassName" value="javax.swing.JPanel"/>
</bean>
<bean>
<property name="PopupMenu" value="none"/>
<property name="Initializer" value=""/>
<property name="Layout Manager Constraints" value="5,5,2"/>
<property name="Layout Constraints" value="South"/>
<property name="DefaultSize" value="587,57"/>
<property name="UserCode_Bean_JPanel2" value="Bean_JPanel2"/>
<property name="Layout Manager" value="Flow Layout"/>
<property name="PaddingSize" value="306,0"/>
<property name="InstanceName" value="JPanel2"/>
<property name="Bean Permissions" value="252"/>
<property name="Panel" value="Top"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="UserCode_Bean_JButton1" value="Bean_JButton1"/>
<property name="Initializer" value=""/>
<property name="font" value="Dialog+0+13"/>
<property name="Layout Constraints" value="0"/>
<property name="DefaultSize" value="83,38"/>
<property name="PaddingSize" value="24,1"/>
<property name="InstanceName" value="JButton1"/>
<property name="PropertyOrder" value=",font,text,"/>
<property name="Bean Permissions" value="244"/>
<property name="Panel" value="JPanel2"/>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="text" value="Ok"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="PopupMenu" value="none"/>
<property name="Initializer" value=""/>
<property name="font" value="Dialog+0+13"/>
<property name="Layout Constraints" value="1"/>
<property name="DefaultSize" value="87,38"/>
<property name="PaddingSize" value="4,1"/>
<property name="InstanceName" value="JButton3"/>
<property name="PropertyOrder" value=",font,text,"/>
<property name="Bean Permissions" value="244"/>
<property name="Panel" value="JPanel2"/>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="text" value="Cancel"/>
<property name="UserCode_Bean_JButton3" value="Bean_JButton3"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="font" value="Dialog+0+14"/>
<property name="Layout Constraints" value="2"/>
<property name="toolTipText" value="Set Operations"/>
<property name="DefaultSize" value="83,39"/>
<property name="PaddingSize" value="6,0"/>
<property name="InstanceName" value="setOpButton"/>
<property name="PropertyOrder" value=",toolTipText,text,font,"/>
<property name="Bean Permissions" value="244"/>
<property name="UserCode_Bean_setOpButton" value="Bean_setOpButton"/>
<property name="Panel" value="JPanel2"/>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="text" value="Apply"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="PopupMenu" value="none"/>
<property name="Initializer" value=""/>
<property name="Layout Manager Constraints" value="5,5"/>
<property name="Layout Constraints" value="Center"/>
<property name="DefaultSize" value="638,487"/>
<property name="UserCode_Bean_JPanel3" value="Bean_JPanel3"/>
<property name="Layout Manager" value="Border Layout"/>
<property name="PaddingSize" value="10,38"/>
<property name="InstanceName" value="JPanel3"/>
<property name="Bean Permissions" value="252"/>
<property name="Panel" value="Top"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Manager Constraints" value=""/>
<property name="Layout Constraints" value="Center"/>
<property name="DefaultSize" value="142,294"/>
<property name="border" value="SoftBevelBorder,1,null,null,null,null"/>
<property name="Layout Manager" value="Viewport Layout"/>
<property name="PaddingSize" value="0,1"/>
<property name="InstanceName" value="JScrollPane1"/>
<property name="PropertyOrder" value=",border,"/>
<property name="Bean Permissions" value="252"/>
<property name="UserCode_Bean_JScrollPane1" value="Bean_JScrollPane1"/>
<property name="Panel" value="JPanel3"/>
<property name="ClassName" value="javax.swing.JScrollPane"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="DefaultSize" value="128,264"/>
<property name="InstanceName" value="JTree1"/>
<property name="PropertyOrder" value=",rootVisible,"/>
<property name="Bean Permissions" value="244"/>
<property name="UserCode_Bean_JTree1" value="Bean_JTree1"/>
<property name="Panel" value="JScrollPane1"/>
<property name="ClassName" value="javax.swing.JTree"/>
<property name="rootVisible" value="true"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="PopupMenu" value="none"/>
<property name="Initializer" value=""/>
<property name="Layout Manager Constraints" value="5,5,2"/>
<property name="Layout Constraints" value="South"/>
<property name="DefaultSize" value="486,59"/>
<property name="UserCode_Bean_JPanel4" value="Bean_JPanel4"/>
<property name="border" value="BevelBorder,1,null,null,null,null"/>
<property name="Layout Manager" value="Flow Layout"/>
<property name="PaddingSize" value="13,0"/>
<property name="InstanceName" value="JPanel4"/>
<property name="PropertyOrder" value=",border,"/>
<property name="Bean Permissions" value="252"/>
<property name="Panel" value="JPanel3"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="PopupMenu" value="none"/>
<property name="Initializer" value=""/>
<property name="Layout Constraints" value="0"/>
<property name="DefaultSize" value="261,35"/>
<property name="PaddingSize" value="241,6"/>
<property name="InstanceName" value="addText"/>
<property name="UserCode_Bean_addText" value="Bean_addText"/>
<property name="Bean Permissions" value="244"/>
<property name="Panel" value="JPanel4"/>
<property name="ClassName" value="javax.swing.JTextField"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="PopupMenu" value="none"/>
<property name="Initializer" value=""/>
<property name="font" value="Dialog+0+13"/>
<property name="Layout Constraints" value="1"/>
<property name="DefaultSize" value="85,37"/>
<property name="UserCode_Bean_addButton" value="Bean_addButton"/>
<property name="PaddingSize" value="20,0"/>
<property name="InstanceName" value="addButton"/>
<property name="PropertyOrder" value=",text,font,"/>
<property name="Bean Permissions" value="244"/>
<property name="Panel" value="JPanel4"/>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="text" value="Add"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="font" value="Dialog+0+13"/>
<property name="Layout Constraints" value="2"/>
<property name="UserCode_Bean_removeButton" value="Bean_removeButton"/>
<property name="DefaultSize" value="95,37"/>
<property name="PaddingSize" value="6,0"/>
<property name="InstanceName" value="removeButton"/>
<property name="PropertyOrder" value=",text,font,"/>
<property name="Bean Permissions" value="244"/>
<property name="Panel" value="JPanel4"/>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="text" value="Remove"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="PopupMenu" value="none"/>
<property name="Initializer" value=""/>
<property name="Layout Manager Constraints" value="10,10,2,1"/>
<property name="Layout Constraints" value="North"/>
<property name="DefaultSize" value="620,78"/>
<property name="Layout Manager" value="Grid Layout"/>
<property name="UserCode_Bean_JPanel1" value="Bean_JPanel1"/>
<property name="PaddingSize" value="10,10"/>
<property name="InstanceName" value="JPanel1"/>
<property name="Bean Permissions" value="252"/>
<property name="Panel" value="JPanel3"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="font" value="Dialog+0+12"/>
<property name="Layout Constraints" value="0"/>
<property name="DefaultSize" value="602,25"/>
<property name="UserCode_Bean_JLabel1" value="Bean_JLabel1"/>
<property name="InstanceName" value="JLabel1"/>
<property name="PropertyOrder" value=",font,foreground,text,"/>
<property name="Bean Permissions" value="244"/>
<property name="foreground" value="-16764109"/>
<property name="Panel" value="JPanel1"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="text" value="The following tree displays the whole hierarchy of operations that can be authorized for users."/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="font" value="Dialog+0+12"/>
<property name="Layout Constraints" value="1"/>
<property name="DefaultSize" value="559,25"/>
<property name="UserCode_Bean_JLabel2" value="Bean_JLabel2"/>
<property name="InstanceName" value="JLabel2"/>
<property name="PropertyOrder" value=",font,foreground,text,"/>
<property name="Bean Permissions" value="244"/>
<property name="foreground" value="-16764109"/>
<property name="Panel" value="JPanel1"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="text" value="Select a tree node to add an operation under it, click on apply to save changes to server"/>
<property name="Modifiers" value=""/>
</bean>
<property name="Import Code" value=""/>
<property name="Variable Definitions" value=""/>
<property name="Version" value="4.4"/>
<property name="Screen Height" value="501"/>
<property name="Start Commands" value=""/>
<property name="Type" value="Dialog"/>
<property name="FileVersion" value="1"/>
<connection>
<property name="ConnectionType" value="1"/>
<property name="ClassHeader" value="&#10; class addButton_addButton_conn1 implements java.awt.event.ActionListener, java.io.Serializable &#10;  {&#10;&#10;     //&lt;TOP_PART&gt;&#10;"/>
<property name="NeedsCompilation" value="false"/>
<property name="Targets" value="addButton-TARGET"/>
<property name="UserCode_Connection_addButton_addButton_conn1" value="Connection_addButton_addButton_conn1"/>
<property name="Sources" value="addButton-action-false"/>
<property name="ConnectionName" value="addButton_addButton_conn1"/>
<property name="ConnectionClass" value="java.awt.event.ActionListener"/>
<property name="Connection_Version" value="1"/>
<property name="ListenerMethodName" value="actionPerformed"/>
</connection>
<connection>
<property name="ConnectionType" value="1"/>
<property name="UserCode_Connection_JButton3_JButton3_conn1" value="Connection_JButton3_JButton3_conn1"/>
<property name="ClassHeader" value="&#10; class JButton3_JButton3_conn1 implements java.awt.event.ActionListener, java.io.Serializable &#10;  {&#10;&#10;     //&lt;TOP_PART&gt;&#10;"/>
<property name="NeedsCompilation" value="false"/>
<property name="Targets" value="JButton3-TARGET"/>
<property name="Sources" value="JButton3-action-false"/>
<property name="ConnectionName" value="JButton3_JButton3_conn1"/>
<property name="ConnectionClass" value="java.awt.event.ActionListener"/>
<property name="Connection_Version" value="1"/>
<property name="ListenerMethodName" value="actionPerformed"/>
</connection>
<connection>
<property name="ConnectionType" value="1"/>
<property name="ClassHeader" value="&#10; class setOpButton_setOpButton_conn1 implements java.awt.event.ActionListener, java.io.Serializable &#10;  {&#10;&#10;     //&lt;TOP_PART&gt;&#10;"/>
<property name="NeedsCompilation" value="false"/>
<property name="Targets" value="setOpButton-TARGET"/>
<property name="UserCode_Connection_setOpButton_setOpButton_conn1" value="Connection_setOpButton_setOpButton_conn1"/>
<property name="Sources" value="setOpButton-action-false"/>
<property name="ConnectionName" value="setOpButton_setOpButton_conn1"/>
<property name="ConnectionClass" value="java.awt.event.ActionListener"/>
<property name="Connection_Version" value="1"/>
<property name="ListenerMethodName" value="actionPerformed"/>
</connection>
<connection>
<property name="ConnectionType" value="1"/>
<property name="ClassHeader" value="&#10; class JTree1_JTree1_conn1 implements javax.swing.event.TreeSelectionListener, java.io.Serializable &#10;  {&#10;&#10;     //&lt;TOP_PART&gt;&#10;"/>
<property name="NeedsCompilation" value="false"/>
<property name="UserCode_Connection_JTree1_JTree1_conn1" value="Connection_JTree1_JTree1_conn1"/>
<property name="Targets" value="JTree1-TARGET"/>
<property name="Sources" value="JTree1-treeSelection-false"/>
<property name="ConnectionName" value="JTree1_JTree1_conn1"/>
<property name="ConnectionClass" value="javax.swing.event.TreeSelectionListener"/>
<property name="Connection_Version" value="1"/>
<property name="ListenerMethodName" value="valueChanged"/>
</connection>
<connection>
<property name="ConnectionType" value="1"/>
<property name="UserCode_Connection_removeButton_removeButton_conn1" value="Connection_removeButton_removeButton_conn1"/>
<property name="ClassHeader" value="&#10; class removeButton_removeButton_conn1 implements java.awt.event.ActionListener, java.io.Serializable &#10;  {&#10;&#10;     //&lt;TOP_PART&gt;&#10;"/>
<property name="NeedsCompilation" value="false"/>
<property name="Targets" value="removeButton-TARGET"/>
<property name="Sources" value="removeButton-action-false"/>
<property name="ConnectionName" value="removeButton_removeButton_conn1"/>
<property name="ConnectionClass" value="java.awt.event.ActionListener"/>
<property name="Connection_Version" value="1"/>
<property name="ListenerMethodName" value="actionPerformed"/>
</connection>
<connection>
<property name="ConnectionType" value="1"/>
<property name="ClassHeader" value="&#10; class JButton1_JButton1_conn1 implements java.awt.event.ActionListener, java.io.Serializable &#10;  {&#10;&#10;     //&lt;TOP_PART&gt;&#10;"/>
<property name="NeedsCompilation" value="false"/>
<property name="Targets" value="JButton1-TARGET"/>
<property name="Sources" value="JButton1-action-false"/>
<property name="ConnectionName" value="JButton1_JButton1_conn1"/>
<property name="ConnectionClass" value="java.awt.event.ActionListener"/>
<property name="Connection_Version" value="1"/>
<property name="ListenerMethodName" value="actionPerformed"/>
<property name="UserCode_Connection_JButton1_JButton1_conn1" value="Connection_JButton1_JButton1_conn1"/>
</connection>
<property name="MenuBarPresent" value="true"/>
<property name="GenSource" value="true"/>
<property name="Custom Code" value=""/>
<property name="Dummy Interface" value=""/>
<property name="ScreenTitle" value=""/>
<property name="ToolBarPresent" value="true"/>
<property name="HorizontalSplitPanePos" value="170.0"/>
<property name="SubVersion" value="4.4"/>
<property name="LookAndFeel" value="None"/>
</screen>
