<?xml version="1.0" encoding="UTF-8"?>
<screen conversionType="Hash">
<property name="Screen Width" value="683"/>
<property name="Initialize Commands" value=""/>
<property name="screenTitle" value=""/>
<menu>
<property name="popupMenuName" value="Delete"/>
<property name="InstanceName" value="Delete"/>
<property name="menuName" value="Delete"/>
<property name="parent" value="top"/>
<property name="uniqueID" value="PopupMenu"/>
</menu>
<menu>
<property name="uniqueID" value="PopupMenu"/>
<property name="shortCutKey" value="none"/>
<property name="menuName" value="Delete AuthorizedView"/>
<property name="InstanceName" value="Delete_AuthorizedViewMenuItem"/>
<property name="UserCode_menuItem_Delete_AuthorizedViewMenuItem" value="menuItem_Delete_AuthorizedViewMenuItem"/>
<property name="shiftKeyStatus" value="false"/>
<property name="ctrlKeyStatus" value="false"/>
<property name="actionCommand" value="Delete AuthorizedView"/>
<property name="type" value="menuItem"/>
<property name="altKeyStatus" value="false"/>
<property name="mnemonic" value="none"/>
<property name="parent" value="Delete"/>
</menu>
<bean>
<property name="InstanceName" value="Top"/>
<property name="PopupMenu" value="none"/>
<property name="UserCode_Bean_components" value="Bean_components"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Layout Manager" value="Border Layout"/>
<property name="Layout Constraints" value="Center"/>
<property name="Panel" value="container"/>
<property name="Layout Manager Constraints" value="5,5"/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JTabbedPane();"/>
<property name="Layout Manager Constraints" value=""/>
<property name="font" value="SansSerif+0+12"/>
<property name="Layout Constraints" value="Center"/>
<property name="DefaultSize" value="853,398"/>
<property name="selectedIndex" value="1"/>
<property name="Layout Manager" value="TabPane Layout"/>
<property name="PaddingSize" value="0,1"/>
<property name="InstanceName" value="JTabbedPane1"/>
<property name="PropertyOrder" value=",font,selectedIndex,"/>
<property name="Bean Permissions" value="255"/>
<property name="UserCode_Bean_JTabbedPane1" value="Bean_JTabbedPane1"/>
<property name="Panel" value="Top"/>
<property name="ClassName" value="javax.swing.JTabbedPane"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="UserCode_Bean_JPanel3111" value="Bean_JPanel3111"/>
<property name="Initializer" value="new javax.swing.JPanel();"/>
<property name="Layout Manager Constraints" value=""/>
<property name="Layout Constraints" value="JPanel31,null,null,0"/>
<property name="DefaultSize" value="195,115"/>
<property name="Layout Manager" value="GridBag Layout"/>
<property name="InstanceName" value="JPanel3111"/>
<property name="Bean Permissions" value="255"/>
<property name="Panel" value="JTabbedPane1"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JScrollPane();"/>
<property name="Layout Manager Constraints" value=""/>
<property name="Layout Constraints" value="0,0,1,2,1,11,0,0,0.05,0.1,5,5,5,5"/>
<property name="DefaultSize" value="30,30"/>
<property name="Layout Manager" value="Viewport Layout"/>
<property name="InstanceName" value="JScrollPane211"/>
<property name="Bean Permissions" value="255"/>
<property name="UserCode_Bean_JScrollPane211" value="Bean_JScrollPane211"/>
<property name="Panel" value="JPanel3111"/>
<property name="ClassName" value="javax.swing.JScrollPane"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new com.adventnet.beans.table.SortTable();"/>
<property name="DefaultSize" value="20,20"/>
<property name="model" value="SortTableModel1$BEAN"/>
<property name="InstanceName" value="SortTable1"/>
<property name="PropertyOrder" value=",model,"/>
<property name="UserCode_Bean_SortTable1" value="Bean_SortTable1"/>
<property name="Bean Permissions" value="247"/>
<property name="Panel" value="JScrollPane211"/>
<property name="ClassName" value="com.adventnet.beans.table.SortTable"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JButton();"/>
<property name="font" value="SansSerif+0+12"/>
<property name="Layout Constraints" value="0,2,1,1,0,13,0,0,0.0,0.0,5,5,5,5"/>
<property name="DefaultSize" value="125,35"/>
<property name="InstanceName" value="JButton4"/>
<property name="PropertyOrder" value=",font,horizontalTextPosition,text,"/>
<property name="Bean Permissions" value="247"/>
<property name="Panel" value="JPanel3111"/>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="horizontalTextPosition" value="4"/>
<property name="text" value="Setting Users"/>
<property name="UserCode_Bean_JButton4" value="Bean_JButton4"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JPanel();"/>
<property name="Layout Manager Constraints" value=""/>
<property name="Layout Constraints" value="JPanel1,null,null,1"/>
<property name="DefaultSize" value="310,109"/>
<property name="Layout Manager" value="GridBag Layout"/>
<property name="UserCode_Bean_JPanel1" value="Bean_JPanel1"/>
<property name="InstanceName" value="JPanel1"/>
<property name="Bean Permissions" value="255"/>
<property name="Panel" value="JTabbedPane1"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JScrollPane();"/>
<property name="Layout Manager Constraints" value=""/>
<property name="Layout Constraints" value="0,0,2,2,1,10,0,0,0.05,0.1,5,5,5,5"/>
<property name="UserCode_Bean_JScrollPane2111" value="Bean_JScrollPane2111"/>
<property name="DefaultSize" value="30,30"/>
<property name="Layout Manager" value="Viewport Layout"/>
<property name="InstanceName" value="JScrollPane2111"/>
<property name="Bean Permissions" value="255"/>
<property name="Panel" value="JPanel1"/>
<property name="ClassName" value="javax.swing.JScrollPane"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new com.adventnet.beans.table.SortTable();"/>
<property name="DefaultSize" value="20,20"/>
<property name="model" value="SortTableModel2$BEAN"/>
<property name="InstanceName" value="SortTable11"/>
<property name="PropertyOrder" value=",model,"/>
<property name="Bean Permissions" value="247"/>
<property name="Panel" value="JScrollPane2111"/>
<property name="ClassName" value="com.adventnet.beans.table.SortTable"/>
<property name="UserCode_Bean_SortTable11" value="Bean_SortTable11"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="UserCode_Bean_JButton1" value="Bean_JButton1"/>
<property name="Initializer" value="new javax.swing.JButton();"/>
<property name="font" value="SansSerif+0+12"/>
<property name="Layout Constraints" value="1,2,1,1,0,13,0,0,0.0,0.0,5,5,5,5"/>
<property name="DefaultSize" value="147,35"/>
<property name="InstanceName" value="JButton1"/>
<property name="PropertyOrder" value=",font,horizontalTextPosition,text,"/>
<property name="Bean Permissions" value="247"/>
<property name="Panel" value="JPanel1"/>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="horizontalTextPosition" value="4"/>
<property name="text" value="Set Permissions"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="UserCode_Bean_JButton2" value="Bean_JButton2"/>
<property name="Initializer" value="new javax.swing.JButton();"/>
<property name="font" value="SansSerif+0+12"/>
<property name="Layout Constraints" value="0,2,1,1,0,13,0,0,0.01,0.0,5,5,5,5"/>
<property name="DefaultSize" value="135,35"/>
<property name="InstanceName" value="JButton2"/>
<property name="PropertyOrder" value=",font,horizontalTextPosition,enabled,text,"/>
<property name="Bean Permissions" value="247"/>
<property name="enabled" value="false"/>
<property name="Panel" value="JPanel1"/>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="horizontalTextPosition" value="4"/>
<property name="text" value="Setting Scope"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JPanel();"/>
<property name="PopupMenu" value="none"/>
<property name="Layout Manager Constraints" value="5,5"/>
<property name="Layout Constraints" value="JPanel2,null,null,2"/>
<property name="DefaultSize" value="840,361"/>
<property name="UserCode_Bean_JPanel2" value="Bean_JPanel2"/>
<property name="Layout Manager" value="Border Layout"/>
<property name="InstanceName" value="JPanel2"/>
<property name="Bean Permissions" value="255"/>
<property name="Panel" value="JTabbedPane1"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JSplitPane();"/>
<property name="orientation" value="0"/>
<property name="Layout Manager Constraints" value=""/>
<property name="Layout Constraints" value="Center"/>
<property name="DefaultSize" value="822,343"/>
<property name="Layout Manager" value="SplitPane Layout"/>
<property name="PaddingSize" value="0,105"/>
<property name="InstanceName" value="JSplitPane1"/>
<property name="PropertyOrder" value=",orientation,dividerLocation,"/>
<property name="Bean Permissions" value="255"/>
<property name="Panel" value="JPanel2"/>
<property name="ClassName" value="javax.swing.JSplitPane"/>
<property name="dividerLocation" value="90"/>
<property name="UserCode_Bean_JSplitPane1" value="Bean_JSplitPane1"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JPanel();"/>
<property name="PopupMenu" value="none"/>
<property name="Layout Manager Constraints" value=""/>
<property name="UserCode_Bean_JPanel7" value="Bean_JPanel7"/>
<property name="Layout Constraints" value="top,90"/>
<property name="DefaultSize" value="432,109"/>
<property name="Layout Manager" value="GridBag Layout"/>
<property name="InstanceName" value="JPanel7"/>
<property name="Bean Permissions" value="255"/>
<property name="Panel" value="JSplitPane1"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="UserCode_Bean_JComboBox1" value="Bean_JComboBox1"/>
<property name="Initializer" value="new javax.swing.JComboBox();"/>
<property name="Layout Constraints" value="1,0,1,1,2,11,0,0,0.01,0.01,5,25,5,5"/>
<property name="DefaultSize" value="134,34"/>
<property name="model" value="DefaultComboBoxModel1$BEAN"/>
<property name="InstanceName" value="JComboBox1"/>
<property name="PropertyOrder" value=",model,"/>
<property name="Bean Permissions" value="247"/>
<property name="Panel" value="JPanel7"/>
<property name="ClassName" value="javax.swing.JComboBox"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JLabel();"/>
<property name="PopupMenu" value="none"/>
<property name="Layout Constraints" value="0,0,1,1,1,10,0,0,0.01,0.01,5,5,5,5"/>
<property name="DefaultSize" value="250,25"/>
<property name="UserCode_Bean_JLabel1" value="Bean_JLabel1"/>
<property name="InstanceName" value="JLabel1"/>
<property name="PropertyOrder" value=",verticalAlignment,text,"/>
<property name="Bean Permissions" value="247"/>
<property name="verticalAlignment" value="1"/>
<property name="Panel" value="JPanel7"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="text" value="                    Custom View Scope Name"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JPanel();"/>
<property name="PopupMenu" value="none"/>
<property name="UserCode_Bean_JPanel8" value="Bean_JPanel8"/>
<property name="Layout Manager Constraints" value=""/>
<property name="Layout Constraints" value="bottom,90"/>
<property name="DefaultSize" value="812,109"/>
<property name="Layout Manager" value="GridBag Layout"/>
<property name="InstanceName" value="JPanel8"/>
<property name="Bean Permissions" value="255"/>
<property name="Panel" value="JSplitPane1"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JButton();"/>
<property name="PopupMenu" value="none"/>
<property name="font" value="Dialog+0+12"/>
<property name="Layout Constraints" value="3,1,1,1,0,13,0,0,0.0,0.0,5,5,5,5"/>
<property name="minimumSize" value="171,27"/>
<property name="DefaultSize" value="179,35"/>
<property name="InstanceName" value="JButton5"/>
<property name="PropertyOrder" value=",font,enabled,minimumSize,preferredSize,text,"/>
<property name="Bean Permissions" value="244"/>
<property name="preferredSize" value="250,27"/>
<property name="enabled" value="false"/>
<property name="Panel" value="JPanel8"/>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="text" value="Set Scope Properties"/>
<property name="UserCode_Bean_JButton5" value="Bean_JButton5"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JButton();"/>
<property name="PopupMenu" value="none"/>
<property name="maximumSize" value="55,27"/>
<property name="font" value="Dialog+0+12"/>
<property name="Layout Constraints" value="1,1,1,1,0,13,0,0,0.01,0.0,5,5,5,5"/>
<property name="minimumSize" value="171,27"/>
<property name="DefaultSize" value="179,35"/>
<property name="InstanceName" value="JButton6"/>
<property name="PropertyOrder" value=",font,enabled,maximumSize,text,minimumSize,preferredSize,"/>
<property name="Bean Permissions" value="247"/>
<property name="preferredSize" value="250,27"/>
<property name="enabled" value="false"/>
<property name="Panel" value="JPanel8"/>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="UserCode_Bean_JButton6" value="Bean_JButton6"/>
<property name="text" value="Add AuthorizedScope"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JScrollPane();"/>
<property name="Layout Manager Constraints" value=""/>
<property name="Layout Constraints" value="0,0,4,1,1,11,0,0,0.01,0.01,5,5,5,5"/>
<property name="DefaultSize" value="30,30"/>
<property name="Layout Manager" value="Viewport Layout"/>
<property name="InstanceName" value="JScrollPane2"/>
<property name="Bean Permissions" value="255"/>
<property name="UserCode_Bean_JScrollPane2" value="Bean_JScrollPane2"/>
<property name="Panel" value="JPanel8"/>
<property name="ClassName" value="javax.swing.JScrollPane"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new com.adventnet.beans.table.SortTable();"/>
<property name="PopupMenu" value="Delete"/>
<property name="DefaultSize" value="20,20"/>
<property name="UserCode_Bean_SortTable3" value="Bean_SortTable3"/>
<property name="model" value="SortTableModel4$BEAN"/>
<property name="InstanceName" value="SortTable3"/>
<property name="PropertyOrder" value=",model,"/>
<property name="Bean Permissions" value="247"/>
<property name="Panel" value="JScrollPane2"/>
<property name="ClassName" value="com.adventnet.beans.table.SortTable"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JButton();"/>
<property name="font" value="Dialog+0+12"/>
<property name="UserCode_Bean_JButton21" value="Bean_JButton21"/>
<property name="Layout Constraints" value="2,1,1,1,0,13,0,0,0.0,0.0,5,5,5,5"/>
<property name="minimumSize" value="171,27"/>
<property name="DefaultSize" value="179,35"/>
<property name="InstanceName" value="JButton21"/>
<property name="PropertyOrder" value=",font,enabled,text,minimumSize,preferredSize,"/>
<property name="Bean Permissions" value="247"/>
<property name="preferredSize" value="250,27"/>
<property name="enabled" value="false"/>
<property name="Panel" value="JPanel8"/>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="text" value="Assign AuthorizedScope"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.DefaultListModel();"/>
<property name="Layout Constraints" value="BOTTOM"/>
<property name="DefaultSize" value="74,25"/>
<property name="InstanceName" value="AllUsers"/>
<property name="Bean Permissions" value="247"/>
<property name="Panel" value="Bottom"/>
<property name="ClassName" value="javax.swing.DefaultListModel"/>
<property name="UserCode_Bean_AllUsers" value="Bean_AllUsers"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.DefaultListModel();"/>
<property name="Layout Constraints" value="BOTTOM"/>
<property name="DefaultSize" value="92,25"/>
<property name="InstanceName" value="UserModel"/>
<property name="Bean Permissions" value="247"/>
<property name="UserCode_Bean_UserModel" value="Bean_UserModel"/>
<property name="Panel" value="Bottom"/>
<property name="ClassName" value="javax.swing.DefaultListModel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new com.adventnet.beans.table.SortTableModel();"/>
<property name="UserCode_Bean_SortTableModel1" value="Bean_SortTableModel1"/>
<property name="Layout Constraints" value="BOTTOM"/>
<property name="DefaultSize" value="141,25"/>
<property name="InstanceName" value="SortTableModel1"/>
<property name="Bean Permissions" value="247"/>
<property name="Panel" value="Bottom"/>
<property name="ClassName" value="com.adventnet.beans.table.SortTableModel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new com.adventnet.beans.table.SortTableModel();"/>
<property name="UserCode_Bean_SortTableModel2" value="Bean_SortTableModel2"/>
<property name="Layout Constraints" value="BOTTOM"/>
<property name="DefaultSize" value="141,25"/>
<property name="InstanceName" value="SortTableModel2"/>
<property name="Bean Permissions" value="247"/>
<property name="Panel" value="Bottom"/>
<property name="ClassName" value="com.adventnet.beans.table.SortTableModel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="UserCode_Bean_SortTableModel4" value="Bean_SortTableModel4"/>
<property name="Initializer" value="new com.adventnet.beans.table.SortTableModel();"/>
<property name="Layout Constraints" value="BOTTOM"/>
<property name="DefaultSize" value="113,25"/>
<property name="InstanceName" value="SortTableModel4"/>
<property name="Bean Permissions" value="247"/>
<property name="Panel" value="Bottom"/>
<property name="ClassName" value="com.adventnet.beans.table.SortTableModel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.DefaultComboBoxModel();"/>
<property name="Layout Constraints" value="BOTTOM"/>
<property name="DefaultSize" value="168,25"/>
<property name="UserCode_Bean_DefaultComboBoxModel1" value="Bean_DefaultComboBoxModel1"/>
<property name="InstanceName" value="DefaultComboBoxModel1"/>
<property name="Bean Permissions" value="247"/>
<property name="Panel" value="Bottom"/>
<property name="ClassName" value="javax.swing.DefaultComboBoxModel"/>
<property name="Modifiers" value=""/>
</bean>
<property name="Import Code" value=""/>
<property name="Variable Definitions" value=""/>
<property name="Version" value="4.4"/>
<property name="Screen Height" value="422"/>
<property name="Start Commands" value=""/>
<property name="Type" value="Panel"/>
<property name="FileVersion" value="2"/>
<connection>
<property name="ConnectionType" value="1"/>
<property name="ClassHeader" value="&#10; class JButton5_JButton5_conn1 implements java.awt.event.ActionListener, java.io.Serializable &#10;  {&#10;&#10;     //&lt;TOP_PART&gt;&#10;"/>
<property name="NeedsCompilation" value="false"/>
<property name="Targets" value="JButton5-TARGET"/>
<property name="UserCode_Connection_JButton5_JButton5_conn1" value="Connection_JButton5_JButton5_conn1"/>
<property name="Sources" value="JButton5-action-false"/>
<property name="ConnectionName" value="JButton5_JButton5_conn1"/>
<property name="ConnectionClass" value="java.awt.event.ActionListener"/>
<property name="Connection_Version" value="1"/>
<property name="ListenerMethodName" value="actionPerformed"/>
</connection>
<connection>
<property name="ConnectionType" value="1"/>
<property name="ClassHeader" value="&#10; class SortTable11_JButton2_conn extends java.awt.event.MouseAdapter implements java.io.Serializable &#10;  {&#10;&#10;     //&lt;TOP_PART&gt;&#10;"/>
<property name="NeedsCompilation" value="false"/>
<property name="Targets" value="JButton2-TARGET"/>
<property name="Sources" value="SortTable11-mouse-false"/>
<property name="ConnectionName" value="SortTable11_JButton2_conn"/>
<property name="ConnectionClass" value="java.awt.event.MouseAdapter"/>
<property name="UserCode_Connection_SortTable11_JButton2_conn" value="Connection_SortTable11_JButton2_conn"/>
<property name="Connection_Version" value="1"/>
<property name="ListenerMethodName" value="mouseClicked"/>
</connection>
<connection>
<property name="ConnectionType" value="1"/>
<property name="ClassHeader" value="&#10; class JButton2_JButton2_conn1 implements java.awt.event.ActionListener, java.io.Serializable &#10;  {&#10;&#10;     //&lt;TOP_PART&gt;&#10;"/>
<property name="NeedsCompilation" value="false"/>
<property name="Targets" value="JButton2-TARGET,SortTable11-USED_BEAN"/>
<property name="UserCode_Connection_JButton2_JButton2_conn1" value="Connection_JButton2_JButton2_conn1"/>
<property name="Sources" value="JButton2-action-false"/>
<property name="ConnectionName" value="JButton2_JButton2_conn1"/>
<property name="ConnectionClass" value="java.awt.event.ActionListener"/>
<property name="Connection_Version" value="1"/>
<property name="ListenerMethodName" value="actionPerformed"/>
</connection>
<connection>
<property name="ConnectionType" value="1"/>
<property name="UserCode_Connection_SortTable3_SortTable3_conn1" value="Connection_SortTable3_SortTable3_conn1"/>
<property name="ClassHeader" value="&#10; class SortTable3_SortTable3_conn1 extends java.awt.event.MouseAdapter implements java.io.Serializable &#10;  {&#10;&#10;     //&lt;TOP_PART&gt;&#10;"/>
<property name="NeedsCompilation" value="false"/>
<property name="Targets" value="SortTable3-TARGET"/>
<property name="Sources" value="SortTable3-mouse-false"/>
<property name="ConnectionName" value="SortTable3_SortTable3_conn1"/>
<property name="ConnectionClass" value="java.awt.event.MouseAdapter"/>
<property name="Connection_Version" value="1"/>
<property name="ListenerMethodName" value="mouseClicked"/>
</connection>
<connection>
<property name="ConnectionType" value="1"/>
<property name="ClassHeader" value="&#10; class JComboBox1_JButton21_conn1 implements java.awt.event.ActionListener, java.io.Serializable &#10;  {&#10;&#10;     //&lt;TOP_PART&gt;&#10;"/>
<property name="NeedsCompilation" value="false"/>
<property name="UserCode_Connection_JComboBox1_JButton21_conn1" value="Connection_JComboBox1_JButton21_conn1"/>
<property name="Targets" value="JButton21-TARGET"/>
<property name="Sources" value="JComboBox1-action-false"/>
<property name="ConnectionName" value="JComboBox1_JButton21_conn1"/>
<property name="ConnectionClass" value="java.awt.event.ActionListener"/>
<property name="Connection_Version" value="1"/>
<property name="ListenerMethodName" value="actionPerformed"/>
</connection>
<connection>
<property name="ConnectionType" value="1"/>
<property name="ClassHeader" value="&#10; class JComboBox1_SortTableModel4_conn1 implements java.awt.event.ActionListener, java.io.Serializable &#10;  {&#10;&#10;     //&lt;TOP_PART&gt;&#10;"/>
<property name="NeedsCompilation" value="false"/>
<property name="Targets" value="SortTableModel4-TARGET"/>
<property name="Sources" value="JComboBox1-action-false"/>
<property name="ConnectionName" value="JComboBox1_SortTableModel4_conn1"/>
<property name="UserCode_Connection_JComboBox1_SortTableModel4_conn1" value="Connection_JComboBox1_SortTableModel4_conn1"/>
<property name="ConnectionClass" value="java.awt.event.ActionListener"/>
<property name="Connection_Version" value="1"/>
<property name="ListenerMethodName" value="actionPerformed"/>
</connection>
<connection>
<property name="ConnectionType" value="1"/>
<property name="ClassHeader" value="&#10; class JButton6_SortTableModel4_conn1 implements java.awt.event.ActionListener, java.io.Serializable &#10;  {&#10;&#10;     //&lt;TOP_PART&gt;&#10;"/>
<property name="NeedsCompilation" value="false"/>
<property name="Targets" value="SortTableModel4-TARGET"/>
<property name="UserCode_Connection_JButton6_SortTableModel4_conn1" value="Connection_JButton6_SortTableModel4_conn1"/>
<property name="Sources" value="JButton6-action-false"/>
<property name="ConnectionName" value="JButton6_SortTableModel4_conn1"/>
<property name="ConnectionClass" value="java.awt.event.ActionListener"/>
<property name="Connection_Version" value="1"/>
<property name="ListenerMethodName" value="actionPerformed"/>
</connection>
<connection>
<property name="ConnectionType" value="1"/>
<property name="ClassHeader" value="&#10; class JButton4_JButton4_conn1 implements java.awt.event.ActionListener, java.io.Serializable &#10;  {&#10;&#10;     //&lt;TOP_PART&gt;&#10;"/>
<property name="NeedsCompilation" value="false"/>
<property name="Targets" value="JButton4-TARGET"/>
<property name="Sources" value="JButton4-action-false"/>
<property name="ConnectionName" value="JButton4_JButton4_conn1"/>
<property name="ConnectionClass" value="java.awt.event.ActionListener"/>
<property name="Connection_Version" value="1"/>
<property name="ListenerMethodName" value="actionPerformed"/>
<property name="UserCode_Connection_JButton4_JButton4_conn1" value="Connection_JButton4_JButton4_conn1"/>
</connection>
<connection>
<property name="ConnectionType" value="1"/>
<property name="ClassHeader" value="&#10; class JButton21_JButton21_conn1 implements java.awt.event.ActionListener, java.io.Serializable &#10;  {&#10;&#10;     //&lt;TOP_PART&gt;&#10;"/>
<property name="NeedsCompilation" value="false"/>
<property name="Targets" value="JButton21-TARGET"/>
<property name="Sources" value="JButton21-action-false"/>
<property name="ConnectionName" value="JButton21_JButton21_conn1"/>
<property name="ConnectionClass" value="java.awt.event.ActionListener"/>
<property name="Connection_Version" value="1"/>
<property name="ListenerMethodName" value="actionPerformed"/>
<property name="UserCode_Connection_JButton21_JButton21_conn1" value="Connection_JButton21_JButton21_conn1"/>
</connection>
<connection>
<property name="ConnectionType" value="1"/>
<property name="ClassHeader" value="&#10; class SortTable3_JButton5_conn1 extends java.awt.event.MouseAdapter implements java.io.Serializable &#10;  {&#10;&#10;     //&lt;TOP_PART&gt;&#10;"/>
<property name="NeedsCompilation" value="false"/>
<property name="Targets" value="JButton5-TARGET"/>
<property name="Sources" value="SortTable3-mouse-false"/>
<property name="ConnectionName" value="SortTable3_JButton5_conn1"/>
<property name="ConnectionClass" value="java.awt.event.MouseAdapter"/>
<property name="Connection_Version" value="1"/>
<property name="ListenerMethodName" value="mouseClicked"/>
<property name="UserCode_Connection_SortTable3_JButton5_conn1" value="Connection_SortTable3_JButton5_conn1"/>
</connection>
<connection>
<property name="ConnectionType" value="1"/>
<property name="ClassHeader" value="&#10; class JButton1_JButton1_conn1 implements java.awt.event.ActionListener, java.io.Serializable &#10;  {&#10;&#10;     //&lt;TOP_PART&gt;&#10;"/>
<property name="NeedsCompilation" value="false"/>
<property name="Targets" value="JButton1-TARGET"/>
<property name="Sources" value="JButton1-action-false"/>
<property name="ConnectionName" value="JButton1_JButton1_conn1"/>
<property name="ConnectionClass" value="java.awt.event.ActionListener"/>
<property name="Connection_Version" value="1"/>
<property name="ListenerMethodName" value="actionPerformed"/>
<property name="UserCode_Connection_JButton1_JButton1_conn1" value="Connection_JButton1_JButton1_conn1"/>
</connection>
<property name="MenuBarPresent" value="false"/>
<property name="GenSource" value="true"/>
<property name="Custom Code" value=""/>
<property name="Dummy Interface" value=""/>
<property name="ScreenTitle" value=""/>
<property name="ToolBarPresent" value="true"/>
<property name="HorizontalSplitPanePos" value="239.0"/>
<property name="SubVersion" value="4.4"/>
<property name="LookAndFeel" value="None"/>
</screen>
