<?xml version="1.0" encoding="UTF-8"?>
<!-- $Id: TabbedPane1.config,v 1.2 2007/07/11 10:27:28 sunilg Exp $ -->
<screen conversionType="Hash">
<property name="Screen Width" value="676"/>
<property name="Initialize Commands" value=""/>
<property name="screenTitle" value=""/>
<bean>
<property name="InstanceName" value="Top"/>
<property name="UserCode_Bean_components" value="Bean_components"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Layout Manager" value="Border Layout"/>
<property name="Layout Constraints" value="Center"/>
<property name="Panel" value="container"/>
<property name="Layout Manager Constraints" value="5,5"/>
</bean>
<bean>
<property name="PopupMenu" value="none"/>
<property name="Initializer" value="new javax.swing.JTabbedPane();"/>
<property name="Layout Manager Constraints" value=""/>
<property name="tabPlacement" value="1"/>
<property name="font" value="SansSerif+0+12"/>
<property name="Layout Constraints" value="Center"/>
<property name="DefaultSize" value="1069,496"/>
<property name="selectedIndex" value="0"/>
<property name="Layout Manager" value="TabPane Layout"/>
<property name="PaddingSize" value="0,1"/>
<property name="InstanceName" value="JTabbedPane1"/>
<property name="PropertyOrder" value=",font,tabPlacement,selectedIndex,"/>
<property name="Bean Permissions" value="255"/>
<property name="UserCode_Bean_JTabbedPane1" value="Bean_JTabbedPane1"/>
<property name="Panel" value="Top"/>
<property name="ClassName" value="javax.swing.JTabbedPane"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JPanel();"/>
<property name="Layout Manager Constraints" value=""/>
<property name="Layout Constraints" value="JPanel31,null,null,0"/>
<property name="DefaultSize" value="195,115"/>
<property name="Layout Manager" value="GridBag Layout"/>
<property name="InstanceName" value="JPanel311"/>
<property name="Bean Permissions" value="255"/>
<property name="UserCode_Bean_JPanel311" value="Bean_JPanel311"/>
<property name="Panel" value="JTabbedPane1"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JScrollPane();"/>
<property name="Layout Manager Constraints" value=""/>
<property name="Layout Constraints" value="0,0,1,2,1,11,0,0,0.05,0.1,5,5,5,5"/>
<property name="DefaultSize" value="30,30"/>
<property name="Layout Manager" value="Viewport Layout"/>
<property name="InstanceName" value="JScrollPane21"/>
<property name="Bean Permissions" value="255"/>
<property name="UserCode_Bean_JScrollPane21" value="Bean_JScrollPane21"/>
<property name="Panel" value="JPanel311"/>
<property name="ClassName" value="javax.swing.JScrollPane"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new com.adventnet.beans.table.SortTable();"/>
<property name="DefaultSize" value="20,20"/>
<property name="model" value="SortTableModel1$BEAN"/>
<property name="InstanceName" value="SortTable1"/>
<property name="PropertyOrder" value=",model,"/>
<property name="UserCode_Bean_SortTable1" value="Bean_SortTable1"/>
<property name="Bean Permissions" value="247"/>
<property name="Panel" value="JScrollPane21"/>
<property name="ClassName" value="com.adventnet.beans.table.SortTable"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JButton();"/>
<property name="font" value="SansSerif+0+12"/>
<property name="Layout Constraints" value="0,2,1,1,0,13,0,0,0.0,0.0,5,5,5,5"/>
<property name="DefaultSize" value="135,35"/>
<property name="InstanceName" value="JButton4"/>
<property name="PropertyOrder" value=",font,horizontalTextPosition,text,"/>
<property name="Bean Permissions" value="247"/>
<property name="Panel" value="JPanel311"/>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="horizontalTextPosition" value="4"/>
<property name="text" value="Setting Groups"/>
<property name="UserCode_Bean_JButton4" value="Bean_JButton4"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JPanel();"/>
<property name="PopupMenu" value="none"/>
<property name="Layout Manager Constraints" value="5,5"/>
<property name="Layout Constraints" value="JPanel1,null,null,1"/>
<property name="DefaultSize" value="1056,460"/>
<property name="Layout Manager" value="Border Layout"/>
<property name="UserCode_Bean_JPanel1" value="Bean_JPanel1"/>
<property name="InstanceName" value="JPanel1"/>
<property name="Bean Permissions" value="252"/>
<property name="Panel" value="JTabbedPane1"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JPanel();"/>
<property name="Layout Manager Constraints" value=""/>
<property name="Layout Constraints" value="Center"/>
<property name="DefaultSize" value="356,331"/>
<property name="UserCode_Bean_JPanel2" value="Bean_JPanel2"/>
<property name="Layout Manager" value="GridBag Layout"/>
<property name="InstanceName" value="JPanel2"/>
<property name="Bean Permissions" value="252"/>
<property name="Panel" value="JPanel1"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JPanel();"/>
<property name="Layout Manager Constraints" value=""/>
<property name="Layout Constraints" value="0,2,1,1,2,10,0,0,0.01,0.01,0,5,5,5"/>
<property name="DefaultSize" value="304,73"/>
<property name="UserCode_Bean_JPanel4" value="Bean_JPanel4"/>
<property name="border" value="TitledBorder,[null],Account expiry for :,4,2,Dialog+1+12,-16777216"/>
<property name="Layout Manager" value="GridBag Layout"/>
<property name="InstanceName" value="JPanel4"/>
<property name="PropertyOrder" value=",border,"/>
<property name="Bean Permissions" value="252"/>
<property name="Panel" value="JPanel2"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JLabel();"/>
<property name="font" value="SansSerif+0+12"/>
<property name="Layout Constraints" value="0,0,1,1,2,10,0,0,0.1,0.1,5,5,5,5"/>
<property name="UserCode_Bean_JLabel3" value="Bean_JLabel3"/>
<property name="DefaultSize" value="186,25"/>
<property name="InstanceName" value="JLabel3"/>
<property name="PropertyOrder" value=",horizontalAlignment,font,horizontalTextPosition,text,foreground,"/>
<property name="Bean Permissions" value="244"/>
<property name="foreground" value="-16764109"/>
<property name="Panel" value="JPanel4"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="horizontalTextPosition" value="4"/>
<property name="text" value="This user account expires in"/>
<property name="horizontalAlignment" value="2"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="UserCode_Bean_NumericTextField1" value="Bean_NumericTextField1"/>
<property name="Initializer" value="new com.adventnet.beans.text.NumericTextField();"/>
<property name="Minimum value" value="-92233720"/>
<property name="editable" value="false"/>
<property name="Layout Constraints" value="1,0,1,1,2,10,0,0,0.1,0.1,5,5,5,5"/>
<property name="DefaultSize" value="20,29"/>
<property name="InstanceName" value="NumericTextField1"/>
<property name="PropertyOrder" value=",enabled,editable,Minimum value,"/>
<property name="Bean Permissions" value="244"/>
<property name="enabled" value="false"/>
<property name="Panel" value="JPanel4"/>
<property name="ClassName" value="com.adventnet.beans.text.NumericTextField"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JLabel();"/>
<property name="UserCode_Bean_JLabel5" value="Bean_JLabel5"/>
<property name="font" value="SansSerif+0+12"/>
<property name="Layout Constraints" value="2,0,1,1,2,10,0,0,0.1,0.0,5,5,5,5"/>
<property name="DefaultSize" value="50,25"/>
<property name="InstanceName" value="JLabel5"/>
<property name="PropertyOrder" value=",horizontalAlignment,font,horizontalTextPosition,text,foreground,"/>
<property name="Bean Permissions" value="244"/>
<property name="foreground" value="-16764109"/>
<property name="Panel" value="JPanel4"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="horizontalTextPosition" value="4"/>
<property name="text" value="Day(s)."/>
<property name="horizontalAlignment" value="2"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JPanel();"/>
<property name="Layout Manager Constraints" value=""/>
<property name="Layout Constraints" value="0,3,1,1,2,10,0,0,0.01,0.01,0,5,5,5"/>
<property name="UserCode_Bean_JPanel5" value="Bean_JPanel5"/>
<property name="DefaultSize" value="318,73"/>
<property name="border" value="TitledBorder,[null],Password expiry for :,4,2,Dialog+1+12,-16777216"/>
<property name="Layout Manager" value="GridBag Layout"/>
<property name="InstanceName" value="JPanel5"/>
<property name="PropertyOrder" value=",border,"/>
<property name="Bean Permissions" value="252"/>
<property name="Panel" value="JPanel2"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JLabel();"/>
<property name="font" value="SansSerif+0+12"/>
<property name="UserCode_Bean_JLabel4" value="Bean_JLabel4"/>
<property name="Layout Constraints" value="0,0,1,1,2,10,0,0,0.1,0.1,5,5,5,5"/>
<property name="DefaultSize" value="193,25"/>
<property name="InstanceName" value="JLabel4"/>
<property name="PropertyOrder" value=",horizontalAlignment,font,horizontalTextPosition,text,foreground,"/>
<property name="Bean Permissions" value="244"/>
<property name="foreground" value="-16764109"/>
<property name="Panel" value="JPanel5"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="horizontalTextPosition" value="4"/>
<property name="text" value="The password expires in        "/>
<property name="horizontalAlignment" value="2"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new com.adventnet.beans.text.NumericTextField();"/>
<property name="Minimum value" value="-92233720"/>
<property name="editable" value="false"/>
<property name="Layout Constraints" value="1,0,1,1,2,10,0,0,0.1,0.1,5,5,5,5"/>
<property name="DefaultSize" value="20,29"/>
<property name="InstanceName" value="NumericTextField2"/>
<property name="PropertyOrder" value=",enabled,editable,Minimum value,"/>
<property name="Bean Permissions" value="244"/>
<property name="enabled" value="false"/>
<property name="Panel" value="JPanel5"/>
<property name="ClassName" value="com.adventnet.beans.text.NumericTextField"/>
<property name="UserCode_Bean_NumericTextField2" value="Bean_NumericTextField2"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JLabel();"/>
<property name="UserCode_Bean_JLabel6" value="Bean_JLabel6"/>
<property name="font" value="SansSerif+0+12"/>
<property name="Layout Constraints" value="2,0,1,1,2,10,0,0,0.1,0.1,5,5,5,5"/>
<property name="DefaultSize" value="57,25"/>
<property name="InstanceName" value="JLabel6"/>
<property name="PropertyOrder" value=",horizontalAlignment,font,horizontalTextPosition,text,foreground,"/>
<property name="Bean Permissions" value="244"/>
<property name="foreground" value="-16764109"/>
<property name="Panel" value="JPanel5"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="horizontalTextPosition" value="4"/>
<property name="text" value="Days(s)."/>
<property name="horizontalAlignment" value="2"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JPanel();"/>
<property name="Layout Manager Constraints" value=""/>
<property name="UserCode_Bean_JPanel6" value="Bean_JPanel6"/>
<property name="Layout Constraints" value="0,1,1,1,2,10,0,0,0.01,0.01,0,5,5,5"/>
<property name="DefaultSize" value="310,84"/>
<property name="border" value="TitledBorder,[null],Status for the User :,4,2,Dialog+1+12,-16777216"/>
<property name="Layout Manager" value="GridBag Layout"/>
<property name="InstanceName" value="JPanel6"/>
<property name="PropertyOrder" value=",border,"/>
<property name="Bean Permissions" value="255"/>
<property name="Panel" value="JPanel2"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JLabel();"/>
<property name="font" value="Dialog+0+12"/>
<property name="Layout Constraints" value="0,0,1,1,2,10,0,0,0.01,0.0,0,5,5,5"/>
<property name="DefaultSize" value="182,45"/>
<property name="UserCode_Bean_JLabel1" value="Bean_JLabel1"/>
<property name="InstanceName" value="JLabel1"/>
<property name="PropertyOrder" value=",font,foreground,text,"/>
<property name="Bean Permissions" value="247"/>
<property name="foreground" value="-16764109"/>
<property name="Panel" value="JPanel6"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="text" value="Current status of the user     "/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="UserCode_Bean_JLabel8" value="Bean_JLabel8"/>
<property name="Initializer" value="new javax.swing.JLabel();"/>
<property name="Layout Constraints" value="2,0,1,1,1,10,0,0,0.01,0.01,0,5,5,5"/>
<property name="DefaultSize" value="60,25"/>
<property name="InstanceName" value="JLabel8"/>
<property name="PropertyOrder" value=",text,"/>
<property name="Bean Permissions" value="247"/>
<property name="Panel" value="JPanel6"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="text" value="             "/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JTextField();"/>
<property name="editable" value="false"/>
<property name="Layout Constraints" value="1,0,1,1,2,10,0,0,0.0080,0.0,0,5,5,5"/>
<property name="DefaultSize" value="20,29"/>
<property name="InstanceName" value="JTextField1"/>
<property name="PropertyOrder" value=",editable,enabled,preferredSize,"/>
<property name="Bean Permissions" value="247"/>
<property name="preferredSize" value="40,21"/>
<property name="enabled" value="false"/>
<property name="Panel" value="JPanel6"/>
<property name="ClassName" value="javax.swing.JTextField"/>
<property name="UserCode_Bean_JTextField1" value="Bean_JTextField1"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JPanel();"/>
<property name="PopupMenu" value="none"/>
<property name="Layout Manager Constraints" value=""/>
<property name="Layout Constraints" value="0,0,1,1,2,10,0,0,0.01,0.01,0,5,5,5"/>
<property name="DefaultSize" value="304,73"/>
<property name="border" value="TitledBorder,[null],Full Name of the User :,0,2,Dialog+0+12,-16777216"/>
<property name="UserCode_Bean_JPanel41" value="Bean_JPanel41"/>
<property name="Layout Manager" value="GridBag Layout"/>
<property name="InstanceName" value="JPanel41"/>
<property name="PropertyOrder" value=",border,"/>
<property name="Bean Permissions" value="252"/>
<property name="Panel" value="JPanel2"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JLabel();"/>
<property name="font" value="SansSerif+0+12"/>
<property name="Layout Constraints" value="0,0,1,1,2,10,0,0,0.1,0.1,5,5,5,5"/>
<property name="DefaultSize" value="186,25"/>
<property name="UserCode_Bean_JLabel31" value="Bean_JLabel31"/>
<property name="InstanceName" value="JLabel31"/>
<property name="PropertyOrder" value=",horizontalAlignment,font,horizontalTextPosition,foreground,text,"/>
<property name="Bean Permissions" value="244"/>
<property name="foreground" value="-16764109"/>
<property name="Panel" value="JPanel41"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="horizontalTextPosition" value="4"/>
<property name="text" value="Full name of the user"/>
<property name="horizontalAlignment" value="2"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JTextField();"/>
<property name="editable" value="false"/>
<property name="Layout Constraints" value="1,0,2,1,2,10,0,0,0.249,0.1,5,5,5,5"/>
<property name="DefaultSize" value="20,29"/>
<property name="InstanceName" value="FullNameTextField1"/>
<property name="PropertyOrder" value=",enabled,editable,"/>
<property name="Bean Permissions" value="244"/>
<property name="enabled" value="false"/>
<property name="UserCode_Bean_FullNameTextField1" value="Bean_FullNameTextField1"/>
<property name="Panel" value="JPanel41"/>
<property name="ClassName" value="javax.swing.JTextField"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JPanel();"/>
<property name="Layout Manager Constraints" value=""/>
<property name="Layout Constraints" value="South"/>
<property name="DefaultSize" value="1038,106"/>
<property name="UserCode_Bean_JPanel3" value="Bean_JPanel3"/>
<property name="Layout Manager" value="GridBag Layout"/>
<property name="PaddingSize" value="629,0"/>
<property name="InstanceName" value="JPanel3"/>
<property name="Bean Permissions" value="252"/>
<property name="Panel" value="JPanel1"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JLabel();"/>
<property name="font" value="SansSerif+0+12"/>
<property name="Layout Constraints" value="0,0,1,1,1,11,0,0,0.01,0.01,5,5,5,5"/>
<property name="DefaultSize" value="76,88"/>
<property name="UserCode_Bean_JLabel2" value="Bean_JLabel2"/>
<property name="InstanceName" value="JLabel2"/>
<property name="PropertyOrder" value=",horizontalAlignment,font,horizontalTextPosition,text,foreground,"/>
<property name="Bean Permissions" value="244"/>
<property name="foreground" value="-16764109"/>
<property name="Panel" value="JPanel3"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="horizontalTextPosition" value="4"/>
<property name="text" value="&lt;html&gt;&lt;body&gt;&lt;font face=&quot;sansserif,SansSerif&quot;&gt;&lt;font size=3&gt;   Please enter the number of days in which  &lt;br&gt;&lt;font face=&quot;sansserif,SansSerif&quot;&gt;    the user and/or the password expires...&lt;/font&gt;&lt;br&gt;&lt;br&gt;&lt;font face=&quot;san sserif,SansSerif&quot;&gt;   A value of zero indicates no expiry. &lt;/font&gt;&lt;/body&gt;&lt;/html&gt;"/>
<property name="horizontalAlignment" value="2"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="UserCode_Bean_JButton1" value="Bean_JButton1"/>
<property name="Initializer" value="new javax.swing.JButton();"/>
<property name="font" value="Dialog+0+12"/>
<property name="Layout Constraints" value="1,0,1,1,0,14,0,0,0.01,0.0,5,5,5,5"/>
<property name="DefaultSize" value="131,35"/>
<property name="InstanceName" value="JButton1"/>
<property name="PropertyOrder" value=",font,text,"/>
<property name="Bean Permissions" value="247"/>
<property name="Panel" value="JPanel3"/>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="text" value="Setting Profile"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="PopupMenu" value="none"/>
<property name="Layout Manager Constraints" value=""/>
<property name="UserCode_Bean_JPanel111" value="Bean_JPanel111"/>
<property name="Layout Constraints" value="JPanel111,null,null,2"/>
<property name="DefaultSize" value="351,252"/>
<property name="border" value="TitledBorder,[null],null,4,2,Dialog+1+12,-16777216"/>
<property name="Layout Manager" value="GridBag Layout"/>
<property name="InstanceName" value="JPanel111"/>
<property name="PropertyOrder" value=",border,"/>
<property name="Bean Permissions" value="252"/>
<property name="Panel" value="JTabbedPane1"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JButton();"/>
<property name="font" value="SansSerif+0+12"/>
<property name="Layout Constraints" value="0,2,1,1,0,13,0,0,0.0,0.0,5,5,5,5"/>
<property name="DefaultSize" value="141,35"/>
<property name="InstanceName" value="JButton31"/>
<property name="PropertyOrder" value=",font,horizontalTextPosition,text,"/>
<property name="Bean Permissions" value="247"/>
<property name="Panel" value="JPanel111"/>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="horizontalTextPosition" value="4"/>
<property name="UserCode_Bean_JButton31" value="Bean_JButton31"/>
<property name="text" value="Set Permissions"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JScrollPane();"/>
<property name="Layout Manager Constraints" value=""/>
<property name="Layout Constraints" value="0,0,1,2,1,10,0,0,0.05,0.1,5,5,5,5"/>
<property name="UserCode_Bean_JScrollPane2111" value="Bean_JScrollPane2111"/>
<property name="DefaultSize" value="30,30"/>
<property name="Layout Manager" value="Viewport Layout"/>
<property name="InstanceName" value="JScrollPane2111"/>
<property name="Bean Permissions" value="255"/>
<property name="Panel" value="JPanel111"/>
<property name="ClassName" value="javax.swing.JScrollPane"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new com.adventnet.beans.table.SortTable();"/>
<property name="DefaultSize" value="20,20"/>
<property name="model" value="SortTableModel2$BEAN"/>
<property name="InstanceName" value="SortTable111"/>
<property name="UserCode_Bean_SortTable111" value="Bean_SortTable111"/>
<property name="PropertyOrder" value=",model,"/>
<property name="Bean Permissions" value="247"/>
<property name="Panel" value="JScrollPane2111"/>
<property name="ClassName" value="com.adventnet.beans.table.SortTable"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.DefaultListModel();"/>
<property name="Layout Constraints" value="BOTTOM"/>
<property name="DefaultSize" value="104,25"/>
<property name="InstanceName" value="GroupModel"/>
<property name="Bean Permissions" value="247"/>
<property name="UserCode_Bean_GroupModel" value="Bean_GroupModel"/>
<property name="Panel" value="Bottom"/>
<property name="ClassName" value="javax.swing.DefaultListModel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.DefaultListModel();"/>
<property name="UserCode_Bean_AllGroups" value="Bean_AllGroups"/>
<property name="Layout Constraints" value="BOTTOM"/>
<property name="DefaultSize" value="86,25"/>
<property name="InstanceName" value="AllGroups"/>
<property name="Bean Permissions" value="247"/>
<property name="Panel" value="Bottom"/>
<property name="ClassName" value="javax.swing.DefaultListModel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new com.adventnet.beans.table.SortTableModel();"/>
<property name="UserCode_Bean_SortTableModel1" value="Bean_SortTableModel1"/>
<property name="Layout Constraints" value="BOTTOM"/>
<property name="DefaultSize" value="141,25"/>
<property name="InstanceName" value="SortTableModel1"/>
<property name="Bean Permissions" value="247"/>
<property name="Panel" value="Bottom"/>
<property name="ClassName" value="com.adventnet.beans.table.SortTableModel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new com.adventnet.beans.table.SortTableModel();"/>
<property name="UserCode_Bean_SortTableModel2" value="Bean_SortTableModel2"/>
<property name="Layout Constraints" value="BOTTOM"/>
<property name="DefaultSize" value="141,25"/>
<property name="InstanceName" value="SortTableModel2"/>
<property name="Bean Permissions" value="247"/>
<property name="Panel" value="Bottom"/>
<property name="ClassName" value="com.adventnet.beans.table.SortTableModel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new com.adventnet.beans.table.SortTableModel();"/>
<property name="UserCode_Bean_SortTableModel3" value="Bean_SortTableModel3"/>
<property name="Layout Constraints" value="BOTTOM"/>
<property name="DefaultSize" value="128,25"/>
<property name="InstanceName" value="SortTableModel3"/>
<property name="Bean Permissions" value="247"/>
<property name="Panel" value="Bottom"/>
<property name="ClassName" value="com.adventnet.beans.table.SortTableModel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="PopupMenu" value="none"/>
<property name="Layout Manager Constraints" value=""/>
<property name="Layout Constraints" value="BOTTOM"/>
<property name="DefaultSize" value="351,252"/>
<property name="border" value="TitledBorder,[null],null,4,2,Dialog+1+12,-16777216"/>
<property name="UserCode_Bean_JPanel11" value="Bean_JPanel11"/>
<property name="Layout Manager" value="GridBag Layout"/>
<property name="InstanceName" value="JPanel11"/>
<property name="PropertyOrder" value=",border,enabled,"/>
<property name="Bean Permissions" value="255"/>
<property name="enabled" value="false"/>
<property name="Panel" value="Bottom"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JButton();"/>
<property name="font" value="SansSerif+0+12"/>
<property name="Layout Constraints" value="0,2,1,1,0,13,0,0,0.0,0.0,5,5,5,5"/>
<property name="DefaultSize" value="141,35"/>
<property name="InstanceName" value="JButton3"/>
<property name="PropertyOrder" value=",font,horizontalTextPosition,text,"/>
<property name="Bean Permissions" value="247"/>
<property name="Panel" value="JPanel11"/>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="horizontalTextPosition" value="4"/>
<property name="text" value="Clear Trails"/>
<property name="UserCode_Bean_JButton3" value="Bean_JButton3"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JScrollPane();"/>
<property name="Layout Manager Constraints" value=""/>
<property name="Layout Constraints" value="0,0,1,2,1,10,0,0,0.05,0.1,5,5,5,5"/>
<property name="DefaultSize" value="30,30"/>
<property name="Layout Manager" value="Viewport Layout"/>
<property name="InstanceName" value="JScrollPane211"/>
<property name="Bean Permissions" value="255"/>
<property name="UserCode_Bean_JScrollPane211" value="Bean_JScrollPane211"/>
<property name="Panel" value="JPanel11"/>
<property name="ClassName" value="javax.swing.JScrollPane"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new com.adventnet.beans.table.SortTable();"/>
<property name="DefaultSize" value="20,20"/>
<property name="model" value="SortTableModel3$BEAN"/>
<property name="InstanceName" value="SortTable11"/>
<property name="PropertyOrder" value=",model,"/>
<property name="Bean Permissions" value="247"/>
<property name="Panel" value="JScrollPane211"/>
<property name="ClassName" value="com.adventnet.beans.table.SortTable"/>
<property name="UserCode_Bean_SortTable11" value="Bean_SortTable11"/>
<property name="Modifiers" value=""/>
</bean>
<property name="Import Code" value=""/>
<property name="Variable Definitions" value=""/>
<property name="Version" value="4.4"/>
<property name="Screen Height" value="443"/>
<property name="Start Commands" value=""/>
<property name="Type" value="Panel"/>
<property name="FileVersion" value="17"/>
<connection>
<property name="ConnectionType" value="1"/>
<property name="ClassHeader" value="&#10; class JButton3_SortTableModel3_conn implements java.awt.event.ActionListener, java.io.Serializable &#10;  {&#10;&#10;     //&lt;TOP_PART&gt;&#10;"/>
<property name="NeedsCompilation" value="false"/>
<property name="Targets" value="SortTableModel3-TARGET"/>
<property name="Sources" value=""/>
<property name="ConnectionName" value="JButton3_SortTableModel3_conn"/>
<property name="ConnectionClass" value="java.awt.event.ActionListener"/>
<property name="UserCode_Connection_JButton3_SortTableModel3_conn" value="Connection_JButton3_SortTableModel3_conn"/>
<property name="Connection_Version" value="1"/>
<property name="ListenerMethodName" value="actionPerformed"/>
</connection>
<connection>
<property name="ConnectionType" value="1"/>
<property name="UserCode_Connection_JButton31_JButton31_conn" value="Connection_JButton31_JButton31_conn"/>
<property name="ClassHeader" value="&#10; class JButton31_JButton31_conn implements java.awt.event.ActionListener, java.io.Serializable &#10;  {&#10;&#10;     //&lt;TOP_PART&gt;&#10;"/>
<property name="NeedsCompilation" value="false"/>
<property name="Targets" value="JButton31-TARGET"/>
<property name="Sources" value="JButton31-action-false"/>
<property name="ConnectionName" value="JButton31_JButton31_conn"/>
<property name="ConnectionClass" value="java.awt.event.ActionListener"/>
<property name="Connection_Version" value="1"/>
<property name="ListenerMethodName" value="actionPerformed"/>
</connection>
<connection>
<property name="ConnectionType" value="1"/>
<property name="ClassHeader" value="&#10; class JButton4_JButton4_conn1 implements java.awt.event.ActionListener, java.io.Serializable &#10;  {&#10;&#10;     //&lt;TOP_PART&gt;&#10;"/>
<property name="NeedsCompilation" value="false"/>
<property name="Targets" value="JButton4-TARGET"/>
<property name="Sources" value="JButton4-action-false"/>
<property name="ConnectionName" value="JButton4_JButton4_conn1"/>
<property name="ConnectionClass" value="java.awt.event.ActionListener"/>
<property name="Connection_Version" value="1"/>
<property name="ListenerMethodName" value="actionPerformed"/>
<property name="UserCode_Connection_JButton4_JButton4_conn1" value="Connection_JButton4_JButton4_conn1"/>
</connection>
<connection>
<property name="ConnectionType" value="1"/>
<property name="ClassHeader" value="&#10; class JButton1_JButton1_conn1 implements java.awt.event.ActionListener, java.io.Serializable &#10;  {&#10;&#10;     //&lt;TOP_PART&gt;&#10;"/>
<property name="NeedsCompilation" value="false"/>
<property name="Targets" value="JButton1-TARGET"/>
<property name="Sources" value="JButton1-action-false"/>
<property name="ConnectionName" value="JButton1_JButton1_conn1"/>
<property name="ConnectionClass" value="java.awt.event.ActionListener"/>
<property name="Connection_Version" value="1"/>
<property name="ListenerMethodName" value="actionPerformed"/>
<property name="UserCode_Connection_JButton1_JButton1_conn1" value="Connection_JButton1_JButton1_conn1"/>
</connection>
<property name="MenuBarPresent" value="false"/>
<property name="GenSource" value="true"/>
<property name="Custom Code" value=""/>
<property name="Dummy Interface" value=""/>
<property name="ScreenTitle" value=""/>
<property name="ToolBarPresent" value="true"/>
<property name="HorizontalSplitPanePos" value="238.0"/>
<property name="SubVersion" value="4.4"/>
<property name="LookAndFeel" value="None"/>
</screen>

