<?xml version="1.0" encoding="ISO-8859-1"?>
<screen conversionType="Hash">
<property name="Screen Width" value="460"/>
<property name="Initialize Commands" value=""/>
<property name="screenTitle" value="Assign Permissions"/>
<bean>
<property name="UserCode_Bean_Top" value="Bean_Top"/>
<property name="InstanceName" value="Top"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Layout Manager" value="Border Layout"/>
<property name="Panel" value="container"/>
<property name="Layout Constraints" value="Center"/>
<property name="Layout Manager Constraints" value="5,5"/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JScrollPane();"/>
<property name="background" value="-1"/>
<property name="Layout Manager Constraints" value=""/>
<property name="Layout Constraints" value="Center"/>
<property name="DefaultSize" value="164,316"/>
<property name="border" value="TitledBorder,[null],Allow / Disallow,4,2,Dialog+1+12,-10066279"/>
<property name="Layout Manager" value="Viewport Layout"/>
<property name="PaddingSize" value="3,3"/>
<property name="InstanceName" value="JScrollPane1"/>
<property name="PropertyOrder" value=",border,background,"/>
<property name="Bean Permissions" value="252"/>
<property name="UserCode_Bean_JScrollPane1" value="Bean_JScrollPane1"/>
<property name="ClassName" value="javax.swing.JScrollPane"/>
<property name="Panel" value="Top"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JTree();"/>
<property name="PopupMenu" value="none"/>
<property name="doubleBuffered" value="true"/>
<property name="DefaultSize" value="128,264"/>
<property name="InstanceName" value="JTree1"/>
<property name="PropertyOrder" value=",doubleBuffered,largeModel,rootVisible,foreground,"/>
<property name="Bean Permissions" value="244"/>
<property name="UserCode_Bean_JTree1" value="Bean_JTree1"/>
<property name="foreground" value="-16777216"/>
<property name="ClassName" value="javax.swing.JTree"/>
<property name="Panel" value="JScrollPane1"/>
<property name="largeModel" value="true"/>
<property name="rootVisible" value="false"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JPanel();"/>
<property name="PopupMenu" value="none"/>
<property name="Layout Manager Constraints" value="5,5,2"/>
<property name="Layout Constraints" value="South"/>
<property name="DefaultSize" value="570,53"/>
<property name="Layout Manager" value="Flow Layout"/>
<property name="UserCode_Bean_JPanel1" value="Bean_JPanel1"/>
<property name="PaddingSize" value="209,0"/>
<property name="InstanceName" value="JPanel1"/>
<property name="Bean Permissions" value="252"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Panel" value="Top"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="UserCode_Bean_JButton2" value="Bean_JButton2"/>
<property name="Initializer" value="new javax.swing.JButton();"/>
<property name="Layout Constraints" value="0"/>
<property name="toolTipText" value="Reset"/>
<property name="DefaultSize" value="111,35"/>
<property name="PaddingSize" value="36,0"/>
<property name="InstanceName" value="JButton2"/>
<property name="PropertyOrder" value=",text,toolTipText,"/>
<property name="Bean Permissions" value="244"/>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="Panel" value="JPanel1"/>
<property name="text" value="Reset"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="UserCode_Bean_JButton1" value="Bean_JButton1"/>
<property name="Initializer" value="new javax.swing.JButton();"/>
<property name="Layout Constraints" value="1"/>
<property name="toolTipText" value="Done"/>
<property name="DefaultSize" value="111,35"/>
<property name="PaddingSize" value="40,0"/>
<property name="InstanceName" value="JButton1"/>
<property name="PropertyOrder" value=",text,enabled,toolTipText,"/>
<property name="Bean Permissions" value="244"/>
<property name="enabled" value="false"/>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="Panel" value="JPanel1"/>
<property name="text" value="Done"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JButton();"/>
<property name="PopupMenu" value="none"/>
<property name="Layout Constraints" value="2"/>
<property name="toolTipText" value="Cancel"/>
<property name="DefaultSize" value="111,35"/>
<property name="PaddingSize" value="30,0"/>
<property name="InstanceName" value="JButton3"/>
<property name="PropertyOrder" value=",text,toolTipText,"/>
<property name="Bean Permissions" value="244"/>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="Panel" value="JPanel1"/>
<property name="text" value="Cancel"/>
<property name="UserCode_Bean_JButton3" value="Bean_JButton3"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JPanel();"/>
<property name="PopupMenu" value="none"/>
<property name="Layout Manager Constraints" value="20,3,2"/>
<property name="Layout Constraints" value="North"/>
<property name="DefaultSize" value="457,53"/>
<property name="UserCode_Bean_JPanel2" value="Bean_JPanel2"/>
<property name="Layout Manager" value="Flow Layout"/>
<property name="PaddingSize" value="0,7"/>
<property name="InstanceName" value="JPanel2"/>
<property name="Bean Permissions" value="252"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Panel" value="Top"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="foreground" value="-16777216"/>
<property name="Modifiers" value=""/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="PropertyOrder" value=",horizontalAlignment,font,foreground,background,text,"/>
<property name="DefaultSize" value="299,28"/>
<property name="PopupMenu" value="none"/>
<property name="text" value="Permissions tree hierarchy        "/>
<property name="Initializer" value="new javax.swing.JLabel();"/>
<property name="font" value="Dialog+1+14"/>
<property name="InstanceName" value="JLabel1"/>
<property name="horizontalAlignment" value="0"/>
<property name="Panel" value="JPanel2"/>
<property name="background" value="-1"/>
<property name="Layout Constraints" value="0"/>
<property name="UserCode_Bean_JLabel1" value="Bean_JLabel1"/>
<property name="PaddingSize" value="70,0"/>
<property name="Bean Permissions" value="244"/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JButton();"/>
<property name="PopupMenu" value="none"/>
<property name="Layout Constraints" value="1"/>
<property name="UserCode_Bean_JLabel3" value="Bean_JLabel3"/>
<property name="toolTipText" value="Collapse"/>
<property name="DefaultSize" value="35,32"/>
<property name="PaddingSize" value="12,0"/>
<property name="InstanceName" value="JLabel3"/>
<property name="PropertyOrder" value=",toolTipText,preferredSize,focusPainted,"/>
<property name="Bean Permissions" value="244"/>
<property name="preferredSize" value="15,24"/>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="Panel" value="JPanel2"/>
<property name="focusPainted" value="false"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="foreground" value="-16777216"/>
<property name="Modifiers" value=""/>
<property name="preferredSize" value="15,24"/>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="PropertyOrder" value=",font,foreground,horizontalAlignment,preferredSize,focusPainted,toolTipText,text,"/>
<property name="focusPainted" value="false"/>
<property name="DefaultSize" value="35,32"/>
<property name="PopupMenu" value="none"/>
<property name="text" value="?"/>
<property name="Initializer" value="new javax.swing.JButton();"/>
<property name="font" value="Dialog+1+14"/>
<property name="InstanceName" value="JLabel2"/>
<property name="horizontalAlignment" value="0"/>
<property name="toolTipText" value="Help"/>
<property name="Panel" value="JPanel2"/>
<property name="Layout Constraints" value="2"/>
<property name="UserCode_Bean_JLabel2" value="Bean_JLabel2"/>
<property name="PaddingSize" value="12,0"/>
<property name="Bean Permissions" value="244"/>
</bean>
<property name="Import Code" value=""/>
<property name="Variable Definitions" value=""/>
<property name="Version" value="4.4"/>
<property name="Screen Height" value="477"/>
<property name="Start Commands" value=""/>
<property name="Type" value="Dialog"/>
<connection>
<property name="ConnectionType" value="1"/>
<property name="ClassHeader" value="&#10; class JLabel3_JLabel3_conn1 extends java.awt.event.MouseAdapter implements java.io.Serializable &#10;  {&#10;&#10;     //&lt;TOP_PART&gt;&#10;"/>
<property name="NeedsCompilation" value="false"/>
<property name="Targets" value="JLabel3-TARGET"/>
<property name="Sources" value="JLabel3-mouse-false"/>
<property name="ConnectionName" value="JLabel3_JLabel3_conn1"/>
<property name="ConnectionClass" value="java.awt.event.MouseAdapter"/>
<property name="Connection_Version" value="1"/>
<property name="ListenerMethodName" value="mousePressed"/>
<property name="UserCode_Connection_JLabel3_JLabel3_conn1" value="Connection_JLabel3_JLabel3_conn1"/>
</connection>
<connection>
<property name="ConnectionType" value="1"/>
<property name="ClassHeader" value="&#10; class JButton2_JButton2_conn1 implements java.awt.event.ActionListener, java.io.Serializable &#10;  {&#10;&#10;     //&lt;TOP_PART&gt;&#10;"/>
<property name="NeedsCompilation" value="false"/>
<property name="Targets" value="JButton2-TARGET"/>
<property name="UserCode_Connection_JButton2_JButton2_conn1" value="Connection_JButton2_JButton2_conn1"/>
<property name="Sources" value="JButton2-action-false"/>
<property name="ConnectionName" value="JButton2_JButton2_conn1"/>
<property name="ConnectionClass" value="java.awt.event.ActionListener"/>
<property name="Connection_Version" value="1"/>
<property name="ListenerMethodName" value="actionPerformed"/>
</connection>
<connection>
<property name="ConnectionType" value="1"/>
<property name="ClassHeader" value="&#10; class JPanel1_JPanel1_conn1 extends java.awt.event.MouseAdapter implements java.io.Serializable &#10;  {&#10;&#10;     //&lt;TOP_PART&gt;&#10;"/>
<property name="NeedsCompilation" value="false"/>
<property name="Targets" value="JPanel1-TARGET,JPanel2-USED_BEAN"/>
<property name="UserCode_Connection_JPanel1_JPanel1_conn1" value="Connection_JPanel1_JPanel1_conn1"/>
<property name="Sources" value="JPanel1-mouse-false"/>
<property name="ConnectionName" value="JPanel1_JPanel1_conn1"/>
<property name="ConnectionClass" value="java.awt.event.MouseAdapter"/>
<property name="Connection_Version" value="1"/>
<property name="ListenerMethodName" value="mousePressed"/>
</connection>
<connection>
<property name="ConnectionType" value="1"/>
<property name="UserCode_Connection_JButton3_JButton3_conn1" value="Connection_JButton3_JButton3_conn1"/>
<property name="ClassHeader" value="&#10; class JButton3_JButton3_conn1 implements java.awt.event.ActionListener, java.io.Serializable &#10;  {&#10;&#10;     //&lt;TOP_PART&gt;&#10;"/>
<property name="NeedsCompilation" value="false"/>
<property name="Targets" value="JButton3-TARGET"/>
<property name="Sources" value="JButton3-action-false"/>
<property name="ConnectionName" value="JButton3_JButton3_conn1"/>
<property name="ConnectionClass" value="java.awt.event.ActionListener"/>
<property name="Connection_Version" value="1"/>
<property name="ListenerMethodName" value="actionPerformed"/>
</connection>
<connection>
<property name="ConnectionType" value="1"/>
<property name="UserCode_Connection_JTree1_JTree1_conn2" value="Connection_JTree1_JTree1_conn2"/>
<property name="ClassHeader" value="&#10; class JTree1_JTree1_conn2 extends java.awt.event.MouseMotionAdapter implements java.io.Serializable &#10;  {&#10;&#10;     //&lt;TOP_PART&gt;&#10;"/>
<property name="NeedsCompilation" value="false"/>
<property name="Targets" value="JTree1-TARGET"/>
<property name="Sources" value="JTree1-mouseMotion-false"/>
<property name="ConnectionName" value="JTree1_JTree1_conn2"/>
<property name="ConnectionClass" value="java.awt.event.MouseMotionAdapter"/>
<property name="Connection_Version" value="1"/>
<property name="ListenerMethodName" value="mouseMoved"/>
</connection>
<connection>
<property name="ConnectionType" value="1"/>
<property name="ClassHeader" value="&#10; class JLabel2_JLabel2_conn1 extends java.awt.event.MouseAdapter implements java.io.Serializable &#10;  {&#10;&#10;     //&lt;TOP_PART&gt;&#10;"/>
<property name="NeedsCompilation" value="false"/>
<property name="Targets" value="JLabel2-TARGET"/>
<property name="Sources" value="JLabel2-mouse-false"/>
<property name="ConnectionName" value="JLabel2_JLabel2_conn1"/>
<property name="ConnectionClass" value="java.awt.event.MouseAdapter"/>
<property name="Connection_Version" value="1"/>
<property name="UserCode_Connection_JLabel2_JLabel2_conn1" value="Connection_JLabel2_JLabel2_conn1"/>
<property name="ListenerMethodName" value="mousePressed"/>
</connection>
<connection>
<property name="ConnectionType" value="1"/>
<property name="UserCode_Connection_JPanel2_JPanel2_conn1" value="Connection_JPanel2_JPanel2_conn1"/>
<property name="ClassHeader" value="&#10; class JPanel2_JPanel2_conn1 extends java.awt.event.MouseAdapter implements java.io.Serializable &#10;  {&#10;&#10;     //&lt;TOP_PART&gt;&#10;"/>
<property name="NeedsCompilation" value="false"/>
<property name="Targets" value="JPanel2-TARGET"/>
<property name="Sources" value="JPanel2-mouse-false"/>
<property name="ConnectionName" value="JPanel2_JPanel2_conn1"/>
<property name="ConnectionClass" value="java.awt.event.MouseAdapter"/>
<property name="Connection_Version" value="1"/>
<property name="ListenerMethodName" value="mousePressed"/>
</connection>
<connection>
<property name="ConnectionType" value="1"/>
<property name="ClassHeader" value=" class JTree1_JTree1_conn1 extends java.awt.event.MouseAdapter implements java.io.Serializable &#10;  {&#10;     //&lt;TOP_PART&gt;&#10;"/>
<property name="NeedsCompilation" value="false"/>
<property name="UserCode_Connection_JTree1_JTree1_conn1" value="Connection_JTree1_JTree1_conn1"/>
<property name="Targets" value="JTree1-TARGET"/>
<property name="Sources" value="JTree1-mouse-false"/>
<property name="ConnectionName" value="JTree1_JTree1_conn1"/>
<property name="ConnectionClass" value="java.awt.event.MouseAdapter"/>
<property name="Connection_Version" value="1"/>
<property name="ListenerMethodName" value="mousePressed"/>
</connection>
<connection>
<property name="ConnectionType" value="1"/>
<property name="ClassHeader" value="&#10; class JButton1_JButton1_conn1 implements java.awt.event.ActionListener, java.io.Serializable &#10;  {&#10;&#10;     //&lt;TOP_PART&gt;&#10;"/>
<property name="NeedsCompilation" value="false"/>
<property name="Targets" value="JButton1-TARGET"/>
<property name="Sources" value="JButton1-action-false"/>
<property name="ConnectionName" value="JButton1_JButton1_conn1"/>
<property name="ConnectionClass" value="java.awt.event.ActionListener"/>
<property name="Connection_Version" value="1"/>
<property name="ListenerMethodName" value="actionPerformed"/>
<property name="UserCode_Connection_JButton1_JButton1_conn1" value="Connection_JButton1_JButton1_conn1"/>
</connection>
<property name="MenuBarPresent" value="false"/>
<property name="Custom Code" value=""/>
<property name="GenSource" value="false"/>
<property name="Dummy Interface" value=""/>
<property name="ToolBarPresent" value="true"/>
<property name="HorizontalSplitPanePos" value="170.0"/>
<property name="SubVersion" value="4.4"/>
<property name="LookAndFeel" value="None"/>
</screen>
