<?xml version="1.0" encoding="ISO-8859-1"?>
<screen conversionType="Hash">
<property name="Screen Width" value="496"/>
<property name="Initialize Commands" value=""/>
<property name="screenTitle" value="new_screen1"/>
<bean>
<property name="PopupMenu" value="none"/>
<property name="Layout Manager Constraints" value=""/>
<property name="Layout Constraints" value="Center"/>
<property name="Layout Manager" value="GridBag Layout"/>
<property name="InstanceName" value="Top"/>
<property name="Panel" value="container"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="UserCode_Bean_Top" value="Bean_Top"/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JLabel();"/>
<property name="Layout Constraints" value="0,0,1,1,1,10,0,0,0.2,0.1,0,0,0,0"/>
<property name="minimumSize" value="110,325"/>
<property name="DefaultSize" value="118,333"/>
<property name="UserCode_Bean_JLabel1" value="Bean_JLabel1"/>
<property name="InstanceName" value="JLabel1"/>
<property name="PropertyOrder" value=",minimumSize,preferredSize,"/>
<property name="Bean Permissions" value="244"/>
<property name="preferredSize" value="110,325"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="Panel" value="Top"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JPanel();"/>
<property name="Layout Manager Constraints" value="5,5"/>
<property name="Layout Constraints" value="1,0,1,1,1,10,0,0,0.8,0.1,0,0,0,0"/>
<property name="DefaultSize" value="367,372"/>
<property name="border" value="EtchedBorder,1,null,null"/>
<property name="Layout Manager" value="Border Layout"/>
<property name="UserCode_Bean_JPanel1" value="Bean_JPanel1"/>
<property name="InstanceName" value="JPanel1"/>
<property name="PropertyOrder" value=",border,"/>
<property name="Bean Permissions" value="252"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Panel" value="Top"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JLabel();"/>
<property name="PopupMenu" value="none"/>
<property name="Layout Constraints" value="North"/>
<property name="DefaultSize" value="345,34"/>
<property name="UserCode_Bean_JLabel2" value="Bean_JLabel2"/>
<property name="PaddingSize" value="325,14"/>
<property name="InstanceName" value="JLabel2"/>
<property name="Bean Permissions" value="244"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="Panel" value="JPanel1"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JScrollPane();"/>
<property name="PopupMenu" value="none"/>
<property name="Layout Manager Constraints" value=""/>
<property name="Layout Constraints" value="Center"/>
<property name="DefaultSize" value="345,203"/>
<property name="Layout Manager" value="Viewport Layout"/>
<property name="PaddingSize" value="228,97"/>
<property name="InstanceName" value="JScrollPane1"/>
<property name="Bean Permissions" value="252"/>
<property name="UserCode_Bean_JScrollPane1" value="Bean_JScrollPane1"/>
<property name="ClassName" value="javax.swing.JScrollPane"/>
<property name="Panel" value="JPanel1"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JTree();"/>
<property name="PopupMenu" value="none"/>
<property name="DefaultSize" value="91,80"/>
<property name="InstanceName" value="JTree1"/>
<property name="PropertyOrder" value=",autoscrolls,largeModel,rootVisible,"/>
<property name="Bean Permissions" value="244"/>
<property name="UserCode_Bean_JTree1" value="Bean_JTree1"/>
<property name="autoscrolls" value="true"/>
<property name="ClassName" value="javax.swing.JTree"/>
<property name="Panel" value="JScrollPane1"/>
<property name="largeModel" value="true"/>
<property name="rootVisible" value="true"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JPanel();"/>
<property name="PopupMenu" value="none"/>
<property name="Layout Manager Constraints" value="5,5,3,1"/>
<property name="Layout Constraints" value="South"/>
<property name="DefaultSize" value="345,103"/>
<property name="UserCode_Bean_JPanel2" value="Bean_JPanel2"/>
<property name="Layout Manager" value="Grid Layout"/>
<property name="PaddingSize" value="89,10"/>
<property name="InstanceName" value="JPanel2"/>
<property name="Bean Permissions" value="252"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Panel" value="JPanel1"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JLabel();"/>
<property name="Layout Constraints" value="0"/>
<property name="UserCode_Bean_JLabel3" value="Bean_JLabel3"/>
<property name="DefaultSize" value="236,25"/>
<property name="InstanceName" value="JLabel3"/>
<property name="PropertyOrder" value=",text,"/>
<property name="Bean Permissions" value="244"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="Panel" value="JPanel2"/>
<property name="text" value="Not Selected Operations."/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JLabel();"/>
<property name="UserCode_Bean_JLabel4" value="Bean_JLabel4"/>
<property name="Layout Constraints" value="1"/>
<property name="DefaultSize" value="224,25"/>
<property name="InstanceName" value="JLabel4"/>
<property name="PropertyOrder" value=",text,"/>
<property name="Bean Permissions" value="244"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="Panel" value="JPanel2"/>
<property name="text" value="Denotes allowed operation."/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JLabel();"/>
<property name="UserCode_Bean_JLabel5" value="Bean_JLabel5"/>
<property name="Layout Constraints" value="2"/>
<property name="DefaultSize" value="248,25"/>
<property name="InstanceName" value="JLabel5"/>
<property name="PropertyOrder" value=",text,"/>
<property name="Bean Permissions" value="244"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="Panel" value="JPanel2"/>
<property name="text" value="Denotes disallowed operation."/>
<property name="Modifiers" value=""/>
</bean>
<property name="Import Code" value=""/>
<property name="Variable Definitions" value=""/>
<property name="Version" value="4.4"/>
<property name="Screen Height" value="332"/>
<property name="Start Commands" value=""/>
<property name="Type" value="Panel"/>
<connection>
<property name="ConnectionType" value="1"/>
<property name="UserCode_Connection_JTree1_JTree1_conn2" value="Connection_JTree1_JTree1_conn2"/>
<property name="ClassHeader" value="&#10; class JTree1_JTree1_conn2 extends java.awt.event.MouseAdapter implements java.io.Serializable &#10;  {&#10;&#10;     //&lt;TOP_PART&gt;&#10;"/>
<property name="NeedsCompilation" value="false"/>
<property name="Targets" value="JTree1-TARGET"/>
<property name="Sources" value="JTree1-mouse-false"/>
<property name="ConnectionName" value="JTree1_JTree1_conn2"/>
<property name="ConnectionClass" value="java.awt.event.MouseAdapter"/>
<property name="Connection_Version" value="1"/>
<property name="ListenerMethodName" value="mousePressed"/>
</connection>
<connection>
<property name="ConnectionType" value="1"/>
<property name="ClassHeader" value="&#10; class JTree1_JTree1_conn1 extends java.awt.event.MouseMotionAdapter implements java.io.Serializable &#10;  {&#10;&#10;     //&lt;TOP_PART&gt;&#10;"/>
<property name="NeedsCompilation" value="false"/>
<property name="UserCode_Connection_JTree1_JTree1_conn1" value="Connection_JTree1_JTree1_conn1"/>
<property name="Targets" value="JTree1-TARGET"/>
<property name="Sources" value="JTree1-mouseMotion-false"/>
<property name="ConnectionName" value="JTree1_JTree1_conn1"/>
<property name="ConnectionClass" value="java.awt.event.MouseMotionAdapter"/>
<property name="Connection_Version" value="1"/>
<property name="ListenerMethodName" value="mouseMoved"/>
</connection>
<property name="MenuBarPresent" value="true"/>
<property name="Custom Code" value=""/>
<property name="GenSource" value="false"/>
<property name="Dummy Interface" value=""/>
<property name="ToolBarPresent" value="true"/>
<property name="HorizontalSplitPanePos" value="170.0"/>
<property name="SubVersion" value="4.4"/>
<property name="LookAndFeel" value="None"/>
</screen>
