<?xml version="1.0" encoding="ISO-8859-1"?>
<screen conversionType="Hash">
<property name="Screen Width" value="507"/>
<property name="Initialize Commands" value=""/>
<property name="screenTitle" value="Views and Groups"/>
<bean>
<property name="UserCode_Bean_Top" value="Bean_Top"/>
<property name="InstanceName" value="Top"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Layout Manager" value="Border Layout"/>
<property name="Layout Constraints" value="Center"/>
<property name="Panel" value="container"/>
<property name="Layout Manager Constraints" value="5,5"/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="PopupMenu" value="none"/>
<property name="Layout Manager Constraints" value="15,10"/>
<property name="Layout Constraints" value="Center"/>
<property name="DefaultSize" value="583,272"/>
<property name="Layout Manager" value="Border Layout"/>
<property name="UserCode_Bean_JPanel1" value="Bean_JPanel1"/>
<property name="PaddingSize" value="10,80"/>
<property name="InstanceName" value="JPanel1"/>
<property name="Bean Permissions" value="252"/>
<property name="Panel" value="Top"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Manager Constraints" value=""/>
<property name="Layout Constraints" value="Center"/>
<property name="DefaultSize" value="461,95"/>
<property name="Layout Manager" value="Viewport Layout"/>
<property name="PaddingSize" value="413,47"/>
<property name="InstanceName" value="JScrollPane1"/>
<property name="Bean Permissions" value="252"/>
<property name="UserCode_Bean_JScrollPane1" value="Bean_JScrollPane1"/>
<property name="Panel" value="JPanel1"/>
<property name="ClassName" value="javax.swing.JScrollPane"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="rowHeight" value="22"/>
<property name="Initializer" value="new com.adventnet.beans.table.SortTable();"/>
<property name="PopupMenu" value="none"/>
<property name="DefaultSize" value="20,20"/>
<property name="model" value="ViewTableModel$BEAN"/>
<property name="InstanceName" value="JTable1"/>
<property name="PropertyOrder" value=",rowHeight,model,gridColor,"/>
<property name="Bean Permissions" value="244"/>
<property name="UserCode_Bean_JTable1" value="Bean_JTable1"/>
<property name="Panel" value="JScrollPane1"/>
<property name="gridColor" value="-8355712"/>
<property name="ClassName" value="com.adventnet.beans.table.SortTable"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="PopupMenu" value="none"/>
<property name="Layout Manager Constraints" value="5,15,2"/>
<property name="Layout Constraints" value="South"/>
<property name="UserCode_Bean_JPanel5" value="Bean_JPanel5"/>
<property name="DefaultSize" value="565,79"/>
<property name="border" value="EtchedBorder,1,null,null"/>
<property name="Layout Manager" value="Flow Layout"/>
<property name="PaddingSize" value="233,0"/>
<property name="InstanceName" value="JPanel5"/>
<property name="PropertyOrder" value=",border,"/>
<property name="Bean Permissions" value="252"/>
<property name="Panel" value="JPanel1"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="UserCode_Bean_JButton1" value="Bean_JButton1"/>
<property name="Initializer" value=""/>
<property name="font" value="Dialog+0+13"/>
<property name="Layout Constraints" value="0"/>
<property name="DefaultSize" value="100,37"/>
<property name="toolTipText" value="Add a group"/>
<property name="PaddingSize" value="35,0"/>
<property name="InstanceName" value="JButton1"/>
<property name="PropertyOrder" value=",text,toolTipText,font,"/>
<property name="Bean Permissions" value="244"/>
<property name="Panel" value="JPanel5"/>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="text" value="Add"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="font" value="Dialog+0+13"/>
<property name="Layout Constraints" value="1"/>
<property name="DefaultSize" value="100,37"/>
<property name="toolTipText" value="Select agroup to edit"/>
<property name="PaddingSize" value="35,0"/>
<property name="InstanceName" value="JButton3"/>
<property name="PropertyOrder" value=",text,toolTipText,font,"/>
<property name="Bean Permissions" value="244"/>
<property name="Panel" value="JPanel5"/>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="text" value="Edit"/>
<property name="UserCode_Bean_JButton3" value="Bean_JButton3"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="font" value="Dialog+0+13"/>
<property name="Layout Constraints" value="2"/>
<property name="DefaultSize" value="100,37"/>
<property name="toolTipText" value="Selected a group to delete."/>
<property name="PaddingSize" value="21,0"/>
<property name="InstanceName" value="JButton4"/>
<property name="PropertyOrder" value=",text,toolTipText,font,"/>
<property name="Bean Permissions" value="244"/>
<property name="Panel" value="JPanel5"/>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="text" value="Delete"/>
<property name="UserCode_Bean_JButton4" value="Bean_JButton4"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="font" value="Dialog+0+12"/>
<property name="Layout Constraints" value="North"/>
<property name="DefaultSize" value="491,65"/>
<property name="UserCode_Bean_JLabel1" value="Bean_JLabel1"/>
<property name="border" value="TitledBorder,[null],Views and Groups,4,2,Dialog+0+12,-16777216"/>
<property name="PaddingSize" value="104,12"/>
<property name="InstanceName" value="JLabel1"/>
<property name="PropertyOrder" value=",font,foreground,horizontalAlignment,text,border,"/>
<property name="Bean Permissions" value="244"/>
<property name="foreground" value="-16764109"/>
<property name="Panel" value="Top"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="horizontalAlignment" value="2"/>
<property name="text" value="Use the following  list to add or  edit a group and assign views for it."/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="PopupMenu" value="none"/>
<property name="Layout Manager Constraints" value="5,5"/>
<property name="Layout Constraints" value="South"/>
<property name="DefaultSize" value="549,209"/>
<property name="UserCode_Bean_JPanel2" value="Bean_JPanel2"/>
<property name="Layout Manager" value="Border Layout"/>
<property name="PaddingSize" value="10,10"/>
<property name="InstanceName" value="JPanel2"/>
<property name="Bean Permissions" value="252"/>
<property name="Panel" value="Top"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Manager Constraints" value="5,5,3,1"/>
<property name="Layout Constraints" value="Center"/>
<property name="DefaultSize" value="531,131"/>
<property name="UserCode_Bean_JPanel3" value="Bean_JPanel3"/>
<property name="border" value="TitledBorder,[null],Note,4,2,Dialog+0+12,-16777216"/>
<property name="Layout Manager" value="Grid Layout"/>
<property name="PaddingSize" value="10,10"/>
<property name="InstanceName" value="JPanel3"/>
<property name="PropertyOrder" value=",border,"/>
<property name="Bean Permissions" value="252"/>
<property name="Panel" value="JPanel2"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="font" value="Dialog+0+12"/>
<property name="Layout Constraints" value="0"/>
<property name="DefaultSize" value="500,25"/>
<property name="UserCode_Bean_JLabel2" value="Bean_JLabel2"/>
<property name="InstanceName" value="JLabel2"/>
<property name="PropertyOrder" value=",font,foreground,horizontalTextPosition,text,"/>
<property name="Bean Permissions" value="244"/>
<property name="foreground" value="-16764109"/>
<property name="Panel" value="JPanel3"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="horizontalTextPosition" value="0"/>
<property name="text" value="   The groups for which views are not associated cannot be deleted from here. You have to "/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="font" value="Dialog+0+12"/>
<property name="Layout Constraints" value="1"/>
<property name="UserCode_Bean_JLabel3" value="Bean_JLabel3"/>
<property name="DefaultSize" value="501,25"/>
<property name="InstanceName" value="JLabel3"/>
<property name="PropertyOrder" value=",font,foreground,horizontalTextPosition,text,"/>
<property name="Bean Permissions" value="244"/>
<property name="foreground" value="-16764109"/>
<property name="Panel" value="JPanel3"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="horizontalTextPosition" value="0"/>
<property name="text" value="   edit the users for which this group is present and disassociate the group from all of them"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="PopupMenu" value="none"/>
<property name="UserCode_Bean_JLabel4" value="Bean_JLabel4"/>
<property name="font" value="Dialog+0+12"/>
<property name="Layout Constraints" value="2"/>
<property name="DefaultSize" value="272,25"/>
<property name="InstanceName" value="JLabel4"/>
<property name="PropertyOrder" value=",font,foreground,text,"/>
<property name="Bean Permissions" value="244"/>
<property name="foreground" value="-16764109"/>
<property name="Panel" value="JPanel3"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="text" value="   You can only associate views for such groups ."/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Manager Constraints" value="5,5,2"/>
<property name="Layout Constraints" value="South"/>
<property name="DefaultSize" value="93,55"/>
<property name="UserCode_Bean_JPanel4" value="Bean_JPanel4"/>
<property name="Layout Manager" value="Flow Layout"/>
<property name="InstanceName" value="JPanel4"/>
<property name="Bean Permissions" value="252"/>
<property name="Panel" value="JPanel2"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="UserCode_Bean_JButton2" value="Bean_JButton2"/>
<property name="Initializer" value=""/>
<property name="PopupMenu" value="none"/>
<property name="font" value="Dialog+0+13"/>
<property name="Layout Constraints" value="0"/>
<property name="DefaultSize" value="75,37"/>
<property name="InstanceName" value="JButton2"/>
<property name="PropertyOrder" value=",text,font,"/>
<property name="Bean Permissions" value="244"/>
<property name="Panel" value="JPanel4"/>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="text" value="Close"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new com.adventnet.beans.table.SortTableModel();"/>
<property name="Layout Constraints" value="BOTTOM"/>
<property name="DefaultSize" value="101,25"/>
<property name="UserCode_Bean_ViewTableModel" value="Bean_ViewTableModel"/>
<property name="InstanceName" value="ViewTableModel"/>
<property name="Bean Permissions" value="244"/>
<property name="Panel" value="Bottom"/>
<property name="ClassName" value="com.adventnet.beans.table.SortTableModel"/>
<property name="Modifiers" value=""/>
</bean>
<property name="Import Code" value=""/>
<property name="Variable Definitions" value=""/>
<property name="Version" value="4.4"/>
<property name="Screen Height" value="482"/>
<property name="Start Commands" value=""/>
<property name="Type" value="Frame"/>
<connection>
<property name="ConnectionType" value="1"/>
<property name="ClassHeader" value="&#10; class JButton2_JButton2_conn1 implements java.awt.event.ActionListener, java.io.Serializable &#10;  {&#10;&#10;     //&lt;TOP_PART&gt;&#10;"/>
<property name="NeedsCompilation" value="false"/>
<property name="Targets" value="JButton2-TARGET"/>
<property name="UserCode_Connection_JButton2_JButton2_conn1" value="Connection_JButton2_JButton2_conn1"/>
<property name="Sources" value="JButton2-action-false"/>
<property name="ConnectionName" value="JButton2_JButton2_conn1"/>
<property name="ConnectionClass" value="java.awt.event.ActionListener"/>
<property name="Connection_Version" value="1"/>
<property name="ListenerMethodName" value="actionPerformed"/>
</connection>
<connection>
<property name="ConnectionType" value="1"/>
<property name="UserCode_Connection_JButton3_JButton3_conn1" value="Connection_JButton3_JButton3_conn1"/>
<property name="ClassHeader" value="&#10; class JButton3_JButton3_conn1 implements java.awt.event.ActionListener, java.io.Serializable &#10;  {&#10;&#10;     //&lt;TOP_PART&gt;&#10;"/>
<property name="NeedsCompilation" value="false"/>
<property name="Targets" value="JButton3-TARGET"/>
<property name="Sources" value="JButton3-action-false"/>
<property name="ConnectionName" value="JButton3_JButton3_conn1"/>
<property name="ConnectionClass" value="java.awt.event.ActionListener"/>
<property name="Connection_Version" value="1"/>
<property name="ListenerMethodName" value="actionPerformed"/>
</connection>
<connection>
<property name="ConnectionType" value="1"/>
<property name="ClassHeader" value="&#10; class JButton4_JButton4_conn1 implements java.awt.event.ActionListener, java.io.Serializable &#10;  {&#10;&#10;     //&lt;TOP_PART&gt;&#10;"/>
<property name="NeedsCompilation" value="false"/>
<property name="Targets" value="JButton4-TARGET"/>
<property name="Sources" value="JButton4-action-false"/>
<property name="ConnectionName" value="JButton4_JButton4_conn1"/>
<property name="ConnectionClass" value="java.awt.event.ActionListener"/>
<property name="Connection_Version" value="1"/>
<property name="ListenerMethodName" value="actionPerformed"/>
<property name="UserCode_Connection_JButton4_JButton4_conn1" value="Connection_JButton4_JButton4_conn1"/>
</connection>
<connection>
<property name="ConnectionType" value="1"/>
<property name="ClassHeader" value="&#10; class JButton1_JButton1_conn1 implements java.awt.event.ActionListener, java.io.Serializable &#10;  {&#10;&#10;     //&lt;TOP_PART&gt;&#10;"/>
<property name="NeedsCompilation" value="false"/>
<property name="Targets" value="JButton1-TARGET"/>
<property name="Sources" value="JButton1-action-false"/>
<property name="ConnectionName" value="JButton1_JButton1_conn1"/>
<property name="ConnectionClass" value="java.awt.event.ActionListener"/>
<property name="Connection_Version" value="1"/>
<property name="ListenerMethodName" value="actionPerformed"/>
<property name="UserCode_Connection_JButton1_JButton1_conn1" value="Connection_JButton1_JButton1_conn1"/>
</connection>
<property name="MenuBarPresent" value="true"/>
<property name="Custom Code" value=""/>
<property name="GenSource" value="false"/>
<property name="Dummy Interface" value=""/>
<property name="ToolBarPresent" value="true"/>
<property name="HorizontalSplitPanePos" value="170.0"/>
<property name="SubVersion" value="4.4"/>
<property name="LookAndFeel" value="None"/>
</screen>
