<?xml version="1.0" encoding="UTF-8"?>
<screen conversionType="Hash">
<property name="Version" value="4.4"/>
<property name="Type" value="Panel"/>
<property name="ScreenTitle" value=""/>
<property name="Screen Width" value="573"/>
<property name="SubVersion" value="4.4"/>
<property name="Screen Height" value="438"/>
<property name="HorizontalSplitPanePos" value="280.0"/>
<property name="FileVersion" value="10"/>
<property name="ToolBarPresent" value="true"/>
<property name="LookAndFeel" value="None"/>
<bean>
<property name="InstanceName" value="Top"/>
<property name="UserCode_Bean_components" value="Bean_components"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Layout Manager" value="GridBag Layout"/>
<property name="Layout Constraints" value="Center"/>
<property name="Panel" value="container"/>
<property name="Layout Manager Constraints" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JLabel();"/>
<property name="font" value="SansSerif+0+12"/>
<property name="Layout Constraints" value="0,0,1,1,0,17,0,0,0.0,0.0,0,5,5,0"/>
<property name="DefaultSize" value="113,25"/>
<property name="InstanceName" value="progressLabel"/>
<property name="PropertyOrder" value=",horizontalAlignment,font,foreground,horizontalTextPosition,"/>
<property name="Bean Permissions" value="247"/>
<property name="foreground" value="-16777216"/>
<property name="UserCode_Bean_progressLabel" value="Bean_progressLabel"/>
<property name="Panel" value="Top"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="horizontalTextPosition" value="4"/>
<property name="horizontalAlignment" value="2"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JProgressBar();"/>
<property name="UserCode_Bean_installProgressBar" value="Bean_installProgressBar"/>
<property name="font" value="SansSerif+0+12"/>
<property name="Layout Constraints" value="0,1,0,1,2,17,0,0,0.1,0.0,5,0,0,5"/>
<property name="DefaultSize" value="20,30"/>
<property name="InstanceName" value="installProgressBar"/>
<property name="PropertyOrder" value=",font,stringPainted,"/>
<property name="Bean Permissions" value="247"/>
<property name="Panel" value="Top"/>
<property name="ClassName" value="javax.swing.JProgressBar"/>
<property name="stringPainted" value="true"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JButton();"/>
<property name="font" value="SansSerif+0+12"/>
<property name="Layout Constraints" value="1,2,1,1,0,13,0,0,0.0,0.0,20,0,0,5"/>
<property name="DefaultSize" value="75,35"/>
<property name="UserCode_Bean_installBtn" value="Bean_installBtn"/>
<property name="InstanceName" value="installBtn"/>
<property name="PropertyOrder" value=",font,horizontalTextPosition,text,"/>
<property name="Bean Permissions" value="247"/>
<property name="Panel" value="Top"/>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="horizontalTextPosition" value="4"/>
<property name="text" value="Install"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new com.adventnet.beans.utilbeans.OptionDialogInformer();"/>
<property name="Layout Constraints" value="BOTTOM"/>
<property name="DefaultSize" value="136,25"/>
<property name="InstanceName" value="OptionDialogInformer1"/>
<property name="PropertyOrder" value=",Dialog type,Dialog Title,"/>
<property name="Dialog Title" value="Error"/>
<property name="Dialog type" value="1"/>
<property name="Bean Permissions" value="247"/>
<property name="Panel" value="Bottom"/>
<property name="ClassName" value="com.adventnet.beans.utilbeans.OptionDialogInformer"/>
<property name="UserCode_Bean_OptionDialogInformer1" value="Bean_OptionDialogInformer1"/>
<property name="Modifiers" value=""/>
</bean>
<property name="MenuBarPresent" value="false"/>
</screen>
