<?xml version="1.0" encoding="UTF-8"?>
<screen conversionType="Hash">
<property name="Version" value="4.4"/>
<property name="Type" value="Dialog"/>
<property name="ScreenTitle" value=""/>
<property name="Screen Width" value="634"/>
<property name="SubVersion" value="4.4"/>
<property name="Screen Height" value="456"/>
<property name="HorizontalSplitPanePos" value="289.0"/>
<property name="FileVersion" value="3"/>
<property name="ToolBarPresent" value="true"/>
<property name="LookAndFeel" value="None"/>
<bean>
<property name="InstanceName" value="Top"/>
<property name="UserCode_Bean_components" value="Bean_components"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Layout Manager" value="Border Layout"/>
<property name="Layout Constraints" value="Center"/>
<property name="Panel" value="container"/>
<property name="Layout Manager Constraints" value="5,5"/>
</bean>
<property name="MenuBarPresent" value="true"/>
</screen>
