<?xml version="1.0" encoding="UTF-8"?>
<screen conversionType="Hash">
<property name="Version" value="4.4"/>
<property name="Type" value="Application"/>
<connection>
<property name="ConnectionType" value="1"/>
<property name="ClassHeader" value="&#10; class closeBtn_closeBtn_conn implements java.awt.event.ActionListener, java.io.Serializable &#10;  {&#10;&#10;     //&lt;TOP_PART&gt;&#10;"/>
<property name="NeedsCompilation" value="false"/>
<property name="Targets" value="closeBtn-TARGET"/>
<property name="Sources" value="closeBtn-action-false"/>
<property name="ConnectionName" value="closeBtn_closeBtn_conn"/>
<property name="ConnectionClass" value="java.awt.event.ActionListener"/>
<property name="Connection_Version" value="1"/>
<property name="ListenerMethodName" value="actionPerformed"/>
<property name="UserCode_Connection_closeBtn_closeBtn_conn" value="Connection_closeBtn_closeBtn_conn"/>
</connection>
<connection>
<property name="UserCode_Connection_backBtn_backBtn_conn" value="Connection_backBtn_backBtn_conn"/>
<property name="ConnectionType" value="1"/>
<property name="ClassHeader" value="&#10; class backBtn_backBtn_conn implements java.awt.event.ActionListener, java.io.Serializable &#10;  {&#10;&#10;     //&lt;TOP_PART&gt;&#10;"/>
<property name="NeedsCompilation" value="false"/>
<property name="Targets" value="backBtn-TARGET"/>
<property name="Sources" value="backBtn-action-false"/>
<property name="ConnectionName" value="backBtn_backBtn_conn"/>
<property name="ConnectionClass" value="java.awt.event.ActionListener"/>
<property name="Connection_Version" value="1"/>
<property name="ListenerMethodName" value="actionPerformed"/>
</connection>
<connection>
<property name="ConnectionType" value="1"/>
<property name="ClassHeader" value="&#10; class nextBtn_nextBtn_conn implements java.awt.event.ActionListener, java.io.Serializable &#10;  {&#10;&#10;     //&lt;TOP_PART&gt;&#10;"/>
<property name="NeedsCompilation" value="false"/>
<property name="Targets" value="nextBtn-TARGET"/>
<property name="Sources" value="nextBtn-action-false"/>
<property name="ConnectionName" value="nextBtn_nextBtn_conn"/>
<property name="ConnectionClass" value="java.awt.event.ActionListener"/>
<property name="Connection_Version" value="1"/>
<property name="ListenerMethodName" value="actionPerformed"/>
<property name="UserCode_Connection_nextBtn_nextBtn_conn" value="Connection_nextBtn_nextBtn_conn"/>
</connection>
<property name="ScreenTitle" value=""/>
<property name="Screen Width" value="722"/>
<property name="SubVersion" value="4.4"/>
<property name="Screen Height" value="477"/>
<property name="HorizontalSplitPanePos" value="307.0"/>
<property name="FileVersion" value="44"/>
<property name="ToolBarPresent" value="true"/>
<property name="LookAndFeel" value="None"/>
<bean>
<property name="Layout Manager Constraints" value="5,5"/>
<property name="Layout Constraints" value="Center"/>
<property name="border" value="EmptyBorder,5,5,5,5"/>
<property name="Layout Manager" value="Border Layout"/>
<property name="InstanceName" value="Top"/>
<property name="PropertyOrder" value=",border,"/>
<property name="UserCode_Bean_components" value="Bean_components"/>
<property name="Panel" value="container"/>
<property name="ClassName" value="javax.swing.JPanel"/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JPanel();"/>
<property name="Layout Manager Constraints" value="5,5"/>
<property name="Layout Constraints" value="Center"/>
<property name="DefaultSize" value="957,636"/>
<property name="Layout Manager" value="Border Layout"/>
<property name="UserCode_Bean_JPanel1" value="Bean_JPanel1"/>
<property name="PaddingSize" value="148,10"/>
<property name="InstanceName" value="JPanel1"/>
<property name="Bean Permissions" value="252"/>
<property name="Panel" value="Top"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JPanel();"/>
<property name="Layout Manager Constraints" value="5,5"/>
<property name="Layout Constraints" value="Center"/>
<property name="DefaultSize" value="776,618"/>
<property name="UserCode_Bean_JPanel2" value="Bean_JPanel2"/>
<property name="Layout Manager" value="Border Layout"/>
<property name="PaddingSize" value="10,10"/>
<property name="InstanceName" value="JPanel2"/>
<property name="Bean Permissions" value="252"/>
<property name="Panel" value="JPanel1"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JPanel();"/>
<property name="Layout Manager Constraints" value="5,5"/>
<property name="Layout Constraints" value="Center"/>
<property name="DefaultSize" value="758,513"/>
<property name="Layout Manager" value="Card Layout"/>
<property name="InstanceName" value="wizPanel"/>
<property name="Bean Permissions" value="252"/>
<property name="Panel" value="JPanel2"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="UserCode_Bean_wizPanel" value="Bean_wizPanel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new com.adventnet.studio.framework.installer.InstallPathPanel(applet);"/>
<property name="Layout Constraints" value="InstallPathPanel1:0"/>
<property name="DefaultSize" value="632,405"/>
<property name="InstanceName" value="InstallPathPanel1"/>
<property name="Bean Permissions" value="247"/>
<property name="UserCode_Bean_InstallPathPanel1" value="Bean_InstallPathPanel1"/>
<property name="Panel" value="wizPanel"/>
<property name="ClassName" value="com.adventnet.studio.framework.installer.InstallPathPanel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new com.adventnet.studio.framework.installer.ReadmePanel(applet);"/>
<property name="Layout Constraints" value="ReadmePanel1:1"/>
<property name="DefaultSize" value="740,495"/>
<property name="InstanceName" value="ReadmePanel1"/>
<property name="Bean Permissions" value="247"/>
<property name="UserCode_Bean_ReadmePanel1" value="Bean_ReadmePanel1"/>
<property name="Panel" value="wizPanel"/>
<property name="ClassName" value="com.adventnet.studio.framework.installer.ReadmePanel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new com.adventnet.studio.framework.installer.InstallProgressPanel(applet);"/>
<property name="Layout Constraints" value="InstallProgressPanel1:2"/>
<property name="DefaultSize" value="591,456"/>
<property name="UserCode_Bean_InstallProgressPanel1" value="Bean_InstallProgressPanel1"/>
<property name="InstanceName" value="InstallProgressPanel1"/>
<property name="Bean Permissions" value="247"/>
<property name="Panel" value="wizPanel"/>
<property name="ClassName" value="com.adventnet.studio.framework.installer.InstallProgressPanel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JPanel();"/>
<property name="Layout Manager Constraints" value="5,5"/>
<property name="Layout Constraints" value="North"/>
<property name="DefaultSize" value="505,82"/>
<property name="Layout Manager" value="Border Layout"/>
<property name="PaddingSize" value="299,24"/>
<property name="InstanceName" value="titlePanel"/>
<property name="Bean Permissions" value="252"/>
<property name="UserCode_Bean_titlePanel" value="Bean_titlePanel"/>
<property name="Panel" value="JPanel2"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JLabel();"/>
<property name="font" value="SansSerif+0+12"/>
<property name="Layout Constraints" value="Center"/>
<property name="DefaultSize" value="198,25"/>
<property name="PaddingSize" value="42,0"/>
<property name="InstanceName" value="wizTitleLabel"/>
<property name="PropertyOrder" value=",horizontalAlignment,font,foreground,horizontalTextPosition,text,"/>
<property name="UserCode_Bean_wizTitleLabel" value="Bean_wizTitleLabel"/>
<property name="Bean Permissions" value="244"/>
<property name="foreground" value="-16777216"/>
<property name="Panel" value="titlePanel"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="horizontalTextPosition" value="4"/>
<property name="text" value="Studio NAR installer wizard"/>
<property name="horizontalAlignment" value="2"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JSeparator();"/>
<property name="Layout Constraints" value="South"/>
<property name="UserCode_Bean_titleSep" value="Bean_titleSep"/>
<property name="DefaultSize" value="20,20"/>
<property name="InstanceName" value="titleSep"/>
<property name="Bean Permissions" value="244"/>
<property name="Panel" value="titlePanel"/>
<property name="ClassName" value="javax.swing.JSeparator"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JLabel();"/>
<property name="UserCode_Bean_wizImgLabel" value="Bean_wizImgLabel"/>
<property name="font" value="SansSerif+0+12"/>
<property name="Layout Constraints" value="West"/>
<property name="DefaultSize" value="20,20"/>
<property name="InstanceName" value="wizImgLabel"/>
<property name="PropertyOrder" value=",horizontalAlignment,font,foreground,horizontalTextPosition,"/>
<property name="Bean Permissions" value="244"/>
<property name="foreground" value="-16777216"/>
<property name="Panel" value="JPanel1"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="horizontalTextPosition" value="4"/>
<property name="horizontalAlignment" value="2"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JPanel();"/>
<property name="Layout Manager Constraints" value="5,5"/>
<property name="Layout Constraints" value="South"/>
<property name="DefaultSize" value="722,98"/>
<property name="UserCode_Bean_JPanel3" value="Bean_JPanel3"/>
<property name="Layout Manager" value="Border Layout"/>
<property name="PaddingSize" value="10,10"/>
<property name="InstanceName" value="JPanel3"/>
<property name="Bean Permissions" value="252"/>
<property name="Panel" value="Top"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JPanel();"/>
<property name="Layout Manager Constraints" value="5,5,2"/>
<property name="UserCode_Bean_wizButtonPanel" value="Bean_wizButtonPanel"/>
<property name="Layout Constraints" value="Center"/>
<property name="DefaultSize" value="704,55"/>
<property name="Layout Manager" value="Flow Layout"/>
<property name="PaddingSize" value="465,2"/>
<property name="InstanceName" value="wizButtonPanel"/>
<property name="Bean Permissions" value="252"/>
<property name="Panel" value="JPanel3"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JButton();"/>
<property name="PopupMenu" value="none"/>
<property name="font" value="SansSerif+0+12"/>
<property name="Layout Constraints" value="0"/>
<property name="DefaultSize" value="69,35"/>
<property name="UserCode_Bean_backBtn" value="Bean_backBtn"/>
<property name="InstanceName" value="backBtn"/>
<property name="PropertyOrder" value=",font,horizontalTextPosition,text,enabled,"/>
<property name="Bean Permissions" value="244"/>
<property name="enabled" value="false"/>
<property name="Panel" value="wizButtonPanel"/>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="horizontalTextPosition" value="4"/>
<property name="text" value="Back"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="UserCode_Bean_nextBtn" value="Bean_nextBtn"/>
<property name="Initializer" value="new javax.swing.JButton();"/>
<property name="font" value="SansSerif+0+12"/>
<property name="Layout Constraints" value="1"/>
<property name="DefaultSize" value="67,35"/>
<property name="InstanceName" value="nextBtn"/>
<property name="PropertyOrder" value=",font,horizontalTextPosition,text,"/>
<property name="Bean Permissions" value="244"/>
<property name="Panel" value="wizButtonPanel"/>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="horizontalTextPosition" value="4"/>
<property name="text" value="Next"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JButton();"/>
<property name="font" value="SansSerif+0+12"/>
<property name="Layout Constraints" value="2"/>
<property name="DefaultSize" value="75,35"/>
<property name="InstanceName" value="closeBtn"/>
<property name="PropertyOrder" value=",font,horizontalTextPosition,text,"/>
<property name="Bean Permissions" value="244"/>
<property name="Panel" value="wizButtonPanel"/>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="horizontalTextPosition" value="4"/>
<property name="UserCode_Bean_closeBtn" value="Bean_closeBtn"/>
<property name="text" value="Close"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JSeparator();"/>
<property name="Layout Constraints" value="North"/>
<property name="DefaultSize" value="20,20"/>
<property name="InstanceName" value="JSeparator1"/>
<property name="Bean Permissions" value="244"/>
<property name="UserCode_Bean_JSeparator1" value="Bean_JSeparator1"/>
<property name="Panel" value="JPanel3"/>
<property name="ClassName" value="javax.swing.JSeparator"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new com.adventnet.beans.utilbeans.OptionDialogInformer();"/>
<property name="Layout Constraints" value="BOTTOM"/>
<property name="DefaultSize" value="136,25"/>
<property name="InstanceName" value="OptionDialogInformer1"/>
<property name="PropertyOrder" value=",Dialog type,Dialog Title,"/>
<property name="Dialog Title" value="Error"/>
<property name="Dialog type" value="1"/>
<property name="Bean Permissions" value="247"/>
<property name="Panel" value="Bottom"/>
<property name="ClassName" value="com.adventnet.beans.utilbeans.OptionDialogInformer"/>
<property name="UserCode_Bean_OptionDialogInformer1" value="Bean_OptionDialogInformer1"/>
<property name="Modifiers" value=""/>
</bean>
<property name="MenuBarPresent" value="true"/>
</screen>
