<?xml version="1.0" encoding="UTF-8"?>
<screen conversionType="Hash">
<property name="Version" value="4.4"/>
<property name="Type" value="Panel"/>
<property name="ScreenTitle" value=""/>
<property name="Screen Width" value="722"/>
<property name="SubVersion" value="4.4"/>
<property name="Screen Height" value="477"/>
<property name="HorizontalSplitPanePos" value="170.0"/>
<property name="FileVersion" value="13"/>
<property name="ToolBarPresent" value="true"/>
<property name="LookAndFeel" value="None"/>
<bean>
<property name="Layout Manager Constraints" value="5,5"/>
<property name="Layout Constraints" value="Center"/>
<property name="border" value="EmptyBorder,5,5,5,5"/>
<property name="Layout Manager" value="Border Layout"/>
<property name="InstanceName" value="Top"/>
<property name="PropertyOrder" value=",border,"/>
<property name="UserCode_Bean_components" value="Bean_components"/>
<property name="Panel" value="container"/>
<property name="ClassName" value="javax.swing.JPanel"/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JLabel();"/>
<property name="font" value="SansSerif+0+12"/>
<property name="Layout Constraints" value="North"/>
<property name="DefaultSize" value="212,25"/>
<property name="InstanceName" value="readmeLabel"/>
<property name="PropertyOrder" value=",horizontalAlignment,font,foreground,horizontalTextPosition,text,"/>
<property name="Bean Permissions" value="247"/>
<property name="UserCode_Bean_readmeLabel" value="Bean_readmeLabel"/>
<property name="foreground" value="-16777216"/>
<property name="Panel" value="Top"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="horizontalTextPosition" value="4"/>
<property name="text" value="Please read the following information"/>
<property name="horizontalAlignment" value="2"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JScrollPane();"/>
<property name="Layout Manager Constraints" value=""/>
<property name="Layout Constraints" value="Center"/>
<property name="DefaultSize" value="719,51"/>
<property name="Layout Manager" value="Viewport Layout"/>
<property name="PaddingSize" value="0,9"/>
<property name="InstanceName" value="JScrollPane1"/>
<property name="Bean Permissions" value="255"/>
<property name="UserCode_Bean_JScrollPane1" value="Bean_JScrollPane1"/>
<property name="Panel" value="Top"/>
<property name="ClassName" value="javax.swing.JScrollPane"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JEditorPane();"/>
<property name="editable" value="false"/>
<property name="DefaultSize" value="693,31"/>
<property name="InstanceName" value="readmeArea"/>
<property name="PropertyOrder" value=",text,editable,"/>
<property name="Bean Permissions" value="247"/>
<property name="UserCode_Bean_readmeArea" value="Bean_readmeArea"/>
<property name="Panel" value="JScrollPane1"/>
<property name="ClassName" value="javax.swing.JEditorPane"/>
<property name="text" value="A read me ..."/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="PopupMenu" value="none"/>
<property name="Initializer" value="new javax.swing.JPanel();"/>
<property name="Layout Manager Constraints" value=""/>
<property name="Layout Constraints" value="South"/>
<property name="DefaultSize" value="704,70"/>
<property name="Layout Manager" value="GridBag Layout"/>
<property name="UserCode_Bean_JPanel1" value="Bean_JPanel1"/>
<property name="PaddingSize" value="376,18"/>
<property name="InstanceName" value="JPanel1"/>
<property name="Bean Permissions" value="252"/>
<property name="Panel" value="Top"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JLabel();"/>
<property name="font" value="SansSerif+0+12"/>
<property name="Layout Constraints" value="0,0,1,1,0,17,0,0,0.0,0.0,5,5,5,5"/>
<property name="DefaultSize" value="162,25"/>
<property name="InstanceName" value="dbLabel"/>
<property name="PropertyOrder" value=",horizontalAlignment,font,foreground,horizontalTextPosition,text,"/>
<property name="UserCode_Bean_dbLabel" value="Bean_dbLabel"/>
<property name="Bean Permissions" value="244"/>
<property name="foreground" value="-16777216"/>
<property name="Panel" value="JPanel1"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="horizontalTextPosition" value="4"/>
<property name="text" value="Select Application Database"/>
<property name="horizontalAlignment" value="2"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JComboBox();"/>
<property name="font" value="SansSerif+0+12"/>
<property name="Layout Constraints" value="1,0,1,1,0,17,0,0,0.1,0.0,5,5,5,5"/>
<property name="DefaultSize" value="134,34"/>
<property name="InstanceName" value="dbCombo"/>
<property name="PropertyOrder" value=",font,"/>
<property name="Bean Permissions" value="244"/>
<property name="Panel" value="JPanel1"/>
<property name="ClassName" value="javax.swing.JComboBox"/>
<property name="UserCode_Bean_dbCombo" value="Bean_dbCombo"/>
<property name="Modifiers" value=""/>
</bean>
<property name="MenuBarPresent" value="false"/>
</screen>
