<?xml version="1.0" encoding="ISO-8859-1"?>
<screen conversionType="Hash">
<property name="Version" value="4.4"/>
<property name="Type" value="Dialog"/>
<property name="ScreenTitle" value=""/>
<property name="Screen Width" value="549"/>
<property name="SubVersion" value="4.4"/>
<property name="GenSource" value="false"/>
<property name="Screen Height" value="361"/>
<property name="HorizontalSplitPanePos" value="200.0"/>
<property name="ToolBarPresent" value="true"/>
<property name="screenTitle" value="About AdventNet Management Builder"/>
<property name="LookAndFeel" value="None"/>
<bean>
<property name="InstanceName" value="Top"/>
<property name="UserCode_Bean_components" value="Bean_components"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Layout Manager" value="Border Layout"/>
<property name="Layout Constraints" value="Center"/>
<property name="Panel" value="container"/>
<property name="Layout Manager Constraints" value="5,5"/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JPanel();"/>
<property name="Layout Manager Constraints" value="5,5"/>
<property name="Layout Constraints" value="Center"/>
<property name="DefaultSize" value="1115,548"/>
<property name="border" value="SoftBevelBorder,0,null,null,null,null"/>
<property name="Layout Manager" value="Border Layout"/>
<property name="PaddingSize" value="10,10"/>
<property name="InstanceName" value="topPanel"/>
<property name="PropertyOrder" value=",border,"/>
<property name="Bean Permissions" value="255"/>
<property name="UserCode_Bean_topPanel" value="Bean_topPanel"/>
<property name="Panel" value="Top"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JPanel();"/>
<property name="Layout Manager Constraints" value=""/>
<property name="Layout Constraints" value="South"/>
<property name="DefaultSize" value="743,91"/>
<property name="Layout Manager" value="GridBag Layout"/>
<property name="UserCode_Bean_warlingPanel" value="Bean_warlingPanel"/>
<property name="InstanceName" value="warlingPanel"/>
<property name="Bean Permissions" value="255"/>
<property name="Panel" value="topPanel"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JLabel();"/>
<property name="font" value="Dialog+0+12"/>
<property name="Layout Constraints" value="0,0,1,1,0,10,0,0,0.0,0.0,5,5,0,5"/>
<property name="DefaultSize" value="59,25"/>
<property name="UserCode_Bean_warningLbl" value="Bean_warningLbl"/>
<property name="InstanceName" value="warningLbl"/>
<property name="PropertyOrder" value=",text,font,foreground,"/>
<property name="Bean Permissions" value="247"/>
<property name="foreground" value="-16777216"/>
<property name="Panel" value="warlingPanel"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="text" value="Warning"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JSeparator();"/>
<property name="Layout Constraints" value="1,0,1,1,2,10,0,0,0.1,0.0,0,0,0,5"/>
<property name="DefaultSize" value="430,20"/>
<property name="InstanceName" value="JSeparator1"/>
<property name="Bean Permissions" value="247"/>
<property name="UserCode_Bean_JSeparator1" value="Bean_JSeparator1"/>
<property name="Panel" value="warlingPanel"/>
<property name="ClassName" value="javax.swing.JSeparator"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JTextArea();"/>
<property name="editable" value="false"/>
<property name="font" value="Dialog+0+10"/>
<property name="Layout Constraints" value="0,1,2,1,2,10,0,0,0.1,0.0,0,5,0,5"/>
<property name="DefaultSize" value="725,53"/>
<property name="opaque" value="false"/>
<property name="InstanceName" value="warningTxtArrea"/>
<property name="PropertyOrder" value=",lineWrap,wrapStyleWord,font,editable,selectionColor,opaque,text,"/>
<property name="Bean Permissions" value="247"/>
<property name="wrapStyleWord" value="true"/>
<property name="selectionColor" value="-3355444"/>
<property name="UserCode_Bean_warningTxtArrea" value="Bean_warningTxtArrea"/>
<property name="Panel" value="warlingPanel"/>
<property name="ClassName" value="javax.swing.JTextArea"/>
<property name="text" value="This software is protected by copyright law. Unauthorized reproduction of this software, or any portion of it, is not permitted by law."/>
<property name="lineWrap" value="true"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JPanel();"/>
<property name="Layout Manager Constraints" value="5,5"/>
<property name="Layout Constraints" value="Center"/>
<property name="DefaultSize" value="1091,428"/>
<property name="Layout Manager" value="Border Layout"/>
<property name="PaddingSize" value="104,10"/>
<property name="InstanceName" value="infoAndTitlePanelMain"/>
<property name="Bean Permissions" value="255"/>
<property name="UserCode_Bean_infoAndTitlePanelMain" value="Bean_infoAndTitlePanelMain"/>
<property name="Panel" value="topPanel"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new com.adventnet.beans.images.ImageLabel(applet);"/>
<property name="Layout Manager Constraints" value=""/>
<property name="Layout Constraints" value="West"/>
<property name="DefaultSize" value="24,155"/>
<property name="Layout Manager" value="Position Layout"/>
<property name="PaddingSize" value="0,131"/>
<property name="InstanceName" value="aboutImageLbl"/>
<property name="Bean Permissions" value="255"/>
<property name="UserCode_Bean_aboutImageLbl" value="Bean_aboutImageLbl"/>
<property name="Panel" value="infoAndTitlePanelMain"/>
<property name="ClassName" value="com.adventnet.beans.images.ImageLabel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JPanel();"/>
<property name="Layout Manager Constraints" value=""/>
<property name="Layout Constraints" value="Center"/>
<property name="DefaultSize" value="950,410"/>
<property name="UserCode_Bean_infoAndTitlePanel" value="Bean_infoAndTitlePanel"/>
<property name="Layout Manager" value="GridBag Layout"/>
<property name="PaddingSize" value="234,177"/>
<property name="InstanceName" value="infoAndTitlePanel"/>
<property name="Bean Permissions" value="255"/>
<property name="Panel" value="infoAndTitlePanelMain"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JPanel();"/>
<property name="Layout Manager Constraints" value=""/>
<property name="Layout Constraints" value="0,2,2,1,2,10,0,0,0.1,0.0,0,3,0,3"/>
<property name="DefaultSize" value="188,62"/>
<property name="Layout Manager" value="GridBag Layout"/>
<property name="UserCode_Bean_infoPanel" value="Bean_infoPanel"/>
<property name="InstanceName" value="infoPanel"/>
<property name="Bean Permissions" value="255"/>
<property name="Panel" value="infoAndTitlePanel"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JLabel();"/>
<property name="font" value="Dialog+0+12"/>
<property name="Layout Constraints" value="0,0,1,1,0,17,0,0,0.1,0.0,0,0,0,0"/>
<property name="DefaultSize" value="180,25"/>
<property name="InstanceName" value="licenceInfoLbl"/>
<property name="PropertyOrder" value=",foreground,font,text,"/>
<property name="Bean Permissions" value="247"/>
<property name="foreground" value="-16777216"/>
<property name="UserCode_Bean_licenceInfoLbl" value="Bean_licenceInfoLbl"/>
<property name="Panel" value="infoPanel"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="text" value="This product is licensed to:"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JTextArea();"/>
<property name="editable" value="false"/>
<property name="Layout Constraints" value="0,1,1,1,2,10,0,0,0.1,0.0,0,0,0,0"/>
<property name="DefaultSize" value="20,29"/>
<property name="border" value="BevelBorder,1,null,null,null,null"/>
<property name="opaque" value="false"/>
<property name="InstanceName" value="licenceInfoTxtArea"/>
<property name="PropertyOrder" value=",text,editable,selectionColor,border,opaque,rows,"/>
<property name="Bean Permissions" value="247"/>
<property name="selectionColor" value="-3355444"/>
<property name="UserCode_Bean_licenceInfoTxtArea" value="Bean_licenceInfoTxtArea"/>
<property name="Panel" value="infoPanel"/>
<property name="ClassName" value="javax.swing.JTextArea"/>
<property name="text" value=""/>
<property name="rows" value="2"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JPanel();"/>
<property name="Layout Manager Constraints" value=""/>
<property name="Layout Constraints" value="0,0,2,1,2,11,0,0,0.1,0.0,5,3,0,3"/>
<property name="DefaultSize" value="320,69"/>
<property name="Layout Manager" value="GridBag Layout"/>
<property name="InstanceName" value="titlePanel"/>
<property name="Bean Permissions" value="255"/>
<property name="UserCode_Bean_titlePanel" value="Bean_titlePanel"/>
<property name="Panel" value="infoAndTitlePanel"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JLabel();"/>
<property name="font" value="Dialog+1+14"/>
<property name="Layout Constraints" value="0,0,1,1,0,17,0,0,0.0,0.0,2,2,2,2"/>
<property name="DefaultSize" value="262,28"/>
<property name="UserCode_Bean_productNameLbl" value="Bean_productNameLbl"/>
<property name="InstanceName" value="productNameLbl"/>
<property name="PropertyOrder" value=",foreground,font,text,"/>
<property name="Bean Permissions" value="247"/>
<property name="foreground" value="-16777216"/>
<property name="Panel" value="titlePanel"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="text" value="AdventNet Management Builder"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JLabel();"/>
<property name="font" value="Dialog+1+14"/>
<property name="Layout Constraints" value="1,0,1,1,0,13,0,0,0.0,0.0,2,2,2,2"/>
<property name="DefaultSize" value="42,28"/>
<property name="UserCode_Bean_productVerLbl" value="Bean_productVerLbl"/>
<property name="InstanceName" value="productVerLbl"/>
<property name="PropertyOrder" value=",foreground,font,text,"/>
<property name="Bean Permissions" value="247"/>
<property name="foreground" value="-16777216"/>
<property name="Panel" value="titlePanel"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="text" value=" 4.4 "/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JLabel();"/>
<property name="font" value="Dialog+0+12"/>
<property name="Layout Constraints" value="0,1,2,1,0,13,0,0,0.0,0.0,2,2,2,5"/>
<property name="toolTipText" value=""/>
<property name="DefaultSize" value="82,25"/>
<property name="InstanceName" value="productSPLbl"/>
<property name="PropertyOrder" value=",toolTipText,text,font,foreground,"/>
<property name="Bean Permissions" value="247"/>
<property name="foreground" value="-16777216"/>
<property name="Panel" value="titlePanel"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="UserCode_Bean_productSPLbl" value="Bean_productSPLbl"/>
<property name="text" value="Update SP 1"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JEditorPane();"/>
<property name="editable" value="false"/>
<property name="Layout Constraints" value="0,3,2,1,1,15,0,0,0.1,0.0,5,7,0,7"/>
<property name="DefaultSize" value="694,31"/>
<property name="opaque" value="false"/>
<property name="InstanceName" value="licenceInfoEditorPane"/>
<property name="PropertyOrder" value=",editable,opaque,selectionColor,"/>
<property name="Bean Permissions" value="247"/>
<property name="selectionColor" value="-3355444"/>
<property name="Panel" value="infoAndTitlePanel"/>
<property name="ClassName" value="javax.swing.JEditorPane"/>
<property name="UserCode_Bean_licenceInfoEditorPane" value="Bean_licenceInfoEditorPane"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JPanel();"/>
<property name="Layout Manager Constraints" value=""/>
<property name="Layout Constraints" value="0,1,2,1,2,10,0,0,0.1,0.0,0,3,7,3"/>
<property name="DefaultSize" value="106,33"/>
<property name="Layout Manager" value="GridBag Layout"/>
<property name="InstanceName" value="toolDetPanel"/>
<property name="Bean Permissions" value="255"/>
<property name="UserCode_Bean_toolDetPanel" value="Bean_toolDetPanel"/>
<property name="Panel" value="infoAndTitlePanel"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="UserCode_Bean_toolNameLbl" value="Bean_toolNameLbl"/>
<property name="Initializer" value="new javax.swing.JLabel();"/>
<property name="font" value="Dialog+0+12"/>
<property name="Layout Constraints" value="0,0,1,1,0,10,0,0,0.0,0.0,0,0,0,0"/>
<property name="DefaultSize" value="78,25"/>
<property name="InstanceName" value="toolNameLbl"/>
<property name="PropertyOrder" value=",foreground,font,text,"/>
<property name="Bean Permissions" value="247"/>
<property name="foreground" value="-16777216"/>
<property name="Panel" value="toolDetPanel"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="text" value="Tool Name: "/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JLabel();"/>
<property name="font" value="dialog+0+12"/>
<property name="Layout Constraints" value="1,0,0,1,2,10,0,0,0.01,0.0,0,0,0,0"/>
<property name="DefaultSize" value="20,20"/>
<property name="UserCode_Bean_showToolNameLbl" value="Bean_showToolNameLbl"/>
<property name="InstanceName" value="showToolNameLbl"/>
<property name="PropertyOrder" value=",foreground,text,font,"/>
<property name="Bean Permissions" value="247"/>
<property name="foreground" value="-16777216"/>
<property name="Panel" value="toolDetPanel"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="text" value=""/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JPanel();"/>
<property name="Layout Manager Constraints" value=""/>
<property name="Layout Constraints" value="South"/>
<property name="DefaultSize" value="361,53"/>
<property name="Layout Manager" value="GridBag Layout"/>
<property name="InstanceName" value="bottomPanel"/>
<property name="Bean Permissions" value="255"/>
<property name="Panel" value="Top"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="UserCode_Bean_bottomPanel" value="Bean_bottomPanel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JLabel();"/>
<property name="font" value="Dialog+0+10"/>
<property name="Layout Constraints" value="0,0,1,1,0,18,0,0,0.0,0.0,5,5,0,0"/>
<property name="DefaultSize" value="282,23"/>
<property name="InstanceName" value="copyRightLbl"/>
<property name="PropertyOrder" value=",foreground,font,text,"/>
<property name="Bean Permissions" value="247"/>
<property name="foreground" value="-16777216"/>
<property name="Panel" value="bottomPanel"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="text" value="© 1998-2002 AdventNet, Inc. All Rights Reserved."/>
<property name="UserCode_Bean_copyRightLbl" value="Bean_copyRightLbl"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JButton();"/>
<property name="font" value="Dialog+0+12"/>
<property name="Layout Constraints" value="1,0,1,1,0,13,0,0,0.1,0.0,5,0,5,5"/>
<property name="DefaultSize" value="61,35"/>
<property name="InstanceName" value="okBtn"/>
<property name="PropertyOrder" value=",text,font,"/>
<property name="Bean Permissions" value="247"/>
<property name="UserCode_Bean_okBtn" value="Bean_okBtn"/>
<property name="Panel" value="bottomPanel"/>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="text" value="OK"/>
<property name="Modifiers" value=""/>
</bean>
<property name="MenuBarPresent" value="true"/>
</screen>
