<?xml version="1.0" encoding="UTF-8"?>
<screen conversionType="Hash">
<property name="Screen Width" value="682"/>
<property name="Initialize Commands" value=""/>
<bean>
<property name="Layout Manager Constraints" value="5,5"/>
<property name="Layout Constraints" value="Center"/>
<property name="border" value="TitledBorder,[LineBorder,-16777216,1,false],Install Information,2,0,Dialog+0+12,-16777216"/>
<property name="Layout Manager" value="Border Layout"/>
<property name="InstanceName" value="Top"/>
<property name="PropertyOrder" value=",border,"/>
<property name="UserCode_Bean_components" value="Bean_components"/>
<property name="Panel" value="container"/>
<property name="ClassName" value="javax.swing.JPanel"/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Manager Constraints" value="5,5"/>
<property name="Layout Constraints" value="Center"/>
<property name="DefaultSize" value="664,178"/>
<property name="border" value="BevelBorder,0,null,null,null,null"/>
<property name="Layout Manager" value="Border Layout"/>
<property name="UserCode_Bean_JPanel1" value="Bean_JPanel1"/>
<property name="PaddingSize" value="10,10"/>
<property name="InstanceName" value="JPanel1"/>
<property name="PropertyOrder" value=",border,"/>
<property name="Bean Permissions" value="255"/>
<property name="Panel" value="Top"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="lineWrap" value="true"/>
<property name="Modifiers" value=""/>
<property name="ClassName" value="javax.swing.JTextArea"/>
<property name="PropertyOrder" value=",background,text,font,wrapStyleWord,lineWrap,editable,"/>
<property name="DefaultSize" value="499,90"/>
<property name="PopupMenu" value="none"/>
<property name="text" value="The list shows all the selected options.Please click previous button to modify or finish to install."/>
<property name="Initializer" value=""/>
<property name="font" value="Dialog+1+13"/>
<property name="InstanceName" value="JTextArea2"/>
<property name="editable" value="false"/>
<property name="Panel" value="JPanel1"/>
<property name="background" value="-3355444"/>
<property name="Layout Constraints" value="North"/>
<property name="UserCode_Bean_JTextArea2" value="Bean_JTextArea2"/>
<property name="wrapStyleWord" value="true"/>
<property name="PaddingSize" value="67,46"/>
<property name="Bean Permissions" value="247"/>
</bean>
<bean>
<property name="background" value="-3355444"/>
<property name="Initializer" value=""/>
<property name="Layout Manager Constraints" value=""/>
<property name="Layout Constraints" value="Center"/>
<property name="DefaultSize" value="642,61"/>
<property name="border" value="TitledBorder,[EtchedBorder,0,null,null],List,0,0,Dialog+0+12,-16777216"/>
<property name="Layout Manager" value="Viewport Layout"/>
<property name="InstanceName" value="JScrollPane1"/>
<property name="PropertyOrder" value=",background,border,"/>
<property name="Bean Permissions" value="255"/>
<property name="UserCode_Bean_JScrollPane1" value="Bean_JScrollPane1"/>
<property name="Panel" value="JPanel1"/>
<property name="ClassName" value="javax.swing.JScrollPane"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="background" value="-3355444"/>
<property name="Initializer" value=""/>
<property name="editable" value="false"/>
<property name="DefaultSize" value="607,25"/>
<property name="UserCode_Bean_listArea" value="Bean_listArea"/>
<property name="InstanceName" value="listArea"/>
<property name="PropertyOrder" value=",background,wrapStyleWord,lineWrap,editable,"/>
<property name="Bean Permissions" value="247"/>
<property name="wrapStyleWord" value="true"/>
<property name="Panel" value="JScrollPane1"/>
<property name="ClassName" value="javax.swing.JTextArea"/>
<property name="lineWrap" value="true"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Constraints" value="West"/>
<property name="DefaultSize" value="205,435"/>
<property name="UserCode_Bean_JLabel1" value="Bean_JLabel1"/>
<property name="PaddingSize" value="185,415"/>
<property name="InstanceName" value="JLabel1"/>
<property name="Bean Permissions" value="247"/>
<property name="Panel" value="Top"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="Modifiers" value=""/>
</bean>
<property name="Import Code" value=""/>
<property name="Variable Definitions" value=""/>
<property name="Version" value="4.4"/>
<property name="Screen Height" value="453"/>
<property name="Start Commands" value=""/>
<property name="Type" value="Panel"/>
<property name="FileVersion" value="1"/>
<property name="MenuBarPresent" value="true"/>
<property name="GenSource" value="true"/>
<property name="Custom Code" value=""/>
<property name="Dummy Interface" value=""/>
<property name="ScreenTitle" value="new_screen1"/>
<property name="ToolBarPresent" value="true"/>
<property name="HorizontalSplitPanePos" value="170.0"/>
<property name="SubVersion" value="4.4"/>
<property name="LookAndFeel" value="None"/>
</screen>
