<?xml version="1.0" encoding="UTF-8"?>
<screen conversionType="Hash">
<property name="Screen Width" value="642"/>
<property name="Initialize Commands" value=""/>
<bean>
<property name="InstanceName" value="Top"/>
<property name="UserCode_Bean_components" value="Bean_components"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Layout Manager" value="Border Layout"/>
<property name="Layout Constraints" value="Center"/>
<property name="Panel" value="container"/>
<property name="Layout Manager Constraints" value="5,5"/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Manager Constraints" value="5,5,1"/>
<property name="Layout Constraints" value="South"/>
<property name="DefaultSize" value="381,53"/>
<property name="Layout Manager" value="Flow Layout"/>
<property name="InstanceName" value="buttonPanel"/>
<property name="Bean Permissions" value="255"/>
<property name="UserCode_Bean_buttonPanel" value="Bean_buttonPanel"/>
<property name="Panel" value="Top"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="font" value="Dialog+0+12"/>
<property name="Layout Constraints" value="0"/>
<property name="DefaultSize" value="107,35"/>
<property name="InstanceName" value="previous"/>
<property name="PropertyOrder" value=",text,font,"/>
<property name="Bean Permissions" value="247"/>
<property name="UserCode_Bean_previous" value="Bean_previous"/>
<property name="Panel" value="buttonPanel"/>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="text" value="&lt;&lt; Previous"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="font" value="Dialog+0+12"/>
<property name="Layout Constraints" value="1"/>
<property name="DefaultSize" value="83,35"/>
<property name="InstanceName" value="next"/>
<property name="PropertyOrder" value=",font,text,"/>
<property name="Bean Permissions" value="247"/>
<property name="UserCode_Bean_next" value="Bean_next"/>
<property name="Panel" value="buttonPanel"/>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="text" value="Next &gt;&gt;"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="UserCode_Bean_finish" value="Bean_finish"/>
<property name="Initializer" value=""/>
<property name="font" value="Dialog+0+12"/>
<property name="Layout Constraints" value="2"/>
<property name="DefaultSize" value="77,35"/>
<property name="InstanceName" value="finish"/>
<property name="PropertyOrder" value=",text,font,"/>
<property name="Bean Permissions" value="247"/>
<property name="Panel" value="buttonPanel"/>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="text" value="Finish"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="font" value="Dialog+0+12"/>
<property name="UserCode_Bean_cancel" value="Bean_cancel"/>
<property name="Layout Constraints" value="3"/>
<property name="DefaultSize" value="81,35"/>
<property name="InstanceName" value="cancel"/>
<property name="PropertyOrder" value=",text,font,"/>
<property name="Bean Permissions" value="247"/>
<property name="Panel" value="buttonPanel"/>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="text" value="Cancel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Manager Constraints" value="5,5,1"/>
<property name="UserCode_Bean_cardPanel" value="Bean_cardPanel"/>
<property name="Layout Constraints" value="Center"/>
<property name="DefaultSize" value="20,20"/>
<property name="Layout Manager" value="Flow Layout"/>
<property name="InstanceName" value="cardPanel"/>
<property name="Bean Permissions" value="255"/>
<property name="Panel" value="Top"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Modifiers" value=""/>
</bean>
<property name="Import Code" value=""/>
<property name="Variable Definitions" value=""/>
<property name="Version" value="4.4"/>
<property name="Screen Height" value="430"/>
<property name="Start Commands" value=""/>
<property name="Type" value="Dialog"/>
<property name="FileVersion" value="1"/>
<property name="MenuBarPresent" value="true"/>
<property name="GenSource" value="true"/>
<property name="Custom Code" value=""/>
<property name="Dummy Interface" value=""/>
<property name="ScreenTitle" value="new_screen1"/>
<property name="ToolBarPresent" value="true"/>
<property name="HorizontalSplitPanePos" value="170.0"/>
<property name="SubVersion" value="4.4"/>
<property name="LookAndFeel" value="None"/>
</screen>
