<?xml version="1.0" encoding="UTF-8"?>
<screen conversionType="Hash">
<property name="Screen Width" value="684"/>
<property name="Initialize Commands" value=""/>
<bean>
<property name="Layout Manager Constraints" value="5,5"/>
<property name="Layout Constraints" value="Center"/>
<property name="border" value="TitledBorder,[LineBorder,-16777216,1,false],List Menu Information,2,0,Dialog+0+12,-16777216"/>
<property name="Layout Manager" value="Border Layout"/>
<property name="InstanceName" value="Top"/>
<property name="PropertyOrder" value=",border,"/>
<property name="UserCode_Bean_components" value="Bean_components"/>
<property name="Panel" value="container"/>
<property name="ClassName" value="javax.swing.JPanel"/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Manager Constraints" value="5,5"/>
<property name="Layout Constraints" value="Center"/>
<property name="DefaultSize" value="286,400"/>
<property name="UserCode_Bean_JPanel4" value="Bean_JPanel4"/>
<property name="border" value="BevelBorder,0,null,null,null,null"/>
<property name="Layout Manager" value="Border Layout"/>
<property name="PaddingSize" value="10,10"/>
<property name="InstanceName" value="JPanel4"/>
<property name="PropertyOrder" value=",border,"/>
<property name="Bean Permissions" value="255"/>
<property name="Panel" value="Top"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Manager Constraints" value=""/>
<property name="Layout Constraints" value="North"/>
<property name="DefaultSize" value="171,119"/>
<property name="Layout Manager" value="GridBag Layout"/>
<property name="UserCode_Bean_JPanel1" value="Bean_JPanel1"/>
<property name="InstanceName" value="JPanel1"/>
<property name="Bean Permissions" value="255"/>
<property name="Panel" value="JPanel4"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="UserCode_Bean_configureList" value="Bean_configureList"/>
<property name="font" value="Dialog+0+12"/>
<property name="Layout Constraints" value="0,0,1,1,0,17,0,0,0.0,0.0,4,4,4,4"/>
<property name="DefaultSize" value="118,25"/>
<property name="InstanceName" value="configureList"/>
<property name="PropertyOrder" value=",text,font,foreground,"/>
<property name="Bean Permissions" value="247"/>
<property name="foreground" value="-16777216"/>
<property name="Panel" value="JPanel1"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="text" value="Configure List Menu"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="font" value="Dialog+0+12"/>
<property name="Layout Constraints" value="0,1,1,1,0,17,0,0,0.0,0.0,4,4,4,4"/>
<property name="DefaultSize" value="75,25"/>
<property name="UserCode_Bean_menuName" value="Bean_menuName"/>
<property name="InstanceName" value="menuName"/>
<property name="PropertyOrder" value=",font,text,foreground,"/>
<property name="Bean Permissions" value="247"/>
<property name="foreground" value="-16777216"/>
<property name="Panel" value="JPanel1"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="text" value="Menu Name"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="UserCode_Bean_itemName" value="Bean_itemName"/>
<property name="font" value="Dialog+0+12"/>
<property name="Layout Constraints" value="0,2,1,1,0,17,0,0,0.0,0.0,4,4,4,4"/>
<property name="DefaultSize" value="102,25"/>
<property name="InstanceName" value="itemName"/>
<property name="PropertyOrder" value=",font,text,foreground,"/>
<property name="Bean Permissions" value="247"/>
<property name="foreground" value="-16777216"/>
<property name="Panel" value="JPanel1"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="text" value="Menu Item Name"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Constraints" value="1,0,1,1,2,10,0,0,0.1,0.0,4,4,4,4"/>
<property name="DefaultSize" value="29,29"/>
<property name="selected" value="false"/>
<property name="InstanceName" value="checkList"/>
<property name="PropertyOrder" value=",selected,"/>
<property name="Bean Permissions" value="247"/>
<property name="UserCode_Bean_checkList" value="Bean_checkList"/>
<property name="Panel" value="JPanel1"/>
<property name="ClassName" value="javax.swing.JCheckBox"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Constraints" value="1,1,1,1,2,10,0,0,0.1,0.0,4,4,4,4"/>
<property name="DefaultSize" value="20,29"/>
<property name="UserCode_Bean_menuNameField" value="Bean_menuNameField"/>
<property name="InstanceName" value="menuNameField"/>
<property name="Bean Permissions" value="247"/>
<property name="Panel" value="JPanel1"/>
<property name="ClassName" value="javax.swing.JTextField"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Constraints" value="1,2,1,1,2,10,0,0,0.1,0.0,4,4,4,4"/>
<property name="DefaultSize" value="20,29"/>
<property name="InstanceName" value="itemNameField"/>
<property name="Bean Permissions" value="247"/>
<property name="Panel" value="JPanel1"/>
<property name="ClassName" value="javax.swing.JTextField"/>
<property name="UserCode_Bean_itemNameField" value="Bean_itemNameField"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Manager Constraints" value="5,5"/>
<property name="Layout Constraints" value="Center"/>
<property name="DefaultSize" value="264,254"/>
<property name="border" value="TitledBorder,[EtchedBorder,0,null,null],Image Details,0,0,Dialog+0+12,-16777216"/>
<property name="UserCode_Bean_JPanel3" value="Bean_JPanel3"/>
<property name="Layout Manager" value="Border Layout"/>
<property name="PaddingSize" value="10,10"/>
<property name="InstanceName" value="JPanel3"/>
<property name="PropertyOrder" value=",border,"/>
<property name="Bean Permissions" value="255"/>
<property name="Panel" value="JPanel4"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Manager Constraints" value=""/>
<property name="Layout Constraints" value="South"/>
<property name="DefaultSize" value="234,119"/>
<property name="UserCode_Bean_JPanel2" value="Bean_JPanel2"/>
<property name="Layout Manager" value="GridBag Layout"/>
<property name="InstanceName" value="JPanel2"/>
<property name="Bean Permissions" value="255"/>
<property name="Panel" value="JPanel3"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="UserCode_Bean_severity" value="Bean_severity"/>
<property name="font" value="Dialog+0+12"/>
<property name="Layout Constraints" value="0,0,1,1,0,17,0,0,0.0,0.0,2,2,2,2"/>
<property name="DefaultSize" value="50,25"/>
<property name="InstanceName" value="severity"/>
<property name="PropertyOrder" value=",text,font,foreground,"/>
<property name="Bean Permissions" value="247"/>
<property name="foreground" value="-16777216"/>
<property name="Panel" value="JPanel2"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="text" value="Severity"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="font" value="Dialog+0+12"/>
<property name="Layout Constraints" value="0,1,1,1,0,17,0,0,0.0,0.0,2,2,2,2"/>
<property name="DefaultSize" value="80,25"/>
<property name="UserCode_Bean_image" value="Bean_image"/>
<property name="InstanceName" value="image"/>
<property name="PropertyOrder" value=",text,font,foreground,"/>
<property name="Bean Permissions" value="247"/>
<property name="foreground" value="-16777216"/>
<property name="Panel" value="JPanel2"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="text" value="Image Name"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Constraints" value="1,0,1,1,2,10,0,0,0.1,0.0,2,2,2,2"/>
<property name="DefaultSize" value="20,29"/>
<property name="InstanceName" value="severityField"/>
<property name="UserCode_Bean_severityField" value="Bean_severityField"/>
<property name="Bean Permissions" value="247"/>
<property name="Panel" value="JPanel2"/>
<property name="ClassName" value="javax.swing.JTextField"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Constraints" value="1,1,1,1,2,10,0,0,0.1,0.0,2,2,2,2"/>
<property name="DefaultSize" value="20,29"/>
<property name="UserCode_Bean_imageField" value="Bean_imageField"/>
<property name="InstanceName" value="imageField"/>
<property name="Bean Permissions" value="247"/>
<property name="Panel" value="JPanel2"/>
<property name="ClassName" value="javax.swing.JTextField"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Constraints" value="2,1,1,1,0,10,0,0,0.0,0.0,2,2,2,2"/>
<property name="DefaultSize" value="51,35"/>
<property name="InstanceName" value="browse"/>
<property name="PropertyOrder" value=",text,"/>
<property name="Bean Permissions" value="247"/>
<property name="Panel" value="JPanel2"/>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="text" value="..."/>
<property name="UserCode_Bean_browse" value="Bean_browse"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="font" value="Dialog+0+12"/>
<property name="Layout Constraints" value="1,2,1,1,0,10,0,0,0.0,0.0,2,2,2,2"/>
<property name="DefaultSize" value="83,35"/>
<property name="InstanceName" value="update"/>
<property name="PropertyOrder" value=",text,font,"/>
<property name="Bean Permissions" value="247"/>
<property name="UserCode_Bean_update" value="Bean_update"/>
<property name="Panel" value="JPanel2"/>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="text" value="Update"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="UserCode_Bean_checkImage" value="Bean_checkImage"/>
<property name="Initializer" value=""/>
<property name="font" value="Dialog+0+12"/>
<property name="Layout Constraints" value="North"/>
<property name="DefaultSize" value="171,33"/>
<property name="InstanceName" value="checkImage"/>
<property name="PropertyOrder" value=",text,font,"/>
<property name="Bean Permissions" value="247"/>
<property name="Panel" value="JPanel3"/>
<property name="ClassName" value="javax.swing.JCheckBox"/>
<property name="text" value="Use Transparaent Image"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Manager Constraints" value=""/>
<property name="Layout Constraints" value="Center"/>
<property name="DefaultSize" value="46,46"/>
<property name="Layout Manager" value="Viewport Layout"/>
<property name="InstanceName" value="JScrollPane1"/>
<property name="Bean Permissions" value="255"/>
<property name="UserCode_Bean_JScrollPane1" value="Bean_JScrollPane1"/>
<property name="Panel" value="JPanel3"/>
<property name="ClassName" value="javax.swing.JScrollPane"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="UserCode_Bean_JTable1" value="Bean_JTable1"/>
<property name="Bean Permissions" value="247"/>
<property name="InstanceName" value="JTable1"/>
<property name="DefaultSize" value="20,20"/>
<property name="Modifiers" value=""/>
<property name="ClassName" value="javax.swing.JTable"/>
<property name="Panel" value="JScrollPane1"/>
<property name="Initializer" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Constraints" value="West"/>
<property name="DefaultSize" value="188,408"/>
<property name="UserCode_Bean_JLabel1" value="Bean_JLabel1"/>
<property name="PaddingSize" value="168,388"/>
<property name="InstanceName" value="JLabel1"/>
<property name="Bean Permissions" value="247"/>
<property name="Panel" value="Top"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="Modifiers" value=""/>
</bean>
<property name="Import Code" value=""/>
<property name="Variable Definitions" value=""/>
<property name="Version" value="4.4"/>
<property name="Screen Height" value="413"/>
<property name="Start Commands" value=""/>
<property name="Type" value="Panel"/>
<property name="FileVersion" value="1"/>
<property name="MenuBarPresent" value="true"/>
<property name="GenSource" value="true"/>
<property name="Custom Code" value=""/>
<property name="Dummy Interface" value=""/>
<property name="ScreenTitle" value="new_screen1"/>
<property name="ToolBarPresent" value="true"/>
<property name="HorizontalSplitPanePos" value="170.0"/>
<property name="SubVersion" value="4.4"/>
<property name="LookAndFeel" value="None"/>
</screen>
