<?xml version="1.0" encoding="UTF-8"?>
<screen conversionType="Hash">
<property name="Screen Width" value="677"/>
<property name="Initialize Commands" value=""/>
<bean>
<property name="Layout Manager Constraints" value="5,5"/>
<property name="Layout Constraints" value="Center"/>
<property name="border" value="TitledBorder,[LineBorder,-16777216,1,false],Map Menu Information,2,0,Dialog+0+12,-16777216"/>
<property name="Layout Manager" value="Border Layout"/>
<property name="InstanceName" value="Top"/>
<property name="PropertyOrder" value=",border,"/>
<property name="UserCode_Bean_components" value="Bean_components"/>
<property name="Panel" value="container"/>
<property name="ClassName" value="javax.swing.JPanel"/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Manager Constraints" value=""/>
<property name="Layout Constraints" value="Center"/>
<property name="DefaultSize" value="240,194"/>
<property name="border" value="BevelBorder,0,null,null,null,null"/>
<property name="Layout Manager" value="GridBag Layout"/>
<property name="UserCode_Bean_JPanel1" value="Bean_JPanel1"/>
<property name="InstanceName" value="JPanel1"/>
<property name="PropertyOrder" value=",border,"/>
<property name="Bean Permissions" value="255"/>
<property name="Panel" value="Top"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="font" value="Dialog+0+12"/>
<property name="Layout Constraints" value="0,0,1,1,0,17,0,0,0.0,0.0,5,5,5,5"/>
<property name="DefaultSize" value="118,25"/>
<property name="UserCode_Bean_configureMap" value="Bean_configureMap"/>
<property name="InstanceName" value="configureMap"/>
<property name="PropertyOrder" value=",text,font,foreground,"/>
<property name="Bean Permissions" value="247"/>
<property name="foreground" value="-16777216"/>
<property name="Panel" value="JPanel1"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="text" value="Configure MapMenu"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Constraints" value="1,0,1,1,2,10,0,0,0.1,0.0,5,5,5,5"/>
<property name="DefaultSize" value="29,29"/>
<property name="UserCode_Bean_checkMap" value="Bean_checkMap"/>
<property name="selected" value="false"/>
<property name="InstanceName" value="checkMap"/>
<property name="PropertyOrder" value=",enabled,selected,"/>
<property name="Bean Permissions" value="247"/>
<property name="enabled" value="true"/>
<property name="Panel" value="JPanel1"/>
<property name="ClassName" value="javax.swing.JCheckBox"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="font" value="Dialog+0+12"/>
<property name="Layout Constraints" value="0,1,1,1,0,17,0,0,0.0,0.0,5,5,5,5"/>
<property name="DefaultSize" value="75,25"/>
<property name="UserCode_Bean_menuName" value="Bean_menuName"/>
<property name="InstanceName" value="menuName"/>
<property name="PropertyOrder" value=",text,font,foreground,"/>
<property name="Bean Permissions" value="247"/>
<property name="foreground" value="-16777216"/>
<property name="Panel" value="JPanel1"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="text" value="Menu Name"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Constraints" value="1,1,1,1,2,10,0,0,0.1,0.0,5,5,5,5"/>
<property name="DefaultSize" value="20,29"/>
<property name="UserCode_Bean_menuNameField" value="Bean_menuNameField"/>
<property name="InstanceName" value="menuNameField"/>
<property name="Bean Permissions" value="247"/>
<property name="Panel" value="JPanel1"/>
<property name="ClassName" value="javax.swing.JTextField"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Constraints" value="1,2,1,1,2,10,0,0,0.1,0.0,5,5,5,5"/>
<property name="DefaultSize" value="20,29"/>
<property name="InstanceName" value="itemNameField"/>
<property name="Bean Permissions" value="247"/>
<property name="Panel" value="JPanel1"/>
<property name="ClassName" value="javax.swing.JTextField"/>
<property name="UserCode_Bean_itemNameField" value="Bean_itemNameField"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="UserCode_Bean_itemName" value="Bean_itemName"/>
<property name="font" value="Dialog+0+12"/>
<property name="Layout Constraints" value="0,2,1,1,0,17,0,0,0.0,0.0,5,5,5,5"/>
<property name="DefaultSize" value="102,25"/>
<property name="InstanceName" value="itemName"/>
<property name="PropertyOrder" value=",text,font,foreground,"/>
<property name="Bean Permissions" value="247"/>
<property name="foreground" value="-16777216"/>
<property name="Panel" value="JPanel1"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="text" value="Menu Item Name"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="UserCode_Bean_mapIconField" value="Bean_mapIconField"/>
<property name="Layout Constraints" value="1,3,1,1,2,10,0,0,0.1,0.0,5,5,5,5"/>
<property name="DefaultSize" value="20,29"/>
<property name="InstanceName" value="mapIconField"/>
<property name="Bean Permissions" value="247"/>
<property name="Panel" value="JPanel1"/>
<property name="ClassName" value="javax.swing.JTextField"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="font" value="Dialog+0+12"/>
<property name="Layout Constraints" value="0,3,1,1,0,17,0,0,0.0,0.0,5,5,5,5"/>
<property name="DefaultSize" value="90,25"/>
<property name="InstanceName" value="mapIcon"/>
<property name="PropertyOrder" value=",font,text,foreground,"/>
<property name="Bean Permissions" value="247"/>
<property name="foreground" value="-16777216"/>
<property name="Panel" value="JPanel1"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="text" value="Image For Map"/>
<property name="UserCode_Bean_mapIcon" value="Bean_mapIcon"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Constraints" value="2,3,1,1,0,13,0,0,0.0,0.0,5,5,5,5"/>
<property name="DefaultSize" value="51,35"/>
<property name="InstanceName" value="browse"/>
<property name="PropertyOrder" value=",text,"/>
<property name="Bean Permissions" value="247"/>
<property name="Panel" value="JPanel1"/>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="text" value="..."/>
<property name="UserCode_Bean_browse" value="Bean_browse"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="UserCode_Bean_JLabel6" value="Bean_JLabel6"/>
<property name="Layout Constraints" value="0,4,0,1,1,10,0,0,0.1,0.1,0,0,0,0"/>
<property name="DefaultSize" value="20,20"/>
<property name="InstanceName" value="JLabel6"/>
<property name="Bean Permissions" value="247"/>
<property name="Panel" value="JPanel1"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Constraints" value="West"/>
<property name="DefaultSize" value="188,408"/>
<property name="UserCode_Bean_JLabel1" value="Bean_JLabel1"/>
<property name="PaddingSize" value="168,388"/>
<property name="InstanceName" value="JLabel1"/>
<property name="Bean Permissions" value="247"/>
<property name="Panel" value="Top"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="Modifiers" value=""/>
</bean>
<property name="Import Code" value=""/>
<property name="Variable Definitions" value=""/>
<property name="Version" value="4.4"/>
<property name="Screen Height" value="434"/>
<property name="Start Commands" value=""/>
<property name="Type" value="Panel"/>
<property name="FileVersion" value="1"/>
<property name="MenuBarPresent" value="true"/>
<property name="GenSource" value="true"/>
<property name="Custom Code" value=""/>
<property name="Dummy Interface" value=""/>
<property name="ScreenTitle" value="new_screen1"/>
<property name="ToolBarPresent" value="true"/>
<property name="HorizontalSplitPanePos" value="170.0"/>
<property name="SubVersion" value="4.4"/>
<property name="LookAndFeel" value="None"/>
</screen>
