<?xml version="1.0" encoding="UTF-8"?>
<screen conversionType="Hash">
<property name="Screen Width" value="569"/>
<property name="Initialize Commands" value=""/>
<bean>
<property name="Layout Manager Constraints" value="5,5"/>
<property name="Layout Constraints" value="Center"/>
<property name="border" value="TitledBorder,[LineBorder,-16777216,1,false],Users Information,2,0,Dialog+0+12,-16777216"/>
<property name="Layout Manager" value="Border Layout"/>
<property name="InstanceName" value="Top"/>
<property name="PropertyOrder" value=",border,"/>
<property name="UserCode_Bean_components" value="Bean_components"/>
<property name="Panel" value="container"/>
<property name="ClassName" value="javax.swing.JPanel"/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Manager Constraints" value="5,5"/>
<property name="Layout Constraints" value="Center"/>
<property name="DefaultSize" value="567,548"/>
<property name="border" value="BevelBorder,0,null,null,null,null"/>
<property name="UserCode_Bean_JPanel3" value="Bean_JPanel3"/>
<property name="Layout Manager" value="Border Layout"/>
<property name="PaddingSize" value="10,10"/>
<property name="InstanceName" value="JPanel3"/>
<property name="PropertyOrder" value=",border,"/>
<property name="Bean Permissions" value="255"/>
<property name="Panel" value="Top"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Manager Constraints" value=""/>
<property name="Layout Constraints" value="Center"/>
<property name="DefaultSize" value="545,199"/>
<property name="border" value="TitledBorder,[EtchedBorder,0,null,null],null,2,0,Dialog+0+12,-10066279"/>
<property name="UserCode_Bean_JPanel2" value="Bean_JPanel2"/>
<property name="Layout Manager" value="GridBag Layout"/>
<property name="InstanceName" value="JPanel2"/>
<property name="PropertyOrder" value=",border,"/>
<property name="Bean Permissions" value="255"/>
<property name="Panel" value="JPanel3"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Manager Constraints" value=""/>
<property name="Layout Constraints" value="2,0,1,1,1,10,0,0,0.1,0.1,5,5,5,5"/>
<property name="DefaultSize" value="30,30"/>
<property name="Layout Manager" value="Viewport Layout"/>
<property name="InstanceName" value="JScrollPane1"/>
<property name="Bean Permissions" value="255"/>
<property name="UserCode_Bean_JScrollPane1" value="Bean_JScrollPane1"/>
<property name="Panel" value="JPanel2"/>
<property name="ClassName" value="javax.swing.JScrollPane"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="UserCode_Bean_addedUsersList" value="Bean_addedUsersList"/>
<property name="DefaultSize" value="183,158"/>
<property name="InstanceName" value="addedUsersList"/>
<property name="PropertyOrder" value=",preferredSize,"/>
<property name="Bean Permissions" value="247"/>
<property name="preferredSize" value="175,150"/>
<property name="Panel" value="JScrollPane1"/>
<property name="ClassName" value="javax.swing.JList"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Manager Constraints" value=""/>
<property name="Layout Constraints" value="0,0,1,1,1,10,0,0,0.1,0.1,5,5,5,5"/>
<property name="DefaultSize" value="30,30"/>
<property name="Layout Manager" value="Viewport Layout"/>
<property name="InstanceName" value="JScrollPane2"/>
<property name="Bean Permissions" value="255"/>
<property name="UserCode_Bean_JScrollPane2" value="Bean_JScrollPane2"/>
<property name="Panel" value="JPanel2"/>
<property name="ClassName" value="javax.swing.JScrollPane"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="DefaultSize" value="183,158"/>
<property name="InstanceName" value="allUsersList"/>
<property name="PropertyOrder" value=",preferredSize,"/>
<property name="UserCode_Bean_allUsersList" value="Bean_allUsersList"/>
<property name="Bean Permissions" value="247"/>
<property name="preferredSize" value="175,150"/>
<property name="Panel" value="JScrollPane2"/>
<property name="ClassName" value="javax.swing.JList"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Manager Constraints" value="5,20,2,0"/>
<property name="Layout Constraints" value="1,0,1,1,0,17,0,0,0.0,0.0,5,5,5,5"/>
<property name="DefaultSize" value="107,108"/>
<property name="Layout Manager" value="Grid Layout"/>
<property name="UserCode_Bean_JPanel1" value="Bean_JPanel1"/>
<property name="InstanceName" value="JPanel1"/>
<property name="Bean Permissions" value="255"/>
<property name="Panel" value="JPanel2"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="UserCode_Bean_add" value="Bean_add"/>
<property name="Initializer" value=""/>
<property name="font" value="Dialog+0+12"/>
<property name="Layout Constraints" value="0"/>
<property name="DefaultSize" value="63,35"/>
<property name="InstanceName" value="add"/>
<property name="PropertyOrder" value=",font,text,"/>
<property name="Bean Permissions" value="247"/>
<property name="Panel" value="JPanel1"/>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="text" value="&gt;&gt;"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="font" value="Dialog+0+12"/>
<property name="Layout Constraints" value="1"/>
<property name="DefaultSize" value="89,35"/>
<property name="InstanceName" value="remove"/>
<property name="PropertyOrder" value=",font,text,"/>
<property name="Bean Permissions" value="247"/>
<property name="UserCode_Bean_remove" value="Bean_remove"/>
<property name="Panel" value="JPanel1"/>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="text" value="&lt;&lt;"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="background" value="-3355444"/>
<property name="Initializer" value=""/>
<property name="editable" value="true"/>
<property name="font" value="Dialog+1+13"/>
<property name="Layout Constraints" value="North"/>
<property name="DefaultSize" value="336,62"/>
<property name="UserCode_Bean_textArea" value="Bean_textArea"/>
<property name="PaddingSize" value="0,18"/>
<property name="InstanceName" value="textArea"/>
<property name="PropertyOrder" value=",background,wrapStyleWord,lineWrap,font,editable,text,"/>
<property name="Bean Permissions" value="247"/>
<property name="wrapStyleWord" value="true"/>
<property name="Panel" value="JPanel3"/>
<property name="ClassName" value="javax.swing.JTextArea"/>
<property name="text" value="Select the users for whom the Nar has to be Installed."/>
<property name="lineWrap" value="true"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Manager Constraints" value="5,5"/>
<property name="Layout Constraints" value="South"/>
<property name="DefaultSize" value="348,255"/>
<property name="UserCode_Bean_JPanel4" value="Bean_JPanel4"/>
<property name="border" value="TitledBorder,[EtchedBorder,0,null,null],null,0,0,Dialog+0+12,-10066279"/>
<property name="Layout Manager" value="Border Layout"/>
<property name="PaddingSize" value="10,10"/>
<property name="InstanceName" value="JPanel4"/>
<property name="PropertyOrder" value=",border,"/>
<property name="Bean Permissions" value="255"/>
<property name="Panel" value="JPanel3"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="font" value="Dialog+0+12"/>
<property name="Layout Constraints" value="Center"/>
<property name="DefaultSize" value="318,97"/>
<property name="PaddingSize" value="162,64"/>
<property name="InstanceName" value="oidUpdate"/>
<property name="PropertyOrder" value=",text,font,"/>
<property name="Bean Permissions" value="247"/>
<property name="UserCode_Bean_oidUpdate" value="Bean_oidUpdate"/>
<property name="Panel" value="JPanel4"/>
<property name="ClassName" value="javax.swing.JCheckBox"/>
<property name="text" value="SYSObjectID Updation"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="background" value="-3355444"/>
<property name="Initializer" value=""/>
<property name="editable" value="false"/>
<property name="font" value="Dialog+1+13"/>
<property name="Layout Constraints" value="North"/>
<property name="DefaultSize" value="306,123"/>
<property name="PaddingSize" value="0,43"/>
<property name="InstanceName" value="JTextArea1"/>
<property name="PropertyOrder" value=",font,wrapStyleWord,lineWrap,background,text,editable,"/>
<property name="Bean Permissions" value="247"/>
<property name="wrapStyleWord" value="true"/>
<property name="Panel" value="JPanel4"/>
<property name="ClassName" value="javax.swing.JTextArea"/>
<property name="text" value="When SysObjectID Update option is checked, the existing SysObjectType of the device will be over written by the user specified type given while packaging."/>
<property name="UserCode_Bean_JTextArea1" value="Bean_JTextArea1"/>
<property name="lineWrap" value="true"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Constraints" value="West"/>
<property name="DefaultSize" value="188,408"/>
<property name="UserCode_Bean_JLabel1" value="Bean_JLabel1"/>
<property name="PaddingSize" value="168,388"/>
<property name="InstanceName" value="JLabel1"/>
<property name="Bean Permissions" value="247"/>
<property name="Panel" value="Top"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="Modifiers" value=""/>
</bean>
<property name="Import Code" value=""/>
<property name="Variable Definitions" value=""/>
<property name="Version" value="4.4"/>
<property name="Screen Height" value="393"/>
<property name="Start Commands" value=""/>
<property name="Type" value="Panel"/>
<property name="FileVersion" value="1"/>
<property name="MenuBarPresent" value="true"/>
<property name="GenSource" value="true"/>
<property name="Custom Code" value=""/>
<property name="Dummy Interface" value=""/>
<property name="ScreenTitle" value="new_screen1"/>
<property name="ToolBarPresent" value="true"/>
<property name="HorizontalSplitPanePos" value="170.0"/>
<property name="SubVersion" value="4.4"/>
<property name="LookAndFeel" value="None"/>
</screen>
