<?xml version="1.0" encoding="ISO-8859-1"?>
<screen conversionType="Hash">
<property name="Screen Width" value="631"/>
<property name="screenTitle" value=""/>
<menu>
<property name="menuName" value="File"/>
<property name="parent" value="top"/>
<property name="type" value="menu"/>
<property name="source" value=""/>
<property name="mnemonic" value="F"/>
<property name="uniqueID" value="MenuBar"/>
</menu>
<menu>
<property name="source" value="//Please add the action code for &quot; Open Template &quot;&#10;openTemplate();"/>
<property name="uniqueID" value="MenuBar"/>
<property name="shortCutKey" value="O"/>
<property name="menuName" value="Load Template"/>
<property name="shiftKeyStatus" value="false"/>
<property name="ctrlKeyStatus" value="true"/>
<property name="actionCommand" value="Open Template"/>
<property name="type" value="menuItem"/>
<property name="altKeyStatus" value="false"/>
<property name="mnemonic" value="O"/>
<property name="parent" value="File"/>
</menu>
<menu>
<property name="source" value="//Please add the action code for &quot; Save &quot;&#10;saveStyleSheet();"/>
<property name="uniqueID" value="MenuBar"/>
<property name="shortCutKey" value="S"/>
<property name="menuName" value="Save"/>
<property name="shiftKeyStatus" value="false"/>
<property name="ctrlKeyStatus" value="true"/>
<property name="actionCommand" value="Save"/>
<property name="type" value="menuItem"/>
<property name="altKeyStatus" value="false"/>
<property name="mnemonic" value="S"/>
<property name="parent" value="File"/>
</menu>
<menu>
<property name="source" value="//Please add the action code for &quot; Save As &quot;&#10;saveStyleSheetAs();"/>
<property name="uniqueID" value="MenuBar"/>
<property name="shortCutKey" value="A"/>
<property name="menuName" value="Save As"/>
<property name="shiftKeyStatus" value="false"/>
<property name="ctrlKeyStatus" value="true"/>
<property name="actionCommand" value="Save As"/>
<property name="type" value="menuItem"/>
<property name="altKeyStatus" value="false"/>
<property name="mnemonic" value="A"/>
<property name="parent" value="File"/>
</menu>
<menu>
<property name="source" value="//Please add the action code for &quot; Start From Scratch &quot;&#10;startFromScratch();"/>
<property name="uniqueID" value="MenuBar"/>
<property name="shortCutKey" value="D"/>
<property name="menuName" value="Default Layout"/>
<property name="shiftKeyStatus" value="false"/>
<property name="ctrlKeyStatus" value="true"/>
<property name="actionCommand" value="Default Layout"/>
<property name="type" value="menuItem"/>
<property name="altKeyStatus" value="false"/>
<property name="mnemonic" value="D"/>
<property name="parent" value="File"/>
</menu>
<menu>
<property name="source" value="//Please add the action code for &quot; Close &quot;&#10;closeAction();"/>
<property name="uniqueID" value="MenuBar"/>
<property name="shortCutKey" value="none"/>
<property name="menuName" value="Close"/>
<property name="shiftKeyStatus" value="false"/>
<property name="ctrlKeyStatus" value="false"/>
<property name="actionCommand" value="Close"/>
<property name="type" value="menuItem"/>
<property name="altKeyStatus" value="false"/>
<property name="mnemonic" value="C"/>
<property name="parent" value="File"/>
</menu>
<menu>
<property name="source" value="//Please add the action code for &quot; Exit &quot;&#10;System.exit(0);"/>
<property name="uniqueID" value="MenuBar"/>
<property name="shortCutKey" value="none"/>
<property name="menuName" value="Exit"/>
<property name="shiftKeyStatus" value="false"/>
<property name="ctrlKeyStatus" value="false"/>
<property name="actionCommand" value="Exit"/>
<property name="type" value="menuItem"/>
<property name="altKeyStatus" value="false"/>
<property name="mnemonic" value="x"/>
<property name="parent" value="File"/>
</menu>
<menu>
<property name="menuName" value="Preview"/>
<property name="parent" value="top"/>
<property name="type" value="menu"/>
<property name="source" value=""/>
<property name="mnemonic" value="P"/>
<property name="uniqueID" value="MenuBar"/>
</menu>
<menu>
<property name="source" value="//Please add the action code for &quot; Full Preview &quot;&#10;fullPreview();"/>
<property name="uniqueID" value="MenuBar"/>
<property name="shortCutKey" value="F"/>
<property name="menuName" value="Full Preview"/>
<property name="shiftKeyStatus" value="false"/>
<property name="ctrlKeyStatus" value="true"/>
<property name="actionCommand" value="Full Preview"/>
<property name="type" value="menuItem"/>
<property name="altKeyStatus" value="false"/>
<property name="mnemonic" value="F"/>
<property name="parent" value="Preview"/>
</menu>
<menu>
<property name="source" value="//Please add the action code for &quot; Show Preview &quot;&#10;showPreview();"/>
<property name="uniqueID" value="MenuBar"/>
<property name="shortCutKey" value="P"/>
<property name="menuName" value="Partial Preview"/>
<property name="shiftKeyStatus" value="false"/>
<property name="ctrlKeyStatus" value="true"/>
<property name="actionCommand" value="Partial Preview"/>
<property name="type" value="menuItem"/>
<property name="altKeyStatus" value="false"/>
<property name="mnemonic" value="P"/>
<property name="parent" value="Preview"/>
</menu>
<menu>
<property name="menuName" value="Help"/>
<property name="parent" value="top"/>
<property name="type" value="menu"/>
<property name="source" value=""/>
<property name="mnemonic" value="H"/>
<property name="uniqueID" value="MenuBar"/>
</menu>
<menu>
<property name="source" value="//Please add the action code for &quot; Help &quot;&#10;helpAction();"/>
<property name="uniqueID" value="MenuBar"/>
<property name="shortCutKey" value="H"/>
<property name="menuName" value="Help"/>
<property name="shiftKeyStatus" value="false"/>
<property name="ctrlKeyStatus" value="true"/>
<property name="actionCommand" value="Help"/>
<property name="type" value="menuItem"/>
<property name="altKeyStatus" value="false"/>
<property name="mnemonic" value="H"/>
<property name="parent" value="Help"/>
</menu>
<bean>
<property name="InstanceName" value="Top"/>
<property name="PopupMenu" value="none"/>
<property name="ExtraCode" value=""/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Layout Manager" value="Border Layout"/>
<property name="Layout Constraints" value="Center"/>
<property name="Panel" value="container"/>
<property name="Layout Manager Constraints" value="5,5"/>
</bean>
<property name="Version" value="4.3"/>
<property name="Screen Height" value="515"/>
<property name="Type" value="Frame"/>
<property name="MenuBarPresent" value="true"/>
<property name="GenSource" value="false"/>
<property name="ToolBarPresent" value="true"/>
<property name="HorizontalSplitPanePos" value="170.0"/>
<property name="SubVersion" value="BeanBuilder_2.0"/>
<property name="LookAndFeel" value="None"/>
</screen>
