<?xml version="1.0" encoding="ISO-8859-1"?>
<screen conversionType="Hash">
<property name="Screen Width" value="657"/>
<property name="screenTitle" value=""/>
<bean>
<property name="InstanceName" value="Top"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Layout Manager" value="Border Layout"/>
<property name="Layout Constraints" value="Center"/>
<property name="Panel" value="container"/>
<property name="Layout Manager Constraints" value="5,5"/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JPanel();"/>
<property name="Layout Manager Constraints" value="5,5"/>
<property name="ExtraCode" value=""/>
<property name="Layout Constraints" value="Center"/>
<property name="DefaultSize" value="656,284"/>
<property name="Layout Manager" value="Border Layout"/>
<property name="PaddingSize" value="636,264"/>
<property name="InstanceName" value="JPanel1"/>
<property name="Bean Permissions" value="255"/>
<property name="Panel" value="Top"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JPanel();"/>
<property name="Layout Manager Constraints" value="5,5"/>
<property name="ExtraCode" value=""/>
<property name="Layout Constraints" value="South"/>
<property name="DefaultSize" value="644,226"/>
<property name="Layout Manager" value="Border Layout"/>
<property name="PaddingSize" value="15,10"/>
<property name="InstanceName" value="JPanel2"/>
<property name="Bean Permissions" value="255"/>
<property name="Panel" value="Top"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JScrollPane();"/>
<property name="Layout Manager Constraints" value=""/>
<property name="ExtraCode" value=""/>
<property name="Layout Constraints" value="North"/>
<property name="DefaultSize" value="621,76"/>
<property name="border" value="TitledBorder,[LineBorder,-16777216,1,false],Status,0,0,Dialog+1+12,-10066279"/>
<property name="Layout Manager" value="Viewport Layout"/>
<property name="PaddingSize" value="568,2"/>
<property name="InstanceName" value="JScrollPane1"/>
<property name="PropertyOrder" value=",border,"/>
<property name="Bean Permissions" value="255"/>
<property name="Panel" value="JPanel2"/>
<property name="ClassName" value="javax.swing.JScrollPane"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JTextArea();"/>
<property name="ExtraCode" value=""/>
<property name="editable" value="false"/>
<property name="DefaultSize" value="20,25"/>
<property name="opaque" value="false"/>
<property name="InstanceName" value="JTextArea1"/>
<property name="PropertyOrder" value=",wrapStyleWord,editable,enabled,opaque,"/>
<property name="Bean Permissions" value="247"/>
<property name="enabled" value="false"/>
<property name="wrapStyleWord" value="true"/>
<property name="Panel" value="JScrollPane1"/>
<property name="ClassName" value="javax.swing.JTextArea"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JPanel();"/>
<property name="Layout Manager Constraints" value="5,5"/>
<property name="ExtraCode" value=""/>
<property name="Layout Constraints" value="Center"/>
<property name="DefaultSize" value="621,127"/>
<property name="Layout Manager" value="Border Layout"/>
<property name="PaddingSize" value="10,10"/>
<property name="InstanceName" value="JPanel3"/>
<property name="Bean Permissions" value="255"/>
<property name="Panel" value="JPanel2"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JPanel();"/>
<property name="Layout Manager Constraints" value="5,5"/>
<property name="ExtraCode" value=""/>
<property name="Layout Constraints" value="North"/>
<property name="DefaultSize" value="603,51"/>
<property name="Layout Manager" value="Border Layout"/>
<property name="PaddingSize" value="421,10"/>
<property name="InstanceName" value="JPanel4"/>
<property name="Bean Permissions" value="255"/>
<property name="Panel" value="JPanel3"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JCheckBox();"/>
<property name="ExtraCode" value=""/>
<property name="font" value="SansSerif+0+12"/>
<property name="Layout Constraints" value="West"/>
<property name="DefaultSize" value="169,33"/>
<property name="InstanceName" value="JCheckBox1"/>
<property name="PropertyOrder" value=",font,horizontalTextPosition,text,"/>
<property name="Bean Permissions" value="247"/>
<property name="Panel" value="JPanel4"/>
<property name="ClassName" value="javax.swing.JCheckBox"/>
<property name="horizontalTextPosition" value="4"/>
<property name="text" value="Show Debug Information"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="PopupMenu" value="none"/>
<property name="Initializer" value="new javax.swing.JPanel();"/>
<property name="Layout Manager Constraints" value="5,5,1"/>
<property name="ExtraCode" value=""/>
<property name="Layout Constraints" value="Center"/>
<property name="DefaultSize" value="387,53"/>
<property name="Layout Manager" value="Flow Layout"/>
<property name="PaddingSize" value="38,0"/>
<property name="InstanceName" value="JPanel5"/>
<property name="Bean Permissions" value="255"/>
<property name="Panel" value="JPanel3"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JButton();"/>
<property name="ExtraCode" value=""/>
<property name="font" value="SansSerif+0+12"/>
<property name="Layout Constraints" value="0"/>
<property name="DefaultSize" value="69,35"/>
<property name="InstanceName" value="JButton1"/>
<property name="PropertyOrder" value=",font,horizontalTextPosition,text,preferredSize,"/>
<property name="Bean Permissions" value="247"/>
<property name="preferredSize" value="61,27"/>
<property name="Panel" value="JPanel5"/>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="horizontalTextPosition" value="4"/>
<property name="text" value="Back"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JButton();"/>
<property name="ExtraCode" value=""/>
<property name="font" value="SansSerif+0+12"/>
<property name="Layout Constraints" value="1"/>
<property name="DefaultSize" value="67,35"/>
<property name="InstanceName" value="JButton2"/>
<property name="PropertyOrder" value=",font,horizontalTextPosition,text,"/>
<property name="Bean Permissions" value="247"/>
<property name="Panel" value="JPanel5"/>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="horizontalTextPosition" value="4"/>
<property name="text" value="Next"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JButton();"/>
<property name="ExtraCode" value=""/>
<property name="font" value="SansSerif+0+12"/>
<property name="Layout Constraints" value="2"/>
<property name="DefaultSize" value="105,35"/>
<property name="InstanceName" value="JButton4"/>
<property name="PropertyOrder" value=",font,horizontalTextPosition,actionCommand,text,"/>
<property name="Bean Permissions" value="247"/>
<property name="actionCommand" value="Show"/>
<property name="Panel" value="JPanel5"/>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="horizontalTextPosition" value="4"/>
<property name="text" value="Description"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JButton();"/>
<property name="ExtraCode" value=""/>
<property name="font" value="SansSerif+0+12"/>
<property name="Layout Constraints" value="3"/>
<property name="DefaultSize" value="75,35"/>
<property name="InstanceName" value="JButton3"/>
<property name="PropertyOrder" value=",font,horizontalTextPosition,text,"/>
<property name="Bean Permissions" value="247"/>
<property name="Panel" value="JPanel5"/>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="horizontalTextPosition" value="4"/>
<property name="text" value="Close"/>
<property name="Modifiers" value=""/>
</bean>
<property name="Version" value="4.3"/>
<property name="Screen Height" value="520"/>
<property name="Type" value="Frame"/>
<connection>
<property name="ConnectionType" value="0"/>
<property name="NeedsCompilation" value="false"/>
<property name="Targets" value="JButton3-TARGET"/>
<property name="Sources" value="JButton3-action-false"/>
<property name="ConnectionName" value="JButton3_JButton3_conn"/>
<property name="ConnectionClass" value="java.awt.event.ActionListener"/>
<property name="Connection_Version" value="1"/>
<property name="ListenerMethodName" value="actionPerformed"/>
<property name="SrcString" value=" new java.awt.event.ActionListener()&#10;  {&#10;&#10;     //&lt;TOP_PART&gt; - Please do not remove this comment or write any custom code above this&#10;&#10;     //Listener Interface Methods Are Added Below &#10;&#10;&#10;     public void actionPerformed( java.awt.event.ActionEvent arg0)&#10;     {&#10;  dispose();&#10;     }&#10;}"/>
</connection>
<connection>
<property name="ConnectionType" value="1"/>
<property name="NeedsCompilation" value="false"/>
<property name="Targets" value="JButton4-TARGET"/>
<property name="Sources" value="JButton4-action-false"/>
<property name="ConnectionName" value="JButton4_JButton4_conn"/>
<property name="ConnectionClass" value="java.awt.event.ActionListener"/>
<property name="Connection_Version" value="1"/>
<property name="ListenerMethodName" value="actionPerformed"/>
<property name="SrcString" value="&#10; class JButton4_JButton4_conn implements java.awt.event.ActionListener, java.io.Serializable &#10;  {&#10;&#10;     //&lt;TOP_PART&gt; - Please do not remove this comment or write any custom code above this&#10;&#10;     //Listener Interface Methods Are Added Below &#10;&#10;&#10;     public void actionPerformed( java.awt.event.ActionEvent arg0)&#10;     {&#10;  showDescription();&#10;     }&#10;&#10;}&#10;"/>
</connection>
<property name="MenuBarPresent" value="true"/>
<property name="GenSource" value="false"/>
<property name="ToolBarPresent" value="true"/>
<property name="HorizontalSplitPanePos" value="170.0"/>
<property name="SubVersion" value="BeanBuilder_2.0"/>
<property name="LookAndFeel" value="None"/>
</screen>
