<?xml version="1.0" encoding="ISO-8859-1"?>
<screen conversionType="Hash">
<property name="Screen Width" value="714"/>
<property name="screenTitle" value=""/>
<bean>
<property name="InstanceName" value="Top"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Layout Manager" value="Border Layout"/>
<property name="Layout Constraints" value="Center"/>
<property name="Panel" value="container"/>
<property name="Layout Manager Constraints" value="5,5"/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JScrollPane();"/>
<property name="Layout Manager Constraints" value=""/>
<property name="ExtraCode" value=""/>
<property name="Layout Constraints" value="Center"/>
<property name="DefaultSize" value="722,405"/>
<property name="Layout Manager" value="Viewport Layout"/>
<property name="InstanceName" value="JScrollPane1"/>
<property name="Bean Permissions" value="255"/>
<property name="Panel" value="Top"/>
<property name="ClassName" value="javax.swing.JScrollPane"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Bean Permissions" value="247"/>
<property name="InstanceName" value="listView"/>
<property name="DefaultSize" value="696,394"/>
<property name="Modifiers" value=""/>
<property name="ExtraCode" value=""/>
<property name="ClassName" value="com.adventnet.beans.probeans.ProListView"/>
<property name="Panel" value="JScrollPane1"/>
<property name="Initializer" value="new com.adventnet.beans.probeans.ProListView();"/>
</bean>
<property name="Version" value="4.3"/>
<property name="Screen Height" value="442"/>
<property name="Type" value="Nms Panel"/>
<property name="MenuBarPresent" value="false"/>
<property name="GenSource" value="true"/>
<property name="ToolBarPresent" value="true"/>
<property name="HorizontalSplitPanePos" value="170.0"/>
<property name="SubVersion" value="BeanBuilder_2.0"/>
<property name="LookAndFeel" value="None"/>
</screen>
