<?xml version="1.0"?>
<screen>
<property name="Type" value="Panel"/>
<property name="Version" value="4.2F"/>
<property name="Initialize Commands" value=""/>
<property name="Dummy Interface" value=""/>
<property name="Screen Width" value="787"/>
<property name="Import Code" value=""/>
<property name="Variable Definitions" value=""/>
<property name="GenSource" value="true"/>
<property name="Screen Height" value="585"/>
<property name="HorizontalSplitPanePos" value="0.15926640926640925"/>
<property name="ToolBarPresent" value="true"/>
<property name="Custom Code" value=""/>
<property name="screenTitle" value="new_screen2"/>
<property name="Start Commands" value=""/>
<property name="LookAndFeel" value="None"/>
<property name="MenuBarPresent" value="true"/>
<bean>
<property name="InstanceName" value="Top"/>
<property name="ExtraCode" value=""/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Layout Manager" value="GridBag Layout"/>
<property name="Layout Constraints" value="Center"/>
<property name="Panel" value="container"/>
<property name="Layout Manager Constraints" value=""/>
</bean>
<bean>
<property name="Layout Manager Constraints" value=""/>
<property name="ExtraCode" value=""/>
<property name="Layout Constraints" value="0,3,0,1,2,10,0,0,0.1,0.0,5,5,5,5"/>
<property name="DefaultSize" value="630,240"/>
<property name="border" value="TitledBorder,[LineBorder,-16777216,1,false],Field Properties,1,2,Dialog+0+12,-10066279"/>
<property name="Layout Manager" value="GridBag Layout"/>
<property name="InstanceName" value="panel_NameValue"/>
<property name="PropertyOrder" value=",border,"/>
<property name="Bean Permissions" value="255"/>
<property name="Panel" value="Top"/>
<property name="ClassName" value="javax.swing.JPanel"/>
</bean>
<bean>
<property name="Bean Permissions" value="247"/>
<property name="InstanceName" value="text_DefaultVal"/>
<property name="DefaultSize" value="20,25"/>
<property name="ExtraCode" value=""/>
<property name="ClassName" value="javax.swing.JTextField"/>
<property name="Panel" value="panel_NameValue"/>
<property name="Layout Constraints" value="1,2,3,1,2,17,0,0,0.1,0.0,10,10,10,10"/>
</bean>
<bean>
<property name="ExtraCode" value=""/>
<property name="Layout Constraints" value="1,0,3,1,2,17,0,0,0.1,0.0,10,10,10,10"/>
<property name="toolTipText" value="Enter name of property"/>
<property name="DefaultSize" value="20,25"/>
<property name="InstanceName" value="text_PropName"/>
<property name="PropertyOrder" value=",toolTipText,"/>
<property name="Bean Permissions" value="247"/>
<property name="Panel" value="panel_NameValue"/>
<property name="ClassName" value="javax.swing.JTextField"/>
</bean>
<bean>
<property name="ExtraCode" value=""/>
<property name="Layout Constraints" value="0,0,1,1,0,17,0,0,0.0,0.0,10,10,10,10"/>
<property name="DefaultSize" value="124,21"/>
<property name="InstanceName" value="label_PropName"/>
<property name="PropertyOrder" value=",horizontalAlignment,text,"/>
<property name="Bean Permissions" value="247"/>
<property name="Panel" value="panel_NameValue"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="text" value="Property Name"/>
<property name="horizontalAlignment" value="2"/>
</bean>
<bean>
<property name="ExtraCode" value=""/>
<property name="Layout Constraints" value="0,2,1,1,0,17,0,0,0.0,0.0,10,10,10,10"/>
<property name="DefaultSize" value="114,21"/>
<property name="InstanceName" value="label_DefaultValue"/>
<property name="PropertyOrder" value=",horizontalTextPosition,text,"/>
<property name="Bean Permissions" value="247"/>
<property name="Panel" value="panel_NameValue"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="horizontalTextPosition" value="2"/>
<property name="text" value="Default Value"/>
</bean>
<bean>
<property name="ExtraCode" value=""/>
<property name="Layout Constraints" value="3,1,1,1,2,17,0,0,0.1,0.0,10,10,10,10"/>
<property name="toolTipText" value="Select Datatype for property"/>
<property name="DefaultSize" value="134,30"/>
<property name="InstanceName" value="cmb_DataType"/>
<property name="PropertyOrder" value=",toolTipText,"/>
<property name="Bean Permissions" value="247"/>
<property name="Panel" value="panel_NameValue"/>
<property name="ClassName" value="javax.swing.JComboBox"/>
</bean>
<bean>
<property name="ExtraCode" value=""/>
<property name="Layout Constraints" value="0,1,1,1,0,10,0,0,0.0,0.0,10,10,10,10"/>
<property name="DefaultSize" value="142,21"/>
<property name="InstanceName" value="label_Access"/>
<property name="PropertyOrder" value=",text,"/>
<property name="Bean Permissions" value="247"/>
<property name="Panel" value="panel_NameValue"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="text" value="Access Modifiers"/>
</bean>
<bean>
<property name="ExtraCode" value=""/>
<property name="Layout Constraints" value="2,1,1,1,0,13,0,0,0.0,0.0,10,10,10,10"/>
<property name="DefaultSize" value="82,21"/>
<property name="InstanceName" value="label_DataType"/>
<property name="PropertyOrder" value=",text,horizontalAlignment,"/>
<property name="Bean Permissions" value="247"/>
<property name="Panel" value="panel_NameValue"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="horizontalAlignment" value="2"/>
<property name="text" value="DataType"/>
</bean>
<bean>
<property name="Bean Permissions" value="247"/>
<property name="InstanceName" value="cmb_Access"/>
<property name="DefaultSize" value="134,30"/>
<property name="ClassName" value="javax.swing.JComboBox"/>
<property name="Panel" value="panel_NameValue"/>
<property name="Layout Constraints" value="1,1,1,1,2,17,0,0,0.1,0.0,10,10,10,10"/>
</bean>
<bean>
<property name="PopupMenu" value="none"/>
<property name="Layout Manager Constraints" value="15,5,2"/>
<property name="ExtraCode" value=""/>
<property name="Layout Constraints" value="0,3,0,1,2,10,0,0,0.0,0.0,10,10,10,10"/>
<property name="DefaultSize" value="359,49"/>
<property name="Layout Manager" value="Flow Layout"/>
<property name="InstanceName" value="panel_AddModDel"/>
<property name="Bean Permissions" value="255"/>
<property name="Panel" value="panel_NameValue"/>
<property name="ClassName" value="javax.swing.JPanel"/>
</bean>
<bean>
<property name="ExtraCode" value=""/>
<property name="Layout Constraints" value="0"/>
<property name="DefaultSize" value="97,31"/>
<property name="PaddingSize" value="26,0"/>
<property name="InstanceName" value="button_Add"/>
<property name="PropertyOrder" value=",text,"/>
<property name="Bean Permissions" value="247"/>
<property name="Panel" value="panel_AddModDel"/>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="text" value="Add"/>
</bean>
<bean>
<property name="ExtraCode" value=""/>
<property name="Layout Constraints" value="1"/>
<property name="DefaultSize" value="97,31"/>
<property name="PaddingSize" value="6,0"/>
<property name="InstanceName" value="button_Modify"/>
<property name="PropertyOrder" value=",text,"/>
<property name="Bean Permissions" value="247"/>
<property name="Panel" value="panel_AddModDel"/>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="text" value="Modify"/>
</bean>
<bean>
<property name="ExtraCode" value=""/>
<property name="Layout Constraints" value="2"/>
<property name="DefaultSize" value="97,31"/>
<property name="PaddingSize" value="10,0"/>
<property name="InstanceName" value="button_Delete"/>
<property name="PropertyOrder" value=",text,"/>
<property name="Bean Permissions" value="247"/>
<property name="Panel" value="panel_AddModDel"/>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="text" value="Delete"/>
</bean>
<bean>
<property name="Bean Permissions" value="255"/>
<property name="InstanceName" value="tableScroller"/>
<property name="DefaultSize" value="30,30"/>
<property name="ClassName" value="javax.swing.JScrollPane"/>
<property name="Layout Manager" value="Viewport Layout"/>
<property name="Panel" value="Top"/>
<property name="Layout Constraints" value="0,1,0,2,1,10,0,0,0.1,0.1,5,5,5,5"/>
<property name="Layout Manager Constraints" value=""/>
</bean>
<bean>
<property name="Bean Permissions" value="247"/>
<property name="InstanceName" value="customPropertyTable"/>
<property name="DefaultSize" value="20,20"/>
<property name="ExtraCode" value=" "/>
<property name="ClassName" value="javax.swing.JTable"/>
<property name="Panel" value="tableScroller"/>
</bean>
<bean>
<property name="ExtraCode" value=""/>
<property name="editable" value="false"/>
<property name="Layout Constraints" value="0,0,1,1,2,10,0,0,0.0,0.0,5,5,5,5"/>
<property name="DefaultSize" value="779,34"/>
<property name="InstanceName" value="textInfo"/>
<property name="PropertyOrder" value=",wrapStyleWord,lineWrap,editable,text,"/>
<property name="Bean Permissions" value="247"/>
<property name="wrapStyleWord" value="true"/>
<property name="Panel" value="Top"/>
<property name="ClassName" value="javax.swing.JTextArea"/>
<property name="text" value="Please enter the properties you would like to add.The properties which have been added are reflected in the table shown below:-"/>
<property name="lineWrap" value="true"/>
</bean>
</screen>

