<?xml version="1.0"?>
<screen>
<property name="Screen Height" value="563"/>
<property name="Screen Width" value="788"/>
<property name="Dummy Interface" value=""/>
<property name="Import Code" value=""/>
<property name="Variable Definitions" value=""/>
<property name="MenuBarPresent" value="true"/>
<property name="Type" value="Panel"/>
<property name="HorizontalSplitPanePos" value="0.1865234375"/>
<property name="LookAndFeel" value="None"/>
<property name="screenTitle" value="AddDeviceScr"/>
<property name="Version" value="4.2F"/>
<property name="Initialize Commands" value=""/>
<property name="Start Commands" value=""/>
<property name="ToolBarPresent" value="true"/>
<property name="GenSource" value="true"/>
<property name="Custom Code" value=""/>
<bean>
<property name="Layout Manager" value="GridBag Layout"/>
<property name="PopupMenu" value="none"/>
<property name="maximumSize" value="107,17"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="PropertyOrder" value=",maximumSize,minimumSize,"/>
<property name="Panel" value="container"/>
<property name="InstanceName" value="Top"/>
<property name="Layout Manager Constraints" value=""/>
<property name="minimumSize" value="107,17"/>
<property name="ExtraCode" value=""/>
<property name="Layout Constraints" value="Center"/>
</bean>
<bean>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="PropertyOrder" value=",text,foreground,"/>
<property name="Panel" value="Top"/>
<property name="InstanceName" value="label_OID"/>
<property name="ExtraCode" value=""/>
<property name="text" value="Enterprise OID"/>
<property name="foreground" value="-16764109"/>
<property name="Layout Constraints" value="0,0,1,1,0,17,0,0,0.0,0.0,10,10,5,10"/>
<property name="Bean Permissions" value="244"/>
<property name="DefaultSize" value="123,21"/>
</bean>
<bean>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="PropertyOrder" value=",text,foreground,"/>
<property name="Panel" value="Top"/>
<property name="InstanceName" value="label_Type"/>
<property name="ExtraCode" value=""/>
<property name="text" value="DeviceType"/>
<property name="foreground" value="-16764109"/>
<property name="Layout Constraints" value="0,1,1,1,0,17,0,0,0.0,0.0,5,10,5,10"/>
<property name="Bean Permissions" value="244"/>
<property name="DefaultSize" value="98,21"/>
</bean>
<bean>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="PropertyOrder" value=",text,foreground,"/>
<property name="Panel" value="Top"/>
<property name="InstanceName" value="label_PollInt"/>
<property name="ExtraCode" value=""/>
<property name="text" value="Poll Interval"/>
<property name="foreground" value="-16764109"/>
<property name="Layout Constraints" value="0,2,1,1,0,17,0,0,0.0,0.0,5,10,5,10"/>
<property name="Bean Permissions" value="244"/>
<property name="DefaultSize" value="102,21"/>
</bean>
<bean>
<property name="toolTipText" value="Please enter the Enterprise OID"/>
<property name="ClassName" value="javax.swing.JTextField"/>
<property name="PropertyOrder" value=",toolTipText,"/>
<property name="Panel" value="Top"/>
<property name="InstanceName" value="text_EOID"/>
<property name="ExtraCode" value=""/>
<property name="Layout Constraints" value="1,0,-1,1,2,17,0,0,0.1,0.0,10,10,5,10"/>
<property name="Bean Permissions" value="244"/>
<property name="DefaultSize" value="20,25"/>
</bean>
<bean>
<property name="toolTipText" value="Please enter Device Type"/>
<property name="ClassName" value="javax.swing.JTextField"/>
<property name="PropertyOrder" value=",toolTipText,"/>
<property name="Panel" value="Top"/>
<property name="InstanceName" value="text_DevType"/>
<property name="ExtraCode" value=""/>
<property name="Layout Constraints" value="1,1,0,1,2,10,0,0,0.1,0.0,5,10,5,10"/>
<property name="Bean Permissions" value="244"/>
<property name="DefaultSize" value="20,25"/>
</bean>
<bean>
<property name="toolTipText" value="Please enter Polling Interval"/>
<property name="ClassName" value="javax.swing.JTextField"/>
<property name="PropertyOrder" value=",toolTipText,"/>
<property name="Panel" value="Top"/>
<property name="InstanceName" value="text_PolInt"/>
<property name="ExtraCode" value=""/>
<property name="Layout Constraints" value="1,2,0,1,2,10,0,0,0.0,0.0,5,10,5,10"/>
<property name="Bean Permissions" value="244"/>
<property name="DefaultSize" value="20,25"/>
</bean>
<bean>
<property name="toolTipText" value="Please enter User Tester Class Name"/>
<property name="ClassName" value="javax.swing.JTextField"/>
<property name="PropertyOrder" value=",toolTipText,"/>
<property name="Panel" value="Top"/>
<property name="InstanceName" value="text_UsrTst"/>
<property name="ExtraCode" value=""/>
<property name="Layout Constraints" value="1,3,-1,1,2,17,0,0,0.1,0.0,5,10,5,10"/>
<property name="Bean Permissions" value="244"/>
<property name="DefaultSize" value="20,25"/>
</bean>
<bean>
<property name="toolTipText" value="Please enter Discovery Filter Class Name"/>
<property name="ClassName" value="javax.swing.JTextField"/>
<property name="PropertyOrder" value=",toolTipText,"/>
<property name="Panel" value="Top"/>
<property name="InstanceName" value="text_DiscFilter"/>
<property name="ExtraCode" value=""/>
<property name="Layout Constraints" value="1,4,-1,1,2,10,0,0,0.1,0.0,5,10,5,10"/>
<property name="Bean Permissions" value="244"/>
<property name="DefaultSize" value="20,25"/>
</bean>
<bean>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="PropertyOrder" value=",actionCommand,text,"/>
<property name="Panel" value="Top"/>
<property name="InstanceName" value="bUserTest"/>
<property name="ExtraCode" value=""/>
<property name="text" value="Select"/>
<property name="actionCommand" value="Define "/>
<property name="Layout Constraints" value="10,3,0,1,0,10,0,0,0.0,0.0,5,0,5,10"/>
<property name="Bean Permissions" value="244"/>
<property name="DefaultSize" value="141,31"/>
</bean>
<bean>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="PropertyOrder" value=",text,"/>
<property name="Panel" value="Top"/>
<property name="InstanceName" value="bDiscover"/>
<property name="ExtraCode" value=""/>
<property name="text" value="Select"/>
<property name="Layout Constraints" value="10,4,0,1,0,10,0,0,0.0,0.0,5,0,5,10"/>
<property name="Bean Permissions" value="244"/>
<property name="DefaultSize" value="141,31"/>
</bean>
<bean>
<property name="Layout Manager" value="Flow Layout"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Panel" value="Top"/>
<property name="InstanceName" value="fillPanel"/>
<property name="Layout Manager Constraints" value="5,5,1"/>
<property name="ExtraCode" value=""/>
<property name="Layout Constraints" value="0,5,0,1,1,10,0,0,0.1,0.1,0,0,0,0"/>
<property name="Bean Permissions" value="252"/>
<property name="DefaultSize" value="20,20"/>
</bean>
<bean>
<property name="PopupMenu" value="none"/>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="PropertyOrder" value=",text,"/>
<property name="Panel" value="Top"/>
<property name="InstanceName" value="buttonSelect"/>
<property name="ExtraCode" value=""/>
<property name="text" value="Select Device"/>
<property name="Layout Constraints" value="10,0,0,1,0,10,0,0,0.0,0.0,0,0,0,0"/>
<property name="Bean Permissions" value="247"/>
<property name="DefaultSize" value="145,31"/>
</bean>
<bean>
<property name="ClassName" value="javax.swing.JCheckBox"/>
<property name="PropertyOrder" value=",text,"/>
<property name="Panel" value="Top"/>
<property name="InstanceName" value="chb_UserTester"/>
<property name="ExtraCode" value=""/>
<property name="text" value="UserTester"/>
<property name="Layout Constraints" value="0,3,1,1,0,17,0,0,0.0,0.0,5,10,5,10"/>
<property name="Bean Permissions" value="247"/>
<property name="DefaultSize" value="119,29"/>
</bean>
<bean>
<property name="ClassName" value="javax.swing.JCheckBox"/>
<property name="PropertyOrder" value=",text,"/>
<property name="Panel" value="Top"/>
<property name="InstanceName" value="chb_DiscFilter"/>
<property name="ExtraCode" value=""/>
<property name="text" value="Discovery Filter"/>
<property name="Layout Constraints" value="0,4,1,1,0,17,0,0,0.0,0.0,5,10,5,10"/>
<property name="Bean Permissions" value="247"/>
<property name="DefaultSize" value="157,29"/>
</bean>
</screen>

