<?xml version="1.0"?>
<screen>
<property name="Type" value="Dialog"/>
<property name="Version" value="4.2F"/>
<property name="Initialize Commands" value=""/>
<property name="Dummy Interface" value=""/>
<property name="Screen Width" value="723"/>
<property name="Import Code" value=""/>
<property name="Variable Definitions" value=""/>
<property name="GenSource" value="true"/>
<property name="Screen Height" value="486"/>
<property name="HorizontalSplitPanePos" value="0.18129770992366412"/>
<property name="ToolBarPresent" value="true"/>
<property name="Custom Code" value=""/>
<property name="screenTitle" value="new_screen1"/>
<property name="Start Commands" value=""/>
<property name="LookAndFeel" value="None"/>
<property name="MenuBarPresent" value="true"/>
<bean>
<property name="InstanceName" value="Top"/>
<property name="ExtraCode" value=""/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Layout Manager" value="Border Layout"/>
<property name="Layout Constraints" value="Center"/>
<property name="Panel" value="container"/>
<property name="Layout Manager Constraints" value="5,5"/>
</bean>
<bean>
<property name="Layout Manager Constraints" value="10,5,2"/>
<property name="ExtraCode" value=""/>
<property name="Layout Constraints" value="South"/>
<property name="DefaultSize" value="224,49"/>
<property name="Layout Manager" value="Flow Layout"/>
<property name="PaddingSize" value="105,0"/>
<property name="InstanceName" value="okCancelPanel"/>
<property name="Bean Permissions" value="255"/>
<property name="Panel" value="Top"/>
<property name="ClassName" value="javax.swing.JPanel"/>
</bean>
<bean>
<property name="ExtraCode" value=""/>
<property name="Layout Constraints" value="0"/>
<property name="DefaultSize" value="91,31"/>
<property name="border" value="BevelBorder,0,null,null,null,null"/>
<property name="PaddingSize" value="58,6"/>
<property name="InstanceName" value="okButton"/>
<property name="PropertyOrder" value=",label,border,text,actionCommand,"/>
<property name="Bean Permissions" value="247"/>
<property name="actionCommand" value="Ok"/>
<property name="label" value="Ok"/>
<property name="Panel" value="okCancelPanel"/>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="text" value="OK"/>
</bean>
<bean>
<property name="Layout Manager Constraints" value=""/>
<property name="ExtraCode" value=""/>
<property name="Layout Constraints" value="Center"/>
<property name="DefaultSize" value="716,427"/>
<property name="Layout Manager" value="Viewport Layout"/>
<property name="InstanceName" value="errorScroller"/>
<property name="Bean Permissions" value="255"/>
<property name="Panel" value="Top"/>
<property name="ClassName" value="javax.swing.JScrollPane"/>
</bean>
<bean>
<property name="ExtraCode" value=""/>
<property name="DefaultSize" value="705,416"/>
<property name="selectedTextColor" value="-1"/>
<property name="border" value="TitledBorder,[null],Compile Status,4,2,Dialog+1+12,-10066279"/>
<property name="InstanceName" value="errorArea"/>
<property name="PropertyOrder" value=",selectionColor,border,selectedTextColor,"/>
<property name="Bean Permissions" value="247"/>
<property name="selectionColor" value="-13434829"/>
<property name="Panel" value="errorScroller"/>
<property name="ClassName" value="javax.swing.JTextArea"/>
</bean>
</screen>

