<?xml version="1.0"?>
<screen>
<property name="Type" value="Panel"/>
<property name="Version" value="4.2F"/>
<property name="Initialize Commands" value=""/>
<property name="Dummy Interface" value=""/>
<property name="Screen Width" value="476"/>
<property name="Import Code" value=""/>
<property name="Variable Definitions" value=""/>
<property name="GenSource" value="false"/>
<property name="Screen Height" value="489"/>
<property name="HorizontalSplitPanePos" value="0.1669902912621359"/>
<property name="ToolBarPresent" value="true"/>
<property name="Custom Code" value=""/>
<property name="screenTitle" value="new_screen1"/>
<property name="Start Commands" value=""/>
<property name="LookAndFeel" value="None"/>
<property name="MenuBarPresent" value="true"/>
<bean>
<property name="InstanceName" value="Top"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Layout Manager" value="Border Layout"/>
<property name="Layout Constraints" value="Center"/>
<property name="Panel" value="container"/>
<property name="Layout Manager Constraints" value="5,5"/>
</bean>
<bean>
<property name="Bean Permissions" value="247"/>
<property name="InstanceName" value="labelSpace"/>
<property name="DefaultSize" value="679,100"/>
<property name="PaddingSize" value="659,80"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="Panel" value="Top"/>
<property name="Layout Constraints" value="South"/>
</bean>
<bean>
<property name="PopupMenu" value="none"/>
<property name="Layout Manager Constraints" value="5,5"/>
<property name="ExtraCode" value=""/>
<property name="Layout Constraints" value="Center"/>
<property name="DefaultSize" value="420,366"/>
<property name="border" value="TitledBorder,[LineBorder,-16777216,1,false],Additional Components,1,2,Dialog+0+12,-16764109"/>
<property name="Layout Manager" value="Border Layout"/>
<property name="PaddingSize" value="400,335"/>
<property name="InstanceName" value="panelEditabList"/>
<property name="PropertyOrder" value=",border,"/>
<property name="Bean Permissions" value="255"/>
<property name="Panel" value="Top"/>
<property name="ClassName" value="javax.swing.JPanel"/>
</bean>
</screen>

