<?xml version="1.0"?>
<screen>
<property name="Type" value="Dialog"/>
<property name="Version" value="4.2F"/>
<property name="Initialize Commands" value=""/>
<property name="Dummy Interface" value=""/>
<property name="Screen Width" value="620"/>
<property name="Import Code" value=""/>
<property name="Variable Definitions" value=""/>
<property name="GenSource" value="true"/>
<property name="Screen Height" value="414"/>
<property name="HorizontalSplitPanePos" value="0.16986564299424184"/>
<property name="ToolBarPresent" value="true"/>
<property name="Custom Code" value=""/>
<property name="screenTitle" value="new_screen1"/>
<property name="Start Commands" value=""/>
<property name="LookAndFeel" value="None"/>
<property name="MenuBarPresent" value="true"/>
<bean>
<property name="InstanceName" value="Top"/>
<property name="ExtraCode" value=""/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Layout Manager" value="Border Layout"/>
<property name="Layout Constraints" value="Center"/>
<property name="Panel" value="container"/>
<property name="Layout Manager Constraints" value="5,5"/>
</bean>
<bean>
<property name="Layout Manager Constraints" value="5,5,1"/>
<property name="ExtraCode" value=""/>
<property name="Layout Constraints" value="South"/>
<property name="DefaultSize" value="165,51"/>
<property name="Layout Manager" value="Flow Layout"/>
<property name="InstanceName" value="OkCancelPanel"/>
<property name="Bean Permissions" value="255"/>
<property name="Panel" value="Top"/>
<property name="ClassName" value="javax.swing.JPanel"/>
</bean>
<bean>
<property name="ExtraCode" value=""/>
<property name="maximumSize" value="59,25"/>
<property name="Layout Constraints" value="0"/>
<property name="minimumSize" value="59,25"/>
<property name="DefaultSize" value="67,33"/>
<property name="border" value="BevelBorder,0,null,null,null,null"/>
<property name="InstanceName" value="okButton"/>
<property name="PropertyOrder" value=",border,preferredSize,maximumSize,minimumSize,actionCommand,label,text,"/>
<property name="Bean Permissions" value="247"/>
<property name="preferredSize" value="59,25"/>
<property name="actionCommand" value="Ok"/>
<property name="label" value=""/>
<property name="Panel" value="OkCancelPanel"/>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="text" value="OK"/>
</bean>
<bean>
<property name="ExtraCode" value=""/>
<property name="maximumSize" value="59,25"/>
<property name="Layout Constraints" value="1"/>
<property name="minimumSize" value="59,25"/>
<property name="DefaultSize" value="75,33"/>
<property name="border" value="BevelBorder,0,null,null,null,null"/>
<property name="PaddingSize" value="8,0"/>
<property name="InstanceName" value="cancelButton"/>
<property name="PropertyOrder" value=",border,preferredSize,maximumSize,minimumSize,actionCommand,label,text,"/>
<property name="Bean Permissions" value="247"/>
<property name="preferredSize" value="59,25"/>
<property name="actionCommand" value="Cancel"/>
<property name="label" value=""/>
<property name="Panel" value="OkCancelPanel"/>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="text" value="Cancel"/>
</bean>
<bean>
<property name="Layout Manager Constraints" value=""/>
<property name="ExtraCode" value=""/>
<property name="Layout Constraints" value="Center"/>
<property name="DefaultSize" value="46,46"/>
<property name="Layout Manager" value="Viewport Layout"/>
<property name="InstanceName" value="tableScroll"/>
<property name="Bean Permissions" value="255"/>
<property name="Panel" value="Top"/>
<property name="ClassName" value="javax.swing.JScrollPane"/>
</bean>
<bean>
<property name="Bean Permissions" value="247"/>
<property name="InstanceName" value="Table"/>
<property name="DefaultSize" value="20,20"/>
<property name="ClassName" value="javax.swing.JTable"/>
<property name="Panel" value="tableScroll"/>
</bean>
</screen>

