<?xml version="1.0"?>
<screen>
<property name="Screen Height" value="477"/>
<property name="Screen Width" value="686"/>
<property name="Dummy Interface" value=""/>
<property name="Import Code" value=""/>
<property name="Variable Definitions" value=""/>
<property name="MenuBarPresent" value="true"/>
<property name="Type" value="Dialog"/>
<property name="HorizontalSplitPanePos" value="0.18503937007874016"/>
<property name="LookAndFeel" value="None"/>
<property name="screenTitle" value="new_screen1"/>
<property name="Version" value="4.2F"/>
<property name="Initialize Commands" value=""/>
<property name="Start Commands" value=""/>
<property name="ToolBarPresent" value="true"/>
<property name="GenSource" value="false"/>
<property name="Custom Code" value=""/>
<bean>
<property name="Layout Manager" value="GridBag Layout"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Panel" value="container"/>
<property name="InstanceName" value="Top"/>
<property name="Layout Manager Constraints" value=""/>
<property name="ExtraCode" value=""/>
<property name="Layout Constraints" value="Center"/>
</bean>
<bean>
<property name="Layout Manager" value="Viewport Layout"/>
<property name="ClassName" value="javax.swing.JScrollPane"/>
<property name="Panel" value="Top"/>
<property name="InstanceName" value="tableScroller"/>
<property name="Layout Manager Constraints" value=""/>
<property name="Layout Constraints" value="0,0,1,1,1,10,0,0,0.1,0.1,10,10,10,10"/>
<property name="Bean Permissions" value="255"/>
<property name="DefaultSize" value="30,30"/>
</bean>
<bean>
<property name="ClassName" value="javax.swing.JTable"/>
<property name="Panel" value="tableScroller"/>
<property name="InstanceName" value="tableOIDType"/>
<property name="ExtraCode" value=""/>
<property name="Bean Permissions" value="247"/>
<property name="DefaultSize" value="20,20"/>
</bean>
<bean>
<property name="Layout Manager" value="Flow Layout"/>
<property name="PopupMenu" value="none"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Panel" value="Top"/>
<property name="InstanceName" value="buttonPanel"/>
<property name="Layout Manager Constraints" value="10,5,2"/>
<property name="ExtraCode" value=""/>
<property name="Layout Constraints" value="0,1,1,1,2,10,0,0,0.1,0.0,0,10,10,10"/>
<property name="Bean Permissions" value="255"/>
<property name="DefaultSize" value="539,49"/>
</bean>
<bean>
<property name="toolTipText" value="Click to Add a new device"/>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="PropertyOrder" value=",toolTipText,text,"/>
<property name="Panel" value="buttonPanel"/>
<property name="InstanceName" value="buttonSelect"/>
<property name="ExtraCode" value=""/>
<property name="text" value="Select Device"/>
<property name="Layout Constraints" value="0"/>
<property name="Bean Permissions" value="247"/>
<property name="DefaultSize" value="145,31"/>
</bean>
<bean>
<property name="PopupMenu" value="none"/>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="PropertyOrder" value=",text,"/>
<property name="Panel" value="buttonPanel"/>
<property name="InstanceName" value="buttonCancel"/>
<property name="ExtraCode" value=""/>
<property name="text" value="Cancel"/>
<property name="Layout Constraints" value="1"/>
<property name="Bean Permissions" value="247"/>
<property name="DefaultSize" value="95,31"/>
</bean>
</screen>

