<?xml version="1.0"?>
<screen>
<property name="Type" value="Panel"/>
<property name="Version" value="4.2F"/>
<property name="Initialize Commands" value=""/>
<property name="Dummy Interface" value=""/>
<property name="Screen Width" value="497"/>
<property name="Import Code" value=""/>
<property name="Variable Definitions" value=""/>
<property name="GenSource" value="true"/>
<property name="Screen Height" value="480"/>
<property name="HorizontalSplitPanePos" value="0.197265625"/>
<property name="ToolBarPresent" value="true"/>
<property name="Custom Code" value=""/>
<property name="screenTitle" value="new_screen1"/>
<property name="Start Commands" value=""/>
<property name="LookAndFeel" value="None"/>
<property name="MenuBarPresent" value="false"/>
<bean>
<property name="InstanceName" value="Top"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Layout Manager" value="GridBag Layout"/>
<property name="Layout Constraints" value="Center"/>
<property name="Panel" value="container"/>
<property name="Layout Manager Constraints" value=""/>
</bean>
<bean>
<property name="Bean Permissions" value="247"/>
<property name="InstanceName" value="buttonImageBrowse"/>
<property name="DefaultSize" value="43,20"/>
<property name="ExtraCode" value=""/>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="Panel" value="Top"/>
<property name="Layout Constraints" value="2,3,1,1,0,10,0,0,0.0,0.0,10,0,10,10"/>
</bean>
<bean>
<property name="Bean Permissions" value="247"/>
<property name="InstanceName" value="textImagepath"/>
<property name="DefaultSize" value="20,25"/>
<property name="ClassName" value="javax.swing.JTextField"/>
<property name="Panel" value="Top"/>
<property name="Layout Constraints" value="1,3,1,1,2,10,0,0,0.1,0.0,10,0,10,10"/>
</bean>
<bean>
<property name="Bean Permissions" value="247"/>
<property name="InstanceName" value="JLabel3"/>
<property name="DefaultSize" value="20,20"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="Panel" value="Top"/>
<property name="Layout Constraints" value="0,0,0,1,2,10,0,0,0.1,0.0,10,10,10,10"/>
</bean>
<bean>
<property name="ExtraCode" value=""/>
<property name="Layout Constraints" value="0,2,1,1,0,17,0,0,0.0,0.0,0,10,0,10"/>
<property name="font" value="Dialog+0+12"/>
<property name="DefaultSize" value="57,21"/>
<property name="InstanceName" value="labelSeverity"/>
<property name="PropertyOrder" value=",font,foreground,text,"/>
<property name="Bean Permissions" value="247"/>
<property name="foreground" value="-16764109"/>
<property name="Panel" value="Top"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="text" value="Severity"/>
</bean>
<bean>
<property name="Bean Permissions" value="255"/>
<property name="InstanceName" value="JScrollPane1"/>
<property name="DefaultSize" value="30,30"/>
<property name="ClassName" value="javax.swing.JScrollPane"/>
<property name="Layout Manager" value="Viewport Layout"/>
<property name="Panel" value="Top"/>
<property name="Layout Constraints" value="0,1,0,1,1,10,0,0,0.1,0.1,0,10,10,10"/>
<property name="Layout Manager Constraints" value=""/>
</bean>
<bean>
<property name="Bean Permissions" value="247"/>
<property name="InstanceName" value="tableSeverity"/>
<property name="DefaultSize" value="20,20"/>
<property name="ClassName" value="javax.swing.JTable"/>
<property name="Panel" value="JScrollPane1"/>
</bean>
<bean>
<property name="Bean Permissions" value="247"/>
<property name="InstanceName" value="labelSeverityVal"/>
<property name="DefaultSize" value="20,20"/>
<property name="ExtraCode" value=""/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="Panel" value="Top"/>
<property name="Layout Constraints" value="1,2,0,1,2,10,0,0,0.1,0.0,0,0,0,10"/>
</bean>
<bean>
<property name="ExtraCode" value=""/>
<property name="font" value="Dialog+0+12"/>
<property name="Layout Constraints" value="0,3,1,1,0,17,0,0,0.0,0.0,10,10,10,10"/>
<property name="DefaultSize" value="85,21"/>
<property name="InstanceName" value="labelImageName"/>
<property name="PropertyOrder" value=",text,font,foreground,"/>
<property name="Bean Permissions" value="247"/>
<property name="foreground" value="-16764109"/>
<property name="Panel" value="Top"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="text" value="Image Name"/>
</bean>
</screen>

