<?xml version="1.0"?>
<screen>
<property name="Screen Height" value="580"/>
<property name="Screen Width" value="788"/>
<property name="Dummy Interface" value=""/>
<property name="Import Code" value=""/>
<property name="Variable Definitions" value=""/>
<property name="MenuBarPresent" value="true"/>
<property name="Type" value="Dialog"/>
<property name="HorizontalSplitPanePos" value="0.19783464566929135"/>
<property name="LookAndFeel" value="None"/>
<property name="screenTitle" value="new_screen2"/>
<property name="Version" value="4.2F"/>
<property name="Initialize Commands" value=""/>
<property name="Start Commands" value=""/>
<property name="ToolBarPresent" value="true"/>
<property name="GenSource" value="false"/>
<property name="Custom Code" value=""/>
<bean>
<property name="Layout Manager" value="GridBag Layout"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Panel" value="container"/>
<property name="InstanceName" value="Top"/>
<property name="Layout Manager Constraints" value=""/>
<property name="Layout Constraints" value="Center"/>
</bean>
<bean>
<property name="Layout Manager" value="TabPane Layout"/>
<property name="ClassName" value="javax.swing.JTabbedPane"/>
<property name="PropertyOrder" value=",name,"/>
<property name="Panel" value="Top"/>
<property name="InstanceName" value="JTabbedPane1"/>
<property name="Layout Manager Constraints" value=""/>
<property name="ExtraCode" value=""/>
<property name="Layout Constraints" value="0,1,0,1,1,18,0,0,1.0,0.1,5,10,10,10"/>
<property name="name" value=""/>
<property name="Bean Permissions" value="255"/>
<property name="DefaultSize" value="285,193"/>
</bean>
<bean>
<property name="Layout Manager" value="GridBag Layout"/>
<property name="PopupMenu" value="none"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="PropertyOrder" value=",name,"/>
<property name="Panel" value="JTabbedPane1"/>
<property name="InstanceName" value="compilePanel"/>
<property name="Layout Manager Constraints" value=""/>
<property name="ExtraCode" value=""/>
<property name="Layout Constraints" value="Compile,null,null,0"/>
<property name="name" value="Compile"/>
<property name="Bean Permissions" value="255"/>
<property name="DefaultSize" value="272,160"/>
</bean>
<bean>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="PropertyOrder" value=",text,"/>
<property name="Panel" value="compilePanel"/>
<property name="InstanceName" value="labelJDK"/>
<property name="ExtraCode" value=""/>
<property name="text" value="JDK Directory"/>
<property name="Layout Constraints" value="0,0,1,1,0,18,0,0,0.0,0.0,15,0,5,5"/>
<property name="Bean Permissions" value="247"/>
<property name="DefaultSize" value="116,21"/>
</bean>
<bean>
<property name="ClassName" value="javax.swing.JTextField"/>
<property name="Panel" value="compilePanel"/>
<property name="InstanceName" value="JTextField1"/>
<property name="Layout Constraints" value="1,0,0,1,2,12,0,0,0.1,0.0,15,0,5,5"/>
<property name="Bean Permissions" value="247"/>
<property name="DefaultSize" value="20,25"/>
</bean>
<bean>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="PropertyOrder" value=",text,"/>
<property name="Panel" value="compilePanel"/>
<property name="InstanceName" value="labelClassPath"/>
<property name="ExtraCode" value=""/>
<property name="text" value="CLASSPATH"/>
<property name="Layout Constraints" value="0,1,1,1,0,18,0,0,0.0,0.0,2,2,2,2"/>
<property name="Bean Permissions" value="247"/>
<property name="DefaultSize" value="99,21"/>
</bean>
<bean>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="PropertyOrder" value=",text,"/>
<property name="Panel" value="compilePanel"/>
<property name="InstanceName" value="labelSourcePath"/>
<property name="ExtraCode" value=""/>
<property name="text" value="SourcePath"/>
<property name="Layout Constraints" value="0,2,1,1,0,18,0,0,0.0,0.0,2,2,2,2"/>
<property name="Bean Permissions" value="247"/>
<property name="DefaultSize" value="95,21"/>
</bean>
<bean>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="PropertyOrder" value=",text,"/>
<property name="Panel" value="compilePanel"/>
<property name="InstanceName" value="labelExtDir"/>
<property name="ExtraCode" value=""/>
<property name="text" value="Ext Directory"/>
<property name="Layout Constraints" value="0,3,1,1,0,18,0,0,0.0,0.0,2,2,2,2"/>
<property name="Bean Permissions" value="247"/>
<property name="DefaultSize" value="110,21"/>
</bean>
<bean>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="PropertyOrder" value=",text,"/>
<property name="Panel" value="compilePanel"/>
<property name="InstanceName" value="labelOutputDir"/>
<property name="ExtraCode" value=""/>
<property name="text" value="Output Dir"/>
<property name="Layout Constraints" value="2,1,1,1,0,18,0,0,0.0,0.0,2,2,2,2"/>
<property name="Bean Permissions" value="247"/>
<property name="DefaultSize" value="91,21"/>
</bean>
<bean>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="PropertyOrder" value=",text,"/>
<property name="Panel" value="compilePanel"/>
<property name="InstanceName" value="labelEnc"/>
<property name="ExtraCode" value=""/>
<property name="text" value="Encoding"/>
<property name="Layout Constraints" value="2,2,1,1,0,18,0,0,0.0,0.0,2,2,2,2"/>
<property name="Bean Permissions" value="247"/>
<property name="DefaultSize" value="80,21"/>
</bean>
<bean>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="PropertyOrder" value=",text,"/>
<property name="Panel" value="compilePanel"/>
<property name="InstanceName" value="labelTarget"/>
<property name="ExtraCode" value=""/>
<property name="text" value="Target Dir"/>
<property name="Layout Constraints" value="2,3,1,1,0,18,0,0,0.0,0.0,2,2,2,2"/>
<property name="Bean Permissions" value="247"/>
<property name="DefaultSize" value="88,21"/>
</bean>
<bean>
<property name="ClassName" value="javax.swing.JTextField"/>
<property name="Panel" value="compilePanel"/>
<property name="InstanceName" value="JTextField2"/>
<property name="Layout Constraints" value="1,1,1,1,2,10,0,0,0.1,0.0,2,2,2,2"/>
<property name="Bean Permissions" value="247"/>
<property name="DefaultSize" value="20,25"/>
</bean>
<bean>
<property name="ClassName" value="javax.swing.JTextField"/>
<property name="Panel" value="compilePanel"/>
<property name="InstanceName" value="JTextField3"/>
<property name="Layout Constraints" value="1,2,1,1,2,10,0,0,0.1,0.0,2,2,2,2"/>
<property name="Bean Permissions" value="247"/>
<property name="DefaultSize" value="20,25"/>
</bean>
<bean>
<property name="ClassName" value="javax.swing.JTextField"/>
<property name="Panel" value="compilePanel"/>
<property name="InstanceName" value="JTextField4"/>
<property name="Layout Constraints" value="1,3,1,1,2,10,0,0,0.1,0.0,2,2,2,2"/>
<property name="Bean Permissions" value="247"/>
<property name="DefaultSize" value="20,25"/>
</bean>
<bean>
<property name="ClassName" value="javax.swing.JTextField"/>
<property name="Panel" value="compilePanel"/>
<property name="InstanceName" value="JTextField5"/>
<property name="Layout Constraints" value="3,1,1,1,2,10,0,0,0.1,0.0,2,2,2,2"/>
<property name="Bean Permissions" value="247"/>
<property name="DefaultSize" value="20,25"/>
</bean>
<bean>
<property name="ClassName" value="javax.swing.JTextField"/>
<property name="Panel" value="compilePanel"/>
<property name="InstanceName" value="JTextField6"/>
<property name="Layout Constraints" value="3,2,1,1,2,10,0,0,0.1,0.0,2,2,2,2"/>
<property name="Bean Permissions" value="247"/>
<property name="DefaultSize" value="20,25"/>
</bean>
<bean>
<property name="ClassName" value="javax.swing.JTextField"/>
<property name="Panel" value="compilePanel"/>
<property name="InstanceName" value="JTextField7"/>
<property name="Layout Constraints" value="3,3,1,1,2,10,0,0,0.1,0.0,2,2,2,2"/>
<property name="Bean Permissions" value="247"/>
<property name="DefaultSize" value="20,25"/>
</bean>
<bean>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="Panel" value="compilePanel"/>
<property name="InstanceName" value="JLabel8"/>
<property name="Layout Constraints" value="0,4,0,1,1,18,0,0,0.1,0.1,0,0,0,0"/>
<property name="Bean Permissions" value="247"/>
<property name="DefaultSize" value="20,20"/>
</bean>
<bean>
<property name="Layout Manager" value="Border Layout"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Panel" value="JTabbedPane1"/>
<property name="InstanceName" value="JPanel2"/>
<property name="Layout Manager Constraints" value="5,5"/>
<property name="Layout Constraints" value="Status,null,null,1"/>
<property name="Bean Permissions" value="255"/>
<property name="DefaultSize" value="173,93"/>
</bean>
<bean>
<property name="ClassName" value="javax.swing.JTextArea"/>
<property name="PropertyOrder" value=",wrapStyleWord,"/>
<property name="wrapStyleWord" value="true"/>
<property name="Panel" value="JPanel2"/>
<property name="InstanceName" value="JTextArea2"/>
<property name="ExtraCode" value=""/>
<property name="Layout Constraints" value="Center"/>
<property name="Bean Permissions" value="247"/>
<property name="DefaultSize" value="20,21"/>
</bean>
<bean>
<property name="ClassName" value="javax.swing.JTextArea"/>
<property name="Panel" value="Top"/>
<property name="InstanceName" value="JTextArea1"/>
<property name="ExtraCode" value=""/>
<property name="Layout Constraints" value="0,0,0,1,1,18,0,0,0.1,1.0,10,10,5,10"/>
<property name="Bean Permissions" value="247"/>
<property name="DefaultSize" value="20,21"/>
</bean>
<bean>
<property name="Layout Manager" value="Flow Layout"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Panel" value="Top"/>
<property name="InstanceName" value="JPanel3"/>
<property name="Layout Manager Constraints" value="50,5,1"/>
<property name="Layout Constraints" value="0,2,1,1,0,10,0,0,0.0,0.0,0,0,0,0"/>
<property name="Bean Permissions" value="255"/>
<property name="DefaultSize" value="318,49"/>
</bean>
<bean>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="PropertyOrder" value=",text,"/>
<property name="Panel" value="JPanel3"/>
<property name="InstanceName" value="oKButton"/>
<property name="ExtraCode" value=""/>
<property name="text" value="Ok"/>
<property name="Layout Constraints" value="0"/>
<property name="Bean Permissions" value="247"/>
<property name="DefaultSize" value="65,31"/>
</bean>
<bean>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="PropertyOrder" value=",text,"/>
<property name="Panel" value="JPanel3"/>
<property name="InstanceName" value="cancelButton"/>
<property name="ExtraCode" value=""/>
<property name="text" value="Cancel"/>
<property name="Layout Constraints" value="1"/>
<property name="Bean Permissions" value="247"/>
<property name="DefaultSize" value="95,31"/>
</bean>
</screen>

