<?xml version="1.0"?>
<screen>
<property name="Type" value="Frame"/>
<property name="Version" value="4.2F"/>
<property name="Initialize Commands" value=""/>
<property name="Dummy Interface" value=""/>
<property name="Screen Width" value="823"/>
<property name="SubVersion" value="BeanBuilder_1.0"/>
<property name="Import Code" value=""/>
<property name="Variable Definitions" value=""/>
<property name="GenSource" value="false"/>
<property name="Screen Height" value="589"/>
<property name="HorizontalSplitPanePos" value="170.0"/>
<property name="ToolBarPresent" value="true"/>
<property name="Custom Code" value=""/>
<property name="screenTitle" value="new_screen2"/>
<property name="Start Commands" value=""/>
<property name="LookAndFeel" value="None"/>
<property name="MenuBarPresent" value="true"/>
<bean>
<property name="InstanceName" value="Top"/>
<property name="PopupMenu" value="none"/>
<property name="ExtraCode" value=""/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Layout Manager" value="Border Layout"/>
<property name="Layout Constraints" value="Center"/>
<property name="Panel" value="container"/>
<property name="Layout Manager Constraints" value="5,5"/>
</bean>
<bean>
<property name="PopupMenu" value="none"/>
<property name="Initializer" value=""/>
<property name="Layout Manager Constraints" value=""/>
<property name="ExtraCode" value=""/>
<property name="Layout Constraints" value="Center"/>
<property name="DefaultSize" value="805,687"/>
<property name="Layout Manager" value="SplitPane Layout"/>
<property name="PaddingSize" value="621,0"/>
<property name="InstanceName" value="horizontalSplit"/>
<property name="PropertyOrder" value=",dividerSize,autoscrolls,foreground,"/>
<property name="Bean Permissions" value="255"/>
<property name="foreground" value="-16777216"/>
<property name="autoscrolls" value="true"/>
<property name="Panel" value="Top"/>
<property name="ClassName" value="javax.swing.JSplitPane"/>
<property name="dividerSize" value="5"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="orientation" value="0"/>
<property name="Layout Manager Constraints" value=""/>
<property name="ExtraCode" value=""/>
<property name="Layout Constraints" value="left,158"/>
<property name="DefaultSize" value="157,677"/>
<property name="Layout Manager" value="SplitPane Layout"/>
<property name="InstanceName" value="verticalSplit"/>
<property name="PropertyOrder" value=",orientation,lastDividerLocation,autoscrolls,dividerSize,"/>
<property name="Bean Permissions" value="255"/>
<property name="lastDividerLocation" value="400"/>
<property name="autoscrolls" value="true"/>
<property name="Panel" value="horizontalSplit"/>
<property name="ClassName" value="javax.swing.JSplitPane"/>
<property name="dividerSize" value="5"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Manager Constraints" value=""/>
<property name="Layout Constraints" value="top,332"/>
<property name="DefaultSize" value="147,331"/>
<property name="Layout Manager" value="Viewport Layout"/>
<property name="InstanceName" value="ProjectTreeScroller"/>
<property name="Bean Permissions" value="255"/>
<property name="Panel" value="verticalSplit"/>
<property name="ClassName" value="javax.swing.JScrollPane"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="PopupMenu" value="classPopupMenu"/>
<property name="ExtraCode" value=""/>
<property name="DefaultSize" value="136,320"/>
<property name="InstanceName" value="ProjectTree"/>
<property name="PropertyOrder" value=",autoscrolls,"/>
<property name="Bean Permissions" value="247"/>
<property name="autoscrolls" value="true"/>
<property name="Panel" value="ProjectTreeScroller"/>
<property name="ClassName" value="javax.swing.JTree"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Manager Constraints" value=""/>
<property name="Layout Constraints" value="bottom,332"/>
<property name="DefaultSize" value="147,331"/>
<property name="Layout Manager" value="Viewport Layout"/>
<property name="InstanceName" value="ProjectItemTreeScroller"/>
<property name="Bean Permissions" value="255"/>
<property name="Panel" value="verticalSplit"/>
<property name="ClassName" value="javax.swing.JScrollPane"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Bean Permissions" value="247"/>
<property name="InstanceName" value="ProjectItemTree"/>
<property name="DefaultSize" value="136,320"/>
<property name="Modifiers" value=""/>
<property name="ExtraCode" value=""/>
<property name="ClassName" value="javax.swing.JTree"/>
<property name="Panel" value="ProjectItemTreeScroller"/>
<property name="Initializer" value=""/>
</bean>
<menu>
<property name="menuName" value="File"/>
<property name="parent" value="top"/>
<property name="type" value="menu"/>
<property name="source" value=""/>
<property name="mnemonic" value="F"/>
<property name="uniqueID" value="MenuBar"/>
</menu>
<menu>
<property name="source" value="//Please add the action code for menu Here New Project&#10;newProject_Clicked();"/>
<property name="uniqueID" value="MenuBar"/>
<property name="shortCutKey" value="N"/>
<property name="menuName" value="New Project"/>
<property name="shiftKeyStatus" value="false"/>
<property name="ctrlKeyStatus" value="true"/>
<property name="actionCommand" value="New Project"/>
<property name="type" value="menuItem"/>
<property name="altKeyStatus" value="false"/>
<property name="mnemonic" value="none"/>
<property name="parent" value="File"/>
</menu>
<menu>
<property name="source" value="//Please add the action code for menu Here Delete Project&#10;deleteProject_Clicked();"/>
<property name="uniqueID" value="MenuBar"/>
<property name="shortCutKey" value="none"/>
<property name="menuName" value="Delete Project"/>
<property name="shiftKeyStatus" value="false"/>
<property name="ctrlKeyStatus" value="false"/>
<property name="actionCommand" value="Delete Project"/>
<property name="type" value="menuItem"/>
<property name="altKeyStatus" value="false"/>
<property name="mnemonic" value="none"/>
<property name="parent" value="File"/>
</menu>
<menu>
<property name="source" value="//Please add the action code for menu Here Save Project&#10;saveProject_Clicked();"/>
<property name="uniqueID" value="MenuBar"/>
<property name="shortCutKey" value="S"/>
<property name="menuName" value="Save Project"/>
<property name="shiftKeyStatus" value="true"/>
<property name="ctrlKeyStatus" value="true"/>
<property name="actionCommand" value="Save Project"/>
<property name="type" value="menuItem"/>
<property name="altKeyStatus" value="false"/>
<property name="mnemonic" value="none"/>
<property name="parent" value="File"/>
</menu>
<menu>
<property name="menuName" value="Separator"/>
<property name="parent" value="File"/>
<property name="type" value="separator"/>
<property name="uniqueID" value="MenuBar"/>
</menu>
<menu>
<property name="menuName" value="New"/>
<property name="parent" value="File"/>
<property name="type" value="menu"/>
<property name="source" value=""/>
<property name="mnemonic" value="none"/>
<property name="uniqueID" value="MenuBar"/>
</menu>
<menu>
<property name="source" value="//Please add the action code for menu Here ManagedObject&#10;new_Clicked();"/>
<property name="uniqueID" value="MenuBar"/>
<property name="shortCutKey" value="none"/>
<property name="menuName" value="ManagedObject"/>
<property name="shiftKeyStatus" value="false"/>
<property name="ctrlKeyStatus" value="false"/>
<property name="actionCommand" value="ManagedObject"/>
<property name="type" value="menuItem"/>
<property name="altKeyStatus" value="false"/>
<property name="mnemonic" value="none"/>
<property name="parent" value="New"/>
</menu>
<menu>
<property name="source" value="//Please add the action code for menu Here Status Poller&#10;callUserTester(null);"/>
<property name="uniqueID" value="MenuBar"/>
<property name="shortCutKey" value="none"/>
<property name="menuName" value="Status Poller"/>
<property name="shiftKeyStatus" value="false"/>
<property name="ctrlKeyStatus" value="false"/>
<property name="actionCommand" value="User Tester"/>
<property name="type" value="menuItem"/>
<property name="altKeyStatus" value="false"/>
<property name="mnemonic" value="none"/>
<property name="parent" value="New"/>
</menu>
<menu>
<property name="source" value="//Please add the action code for menu Here Discovery Filter&#10;callDiscoveryFilter(null);"/>
<property name="uniqueID" value="MenuBar"/>
<property name="shortCutKey" value="none"/>
<property name="menuName" value="Discovery Filter"/>
<property name="shiftKeyStatus" value="false"/>
<property name="ctrlKeyStatus" value="false"/>
<property name="actionCommand" value="Discovery Filter"/>
<property name="type" value="menuItem"/>
<property name="altKeyStatus" value="false"/>
<property name="mnemonic" value="none"/>
<property name="parent" value="New"/>
</menu>
<menu>
<property name="source" value="//Please add the action code for menu Here RDBMS Interface&#10;generateRelationalJava(null);"/>
<property name="uniqueID" value="MenuBar"/>
<property name="shortCutKey" value="none"/>
<property name="menuName" value="RDBMS Interface"/>
<property name="shiftKeyStatus" value="false"/>
<property name="ctrlKeyStatus" value="false"/>
<property name="actionCommand" value="RDBMS"/>
<property name="type" value="menuItem"/>
<property name="altKeyStatus" value="false"/>
<property name="mnemonic" value="none"/>
<property name="parent" value="New"/>
</menu>
<menu>
<property name="source" value="//Please add the action code for menu Here Save&#10;saveClicked();"/>
<property name="uniqueID" value="MenuBar"/>
<property name="shortCutKey" value="S"/>
<property name="menuName" value="Save"/>
<property name="shiftKeyStatus" value="false"/>
<property name="ctrlKeyStatus" value="true"/>
<property name="actionCommand" value="Save"/>
<property name="type" value="menuItem"/>
<property name="altKeyStatus" value="false"/>
<property name="mnemonic" value="none"/>
<property name="parent" value="File"/>
</menu>
<menu>
<property name="menuName" value="Separator"/>
<property name="parent" value="File"/>
<property name="type" value="separator"/>
<property name="uniqueID" value="MenuBar"/>
</menu>
<menu>
<property name="source" value="//Please add the action code for menu Here Exit&#10;exit_Clicked();"/>
<property name="uniqueID" value="MenuBar"/>
<property name="shortCutKey" value="F4"/>
<property name="menuName" value="Exit"/>
<property name="shiftKeyStatus" value="false"/>
<property name="ctrlKeyStatus" value="false"/>
<property name="actionCommand" value="Exit"/>
<property name="type" value="menuItem"/>
<property name="altKeyStatus" value="true"/>
<property name="mnemonic" value="X"/>
<property name="parent" value="File"/>
</menu>
<menu>
<property name="menuName" value="Edit"/>
<property name="parent" value="top"/>
<property name="type" value="menu"/>
<property name="source" value=""/>
<property name="mnemonic" value="E"/>
<property name="uniqueID" value="MenuBar"/>
</menu>
<menu>
<property name="source" value="//Please add the action code for menu Here undo"/>
<property name="uniqueID" value="MenuBar"/>
<property name="shortCutKey" value="Z"/>
<property name="menuName" value="Undo"/>
<property name="shiftKeyStatus" value="false"/>
<property name="ctrlKeyStatus" value="true"/>
<property name="actionCommand" value="Undo"/>
<property name="type" value="menuItem"/>
<property name="altKeyStatus" value="false"/>
<property name="mnemonic" value="none"/>
<property name="parent" value="Edit"/>
</menu>
<menu>
<property name="source" value="//Please add the action code for menu Here redo"/>
<property name="uniqueID" value="MenuBar"/>
<property name="shortCutKey" value="Y"/>
<property name="menuName" value="Redo"/>
<property name="shiftKeyStatus" value="false"/>
<property name="ctrlKeyStatus" value="true"/>
<property name="actionCommand" value="Redo"/>
<property name="type" value="menuItem"/>
<property name="altKeyStatus" value="false"/>
<property name="mnemonic" value="none"/>
<property name="parent" value="Edit"/>
</menu>
<menu>
<property name="source" value="//Please add the action code for menu Here Cut&#10;cut_Clicked();"/>
<property name="uniqueID" value="MenuBar"/>
<property name="shortCutKey" value="X"/>
<property name="menuName" value="Cut"/>
<property name="shiftKeyStatus" value="false"/>
<property name="ctrlKeyStatus" value="true"/>
<property name="actionCommand" value="Cut"/>
<property name="type" value="menuItem"/>
<property name="altKeyStatus" value="false"/>
<property name="mnemonic" value="none"/>
<property name="parent" value="Edit"/>
</menu>
<menu>
<property name="source" value="//Please add the action code for menu Here Copy&#10;copy_Clicked();"/>
<property name="uniqueID" value="MenuBar"/>
<property name="shortCutKey" value="C"/>
<property name="menuName" value="Copy"/>
<property name="shiftKeyStatus" value="false"/>
<property name="ctrlKeyStatus" value="true"/>
<property name="actionCommand" value="Copy"/>
<property name="type" value="menuItem"/>
<property name="altKeyStatus" value="false"/>
<property name="mnemonic" value="none"/>
<property name="parent" value="Edit"/>
</menu>
<menu>
<property name="source" value="//Please add the action code for menu Here Paste&#10;paste_Clicked();"/>
<property name="uniqueID" value="MenuBar"/>
<property name="shortCutKey" value="V"/>
<property name="menuName" value="Paste"/>
<property name="shiftKeyStatus" value="false"/>
<property name="ctrlKeyStatus" value="true"/>
<property name="actionCommand" value="Paste"/>
<property name="type" value="menuItem"/>
<property name="altKeyStatus" value="false"/>
<property name="mnemonic" value="none"/>
<property name="parent" value="Edit"/>
</menu>
<menu>
<property name="menuName" value="Separator"/>
<property name="parent" value="Edit"/>
<property name="type" value="separator"/>
<property name="uniqueID" value="MenuBar"/>
</menu>
<menu>
<property name="source" value="//Please add the action code for menu Here Find&#10;find_Clicked();"/>
<property name="uniqueID" value="MenuBar"/>
<property name="shortCutKey" value="F"/>
<property name="menuName" value="Find"/>
<property name="shiftKeyStatus" value="false"/>
<property name="ctrlKeyStatus" value="true"/>
<property name="actionCommand" value="Find"/>
<property name="type" value="menuItem"/>
<property name="altKeyStatus" value="false"/>
<property name="mnemonic" value="none"/>
<property name="parent" value="Edit"/>
</menu>
<menu>
<property name="source" value="//Please add the action code for menu Here Replace&#10;replace_Clicked();"/>
<property name="uniqueID" value="MenuBar"/>
<property name="shortCutKey" value="R"/>
<property name="menuName" value="Replace"/>
<property name="shiftKeyStatus" value="false"/>
<property name="ctrlKeyStatus" value="true"/>
<property name="actionCommand" value="Replace"/>
<property name="type" value="menuItem"/>
<property name="altKeyStatus" value="false"/>
<property name="mnemonic" value="none"/>
<property name="parent" value="Edit"/>
</menu>
<menu>
<property name="source" value="//Please add the action code for menu Here goto"/>
<property name="uniqueID" value="MenuBar"/>
<property name="shortCutKey" value="G"/>
<property name="menuName" value="GoTo"/>
<property name="shiftKeyStatus" value="false"/>
<property name="ctrlKeyStatus" value="true"/>
<property name="actionCommand" value="GoTo"/>
<property name="type" value="menuItem"/>
<property name="altKeyStatus" value="false"/>
<property name="mnemonic" value="none"/>
<property name="parent" value="Edit"/>
</menu>
<menu>
<property name="menuName" value="Build"/>
<property name="parent" value="top"/>
<property name="type" value="menu"/>
<property name="source" value=""/>
<property name="mnemonic" value="B"/>
<property name="uniqueID" value="MenuBar"/>
</menu>
<menu>
<property name="source" value="//Please add the action code for menu Here Compile&#10;compile_Clicked();"/>
<property name="uniqueID" value="MenuBar"/>
<property name="shortCutKey" value="L"/>
<property name="menuName" value="Compile"/>
<property name="shiftKeyStatus" value="false"/>
<property name="ctrlKeyStatus" value="true"/>
<property name="actionCommand" value="Compile"/>
<property name="type" value="menuItem"/>
<property name="altKeyStatus" value="false"/>
<property name="mnemonic" value="none"/>
<property name="parent" value="Build"/>
</menu>
<menu>
<property name="source" value="//Please add the action code for menu Here Regenerate&#10;regenerate_Clicked();"/>
<property name="uniqueID" value="MenuBar"/>
<property name="shortCutKey" value="none"/>
<property name="menuName" value="Regenerate"/>
<property name="shiftKeyStatus" value="false"/>
<property name="ctrlKeyStatus" value="false"/>
<property name="actionCommand" value="Regenerate"/>
<property name="type" value="menuItem"/>
<property name="altKeyStatus" value="false"/>
<property name="mnemonic" value="none"/>
<property name="parent" value="Build"/>
</menu>
<menu>
<property name="source" value="//Please add the action code for menu Here Options&#10;options_Clicked();"/>
<property name="uniqueID" value="MenuBar"/>
<property name="shortCutKey" value="none"/>
<property name="menuName" value="Options"/>
<property name="shiftKeyStatus" value="false"/>
<property name="ctrlKeyStatus" value="false"/>
<property name="actionCommand" value="Options"/>
<property name="type" value="menuItem"/>
<property name="altKeyStatus" value="false"/>
<property name="mnemonic" value="none"/>
<property name="parent" value="Build"/>
</menu>
<menu>
<property name="menuName" value="Project"/>
<property name="parent" value="top"/>
<property name="type" value="menu"/>
<property name="source" value=""/>
<property name="mnemonic" value="P"/>
<property name="uniqueID" value="MenuBar"/>
</menu>
<menu>
<property name="source" value="//Please add the action code for menu Here Properties&#10;showProjectProperties();&#10;return;"/>
<property name="uniqueID" value="MenuBar"/>
<property name="shortCutKey" value="none"/>
<property name="menuName" value="Properties"/>
<property name="shiftKeyStatus" value="false"/>
<property name="ctrlKeyStatus" value="false"/>
<property name="actionCommand" value="ProjectProperties"/>
<property name="type" value="menuItem"/>
<property name="altKeyStatus" value="false"/>
<property name="mnemonic" value="none"/>
<property name="parent" value="Project"/>
</menu>
<menu>
<property name="menuName" value="Help"/>
<property name="parent" value="top"/>
<property name="type" value="menu"/>
<property name="source" value=""/>
<property name="mnemonic" value="H"/>
<property name="uniqueID" value="MenuBar"/>
</menu>
<menu>
<property name="source" value="//Please add the action code for menu Here Contents&#10;contents_Clicked();"/>
<property name="uniqueID" value="MenuBar"/>
<property name="shortCutKey" value="F1"/>
<property name="menuName" value="Contents"/>
<property name="shiftKeyStatus" value="false"/>
<property name="ctrlKeyStatus" value="true"/>
<property name="actionCommand" value="Contents"/>
<property name="type" value="menuItem"/>
<property name="altKeyStatus" value="false"/>
<property name="mnemonic" value="none"/>
<property name="parent" value="Help"/>
</menu>
<menu>
<property name="source" value="//Please add the action code for menu Here About Us&#10;about_Us_Clicked();"/>
<property name="uniqueID" value="MenuBar"/>
<property name="shortCutKey" value="none"/>
<property name="menuName" value="About Us"/>
<property name="shiftKeyStatus" value="false"/>
<property name="ctrlKeyStatus" value="false"/>
<property name="actionCommand" value="About Us"/>
<property name="type" value="menuItem"/>
<property name="altKeyStatus" value="false"/>
<property name="mnemonic" value="none"/>
<property name="parent" value="Help"/>
</menu>
<menu>
<property name="toolTip" value="New"/>
<property name="actionCommand" value="New Project"/>
<property name="type" value="toolBar"/>
<property name="toolName" value="New"/>
<property name="source" value="//Please add the action code for ToolItem Here New"/>
<property name="uniqueID" value="ToolBar"/>
<property name="actionOfMenuItem" value="New Project"/>
<property name="iconName" value="./images/newfile.png"/>
</menu>
<menu>
<property name="toolTip" value="Save"/>
<property name="actionCommand" value="Save"/>
<property name="type" value="toolBar"/>
<property name="toolName" value="Save"/>
<property name="source" value="//Please add the action code for ToolItem Here Save"/>
<property name="uniqueID" value="ToolBar"/>
<property name="iconName" value="./images/file.png"/>
</menu>
<menu>
<property name="toolTip" value="Cut"/>
<property name="actionCommand" value="Cut"/>
<property name="type" value="toolBar"/>
<property name="toolName" value="Cut"/>
<property name="source" value="//Please add the action code for ToolItem Here Cut"/>
<property name="uniqueID" value="ToolBar"/>
<property name="iconName" value="./images/cut.png"/>
</menu>
<menu>
<property name="toolTip" value="Copy"/>
<property name="actionCommand" value="Copy"/>
<property name="type" value="toolBar"/>
<property name="toolName" value="Copy"/>
<property name="source" value="//Please add the action code for ToolItem Here Copy"/>
<property name="uniqueID" value="ToolBar"/>
<property name="iconName" value="./images/copy.png"/>
</menu>
<menu>
<property name="toolTip" value="Paste"/>
<property name="actionCommand" value="Paste"/>
<property name="type" value="toolBar"/>
<property name="toolName" value="Paste"/>
<property name="source" value="//Please add the action code for ToolItem Here Paste"/>
<property name="uniqueID" value="ToolBar"/>
<property name="iconName" value="./images/paste.png"/>
</menu>
<menu>
<property name="toolTip" value="Compile"/>
<property name="actionCommand" value="Compile"/>
<property name="type" value="toolBar"/>
<property name="toolName" value="Compile"/>
<property name="source" value="//Please add the action code for ToolItem Here Compile"/>
<property name="uniqueID" value="ToolBar"/>
<property name="iconName" value="./images/panel.png"/>
</menu>
<menu>
<property name="toolTip" value="Help"/>
<property name="actionCommand" value="Contents"/>
<property name="type" value="toolBar"/>
<property name="toolName" value="Help"/>
<property name="source" value="//Please add the action code for ToolItem Here Help"/>
<property name="uniqueID" value="ToolBar"/>
<property name="iconName" value="./images/help.jpg"/>
</menu>
<menu>
<property name="toolTip" value="Exit"/>
<property name="actionCommand" value="Exit"/>
<property name="type" value="toolBar"/>
<property name="toolName" value="Exit"/>
<property name="source" value="//Please add the action code for ToolItem Here Exit"/>
<property name="uniqueID" value="ToolBar"/>
<property name="iconName" value="./images/exit.jpg"/>
</menu>
</screen>

