<?xml version="1.0"?>
<screen>
<property name="Type" value="Panel"/>
<property name="Version" value="4.2F"/>
<property name="Initialize Commands" value=""/>
<property name="Dummy Interface" value=""/>
<property name="Screen Width" value="714"/>
<property name="Import Code" value=""/>
<property name="Variable Definitions" value=""/>
<property name="GenSource" value="false"/>
<property name="Screen Height" value="625"/>
<property name="HorizontalSplitPanePos" value="0.1883495145631068"/>
<property name="ToolBarPresent" value="true"/>
<property name="Custom Code" value=""/>
<property name="screenTitle" value="new_screen1"/>
<property name="Start Commands" value=""/>
<property name="LookAndFeel" value="None"/>
<property name="MenuBarPresent" value="true"/>
<bean>
<property name="InstanceName" value="Top"/>
<property name="PopupMenu" value="none"/>
<property name="ExtraCode" value=""/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Layout Manager" value="GridBag Layout"/>
<property name="Layout Constraints" value="Center"/>
<property name="Panel" value="container"/>
<property name="Layout Manager Constraints" value=""/>
</bean>
<bean>
<property name="ExtraCode" value=""/>
<property name="Layout Constraints" value="0,1,1,1,0,17,0,0,0.0,0.0,5,5,5,5"/>
<property name="font" value="Dialog+0+12"/>
<property name="DefaultSize" value="129,29"/>
<property name="InstanceName" value="chb_SysOID"/>
<property name="PropertyOrder" value=",font,text,"/>
<property name="Bean Permissions" value="247"/>
<property name="Panel" value="Top"/>
<property name="ClassName" value="javax.swing.JCheckBox"/>
<property name="text" value=" Update SysOID"/>
</bean>
<bean>
<property name="ExtraCode" value=""/>
<property name="Layout Constraints" value="1,2,1,1,1,10,0,0,0.1,0.1,5,5,5,5"/>
<property name="font" value="Dialog+0+12"/>
<property name="DefaultSize" value="20,31"/>
<property name="border" value="TitledBorder,[LineBorder,-16777216,1,false],Description,1,2,Dialog+0+12,-16764109"/>
<property name="InstanceName" value="labelDesc"/>
<property name="PropertyOrder" value=",font,foreground,border,"/>
<property name="Bean Permissions" value="247"/>
<property name="foreground" value="-16764109"/>
<property name="Panel" value="Top"/>
<property name="ClassName" value="javax.swing.JLabel"/>
</bean>
<bean>
<property name="Layout Manager Constraints" value=""/>
<property name="ExtraCode" value=""/>
<property name="Layout Constraints" value="0,2,1,1,1,17,0,0,0.1,0.1,5,5,5,5"/>
<property name="DefaultSize" value="73,111"/>
<property name="border" value="TitledBorder,[LineBorder,-16777216,1,false],Configuration Files,0,0,Dialog+0+12,-13434829"/>
<property name="Layout Manager" value="Viewport Layout"/>
<property name="InstanceName" value="confFileScroller"/>
<property name="PropertyOrder" value=",border,"/>
<property name="Bean Permissions" value="255"/>
<property name="Panel" value="Top"/>
<property name="ClassName" value="javax.swing.JScrollPane"/>
</bean>
<bean>
<property name="Bean Permissions" value="247"/>
<property name="InstanceName" value="confFileList"/>
<property name="DefaultSize" value="20,20"/>
<property name="ExtraCode" value=""/>
<property name="ClassName" value="javax.swing.JList"/>
<property name="Panel" value="confFileScroller"/>
</bean>
<bean>
<property name="Layout Manager Constraints" value=""/>
<property name="ExtraCode" value=""/>
<property name="Layout Constraints" value="0,3,2,1,1,17,0,0,0.1,0.9,5,5,5,5"/>
<property name="DefaultSize" value="46,50"/>
<property name="border" value="TitledBorder,[LineBorder,-16777216,1,false],Preview Changes,0,0,Dialog+0+12,-13434829"/>
<property name="Layout Manager" value="Viewport Layout"/>
<property name="InstanceName" value="previewFileScroller"/>
<property name="PropertyOrder" value=",border,"/>
<property name="Bean Permissions" value="255"/>
<property name="Panel" value="Top"/>
<property name="ClassName" value="javax.swing.JScrollPane"/>
</bean>
<bean>
<property name="Bean Permissions" value="247"/>
<property name="InstanceName" value="textPreviewFile"/>
<property name="DefaultSize" value="20,21"/>
<property name="ExtraCode" value=""/>
<property name="ClassName" value="javax.swing.JTextArea"/>
<property name="Panel" value="previewFileScroller"/>
</bean>
<bean>
<property name="PopupMenu" value="none"/>
<property name="Layout Manager Constraints" value=""/>
<property name="ExtraCode" value=""/>
<property name="Layout Constraints" value="0,4,0,1,2,10,0,0,0.0,0.0,5,5,5,5"/>
<property name="DefaultSize" value="240,80"/>
<property name="Layout Manager" value="GridBag Layout"/>
<property name="InstanceName" value="panelInfo"/>
<property name="Bean Permissions" value="255"/>
<property name="Panel" value="Top"/>
<property name="ClassName" value="javax.swing.JPanel"/>
</bean>
<bean>
<property name="ExtraCode" value=""/>
<property name="Layout Constraints" value="0,0,1,2,2,10,0,0,0.1,0.0,5,5,5,5"/>
<property name="DefaultSize" value="93,36"/>
<property name="InstanceName" value="labelInfo"/>
<property name="PropertyOrder" value=",text,"/>
<property name="Bean Permissions" value="247"/>
<property name="Panel" value="panelInfo"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="text" value="&lt;HTML&gt; &lt;FONT face=Times color=#000000 size=-1&gt;Please click on the Update Files button to activate the update all the configuration files listed above.&lt;/FONT&gt;&lt;/HTML&gt;"/>
</bean>
<bean>
<property name="PopupMenu" value="none"/>
<property name="ExtraCode" value=""/>
<property name="font" value="Dialog+0+12"/>
<property name="Layout Constraints" value="1,0,1,1,0,10,0,0,0.0,0.0,5,5,5,5"/>
<property name="DefaultSize" value="119,31"/>
<property name="InstanceName" value="buttonUpdate"/>
<property name="PropertyOrder" value=",font,text,"/>
<property name="Bean Permissions" value="247"/>
<property name="Panel" value="panelInfo"/>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="text" value=" Apply"/>
</bean>
<bean>
<property name="ExtraCode" value=""/>
<property name="font" value="Dialog+0+12"/>
<property name="Layout Constraints" value="1,1,1,1,0,10,0,0,0.0,0.0,0,0,0,0"/>
<property name="DefaultSize" value="77,31"/>
<property name="InstanceName" value="buttonClose"/>
<property name="PropertyOrder" value=",text,font,"/>
<property name="Bean Permissions" value="247"/>
<property name="Panel" value="panelInfo"/>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="text" value="Close"/>
</bean>
</screen>

