<?xml version="1.0"?>
<screen>
<property name="Screen Height" value="602"/>
<property name="Screen Width" value="788"/>
<property name="Dummy Interface" value=""/>
<property name="Import Code" value=""/>
<property name="Variable Definitions" value=""/>
<property name="MenuBarPresent" value="true"/>
<property name="Type" value="Panel"/>
<property name="HorizontalSplitPanePos" value="0.1541501976284585"/>
<property name="LookAndFeel" value="None"/>
<property name="screenTitle" value="new_screen1"/>
<property name="Version" value="4.2F"/>
<property name="Initialize Commands" value=""/>
<property name="Start Commands" value=""/>
<property name="ToolBarPresent" value="true"/>
<property name="GenSource" value="false"/>
<property name="Custom Code" value=""/>
<bean>
<property name="Layout Manager" value="GridBag Layout"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Panel" value="container"/>
<property name="InstanceName" value="Top"/>
<property name="Layout Manager Constraints" value=""/>
<property name="ExtraCode" value=""/>
<property name="Layout Constraints" value="Center"/>
</bean>
<bean>
<property name="Layout Manager" value="GridBag Layout"/>
<property name="PopupMenu" value="none"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="PropertyOrder" value=",border,"/>
<property name="border" value="EtchedBorder,1,null,null"/>
<property name="Panel" value="Top"/>
<property name="InstanceName" value="panel_projVar"/>
<property name="Layout Manager Constraints" value=""/>
<property name="ExtraCode" value=""/>
<property name="Layout Constraints" value="0,1,1,1,2,10,0,0,0.1,0.0,5,0,5,0"/>
<property name="Bean Permissions" value="255"/>
<property name="DefaultSize" value="333,153"/>
</bean>
<bean>
<property name="ClassName" value="javax.swing.JTextField"/>
<property name="Panel" value="panel_projVar"/>
<property name="InstanceName" value="text_projName"/>
<property name="ExtraCode" value=""/>
<property name="Layout Constraints" value="1,0,2,1,2,10,0,0,0.1,0.0,10,10,10,10"/>
<property name="Bean Permissions" value="247"/>
<property name="DefaultSize" value="20,25"/>
</bean>
<bean>
<property name="PopupMenu" value="none"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="PropertyOrder" value=",text,foreground,"/>
<property name="Panel" value="panel_projVar"/>
<property name="InstanceName" value="label_projName"/>
<property name="ExtraCode" value=""/>
<property name="text" value="Project Name"/>
<property name="foreground" value="-16764109"/>
<property name="Layout Constraints" value="0,0,1,1,0,17,0,0,0.0,0.0,10,10,10,10"/>
<property name="Bean Permissions" value="247"/>
<property name="DefaultSize" value="111,21"/>
</bean>
<bean>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="PropertyOrder" value=",name,text,foreground,"/>
<property name="Panel" value="panel_projVar"/>
<property name="InstanceName" value="label_package"/>
<property name="ExtraCode" value=""/>
<property name="text" value="PackageName"/>
<property name="foreground" value="-16764109"/>
<property name="Layout Constraints" value="0,1,1,1,0,17,0,0,0.0,0.0,10,10,10,10"/>
<property name="name" value="Package Name"/>
<property name="Bean Permissions" value="247"/>
<property name="DefaultSize" value="116,21"/>
</bean>
<bean>
<property name="ClassName" value="javax.swing.JTextField"/>
<property name="Panel" value="panel_projVar"/>
<property name="InstanceName" value="text_packageName"/>
<property name="ExtraCode" value=""/>
<property name="Layout Constraints" value="1,1,0,1,2,10,0,0,0.1,0.0,10,10,10,10"/>
<property name="Bean Permissions" value="247"/>
<property name="DefaultSize" value="20,25"/>
</bean>
<bean>
<property name="Layout Manager" value="Flow Layout"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Panel" value="panel_projVar"/>
<property name="InstanceName" value="panelOKCancel"/>
<property name="Layout Manager Constraints" value="5,5,2"/>
<property name="ExtraCode" value=""/>
<property name="Layout Constraints" value="0,2,0,1,2,10,0,0,0.0,0.0,0,0,0,0"/>
<property name="Bean Permissions" value="255"/>
<property name="DefaultSize" value="211,49"/>
</bean>
<bean>
<property name="PopupMenu" value="none"/>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="PropertyOrder" value=",text,"/>
<property name="Panel" value="panelOKCancel"/>
<property name="InstanceName" value="okButton"/>
<property name="ExtraCode" value=""/>
<property name="text" value="Ok"/>
<property name="Layout Constraints" value="0"/>
<property name="PaddingSize" value="28,0"/>
<property name="Bean Permissions" value="247"/>
<property name="DefaultSize" value="93,31"/>
</bean>
<bean>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="PropertyOrder" value=",text,"/>
<property name="Panel" value="panelOKCancel"/>
<property name="InstanceName" value="cancelButton"/>
<property name="ExtraCode" value=""/>
<property name="text" value="Cancel"/>
<property name="Layout Constraints" value="1"/>
<property name="Bean Permissions" value="247"/>
<property name="DefaultSize" value="95,31"/>
</bean>
<bean>
<property name="Layout Manager" value="Border Layout"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Panel" value="Top"/>
<property name="InstanceName" value="panel_ProjType"/>
<property name="Layout Manager Constraints" value="5,5"/>
<property name="ExtraCode" value=""/>
<property name="Layout Constraints" value="0,0,0,1,1,10,0,0,0.1,0.1,0,0,0,0"/>
<property name="Bean Permissions" value="255"/>
<property name="DefaultSize" value="20,20"/>
</bean>
</screen>

