<?xml version="1.0"?>
<screen>
<property name="Type" value="Panel"/>
<property name="Version" value="4.2F"/>
<property name="Initialize Commands" value=""/>
<property name="Dummy Interface" value=""/>
<property name="Screen Width" value="693"/>
<property name="Import Code" value=""/>
<property name="Variable Definitions" value=""/>
<property name="GenSource" value="true"/>
<property name="Screen Height" value="484"/>
<property name="HorizontalSplitPanePos" value="0.20656370656370657"/>
<property name="ToolBarPresent" value="true"/>
<property name="Custom Code" value=""/>
<property name="screenTitle" value="new_screen1"/>
<property name="Start Commands" value=""/>
<property name="LookAndFeel" value="None"/>
<property name="MenuBarPresent" value="true"/>
<bean>
<property name="InstanceName" value="Top"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Layout Manager" value="GridBag Layout"/>
<property name="Layout Constraints" value="Center"/>
<property name="Panel" value="container"/>
<property name="Layout Manager Constraints" value=""/>
</bean>
<bean>
<property name="Bean Permissions" value="255"/>
<property name="InstanceName" value="JScrollPane1"/>
<property name="DefaultSize" value="30,30"/>
<property name="ClassName" value="javax.swing.JScrollPane"/>
<property name="Layout Manager" value="Viewport Layout"/>
<property name="Panel" value="Top"/>
<property name="Layout Constraints" value="0,0,1,1,1,10,0,0,0.1,0.1,10,10,10,10"/>
<property name="Layout Manager Constraints" value=""/>
</bean>
<bean>
<property name="ExtraCode" value=""/>
<property name="DefaultSize" value="20,31"/>
<property name="border" value="TitledBorder,[LineBorder,-16777216,1,false],Package Results,1,2,Dialog+0+12,-16764109"/>
<property name="InstanceName" value="labelPackResults"/>
<property name="PropertyOrder" value=",border,verticalAlignment,verticalTextPosition,horizontalTextPosition,"/>
<property name="Bean Permissions" value="247"/>
<property name="verticalAlignment" value="1"/>
<property name="verticalTextPosition" value="1"/>
<property name="Panel" value="JScrollPane1"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="horizontalTextPosition" value="2"/>
</bean>
</screen>

