<?xml version="1.0"?>
<screen>
<property name="Type" value="Panel"/>
<property name="Version" value="4.2F"/>
<property name="Initialize Commands" value=""/>
<property name="Dummy Interface" value=""/>
<property name="Screen Width" value="700"/>
<property name="Import Code" value=""/>
<property name="Variable Definitions" value=""/>
<property name="GenSource" value="false"/>
<property name="Screen Height" value="493"/>
<property name="HorizontalSplitPanePos" value="0.17184466019417477"/>
<property name="ToolBarPresent" value="true"/>
<property name="Custom Code" value=""/>
<property name="screenTitle" value="new_screen1"/>
<property name="Start Commands" value=""/>
<property name="LookAndFeel" value="None"/>
<property name="MenuBarPresent" value="true"/>
<bean>
<property name="InstanceName" value="Top"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Layout Manager" value="GridBag Layout"/>
<property name="Layout Constraints" value="Center"/>
<property name="Panel" value="container"/>
<property name="Layout Manager Constraints" value=""/>
</bean>
<bean>
<property name="Layout Manager Constraints" value=""/>
<property name="ExtraCode" value=""/>
<property name="Layout Constraints" value="0,0,0,1,2,10,0,0,0.1,0.0,10,10,0,10"/>
<property name="DefaultSize" value="222,93"/>
<property name="border" value="TitledBorder,[LineBorder,-16777216,1,false],RelationalObject Properties,1,2,Dialog+0+12,-16764109"/>
<property name="Layout Manager" value="GridBag Layout"/>
<property name="InstanceName" value="panelClsMO"/>
<property name="PropertyOrder" value=",border,"/>
<property name="Bean Permissions" value="255"/>
<property name="Panel" value="Top"/>
<property name="ClassName" value="javax.swing.JPanel"/>
</bean>
<bean>
<property name="ExtraCode" value=""/>
<property name="Layout Constraints" value="0,1,1,1,0,17,0,0,0.0,0.0,0,10,10,10"/>
<property name="font" value="Dialog+0+12"/>
<property name="DefaultSize" value="144,21"/>
<property name="InstanceName" value="labelMOName"/>
<property name="PropertyOrder" value=",font,foreground,text,"/>
<property name="Bean Permissions" value="247"/>
<property name="foreground" value="-16764109"/>
<property name="Panel" value="panelClsMO"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="text" value="ManagedObject Name"/>
</bean>
<bean>
<property name="ExtraCode" value=""/>
<property name="font" value="Dialog+0+12"/>
<property name="Layout Constraints" value="0,0,1,1,0,17,0,0,0.0,0.0,10,10,0,10"/>
<property name="DefaultSize" value="80,21"/>
<property name="InstanceName" value="labelRelClsName"/>
<property name="PropertyOrder" value=",text,font,foreground,"/>
<property name="Bean Permissions" value="247"/>
<property name="foreground" value="-16764109"/>
<property name="Panel" value="panelClsMO"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="text" value="Class name"/>
</bean>
<bean>
<property name="Bean Permissions" value="247"/>
<property name="InstanceName" value="labelRelClsNameVal"/>
<property name="DefaultSize" value="20,20"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="Panel" value="panelClsMO"/>
<property name="Layout Constraints" value="1,0,1,1,2,10,0,0,0.1,0.0,10,10,0,10"/>
</bean>
<bean>
<property name="Bean Permissions" value="247"/>
<property name="InstanceName" value="labelMONameVal"/>
<property name="DefaultSize" value="20,20"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="Panel" value="panelClsMO"/>
<property name="Layout Constraints" value="1,1,1,1,2,10,0,0,0.1,0.0,0,10,10,10"/>
</bean>
<bean>
<property name="Bean Permissions" value="255"/>
<property name="InstanceName" value="propertyScroller"/>
<property name="DefaultSize" value="30,30"/>
<property name="ClassName" value="javax.swing.JScrollPane"/>
<property name="Layout Manager" value="Viewport Layout"/>
<property name="Panel" value="Top"/>
<property name="Layout Constraints" value="0,1,1,1,1,10,0,0,0.1,0.1,0,10,0,10"/>
<property name="Layout Manager Constraints" value=""/>
</bean>
<bean>
<property name="Bean Permissions" value="247"/>
<property name="InstanceName" value="propertyTable"/>
<property name="DefaultSize" value="20,20"/>
<property name="ExtraCode" value=""/>
<property name="ClassName" value="javax.swing.JTable"/>
<property name="Panel" value="propertyScroller"/>
</bean>
<bean>
<property name="Layout Manager Constraints" value=""/>
<property name="ExtraCode" value=""/>
<property name="Layout Constraints" value="0,2,0,1,2,10,0,0,0.1,0.0,0,10,0,10"/>
<property name="DefaultSize" value="448,82"/>
<property name="border" value="TitledBorder,[LineBorder,-16777216,1,false],Database Schema details,1,2,Dialog+0+12,-16764109"/>
<property name="Layout Manager" value="GridBag Layout"/>
<property name="InstanceName" value="panelSchema"/>
<property name="PropertyOrder" value=",border,"/>
<property name="Bean Permissions" value="255"/>
<property name="Panel" value="Top"/>
<property name="ClassName" value="javax.swing.JPanel"/>
</bean>
<bean>
<property name="ExtraCode" value=""/>
<property name="font" value="Dialog+0+12"/>
<property name="Layout Constraints" value="0,0,1,1,2,17,0,0,0.1,0.0,10,10,10,10"/>
<property name="DefaultSize" value="319,21"/>
<property name="InstanceName" value="labelSchema"/>
<property name="PropertyOrder" value=",text,font,foreground,"/>
<property name="Bean Permissions" value="247"/>
<property name="foreground" value="-16764109"/>
<property name="Panel" value="panelSchema"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="text" value="Please click the View button for Database Schema"/>
</bean>
<bean>
<property name="ExtraCode" value=""/>
<property name="Layout Constraints" value="1,0,1,1,0,15,0,0,0.0,0.0,10,10,10,10"/>
<property name="font" value="Dialog+0+12"/>
<property name="DefaultSize" value="71,31"/>
<property name="InstanceName" value="butSchemaView"/>
<property name="PropertyOrder" value=",font,text,"/>
<property name="Bean Permissions" value="247"/>
<property name="Panel" value="panelSchema"/>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="text" value="View"/>
</bean>
<bean>
<property name="Layout Manager Constraints" value=""/>
<property name="ExtraCode" value=""/>
<property name="Layout Constraints" value="0,3,0,1,2,10,0,0,0.1,0.0,0,10,10,10"/>
<property name="DefaultSize" value="445,82"/>
<property name="border" value="TitledBorder,[LineBorder,-16777216,1,false],Database Alias details,1,2,Dialog+0+12,-16764109"/>
<property name="Layout Manager" value="GridBag Layout"/>
<property name="InstanceName" value="panelAlias"/>
<property name="PropertyOrder" value=",border,"/>
<property name="Bean Permissions" value="255"/>
<property name="Panel" value="Top"/>
<property name="ClassName" value="javax.swing.JPanel"/>
</bean>
<bean>
<property name="ExtraCode" value=""/>
<property name="Layout Constraints" value="0,0,1,1,2,17,0,0,0.1,0.0,10,10,10,10"/>
<property name="font" value="Dialog+0+12"/>
<property name="DefaultSize" value="316,21"/>
<property name="InstanceName" value="labelAlias"/>
<property name="PropertyOrder" value=",font,foreground,text,"/>
<property name="Bean Permissions" value="247"/>
<property name="foreground" value="-16764109"/>
<property name="Panel" value="panelAlias"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="text" value="Please click the View button for Database Aliases"/>
</bean>
<bean>
<property name="ExtraCode" value=""/>
<property name="font" value="Dialog+0+12"/>
<property name="Layout Constraints" value="1,0,1,1,0,15,0,0,0.0,0.0,10,10,10,10"/>
<property name="DefaultSize" value="71,31"/>
<property name="InstanceName" value="labelAliasView"/>
<property name="PropertyOrder" value=",text,font,"/>
<property name="Bean Permissions" value="247"/>
<property name="Panel" value="panelAlias"/>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="text" value="View"/>
</bean>
</screen>

