<?xml version="1.0"?>
<screen>
<property name="Type" value="Panel"/>
<property name="Version" value="4.2F"/>
<property name="Initialize Commands" value=""/>
<property name="Dummy Interface" value=""/>
<property name="Screen Width" value="686"/>
<property name="Import Code" value=""/>
<property name="Variable Definitions" value=""/>
<property name="GenSource" value="true"/>
<property name="Screen Height" value="474"/>
<property name="HorizontalSplitPanePos" value="0.18436293436293436"/>
<property name="ToolBarPresent" value="true"/>
<property name="Custom Code" value=""/>
<property name="screenTitle" value="new_screen1"/>
<property name="Start Commands" value=""/>
<property name="LookAndFeel" value="None"/>
<property name="MenuBarPresent" value="true"/>
<bean>
<property name="InstanceName" value="Top"/>
<property name="ExtraCode" value=""/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Layout Manager" value="Border Layout"/>
<property name="Layout Constraints" value="Center"/>
<property name="Panel" value="container"/>
<property name="Layout Manager Constraints" value="5,5"/>
</bean>
<bean>
<property name="Bean Permissions" value="255"/>
<property name="InstanceName" value="compilePanel"/>
<property name="DefaultSize" value="553,49"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Layout Manager" value="Flow Layout"/>
<property name="Panel" value="Top"/>
<property name="Layout Constraints" value="South"/>
<property name="Layout Manager Constraints" value="5,5,2"/>
</bean>
<bean>
<property name="ExtraCode" value=""/>
<property name="Layout Constraints" value="0"/>
<property name="DefaultSize" value="163,31"/>
<property name="InstanceName" value="optButton"/>
<property name="PropertyOrder" value=",text,"/>
<property name="Bean Permissions" value="247"/>
<property name="Panel" value="compilePanel"/>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="text" value="Compile Options"/>
</bean>
<bean>
<property name="ExtraCode" value=""/>
<property name="Layout Constraints" value="1"/>
<property name="DefaultSize" value="127,31"/>
<property name="InstanceName" value="saveButton"/>
<property name="PropertyOrder" value=",text,"/>
<property name="Bean Permissions" value="247"/>
<property name="Panel" value="compilePanel"/>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="text" value="Save Source"/>
</bean>
<bean>
<property name="ExtraCode" value=""/>
<property name="Layout Constraints" value="2"/>
<property name="DefaultSize" value="101,31"/>
<property name="InstanceName" value="compileButton"/>
<property name="PropertyOrder" value=",text,"/>
<property name="Bean Permissions" value="247"/>
<property name="Panel" value="compilePanel"/>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="text" value="Compile"/>
</bean>
<bean>
<property name="PopupMenu" value="none"/>
<property name="ExtraCode" value=""/>
<property name="Layout Constraints" value="3"/>
<property name="DefaultSize" value="129,31"/>
<property name="InstanceName" value="clearButton"/>
<property name="PropertyOrder" value=",text,"/>
<property name="Bean Permissions" value="247"/>
<property name="Panel" value="compilePanel"/>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="text" value="Clear Status"/>
</bean>
<bean>
<property name="Bean Permissions" value="255"/>
<property name="InstanceName" value="sourcePanel"/>
<property name="DefaultSize" value="72,138"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Layout Manager" value="GridBag Layout"/>
<property name="Panel" value="Top"/>
<property name="Layout Constraints" value="Center"/>
<property name="Layout Manager Constraints" value=""/>
</bean>
<bean>
<property name="Bean Permissions" value="255"/>
<property name="InstanceName" value="errorScroll"/>
<property name="DefaultSize" value="30,30"/>
<property name="ClassName" value="javax.swing.JScrollPane"/>
<property name="Layout Manager" value="Viewport Layout"/>
<property name="Panel" value="sourcePanel"/>
<property name="Layout Constraints" value="0,1,1,1,1,10,0,0,0.1,0.3,5,5,5,0"/>
<property name="Layout Manager Constraints" value=""/>
</bean>
<bean>
<property name="Bean Permissions" value="255"/>
<property name="InstanceName" value="errorPane"/>
<property name="DefaultSize" value="33,54"/>
<property name="ExtraCode" value=""/>
<property name="ClassName" value="javax.swing.JTabbedPane"/>
<property name="Layout Manager" value="TabPane Layout"/>
<property name="Panel" value="errorScroll"/>
<property name="Layout Manager Constraints" value=""/>
</bean>
<bean>
<property name="ExtraCode" value=""/>
<property name="Layout Constraints" value="Status,null,null,0"/>
<property name="DefaultSize" value="20,21"/>
<property name="InstanceName" value="errorArea"/>
<property name="PropertyOrder" value=",text,"/>
<property name="Bean Permissions" value="247"/>
<property name="Panel" value="errorPane"/>
<property name="ClassName" value="javax.swing.JTextArea"/>
<property name="text" value=""/>
</bean>
<bean>
<property name="Layout Manager Constraints" value=""/>
<property name="ExtraCode" value=""/>
<property name="Layout Constraints" value="0,0,1,1,1,10,0,0,0.1,0.7,5,5,5,5"/>
<property name="DefaultSize" value="30,30"/>
<property name="Layout Manager" value="Viewport Layout"/>
<property name="InstanceName" value="sourceScroll"/>
<property name="Bean Permissions" value="255"/>
<property name="Panel" value="sourcePanel"/>
<property name="ClassName" value="javax.swing.JScrollPane"/>
</bean>
</screen>

