<?xml version="1.0"?>
<screen>
<property name="Type" value="Panel"/>
<property name="Version" value="4.2F"/>
<property name="Initialize Commands" value=""/>
<property name="Dummy Interface" value=""/>
<property name="Screen Width" value="692"/>
<property name="Import Code" value=""/>
<property name="Variable Definitions" value=""/>
<property name="GenSource" value="false"/>
<property name="Screen Height" value="555"/>
<property name="HorizontalSplitPanePos" value="0.189453125"/>
<property name="ToolBarPresent" value="true"/>
<property name="Custom Code" value=""/>
<property name="screenTitle" value="new_screen1"/>
<property name="Start Commands" value=""/>
<property name="LookAndFeel" value="None"/>
<property name="MenuBarPresent" value="true"/>
<bean>
<property name="InstanceName" value="Top"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Layout Manager" value="Border Layout"/>
<property name="Layout Constraints" value="Center"/>
<property name="Panel" value="container"/>
<property name="Layout Manager Constraints" value="5,5"/>
</bean>
<bean>
<property name="Layout Manager Constraints" value=""/>
<property name="tabPlacement" value="3"/>
<property name="ExtraCode" value=""/>
<property name="Layout Constraints" value="Center"/>
<property name="DefaultSize" value="527,126"/>
<property name="Layout Manager" value="TabPane Layout"/>
<property name="InstanceName" value="sourcePropTab"/>
<property name="PropertyOrder" value=",tabPlacement,"/>
<property name="Bean Permissions" value="255"/>
<property name="Panel" value="Top"/>
<property name="ClassName" value="javax.swing.JTabbedPane"/>
</bean>
<bean>
<property name="Bean Permissions" value="255"/>
<property name="InstanceName" value="SourcePanel"/>
<property name="DefaultSize" value="20,20"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Layout Manager" value="Border Layout"/>
<property name="Panel" value="sourcePropTab"/>
<property name="Layout Constraints" value="Source,null,Click to view Source,0"/>
<property name="Layout Manager Constraints" value="5,5"/>
</bean>
<bean>
<property name="Bean Permissions" value="255"/>
<property name="InstanceName" value="PropertyPanel"/>
<property name="DefaultSize" value="514,93"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Layout Manager" value="Border Layout"/>
<property name="Panel" value="sourcePropTab"/>
<property name="Layout Constraints" value="Property,null,Click to view/modify properties,1"/>
<property name="Layout Manager Constraints" value="5,5"/>
</bean>
<bean>
<property name="Layout Manager Constraints" value="5,5"/>
<property name="Layout Constraints" value="South"/>
<property name="DefaultSize" value="496,49"/>
<property name="Layout Manager" value="Border Layout"/>
<property name="PaddingSize" value="10,10"/>
<property name="InstanceName" value="labelModifyPanel"/>
<property name="Bean Permissions" value="255"/>
<property name="Panel" value="PropertyPanel"/>
<property name="ClassName" value="javax.swing.JPanel"/>
</bean>
<bean>
<property name="ExtraCode" value=""/>
<property name="font" value="Dialog+0+16"/>
<property name="Layout Constraints" value="Center"/>
<property name="DefaultSize" value="376,25"/>
<property name="InstanceName" value="propInfoLabel"/>
<property name="PropertyOrder" value=",text,foreground,font,"/>
<property name="Bean Permissions" value="247"/>
<property name="foreground" value="-16764109"/>
<property name="Panel" value="labelModifyPanel"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="text" value="Click to modify properties of ManagedObject"/>
</bean>
<bean>
<property name="PopupMenu" value="none"/>
<property name="ExtraCode" value=""/>
<property name="Layout Constraints" value="East"/>
<property name="DefaultSize" value="97,31"/>
<property name="border" value="BevelBorder,0,-16764109,null,null,null"/>
<property name="PaddingSize" value="36,6"/>
<property name="InstanceName" value="propModifyButton"/>
<property name="PropertyOrder" value=",text,border,"/>
<property name="Bean Permissions" value="247"/>
<property name="Panel" value="labelModifyPanel"/>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="text" value="Modify"/>
</bean>
</screen>

