<?xml version="1.0"?>
<screen>
<property name="Type" value="Panel"/>
<property name="Version" value="4.2F"/>
<property name="Initialize Commands" value=""/>
<property name="Dummy Interface" value=""/>
<property name="Screen Width" value="731"/>
<property name="Import Code" value=""/>
<property name="Variable Definitions" value=""/>
<property name="GenSource" value="false"/>
<property name="Screen Height" value="512"/>
<property name="HorizontalSplitPanePos" value="0.1669921875"/>
<property name="ToolBarPresent" value="true"/>
<property name="Custom Code" value=""/>
<property name="screenTitle" value="new_screen1"/>
<property name="Start Commands" value=""/>
<property name="LookAndFeel" value="None"/>
<property name="MenuBarPresent" value="true"/>
<bean>
<property name="InstanceName" value="Top"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Layout Manager" value="Border Layout"/>
<property name="Layout Constraints" value="Center"/>
<property name="Panel" value="container"/>
<property name="Layout Manager Constraints" value="5,5"/>
</bean>
<bean>
<property name="Layout Manager Constraints" value="5,5"/>
<property name="ExtraCode" value=""/>
<property name="Layout Constraints" value="Center"/>
<property name="DefaultSize" value="74,88"/>
<property name="border" value="TitledBorder,[LineBorder,-16777216,1,false],Properties of current ManagedObject,1,2,Dialog+0+12,-16764109"/>
<property name="Layout Manager" value="Border Layout"/>
<property name="InstanceName" value="wizardholderPanel"/>
<property name="PropertyOrder" value=",border,"/>
<property name="Bean Permissions" value="255"/>
<property name="Panel" value="Top"/>
<property name="ClassName" value="javax.swing.JPanel"/>
</bean>
<bean>
<property name="Bean Permissions" value="255"/>
<property name="InstanceName" value="projInfoScroller"/>
<property name="DefaultSize" value="46,47"/>
<property name="ClassName" value="javax.swing.JScrollPane"/>
<property name="Layout Manager" value="Viewport Layout"/>
<property name="Panel" value="wizardholderPanel"/>
<property name="Layout Constraints" value="Center"/>
<property name="Layout Manager Constraints" value=""/>
</bean>
<bean>
<property name="Bean Permissions" value="247"/>
<property name="InstanceName" value="ProjInfo"/>
<property name="DefaultSize" value="20,21"/>
<property name="ExtraCode" value=""/>
<property name="ClassName" value="javax.swing.JTextArea"/>
<property name="Panel" value="projInfoScroller"/>
</bean>
</screen>

