<?xml version="1.0" encoding="ISO-8859-1"?>
<screen conversionType="Hash">
<property name="Initialize Commands" value=""/>
<property name="Screen Width" value="434"/>
<property name="screenTitle" value="Mode of Shutdown"/>
<bean>
<property name="InstanceName" value="Top"/>
<property name="ExtraCode" value=""/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Layout Manager" value="Border Layout"/>
<property name="Layout Constraints" value="Center"/>
<property name="Panel" value="container"/>
<property name="Layout Manager Constraints" value="5,5"/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JPanel();"/>
<property name="Layout Manager Constraints" value="15,10,1"/>
<property name="ExtraCode" value=""/>
<property name="Layout Constraints" value="South"/>
<property name="DefaultSize" value="219,67"/>
<property name="border" value="EtchedBorder,1,null,null"/>
<property name="Layout Manager" value="Flow Layout"/>
<property name="InstanceName" value="butPanel"/>
<property name="PropertyOrder" value=",border,"/>
<property name="Bean Permissions" value="255"/>
<property name="Panel" value="Top"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JButton();"/>
<property name="ExtraCode" value=""/>
<property name="maximumSize" value="73,27"/>
<property name="font" value="Dialog+1+12"/>
<property name="Layout Constraints" value="0"/>
<property name="minimumSize" value="73,27"/>
<property name="DefaultSize" value="81,35"/>
<property name="border" value="BevelBorder,0,null,null,null,null"/>
<property name="InstanceName" value="okButton"/>
<property name="PropertyOrder" value=",font,horizontalTextPosition,text,border,maximumSize,minimumSize,preferredSize,"/>
<property name="Bean Permissions" value="247"/>
<property name="preferredSize" value="73,27"/>
<property name="Panel" value="butPanel"/>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="horizontalTextPosition" value="0"/>
<property name="text" value="OK"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JButton();"/>
<property name="ExtraCode" value=""/>
<property name="maximumSize" value="73,27"/>
<property name="font" value="Dialog+1+12"/>
<property name="Layout Constraints" value="1"/>
<property name="minimumSize" value="73,27"/>
<property name="DefaultSize" value="81,35"/>
<property name="border" value="BevelBorder,0,null,null,null,null"/>
<property name="InstanceName" value="cancelButton"/>
<property name="PropertyOrder" value=",horizontalTextPosition,font,border,label,preferredSize,minimumSize,maximumSize,"/>
<property name="Bean Permissions" value="247"/>
<property name="preferredSize" value="73,27"/>
<property name="label" value="Cancel"/>
<property name="Panel" value="butPanel"/>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="horizontalTextPosition" value="4"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JPanel();"/>
<property name="Layout Manager Constraints" value=""/>
<property name="ExtraCode" value=""/>
<property name="Layout Constraints" value="Center"/>
<property name="DefaultSize" value="393,180"/>
<property name="border" value="EtchedBorder,1,null,null"/>
<property name="Layout Manager" value="GridBag Layout"/>
<property name="InstanceName" value="mainPanel"/>
<property name="PropertyOrder" value=",border,"/>
<property name="Bean Permissions" value="255"/>
<property name="Panel" value="Top"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JPanel();"/>
<property name="Layout Manager Constraints" value="15,5,1"/>
<property name="ExtraCode" value=""/>
<property name="font" value="Dialog+0+12"/>
<property name="Layout Constraints" value="0,0,0,1,1,17,0,0,0.0,0.0,5,5,5,5"/>
<property name="DefaultSize" value="371,89"/>
<property name="border" value="TitledBorder,[EtchedBorder,0,null,null],Select Mode of Shutdown,2,0,Dialog+1+12,-16777216"/>
<property name="Layout Manager" value="Flow Layout"/>
<property name="InstanceName" value="optionPanel"/>
<property name="PropertyOrder" value=",font,border,"/>
<property name="Bean Permissions" value="255"/>
<property name="Panel" value="mainPanel"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JRadioButton();"/>
<property name="ExtraCode" value=""/>
<property name="font" value="Dialog+1+12"/>
<property name="Layout Constraints" value="0"/>
<property name="DefaultSize" value="127,33"/>
<property name="InstanceName" value="rbWeb"/>
<property name="PropertyOrder" value=",horizontalTextPosition,horizontalAlignment,verticalAlignment,verticalTextPosition,font,text,label,"/>
<property name="Bean Permissions" value="247"/>
<property name="verticalAlignment" value="0"/>
<property name="verticalTextPosition" value="0"/>
<property name="label" value="Web Server Port"/>
<property name="Panel" value="optionPanel"/>
<property name="ClassName" value="javax.swing.JRadioButton"/>
<property name="horizontalTextPosition" value="4"/>
<property name="text" value="We"/>
<property name="horizontalAlignment" value="2"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JRadioButton();"/>
<property name="ExtraCode" value=""/>
<property name="font" value="Dialog+1+12"/>
<property name="Layout Constraints" value="1"/>
<property name="DefaultSize" value="81,33"/>
<property name="InstanceName" value="rbRMI"/>
<property name="PropertyOrder" value=",horizontalTextPosition,horizontalAlignment,verticalAlignment,verticalTextPosition,font,label,"/>
<property name="Bean Permissions" value="247"/>
<property name="verticalAlignment" value="0"/>
<property name="verticalTextPosition" value="0"/>
<property name="label" value="RMI Port"/>
<property name="Panel" value="optionPanel"/>
<property name="ClassName" value="javax.swing.JRadioButton"/>
<property name="horizontalTextPosition" value="4"/>
<property name="horizontalAlignment" value="2"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JRadioButton();"/>
<property name="ExtraCode" value=""/>
<property name="font" value="Dialog+1+12"/>
<property name="Layout Constraints" value="2"/>
<property name="DefaultSize" value="83,33"/>
<property name="selected" value="true"/>
<property name="InstanceName" value="rbTCP"/>
<property name="PropertyOrder" value=",horizontalTextPosition,horizontalAlignment,verticalAlignment,verticalTextPosition,text,font,selected,"/>
<property name="Bean Permissions" value="247"/>
<property name="verticalAlignment" value="0"/>
<property name="verticalTextPosition" value="0"/>
<property name="Panel" value="optionPanel"/>
<property name="ClassName" value="javax.swing.JRadioButton"/>
<property name="horizontalTextPosition" value="4"/>
<property name="text" value="TCP Port"/>
<property name="horizontalAlignment" value="2"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JLabel();"/>
<property name="ExtraCode" value=""/>
<property name="font" value="Dialog+1+12"/>
<property name="Layout Constraints" value="0,1,1,1,1,17,0,0,0.0,0.0,5,5,5,5"/>
<property name="DefaultSize" value="80,25"/>
<property name="InstanceName" value="lfPort"/>
<property name="PropertyOrder" value=",horizontalAlignment,foreground,horizontalTextPosition,font,text,"/>
<property name="Bean Permissions" value="247"/>
<property name="foreground" value="-16777216"/>
<property name="Panel" value="mainPanel"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="horizontalTextPosition" value="4"/>
<property name="text" value="Port Number"/>
<property name="horizontalAlignment" value="2"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JTextField();"/>
<property name="ExtraCode" value=""/>
<property name="font" value="SansSerif+0+12"/>
<property name="Layout Constraints" value="1,1,0,1,1,17,0,0,0.1,0.0,5,5,5,5"/>
<property name="DefaultSize" value="20,29"/>
<property name="border" value="BevelBorder,1,null,null,null,null"/>
<property name="InstanceName" value="tfPort"/>
<property name="PropertyOrder" value=",horizontalAlignment,font,border,"/>
<property name="Bean Permissions" value="247"/>
<property name="Panel" value="mainPanel"/>
<property name="ClassName" value="javax.swing.JTextField"/>
<property name="horizontalAlignment" value="2"/>
<property name="Modifiers" value="private"/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JLabel();"/>
<property name="ExtraCode" value=""/>
<property name="font" value="SansSerif+0+12"/>
<property name="Layout Constraints" value="0,2,0,0,1,17,0,0,0.1,0.1,5,5,5,5"/>
<property name="DefaultSize" value="20,20"/>
<property name="InstanceName" value="JLabel1"/>
<property name="PropertyOrder" value=",horizontalAlignment,font,foreground,horizontalTextPosition,"/>
<property name="Bean Permissions" value="247"/>
<property name="foreground" value="-16777216"/>
<property name="Panel" value="mainPanel"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="horizontalTextPosition" value="4"/>
<property name="horizontalAlignment" value="2"/>
<property name="Modifiers" value=""/>
</bean>
<property name="Import Code" value=""/>
<property name="Variable Definitions" value=""/>
<property name="Version" value="4.3-BETA"/>
<property name="Screen Height" value="202"/>
<property name="Type" value="Dialog"/>
<property name="Start Commands" value=""/>
<property name="MenuBarPresent" value="true"/>
<property name="GenSource" value="false"/>
<property name="Custom Code" value=""/>
<property name="Dummy Interface" value=""/>
<property name="HorizontalSplitPanePos" value="170.0"/>
<property name="ToolBarPresent" value="true"/>
<property name="SubVersion" value="BeanBuilder_2.0"/>
<property name="LookAndFeel" value="None"/>
</screen>
