<?xml version="1.0" encoding="ISO-8859-1"?>
<screen>
<property name="Type" value="Console Application"/>
<property name="Version" value="4.2F"/>
<property name="Initialize Commands" value=""/>
<property name="Dummy Interface" value=""/>
<property name="Screen Width" value="564"/>
<property name="SubVersion" value="BeanBuilder_2.0"/>
<property name="Import Code" value=""/>
<property name="Variable Definitions" value=""/>
<property name="GenSource" value="false"/>
<property name="Screen Height" value="553"/>
<property name="HorizontalSplitPanePos" value="244.0"/>
<property name="ToolBarPresent" value="true"/>
<property name="Custom Code" value=""/>
<property name="screenTitle" value=""/>
<property name="Start Commands" value=""/>
<property name="LookAndFeel" value="None"/>
<property name="MenuBarPresent" value="false"/>
<bean>
<property name="InstanceName" value="Top"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Layout Manager" value="Border Layout"/>
<property name="Layout Constraints" value="Center"/>
<property name="Panel" value="container"/>
<property name="Layout Manager Constraints" value="5,5"/>
</bean>
<bean>
<property name="Bean Permissions" value="247"/>
<property name="InstanceName" value="WizardPanel1"/>
<property name="DefaultSize" value="328,50"/>
<property name="Modifiers" value=""/>
<property name="ClassName" value="com.adventnet.nms.tools.packager.WizardPanel"/>
<property name="Panel" value="Top"/>
<property name="Layout Constraints" value="Center"/>
<property name="Initializer" value="new com.adventnet.nms.tools.packager.WizardPanel();"/>
</bean>
</screen>

