<?xml version="1.0" encoding="ISO-8859-1"?>
<screen>
<property name="Type" value="Application"/>
<property name="Version" value="4.2F"/>
<property name="Initialize Commands" value=""/>
<property name="Dummy Interface" value=""/>
<property name="Screen Width" value="743"/>
<property name="SubVersion" value="BeanBuilder_2.0"/>
<property name="Import Code" value=""/>
<property name="Variable Definitions" value=""/>
<property name="GenSource" value="false"/>
<property name="Screen Height" value="479"/>
<property name="HorizontalSplitPanePos" value="220.0"/>
<property name="ToolBarPresent" value="true"/>
<property name="Custom Code" value=""/>
<property name="screenTitle" value="CustomView Administrator"/>
<property name="Start Commands" value=""/>
<property name="LookAndFeel" value="None"/>
<property name="MenuBarPresent" value="true"/>
<bean>
<property name="PopupMenu" value="none"/>
<property name="Layout Manager Constraints" value="5,5"/>
<property name="ExtraCode" value=""/>
<property name="Layout Constraints" value="Center"/>
<property name="border" value="EtchedBorder,0,null,null"/>
<property name="Layout Manager" value="Border Layout"/>
<property name="InstanceName" value="Top"/>
<property name="PropertyOrder" value=",border,"/>
<property name="Panel" value="container"/>
<property name="ClassName" value="javax.swing.JPanel"/>
</bean>
<bean>
<property name="PopupMenu" value="none"/>
<property name="Initializer" value="new javax.swing.JSplitPane();"/>
<property name="Layout Manager Constraints" value=""/>
<property name="ExtraCode" value=""/>
<property name="Layout Constraints" value="Center"/>
<property name="DefaultSize" value="493,242"/>
<property name="Layout Manager" value="SplitPane Layout"/>
<property name="PaddingSize" value="189,0"/>
<property name="InstanceName" value="JSplitPane1"/>
<property name="Bean Permissions" value="255"/>
<property name="Panel" value="Top"/>
<property name="ClassName" value="javax.swing.JSplitPane"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JPanel();"/>
<property name="Layout Manager Constraints" value="5,5"/>
<property name="ExtraCode" value=""/>
<property name="Layout Constraints" value="right,121"/>
<property name="DefaultSize" value="129,131"/>
<property name="Layout Manager" value="Border Layout"/>
<property name="InstanceName" value="JPanel1"/>
<property name="Bean Permissions" value="255"/>
<property name="Panel" value="JSplitPane1"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JPanel();"/>
<property name="Layout Manager Constraints" value="10,10,2"/>
<property name="ExtraCode" value=""/>
<property name="Layout Constraints" value="South"/>
<property name="DefaultSize" value="111,63"/>
<property name="Layout Manager" value="Flow Layout"/>
<property name="InstanceName" value="JPanel2"/>
<property name="Bean Permissions" value="255"/>
<property name="Panel" value="JPanel1"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JButton();"/>
<property name="ExtraCode" value=""/>
<property name="font" value="SansSerif+0+12"/>
<property name="Layout Constraints" value="0"/>
<property name="DefaultSize" value="83,35"/>
<property name="border" value="BevelBorder,0,null,null,null,null"/>
<property name="PaddingSize" value="34,6"/>
<property name="InstanceName" value="create"/>
<property name="PropertyOrder" value=",font,horizontalTextPosition,text,border,"/>
<property name="Bean Permissions" value="247"/>
<property name="Panel" value="JPanel2"/>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="horizontalTextPosition" value="4"/>
<property name="text" value="Create"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JLabel();"/>
<property name="ExtraCode" value=""/>
<property name="font" value="SansSerif+0+12"/>
<property name="Layout Constraints" value="Center"/>
<property name="DefaultSize" value="20,20"/>
<property name="border" value="EtchedBorder,0,null,null"/>
<property name="InstanceName" value="JLabel1"/>
<property name="PropertyOrder" value=",horizontalAlignment,font,foreground,horizontalTextPosition,border,"/>
<property name="Bean Permissions" value="247"/>
<property name="foreground" value="-16777216"/>
<property name="Panel" value="JPanel1"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="horizontalTextPosition" value="4"/>
<property name="horizontalAlignment" value="2"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JPanel();"/>
<property name="Layout Manager Constraints" value="5,5"/>
<property name="ExtraCode" value=""/>
<property name="Layout Constraints" value="left,121"/>
<property name="DefaultSize" value="155,232"/>
<property name="Layout Manager" value="Border Layout"/>
<property name="InstanceName" value="JPanel3"/>
<property name="Bean Permissions" value="255"/>
<property name="Panel" value="JSplitPane1"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JScrollPane();"/>
<property name="Layout Manager Constraints" value=""/>
<property name="ExtraCode" value=""/>
<property name="Layout Constraints" value="Center"/>
<property name="DefaultSize" value="137,171"/>
<property name="Layout Manager" value="Viewport Layout"/>
<property name="InstanceName" value="JScrollPane1"/>
<property name="Bean Permissions" value="255"/>
<property name="Panel" value="JPanel3"/>
<property name="ClassName" value="javax.swing.JScrollPane"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JTree();"/>
<property name="PopupMenu" value="none"/>
<property name="ExtraCode" value=""/>
<property name="DefaultSize" value="111,160"/>
<property name="InstanceName" value="customTypes"/>
<property name="Bean Permissions" value="247"/>
<property name="Panel" value="JScrollPane1"/>
<property name="ClassName" value="javax.swing.JTree"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JPanel();"/>
<property name="Layout Manager Constraints" value="5,5,1"/>
<property name="ExtraCode" value=""/>
<property name="Layout Constraints" value="South"/>
<property name="DefaultSize" value="109,38"/>
<property name="Layout Manager" value="Flow Layout"/>
<property name="InstanceName" value="JPanel4"/>
<property name="Bean Permissions" value="255"/>
<property name="Panel" value="JPanel3"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JButton();"/>
<property name="ExtraCode" value=""/>
<property name="font" value="SansSerif+0+12"/>
<property name="Layout Constraints" value="0"/>
<property name="DefaultSize" value="43,20"/>
<property name="InstanceName" value="expand"/>
<property name="PropertyOrder" value=",font,horizontalTextPosition,"/>
<property name="Bean Permissions" value="247"/>
<property name="Panel" value="JPanel4"/>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="horizontalTextPosition" value="4"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JButton();"/>
<property name="ExtraCode" value=""/>
<property name="font" value="SansSerif+0+12"/>
<property name="Layout Constraints" value="1"/>
<property name="DefaultSize" value="43,20"/>
<property name="InstanceName" value="collapse"/>
<property name="PropertyOrder" value=",font,horizontalTextPosition,"/>
<property name="Bean Permissions" value="247"/>
<property name="Panel" value="JPanel4"/>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="horizontalTextPosition" value="4"/>
<property name="Modifiers" value=""/>
</bean>
<menu>
<property name="menuName" value="File"/>
<property name="parent" value="top"/>
<property name="type" value="menu"/>
<property name="source" value=""/>
<property name="mnemonic" value="F"/>
<property name="uniqueID" value="MenuBar"/>
</menu>
<menu>
<property name="source" value="TreePath path=customTypes.getSelectionPath();&#10;  if(path==null)&#10;  {&#10;    return;&#10;  }&#10;  setCursor(Cursor.getPredefinedCursor(Cursor.WAIT_CURSOR));&#10;//the third parameter is used only during modification for creation it is not needed&#10;customizer=new CustomizerDialog(path.getLastPathComponent().toString(),&quot;create&quot;,null);&#10;customizer.showDialog(); &#10; addToTree(customizer.getCreatedCustomViewInfo(),path.getLastPathComponent().toString());&#10;setCursor(Cursor.getPredefinedCursor(Cursor.DEFAULT_CURSOR));"/>
<property name="uniqueID" value="MenuBar"/>
<property name="shortCutKey" value="C"/>
<property name="menuName" value="Create"/>
<property name="shiftKeyStatus" value="false"/>
<property name="ctrlKeyStatus" value="false"/>
<property name="actionCommand" value="Create"/>
<property name="type" value="menuItem"/>
<property name="altKeyStatus" value="true"/>
<property name="mnemonic" value="C"/>
<property name="parent" value="File"/>
</menu>
<menu>
<property name="source" value="TreePath path=customTypes.getSelectionPath();&#10;  if(path==null)&#10;  {&#10;    return;&#10;  }&#10;setCursor(Cursor.getPredefinedCursor(Cursor.WAIT_CURSOR));&#10;DefaultMutableTreeNode node=(DefaultMutableTreeNode)path.getLastPathComponent();   &#10;CustomViewObject object =(CustomViewObject)node.getUserObject();&#10;String type=object.getCustViewType();&#10;String viewId=object.getCustViewId();&#10;customizer=new CustomizerDialog(type,&quot;modify&quot;,customViewProperties);&#10;customizer.showDialog();  &#10;setModifiedInformation(customizer.getCreatedCustomViewInfo(),type);&#10;&#10;&#10;setCursor(Cursor.getPredefinedCursor(Cursor.DEFAULT_CURSOR));"/>
<property name="uniqueID" value="MenuBar"/>
<property name="shortCutKey" value="M"/>
<property name="menuName" value="Modify"/>
<property name="shiftKeyStatus" value="false"/>
<property name="ctrlKeyStatus" value="false"/>
<property name="actionCommand" value="Modify"/>
<property name="type" value="menuItem"/>
<property name="altKeyStatus" value="true"/>
<property name="mnemonic" value="M"/>
<property name="parent" value="File"/>
</menu>
<menu>
<property name="source" value="TreePath path=customTypes.getSelectionPath();&#10;  if(path==null)&#10;  {&#10;    return;&#10;  }&#10;  setCursor(Cursor.getPredefinedCursor(Cursor.WAIT_CURSOR));&#10;DefaultMutableTreeNode node=(DefaultMutableTreeNode)path.getLastPathComponent();   &#10;CustomViewObject object =(CustomViewObject)node.getUserObject();&#10;String user=object.getUserName();&#10;String type=object.getCustViewType();&#10;String viewName=object.getCustViewName();&#10;DeleteDialog dialog=new DeleteDialog(user);&#10;dialog.setVisible(true);&#10;Vector v=dialog.getUsers();&#10; deleteAllChilds=dialog.getDeleteChilds();&#10;if(v!=null)&#10;{&#10;callForDelete(viewName,type,v);&#10;}&#10;setCursor(Cursor.getPredefinedCursor(Cursor.DEFAULT_CURSOR));"/>
<property name="uniqueID" value="MenuBar"/>
<property name="shortCutKey" value="D"/>
<property name="menuName" value="Delete"/>
<property name="shiftKeyStatus" value="false"/>
<property name="ctrlKeyStatus" value="false"/>
<property name="actionCommand" value="Delete"/>
<property name="type" value="menuItem"/>
<property name="altKeyStatus" value="true"/>
<property name="mnemonic" value="D"/>
<property name="parent" value="File"/>
</menu>
<menu>
<property name="source" value="System.exit(0);"/>
<property name="uniqueID" value="MenuBar"/>
<property name="shortCutKey" value="E"/>
<property name="menuName" value="Exit"/>
<property name="shiftKeyStatus" value="false"/>
<property name="ctrlKeyStatus" value="false"/>
<property name="actionCommand" value="Exit"/>
<property name="type" value="menuItem"/>
<property name="altKeyStatus" value="true"/>
<property name="mnemonic" value="E"/>
<property name="parent" value="File"/>
</menu>
<menu>
<property name="menuName" value="Help"/>
<property name="parent" value="top"/>
<property name="type" value="menu"/>
<property name="source" value=""/>
<property name="mnemonic" value="H"/>
<property name="uniqueID" value="MenuBar"/>
</menu>
<menu>
<property name="source" value="//Please add the action code for menu Here Help Contents"/>
<property name="uniqueID" value="MenuBar"/>
<property name="shortCutKey" value="H"/>
<property name="menuName" value="Help Contents"/>
<property name="shiftKeyStatus" value="false"/>
<property name="ctrlKeyStatus" value="false"/>
<property name="actionCommand" value="Help Contents"/>
<property name="type" value="menuItem"/>
<property name="altKeyStatus" value="true"/>
<property name="mnemonic" value="C"/>
<property name="parent" value="Help"/>
</menu>
<menu>
<property name="toolTip" value="Create New Custom View"/>
<property name="actionCommand" value="Create"/>
<property name="type" value="toolBar"/>
<property name="toolName" value="Create"/>
<property name="source" value=""/>
<property name="uniqueID" value="ToolBar"/>
<property name="actionOfMenuItem" value="Create"/>
<property name="iconName" value="./images/addcustom.png"/>
</menu>
<menu>
<property name="toolTip" value="Modify Custom View"/>
<property name="actionCommand" value="Modify"/>
<property name="type" value="toolBar"/>
<property name="toolName" value="Modify"/>
<property name="source" value=""/>
<property name="uniqueID" value="ToolBar"/>
<property name="actionOfMenuItem" value="Modify"/>
<property name="iconName" value="./images/modifycustom.png"/>
</menu>
<menu>
<property name="toolTip" value="Delete Custom View"/>
<property name="actionCommand" value="Delete"/>
<property name="type" value="toolBar"/>
<property name="toolName" value="Delete"/>
<property name="source" value=""/>
<property name="uniqueID" value="ToolBar"/>
<property name="actionOfMenuItem" value="Delete"/>
<property name="iconName" value="./images/removecustom.png"/>
</menu>
<menu>
<property name="toolTip" value="Exit"/>
<property name="actionCommand" value="Exit"/>
<property name="type" value="toolBar"/>
<property name="toolName" value="Exit"/>
<property name="source" value=""/>
<property name="uniqueID" value="ToolBar"/>
<property name="actionOfMenuItem" value="Exit"/>
<property name="iconName" value="./images/exit.jpg"/>
</menu>
<menu>
<property name="toolTip" value="Help"/>
<property name="actionCommand" value="Help Contents"/>
<property name="type" value="toolBar"/>
<property name="toolName" value="Help"/>
<property name="source" value=""/>
<property name="uniqueID" value="ToolBar"/>
<property name="actionOfMenuItem" value="Help Contents"/>
<property name="iconName" value="./images/help_mo.png"/>
</menu>
</screen>

