<?xml version="1.0" encoding="ISO-8859-1"?>
<screen>
<property name="Type" value="Dialog"/>
<property name="Version" value="4.2F"/>
<property name="Initialize Commands" value=""/>
<property name="Dummy Interface" value=""/>
<property name="Screen Width" value="526"/>
<property name="SubVersion" value="BeanBuilder_2.0"/>
<property name="Import Code" value=""/>
<property name="Variable Definitions" value=""/>
<property name="GenSource" value="true"/>
<property name="Screen Height" value="347"/>
<property name="HorizontalSplitPanePos" value="267.0"/>
<property name="ToolBarPresent" value="true"/>
<property name="Custom Code" value=""/>
<property name="screenTitle" value=""/>
<property name="Start Commands" value=""/>
<property name="LookAndFeel" value="None"/>
<property name="MenuBarPresent" value="true"/>
<bean>
<property name="InstanceName" value="Top"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Layout Manager" value="Border Layout"/>
<property name="Layout Constraints" value="Center"/>
<property name="Panel" value="container"/>
<property name="Layout Manager Constraints" value="5,5"/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JPanel();"/>
<property name="Layout Manager Constraints" value=""/>
<property name="ExtraCode" value=""/>
<property name="Layout Constraints" value="Center"/>
<property name="DefaultSize" value="453,306"/>
<property name="border" value="TitledBorder,[LineBorder,-16777216,1,false],null,0,0,Dialog+0+12,-16764109"/>
<property name="Layout Manager" value="GridBag Layout"/>
<property name="InstanceName" value="JPanel1"/>
<property name="PropertyOrder" value=",border,"/>
<property name="Bean Permissions" value="255"/>
<property name="Panel" value="Top"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JCheckBox();"/>
<property name="PopupMenu" value="none"/>
<property name="ExtraCode" value=""/>
<property name="font" value="SansSerif+0+12"/>
<property name="Layout Constraints" value="0,2,1,1,0,17,0,0,0.0,0.0,5,25,5,5"/>
<property name="DefaultSize" value="244,33"/>
<property name="InstanceName" value="userOnly"/>
<property name="PropertyOrder" value=",font,horizontalTextPosition,text,"/>
<property name="Bean Permissions" value="247"/>
<property name="Panel" value="JPanel1"/>
<property name="ClassName" value="javax.swing.JCheckBox"/>
<property name="horizontalTextPosition" value="4"/>
<property name="text" value=" this user only"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JCheckBox();"/>
<property name="ExtraCode" value=""/>
<property name="font" value="SansSerif+0+12"/>
<property name="Layout Constraints" value="0,3,1,1,0,17,0,0,0.0,0.0,5,25,5,5"/>
<property name="DefaultSize" value="405,33"/>
<property name="InstanceName" value="allGroups"/>
<property name="PropertyOrder" value=",font,horizontalTextPosition,text,"/>
<property name="Bean Permissions" value="247"/>
<property name="Panel" value="JPanel1"/>
<property name="ClassName" value="javax.swing.JCheckBox"/>
<property name="horizontalTextPosition" value="4"/>
<property name="text" value="all the groups to which the user belongs"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JLabel();"/>
<property name="ExtraCode" value=""/>
<property name="font" value="SansSerif+0+12"/>
<property name="Layout Constraints" value="0,1,1,1,0,17,0,0,0.0,0.0,15,5,5,5"/>
<property name="DefaultSize" value="152,25"/>
<property name="InstanceName" value="JLabel1"/>
<property name="PropertyOrder" value=",horizontalAlignment,font,foreground,horizontalTextPosition,text,"/>
<property name="Bean Permissions" value="247"/>
<property name="foreground" value="-16777216"/>
<property name="Panel" value="JPanel1"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="horizontalTextPosition" value="4"/>
<property name="text" value="Delete the customview  for"/>
<property name="horizontalAlignment" value="2"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JCheckBox();"/>
<property name="ExtraCode" value=""/>
<property name="font" value="SansSerif+0+12"/>
<property name="Layout Constraints" value="0,4,1,1,0,17,0,0,0.0,0.0,5,25,5,5"/>
<property name="DefaultSize" value="307,33"/>
<property name="InstanceName" value="particularGroup"/>
<property name="PropertyOrder" value=",font,horizontalTextPosition,text,"/>
<property name="Bean Permissions" value="247"/>
<property name="Panel" value="JPanel1"/>
<property name="ClassName" value="javax.swing.JCheckBox"/>
<property name="horizontalTextPosition" value="4"/>
<property name="text" value="any particular group to which the user belongs"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JScrollPane();"/>
<property name="Layout Manager Constraints" value=""/>
<property name="ExtraCode" value=""/>
<property name="Layout Constraints" value="0,5,0,1,1,10,0,0,0.1,0.1,5,5,5,5"/>
<property name="DefaultSize" value="30,30"/>
<property name="Layout Manager" value="Viewport Layout"/>
<property name="InstanceName" value="JScrollPane1"/>
<property name="Bean Permissions" value="255"/>
<property name="Panel" value="JPanel1"/>
<property name="ClassName" value="javax.swing.JScrollPane"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Bean Permissions" value="247"/>
<property name="InstanceName" value="JTable1"/>
<property name="DefaultSize" value="20,20"/>
<property name="Modifiers" value=""/>
<property name="ExtraCode" value=""/>
<property name="ClassName" value="javax.swing.JTable"/>
<property name="Panel" value="JScrollPane1"/>
<property name="Initializer" value="new javax.swing.JTable();"/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JCheckBox();"/>
<property name="ExtraCode" value=""/>
<property name="font" value="SansSerif+0+12"/>
<property name="Layout Constraints" value="0,0,1,1,0,17,0,0,0.0,0.0,20,5,5,5"/>
<property name="DefaultSize" value="333,33"/>
<property name="selected" value="false"/>
<property name="InstanceName" value="deleteAllChilds"/>
<property name="PropertyOrder" value=",font,horizontalTextPosition,selected,text,"/>
<property name="Bean Permissions" value="247"/>
<property name="Panel" value="JPanel1"/>
<property name="ClassName" value="javax.swing.JCheckBox"/>
<property name="horizontalTextPosition" value="4"/>
<property name="text" value="Delete all the childrens present under this custom view"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JPanel();"/>
<property name="Layout Manager Constraints" value="5,5,1"/>
<property name="ExtraCode" value=""/>
<property name="Layout Constraints" value="South"/>
<property name="DefaultSize" value="180,54"/>
<property name="Layout Manager" value="Flow Layout"/>
<property name="InstanceName" value="JPanel2"/>
<property name="Bean Permissions" value="255"/>
<property name="Panel" value="Top"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JButton();"/>
<property name="ExtraCode" value=""/>
<property name="font" value="SansSerif+0+12"/>
<property name="Layout Constraints" value="0"/>
<property name="DefaultSize" value="76,36"/>
<property name="PaddingSize" value="17,1"/>
<property name="InstanceName" value="ok"/>
<property name="PropertyOrder" value=",font,horizontalTextPosition,text,"/>
<property name="Bean Permissions" value="247"/>
<property name="Panel" value="JPanel2"/>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="horizontalTextPosition" value="4"/>
<property name="text" value="OK"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JButton();"/>
<property name="ExtraCode" value=""/>
<property name="font" value="SansSerif+0+12"/>
<property name="Layout Constraints" value="1"/>
<property name="DefaultSize" value="81,35"/>
<property name="InstanceName" value="cancel"/>
<property name="PropertyOrder" value=",font,horizontalTextPosition,text,"/>
<property name="Bean Permissions" value="247"/>
<property name="Panel" value="JPanel2"/>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="horizontalTextPosition" value="4"/>
<property name="text" value="Cancel"/>
<property name="Modifiers" value=""/>
</bean>
</screen>

