<?xml version="1.0" encoding="ISO-8859-1"?>
<screen>
<property name="Type" value="Panel"/>
<property name="Version" value="4.2F"/>
<property name="Initialize Commands" value=""/>
<property name="Dummy Interface" value=""/>
<property name="Screen Width" value="501"/>
<property name="SubVersion" value="BeanBuilder_2.0"/>
<property name="Import Code" value=""/>
<property name="Variable Definitions" value=""/>
<property name="GenSource" value="true"/>
<property name="Screen Height" value="569"/>
<property name="HorizontalSplitPanePos" value="198.0"/>
<property name="ToolBarPresent" value="true"/>
<property name="Custom Code" value=""/>
<property name="screenTitle" value=""/>
<property name="Start Commands" value=""/>
<property name="LookAndFeel" value="None"/>
<property name="MenuBarPresent" value="false"/>
<bean>
<property name="Layout Manager Constraints" value="5,5"/>
<property name="ExtraCode" value=""/>
<property name="Layout Constraints" value="Center"/>
<property name="border" value="TitledBorder,[LineBorder,-16777216,1,false],MO Properties,0,0,Dialog+0+12,-16764109"/>
<property name="Layout Manager" value="Border Layout"/>
<property name="InstanceName" value="Top"/>
<property name="PropertyOrder" value=",border,"/>
<property name="Panel" value="container"/>
<property name="ClassName" value="javax.swing.JPanel"/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JPanel();"/>
<property name="PopupMenu" value="none"/>
<property name="Layout Manager Constraints" value=""/>
<property name="ExtraCode" value=""/>
<property name="Layout Constraints" value="Center"/>
<property name="DefaultSize" value="504,553"/>
<property name="Layout Manager" value="GridBag Layout"/>
<property name="InstanceName" value="JPanel1"/>
<property name="Bean Permissions" value="255"/>
<property name="Panel" value="Top"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JLabel();"/>
<property name="ExtraCode" value=""/>
<property name="font" value="SansSerif+0+12"/>
<property name="Layout Constraints" value="0,0,1,1,1,17,0,0,0.0,0.0,15,5,5,5"/>
<property name="DefaultSize" value="129,25"/>
<property name="InstanceName" value="lfilterViewName"/>
<property name="PropertyOrder" value=",horizontalAlignment,font,foreground,horizontalTextPosition,text,"/>
<property name="Bean Permissions" value="247"/>
<property name="foreground" value="-16777216"/>
<property name="Panel" value="JPanel1"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="horizontalTextPosition" value="4"/>
<property name="text" value="Custom View Name"/>
<property name="horizontalAlignment" value="2"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JLabel();"/>
<property name="ExtraCode" value=""/>
<property name="font" value="SansSerif+0+12"/>
<property name="Layout Constraints" value="0,1,1,1,1,17,0,0,0.0,0.0,5,5,5,5"/>
<property name="DefaultSize" value="57,25"/>
<property name="InstanceName" value="lSeverity"/>
<property name="PropertyOrder" value=",horizontalAlignment,font,foreground,horizontalTextPosition,text,"/>
<property name="Bean Permissions" value="247"/>
<property name="foreground" value="-16777216"/>
<property name="Panel" value="JPanel1"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="horizontalTextPosition" value="4"/>
<property name="text" value="Severity"/>
<property name="horizontalAlignment" value="2"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JComboBox();"/>
<property name="ExtraCode" value=""/>
<property name="editable" value="true"/>
<property name="font" value="SansSerif+0+12"/>
<property name="Layout Constraints" value="1,1,0,1,1,10,0,0,0.1,0.0,5,5,5,5"/>
<property name="DefaultSize" value="134,34"/>
<property name="InstanceName" value="cSeverity"/>
<property name="PropertyOrder" value=",font,editable,"/>
<property name="Bean Permissions" value="247"/>
<property name="Panel" value="JPanel1"/>
<property name="ClassName" value="javax.swing.JComboBox"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JLabel();"/>
<property name="ExtraCode" value=""/>
<property name="font" value="SansSerif+0+12"/>
<property name="Layout Constraints" value="0,2,1,1,1,17,0,0,0.0,0.0,5,5,5,5"/>
<property name="DefaultSize" value="62,25"/>
<property name="InstanceName" value="lMessage"/>
<property name="PropertyOrder" value=",horizontalAlignment,font,foreground,horizontalTextPosition,text,"/>
<property name="Bean Permissions" value="247"/>
<property name="foreground" value="-16777216"/>
<property name="Panel" value="JPanel1"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="horizontalTextPosition" value="4"/>
<property name="text" value="Message"/>
<property name="horizontalAlignment" value="2"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JLabel();"/>
<property name="ExtraCode" value=""/>
<property name="font" value="SansSerif+0+12"/>
<property name="Layout Constraints" value="0,3,1,1,1,17,0,0,0.0,0.0,5,5,5,5"/>
<property name="DefaultSize" value="64,25"/>
<property name="InstanceName" value="lCategory"/>
<property name="PropertyOrder" value=",horizontalAlignment,font,foreground,horizontalTextPosition,text,"/>
<property name="Bean Permissions" value="247"/>
<property name="foreground" value="-16777216"/>
<property name="Panel" value="JPanel1"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="horizontalTextPosition" value="4"/>
<property name="text" value="Category"/>
<property name="horizontalAlignment" value="2"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JTextField();"/>
<property name="ExtraCode" value=""/>
<property name="font" value="SansSerif+0+12"/>
<property name="Layout Constraints" value="1,3,0,1,1,10,0,0,0.1,0.0,5,5,5,5"/>
<property name="DefaultSize" value="20,29"/>
<property name="InstanceName" value="tCategory"/>
<property name="PropertyOrder" value=",horizontalAlignment,font,"/>
<property name="Bean Permissions" value="247"/>
<property name="Panel" value="JPanel1"/>
<property name="ClassName" value="javax.swing.JTextField"/>
<property name="horizontalAlignment" value="2"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JLabel();"/>
<property name="ExtraCode" value=""/>
<property name="font" value="SansSerif+0+12"/>
<property name="Layout Constraints" value="0,4,1,1,1,17,0,0,0.0,0.0,5,5,5,5"/>
<property name="DefaultSize" value="56,25"/>
<property name="InstanceName" value="lDomain"/>
<property name="PropertyOrder" value=",horizontalAlignment,font,foreground,horizontalTextPosition,text,"/>
<property name="Bean Permissions" value="247"/>
<property name="foreground" value="-16777216"/>
<property name="Panel" value="JPanel1"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="horizontalTextPosition" value="4"/>
<property name="text" value="Domain"/>
<property name="horizontalAlignment" value="2"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JLabel();"/>
<property name="ExtraCode" value=""/>
<property name="font" value="SansSerif+0+12"/>
<property name="Layout Constraints" value="0,5,1,1,1,17,0,0,0.0,0.0,5,5,5,5"/>
<property name="DefaultSize" value="60,25"/>
<property name="InstanceName" value="lNetwork"/>
<property name="PropertyOrder" value=",horizontalAlignment,font,foreground,horizontalTextPosition,text,"/>
<property name="Bean Permissions" value="247"/>
<property name="foreground" value="-16777216"/>
<property name="Panel" value="JPanel1"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="horizontalTextPosition" value="4"/>
<property name="text" value="Network"/>
<property name="horizontalAlignment" value="2"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JLabel();"/>
<property name="ExtraCode" value=""/>
<property name="font" value="SansSerif+0+12"/>
<property name="Layout Constraints" value="0,6,1,1,1,17,0,0,0.0,0.0,5,5,5,5"/>
<property name="DefaultSize" value="40,25"/>
<property name="InstanceName" value="lNode"/>
<property name="PropertyOrder" value=",horizontalAlignment,font,foreground,horizontalTextPosition,text,"/>
<property name="Bean Permissions" value="247"/>
<property name="foreground" value="-16777216"/>
<property name="Panel" value="JPanel1"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="horizontalTextPosition" value="4"/>
<property name="text" value="Node"/>
<property name="horizontalAlignment" value="2"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JTextField();"/>
<property name="ExtraCode" value=""/>
<property name="font" value="SansSerif+0+12"/>
<property name="Layout Constraints" value="1,6,0,1,1,10,0,0,0.1,0.0,5,5,5,5"/>
<property name="DefaultSize" value="20,29"/>
<property name="InstanceName" value="tNode"/>
<property name="PropertyOrder" value=",horizontalAlignment,font,"/>
<property name="Bean Permissions" value="247"/>
<property name="Panel" value="JPanel1"/>
<property name="ClassName" value="javax.swing.JTextField"/>
<property name="horizontalAlignment" value="2"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JLabel();"/>
<property name="ExtraCode" value=""/>
<property name="font" value="SansSerif+0+12"/>
<property name="Layout Constraints" value="0,7,1,1,1,17,0,0,0.0,0.0,5,5,5,5"/>
<property name="DefaultSize" value="90,25"/>
<property name="InstanceName" value="lFailedObject"/>
<property name="PropertyOrder" value=",horizontalAlignment,font,foreground,horizontalTextPosition,text,"/>
<property name="Bean Permissions" value="247"/>
<property name="foreground" value="-16777216"/>
<property name="Panel" value="JPanel1"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="horizontalTextPosition" value="4"/>
<property name="text" value="Failed Object"/>
<property name="horizontalAlignment" value="2"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JTextField();"/>
<property name="ExtraCode" value=""/>
<property name="font" value="SansSerif+0+12"/>
<property name="Layout Constraints" value="1,7,0,1,1,10,0,0,0.1,0.0,5,5,5,5"/>
<property name="DefaultSize" value="20,29"/>
<property name="InstanceName" value="tFailedObject"/>
<property name="PropertyOrder" value=",horizontalAlignment,font,"/>
<property name="Bean Permissions" value="247"/>
<property name="Panel" value="JPanel1"/>
<property name="ClassName" value="javax.swing.JTextField"/>
<property name="horizontalAlignment" value="2"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JLabel();"/>
<property name="ExtraCode" value=""/>
<property name="font" value="SansSerif+0+12"/>
<property name="Layout Constraints" value="0,8,1,1,1,17,0,0,0.0,0.0,5,5,5,5"/>
<property name="DefaultSize" value="50,25"/>
<property name="InstanceName" value="lSource"/>
<property name="PropertyOrder" value=",horizontalAlignment,font,foreground,horizontalTextPosition,text,"/>
<property name="Bean Permissions" value="247"/>
<property name="foreground" value="-16777216"/>
<property name="Panel" value="JPanel1"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="horizontalTextPosition" value="4"/>
<property name="text" value="Source"/>
<property name="horizontalAlignment" value="2"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JLabel();"/>
<property name="ExtraCode" value=""/>
<property name="font" value="SansSerif+0+12"/>
<property name="Layout Constraints" value="0,9,1,1,1,17,0,0,0.0,0.0,5,5,5,5"/>
<property name="DefaultSize" value="110,25"/>
<property name="InstanceName" value="lFromDate"/>
<property name="PropertyOrder" value=",horizontalAlignment,font,foreground,horizontalTextPosition,text,"/>
<property name="Bean Permissions" value="247"/>
<property name="foreground" value="-16777216"/>
<property name="Panel" value="JPanel1"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="horizontalTextPosition" value="4"/>
<property name="text" value="From Date/Time"/>
<property name="horizontalAlignment" value="2"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JLabel();"/>
<property name="ExtraCode" value=""/>
<property name="font" value="SansSerif+0+12"/>
<property name="Layout Constraints" value="0,10,1,1,1,17,0,0,0.0,0.0,5,5,5,5"/>
<property name="DefaultSize" value="94,25"/>
<property name="InstanceName" value="lToDate"/>
<property name="PropertyOrder" value=",horizontalAlignment,font,foreground,horizontalTextPosition,text,"/>
<property name="Bean Permissions" value="247"/>
<property name="foreground" value="-16777216"/>
<property name="Panel" value="JPanel1"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="horizontalTextPosition" value="4"/>
<property name="text" value="To Date/Time"/>
<property name="horizontalAlignment" value="2"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JTextField();"/>
<property name="ExtraCode" value=""/>
<property name="font" value="SansSerif+0+12"/>
<property name="Layout Constraints" value="1,5,0,1,1,10,0,0,0.1,0.0,5,5,5,5"/>
<property name="DefaultSize" value="20,29"/>
<property name="InstanceName" value="tNetwork"/>
<property name="PropertyOrder" value=",horizontalAlignment,font,"/>
<property name="Bean Permissions" value="247"/>
<property name="Panel" value="JPanel1"/>
<property name="ClassName" value="javax.swing.JTextField"/>
<property name="horizontalAlignment" value="2"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JTextField();"/>
<property name="ExtraCode" value=""/>
<property name="font" value="SansSerif+0+12"/>
<property name="Layout Constraints" value="1,0,0,1,1,10,0,0,0.1,0.0,15,5,5,5"/>
<property name="DefaultSize" value="20,29"/>
<property name="InstanceName" value="tfilterViewName"/>
<property name="PropertyOrder" value=",horizontalAlignment,font,"/>
<property name="Bean Permissions" value="247"/>
<property name="Panel" value="JPanel1"/>
<property name="ClassName" value="javax.swing.JTextField"/>
<property name="horizontalAlignment" value="2"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JTextField();"/>
<property name="ExtraCode" value=""/>
<property name="font" value="SansSerif+0+12"/>
<property name="Layout Constraints" value="1,2,0,1,1,10,0,0,0.1,0.0,5,5,5,5"/>
<property name="DefaultSize" value="20,29"/>
<property name="InstanceName" value="tMessage"/>
<property name="PropertyOrder" value=",horizontalAlignment,font,"/>
<property name="Bean Permissions" value="247"/>
<property name="Panel" value="JPanel1"/>
<property name="ClassName" value="javax.swing.JTextField"/>
<property name="horizontalAlignment" value="2"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JTextField();"/>
<property name="ExtraCode" value=""/>
<property name="font" value="SansSerif+0+12"/>
<property name="Layout Constraints" value="1,4,0,1,1,10,0,0,0.1,0.0,5,5,5,5"/>
<property name="DefaultSize" value="20,29"/>
<property name="InstanceName" value="tDomain"/>
<property name="PropertyOrder" value=",horizontalAlignment,font,"/>
<property name="Bean Permissions" value="247"/>
<property name="Panel" value="JPanel1"/>
<property name="ClassName" value="javax.swing.JTextField"/>
<property name="horizontalAlignment" value="2"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new com.adventnet.nms.util.DateTimeComponent();"/>
<property name="PopupMenu" value="none"/>
<property name="ExtraCode" value=""/>
<property name="font" value="SansSerif+0+12"/>
<property name="Layout Constraints" value="1,10,0,1,1,10,0,0,0.1,0.0,5,5,5,5"/>
<property name="DefaultSize" value="160,38"/>
<property name="InstanceName" value="tToDate"/>
<property name="PropertyOrder" value=",font,"/>
<property name="Bean Permissions" value="247"/>
<property name="Panel" value="JPanel1"/>
<property name="ClassName" value="com.adventnet.nms.util.DateTimeComponent"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JTextField();"/>
<property name="ExtraCode" value=""/>
<property name="font" value="SansSerif+0+12"/>
<property name="Layout Constraints" value="1,8,0,1,1,10,0,0,0.1,0.0,5,5,5,5"/>
<property name="DefaultSize" value="20,29"/>
<property name="InstanceName" value="tSource"/>
<property name="PropertyOrder" value=",horizontalAlignment,font,"/>
<property name="Bean Permissions" value="247"/>
<property name="Panel" value="JPanel1"/>
<property name="ClassName" value="javax.swing.JTextField"/>
<property name="horizontalAlignment" value="2"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JLabel();"/>
<property name="ExtraCode" value=""/>
<property name="font" value="SansSerif+0+12"/>
<property name="Layout Constraints" value="0,11,1,1,1,17,0,0,0.0,0.0,5,5,5,5"/>
<property name="DefaultSize" value="70,25"/>
<property name="InstanceName" value="lEventAge"/>
<property name="PropertyOrder" value=",horizontalAlignment,font,foreground,horizontalTextPosition,text,"/>
<property name="Bean Permissions" value="247"/>
<property name="foreground" value="-16777216"/>
<property name="Panel" value="JPanel1"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="horizontalTextPosition" value="4"/>
<property name="text" value="Event Age"/>
<property name="horizontalAlignment" value="2"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JComboBox();"/>
<property name="ExtraCode" value=""/>
<property name="maximumSize" value="161,22"/>
<property name="font" value="SansSerif+0+12"/>
<property name="Layout Constraints" value="1,11,1,1,1,10,0,0,0.0,0.0,5,5,5,5"/>
<property name="minimumSize" value="161,22"/>
<property name="DefaultSize" value="169,30"/>
<property name="InstanceName" value="cEventAge"/>
<property name="PropertyOrder" value=",font,maximumSize,minimumSize,preferredSize,"/>
<property name="Bean Permissions" value="247"/>
<property name="preferredSize" value="161,22"/>
<property name="Panel" value="JPanel1"/>
<property name="ClassName" value="javax.swing.JComboBox"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JComboBox();"/>
<property name="ExtraCode" value=""/>
<property name="font" value="SansSerif+0+12"/>
<property name="Layout Constraints" value="2,11,1,1,1,17,0,0,0.0,0.0,5,5,5,5"/>
<property name="DefaultSize" value="134,34"/>
<property name="InstanceName" value="cEventPeriod"/>
<property name="PropertyOrder" value=",font,"/>
<property name="Bean Permissions" value="247"/>
<property name="Panel" value="JPanel1"/>
<property name="ClassName" value="javax.swing.JComboBox"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JTextField();"/>
<property name="ExtraCode" value=""/>
<property name="font" value="SansSerif+0+12"/>
<property name="Layout Constraints" value="3,11,0,1,1,17,0,0,0.0,0.0,5,5,5,5"/>
<property name="DefaultSize" value="20,29"/>
<property name="InstanceName" value="tEventPeriod"/>
<property name="PropertyOrder" value=",horizontalAlignment,font,"/>
<property name="Bean Permissions" value="247"/>
<property name="Panel" value="JPanel1"/>
<property name="ClassName" value="javax.swing.JTextField"/>
<property name="horizontalAlignment" value="2"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JLabel();"/>
<property name="ExtraCode" value=""/>
<property name="font" value="SansSerif+0+12"/>
<property name="Layout Constraints" value="1,12,1,1,1,17,0,0,0.0,0.0,5,5,5,5"/>
<property name="DefaultSize" value="169,25"/>
<property name="InstanceName" value="lRefreshPeriod"/>
<property name="PropertyOrder" value=",horizontalAlignment,font,foreground,horizontalTextPosition,text,"/>
<property name="Bean Permissions" value="247"/>
<property name="foreground" value="-16777216"/>
<property name="Panel" value="JPanel1"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="horizontalTextPosition" value="4"/>
<property name="text" value="Refresh Period in minutes"/>
<property name="horizontalAlignment" value="2"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JTextField();"/>
<property name="ExtraCode" value=""/>
<property name="font" value="SansSerif+0+12"/>
<property name="Layout Constraints" value="3,12,1,1,1,17,0,0,0.0,0.0,5,5,5,5"/>
<property name="DefaultSize" value="20,29"/>
<property name="InstanceName" value="tRefreshPeriod"/>
<property name="PropertyOrder" value=",horizontalAlignment,font,"/>
<property name="Bean Permissions" value="247"/>
<property name="Panel" value="JPanel1"/>
<property name="ClassName" value="javax.swing.JTextField"/>
<property name="horizontalAlignment" value="2"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new com.adventnet.nms.util.DateTimeComponent();"/>
<property name="PopupMenu" value="none"/>
<property name="ExtraCode" value=""/>
<property name="font" value="SansSerif+0+12"/>
<property name="Layout Constraints" value="1,9,0,1,1,10,0,0,0.1,0.0,5,5,5,5"/>
<property name="DefaultSize" value="160,38"/>
<property name="InstanceName" value="tFromDate"/>
<property name="PropertyOrder" value=",font,"/>
<property name="Bean Permissions" value="247"/>
<property name="Panel" value="JPanel1"/>
<property name="ClassName" value="com.adventnet.nms.util.DateTimeComponent"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JPanel();"/>
<property name="Layout Manager Constraints" value="5,5,1"/>
<property name="ExtraCode" value=""/>
<property name="Layout Constraints" value="South"/>
<property name="DefaultSize" value="345,53"/>
<property name="Layout Manager" value="Flow Layout"/>
<property name="InstanceName" value="JPanel2"/>
<property name="Bean Permissions" value="255"/>
<property name="Panel" value="Top"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Modifiers" value=""/>
<property name="preferredSize" value="130,25"/>
<property name="minimumSize" value="130,25"/>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="PropertyOrder" value=",font,horizontalTextPosition,border,preferredSize,maximumSize,minimumSize,text,"/>
<property name="DefaultSize" value="161,35"/>
<property name="text" value="Select Properties To View"/>
<property name="Initializer" value="new javax.swing.JButton();"/>
<property name="font" value="SansSerif+0+12"/>
<property name="InstanceName" value="bSelectProps"/>
<property name="border" value="BevelBorder,0,null,null,null,null"/>
<property name="maximumSize" value="130,25"/>
<property name="Panel" value="JPanel2"/>
<property name="horizontalTextPosition" value="4"/>
<property name="ExtraCode" value=""/>
<property name="Layout Constraints" value="0"/>
<property name="PaddingSize" value="23,2"/>
<property name="Bean Permissions" value="247"/>
</bean>
<bean>
<property name="Modifiers" value=""/>
<property name="preferredSize" value="130,25"/>
<property name="minimumSize" value="130,25"/>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="PropertyOrder" value=",font,horizontalTextPosition,text,border,maximumSize,minimumSize,preferredSize,"/>
<property name="DefaultSize" value="161,35"/>
<property name="text" value="Additonal Criteria"/>
<property name="Initializer" value="new javax.swing.JButton();"/>
<property name="font" value="SansSerif+0+12"/>
<property name="InstanceName" value="bAdditionalProps"/>
<property name="border" value="BevelBorder,0,null,null,null,null"/>
<property name="maximumSize" value="130,25"/>
<property name="Panel" value="JPanel2"/>
<property name="horizontalTextPosition" value="4"/>
<property name="ExtraCode" value=""/>
<property name="Layout Constraints" value="1"/>
<property name="PaddingSize" value="23,2"/>
<property name="Bean Permissions" value="247"/>
</bean>
</screen>

