<?xml version="1.0" encoding="ISO-8859-1"?>
<screen>
<property name="Type" value="Panel"/>
<property name="Version" value="4.2F"/>
<property name="Initialize Commands" value=""/>
<property name="Dummy Interface" value=""/>
<property name="Screen Width" value="823"/>
<property name="SubVersion" value="BeanBuilder_2.0"/>
<property name="Import Code" value=""/>
<property name="Variable Definitions" value=""/>
<property name="GenSource" value="false"/>
<property name="Screen Height" value="502"/>
<property name="HorizontalSplitPanePos" value="170.0"/>
<property name="ToolBarPresent" value="true"/>
<property name="Custom Code" value=""/>
<property name="screenTitle" value=""/>
<property name="Start Commands" value=""/>
<property name="LookAndFeel" value="None"/>
<property name="MenuBarPresent" value="false"/>
<bean>
<property name="Layout Manager Constraints" value="5,5"/>
<property name="ExtraCode" value=""/>
<property name="Layout Constraints" value="Center"/>
<property name="border" value="TitledBorder,[LineBorder,-16777216,1,false],CustomView Details,0,0,Dialog+0+12,-16764109"/>
<property name="Layout Manager" value="Border Layout"/>
<property name="InstanceName" value="Top"/>
<property name="PropertyOrder" value=",border,"/>
<property name="Panel" value="container"/>
<property name="ClassName" value="javax.swing.JPanel"/>
</bean>
<bean>
<property name="background" value="-3355444"/>
<property name="Initializer" value="new javax.swing.JTextArea();"/>
<property name="ExtraCode" value=""/>
<property name="Layout Constraints" value="Center"/>
<property name="DefaultSize" value="20,29"/>
<property name="border" value="EtchedBorder,0,null,null"/>
<property name="InstanceName" value="listText"/>
<property name="PropertyOrder" value=",wrapStyleWord,background,border,"/>
<property name="Bean Permissions" value="247"/>
<property name="wrapStyleWord" value="true"/>
<property name="Panel" value="Top"/>
<property name="ClassName" value="javax.swing.JTextArea"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="background" value="-3355444"/>
<property name="Initializer" value="new javax.swing.JTextArea();"/>
<property name="ExtraCode" value=""/>
<property name="Layout Constraints" value="North"/>
<property name="DefaultSize" value="20,29"/>
<property name="border" value="EtchedBorder,0,null,null"/>
<property name="InstanceName" value="descrText"/>
<property name="PropertyOrder" value=",wrapStyleWord,background,border,"/>
<property name="Bean Permissions" value="247"/>
<property name="wrapStyleWord" value="true"/>
<property name="Panel" value="Top"/>
<property name="ClassName" value="javax.swing.JTextArea"/>
<property name="Modifiers" value=""/>
</bean>
</screen>

