<?xml version="1.0" encoding="UTF-8"?>
<screen conversionType="Hash">
<property name="Screen Width" value="828"/>
<property name="Initialize Commands" value=""/>
<property name="screenTitle" value="Main UI"/>
<bean>
<property name="InstanceName" value="Top"/>
<property name="UserCode_Bean_components" value="Bean_components"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Layout Manager" value="GridBag Layout"/>
<property name="Layout Constraints" value="Center"/>
<property name="Panel" value="container"/>
<property name="Layout Manager Constraints" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Manager Constraints" value=""/>
<property name="Layout Constraints" value="0,0,1,1,2,10,0,0,0.1,0.0,5,5,5,5"/>
<property name="DefaultSize" value="971,74"/>
<property name="border" value="EtchedBorder,1,null,null"/>
<property name="Layout Manager" value="GridBag Layout"/>
<property name="UserCode_Bean_JPanel1" value="Bean_JPanel1"/>
<property name="InstanceName" value="JPanel1"/>
<property name="PropertyOrder" value=",border,"/>
<property name="Bean Permissions" value="255"/>
<property name="Panel" value="Top"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="UserCode_Bean_JLabel5" value="Bean_JLabel5"/>
<property name="Layout Constraints" value="0,0,1,1,0,10,0,0,0.1,0.0,5,0,5,10"/>
<property name="DefaultSize" value="133,25"/>
<property name="InstanceName" value="JLabel5"/>
<property name="PropertyOrder" value=",text,"/>
<property name="Bean Permissions" value="247"/>
<property name="Panel" value="JPanel1"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="text" value="Batch Configuration"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Constraints" value="1,0,1,1,0,10,0,0,0.0,0.0,5,0,5,5"/>
<property name="DefaultSize" value="40,25"/>
<property name="UserCode_Bean_JLabel1" value="Bean_JLabel1"/>
<property name="InstanceName" value="JLabel1"/>
<property name="PropertyOrder" value=",text,"/>
<property name="Bean Permissions" value="247"/>
<property name="Panel" value="JPanel1"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="text" value="Total"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="maximumSize" value="50,20"/>
<property name="editable" value="false"/>
<property name="Layout Constraints" value="2,0,1,1,0,10,0,0,0.0,0.0,5,0,5,10"/>
<property name="minimumSize" value="50,20"/>
<property name="DefaultSize" value="58,29"/>
<property name="InstanceName" value="taskCountText"/>
<property name="PropertyOrder" value=",editable,text,preferredSize,maximumSize,minimumSize,"/>
<property name="Bean Permissions" value="247"/>
<property name="preferredSize" value="50,20"/>
<property name="Panel" value="JPanel1"/>
<property name="ClassName" value="javax.swing.JTextField"/>
<property name="text" value=""/>
<property name="UserCode_Bean_taskCountText" value="Bean_taskCountText"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Constraints" value="3,0,1,1,0,10,0,0,0.0,0.0,5,0,5,5"/>
<property name="DefaultSize" value="83,25"/>
<property name="UserCode_Bean_JLabel2" value="Bean_JLabel2"/>
<property name="InstanceName" value="JLabel2"/>
<property name="PropertyOrder" value=",text,"/>
<property name="Bean Permissions" value="247"/>
<property name="Panel" value="JPanel1"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="text" value="Displaying  "/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="maximumSize" value="50,20"/>
<property name="Layout Constraints" value="4,0,1,1,0,10,0,0,0.0,0.0,5,0,5,0"/>
<property name="minimumSize" value="50,20"/>
<property name="DefaultSize" value="58,33"/>
<property name="InstanceName" value="fromText"/>
<property name="PropertyOrder" value=",horizontalAlignment,maximumSize,minimumSize,preferredSize,"/>
<property name="UserCode_Bean_fromText" value="Bean_fromText"/>
<property name="Bean Permissions" value="247"/>
<property name="preferredSize" value="50,20"/>
<property name="Panel" value="JPanel1"/>
<property name="ClassName" value="javax.swing.JTextField"/>
<property name="horizontalAlignment" value="0"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Constraints" value="5,0,1,1,0,10,0,0,0.0,0.0,5,0,5,0"/>
<property name="UserCode_Bean_JLabel3" value="Bean_JLabel3"/>
<property name="DefaultSize" value="53,25"/>
<property name="InstanceName" value="JLabel3"/>
<property name="PropertyOrder" value=",text,"/>
<property name="Bean Permissions" value="247"/>
<property name="Panel" value="JPanel1"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="text" value="    to    "/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="PopupMenu" value="none"/>
<property name="maximumSize" value="50,20"/>
<property name="Layout Constraints" value="6,0,1,1,0,10,0,0,0.0,0.0,5,0,5,5"/>
<property name="minimumSize" value="50,20"/>
<property name="DefaultSize" value="58,33"/>
<property name="UserCode_Bean_toText" value="Bean_toText"/>
<property name="InstanceName" value="toText"/>
<property name="PropertyOrder" value=",horizontalAlignment,preferredSize,maximumSize,minimumSize,"/>
<property name="Bean Permissions" value="247"/>
<property name="preferredSize" value="50,20"/>
<property name="Panel" value="JPanel1"/>
<property name="ClassName" value="javax.swing.JTextField"/>
<property name="horizontalAlignment" value="0"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="UserCode_Bean_JLabel4" value="Bean_JLabel4"/>
<property name="Layout Constraints" value="7,0,1,1,0,10,0,0,0.0,0.0,5,0,5,5"/>
<property name="DefaultSize" value="96,25"/>
<property name="InstanceName" value="JLabel4"/>
<property name="PropertyOrder" value=",text,"/>
<property name="Bean Permissions" value="247"/>
<property name="Panel" value="JPanel1"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="text" value="Page Length   "/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="UserCode_Bean_pageLengthCombo" value="Bean_pageLengthCombo"/>
<property name="Initializer" value=""/>
<property name="maximumSize" value="55,20"/>
<property name="Layout Constraints" value="8,0,1,1,0,10,0,0,0.0,0.0,5,0,5,10"/>
<property name="minimumSize" value="55,20"/>
<property name="DefaultSize" value="73,33"/>
<property name="InstanceName" value="pageLengthCombo"/>
<property name="PropertyOrder" value=",preferredSize,minimumSize,maximumSize,"/>
<property name="Bean Permissions" value="247"/>
<property name="preferredSize" value="55,20"/>
<property name="Panel" value="JPanel1"/>
<property name="ClassName" value="javax.swing.JComboBox"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="PopupMenu" value="none"/>
<property name="maximumSize" value="30,20"/>
<property name="Layout Constraints" value="9,0,1,1,0,10,0,0,0.0,0.0,5,0,5,5"/>
<property name="minimumSize" value="30,20"/>
<property name="DefaultSize" value="38,28"/>
<property name="InstanceName" value="homeButton"/>
<property name="PropertyOrder" value=",maximumSize,minimumSize,preferredSize,"/>
<property name="Bean Permissions" value="247"/>
<property name="preferredSize" value="30,20"/>
<property name="UserCode_Bean_homeButton" value="Bean_homeButton"/>
<property name="Panel" value="JPanel1"/>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="maximumSize" value="30,20"/>
<property name="Layout Constraints" value="10,0,1,1,0,10,0,0,0.0,0.0,5,0,5,5"/>
<property name="minimumSize" value="30,20"/>
<property name="DefaultSize" value="38,28"/>
<property name="InstanceName" value="previousButton"/>
<property name="PropertyOrder" value=",maximumSize,minimumSize,preferredSize,"/>
<property name="Bean Permissions" value="247"/>
<property name="preferredSize" value="30,20"/>
<property name="Panel" value="JPanel1"/>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="UserCode_Bean_previousButton" value="Bean_previousButton"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="maximumSize" value="30,20"/>
<property name="Layout Constraints" value="11,0,1,1,0,10,0,0,0.0,0.0,5,0,5,5"/>
<property name="minimumSize" value="30,20"/>
<property name="DefaultSize" value="38,28"/>
<property name="InstanceName" value="nextButton"/>
<property name="PropertyOrder" value=",preferredSize,minimumSize,maximumSize,"/>
<property name="Bean Permissions" value="247"/>
<property name="preferredSize" value="30,20"/>
<property name="Panel" value="JPanel1"/>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="UserCode_Bean_nextButton" value="Bean_nextButton"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="maximumSize" value="30,20"/>
<property name="Layout Constraints" value="12,0,1,1,0,10,0,0,0.0,0.0,5,0,5,10"/>
<property name="minimumSize" value="30,20"/>
<property name="DefaultSize" value="38,28"/>
<property name="UserCode_Bean_endButton" value="Bean_endButton"/>
<property name="InstanceName" value="endButton"/>
<property name="PropertyOrder" value=",maximumSize,minimumSize,preferredSize,"/>
<property name="Bean Permissions" value="247"/>
<property name="preferredSize" value="30,20"/>
<property name="Panel" value="JPanel1"/>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Manager Constraints" value="5,5"/>
<property name="Layout Constraints" value="0,1,1,1,1,10,0,0,0.1,0.1,5,5,5,5"/>
<property name="DefaultSize" value="225,94"/>
<property name="UserCode_Bean_JPanel2" value="Bean_JPanel2"/>
<property name="Layout Manager" value="Border Layout"/>
<property name="InstanceName" value="JPanel2"/>
<property name="Bean Permissions" value="255"/>
<property name="Panel" value="Top"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Manager Constraints" value=""/>
<property name="Layout Constraints" value="Center"/>
<property name="DefaultSize" value="48,48"/>
<property name="Layout Manager" value="Viewport Layout"/>
<property name="PaddingSize" value="2,2"/>
<property name="InstanceName" value="JScrollPane1"/>
<property name="Bean Permissions" value="255"/>
<property name="UserCode_Bean_JScrollPane1" value="Bean_JScrollPane1"/>
<property name="Panel" value="JPanel2"/>
<property name="ClassName" value="javax.swing.JScrollPane"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="rowHeight" value="21"/>
<property name="UserCode_Bean_table" value="Bean_table"/>
<property name="Initializer" value="null;"/>
<property name="PopupMenu" value="none"/>
<property name="DefaultSize" value="20,20"/>
<property name="InstanceName" value="table"/>
<property name="PropertyOrder" value=",rowHeight,showVerticalLines,showHorizontalLines,"/>
<property name="Bean Permissions" value="247"/>
<property name="showHorizontalLines" value="false"/>
<property name="Panel" value="JScrollPane1"/>
<property name="ClassName" value="com.adventnet.beans.probeans.ProTable"/>
<property name="showVerticalLines" value="false"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="null;"/>
<property name="Layout Constraints" value="BOTTOM"/>
<property name="DefaultSize" value="207,23"/>
<property name="InstanceName" value="tableModel"/>
<property name="Bean Permissions" value="247"/>
<property name="Panel" value="Bottom"/>
<property name="ClassName" value="com.adventnet.beans.probeans.ProListViewDefaultTableModel"/>
<property name="UserCode_Bean_tableModel" value="Bean_tableModel"/>
<property name="Modifiers" value=""/>
</bean>
<property name="Import Code" value=""/>
<property name="Variable Definitions" value=""/>
<property name="Version" value="4.4"/>
<property name="Screen Height" value="568"/>
<property name="Start Commands" value=""/>
<property name="Type" value="Panel"/>
<property name="FileVersion" value="5"/>
<connection>
<property name="ConnectionType" value="1"/>
<property name="ClassHeader" value="&#10; class home_home_conn1 implements java.awt.event.ActionListener, java.io.Serializable &#10;  {&#10;&#10;     //&lt;TOP_PART&gt;&#10;"/>
<property name="NeedsCompilation" value="false"/>
<property name="Targets" value="homeButton-TARGET"/>
<property name="Sources" value="homeButton-action-false"/>
<property name="ConnectionName" value="home_home_conn1"/>
<property name="ConnectionClass" value="java.awt.event.ActionListener"/>
<property name="Connection_Version" value="1"/>
<property name="UserCode_Connection_home_home_conn1" value="Connection_home_home_conn1"/>
<property name="ListenerMethodName" value="actionPerformed"/>
</connection>
<connection>
<property name="ConnectionType" value="1"/>
<property name="ClassHeader" value="&#10; class previous_previous_conn1 implements java.awt.event.ActionListener, java.io.Serializable &#10;  {&#10;&#10;     //&lt;TOP_PART&gt;&#10;"/>
<property name="NeedsCompilation" value="false"/>
<property name="Targets" value="previousButton-TARGET"/>
<property name="Sources" value="previousButton-action-false"/>
<property name="ConnectionName" value="previous_previous_conn1"/>
<property name="ConnectionClass" value="java.awt.event.ActionListener"/>
<property name="Connection_Version" value="1"/>
<property name="ListenerMethodName" value="actionPerformed"/>
<property name="UserCode_Connection_previous_previous_conn1" value="Connection_previous_previous_conn1"/>
</connection>
<connection>
<property name="UserCode_Connection_next_next_conn1" value="Connection_next_next_conn1"/>
<property name="ConnectionType" value="1"/>
<property name="ClassHeader" value="&#10; class next_next_conn1 implements java.awt.event.ActionListener, java.io.Serializable &#10;  {&#10;&#10;     //&lt;TOP_PART&gt;&#10;"/>
<property name="NeedsCompilation" value="false"/>
<property name="Targets" value="nextButton-TARGET"/>
<property name="Sources" value="nextButton-action-false"/>
<property name="ConnectionName" value="next_next_conn1"/>
<property name="ConnectionClass" value="java.awt.event.ActionListener"/>
<property name="Connection_Version" value="1"/>
<property name="ListenerMethodName" value="actionPerformed"/>
</connection>
<connection>
<property name="ConnectionType" value="1"/>
<property name="ClassHeader" value="&#10; class end_end_conn1 implements java.awt.event.ActionListener, java.io.Serializable &#10;  {&#10;&#10;     //&lt;TOP_PART&gt;&#10;"/>
<property name="NeedsCompilation" value="false"/>
<property name="Targets" value="endButton-TARGET"/>
<property name="Sources" value="endButton-action-false"/>
<property name="ConnectionName" value="end_end_conn1"/>
<property name="ConnectionClass" value="java.awt.event.ActionListener"/>
<property name="Connection_Version" value="1"/>
<property name="ListenerMethodName" value="actionPerformed"/>
<property name="UserCode_Connection_end_end_conn1" value="Connection_end_end_conn1"/>
</connection>
<connection>
<property name="UserCode_Connection_toText_toText_conn1" value="Connection_toText_toText_conn1"/>
<property name="ConnectionType" value="1"/>
<property name="ClassHeader" value="&#10; class toText_toText_conn1 extends java.awt.event.KeyAdapter implements java.io.Serializable &#10;  {&#10;&#10;     //&lt;TOP_PART&gt;&#10;"/>
<property name="NeedsCompilation" value="false"/>
<property name="Targets" value="toText-TARGET"/>
<property name="Sources" value="toText-key-false"/>
<property name="ConnectionName" value="toText_toText_conn1"/>
<property name="ConnectionClass" value="java.awt.event.KeyAdapter"/>
<property name="Connection_Version" value="1"/>
<property name="ListenerMethodName" value="keyReleased"/>
</connection>
<connection>
<property name="ConnectionType" value="1"/>
<property name="ClassHeader" value="&#10; class JComboBox1_JComboBox1_conn1 implements java.awt.event.ActionListener, java.io.Serializable &#10;  {&#10;&#10;     //&lt;TOP_PART&gt;&#10;"/>
<property name="NeedsCompilation" value="false"/>
<property name="Targets" value="pageLengthCombo-TARGET"/>
<property name="Sources" value="pageLengthCombo-action-false"/>
<property name="ConnectionName" value="JComboBox1_JComboBox1_conn1"/>
<property name="ConnectionClass" value="java.awt.event.ActionListener"/>
<property name="UserCode_Connection_JComboBox1_JComboBox1_conn1" value="Connection_JComboBox1_JComboBox1_conn1"/>
<property name="Connection_Version" value="1"/>
<property name="ListenerMethodName" value="actionPerformed"/>
</connection>
<connection>
<property name="ConnectionType" value="1"/>
<property name="ClassHeader" value="&#10; class fromText_fromText_conn1 extends java.awt.event.KeyAdapter implements java.io.Serializable &#10;  {&#10;&#10;     //&lt;TOP_PART&gt;&#10;"/>
<property name="NeedsCompilation" value="false"/>
<property name="Targets" value="fromText-TARGET"/>
<property name="Sources" value="fromText-key-false"/>
<property name="ConnectionName" value="fromText_fromText_conn1"/>
<property name="ConnectionClass" value="java.awt.event.KeyAdapter"/>
<property name="Connection_Version" value="1"/>
<property name="ListenerMethodName" value="keyReleased"/>
<property name="UserCode_Connection_fromText_fromText_conn1" value="Connection_fromText_fromText_conn1"/>
</connection>
<property name="MenuBarPresent" value="true"/>
<property name="GenSource" value="false"/>
<property name="Custom Code" value=""/>
<property name="Dummy Interface" value=""/>
<property name="ScreenTitle" value=""/>
<property name="ToolBarPresent" value="true"/>
<property name="HorizontalSplitPanePos" value="321.0"/>
<property name="SubVersion" value="4.4"/>
<property name="LookAndFeel" value="None"/>
</screen>

