<?xml version="1.0" encoding="UTF-8"?>
<screen conversionType="Hash">
<property name="Screen Width" value="742"/>
<property name="Initialize Commands" value=""/>
<property name="screenTitle" value="Execute Task"/>
<bean>
<property name="UserCode_Bean_Top" value="Bean_Top"/>
<property name="InstanceName" value="Top"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Layout Manager" value="GridBag Layout"/>
<property name="Panel" value="container"/>
<property name="Layout Constraints" value="Center"/>
<property name="Layout Manager Constraints" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Manager Constraints" value=""/>
<property name="Layout Constraints" value="0,1,1,1,1,10,0,0,0.1,0.1,5,5,5,5"/>
<property name="DefaultSize" value="671,380"/>
<property name="UserCode_Bean_JPanel2" value="Bean_JPanel2"/>
<property name="Layout Manager" value="GridBag Layout"/>
<property name="InstanceName" value="JPanel2"/>
<property name="Bean Permissions" value="255"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Panel" value="Top"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Constraints" value="0,0,1,1,3,10,0,0,0.0,0.1,5,5,5,5"/>
<property name="DefaultSize" value="20,20"/>
<property name="UserCode_Bean_JLabel2" value="Bean_JLabel2"/>
<property name="border" value="SoftBevelBorder,1,null,null,null,null"/>
<property name="InstanceName" value="JLabel2"/>
<property name="PropertyOrder" value=",border,"/>
<property name="Bean Permissions" value="247"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="Panel" value="JPanel2"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JPanel();"/>
<property name="Layout Manager Constraints" value=""/>
<property name="Layout Constraints" value="1,0,1,1,1,10,0,0,0.1,0.1,5,5,5,5"/>
<property name="DefaultSize" value="466,109"/>
<property name="UserCode_Bean_JPanel4" value="Bean_JPanel4"/>
<property name="border" value="SoftBevelBorder,0,null,null,null,null"/>
<property name="Layout Manager" value="GridBag Layout"/>
<property name="InstanceName" value="JPanel4"/>
<property name="PropertyOrder" value=",border,"/>
<property name="Bean Permissions" value="255"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Panel" value="JPanel2"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Manager Constraints" value="5,5,1"/>
<property name="UserCode_Bean_cardPanel" value="Bean_cardPanel"/>
<property name="Layout Constraints" value="0,1,1,1,1,10,0,0,0.1,0.1,5,5,5,5"/>
<property name="DefaultSize" value="24,24"/>
<property name="Layout Manager" value="Flow Layout"/>
<property name="InstanceName" value="cardPanel"/>
<property name="Bean Permissions" value="255"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Panel" value="JPanel4"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Manager Constraints" value=""/>
<property name="Layout Constraints" value="0,0,1,1,2,10,0,0,0.1,0.0,5,5,5,5"/>
<property name="DefaultSize" value="442,51"/>
<property name="border" value="EtchedBorder,1,null,null"/>
<property name="Layout Manager" value="GridBag Layout"/>
<property name="UserCode_Bean_JPanel1" value="Bean_JPanel1"/>
<property name="InstanceName" value="JPanel1"/>
<property name="PropertyOrder" value=",border,"/>
<property name="Bean Permissions" value="255"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Panel" value="JPanel4"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Constraints" value="0,0,1,1,0,10,0,0,0.0,0.0,5,10,5,0"/>
<property name="DefaultSize" value="84,25"/>
<property name="UserCode_Bean_JLabel1" value="Bean_JLabel1"/>
<property name="InstanceName" value="JLabel1"/>
<property name="PropertyOrder" value=",foreground,text,"/>
<property name="Bean Permissions" value="247"/>
<property name="foreground" value="-16764109"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="Panel" value="JPanel1"/>
<property name="text" value="Task Name    "/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Constraints" value="1,0,1,1,2,10,0,0,0.1,0.0,5,10,5,20"/>
<property name="editable" value="false"/>
<property name="DefaultSize" value="20,29"/>
<property name="InstanceName" value="JTextField1"/>
<property name="PropertyOrder" value=",editable,text,"/>
<property name="Bean Permissions" value="247"/>
<property name="ClassName" value="javax.swing.JTextField"/>
<property name="Panel" value="JPanel1"/>
<property name="text" value=""/>
<property name="UserCode_Bean_JTextField1" value="Bean_JTextField1"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Manager Constraints" value="5,5,2"/>
<property name="Layout Constraints" value="0,2,1,1,2,10,0,0,0.1,0.0,5,5,5,5"/>
<property name="DefaultSize" value="332,57"/>
<property name="UserCode_Bean_JPanel3" value="Bean_JPanel3"/>
<property name="border" value="EtchedBorder,1,null,null"/>
<property name="Layout Manager" value="Flow Layout"/>
<property name="InstanceName" value="JPanel3"/>
<property name="PropertyOrder" value=",border,"/>
<property name="Bean Permissions" value="255"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Panel" value="Top"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Constraints" value="0"/>
<property name="DefaultSize" value="100,35"/>
<property name="PaddingSize" value="29,0"/>
<property name="InstanceName" value="backButton"/>
<property name="PropertyOrder" value=",text,"/>
<property name="Bean Permissions" value="247"/>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="Panel" value="JPanel3"/>
<property name="text" value="Back"/>
<property name="UserCode_Bean_backButton" value="Bean_backButton"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Constraints" value="1"/>
<property name="DefaultSize" value="100,35"/>
<property name="PaddingSize" value="31,0"/>
<property name="InstanceName" value="nextButton"/>
<property name="PropertyOrder" value=",text,"/>
<property name="Bean Permissions" value="247"/>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="Panel" value="JPanel3"/>
<property name="text" value="Next"/>
<property name="UserCode_Bean_nextButton" value="Bean_nextButton"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="UserCode_Bean_cancelButton" value="Bean_cancelButton"/>
<property name="Layout Constraints" value="2"/>
<property name="DefaultSize" value="100,35"/>
<property name="PaddingSize" value="19,0"/>
<property name="InstanceName" value="cancelButton"/>
<property name="PropertyOrder" value=",text,"/>
<property name="Bean Permissions" value="247"/>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="Panel" value="JPanel3"/>
<property name="text" value="Cancel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JPanel();"/>
<property name="Layout Manager Constraints" value=""/>
<property name="Layout Constraints" value="0,0,1,1,2,10,0,0,0.1,0.0,5,5,5,5"/>
<property name="UserCode_Bean_JPanel5" value="Bean_JPanel5"/>
<property name="DefaultSize" value="176,61"/>
<property name="border" value="EtchedBorder,1,null,null"/>
<property name="Layout Manager" value="GridBag Layout"/>
<property name="InstanceName" value="JPanel5"/>
<property name="PropertyOrder" value=",border,"/>
<property name="Bean Permissions" value="255"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Panel" value="Top"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JPanel();"/>
<property name="Layout Manager Constraints" value=""/>
<property name="UserCode_Bean_JPanel6" value="Bean_JPanel6"/>
<property name="Layout Constraints" value="0,0,1,1,2,10,0,0,0.1,0.0,5,5,5,5"/>
<property name="DefaultSize" value="93,33"/>
<property name="Layout Manager" value="GridBag Layout"/>
<property name="InstanceName" value="JPanel6"/>
<property name="Bean Permissions" value="255"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Panel" value="JPanel5"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JLabel();"/>
<property name="Layout Constraints" value="-1,-1,1,1,0,10,0,0,0.0,0.0,0,0,0,0"/>
<property name="UserCode_Bean_JLabel3" value="Bean_JLabel3"/>
<property name="DefaultSize" value="85,25"/>
<property name="InstanceName" value="JLabel3"/>
<property name="PropertyOrder" value=",text,foreground,"/>
<property name="Bean Permissions" value="247"/>
<property name="foreground" value="-16764109"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="Panel" value="JPanel6"/>
<property name="text" value="Execute Task"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JPanel();"/>
<property name="Layout Manager Constraints" value=""/>
<property name="UserCode_Bean_JPanel7" value="Bean_JPanel7"/>
<property name="Layout Constraints" value="1,0,1,1,0,10,0,0,0.0,0.0,5,5,5,5"/>
<property name="DefaultSize" value="51,39"/>
<property name="Layout Manager" value="GridBag Layout"/>
<property name="InstanceName" value="JPanel7"/>
<property name="Bean Permissions" value="255"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Panel" value="JPanel5"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JButton();"/>
<property name="background" value="-1"/>
<property name="Layout Constraints" value="-1,-1,1,1,0,10,0,0,0.0,0.0,0,0,0,0"/>
<property name="maximumSize" value="35,23"/>
<property name="minimumSize" value="35,23"/>
<property name="DefaultSize" value="43,31"/>
<property name="UserCode_Bean_helpButton" value="Bean_helpButton"/>
<property name="InstanceName" value="helpButton"/>
<property name="PropertyOrder" value=",preferredSize,maximumSize,minimumSize,background,focusPainted,"/>
<property name="Bean Permissions" value="247"/>
<property name="preferredSize" value="35,23"/>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="Panel" value="JPanel7"/>
<property name="focusPainted" value="false"/>
<property name="Modifiers" value=""/>
</bean>
<property name="Import Code" value=""/>
<property name="Variable Definitions" value=""/>
<property name="Version" value="4.4"/>
<property name="Screen Height" value="502"/>
<property name="Start Commands" value=""/>
<property name="Type" value="Dialog"/>
<connection>
<property name="ConnectionType" value="1"/>
<property name="ClassHeader" value="&#10; class helpButton_helpButton_conn1 implements java.awt.event.ActionListener, java.io.Serializable &#10;  {&#10;&#10;     //&lt;TOP_PART&gt;&#10;"/>
<property name="NeedsCompilation" value="false"/>
<property name="Targets" value="helpButton-TARGET"/>
<property name="Sources" value="helpButton-action-false"/>
<property name="ConnectionName" value="helpButton_helpButton_conn1"/>
<property name="ConnectionClass" value="java.awt.event.ActionListener"/>
<property name="UserCode_Connection_helpButton_helpButton_conn1" value="Connection_helpButton_helpButton_conn1"/>
<property name="Connection_Version" value="1"/>
<property name="ListenerMethodName" value="actionPerformed"/>
</connection>
<connection>
<property name="ConnectionType" value="1"/>
<property name="ClassHeader" value="&#10; class JButton2_JButton2_conn1 implements java.awt.event.ActionListener, java.io.Serializable &#10;  {&#10;&#10;     //&lt;TOP_PART&gt;&#10;"/>
<property name="NeedsCompilation" value="false"/>
<property name="Targets" value="nextButton-TARGET"/>
<property name="UserCode_Connection_JButton2_JButton2_conn1" value="Connection_JButton2_JButton2_conn1"/>
<property name="Sources" value="nextButton-action-false"/>
<property name="ConnectionName" value="JButton2_JButton2_conn1"/>
<property name="ConnectionClass" value="java.awt.event.ActionListener"/>
<property name="Connection_Version" value="1"/>
<property name="ListenerMethodName" value="actionPerformed"/>
</connection>
<connection>
<property name="ConnectionType" value="1"/>
<property name="UserCode_Connection_JButton3_JButton3_conn1" value="Connection_JButton3_JButton3_conn1"/>
<property name="ClassHeader" value="&#10; class JButton3_JButton3_conn1 implements java.awt.event.ActionListener, java.io.Serializable &#10;  {&#10;&#10;     //&lt;TOP_PART&gt;&#10;"/>
<property name="NeedsCompilation" value="false"/>
<property name="Targets" value="cancelButton-TARGET"/>
<property name="Sources" value="cancelButton-action-false"/>
<property name="ConnectionName" value="JButton3_JButton3_conn1"/>
<property name="ConnectionClass" value="java.awt.event.ActionListener"/>
<property name="Connection_Version" value="1"/>
<property name="ListenerMethodName" value="actionPerformed"/>
</connection>
<connection>
<property name="ConnectionType" value="1"/>
<property name="ClassHeader" value="&#10; class JButton1_JButton1_conn1 implements java.awt.event.ActionListener, java.io.Serializable &#10;  {&#10;&#10;     //&lt;TOP_PART&gt;&#10;"/>
<property name="NeedsCompilation" value="false"/>
<property name="Targets" value="backButton-TARGET"/>
<property name="Sources" value="backButton-action-false"/>
<property name="ConnectionName" value="JButton1_JButton1_conn1"/>
<property name="ConnectionClass" value="java.awt.event.ActionListener"/>
<property name="Connection_Version" value="1"/>
<property name="ListenerMethodName" value="actionPerformed"/>
<property name="UserCode_Connection_JButton1_JButton1_conn1" value="Connection_JButton1_JButton1_conn1"/>
</connection>
<property name="MenuBarPresent" value="true"/>
<property name="Custom Code" value=""/>
<property name="GenSource" value="false"/>
<property name="Dummy Interface" value=""/>
<property name="ToolBarPresent" value="true"/>
<property name="HorizontalSplitPanePos" value="241.0"/>
<property name="SubVersion" value="4.4"/>
<property name="LookAndFeel" value="None"/>
</screen>
