<?xml version="1.0" encoding="UTF-8"?>
<screen conversionType="Hash">
<property name="Screen Width" value="451"/>
<property name="Initialize Commands" value=""/>
<property name="screenTitle" value="Help"/>
<bean>
<property name="background" value="-1"/>
<property name="Layout Manager Constraints" value=""/>
<property name="Layout Constraints" value="Center"/>
<property name="Layout Manager" value="GridBag Layout"/>
<property name="InstanceName" value="Top"/>
<property name="PropertyOrder" value=",background,"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Panel" value="container"/>
<property name="UserCode_Bean_Top" value="Bean_Top"/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JPanel();"/>
<property name="background" value="-1"/>
<property name="Layout Manager Constraints" value="5,5,1"/>
<property name="Layout Constraints" value="0,0,1,1,2,10,0,0,0.1,0.0,5,5,5,5"/>
<property name="DefaultSize" value="362,66"/>
<property name="Layout Manager" value="Flow Layout"/>
<property name="UserCode_Bean_JPanel1" value="Bean_JPanel1"/>
<property name="InstanceName" value="JPanel1"/>
<property name="PropertyOrder" value=",background,"/>
<property name="Bean Permissions" value="255"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Panel" value="Top"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="foreground" value="-52480"/>
<property name="Modifiers" value=""/>
<property name="iconTextGap" value="10"/>
<property name="UserCode_Bean_titleLabel" value="Bean_titleLabel"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="PropertyOrder" value=",background,opaque,text,horizontalAlignment,iconTextGap,foreground,font,"/>
<property name="DefaultSize" value="344,48"/>
<property name="opaque" value="true"/>
<property name="text" value="TASK CONFIGURATION"/>
<property name="Initializer" value="new javax.swing.JLabel();"/>
<property name="font" value="Dialog+1+20"/>
<property name="InstanceName" value="titleLabel"/>
<property name="horizontalAlignment" value="0"/>
<property name="Panel" value="JPanel1"/>
<property name="background" value="-1"/>
<property name="Layout Constraints" value="0"/>
<property name="PaddingSize" value="111,13"/>
<property name="Bean Permissions" value="247"/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JPanel();"/>
<property name="background" value="-1"/>
<property name="Layout Manager Constraints" value=""/>
<property name="Layout Constraints" value="0,1,1,1,1,10,0,0,0.1,0.1,5,5,5,5"/>
<property name="DefaultSize" value="433,153"/>
<property name="UserCode_Bean_JPanel2" value="Bean_JPanel2"/>
<property name="Layout Manager" value="GridBag Layout"/>
<property name="InstanceName" value="JPanel2"/>
<property name="PropertyOrder" value=",background,"/>
<property name="Bean Permissions" value="255"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Panel" value="Top"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JPanel();"/>
<property name="background" value="-1"/>
<property name="Layout Manager Constraints" value=""/>
<property name="Layout Constraints" value="1,0,1,1,1,10,0,0,0.1,0.1,5,5,5,5"/>
<property name="UserCode_Bean_JPanel5" value="Bean_JPanel5"/>
<property name="DefaultSize" value="415,93"/>
<property name="Layout Manager" value="GridBag Layout"/>
<property name="InstanceName" value="JPanel5"/>
<property name="PropertyOrder" value=",background,"/>
<property name="Bean Permissions" value="255"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Panel" value="JPanel2"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JLabel();"/>
<property name="background" value="-1"/>
<property name="Layout Constraints" value="0,0,1,1,2,10,0,0,0.1,0.0,5,5,5,5"/>
<property name="font" value="Dialog+1+20"/>
<property name="iconTextGap" value="7"/>
<property name="DefaultSize" value="263,40"/>
<property name="InstanceName" value="subTitleLabel"/>
<property name="opaque" value="true"/>
<property name="PropertyOrder" value=",foreground,font,background,opaque,iconTextGap,text,"/>
<property name="UserCode_Bean_subTitleLabel" value="Bean_subTitleLabel"/>
<property name="Bean Permissions" value="247"/>
<property name="foreground" value="-13434625"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="Panel" value="JPanel5"/>
<property name="text" value="Sub - Title"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="UserCode_Bean_helpArea" value="Bean_helpArea"/>
<property name="Initializer" value="new javax.swing.JTextArea();"/>
<property name="Layout Constraints" value="0,1,1,1,1,10,0,0,0.1,0.1,5,5,5,5"/>
<property name="editable" value="false"/>
<property name="DefaultSize" value="397,25"/>
<property name="InstanceName" value="helpArea"/>
<property name="PropertyOrder" value=",editable,wrapStyleWord,lineWrap,"/>
<property name="Bean Permissions" value="247"/>
<property name="wrapStyleWord" value="true"/>
<property name="ClassName" value="javax.swing.JTextArea"/>
<property name="Panel" value="JPanel5"/>
<property name="Modifiers" value=""/>
<property name="lineWrap" value="true"/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JPanel();"/>
<property name="background" value="-1"/>
<property name="Layout Manager Constraints" value="5,5"/>
<property name="Layout Constraints" value="0,2,1,1,2,10,0,0,0.1,0.0,5,5,5,5"/>
<property name="DefaultSize" value="280,71"/>
<property name="UserCode_Bean_JPanel3" value="Bean_JPanel3"/>
<property name="Layout Manager" value="Border Layout"/>
<property name="InstanceName" value="JPanel3"/>
<property name="PropertyOrder" value=",background,"/>
<property name="Bean Permissions" value="255"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Panel" value="Top"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JPanel();"/>
<property name="background" value="-1"/>
<property name="Layout Manager Constraints" value="5,5,0"/>
<property name="UserCode_Bean_JPanel6" value="Bean_JPanel6"/>
<property name="Layout Constraints" value="Center"/>
<property name="DefaultSize" value="20,20"/>
<property name="Layout Manager" value="Flow Layout"/>
<property name="InstanceName" value="JPanel6"/>
<property name="PropertyOrder" value=",background,"/>
<property name="Bean Permissions" value="255"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Panel" value="JPanel3"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JPanel();"/>
<property name="background" value="-1"/>
<property name="Layout Manager Constraints" value="5,5,1"/>
<property name="Layout Constraints" value="East"/>
<property name="DefaultSize" value="237,53"/>
<property name="UserCode_Bean_JPanel4" value="Bean_JPanel4"/>
<property name="Layout Manager" value="Flow Layout"/>
<property name="InstanceName" value="JPanel4"/>
<property name="PropertyOrder" value=",background,"/>
<property name="Bean Permissions" value="255"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Panel" value="JPanel3"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="UserCode_Bean_JButton2" value="Bean_JButton2"/>
<property name="Initializer" value="new javax.swing.JButton();"/>
<property name="background" value="-16777165"/>
<property name="Layout Constraints" value="0"/>
<property name="DefaultSize" value="143,35"/>
<property name="InstanceName" value="JButton2"/>
<property name="PropertyOrder" value=",foreground,focusPainted,text,background,"/>
<property name="Bean Permissions" value="247"/>
<property name="foreground" value="-10027162"/>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="Panel" value="JPanel4"/>
<property name="text" value="Related Topics &gt;&gt;"/>
<property name="focusPainted" value="false"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="UserCode_Bean_JButton1" value="Bean_JButton1"/>
<property name="Initializer" value="new javax.swing.JButton();"/>
<property name="background" value="-16764109"/>
<property name="Layout Constraints" value="1"/>
<property name="DefaultSize" value="71,35"/>
<property name="InstanceName" value="JButton1"/>
<property name="PropertyOrder" value=",text,foreground,focusPainted,background,"/>
<property name="Bean Permissions" value="247"/>
<property name="foreground" value="-6684775"/>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="Panel" value="JPanel4"/>
<property name="text" value="Done"/>
<property name="focusPainted" value="false"/>
<property name="Modifiers" value=""/>
</bean>
<property name="Import Code" value=""/>
<property name="Variable Definitions" value=""/>
<property name="Version" value="4.4"/>
<property name="Screen Height" value="360"/>
<property name="Start Commands" value=""/>
<property name="Type" value="Dialog"/>
<connection>
<property name="ConnectionType" value="1"/>
<property name="ClassHeader" value="&#10; class JButton2_JButton2_conn1 extends java.awt.event.MouseAdapter implements java.io.Serializable &#10;  {&#10;&#10;     //&lt;TOP_PART&gt;&#10;"/>
<property name="NeedsCompilation" value="false"/>
<property name="Targets" value="JButton2-TARGET"/>
<property name="UserCode_Connection_JButton2_JButton2_conn1" value="Connection_JButton2_JButton2_conn1"/>
<property name="Sources" value="JButton2-mouse-false"/>
<property name="ConnectionName" value="JButton2_JButton2_conn1"/>
<property name="ConnectionClass" value="java.awt.event.MouseAdapter"/>
<property name="Connection_Version" value="1"/>
<property name="ListenerMethodName" value="mouseClicked"/>
</connection>
<connection>
<property name="ConnectionType" value="1"/>
<property name="ClassHeader" value="&#10; class JButton1_JButton1_conn1 implements java.awt.event.ActionListener, java.io.Serializable &#10;  {&#10;&#10;     //&lt;TOP_PART&gt;&#10;"/>
<property name="NeedsCompilation" value="false"/>
<property name="Targets" value="JButton1-TARGET"/>
<property name="Sources" value="JButton1-action-false"/>
<property name="ConnectionName" value="JButton1_JButton1_conn1"/>
<property name="ConnectionClass" value="java.awt.event.ActionListener"/>
<property name="Connection_Version" value="1"/>
<property name="ListenerMethodName" value="actionPerformed"/>
<property name="UserCode_Connection_JButton1_JButton1_conn1" value="Connection_JButton1_JButton1_conn1"/>
</connection>
<property name="MenuBarPresent" value="true"/>
<property name="Custom Code" value=""/>
<property name="GenSource" value="false"/>
<property name="Dummy Interface" value=""/>
<property name="ToolBarPresent" value="true"/>
<property name="HorizontalSplitPanePos" value="170.0"/>
<property name="SubVersion" value="4.4"/>
<property name="LookAndFeel" value="None"/>
</screen>
