<?xml version="1.0" encoding="UTF-8"?>
<screen conversionType="Hash">
<property name="Screen Width" value="522"/>
<property name="Initialize Commands" value=""/>
<property name="screenTitle" value="new_screen1"/>
<bean>
<property name="UserCode_Bean_Top" value="Bean_Top"/>
<property name="InstanceName" value="Top"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Layout Manager" value="GridBag Layout"/>
<property name="Panel" value="container"/>
<property name="Layout Constraints" value="Center"/>
<property name="Layout Manager Constraints" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Manager Constraints" value=""/>
<property name="Layout Constraints" value="0,1,1,1,1,10,0,0,0.1,0.1,5,5,5,5"/>
<property name="DefaultSize" value="553,399"/>
<property name="border" value="EtchedBorder,1,null,null"/>
<property name="UserCode_Bean_JPanel2" value="Bean_JPanel2"/>
<property name="Layout Manager" value="GridBag Layout"/>
<property name="InstanceName" value="JPanel2"/>
<property name="PropertyOrder" value=",border,"/>
<property name="Bean Permissions" value="255"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Panel" value="Top"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Manager Constraints" value=""/>
<property name="Layout Constraints" value="1,0,1,1,1,10,0,0,0.1,0.1,0,0,0,0"/>
<property name="DefaultSize" value="274,303"/>
<property name="UserCode_Bean_JPanel3" value="Bean_JPanel3"/>
<property name="Layout Manager" value="GridBag Layout"/>
<property name="InstanceName" value="JPanel3"/>
<property name="Bean Permissions" value="255"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Panel" value="JPanel2"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Manager Constraints" value=""/>
<property name="Layout Constraints" value="0,0,1,1,1,10,0,0,0.1,0.1,5,5,5,5"/>
<property name="DefaultSize" value="256,285"/>
<property name="UserCode_Bean_JPanel4" value="Bean_JPanel4"/>
<property name="border" value="TitledBorder,[EtchedBorder,0,null,null],Device Attributes,0,0,Dialog+0+12,-16764109"/>
<property name="Layout Manager" value="GridBag Layout"/>
<property name="InstanceName" value="JPanel4"/>
<property name="PropertyOrder" value=",border,"/>
<property name="Bean Permissions" value="255"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Panel" value="JPanel3"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Manager Constraints" value=""/>
<property name="Layout Constraints" value="0,0,1,1,1,10,0,0,0.1,0.1,5,5,5,5"/>
<property name="DefaultSize" value="32,32"/>
<property name="Layout Manager" value="Viewport Layout"/>
<property name="InstanceName" value="JScrollPane1"/>
<property name="Bean Permissions" value="255"/>
<property name="UserCode_Bean_JScrollPane1" value="Bean_JScrollPane1"/>
<property name="ClassName" value="javax.swing.JScrollPane"/>
<property name="Panel" value="JPanel4"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="DefaultSize" value="20,20"/>
<property name="model" value="tableModel$BEAN"/>
<property name="InstanceName" value="attributesTable"/>
<property name="PropertyOrder" value=",model,"/>
<property name="Bean Permissions" value="247"/>
<property name="UserCode_Bean_attributesTable" value="Bean_attributesTable"/>
<property name="ClassName" value="javax.swing.JTable"/>
<property name="Panel" value="JScrollPane1"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Manager Constraints" value=""/>
<property name="Layout Constraints" value="0,1,1,1,2,10,0,0,0.1,0.0,5,5,5,5"/>
<property name="UserCode_Bean_JPanel5" value="Bean_JPanel5"/>
<property name="DefaultSize" value="226,197"/>
<property name="border" value="EtchedBorder,1,null,null"/>
<property name="Layout Manager" value="GridBag Layout"/>
<property name="InstanceName" value="JPanel5"/>
<property name="PropertyOrder" value=",border,"/>
<property name="Bean Permissions" value="255"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Panel" value="JPanel4"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Constraints" value="0,0,1,1,0,18,0,0,0.0,0.0,5,5,5,5"/>
<property name="font" value="Dialog+0+12"/>
<property name="DefaultSize" value="60,25"/>
<property name="UserCode_Bean_JLabel2" value="Bean_JLabel2"/>
<property name="InstanceName" value="JLabel2"/>
<property name="PropertyOrder" value=",text,foreground,font,"/>
<property name="Bean Permissions" value="247"/>
<property name="foreground" value="-16764109"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="Panel" value="JPanel5"/>
<property name="text" value="Property"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Constraints" value="0,2,1,1,0,18,0,0,0.0,0.0,5,5,5,5"/>
<property name="font" value="Dialog+0+12"/>
<property name="DefaultSize" value="42,25"/>
<property name="InstanceName" value="valueLabel"/>
<property name="PropertyOrder" value=",text,foreground,font,"/>
<property name="Bean Permissions" value="247"/>
<property name="foreground" value="-16764109"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="Panel" value="JPanel5"/>
<property name="text" value="Value"/>
<property name="UserCode_Bean_valueLabel" value="Bean_valueLabel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="UserCode_Bean_propertyText" value="Bean_propertyText"/>
<property name="Layout Constraints" value="1,0,1,1,2,18,0,0,0.1,0.0,5,5,5,5"/>
<property name="editable" value="false"/>
<property name="DefaultSize" value="20,29"/>
<property name="opaque" value="false"/>
<property name="InstanceName" value="propertyText"/>
<property name="PropertyOrder" value=",editable,opaque,"/>
<property name="Bean Permissions" value="247"/>
<property name="ClassName" value="javax.swing.JTextField"/>
<property name="Panel" value="JPanel5"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="PopupMenu" value="none"/>
<property name="UserCode_Bean_valueText" value="Bean_valueText"/>
<property name="Layout Constraints" value="1,2,1,1,2,18,0,0,0.1,0.0,5,5,5,5"/>
<property name="DefaultSize" value="20,29"/>
<property name="InstanceName" value="valueText"/>
<property name="Bean Permissions" value="247"/>
<property name="Panel" value="JPanel5"/>
<property name="ClassName" value="javax.swing.JTextField"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Manager Constraints" value="5,5,2"/>
<property name="UserCode_Bean_JPanel6" value="Bean_JPanel6"/>
<property name="Layout Constraints" value="0,3,2,1,2,10,0,0,0.0,0.0,5,5,5,5"/>
<property name="DefaultSize" value="111,53"/>
<property name="Layout Manager" value="Flow Layout"/>
<property name="InstanceName" value="JPanel6"/>
<property name="Bean Permissions" value="255"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Panel" value="JPanel5"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Constraints" value="0"/>
<property name="DefaultSize" value="93,35"/>
<property name="PaddingSize" value="0,4"/>
<property name="InstanceName" value="updateButton"/>
<property name="PropertyOrder" value=",text,"/>
<property name="Bean Permissions" value="247"/>
<property name="UserCode_Bean_updateButton" value="Bean_updateButton"/>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="Panel" value="JPanel6"/>
<property name="text" value="Update"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="UserCode_Bean_versionLabel" value="Bean_versionLabel"/>
<property name="Layout Constraints" value="0,1,1,1,0,18,0,0,0.0,0.0,5,5,5,5"/>
<property name="font" value="Dialog+0+12"/>
<property name="DefaultSize" value="42,25"/>
<property name="InstanceName" value="versionLabel"/>
<property name="PropertyOrder" value=",text,foreground,font,"/>
<property name="Bean Permissions" value="247"/>
<property name="foreground" value="-16764109"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="Panel" value="JPanel5"/>
<property name="text" value="Value"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Constraints" value="1,1,1,1,2,18,0,0,0.1,0.0,5,5,5,5"/>
<property name="DefaultSize" value="134,34"/>
<property name="InstanceName" value="versionCombo"/>
<property name="Bean Permissions" value="247"/>
<property name="UserCode_Bean_versionCombo" value="Bean_versionCombo"/>
<property name="Panel" value="JPanel5"/>
<property name="ClassName" value="javax.swing.JComboBox"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Manager Constraints" value=""/>
<property name="UserCode_Bean_JPanel7" value="Bean_JPanel7"/>
<property name="Layout Constraints" value="0,0,1,1,3,10,0,0,0.0,0.1,0,0,0,0"/>
<property name="DefaultSize" value="267,220"/>
<property name="border" value="SoftBevelBorder,1,null,null,null,null"/>
<property name="Layout Manager" value="GridBag Layout"/>
<property name="InstanceName" value="JPanel7"/>
<property name="PropertyOrder" value=",border,"/>
<property name="Bean Permissions" value="255"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Panel" value="JPanel2"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="PopupMenu" value="none"/>
<property name="UserCode_Bean_JPanel8" value="Bean_JPanel8"/>
<property name="Layout Manager Constraints" value=""/>
<property name="Layout Constraints" value="0,0,1,1,3,10,0,0,0.0,0.1,0,0,10,0"/>
<property name="DefaultSize" value="253,196"/>
<property name="Layout Manager" value="GridBag Layout"/>
<property name="InstanceName" value="JPanel8"/>
<property name="Bean Permissions" value="255"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Panel" value="JPanel7"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="UserCode_Bean_JPanel9" value="Bean_JPanel9"/>
<property name="Initializer" value=""/>
<property name="Layout Manager Constraints" value="5,5,1"/>
<property name="Layout Constraints" value="0,3,1,1,2,10,0,0,0.1,0.0,0,0,0,0"/>
<property name="DefaultSize" value="245,76"/>
<property name="border" value="TitledBorder,[null],Search for Devices,4,2,Dialog+1+12,-10066279"/>
<property name="Layout Manager" value="Flow Layout"/>
<property name="InstanceName" value="JPanel9"/>
<property name="PropertyOrder" value=",border,"/>
<property name="Bean Permissions" value="255"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Panel" value="JPanel8"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="UserCode_Bean_JLabel4" value="Bean_JLabel4"/>
<property name="Layout Constraints" value="0"/>
<property name="font" value="Dialog+0+12"/>
<property name="DefaultSize" value="123,25"/>
<property name="PaddingSize" value="0,4"/>
<property name="InstanceName" value="JLabel4"/>
<property name="PropertyOrder" value=",text,foreground,font,"/>
<property name="Bean Permissions" value="247"/>
<property name="foreground" value="-16764109"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="Panel" value="JPanel9"/>
<property name="text" value="Search for Devices"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Constraints" value="1"/>
<property name="DefaultSize" value="89,35"/>
<property name="PaddingSize" value="0,4"/>
<property name="InstanceName" value="searchButton"/>
<property name="PropertyOrder" value=",text,"/>
<property name="Bean Permissions" value="247"/>
<property name="UserCode_Bean_searchButton" value="Bean_searchButton"/>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="Panel" value="JPanel9"/>
<property name="text" value="Search"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Manager Constraints" value=""/>
<property name="Layout Constraints" value="0,1,1,1,1,10,0,0,0.1,0.1,0,0,5,0"/>
<property name="DefaultSize" value="30,30"/>
<property name="Layout Manager" value="Viewport Layout"/>
<property name="InstanceName" value="JScrollPane2"/>
<property name="Bean Permissions" value="255"/>
<property name="UserCode_Bean_JScrollPane2" value="Bean_JScrollPane2"/>
<property name="ClassName" value="javax.swing.JScrollPane"/>
<property name="Panel" value="JPanel8"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="DefaultSize" value="20,20"/>
<property name="model" value="customModel$BEAN"/>
<property name="InstanceName" value="devicesTable"/>
<property name="PropertyOrder" value=",model,"/>
<property name="Bean Permissions" value="247"/>
<property name="ClassName" value="javax.swing.JTable"/>
<property name="Panel" value="JScrollPane2"/>
<property name="UserCode_Bean_devicesTable" value="Bean_devicesTable"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JPanel();"/>
<property name="Layout Manager Constraints" value=""/>
<property name="Layout Constraints" value="0,2,1,1,2,10,0,0,0.1,0.0,0,0,5,0"/>
<property name="DefaultSize" value="124,72"/>
<property name="border" value="TitledBorder,[null],Add Devices,4,2,Dialog+1+12,-10066279"/>
<property name="UserCode_Bean_JPanel11" value="Bean_JPanel11"/>
<property name="Layout Manager" value="GridBag Layout"/>
<property name="InstanceName" value="JPanel11"/>
<property name="PropertyOrder" value=",border,"/>
<property name="Bean Permissions" value="255"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Panel" value="JPanel8"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JTextField();"/>
<property name="Layout Constraints" value="0,0,1,1,2,10,0,0,0.1,0.1,5,5,5,5"/>
<property name="DefaultSize" value="20,25"/>
<property name="InstanceName" value="nameText"/>
<property name="Bean Permissions" value="247"/>
<property name="UserCode_Bean_nameText" value="Bean_nameText"/>
<property name="Panel" value="JPanel11"/>
<property name="ClassName" value="javax.swing.JTextField"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="UserCode_Bean_JButton1" value="Bean_JButton1"/>
<property name="Initializer" value="new javax.swing.JButton();"/>
<property name="Layout Constraints" value="1,0,1,1,0,10,0,0,0.0,0.0,5,5,5,0"/>
<property name="DefaultSize" value="71,31"/>
<property name="InstanceName" value="JButton1"/>
<property name="PropertyOrder" value=",text,"/>
<property name="Bean Permissions" value="247"/>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="Panel" value="JPanel11"/>
<property name="text" value="Add"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JPanel();"/>
<property name="Layout Manager Constraints" value="5,5,1"/>
<property name="Layout Constraints" value="0,2,1,1,2,10,0,0,0.1,0.0,5,5,5,5"/>
<property name="DefaultSize" value="197,57"/>
<property name="border" value="EtchedBorder,1,null,null"/>
<property name="Layout Manager" value="Flow Layout"/>
<property name="UserCode_Bean_JPanel1" value="Bean_JPanel1"/>
<property name="InstanceName" value="JPanel1"/>
<property name="PropertyOrder" value=",border,"/>
<property name="Bean Permissions" value="255"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Panel" value="Top"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JButton();"/>
<property name="Layout Constraints" value="0"/>
<property name="DefaultSize" value="81,35"/>
<property name="PaddingSize" value="18,4"/>
<property name="InstanceName" value="okButton"/>
<property name="PropertyOrder" value=",text,"/>
<property name="Bean Permissions" value="247"/>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="Panel" value="JPanel1"/>
<property name="UserCode_Bean_okButton" value="Bean_okButton"/>
<property name="text" value="OK"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JButton();"/>
<property name="UserCode_Bean_cancelButton" value="Bean_cancelButton"/>
<property name="Layout Constraints" value="1"/>
<property name="DefaultSize" value="89,35"/>
<property name="PaddingSize" value="0,4"/>
<property name="InstanceName" value="cancelButton"/>
<property name="PropertyOrder" value=",text,"/>
<property name="Bean Permissions" value="247"/>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="Panel" value="JPanel1"/>
<property name="text" value="Cancel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JPanel();"/>
<property name="Layout Manager Constraints" value="5,5,1"/>
<property name="Layout Constraints" value="0,0,1,1,2,10,0,0,0.1,0.0,5,5,5,5"/>
<property name="DefaultSize" value="131,47"/>
<property name="border" value="EtchedBorder,1,null,null"/>
<property name="Layout Manager" value="Flow Layout"/>
<property name="UserCode_Bean_JPanel10" value="Bean_JPanel10"/>
<property name="InstanceName" value="JPanel10"/>
<property name="PropertyOrder" value=",border,"/>
<property name="Bean Permissions" value="255"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Panel" value="Top"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JLabel();"/>
<property name="Layout Constraints" value="0"/>
<property name="DefaultSize" value="109,25"/>
<property name="UserCode_Bean_JLabel1" value="Bean_JLabel1"/>
<property name="PaddingSize" value="0,4"/>
<property name="InstanceName" value="JLabel1"/>
<property name="PropertyOrder" value=",text,foreground,"/>
<property name="Bean Permissions" value="247"/>
<property name="foreground" value="-16764109"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="Panel" value="JPanel10"/>
<property name="text" value="Network Input"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.table.DefaultTableModel();"/>
<property name="Layout Constraints" value="BOTTOM"/>
<property name="DefaultSize" value="87,25"/>
<property name="InstanceName" value="tableModel"/>
<property name="Bean Permissions" value="247"/>
<property name="Panel" value="Bottom"/>
<property name="ClassName" value="javax.swing.table.DefaultTableModel"/>
<property name="UserCode_Bean_tableModel" value="Bean_tableModel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="UserCode_Bean_customModel" value="Bean_customModel"/>
<property name="Initializer" value="new javax.swing.table.DefaultTableModel();"/>
<property name="Layout Constraints" value="BOTTOM"/>
<property name="DefaultSize" value="103,25"/>
<property name="InstanceName" value="customModel"/>
<property name="Bean Permissions" value="247"/>
<property name="Panel" value="Bottom"/>
<property name="ClassName" value="javax.swing.table.DefaultTableModel"/>
<property name="Modifiers" value=""/>
</bean>
<property name="Import Code" value=""/>
<property name="Variable Definitions" value=""/>
<property name="Version" value="4.4"/>
<property name="Screen Height" value="469"/>
<property name="Start Commands" value=""/>
<property name="Type" value="Dialog"/>
<connection>
<property name="ConnectionType" value="1"/>
<property name="ClassHeader" value="&#10; class devicesTable_devicesTable_conn1 extends java.awt.event.MouseAdapter implements java.io.Serializable &#10;  {&#10;&#10;     //&lt;TOP_PART&gt;&#10;"/>
<property name="NeedsCompilation" value="false"/>
<property name="Targets" value="devicesTable-TARGET"/>
<property name="Sources" value="devicesTable-mouse-false"/>
<property name="ConnectionName" value="devicesTable_devicesTable_conn1"/>
<property name="ConnectionClass" value="java.awt.event.MouseAdapter"/>
<property name="Connection_Version" value="1"/>
<property name="ListenerMethodName" value="mousePressed"/>
<property name="UserCode_Connection_devicesTable_devicesTable_conn1" value="Connection_devicesTable_devicesTable_conn1"/>
</connection>
<connection>
<property name="ConnectionType" value="1"/>
<property name="ClassHeader" value="&#10; class JButton2_JButton2_conn1 implements java.awt.event.ActionListener, java.io.Serializable &#10;  {&#10;&#10;     //&lt;TOP_PART&gt;&#10;"/>
<property name="NeedsCompilation" value="false"/>
<property name="Targets" value="cancelButton-TARGET"/>
<property name="UserCode_Connection_JButton2_JButton2_conn1" value="Connection_JButton2_JButton2_conn1"/>
<property name="Sources" value="cancelButton-action-false"/>
<property name="ConnectionName" value="JButton2_JButton2_conn1"/>
<property name="ConnectionClass" value="java.awt.event.ActionListener"/>
<property name="Connection_Version" value="1"/>
<property name="ListenerMethodName" value="actionPerformed"/>
</connection>
<connection>
<property name="ConnectionType" value="1"/>
<property name="UserCode_Connection_updateButton_updateButton_conn1" value="Connection_updateButton_updateButton_conn1"/>
<property name="ClassHeader" value="&#10; class updateButton_updateButton_conn1 implements java.awt.event.ActionListener, java.io.Serializable &#10;  {&#10;&#10;     //&lt;TOP_PART&gt;&#10;"/>
<property name="NeedsCompilation" value="false"/>
<property name="Targets" value="updateButton-TARGET"/>
<property name="Sources" value="updateButton-action-false"/>
<property name="ConnectionName" value="updateButton_updateButton_conn1"/>
<property name="ConnectionClass" value="java.awt.event.ActionListener"/>
<property name="Connection_Version" value="1"/>
<property name="ListenerMethodName" value="actionPerformed"/>
</connection>
<connection>
<property name="ConnectionType" value="1"/>
<property name="ClassHeader" value="&#10; class searchButton_searchButton_conn1 implements java.awt.event.ActionListener, java.io.Serializable &#10;  {&#10;&#10;     //&lt;TOP_PART&gt;&#10;"/>
<property name="NeedsCompilation" value="false"/>
<property name="Targets" value="searchButton-TARGET"/>
<property name="Sources" value="searchButton-action-false"/>
<property name="ConnectionName" value="searchButton_searchButton_conn1"/>
<property name="ConnectionClass" value="java.awt.event.ActionListener"/>
<property name="Connection_Version" value="1"/>
<property name="ListenerMethodName" value="actionPerformed"/>
<property name="UserCode_Connection_searchButton_searchButton_conn1" value="Connection_searchButton_searchButton_conn1"/>
</connection>
<connection>
<property name="ConnectionType" value="1"/>
<property name="ClassHeader" value="&#10; class JButton1_JButton1_conn2 implements java.awt.event.ActionListener, java.io.Serializable &#10;  {&#10;&#10;     //&lt;TOP_PART&gt;&#10;"/>
<property name="NeedsCompilation" value="false"/>
<property name="Targets" value="JButton1-TARGET"/>
<property name="Sources" value="JButton1-action-false"/>
<property name="ConnectionName" value="JButton1_JButton1_conn2"/>
<property name="ConnectionClass" value="java.awt.event.ActionListener"/>
<property name="Connection_Version" value="1"/>
<property name="ListenerMethodName" value="actionPerformed"/>
<property name="UserCode_Connection_JButton1_JButton1_conn2" value="Connection_JButton1_JButton1_conn2"/>
</connection>
<connection>
<property name="ConnectionType" value="1"/>
<property name="ClassHeader" value="&#10; class attributesTable_attributesTable_conn1 extends java.awt.event.MouseAdapter implements java.io.Serializable &#10;  {&#10;&#10;     //&lt;TOP_PART&gt;&#10;"/>
<property name="NeedsCompilation" value="false"/>
<property name="Targets" value="attributesTable-TARGET"/>
<property name="Sources" value="attributesTable-mouse-false"/>
<property name="ConnectionName" value="attributesTable_attributesTable_conn1"/>
<property name="ConnectionClass" value="java.awt.event.MouseAdapter"/>
<property name="Connection_Version" value="1"/>
<property name="ListenerMethodName" value="mousePressed"/>
<property name="UserCode_Connection_attributesTable_attributesTable_conn1" value="Connection_attributesTable_attributesTable_conn1"/>
</connection>
<connection>
<property name="ConnectionType" value="1"/>
<property name="ClassHeader" value="&#10; class JButton1_JButton1_conn1 implements java.awt.event.ActionListener, java.io.Serializable &#10;  {&#10;&#10;     //&lt;TOP_PART&gt;&#10;"/>
<property name="NeedsCompilation" value="false"/>
<property name="Targets" value="okButton-TARGET"/>
<property name="Sources" value="okButton-action-false"/>
<property name="ConnectionName" value="JButton1_JButton1_conn1"/>
<property name="ConnectionClass" value="java.awt.event.ActionListener"/>
<property name="Connection_Version" value="1"/>
<property name="ListenerMethodName" value="actionPerformed"/>
<property name="UserCode_Connection_JButton1_JButton1_conn1" value="Connection_JButton1_JButton1_conn1"/>
</connection>
<property name="MenuBarPresent" value="true"/>
<property name="Custom Code" value=""/>
<property name="GenSource" value="true"/>
<property name="Dummy Interface" value=""/>
<property name="ToolBarPresent" value="true"/>
<property name="HorizontalSplitPanePos" value="271.0"/>
<property name="SubVersion" value="4.4"/>
<property name="LookAndFeel" value="None"/>
</screen>
