<?xml version="1.0" encoding="UTF-8"?>
<screen conversionType="Hash">
<property name="Screen Width" value="448"/>
<property name="Initialize Commands" value=""/>
<property name="screenTitle" value="new_screen1"/>
<bean>
<property name="background" value="-3355393"/>
<property name="Layout Manager Constraints" value=""/>
<property name="Layout Constraints" value="Center"/>
<property name="Layout Manager" value="GridBag Layout"/>
<property name="InstanceName" value="Top"/>
<property name="PropertyOrder" value=",background,"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Panel" value="container"/>
<property name="UserCode_Bean_Top" value="Bean_Top"/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JPanel();"/>
<property name="background" value="-3355444"/>
<property name="Layout Manager Constraints" value=""/>
<property name="Layout Constraints" value="0,0,1,1,1,10,0,0,0.1,0.1,0,0,0,0"/>
<property name="UserCode_Bean_JPanel5" value="Bean_JPanel5"/>
<property name="DefaultSize" value="273,170"/>
<property name="border" value="SoftBevelBorder,0,null,null,null,null"/>
<property name="Layout Manager" value="GridBag Layout"/>
<property name="InstanceName" value="JPanel5"/>
<property name="PropertyOrder" value=",border,background,"/>
<property name="Bean Permissions" value="255"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Panel" value="Top"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JScrollPane();"/>
<property name="Layout Manager Constraints" value=""/>
<property name="Layout Constraints" value="0,0,1,1,1,10,0,0,0.1,0.1,5,5,5,5"/>
<property name="DefaultSize" value="30,30"/>
<property name="Layout Manager" value="Viewport Layout"/>
<property name="InstanceName" value="JScrollPane1"/>
<property name="Bean Permissions" value="255"/>
<property name="UserCode_Bean_JScrollPane1" value="Bean_JScrollPane1"/>
<property name="ClassName" value="javax.swing.JScrollPane"/>
<property name="Panel" value="JPanel5"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="UserCode_Bean_table" value="Bean_table"/>
<property name="rowHeight" value="21"/>
<property name="Initializer" value="new javax.swing.JTable();"/>
<property name="PopupMenu" value="none"/>
<property name="DefaultSize" value="20,20"/>
<property name="model" value="tableModel$BEAN"/>
<property name="InstanceName" value="table"/>
<property name="PropertyOrder" value=",model,rowHeight,"/>
<property name="Bean Permissions" value="247"/>
<property name="ClassName" value="javax.swing.JTable"/>
<property name="Panel" value="JScrollPane1"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JPanel();"/>
<property name="background" value="-3355444"/>
<property name="Layout Manager Constraints" value=""/>
<property name="Layout Constraints" value="0,1,1,1,2,10,0,0,0.1,0.0,5,5,5,5"/>
<property name="DefaultSize" value="249,43"/>
<property name="UserCode_Bean_JPanel4" value="Bean_JPanel4"/>
<property name="Layout Manager" value="GridBag Layout"/>
<property name="InstanceName" value="JPanel4"/>
<property name="PropertyOrder" value=",background,"/>
<property name="Bean Permissions" value="255"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Panel" value="JPanel5"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JLabel();"/>
<property name="Layout Constraints" value="0,0,1,1,0,10,0,0,0.0,0.0,0,0,0,0"/>
<property name="UserCode_Bean_JLabel3" value="Bean_JLabel3"/>
<property name="DefaultSize" value="136,25"/>
<property name="InstanceName" value="JLabel3"/>
<property name="PropertyOrder" value=",foreground,text,"/>
<property name="Bean Permissions" value="247"/>
<property name="foreground" value="-16764109"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="Panel" value="JPanel4"/>
<property name="text" value="Enter Device Name"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JTextField();"/>
<property name="Layout Constraints" value="1,0,1,1,2,10,0,0,0.1,0.0,0,10,0,10"/>
<property name="DefaultSize" value="20,31"/>
<property name="border" value="SoftBevelBorder,1,null,null,null,null"/>
<property name="InstanceName" value="nameText"/>
<property name="PropertyOrder" value=",border,"/>
<property name="Bean Permissions" value="247"/>
<property name="UserCode_Bean_nameText" value="Bean_nameText"/>
<property name="ClassName" value="javax.swing.JTextField"/>
<property name="Panel" value="JPanel4"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JButton();"/>
<property name="Layout Constraints" value="2,0,1,1,0,10,0,0,0.0,0.0,0,0,0,0"/>
<property name="DefaultSize" value="65,35"/>
<property name="UserCode_Bean_addButton" value="Bean_addButton"/>
<property name="InstanceName" value="addButton"/>
<property name="PropertyOrder" value=",text,"/>
<property name="Bean Permissions" value="247"/>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="Panel" value="JPanel4"/>
<property name="text" value="Add"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JPanel();"/>
<property name="background" value="-3355444"/>
<property name="Layout Manager Constraints" value="5,5,2"/>
<property name="UserCode_Bean_JPanel6" value="Bean_JPanel6"/>
<property name="Layout Constraints" value="0,2,1,1,2,10,0,0,0.1,0.0,5,5,5,0"/>
<property name="DefaultSize" value="143,53"/>
<property name="Layout Manager" value="Flow Layout"/>
<property name="InstanceName" value="JPanel6"/>
<property name="PropertyOrder" value=",background,"/>
<property name="Bean Permissions" value="255"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Panel" value="JPanel5"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JButton();"/>
<property name="Layout Constraints" value="0"/>
<property name="DefaultSize" value="125,35"/>
<property name="InstanceName" value="searchButton"/>
<property name="PropertyOrder" value=",text,"/>
<property name="Bean Permissions" value="247"/>
<property name="UserCode_Bean_searchButton" value="Bean_searchButton"/>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="Panel" value="JPanel6"/>
<property name="text" value="Search Device"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.table.DefaultTableModel();"/>
<property name="Layout Constraints" value="BOTTOM"/>
<property name="DefaultSize" value="70,25"/>
<property name="InstanceName" value="tableModel"/>
<property name="Bean Permissions" value="247"/>
<property name="Panel" value="Bottom"/>
<property name="ClassName" value="javax.swing.table.DefaultTableModel"/>
<property name="UserCode_Bean_tableModel" value="Bean_tableModel"/>
<property name="Modifiers" value=""/>
</bean>
<property name="Import Code" value=""/>
<property name="Variable Definitions" value=""/>
<property name="Version" value="4.4"/>
<property name="Screen Height" value="396"/>
<property name="Start Commands" value=""/>
<property name="Type" value="Panel"/>
<connection>
<property name="ConnectionType" value="1"/>
<property name="ClassHeader" value="&#10; class JButton5_JButton5_conn1 implements java.awt.event.ActionListener, java.io.Serializable &#10;  {&#10;&#10;     //&lt;TOP_PART&gt;&#10;"/>
<property name="NeedsCompilation" value="false"/>
<property name="Targets" value="searchButton-TARGET"/>
<property name="UserCode_Connection_JButton5_JButton5_conn1" value="Connection_JButton5_JButton5_conn1"/>
<property name="Sources" value="searchButton-action-false"/>
<property name="ConnectionName" value="JButton5_JButton5_conn1"/>
<property name="ConnectionClass" value="java.awt.event.ActionListener"/>
<property name="Connection_Version" value="1"/>
<property name="ListenerMethodName" value="actionPerformed"/>
</connection>
<connection>
<property name="UserCode_Connection_table_table_conn1" value="Connection_table_table_conn1"/>
<property name="ConnectionType" value="1"/>
<property name="ClassHeader" value="&#10; class table_table_conn1 extends java.awt.event.MouseAdapter implements java.io.Serializable &#10;  {&#10;&#10;     //&lt;TOP_PART&gt;&#10;"/>
<property name="NeedsCompilation" value="false"/>
<property name="Targets" value="table-TARGET"/>
<property name="Sources" value="table-mouse-false"/>
<property name="ConnectionName" value="table_table_conn1"/>
<property name="ConnectionClass" value="java.awt.event.MouseAdapter"/>
<property name="Connection_Version" value="1"/>
<property name="ListenerMethodName" value="mousePressed"/>
</connection>
<connection>
<property name="ConnectionType" value="1"/>
<property name="ClassHeader" value="&#10; class JButton4_JButton4_conn2 implements java.awt.event.ActionListener, java.io.Serializable &#10;  {&#10;&#10;     //&lt;TOP_PART&gt;&#10;"/>
<property name="NeedsCompilation" value="false"/>
<property name="Targets" value="addButton-TARGET"/>
<property name="Sources" value="addButton-action-false"/>
<property name="ConnectionName" value="JButton4_JButton4_conn2"/>
<property name="ConnectionClass" value="java.awt.event.ActionListener"/>
<property name="Connection_Version" value="1"/>
<property name="ListenerMethodName" value="actionPerformed"/>
<property name="UserCode_Connection_JButton4_JButton4_conn2" value="Connection_JButton4_JButton4_conn2"/>
</connection>
<connection>
<property name="ConnectionType" value="1"/>
<property name="ClassHeader" value="&#10; class nameText_nameText_conn1 extends java.awt.event.KeyAdapter implements java.io.Serializable &#10;  {&#10;&#10;     //&lt;TOP_PART&gt;&#10;"/>
<property name="NeedsCompilation" value="false"/>
<property name="Targets" value="nameText-TARGET"/>
<property name="UserCode_Connection_nameText_nameText_conn1" value="Connection_nameText_nameText_conn1"/>
<property name="Sources" value="nameText-key-false"/>
<property name="ConnectionName" value="nameText_nameText_conn1"/>
<property name="ConnectionClass" value="java.awt.event.KeyAdapter"/>
<property name="Connection_Version" value="1"/>
<property name="ListenerMethodName" value="keyReleased"/>
</connection>
<property name="MenuBarPresent" value="false"/>
<property name="Custom Code" value=""/>
<property name="GenSource" value="false"/>
<property name="Dummy Interface" value=""/>
<property name="ToolBarPresent" value="true"/>
<property name="HorizontalSplitPanePos" value="170.0"/>
<property name="SubVersion" value="4.4"/>
<property name="LookAndFeel" value="None"/>
</screen>
