<?xml version="1.0" encoding="UTF-8"?>
<screen conversionType="Hash">
<property name="Screen Width" value="500"/>
<property name="Initialize Commands" value=""/>
<property name="screenTitle" value="new_screen1"/>
<bean>
<property name="UserCode_Bean_Top" value="Bean_Top"/>
<property name="InstanceName" value="Top"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Layout Manager" value="GridBag Layout"/>
<property name="Panel" value="container"/>
<property name="Layout Constraints" value="Center"/>
<property name="Layout Manager Constraints" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Manager Constraints" value="5,10,1,0"/>
<property name="Layout Constraints" value="0,0,1,1,1,10,0,0,0.1,0.1,5,5,5,5"/>
<property name="DefaultSize" value="501,303"/>
<property name="UserCode_Bean_JPanel4" value="Bean_JPanel4"/>
<property name="border" value="TitledBorder,[EtchedBorder,0,null,null],Protocol Information,0,2,Dialog+0+12,-16777012"/>
<property name="Layout Manager" value="Grid Layout"/>
<property name="InstanceName" value="JPanel4"/>
<property name="PropertyOrder" value=",border,"/>
<property name="Bean Permissions" value="252"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Panel" value="Top"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Manager Constraints" value=""/>
<property name="Layout Constraints" value="0"/>
<property name="DefaultSize" value="233,257"/>
<property name="border" value="EtchedBorder,1,null,null"/>
<property name="UserCode_Bean_JPanel2" value="Bean_JPanel2"/>
<property name="Layout Manager" value="GridBag Layout"/>
<property name="InstanceName" value="JPanel2"/>
<property name="PropertyOrder" value=",border,"/>
<property name="Bean Permissions" value="252"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Panel" value="JPanel4"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Constraints" value="0,0,1,1,2,10,0,0,0.1,0.0,20,50,10,50"/>
<property name="DefaultSize" value="67,33"/>
<property name="InstanceName" value="snmpButton"/>
<property name="PropertyOrder" value=",text,"/>
<property name="Bean Permissions" value="244"/>
<property name="UserCode_Bean_snmpButton" value="Bean_snmpButton"/>
<property name="ClassName" value="javax.swing.JRadioButton"/>
<property name="Panel" value="JPanel2"/>
<property name="text" value="SNMP"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Constraints" value="0,2,1,1,2,10,0,0,0.1,0.0,0,50,10,50"/>
<property name="DefaultSize" value="68,33"/>
<property name="InstanceName" value="telnetButton"/>
<property name="UserCode_Bean_telnetButton" value="Bean_telnetButton"/>
<property name="PropertyOrder" value=",text,"/>
<property name="Bean Permissions" value="244"/>
<property name="ClassName" value="javax.swing.JRadioButton"/>
<property name="Panel" value="JPanel2"/>
<property name="text" value="Telnet"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="UserCode_Bean_tftpButton" value="Bean_tftpButton"/>
<property name="Layout Constraints" value="0,4,1,1,2,10,0,0,0.1,0.0,0,50,10,50"/>
<property name="DefaultSize" value="62,33"/>
<property name="InstanceName" value="tftpButton"/>
<property name="PropertyOrder" value=",text,"/>
<property name="Bean Permissions" value="244"/>
<property name="ClassName" value="javax.swing.JRadioButton"/>
<property name="Panel" value="JPanel2"/>
<property name="text" value="TFTP"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="UserCode_Bean_ftpButton" value="Bean_ftpButton"/>
<property name="Layout Constraints" value="0,3,1,1,2,10,0,0,0.1,0.0,0,50,10,50"/>
<property name="DefaultSize" value="62,33"/>
<property name="InstanceName" value="ftpButton"/>
<property name="PropertyOrder" value=",text,"/>
<property name="Bean Permissions" value="244"/>
<property name="ClassName" value="javax.swing.JRadioButton"/>
<property name="Panel" value="JPanel2"/>
<property name="text" value="FTP"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Constraints" value="0,1,1,1,2,10,0,0,0.1,0.0,0,50,10,50"/>
<property name="DefaultSize" value="54,33"/>
<property name="InstanceName" value="tl1Button"/>
<property name="PropertyOrder" value=",text,"/>
<property name="Bean Permissions" value="244"/>
<property name="UserCode_Bean_tl1Button" value="Bean_tl1Button"/>
<property name="ClassName" value="javax.swing.JRadioButton"/>
<property name="Panel" value="JPanel2"/>
<property name="text" value="TL1"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Manager Constraints" value="5,5"/>
<property name="Layout Constraints" value="1"/>
<property name="UserCode_Bean_JPanel5" value="Bean_JPanel5"/>
<property name="DefaultSize" value="223,47"/>
<property name="border" value="BevelBorder,1,null,null,null,null"/>
<property name="Layout Manager" value="Border Layout"/>
<property name="InstanceName" value="JPanel5"/>
<property name="PropertyOrder" value=",border,"/>
<property name="Bean Permissions" value="252"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Panel" value="JPanel4"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Constraints" value="Center"/>
<property name="editable" value="false"/>
<property name="DefaultSize" value="201,25"/>
<property name="opaque" value="false"/>
<property name="InstanceName" value="JTextArea2"/>
<property name="PropertyOrder" value=",opaque,editable,lineWrap,wrapStyleWord,"/>
<property name="Bean Permissions" value="244"/>
<property name="wrapStyleWord" value="true"/>
<property name="ClassName" value="javax.swing.JTextArea"/>
<property name="Panel" value="JPanel5"/>
<property name="UserCode_Bean_JTextArea2" value="Bean_JTextArea2"/>
<property name="Modifiers" value=""/>
<property name="lineWrap" value="true"/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.ButtonGroup();"/>
<property name="Layout Constraints" value="BOTTOM"/>
<property name="DefaultSize" value="86,25"/>
<property name="UserCode_Bean_ButtonGroup1" value="Bean_ButtonGroup1"/>
<property name="InstanceName" value="ButtonGroup1"/>
<property name="Bean Permissions" value="247"/>
<property name="Panel" value="Bottom"/>
<property name="ClassName" value="javax.swing.ButtonGroup"/>
<property name="Modifiers" value=""/>
</bean>
<property name="Import Code" value=""/>
<property name="Variable Definitions" value=""/>
<property name="Version" value="4.4"/>
<property name="Screen Height" value="360"/>
<property name="Start Commands" value=""/>
<property name="Type" value="Panel"/>
<property name="MenuBarPresent" value="false"/>
<property name="Custom Code" value=""/>
<property name="GenSource" value="false"/>
<property name="Dummy Interface" value=""/>
<property name="ToolBarPresent" value="true"/>
<property name="HorizontalSplitPanePos" value="170.0"/>
<property name="SubVersion" value="4.4"/>
<property name="LookAndFeel" value="None"/>
</screen>
