<?xml version="1.0" encoding="UTF-8"?>
<screen conversionType="Hash">
<property name="Screen Width" value="623"/>
<property name="Initialize Commands" value=""/>
<property name="screenTitle" value="Task Results"/>
<bean>
<property name="UserCode_Bean_Top" value="Bean_Top"/>
<property name="InstanceName" value="Top"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Layout Manager" value="Border Layout"/>
<property name="Panel" value="container"/>
<property name="Layout Constraints" value="Center"/>
<property name="Layout Manager Constraints" value="5,5"/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JPanel();"/>
<property name="Layout Manager Constraints" value="15,5,1"/>
<property name="Layout Constraints" value="South"/>
<property name="DefaultSize" value="487,53"/>
<property name="Layout Manager" value="Flow Layout"/>
<property name="PaddingSize" value="248,0"/>
<property name="InstanceName" value="closePanel"/>
<property name="Bean Permissions" value="255"/>
<property name="UserCode_Bean_closePanel" value="Bean_closePanel"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Panel" value="Top"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="UserCode_Bean_JButton1" value="Bean_JButton1"/>
<property name="Initializer" value="new javax.swing.JButton();"/>
<property name="Layout Constraints" value="0"/>
<property name="DefaultSize" value="109,35"/>
<property name="InstanceName" value="JButton1"/>
<property name="PropertyOrder" value=",text,"/>
<property name="Bean Permissions" value="247"/>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="Panel" value="closePanel"/>
<property name="text" value="Save Result"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JButton();"/>
<property name="Layout Constraints" value="1"/>
<property name="font" value="Dialog+1+12"/>
<property name="DefaultSize" value="77,35"/>
<property name="UserCode_Bean_closeButton" value="Bean_closeButton"/>
<property name="PaddingSize" value="2,0"/>
<property name="InstanceName" value="closeButton"/>
<property name="PropertyOrder" value=",text,font,"/>
<property name="Bean Permissions" value="247"/>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="Panel" value="closePanel"/>
<property name="text" value="Close"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JPanel();"/>
<property name="Layout Manager Constraints" value="5,5"/>
<property name="Layout Constraints" value="North"/>
<property name="DefaultSize" value="521,66"/>
<property name="Layout Manager" value="Border Layout"/>
<property name="PaddingSize" value="10,10"/>
<property name="InstanceName" value="labelPanel"/>
<property name="UserCode_Bean_labelPanel" value="Bean_labelPanel"/>
<property name="Bean Permissions" value="255"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Panel" value="Top"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new com.adventnet.beans.images.ImageLabel(applet);"/>
<property name="Layout Manager Constraints" value="5,5,1"/>
<property name="Layout Constraints" value="Center"/>
<property name="DefaultSize" value="503,48"/>
<property name="Layout Manager" value="Flow Layout"/>
<property name="Image File" value="./images/taskresult.jpg"/>
<property name="InstanceName" value="ImageLabel1"/>
<property name="PropertyOrder" value=",Image File,"/>
<property name="Bean Permissions" value="255"/>
<property name="UserCode_Bean_ImageLabel1" value="Bean_ImageLabel1"/>
<property name="ClassName" value="com.adventnet.beans.images.ImageLabel"/>
<property name="Panel" value="labelPanel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JPanel();"/>
<property name="Layout Manager Constraints" value="5,5"/>
<property name="Layout Constraints" value="Center"/>
<property name="DefaultSize" value="507,196"/>
<property name="Layout Manager" value="Border Layout"/>
<property name="UserCode_Bean_JPanel1" value="Bean_JPanel1"/>
<property name="PaddingSize" value="10,10"/>
<property name="InstanceName" value="JPanel1"/>
<property name="Bean Permissions" value="255"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Panel" value="Top"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JPanel();"/>
<property name="Layout Manager Constraints" value="5,5"/>
<property name="Layout Constraints" value="Center"/>
<property name="DefaultSize" value="489,128"/>
<property name="Layout Manager" value="Card Layout"/>
<property name="PaddingSize" value="469,108"/>
<property name="InstanceName" value="resultPanel"/>
<property name="Bean Permissions" value="255"/>
<property name="UserCode_Bean_resultPanel" value="Bean_resultPanel"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Panel" value="JPanel1"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JPanel();"/>
<property name="Layout Manager Constraints" value=""/>
<property name="Layout Constraints" value="North"/>
<property name="DefaultSize" value="252,45"/>
<property name="Layout Manager" value="GridBag Layout"/>
<property name="InstanceName" value="buttonPanel"/>
<property name="Bean Permissions" value="255"/>
<property name="UserCode_Bean_buttonPanel" value="Bean_buttonPanel"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Panel" value="JPanel1"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JRadioButton();"/>
<property name="Layout Constraints" value="0,0,1,1,0,10,0,0,0.0,0.0,2,2,2,2"/>
<property name="DefaultSize" value="76,33"/>
<property name="InstanceName" value="Tabular"/>
<property name="PropertyOrder" value=",text,"/>
<property name="Bean Permissions" value="247"/>
<property name="ClassName" value="javax.swing.JRadioButton"/>
<property name="Panel" value="buttonPanel"/>
<property name="UserCode_Bean_Tabular" value="Bean_Tabular"/>
<property name="text" value="Tabular"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JRadioButton();"/>
<property name="Layout Constraints" value="1,0,1,1,0,10,0,0,0.0,0.0,2,2,2,2"/>
<property name="UserCode_Bean_NotTabular" value="Bean_NotTabular"/>
<property name="DefaultSize" value="98,33"/>
<property name="InstanceName" value="NotTabular"/>
<property name="PropertyOrder" value=",text,"/>
<property name="Bean Permissions" value="247"/>
<property name="ClassName" value="javax.swing.JRadioButton"/>
<property name="Panel" value="buttonPanel"/>
<property name="text" value="Text"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JRadioButton();"/>
<property name="Layout Constraints" value="2,0,1,1,0,10,0,0,0.0,0.0,2,2,2,2"/>
<property name="DefaultSize" value="58,33"/>
<property name="InstanceName" value="xml"/>
<property name="PropertyOrder" value=",text,"/>
<property name="UserCode_Bean_xml" value="Bean_xml"/>
<property name="Bean Permissions" value="247"/>
<property name="ClassName" value="javax.swing.JRadioButton"/>
<property name="Panel" value="buttonPanel"/>
<property name="text" value="XML"/>
<property name="Modifiers" value=""/>
</bean>
<property name="Import Code" value=""/>
<property name="Variable Definitions" value=""/>
<property name="Version" value="4.4"/>
<property name="Screen Height" value="484"/>
<property name="Start Commands" value=""/>
<property name="Type" value="Dialog"/>
<connection>
<property name="ConnectionType" value="1"/>
<property name="ClassHeader" value="&#10; class JButton1_JButton1_conn1 implements java.awt.event.ActionListener, java.io.Serializable &#10;  {&#10;&#10;     //&lt;TOP_PART&gt;&#10;"/>
<property name="NeedsCompilation" value="false"/>
<property name="Targets" value="closeButton-TARGET"/>
<property name="Sources" value="closeButton-action-false"/>
<property name="ConnectionName" value="JButton1_JButton1_conn1"/>
<property name="ConnectionClass" value="java.awt.event.ActionListener"/>
<property name="Connection_Version" value="1"/>
<property name="ListenerMethodName" value="actionPerformed"/>
<property name="UserCode_Connection_JButton1_JButton1_conn1" value="Connection_JButton1_JButton1_conn1"/>
</connection>
<property name="MenuBarPresent" value="true"/>
<property name="Custom Code" value=""/>
<property name="GenSource" value="false"/>
<property name="Dummy Interface" value=""/>
<property name="ToolBarPresent" value="true"/>
<property name="HorizontalSplitPanePos" value="170.0"/>
<property name="SubVersion" value="4.4"/>
<property name="LookAndFeel" value="None"/>
</screen>
