<?xml version="1.0" encoding="UTF-8"?>
<screen conversionType="Hash">
<property name="Screen Width" value="613"/>
<property name="Initialize Commands" value=""/>
<property name="screenTitle" value="new_screen1"/>
<bean>
<property name="UserCode_Bean_Top" value="Bean_Top"/>
<property name="InstanceName" value="Top"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Layout Manager" value="Border Layout"/>
<property name="Panel" value="container"/>
<property name="Layout Constraints" value="Center"/>
<property name="Layout Manager Constraints" value="5,5"/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Manager Constraints" value=""/>
<property name="Layout Constraints" value="Center"/>
<property name="DefaultSize" value="360,201"/>
<property name="Layout Manager" value="GridBag Layout"/>
<property name="UserCode_Bean_JPanel1" value="Bean_JPanel1"/>
<property name="PaddingSize" value="266,137"/>
<property name="InstanceName" value="JPanel1"/>
<property name="Bean Permissions" value="252"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Panel" value="Top"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Manager Constraints" value=""/>
<property name="Layout Constraints" value="0,0,1,1,1,10,0,0,0.1,0.1,0,0,0,0"/>
<property name="DefaultSize" value="86,56"/>
<property name="Layout Manager" value="SplitPane Layout"/>
<property name="InstanceName" value="JSplitPane1"/>
<property name="Bean Permissions" value="252"/>
<property name="ClassName" value="javax.swing.JSplitPane"/>
<property name="Panel" value="JPanel1"/>
<property name="UserCode_Bean_JSplitPane1" value="Bean_JSplitPane1"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Manager Constraints" value=""/>
<property name="horizontalScrollBarPolicy" value="32"/>
<property name="verticalScrollBarPolicy" value="22"/>
<property name="Layout Constraints" value="right,100"/>
<property name="DefaultSize" value="46,46"/>
<property name="Layout Manager" value="Viewport Layout"/>
<property name="InstanceName" value="JScrollPane1"/>
<property name="PropertyOrder" value=",horizontalScrollBarPolicy,verticalScrollBarPolicy,"/>
<property name="Bean Permissions" value="252"/>
<property name="UserCode_Bean_JScrollPane1" value="Bean_JScrollPane1"/>
<property name="ClassName" value="javax.swing.JScrollPane"/>
<property name="Panel" value="JSplitPane1"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="rowHeight" value="21"/>
<property name="Initializer" value=""/>
<property name="DefaultSize" value="20,20"/>
<property name="model" value="DefaultTableModel1$BEAN"/>
<property name="InstanceName" value="JTable1"/>
<property name="PropertyOrder" value=",model,rowHeight,"/>
<property name="Bean Permissions" value="244"/>
<property name="UserCode_Bean_JTable1" value="Bean_JTable1"/>
<property name="ClassName" value="javax.swing.JTable"/>
<property name="Panel" value="JScrollPane1"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Constraints" value="left,100"/>
<property name="DefaultSize" value="20,20"/>
<property name="InstanceName" value="JList1"/>
<property name="UserCode_Bean_JList1" value="Bean_JList1"/>
<property name="Bean Permissions" value="244"/>
<property name="Panel" value="JSplitPane1"/>
<property name="ClassName" value="javax.swing.JList"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="UserCode_Bean_DefaultTableModel1" value="Bean_DefaultTableModel1"/>
<property name="Layout Constraints" value="BOTTOM"/>
<property name="DefaultSize" value="120,25"/>
<property name="InstanceName" value="DefaultTableModel1"/>
<property name="Bean Permissions" value="244"/>
<property name="Panel" value="Bottom"/>
<property name="ClassName" value="javax.swing.table.DefaultTableModel"/>
<property name="Modifiers" value=""/>
</bean>
<property name="Import Code" value=""/>
<property name="Variable Definitions" value=""/>
<property name="Version" value="4.4"/>
<property name="Screen Height" value="468"/>
<property name="Start Commands" value=""/>
<property name="Type" value="Panel"/>
<property name="MenuBarPresent" value="true"/>
<property name="Custom Code" value=""/>
<property name="GenSource" value="false"/>
<property name="Dummy Interface" value=""/>
<property name="ToolBarPresent" value="true"/>
<property name="HorizontalSplitPanePos" value="170.0"/>
<property name="SubVersion" value="4.4"/>
<property name="LookAndFeel" value="None"/>
</screen>
