<?xml version="1.0" encoding="UTF-8"?>
<screen conversionType="Hash">
<property name="Screen Width" value="565"/>
<property name="Initialize Commands" value=""/>
<property name="screenTitle" value="new_screen1"/>
<bean>
<property name="UserCode_Bean_Top" value="Bean_Top"/>
<property name="InstanceName" value="Top"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Layout Manager" value="GridBag Layout"/>
<property name="Panel" value="container"/>
<property name="Layout Constraints" value="Center"/>
<property name="Layout Manager Constraints" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="background" value="-1"/>
<property name="Layout Manager Constraints" value=""/>
<property name="Layout Constraints" value="0,0,1,1,2,10,0,0,0.1,0.0,10,5,10,5"/>
<property name="DefaultSize" value="291,55"/>
<property name="border" value="EtchedBorder,1,null,null"/>
<property name="Layout Manager" value="GridBag Layout"/>
<property name="UserCode_Bean_JPanel1" value="Bean_JPanel1"/>
<property name="InstanceName" value="JPanel1"/>
<property name="opaque" value="false"/>
<property name="PropertyOrder" value=",background,opaque,border,"/>
<property name="Bean Permissions" value="255"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Panel" value="Top"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JPanel();"/>
<property name="UserCode_Bean_JPanel8" value="Bean_JPanel8"/>
<property name="Layout Manager Constraints" value=""/>
<property name="Layout Constraints" value="0,0,1,1,2,10,0,0,0.1,0.0,5,5,5,20"/>
<property name="DefaultSize" value="86,33"/>
<property name="Layout Manager" value="GridBag Layout"/>
<property name="InstanceName" value="JPanel8"/>
<property name="Bean Permissions" value="255"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Panel" value="JPanel1"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="UserCode_Bean_JLabel6" value="Bean_JLabel6"/>
<property name="Layout Constraints" value="0,0,1,1,1,10,0,0,0.0,0.0,0,0,0,0"/>
<property name="DefaultSize" value="78,25"/>
<property name="InstanceName" value="JLabel6"/>
<property name="PropertyOrder" value=",text,foreground,"/>
<property name="Bean Permissions" value="247"/>
<property name="foreground" value="-16764109"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="Panel" value="JPanel8"/>
<property name="text" value="Task Details"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="UserCode_Bean_JButton1" value="Bean_JButton1"/>
<property name="Initializer" value="new javax.swing.JButton();"/>
<property name="background" value="-1"/>
<property name="Layout Constraints" value="1,0,1,1,0,10,0,0,0.0,0.0,5,5,5,10"/>
<property name="maximumSize" value="35,23"/>
<property name="minimumSize" value="35,23"/>
<property name="DefaultSize" value="43,31"/>
<property name="InstanceName" value="JButton1"/>
<property name="PropertyOrder" value=",preferredSize,minimumSize,maximumSize,background,focusPainted,"/>
<property name="Bean Permissions" value="247"/>
<property name="preferredSize" value="35,23"/>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="Panel" value="JPanel1"/>
<property name="focusPainted" value="false"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Manager Constraints" value="5,5,2"/>
<property name="Layout Constraints" value="0,3,1,1,2,10,0,0,0.1,0.0,5,5,5,5"/>
<property name="DefaultSize" value="131,57"/>
<property name="UserCode_Bean_JPanel4" value="Bean_JPanel4"/>
<property name="border" value="EtchedBorder,1,null,null"/>
<property name="Layout Manager" value="Flow Layout"/>
<property name="InstanceName" value="JPanel4"/>
<property name="PropertyOrder" value=",border,"/>
<property name="Bean Permissions" value="255"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Panel" value="Top"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Constraints" value="0"/>
<property name="DefaultSize" value="75,35"/>
<property name="UserCode_Bean_closeButton" value="Bean_closeButton"/>
<property name="InstanceName" value="closeButton"/>
<property name="PropertyOrder" value=",text,"/>
<property name="Bean Permissions" value="247"/>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="Panel" value="JPanel4"/>
<property name="text" value="Close"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Manager Constraints" value=""/>
<property name="UserCode_Bean_JPanel6" value="Bean_JPanel6"/>
<property name="Layout Constraints" value="0,1,1,1,2,10,0,0,0.1,0.0,5,5,10,5"/>
<property name="DefaultSize" value="394,244"/>
<property name="Layout Manager" value="GridBag Layout"/>
<property name="InstanceName" value="JPanel6"/>
<property name="Bean Permissions" value="255"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Panel" value="Top"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Manager Constraints" value=""/>
<property name="Layout Constraints" value="1,0,1,1,2,10,0,0,0.1,0.0,0,0,0,0"/>
<property name="DefaultSize" value="356,236"/>
<property name="border" value="EtchedBorder,1,null,null"/>
<property name="UserCode_Bean_JPanel2" value="Bean_JPanel2"/>
<property name="Layout Manager" value="GridBag Layout"/>
<property name="InstanceName" value="JPanel2"/>
<property name="PropertyOrder" value=",border,"/>
<property name="Bean Permissions" value="255"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Panel" value="JPanel6"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Constraints" value="0,1,1,1,0,18,0,0,0.0,0.0,5,5,5,25"/>
<property name="DefaultSize" value="110,25"/>
<property name="UserCode_Bean_JLabel2" value="Bean_JLabel2"/>
<property name="InstanceName" value="JLabel2"/>
<property name="PropertyOrder" value=",text,foreground,"/>
<property name="Bean Permissions" value="247"/>
<property name="foreground" value="-16764109"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="Panel" value="JPanel2"/>
<property name="text" value="Task Description  "/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Constraints" value="1,1,1,1,2,18,0,0,0.1,0.0,5,5,5,5"/>
<property name="editable" value="false"/>
<property name="DefaultSize" value="20,29"/>
<property name="opaque" value="false"/>
<property name="InstanceName" value="JTextField2"/>
<property name="PropertyOrder" value=",opaque,foreground,editable,text,"/>
<property name="Bean Permissions" value="247"/>
<property name="foreground" value="-16764109"/>
<property name="ClassName" value="javax.swing.JTextField"/>
<property name="Panel" value="JPanel2"/>
<property name="UserCode_Bean_JTextField2" value="Bean_JTextField2"/>
<property name="text" value=""/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Constraints" value="0,2,1,1,0,18,0,0,0.0,0.0,5,5,5,25"/>
<property name="UserCode_Bean_JLabel3" value="Bean_JLabel3"/>
<property name="DefaultSize" value="72,25"/>
<property name="InstanceName" value="JLabel3"/>
<property name="PropertyOrder" value=",text,foreground,"/>
<property name="Bean Permissions" value="247"/>
<property name="foreground" value="-16764109"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="Panel" value="JPanel2"/>
<property name="text" value="Protocols   "/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Constraints" value="1,2,1,1,2,18,0,0,0.1,0.0,5,5,5,5"/>
<property name="editable" value="false"/>
<property name="DefaultSize" value="20,29"/>
<property name="opaque" value="false"/>
<property name="InstanceName" value="JTextField3"/>
<property name="PropertyOrder" value=",opaque,foreground,editable,text,"/>
<property name="Bean Permissions" value="247"/>
<property name="foreground" value="-16764109"/>
<property name="ClassName" value="javax.swing.JTextField"/>
<property name="Panel" value="JPanel2"/>
<property name="UserCode_Bean_JTextField3" value="Bean_JTextField3"/>
<property name="text" value=""/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Constraints" value="0,4,1,1,0,18,0,0,0.0,0.0,5,5,15,25"/>
<property name="DefaultSize" value="77,25"/>
<property name="InstanceName" value="commonLabel"/>
<property name="PropertyOrder" value=",text,foreground,"/>
<property name="Bean Permissions" value="247"/>
<property name="foreground" value="-16764109"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="Panel" value="JPanel2"/>
<property name="UserCode_Bean_commonLabel" value="Bean_commonLabel"/>
<property name="text" value="Device Lists"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Constraints" value="0,0,1,1,0,18,0,0,0.0,0.0,15,5,5,25"/>
<property name="DefaultSize" value="81,25"/>
<property name="UserCode_Bean_JLabel1" value="Bean_JLabel1"/>
<property name="InstanceName" value="JLabel1"/>
<property name="PropertyOrder" value=",text,foreground,"/>
<property name="Bean Permissions" value="247"/>
<property name="foreground" value="-16764109"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="Panel" value="JPanel2"/>
<property name="text" value="Task Name   "/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Constraints" value="1,0,1,1,2,18,3,0,0.1,0.0,15,5,5,5"/>
<property name="editable" value="false"/>
<property name="DefaultSize" value="183,29"/>
<property name="opaque" value="false"/>
<property name="InstanceName" value="JTextField1"/>
<property name="PropertyOrder" value=",opaque,foreground,editable,text,"/>
<property name="Bean Permissions" value="247"/>
<property name="foreground" value="-16764109"/>
<property name="ClassName" value="javax.swing.JTextField"/>
<property name="Panel" value="JPanel2"/>
<property name="text" value=""/>
<property name="UserCode_Bean_JTextField1" value="Bean_JTextField1"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Manager Constraints" value=""/>
<property name="UserCode_Bean_JPanel7" value="Bean_JPanel7"/>
<property name="Layout Constraints" value="1,4,1,1,2,18,0,0,0.1,0.0,5,5,15,5"/>
<property name="DefaultSize" value="103,38"/>
<property name="Layout Manager" value="GridBag Layout"/>
<property name="InstanceName" value="JPanel7"/>
<property name="Bean Permissions" value="255"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Panel" value="JPanel2"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="UserCode_Bean_deviceListText" value="Bean_deviceListText"/>
<property name="Initializer" value=""/>
<property name="Layout Constraints" value="0,0,1,1,2,18,0,0,0.1,0.0,0,0,0,0"/>
<property name="editable" value="false"/>
<property name="DefaultSize" value="20,29"/>
<property name="opaque" value="false"/>
<property name="InstanceName" value="deviceListText"/>
<property name="PropertyOrder" value=",editable,opaque,"/>
<property name="Bean Permissions" value="247"/>
<property name="ClassName" value="javax.swing.JTextField"/>
<property name="Panel" value="JPanel7"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="UserCode_Bean_JLabel7" value="Bean_JLabel7"/>
<property name="Initializer" value=""/>
<property name="Layout Constraints" value="0,3,1,1,0,18,0,0,0.0,0.0,5,5,5,25"/>
<property name="DefaultSize" value="118,25"/>
<property name="InstanceName" value="JLabel7"/>
<property name="PropertyOrder" value=",text,foreground,"/>
<property name="Bean Permissions" value="247"/>
<property name="foreground" value="-16764109"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="Panel" value="JPanel2"/>
<property name="text" value="Rollback Document"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Constraints" value="1,3,1,1,2,18,0,0,0.0,0.0,5,5,5,5"/>
<property name="editable" value="false"/>
<property name="DefaultSize" value="20,29"/>
<property name="opaque" value="false"/>
<property name="InstanceName" value="JTextField5"/>
<property name="PropertyOrder" value=",opaque,editable,"/>
<property name="Bean Permissions" value="247"/>
<property name="UserCode_Bean_JTextField5" value="Bean_JTextField5"/>
<property name="ClassName" value="javax.swing.JTextField"/>
<property name="Panel" value="JPanel2"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="UserCode_Bean_JLabel8" value="Bean_JLabel8"/>
<property name="Initializer" value="new javax.swing.JLabel();"/>
<property name="Layout Constraints" value="0,0,1,1,3,10,0,0,0.0,0.1,0,0,0,10"/>
<property name="DefaultSize" value="20,20"/>
<property name="border" value="SoftBevelBorder,1,null,null,null,null"/>
<property name="InstanceName" value="JLabel8"/>
<property name="PropertyOrder" value=",border,"/>
<property name="Bean Permissions" value="247"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="Panel" value="JPanel6"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Manager Constraints" value="5,5"/>
<property name="Layout Constraints" value="0,2,1,1,1,10,0,0,0.1,0.1,5,5,5,5"/>
<property name="DefaultSize" value="332,121"/>
<property name="UserCode_Bean_JPanel3" value="Bean_JPanel3"/>
<property name="border" value="EtchedBorder,1,null,null"/>
<property name="Layout Manager" value="Border Layout"/>
<property name="InstanceName" value="JPanel3"/>
<property name="PropertyOrder" value=",border,"/>
<property name="Bean Permissions" value="255"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Panel" value="Top"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Manager Constraints" value=""/>
<property name="UserCode_Bean_cardPanel" value="Bean_cardPanel"/>
<property name="Layout Constraints" value="Center"/>
<property name="DefaultSize" value="42,42"/>
<property name="Layout Manager" value="GridBag Layout"/>
<property name="PaddingSize" value="22,22"/>
<property name="InstanceName" value="cardPanel"/>
<property name="Bean Permissions" value="255"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Panel" value="JPanel3"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Manager Constraints" value="22,5,0"/>
<property name="Layout Constraints" value="North"/>
<property name="UserCode_Bean_JPanel5" value="Bean_JPanel5"/>
<property name="DefaultSize" value="310,52"/>
<property name="Layout Manager" value="Flow Layout"/>
<property name="InstanceName" value="JPanel5"/>
<property name="Bean Permissions" value="255"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Panel" value="JPanel3"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="UserCode_Bean_JLabel4" value="Bean_JLabel4"/>
<property name="Layout Constraints" value="0"/>
<property name="DefaultSize" value="98,25"/>
<property name="InstanceName" value="JLabel4"/>
<property name="PropertyOrder" value=",text,foreground,"/>
<property name="Bean Permissions" value="247"/>
<property name="foreground" value="-16764109"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="Panel" value="JPanel5"/>
<property name="text" value="Subtask Names"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="UserCode_Bean_JComboBox1" value="Bean_JComboBox1"/>
<property name="Initializer" value=""/>
<property name="Layout Constraints" value="1"/>
<property name="DefaultSize" value="138,34"/>
<property name="InstanceName" value="JComboBox1"/>
<property name="Bean Permissions" value="247"/>
<property name="Panel" value="JPanel5"/>
<property name="ClassName" value="javax.swing.JComboBox"/>
<property name="Modifiers" value=""/>
</bean>
<property name="Import Code" value=""/>
<property name="Variable Definitions" value=""/>
<property name="Version" value="4.4"/>
<property name="Screen Height" value="555"/>
<property name="Start Commands" value=""/>
<property name="Type" value="Dialog"/>
<connection>
<property name="ConnectionType" value="1"/>
<property name="ClassHeader" value="&#10; class JButton1_JButton1_conn2 implements java.awt.event.ActionListener, java.io.Serializable &#10;  {&#10;&#10;     //&lt;TOP_PART&gt;&#10;"/>
<property name="NeedsCompilation" value="false"/>
<property name="Targets" value="JButton1-TARGET"/>
<property name="Sources" value="JButton1-action-false"/>
<property name="ConnectionName" value="JButton1_JButton1_conn2"/>
<property name="ConnectionClass" value="java.awt.event.ActionListener"/>
<property name="Connection_Version" value="1"/>
<property name="ListenerMethodName" value="actionPerformed"/>
<property name="UserCode_Connection_JButton1_JButton1_conn2" value="Connection_JButton1_JButton1_conn2"/>
</connection>
<connection>
<property name="ConnectionType" value="1"/>
<property name="ClassHeader" value="&#10; class JButton1_JButton1_conn1 implements java.awt.event.ActionListener, java.io.Serializable &#10;  {&#10;&#10;     //&lt;TOP_PART&gt;&#10;"/>
<property name="NeedsCompilation" value="false"/>
<property name="Targets" value="closeButton-TARGET"/>
<property name="Sources" value="closeButton-action-false"/>
<property name="ConnectionName" value="JButton1_JButton1_conn1"/>
<property name="ConnectionClass" value="java.awt.event.ActionListener"/>
<property name="Connection_Version" value="1"/>
<property name="ListenerMethodName" value="actionPerformed"/>
<property name="UserCode_Connection_JButton1_JButton1_conn1" value="Connection_JButton1_JButton1_conn1"/>
</connection>
<property name="MenuBarPresent" value="true"/>
<property name="Custom Code" value=""/>
<property name="GenSource" value="false"/>
<property name="Dummy Interface" value=""/>
<property name="ToolBarPresent" value="true"/>
<property name="HorizontalSplitPanePos" value="170.0"/>
<property name="SubVersion" value="4.4"/>
<property name="LookAndFeel" value="None"/>
</screen>
