<?xml version="1.0" encoding="UTF-8"?>
<screen conversionType="Hash">
<property name="Screen Width" value="510"/>
<property name="Initialize Commands" value=""/>
<property name="screenTitle" value="TaskName Panel"/>
<bean>
<property name="UserCode_Bean_Top" value="Bean_Top"/>
<property name="InstanceName" value="Top"/>
<property name="PopupMenu" value="none"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Layout Manager" value="GridBag Layout"/>
<property name="Panel" value="container"/>
<property name="Layout Constraints" value="Center"/>
<property name="Layout Manager Constraints" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Manager Constraints" value=""/>
<property name="Layout Constraints" value="0,0,1,1,2,10,0,0,0.1,0.0,15,10,20,10"/>
<property name="DefaultSize" value="175,94"/>
<property name="border" value="EtchedBorder,1,null,null"/>
<property name="Layout Manager" value="GridBag Layout"/>
<property name="UserCode_Bean_JPanel1" value="Bean_JPanel1"/>
<property name="InstanceName" value="JPanel1"/>
<property name="PropertyOrder" value=",border,"/>
<property name="Bean Permissions" value="252"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Panel" value="Top"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Constraints" value="0,0,1,1,0,18,0,0,0.0,0.0,5,5,5,5"/>
<property name="DefaultSize" value="123,25"/>
<property name="UserCode_Bean_JLabel1" value="Bean_JLabel1"/>
<property name="InstanceName" value="JLabel1"/>
<property name="PropertyOrder" value=",foreground,text,"/>
<property name="Bean Permissions" value="244"/>
<property name="foreground" value="-16764109"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="Panel" value="JPanel1"/>
<property name="text" value="Name of the Task  **"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Constraints" value="1,0,1,1,2,18,0,0,0.1,0.0,5,5,5,5"/>
<property name="DefaultSize" value="20,31"/>
<property name="border" value="SoftBevelBorder,1,null,null,null,null"/>
<property name="InstanceName" value="nameText"/>
<property name="PropertyOrder" value=",border,"/>
<property name="Bean Permissions" value="244"/>
<property name="UserCode_Bean_nameText" value="Bean_nameText"/>
<property name="ClassName" value="javax.swing.JTextField"/>
<property name="Panel" value="JPanel1"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Constraints" value="0,1,1,1,0,18,0,0,0.0,0.0,5,5,5,5"/>
<property name="UserCode_Bean_JLabel3" value="Bean_JLabel3"/>
<property name="DefaultSize" value="104,25"/>
<property name="InstanceName" value="JLabel3"/>
<property name="PropertyOrder" value=",text,foreground,"/>
<property name="Bean Permissions" value="247"/>
<property name="foreground" value="-16764109"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="Panel" value="JPanel1"/>
<property name="text" value="Task Description"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Constraints" value="1,1,1,1,2,18,0,0,0.1,0.0,5,5,5,5"/>
<property name="DefaultSize" value="20,31"/>
<property name="UserCode_Bean_descriptionText" value="Bean_descriptionText"/>
<property name="border" value="SoftBevelBorder,1,null,null,null,null"/>
<property name="InstanceName" value="descriptionText"/>
<property name="PropertyOrder" value=",border,"/>
<property name="Bean Permissions" value="247"/>
<property name="ClassName" value="javax.swing.JTextField"/>
<property name="Panel" value="JPanel1"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="PopupMenu" value="none"/>
<property name="Layout Manager Constraints" value=""/>
<property name="Layout Constraints" value="0,2,1,1,2,10,0,0,0.1,0.0,0,10,10,10"/>
<property name="DefaultSize" value="240,51"/>
<property name="UserCode_Bean_JPanel3" value="Bean_JPanel3"/>
<property name="border" value="EtchedBorder,1,null,null"/>
<property name="Layout Manager" value="GridBag Layout"/>
<property name="InstanceName" value="JPanel3"/>
<property name="PropertyOrder" value=",border,"/>
<property name="Bean Permissions" value="252"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Panel" value="Top"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="PopupMenu" value="none"/>
<property name="Layout Constraints" value="0,0,1,1,0,18,0,0,0.1,0.0,5,5,5,5"/>
<property name="DefaultSize" value="130,25"/>
<property name="UserCode_Bean_JLabel2" value="Bean_JLabel2"/>
<property name="InstanceName" value="JLabel2"/>
<property name="PropertyOrder" value=",foreground,text,"/>
<property name="Bean Permissions" value="244"/>
<property name="foreground" value="-16764109"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="Panel" value="JPanel3"/>
<property name="text" value="Define as Template ?"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Constraints" value="1,0,1,1,0,18,0,0,0.6,0.0,5,5,5,5"/>
<property name="DefaultSize" value="29,29"/>
<property name="InstanceName" value="templateCheck"/>
<property name="Bean Permissions" value="247"/>
<property name="UserCode_Bean_templateCheck" value="Bean_templateCheck"/>
<property name="Panel" value="JPanel3"/>
<property name="ClassName" value="javax.swing.JCheckBox"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Manager Constraints" value="5,10,1,0"/>
<property name="Layout Constraints" value="0,1,1,1,1,10,0,0,0.1,0.1,0,10,20,10"/>
<property name="DefaultSize" value="501,303"/>
<property name="UserCode_Bean_JPanel4" value="Bean_JPanel4"/>
<property name="border" value="TitledBorder,[EtchedBorder,0,null,null],Protocol Information,0,2,Dialog+0+12,-16777012"/>
<property name="Layout Manager" value="Grid Layout"/>
<property name="InstanceName" value="JPanel4"/>
<property name="PropertyOrder" value=",border,"/>
<property name="Bean Permissions" value="252"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Panel" value="Top"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Manager Constraints" value=""/>
<property name="Layout Constraints" value="0"/>
<property name="DefaultSize" value="233,257"/>
<property name="border" value="EtchedBorder,1,null,null"/>
<property name="UserCode_Bean_JPanel2" value="Bean_JPanel2"/>
<property name="Layout Manager" value="GridBag Layout"/>
<property name="InstanceName" value="JPanel2"/>
<property name="PropertyOrder" value=",border,"/>
<property name="Bean Permissions" value="252"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Panel" value="JPanel4"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Constraints" value="0,0,1,1,2,10,0,0,0.1,0.0,20,50,10,50"/>
<property name="DefaultSize" value="67,33"/>
<property name="InstanceName" value="snmpButton"/>
<property name="PropertyOrder" value=",text,"/>
<property name="Bean Permissions" value="244"/>
<property name="UserCode_Bean_snmpButton" value="Bean_snmpButton"/>
<property name="ClassName" value="javax.swing.JRadioButton"/>
<property name="Panel" value="JPanel2"/>
<property name="text" value="SNMP"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Constraints" value="0,1,1,1,2,10,0,0,0.1,0.0,0,50,10,50"/>
<property name="DefaultSize" value="68,33"/>
<property name="InstanceName" value="telnetButton"/>
<property name="UserCode_Bean_telnetButton" value="Bean_telnetButton"/>
<property name="PropertyOrder" value=",text,"/>
<property name="Bean Permissions" value="244"/>
<property name="ClassName" value="javax.swing.JRadioButton"/>
<property name="Panel" value="JPanel2"/>
<property name="text" value="Telnet"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="UserCode_Bean_ftpButton" value="Bean_ftpButton"/>
<property name="Layout Constraints" value="0,2,1,1,2,10,0,0,0.1,0.0,0,50,10,50"/>
<property name="DefaultSize" value="62,33"/>
<property name="InstanceName" value="ftpButton"/>
<property name="PropertyOrder" value=",text,"/>
<property name="Bean Permissions" value="244"/>
<property name="ClassName" value="javax.swing.JRadioButton"/>
<property name="Panel" value="JPanel2"/>
<property name="text" value="FTP"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="UserCode_Bean_tftpButton" value="Bean_tftpButton"/>
<property name="Layout Constraints" value="0,3,1,1,2,10,0,0,0.1,0.0,0,50,10,50"/>
<property name="DefaultSize" value="62,33"/>
<property name="InstanceName" value="tftpButton"/>
<property name="PropertyOrder" value=",text,"/>
<property name="Bean Permissions" value="244"/>
<property name="ClassName" value="javax.swing.JRadioButton"/>
<property name="Panel" value="JPanel2"/>
<property name="text" value="TFTP"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Constraints" value="0,4,1,1,2,10,0,0,0.1,0.0,0,50,10,50"/>
<property name="DefaultSize" value="54,33"/>
<property name="InstanceName" value="tl1Button"/>
<property name="PropertyOrder" value=",text,"/>
<property name="Bean Permissions" value="244"/>
<property name="UserCode_Bean_tl1Button" value="Bean_tl1Button"/>
<property name="ClassName" value="javax.swing.JRadioButton"/>
<property name="Panel" value="JPanel2"/>
<property name="text" value="TL1"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Constraints" value="0,5,1,1,2,10,0,0,0.1,0.0,0,50,20,50"/>
<property name="DefaultSize" value="121,33"/>
<property name="InstanceName" value="combinedButton"/>
<property name="PropertyOrder" value=",text,"/>
<property name="Bean Permissions" value="244"/>
<property name="UserCode_Bean_combinedButton" value="Bean_combinedButton"/>
<property name="ClassName" value="javax.swing.JRadioButton"/>
<property name="Panel" value="JPanel2"/>
<property name="text" value="Combined Task"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Manager Constraints" value="5,5"/>
<property name="Layout Constraints" value="1"/>
<property name="UserCode_Bean_JPanel5" value="Bean_JPanel5"/>
<property name="DefaultSize" value="223,47"/>
<property name="border" value="BevelBorder,1,null,null,null,null"/>
<property name="Layout Manager" value="Border Layout"/>
<property name="InstanceName" value="JPanel5"/>
<property name="PropertyOrder" value=",border,"/>
<property name="Bean Permissions" value="252"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Panel" value="JPanel4"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Constraints" value="Center"/>
<property name="editable" value="false"/>
<property name="DefaultSize" value="201,25"/>
<property name="opaque" value="false"/>
<property name="InstanceName" value="JTextArea2"/>
<property name="PropertyOrder" value=",opaque,editable,lineWrap,wrapStyleWord,"/>
<property name="Bean Permissions" value="244"/>
<property name="wrapStyleWord" value="true"/>
<property name="ClassName" value="javax.swing.JTextArea"/>
<property name="Panel" value="JPanel5"/>
<property name="UserCode_Bean_JTextArea2" value="Bean_JTextArea2"/>
<property name="Modifiers" value=""/>
<property name="lineWrap" value="true"/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Constraints" value="BOTTOM"/>
<property name="DefaultSize" value="86,25"/>
<property name="UserCode_Bean_ButtonGroup1" value="Bean_ButtonGroup1"/>
<property name="InstanceName" value="ButtonGroup1"/>
<property name="Bean Permissions" value="244"/>
<property name="Panel" value="Bottom"/>
<property name="ClassName" value="javax.swing.ButtonGroup"/>
<property name="Modifiers" value=""/>
</bean>
<property name="Import Code" value=""/>
<property name="Variable Definitions" value=""/>
<property name="Version" value="4.4"/>
<property name="Screen Height" value="415"/>
<property name="Start Commands" value=""/>
<property name="Type" value="Panel"/>
<connection>
<property name="ConnectionType" value="1"/>
<property name="ClassHeader" value="&#10; class tl1Button_tl1Button_conn1 implements java.awt.event.ActionListener, java.io.Serializable &#10;  {&#10;&#10;     //&lt;TOP_PART&gt;&#10;"/>
<property name="NeedsCompilation" value="false"/>
<property name="Targets" value="tl1Button-TARGET"/>
<property name="Sources" value="tl1Button-action-false"/>
<property name="ConnectionName" value="tl1Button_tl1Button_conn1"/>
<property name="ConnectionClass" value="java.awt.event.ActionListener"/>
<property name="Connection_Version" value="1"/>
<property name="ListenerMethodName" value="actionPerformed"/>
<property name="UserCode_Connection_tl1Button_tl1Button_conn1" value="Connection_tl1Button_tl1Button_conn1"/>
</connection>
<connection>
<property name="ConnectionType" value="1"/>
<property name="ClassHeader" value="&#10; class combinedButton_combinedButton_conn1 implements java.awt.event.ActionListener, java.io.Serializable &#10;  {&#10;&#10;     //&lt;TOP_PART&gt;&#10;"/>
<property name="NeedsCompilation" value="false"/>
<property name="Targets" value="combinedButton-TARGET"/>
<property name="Sources" value="combinedButton-action-false"/>
<property name="ConnectionName" value="combinedButton_combinedButton_conn1"/>
<property name="ConnectionClass" value="java.awt.event.ActionListener"/>
<property name="UserCode_Connection_combinedButton_combinedButton_conn1" value="Connection_combinedButton_combinedButton_conn1"/>
<property name="Connection_Version" value="1"/>
<property name="ListenerMethodName" value="actionPerformed"/>
</connection>
<connection>
<property name="ConnectionType" value="1"/>
<property name="ClassHeader" value="&#10; class JRadioButton2_JRadioButton2_conn1 implements java.awt.event.ActionListener, java.io.Serializable &#10;  {&#10;&#10;     //&lt;TOP_PART&gt;&#10;"/>
<property name="NeedsCompilation" value="false"/>
<property name="Targets" value="telnetButton-TARGET"/>
<property name="Sources" value="telnetButton-action-false"/>
<property name="ConnectionName" value="JRadioButton2_JRadioButton2_conn1"/>
<property name="ConnectionClass" value="java.awt.event.ActionListener"/>
<property name="Connection_Version" value="1"/>
<property name="ListenerMethodName" value="actionPerformed"/>
<property name="UserCode_Connection_JRadioButton2_JRadioButton2_conn1" value="Connection_JRadioButton2_JRadioButton2_conn1"/>
</connection>
<connection>
<property name="ConnectionType" value="1"/>
<property name="ClassHeader" value="&#10; class JRadioButton1_JRadioButton1_conn1 implements java.awt.event.ActionListener, java.io.Serializable &#10;  {&#10;&#10;     //&lt;TOP_PART&gt;&#10;"/>
<property name="NeedsCompilation" value="false"/>
<property name="Targets" value="snmpButton-TARGET"/>
<property name="Sources" value="snmpButton-action-false"/>
<property name="ConnectionName" value="JRadioButton1_JRadioButton1_conn1"/>
<property name="ConnectionClass" value="java.awt.event.ActionListener"/>
<property name="UserCode_Connection_JRadioButton1_JRadioButton1_conn1" value="Connection_JRadioButton1_JRadioButton1_conn1"/>
<property name="Connection_Version" value="1"/>
<property name="ListenerMethodName" value="actionPerformed"/>
</connection>
<connection>
<property name="ConnectionType" value="1"/>
<property name="ClassHeader" value="&#10; class tftpButton_tftpButton_conn1 implements java.awt.event.ActionListener, java.io.Serializable &#10;  {&#10;&#10;     //&lt;TOP_PART&gt;&#10;"/>
<property name="NeedsCompilation" value="false"/>
<property name="Targets" value="tftpButton-TARGET"/>
<property name="UserCode_Connection_tftpButton_tftpButton_conn1" value="Connection_tftpButton_tftpButton_conn1"/>
<property name="Sources" value="tftpButton-action-false"/>
<property name="ConnectionName" value="tftpButton_tftpButton_conn1"/>
<property name="ConnectionClass" value="java.awt.event.ActionListener"/>
<property name="Connection_Version" value="1"/>
<property name="ListenerMethodName" value="actionPerformed"/>
</connection>
<connection>
<property name="ConnectionType" value="1"/>
<property name="ClassHeader" value="&#10; class ftpButton_ftpButton_conn1 implements java.awt.event.ActionListener, java.io.Serializable &#10;  {&#10;&#10;     //&lt;TOP_PART&gt;&#10;"/>
<property name="NeedsCompilation" value="false"/>
<property name="UserCode_Connection_ftpButton_ftpButton_conn1" value="Connection_ftpButton_ftpButton_conn1"/>
<property name="Targets" value="ftpButton-TARGET"/>
<property name="Sources" value="ftpButton-action-false"/>
<property name="ConnectionName" value="ftpButton_ftpButton_conn1"/>
<property name="ConnectionClass" value="java.awt.event.ActionListener"/>
<property name="Connection_Version" value="1"/>
<property name="ListenerMethodName" value="actionPerformed"/>
</connection>
<property name="MenuBarPresent" value="true"/>
<property name="Custom Code" value=""/>
<property name="GenSource" value="false"/>
<property name="Dummy Interface" value=""/>
<property name="ToolBarPresent" value="true"/>
<property name="HorizontalSplitPanePos" value="170.0"/>
<property name="SubVersion" value="4.4"/>
<property name="LookAndFeel" value="None"/>
</screen>
