<?xml version="1.0" encoding="UTF-8"?>
<screen conversionType="Hash">
<property name="Screen Width" value="513"/>
<property name="Initialize Commands" value=""/>
<property name="screenTitle" value="TFTP Task Configuration"/>
<bean>
<property name="UserCode_Bean_Top" value="Bean_Top"/>
<property name="InstanceName" value="Top"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Layout Manager" value="GridBag Layout"/>
<property name="Panel" value="container"/>
<property name="Layout Constraints" value="Center"/>
<property name="Layout Manager Constraints" value=""/>
</bean>
<bean>
<property name="UserCode_Bean_JPanel21" value="Bean_JPanel21"/>
<property name="Initializer" value=""/>
<property name="Layout Manager Constraints" value="5,5,1"/>
<property name="Layout Constraints" value="0,0,1,1,2,10,0,0,0.1,0.0,5,5,5,5"/>
<property name="DefaultSize" value="499,47"/>
<property name="border" value="EtchedBorder,1,null,null"/>
<property name="Layout Manager" value="Flow Layout"/>
<property name="InstanceName" value="JPanel21"/>
<property name="PropertyOrder" value=",border,"/>
<property name="Bean Permissions" value="255"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Panel" value="Top"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Constraints" value="0"/>
<property name="DefaultSize" value="140,25"/>
<property name="InstanceName" value="JLabel21"/>
<property name="PropertyOrder" value=",text,foreground,"/>
<property name="Bean Permissions" value="247"/>
<property name="foreground" value="-16764109"/>
<property name="UserCode_Bean_JLabel21" value="Bean_JLabel21"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="Panel" value="JPanel21"/>
<property name="text" value="Tftp Task Configuration"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Manager Constraints" value=""/>
<property name="Layout Constraints" value="0,2,1,1,1,10,0,0,0.1,0.1,5,5,5,5"/>
<property name="DefaultSize" value="438,418"/>
<property name="Layout Manager" value="GridBag Layout"/>
<property name="InstanceName" value="JPanel31"/>
<property name="Bean Permissions" value="255"/>
<property name="UserCode_Bean_JPanel31" value="Bean_JPanel31"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Panel" value="Top"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Constraints" value="0,0,1,1,3,10,0,0,0.0,0.1,5,5,5,5"/>
<property name="DefaultSize" value="20,20"/>
<property name="UserCode_Bean_JLabel2" value="Bean_JLabel2"/>
<property name="border" value="SoftBevelBorder,1,null,null,null,null"/>
<property name="InstanceName" value="JLabel2"/>
<property name="PropertyOrder" value=",border,"/>
<property name="Bean Permissions" value="247"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="Panel" value="JPanel31"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Manager Constraints" value=""/>
<property name="Layout Constraints" value="1,0,1,1,1,10,0,0,0.1,0.1,5,5,5,5"/>
<property name="DefaultSize" value="301,367"/>
<property name="border" value="SoftBevelBorder,0,null,null,null,null"/>
<property name="Layout Manager" value="GridBag Layout"/>
<property name="InstanceName" value="JPanel51"/>
<property name="PropertyOrder" value=",border,"/>
<property name="Bean Permissions" value="255"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Panel" value="JPanel31"/>
<property name="UserCode_Bean_JPanel51" value="Bean_JPanel51"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JPanel();"/>
<property name="Layout Manager Constraints" value=""/>
<property name="Layout Constraints" value="0,0,1,1,1,10,0,0,0.1,0.1,5,5,5,5"/>
<property name="DefaultSize" value="277,343"/>
<property name="UserCode_Bean_JPanel3" value="Bean_JPanel3"/>
<property name="Layout Manager" value="GridBag Layout"/>
<property name="InstanceName" value="JPanel3"/>
<property name="Bean Permissions" value="255"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Panel" value="JPanel51"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Manager Constraints" value=""/>
<property name="Layout Constraints" value="0,1,1,1,2,10,0,0,0.1,0.0,5,5,5,5"/>
<property name="DefaultSize" value="255,281"/>
<property name="Layout Manager" value="GridBag Layout"/>
<property name="InstanceName" value="JPanel61"/>
<property name="Bean Permissions" value="255"/>
<property name="UserCode_Bean_JPanel61" value="Bean_JPanel61"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Panel" value="JPanel3"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="UserCode_Bean_JLabel41" value="Bean_JLabel41"/>
<property name="Layout Constraints" value="0,0,1,1,0,18,0,0,0.0,0.0,5,5,5,5"/>
<property name="DefaultSize" value="93,25"/>
<property name="InstanceName" value="JLabel41"/>
<property name="PropertyOrder" value=",text,foreground,"/>
<property name="Bean Permissions" value="247"/>
<property name="foreground" value="-16777216"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="Panel" value="JPanel61"/>
<property name="text" value="Attribute Name"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Constraints" value="0,4,1,1,0,18,0,0,0.0,0.0,5,5,5,5"/>
<property name="DefaultSize" value="80,25"/>
<property name="InstanceName" value="valueLabel"/>
<property name="PropertyOrder" value=",text,foreground,"/>
<property name="Bean Permissions" value="247"/>
<property name="foreground" value="-16777216"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="Panel" value="JPanel61"/>
<property name="text" value="Place Holder"/>
<property name="UserCode_Bean_valueLabel" value="Bean_valueLabel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Constraints" value="1,0,1,1,2,18,0,0,0.1,0.0,5,5,5,5"/>
<property name="editable" value="false"/>
<property name="DefaultSize" value="20,29"/>
<property name="opaque" value="false"/>
<property name="InstanceName" value="nameText"/>
<property name="PropertyOrder" value=",editable,opaque,"/>
<property name="Bean Permissions" value="247"/>
<property name="UserCode_Bean_nameText" value="Bean_nameText"/>
<property name="ClassName" value="javax.swing.JTextField"/>
<property name="Panel" value="JPanel61"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="PopupMenu" value="none"/>
<property name="UserCode_Bean_valueText" value="Bean_valueText"/>
<property name="Layout Constraints" value="1,4,1,1,2,18,0,0,0.1,0.0,5,5,5,5"/>
<property name="DefaultSize" value="20,29"/>
<property name="InstanceName" value="valueText"/>
<property name="Bean Permissions" value="247"/>
<property name="Panel" value="JPanel61"/>
<property name="ClassName" value="javax.swing.JTextField"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Manager Constraints" value="5,5,2"/>
<property name="Layout Constraints" value="0,5,2,1,2,10,0,0,0.0,0.0,5,5,5,5"/>
<property name="DefaultSize" value="101,53"/>
<property name="UserCode_Bean_JPanel71" value="Bean_JPanel71"/>
<property name="Layout Manager" value="Flow Layout"/>
<property name="InstanceName" value="JPanel71"/>
<property name="Bean Permissions" value="255"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Panel" value="JPanel61"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Constraints" value="0"/>
<property name="DefaultSize" value="83,35"/>
<property name="InstanceName" value="updateButton"/>
<property name="PropertyOrder" value=",text,"/>
<property name="Bean Permissions" value="247"/>
<property name="UserCode_Bean_updateButton" value="Bean_updateButton"/>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="Panel" value="JPanel71"/>
<property name="text" value="Update"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Constraints" value="0,1,1,1,0,18,0,0,0.0,0.0,5,5,5,5"/>
<property name="DefaultSize" value="66,25"/>
<property name="UserCode_Bean_templateLabel" value="Bean_templateLabel"/>
<property name="InstanceName" value="templateLabel"/>
<property name="PropertyOrder" value=",text,foreground,"/>
<property name="Bean Permissions" value="247"/>
<property name="foreground" value="-16777216"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="Panel" value="JPanel61"/>
<property name="text" value="Input Type"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Constraints" value="1,1,1,1,2,18,0,0,0.1,0.0,5,5,5,5"/>
<property name="DefaultSize" value="134,34"/>
<property name="InstanceName" value="templateCombo"/>
<property name="Bean Permissions" value="247"/>
<property name="UserCode_Bean_templateCombo" value="Bean_templateCombo"/>
<property name="Panel" value="JPanel61"/>
<property name="ClassName" value="javax.swing.JComboBox"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JLabel();"/>
<property name="Layout Constraints" value="0,2,1,1,0,18,0,0,0.0,0.0,5,5,5,5"/>
<property name="DefaultSize" value="66,25"/>
<property name="InstanceName" value="commandLabel"/>
<property name="PropertyOrder" value=",text,foreground,"/>
<property name="Bean Permissions" value="247"/>
<property name="foreground" value="-16764109"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="Panel" value="JPanel61"/>
<property name="UserCode_Bean_commandLabel" value="Bean_commandLabel"/>
<property name="text" value="Command"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JComboBox();"/>
<property name="Layout Constraints" value="1,2,1,1,2,18,0,0,0.0,0.0,5,5,5,5"/>
<property name="DefaultSize" value="134,34"/>
<property name="UserCode_Bean_commandCombo" value="Bean_commandCombo"/>
<property name="InstanceName" value="commandCombo"/>
<property name="Bean Permissions" value="247"/>
<property name="Panel" value="JPanel61"/>
<property name="ClassName" value="javax.swing.JComboBox"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JLabel();"/>
<property name="Layout Constraints" value="0,3,1,1,0,18,0,0,0.0,0.0,5,5,5,5"/>
<property name="DefaultSize" value="39,25"/>
<property name="UserCode_Bean_modeLabel" value="Bean_modeLabel"/>
<property name="InstanceName" value="modeLabel"/>
<property name="PropertyOrder" value=",text,foreground,"/>
<property name="Bean Permissions" value="247"/>
<property name="foreground" value="-16764109"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="Panel" value="JPanel61"/>
<property name="text" value="Mode"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JComboBox();"/>
<property name="Layout Constraints" value="1,3,1,1,2,18,0,0,0.1,0.0,5,5,5,5"/>
<property name="DefaultSize" value="134,34"/>
<property name="InstanceName" value="modeCombo"/>
<property name="Bean Permissions" value="247"/>
<property name="Panel" value="JPanel61"/>
<property name="ClassName" value="javax.swing.JComboBox"/>
<property name="UserCode_Bean_modeCombo" value="Bean_modeCombo"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Manager Constraints" value=""/>
<property name="Layout Constraints" value="0,0,1,1,1,10,0,0,0.1,0.1,5,5,5,5"/>
<property name="DefaultSize" value="30,30"/>
<property name="Layout Manager" value="Viewport Layout"/>
<property name="InstanceName" value="JScrollPane11"/>
<property name="Bean Permissions" value="255"/>
<property name="ClassName" value="javax.swing.JScrollPane"/>
<property name="Panel" value="JPanel3"/>
<property name="UserCode_Bean_JScrollPane11" value="Bean_JScrollPane11"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="UserCode_Bean_table" value="Bean_table"/>
<property name="rowHeight" value="21"/>
<property name="Initializer" value=""/>
<property name="DefaultSize" value="20,20"/>
<property name="model" value="tableModel$BEAN"/>
<property name="InstanceName" value="table"/>
<property name="PropertyOrder" value=",model,rowHeight,"/>
<property name="Bean Permissions" value="247"/>
<property name="ClassName" value="javax.swing.JTable"/>
<property name="Panel" value="JScrollPane11"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Manager Constraints" value="5,5,1"/>
<property name="Layout Constraints" value="0,3,1,1,2,10,0,0,0.1,0.0,5,5,5,5"/>
<property name="DefaultSize" value="189,57"/>
<property name="UserCode_Bean_JPanel41" value="Bean_JPanel41"/>
<property name="border" value="EtchedBorder,1,null,null"/>
<property name="Layout Manager" value="Flow Layout"/>
<property name="InstanceName" value="JPanel41"/>
<property name="PropertyOrder" value=",border,"/>
<property name="Bean Permissions" value="255"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Panel" value="Top"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Constraints" value="0"/>
<property name="DefaultSize" value="81,35"/>
<property name="PaddingSize" value="22,0"/>
<property name="InstanceName" value="okButton1"/>
<property name="UserCode_Bean_okButton1" value="Bean_okButton1"/>
<property name="PropertyOrder" value=",text,"/>
<property name="Bean Permissions" value="247"/>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="Panel" value="JPanel41"/>
<property name="text" value="OK"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Constraints" value="1"/>
<property name="DefaultSize" value="81,35"/>
<property name="UserCode_Bean_cancelButton1" value="Bean_cancelButton1"/>
<property name="InstanceName" value="cancelButton1"/>
<property name="PropertyOrder" value=",text,"/>
<property name="Bean Permissions" value="247"/>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="Panel" value="JPanel41"/>
<property name="text" value="Cancel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Constraints" value="BOTTOM"/>
<property name="DefaultSize" value="70,25"/>
<property name="InstanceName" value="tableModel"/>
<property name="Bean Permissions" value="246"/>
<property name="Panel" value="Bottom"/>
<property name="ClassName" value="javax.swing.table.DefaultTableModel"/>
<property name="UserCode_Bean_tableModel" value="Bean_tableModel"/>
<property name="Modifiers" value=""/>
</bean>
<property name="Import Code" value=""/>
<property name="Variable Definitions" value=""/>
<property name="Version" value="4.4"/>
<property name="Screen Height" value="437"/>
<property name="Start Commands" value=""/>
<property name="Type" value="Dialog"/>
<connection>
<property name="ConnectionType" value="1"/>
<property name="ClassHeader" value="&#10; class templateCombo_templateCombo_conn3 implements java.awt.event.ActionListener, java.io.Serializable &#10;  {&#10;&#10;     //&lt;TOP_PART&gt;&#10;"/>
<property name="NeedsCompilation" value="false"/>
<property name="Targets" value="templateCombo-TARGET"/>
<property name="Sources" value="templateCombo-action-false"/>
<property name="ConnectionName" value="templateCombo_templateCombo_conn3"/>
<property name="ConnectionClass" value="java.awt.event.ActionListener"/>
<property name="Connection_Version" value="1"/>
<property name="ListenerMethodName" value="actionPerformed"/>
<property name="UserCode_Connection_templateCombo_templateCombo_conn3" value="Connection_templateCombo_templateCombo_conn3"/>
</connection>
<connection>
<property name="ConnectionType" value="1"/>
<property name="ClassHeader" value="&#10; class okButton1_okButton1_conn1 implements java.awt.event.ActionListener, java.io.Serializable &#10;  {&#10;&#10;     //&lt;TOP_PART&gt;&#10;"/>
<property name="NeedsCompilation" value="false"/>
<property name="Targets" value="okButton1-TARGET"/>
<property name="Sources" value="okButton1-action-false"/>
<property name="ConnectionName" value="okButton1_okButton1_conn1"/>
<property name="ConnectionClass" value="java.awt.event.ActionListener"/>
<property name="Connection_Version" value="1"/>
<property name="ListenerMethodName" value="actionPerformed"/>
<property name="UserCode_Connection_okButton1_okButton1_conn1" value="Connection_okButton1_okButton1_conn1"/>
</connection>
<connection>
<property name="ConnectionType" value="1"/>
<property name="ClassHeader" value="&#10; class cancelButton1_cancelButton1_conn1 implements java.awt.event.ActionListener, java.io.Serializable &#10;  {&#10;&#10;     //&lt;TOP_PART&gt;&#10;"/>
<property name="NeedsCompilation" value="false"/>
<property name="Targets" value="cancelButton1-TARGET"/>
<property name="UserCode_Connection_cancelButton1_cancelButton1_conn1" value="Connection_cancelButton1_cancelButton1_conn1"/>
<property name="Sources" value="cancelButton1-action-false"/>
<property name="ConnectionName" value="cancelButton1_cancelButton1_conn1"/>
<property name="ConnectionClass" value="java.awt.event.ActionListener"/>
<property name="Connection_Version" value="1"/>
<property name="ListenerMethodName" value="actionPerformed"/>
</connection>
<connection>
<property name="ConnectionType" value="1"/>
<property name="UserCode_Connection_updateButton_updateButton_conn1" value="Connection_updateButton_updateButton_conn1"/>
<property name="ClassHeader" value="&#10; class updateButton_updateButton_conn1 implements java.awt.event.ActionListener, java.io.Serializable &#10;  {&#10;&#10;     //&lt;TOP_PART&gt;&#10;"/>
<property name="NeedsCompilation" value="false"/>
<property name="Targets" value="updateButton-TARGET"/>
<property name="Sources" value="updateButton-action-false"/>
<property name="ConnectionName" value="updateButton_updateButton_conn1"/>
<property name="ConnectionClass" value="java.awt.event.ActionListener"/>
<property name="Connection_Version" value="1"/>
<property name="ListenerMethodName" value="actionPerformed"/>
</connection>
<connection>
<property name="ConnectionType" value="1"/>
<property name="ClassHeader" value="&#10; class table_JPanel61_conn1 extends java.awt.event.MouseAdapter implements java.io.Serializable &#10;  {&#10;&#10;     //&lt;TOP_PART&gt;&#10;"/>
<property name="NeedsCompilation" value="false"/>
<property name="Targets" value="JPanel61-TARGET"/>
<property name="Sources" value="table-mouse-false"/>
<property name="ConnectionName" value="table_JPanel61_conn1"/>
<property name="ConnectionClass" value="java.awt.event.MouseAdapter"/>
<property name="UserCode_Connection_table_JPanel61_conn1" value="Connection_table_JPanel61_conn1"/>
<property name="Connection_Version" value="1"/>
<property name="ListenerMethodName" value="mousePressed"/>
</connection>
<property name="MenuBarPresent" value="true"/>
<property name="Custom Code" value=""/>
<property name="GenSource" value="false"/>
<property name="Dummy Interface" value=""/>
<property name="ToolBarPresent" value="true"/>
<property name="HorizontalSplitPanePos" value="170.0"/>
<property name="SubVersion" value="4.4"/>
<property name="LookAndFeel" value="None"/>
</screen>
