<?xml version="1.0" encoding="UTF-8"?>
<screen conversionType="Hash">
<property name="Version" value="4.4"/>
<property name="Type" value="Dialog"/>
<property name="ScreenTitle" value="Add More IPAddress(es)."/>
<property name="Screen Width" value="376"/>
<property name="SubVersion" value="4.4"/>
<property name="GenSource" value="false"/>
<property name="Screen Height" value="174"/>
<property name="HorizontalSplitPanePos" value="184.0"/>
<property name="FileVersion" value="20"/>
<property name="ToolBarPresent" value="true"/>
<property name="LookAndFeel" value="Metal"/>
<bean>
<property name="InstanceName" value="Top"/>
<property name="PopupMenu" value="none"/>
<property name="UserCode_Bean_components" value="Bean_components"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Layout Manager" value="Position Layout"/>
<property name="Layout Constraints" value="Center"/>
<property name="Panel" value="container"/>
<property name="Layout Manager Constraints" value=""/>
</bean>
<bean>
<property name="background" value="-1118482"/>
<property name="Initializer" value="new javax.swing.JPanel();"/>
<property name="PopupMenu" value="none"/>
<property name="UserCode_Bean_centerPanel" value="Bean_centerPanel"/>
<property name="Layout Manager Constraints" value="5,5"/>
<property name="Layout Constraints" value="0,0,370,165"/>
<property name="DefaultSize" value="535,305"/>
<property name="Layout Manager" value="Border Layout"/>
<property name="InstanceName" value="centerPanel"/>
<property name="PropertyOrder" value=",background,"/>
<property name="Bean Permissions" value="255"/>
<property name="Panel" value="Top"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="background" value="-1381399"/>
<property name="Initializer" value="new javax.swing.JScrollPane();"/>
<property name="horizontalScrollBarPolicy" value="31"/>
<property name="Layout Manager Constraints" value=""/>
<property name="maximumSize" value="385,211"/>
<property name="Layout Constraints" value="North"/>
<property name="UserCode_Bean_scrollPane" value="Bean_scrollPane"/>
<property name="DefaultSize" value="419,104"/>
<property name="Layout Manager" value="Viewport Layout"/>
<property name="PaddingSize" value="5,81"/>
<property name="InstanceName" value="scrollPane"/>
<property name="PropertyOrder" value=",background,horizontalScrollBarPolicy,maximumSize,preferredSize,"/>
<property name="Bean Permissions" value="255"/>
<property name="preferredSize" value="406,15"/>
<property name="Panel" value="centerPanel"/>
<property name="ClassName" value="javax.swing.JScrollPane"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="background" value="-855825"/>
<property name="UserCode_Bean_ipContainer" value="Bean_ipContainer"/>
<property name="Initializer" value="new javax.swing.JPanel();"/>
<property name="Layout Manager Constraints" value=""/>
<property name="alignmentX" value="0.0"/>
<property name="DefaultSize" value="403,90"/>
<property name="border" value="TitledBorder,[EtchedBorder,0,null,null],Add More IP Address(es).,2,2,Dialog+0+12,-13421773"/>
<property name="Layout Manager" value="GridBag Layout"/>
<property name="InstanceName" value="ipContainer"/>
<property name="PropertyOrder" value=",alignmentX,border,background,"/>
<property name="Bean Permissions" value="255"/>
<property name="Panel" value="scrollPane"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JButton();"/>
<property name="maximumSize" value="19,19"/>
<property name="Layout Constraints" value="0,0,1,1,0,10,0,0,0.0,0.0,0,0,10,10"/>
<property name="toolTipText" value="Delete"/>
<property name="minimumSize" value="19,19"/>
<property name="DefaultSize" value="35,35"/>
<property name="InstanceName" value="delButton"/>
<property name="PropertyOrder" value=",icon,maximumSize,minimumSize,preferredSize,toolTipText,"/>
<property name="Bean Permissions" value="247"/>
<property name="preferredSize" value="19,19"/>
<property name="icon" value="./images/close.png"/>
<property name="Panel" value="ipContainer"/>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="UserCode_Bean_delButton" value="Bean_delButton"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JTextField();"/>
<property name="maximumSize" value="2147483647,27"/>
<property name="Layout Constraints" value="1,0,1,1,0,10,0,0,0.0,0.0,0,0,10,10"/>
<property name="toolTipText" value="IPAddress"/>
<property name="minimumSize" value="320,27"/>
<property name="DefaultSize" value="328,35"/>
<property name="InstanceName" value="ipField"/>
<property name="PropertyOrder" value=",maximumSize,minimumSize,preferredSize,toolTipText,"/>
<property name="Bean Permissions" value="247"/>
<property name="preferredSize" value="320,27"/>
<property name="UserCode_Bean_ipField" value="Bean_ipField"/>
<property name="Panel" value="ipContainer"/>
<property name="ClassName" value="javax.swing.JTextField"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="background" value="-1380630"/>
<property name="Initializer" value="new javax.swing.JPanel();"/>
<property name="Layout Manager Constraints" value="5,5,1"/>
<property name="Layout Constraints" value="West"/>
<property name="DefaultSize" value="435,58"/>
<property name="Layout Manager" value="Flow Layout"/>
<property name="PaddingSize" value="190,6"/>
<property name="InstanceName" value="buttonPanel"/>
<property name="PropertyOrder" value=",background,"/>
<property name="Bean Permissions" value="255"/>
<property name="UserCode_Bean_buttonPanel" value="Bean_buttonPanel"/>
<property name="Panel" value="centerPanel"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JButton();"/>
<property name="Layout Constraints" value="0"/>
<property name="DefaultSize" value="73,34"/>
<property name="PaddingSize" value="0,1"/>
<property name="InstanceName" value="moreButton"/>
<property name="PropertyOrder" value=",text,"/>
<property name="Bean Permissions" value="247"/>
<property name="UserCode_Bean_moreButton" value="Bean_moreButton"/>
<property name="Panel" value="buttonPanel"/>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="text" value="More"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JButton();"/>
<property name="Layout Constraints" value="1"/>
<property name="DefaultSize" value="61,34"/>
<property name="PaddingSize" value="0,1"/>
<property name="InstanceName" value="okButton"/>
<property name="PropertyOrder" value=",text,"/>
<property name="Bean Permissions" value="247"/>
<property name="Panel" value="buttonPanel"/>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="text" value="OK"/>
<property name="UserCode_Bean_okButton" value="Bean_okButton"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JButton();"/>
<property name="UserCode_Bean_cancelButton" value="Bean_cancelButton"/>
<property name="Layout Constraints" value="2"/>
<property name="DefaultSize" value="83,34"/>
<property name="PaddingSize" value="0,1"/>
<property name="InstanceName" value="cancelButton"/>
<property name="PropertyOrder" value=",text,"/>
<property name="Bean Permissions" value="247"/>
<property name="Panel" value="buttonPanel"/>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="text" value="Cancel"/>
<property name="Modifiers" value=""/>
</bean>
<property name="MenuBarPresent" value="true"/>
</screen>
