<?xml version="1.0" encoding="ISO-8859-1"?>
<screen conversionType="Hash">
<property name="Screen Width" value="681"/>
<property name="Initialize Commands" value=""/>
<property name="screenTitle" value="GeneralScreen"/>
<bean>
<property name="UserCode_Bean_Top" value="Bean_Top"/>
<property name="InstanceName" value="Top"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Layout Manager" value="Border Layout"/>
<property name="Panel" value="container"/>
<property name="Layout Constraints" value="Center"/>
<property name="Layout Manager Constraints" value="5,5"/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="PopupMenu" value="none"/>
<property name="Layout Manager Constraints" value=""/>
<property name="Layout Constraints" value="Center"/>
<property name="DefaultSize" value="814,551"/>
<property name="Layout Manager" value="GridBag Layout"/>
<property name="InstanceName" value="mainPanel"/>
<property name="Bean Permissions" value="255"/>
<property name="UserCode_Bean_mainPanel" value="Bean_mainPanel"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Panel" value="Top"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="PopupMenu" value="none"/>
<property name="Layout Manager Constraints" value=""/>
<property name="Layout Constraints" value="0,4,0,1,2,17,0,0,0.1,0.0,5,5,5,5"/>
<property name="DefaultSize" value="549,67"/>
<property name="border" value="EtchedBorder,0,null,null"/>
<property name="Layout Manager" value="GridBag Layout"/>
<property name="InstanceName" value="rediscPanel"/>
<property name="PropertyOrder" value=",border,"/>
<property name="Bean Permissions" value="255"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Panel" value="mainPanel"/>
<property name="UserCode_Bean_rediscPanel" value="Bean_rediscPanel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Modifiers" value=""/>
<property name="preferredSize" value="135,27"/>
<property name="minimumSize" value="135,27"/>
<property name="UserCode_Bean_rediscButton" value="Bean_rediscButton"/>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="PropertyOrder" value=",actionCommand,border,horizontalTextPosition,text,preferredSize,minimumSize,maximumSize,toolTipText,"/>
<property name="DefaultSize" value="143,35"/>
<property name="actionCommand" value=""/>
<property name="PopupMenu" value="none"/>
<property name="text" value="Rediscovery"/>
<property name="Initializer" value=""/>
<property name="InstanceName" value="rediscButton"/>
<property name="border" value="BevelBorder,0,null,null,null,null"/>
<property name="maximumSize" value="135,27"/>
<property name="toolTipText" value="Click here to configure Rediscovery."/>
<property name="Panel" value="rediscPanel"/>
<property name="horizontalTextPosition" value="0"/>
<property name="Layout Constraints" value="1,0,1,1,0,10,0,0,0.0,0.0,10,5,10,5"/>
<property name="Bean Permissions" value="247"/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Constraints" value="0,0,1,1,2,17,0,0,0.1,0.0,10,5,10,5"/>
<property name="font" value="Serif+0+12"/>
<property name="DefaultSize" value="374,28"/>
<property name="InstanceName" value="lfRedisc"/>
<property name="PropertyOrder" value=",foreground,text,font,"/>
<property name="Bean Permissions" value="247"/>
<property name="foreground" value="-16777214"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="Panel" value="rediscPanel"/>
<property name="text" value="Click on the button to configure the Rediscovery process."/>
<property name="UserCode_Bean_lfRedisc" value="Bean_lfRedisc"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="PopupMenu" value="none"/>
<property name="Layout Manager Constraints" value=""/>
<property name="Layout Constraints" value="0,3,0,1,2,17,0,0,0.1,0.0,5,5,5,5"/>
<property name="DefaultSize" value="529,65"/>
<property name="border" value="EtchedBorder,0,null,null"/>
<property name="Layout Manager" value="GridBag Layout"/>
<property name="InstanceName" value="initPanel"/>
<property name="UserCode_Bean_initPanel" value="Bean_initPanel"/>
<property name="PropertyOrder" value=",border,"/>
<property name="Bean Permissions" value="255"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Panel" value="mainPanel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="PopupMenu" value="none"/>
<property name="Layout Constraints" value="0,0,1,1,2,10,0,0,0.1,0.0,5,5,5,5"/>
<property name="font" value="Serif+0+12"/>
<property name="DefaultSize" value="354,28"/>
<property name="InstanceName" value="lfInit"/>
<property name="PropertyOrder" value=",foreground,text,font,"/>
<property name="Bean Permissions" value="247"/>
<property name="foreground" value="-16777215"/>
<property name="UserCode_Bean_lfInit" value="Bean_lfInit"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="Panel" value="initPanel"/>
<property name="text" value="Click on the button to configure the Initial Parameters."/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="UserCode_Bean_initButton" value="Bean_initButton"/>
<property name="Modifiers" value=""/>
<property name="preferredSize" value="135,27"/>
<property name="minimumSize" value="135,27"/>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="PropertyOrder" value=",border,text,horizontalTextPosition,label,preferredSize,minimumSize,maximumSize,toolTipText,"/>
<property name="DefaultSize" value="143,35"/>
<property name="label" value="Initial Parameters"/>
<property name="PopupMenu" value="none"/>
<property name="text" value="   Initial Parameters   "/>
<property name="Initializer" value=""/>
<property name="InstanceName" value="initButton"/>
<property name="border" value="BevelBorder,0,null,null,null,null"/>
<property name="maximumSize" value="135,27"/>
<property name="toolTipText" value="Click here to configure Initial Parameters."/>
<property name="Panel" value="initPanel"/>
<property name="horizontalTextPosition" value="0"/>
<property name="Layout Constraints" value="1,0,1,1,0,10,0,0,0.0,0.0,5,5,5,5"/>
<property name="Bean Permissions" value="247"/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Manager Constraints" value=""/>
<property name="Layout Constraints" value="0,1,0,1,2,17,0,0,0.1,0.0,5,5,5,5"/>
<property name="DefaultSize" value="440,219"/>
<property name="Layout Manager" value="GridBag Layout"/>
<property name="InstanceName" value="innerPanel"/>
<property name="Bean Permissions" value="255"/>
<property name="UserCode_Bean_innerPanel" value="Bean_innerPanel"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Panel" value="mainPanel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Constraints" value="0,0,1,1,0,17,0,0,0.0,0.0,5,5,5,5"/>
<property name="toolTipText" value="AutoDiscovery  "/>
<property name="DefaultSize" value="136,33"/>
<property name="selected" value="false"/>
<property name="InstanceName" value="chbAutoDisc"/>
<property name="PropertyOrder" value=",text,horizontalAlignment,label,toolTipText,selected,"/>
<property name="Bean Permissions" value="247"/>
<property name="label" value="AutoDiscovery"/>
<property name="ClassName" value="javax.swing.JCheckBox"/>
<property name="Panel" value="innerPanel"/>
<property name="UserCode_Bean_chbAutoDisc" value="Bean_chbAutoDisc"/>
<property name="text" value=""/>
<property name="horizontalAlignment" value="2"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Constraints" value="0,1,1,1,0,17,0,0,0.0,0.0,5,5,5,5"/>
<property name="UserCode_Bean_chbDiscLN" value="Bean_chbDiscLN"/>
<property name="toolTipText" value="Discover LocalNet"/>
<property name="DefaultSize" value="160,33"/>
<property name="InstanceName" value="chbDiscLN"/>
<property name="PropertyOrder" value=",label,toolTipText,"/>
<property name="Bean Permissions" value="247"/>
<property name="label" value="Discover LocalNet"/>
<property name="ClassName" value="javax.swing.JCheckBox"/>
<property name="Panel" value="innerPanel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Constraints" value="1,0,1,1,0,17,0,0,0.0,0.0,5,5,5,5"/>
<property name="UserCode_Bean_chbRediscAlrDisc" value="Bean_chbRediscAlrDisc"/>
<property name="toolTipText" value="Rediscover Already Discovered"/>
<property name="DefaultSize" value="252,33"/>
<property name="InstanceName" value="chbRediscAlrDisc"/>
<property name="PropertyOrder" value=",label,toolTipText,"/>
<property name="Bean Permissions" value="247"/>
<property name="label" value="Rediscover Already Discovered"/>
<property name="ClassName" value="javax.swing.JCheckBox"/>
<property name="Panel" value="innerPanel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Constraints" value="1,1,1,1,0,17,0,0,0.0,0.0,5,5,5,5"/>
<property name="toolTipText" value="Enable Log"/>
<property name="DefaultSize" value="111,33"/>
<property name="InstanceName" value="chbEnLog"/>
<property name="UserCode_Bean_chbEnLog" value="Bean_chbEnLog"/>
<property name="PropertyOrder" value=",label,toolTipText,"/>
<property name="Bean Permissions" value="247"/>
<property name="label" value="Enable Log"/>
<property name="ClassName" value="javax.swing.JCheckBox"/>
<property name="Panel" value="innerPanel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Constraints" value="0,2,1,1,0,17,0,0,0.0,0.0,5,5,5,5"/>
<property name="DefaultSize" value="137,25"/>
<property name="InstanceName" value="lfDiscInt"/>
<property name="PropertyOrder" value=",text,horizontalTextPosition,horizontalAlignment,foreground,"/>
<property name="Bean Permissions" value="247"/>
<property name="foreground" value="-16777213"/>
<property name="UserCode_Bean_lfDiscInt" value="Bean_lfDiscInt"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="Panel" value="innerPanel"/>
<property name="horizontalTextPosition" value="2"/>
<property name="text" value="Discovery Interval"/>
<property name="horizontalAlignment" value="10"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="UserCode_Bean_tfDiscInt" value="Bean_tfDiscInt"/>
<property name="Layout Constraints" value="1,2,0,1,2,17,0,0,0.1,0.0,5,5,5,5"/>
<property name="toolTipText" value="Discovery Interval in seconds"/>
<property name="DefaultSize" value="20,29"/>
<property name="border" value="BevelBorder,1,null,null,null,null"/>
<property name="InstanceName" value="tfDiscInt"/>
<property name="PropertyOrder" value=",toolTipText,border,"/>
<property name="Bean Permissions" value="247"/>
<property name="ClassName" value="javax.swing.JTextField"/>
<property name="Panel" value="innerPanel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Constraints" value="0,2,0,1,1,17,0,0,0.1,0.1,5,5,5,5"/>
<property name="DefaultSize" value="20,20"/>
<property name="InstanceName" value="lfEmpty"/>
<property name="Bean Permissions" value="247"/>
<property name="Panel" value="mainPanel"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="UserCode_Bean_lfEmpty" value="Bean_lfEmpty"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Constraints" value="0,0,0,1,2,17,0,0,0.1,0.0,5,5,5,5"/>
<property name="font" value="Dialog+1+12"/>
<property name="DefaultSize" value="130,122"/>
<property name="InstanceName" value="lfHTML"/>
<property name="PropertyOrder" value=",foreground,font,text,"/>
<property name="Bean Permissions" value="247"/>
<property name="foreground" value="-16777216"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="Panel" value="mainPanel"/>
<property name="UserCode_Bean_lfHTML" value="Bean_lfHTML"/>
<property name="text" value="&lt;html&gt;&lt;body&gt;&lt;ul&gt;&lt;li&gt;&lt;font color=000000 size=-1&gt;This tool configures the parameters which control the WebNMS discovery process.&lt;li&gt;&lt;font color=000000 size=-1&gt;You can configure SNMP,ICMP and NativePing based discoveries by specifying their related parameters.&lt;li&gt;&lt;font color=000000 size=-1&gt;You can enable or disable the discovery of a network,a set of nodes in a network or even a single node in a network.&lt;/font&gt;&lt;/ul&gt;&lt;/body&gt;&lt;/html&gt;"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Constraints" value="West"/>
<property name="DefaultSize" value="20,20"/>
<property name="UserCode_Bean_imageLabel" value="Bean_imageLabel"/>
<property name="InstanceName" value="imageLabel"/>
<property name="PropertyOrder" value=",horizontalAlignment,horizontalTextPosition,"/>
<property name="Bean Permissions" value="247"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="Panel" value="Top"/>
<property name="horizontalTextPosition" value="0"/>
<property name="horizontalAlignment" value="0"/>
<property name="Modifiers" value=""/>
</bean>
<property name="Import Code" value=""/>
<property name="Variable Definitions" value=""/>
<property name="Version" value="4.4"/>
<property name="Screen Height" value="467"/>
<property name="Start Commands" value=""/>
<property name="Type" value="Panel"/>
<property name="MenuBarPresent" value="true"/>
<property name="Custom Code" value=""/>
<property name="GenSource" value="true"/>
<property name="Dummy Interface" value=""/>
<property name="ToolBarPresent" value="true"/>
<property name="HorizontalSplitPanePos" value="170.0"/>
<property name="SubVersion" value="4.4"/>
<property name="LookAndFeel" value="None"/>
</screen>
