<?xml version="1.0" encoding="UTF-8"?>
<screen conversionType="Hash">
<property name="Screen Width" value="508"/>
<property name="Initialize Commands" value=""/>
<property name="screenTitle" value=""/>
<bean>
<property name="InstanceName" value="Top"/>
<property name="UserCode_Bean_components" value="Bean_components"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Layout Manager" value="GridBag Layout"/>
<property name="Layout Constraints" value="Center"/>
<property name="Panel" value="container"/>
<property name="Layout Manager Constraints" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JTextField();"/>
<property name="PopupMenu" value="none"/>
<property name="font" value="SansSerif+0+12"/>
<property name="Layout Constraints" value="1,1,1,1,0,17,0,0,0.0,0.0,20,55,5,5"/>
<property name="minimumSize" value="150,21"/>
<property name="DefaultSize" value="158,29"/>
<property name="InstanceName" value="JTextField1"/>
<property name="PropertyOrder" value=",font,minimumSize,preferredSize,text,"/>
<property name="Bean Permissions" value="247"/>
<property name="preferredSize" value="200,49"/>
<property name="Panel" value="Top"/>
<property name="ClassName" value="javax.swing.JTextField"/>
<property name="text" value="0.0.0.0"/>
<property name="UserCode_Bean_JTextField1" value="Bean_JTextField1"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JLabel();"/>
<property name="font" value="SansSerif+0+12"/>
<property name="Layout Constraints" value="0,1,1,1,0,17,0,0,0.0,0.0,20,5,5,5"/>
<property name="DefaultSize" value="59,25"/>
<property name="UserCode_Bean_JLabel1" value="Bean_JLabel1"/>
<property name="InstanceName" value="JLabel1"/>
<property name="PropertyOrder" value=",horizontalAlignment,font,foreground,horizontalTextPosition,text,"/>
<property name="Bean Permissions" value="244"/>
<property name="foreground" value="-16777216"/>
<property name="Panel" value="Top"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="horizontalTextPosition" value="4"/>
<property name="text" value="GNE IP"/>
<property name="horizontalAlignment" value="2"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new com.adventnet.nms.runtimeconfig.TypePropertiesPanel(applet);"/>
<property name="Layout Constraints" value="0,2,0,1,1,10,0,0,0.1,0.1,0,0,0,0"/>
<property name="DefaultSize" value="441,295"/>
<property name="UserCode_Bean_TypePropertiesPanel1" value="Bean_TypePropertiesPanel1"/>
<property name="InstanceName" value="TypePropertiesPanel1"/>
<property name="Bean Permissions" value="247"/>
<property name="Panel" value="Top"/>
<property name="ClassName" value="com.adventnet.nms.runtimeconfig.TypePropertiesPanel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JLabel();"/>
<property name="Layout Manager Constraints" value="5,10,1"/>
<property name="Layout Constraints" value="0,0,0,1,2,10,0,0,0.1,0.0,0,0,0,0"/>
<property name="DefaultSize" value="160,53"/>
<property name="Layout Manager" value="Flow Layout"/>
<property name="InstanceName" value="GradientLabel1"/>
<property name="Bean Permissions" value="255"/>
<property name="Panel" value="Top"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="UserCode_Bean_GradientLabel1" value="Bean_GradientLabel1"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JLabel();"/>
<property name="font" value="SansSerif+0+12"/>
<property name="Layout Constraints" value="0"/>
<property name="UserCode_Bean_JLabel3" value="Bean_JLabel3"/>
<property name="DefaultSize" value="142,25"/>
<property name="PaddingSize" value="48,1"/>
<property name="InstanceName" value="JLabel3"/>
<property name="PropertyOrder" value=",horizontalAlignment,font,horizontalTextPosition,foreground,text,"/>
<property name="Bean Permissions" value="247"/>
<property name="foreground" value="-1"/>
<property name="Panel" value="GradientLabel1"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="horizontalTextPosition" value="4"/>
<property name="text" value="GNE Properties"/>
<property name="horizontalAlignment" value="2"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JPanel();"/>
<property name="Layout Manager Constraints" value="5,5,2"/>
<property name="Layout Constraints" value="0,3,0,1,2,10,0,0,0.1,0.0,0,0,0,0"/>
<property name="DefaultSize" value="165,57"/>
<property name="border" value="EtchedBorder,1,null,null"/>
<property name="UserCode_Bean_JPanel2" value="Bean_JPanel2"/>
<property name="Layout Manager" value="Flow Layout"/>
<property name="InstanceName" value="JPanel2"/>
<property name="PropertyOrder" value=",border,"/>
<property name="Bean Permissions" value="255"/>
<property name="Panel" value="Top"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="UserCode_Bean_JButton1" value="Bean_JButton1"/>
<property name="Initializer" value="new javax.swing.JButton();"/>
<property name="font" value="SansSerif+0+12"/>
<property name="Layout Constraints" value="0"/>
<property name="DefaultSize" value="57,35"/>
<property name="PaddingSize" value="0,1"/>
<property name="InstanceName" value="JButton1"/>
<property name="PropertyOrder" value=",font,horizontalTextPosition,text,"/>
<property name="Bean Permissions" value="244"/>
<property name="Panel" value="JPanel2"/>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="horizontalTextPosition" value="4"/>
<property name="text" value="Ok"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="UserCode_Bean_JButton2" value="Bean_JButton2"/>
<property name="Initializer" value="new javax.swing.JButton();"/>
<property name="font" value="SansSerif+0+12"/>
<property name="Layout Constraints" value="1"/>
<property name="DefaultSize" value="81,35"/>
<property name="PaddingSize" value="0,1"/>
<property name="InstanceName" value="JButton2"/>
<property name="PropertyOrder" value=",font,horizontalTextPosition,text,"/>
<property name="Bean Permissions" value="244"/>
<property name="Panel" value="JPanel2"/>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="horizontalTextPosition" value="4"/>
<property name="text" value="Cancel"/>
<property name="Modifiers" value=""/>
</bean>
<property name="Import Code" value=""/>
<property name="Variable Definitions" value=""/>
<property name="Version" value="4.4"/>
<property name="Screen Height" value="470"/>
<property name="Start Commands" value=""/>
<property name="Type" value="Dialog"/>
<property name="FileVersion" value="6"/>
<connection>
<property name="ConnectionType" value="1"/>
<property name="ClassHeader" value="&#10; class JButton1_JButton1_conn implements java.awt.event.ActionListener, java.io.Serializable &#10;  {&#10;&#10;     //&lt;TOP_PART&gt;&#10;"/>
<property name="NeedsCompilation" value="false"/>
<property name="Targets" value="JButton1-TARGET"/>
<property name="Sources" value="JButton1-action-false"/>
<property name="ConnectionName" value="JButton1_JButton1_conn"/>
<property name="ConnectionClass" value="java.awt.event.ActionListener"/>
<property name="UserCode_Connection_JButton1_JButton1_conn" value="Connection_JButton1_JButton1_conn"/>
<property name="Connection_Version" value="1"/>
<property name="ListenerMethodName" value="actionPerformed"/>
</connection>
<connection>
<property name="ConnectionType" value="1"/>
<property name="ClassHeader" value="&#10; class JButton2_JButton2_conn implements java.awt.event.ActionListener, java.io.Serializable &#10;  {&#10;&#10;     //&lt;TOP_PART&gt;&#10;"/>
<property name="NeedsCompilation" value="false"/>
<property name="Targets" value="JButton2-TARGET"/>
<property name="UserCode_Connection_JButton2_JButton2_conn" value="Connection_JButton2_JButton2_conn"/>
<property name="Sources" value="JButton2-action-false"/>
<property name="ConnectionName" value="JButton2_JButton2_conn"/>
<property name="ConnectionClass" value="java.awt.event.ActionListener"/>
<property name="Connection_Version" value="1"/>
<property name="ListenerMethodName" value="actionPerformed"/>
</connection>
<property name="MenuBarPresent" value="true"/>
<property name="GenSource" value="false"/>
<property name="Custom Code" value=""/>
<property name="Dummy Interface" value=""/>
<property name="ScreenTitle" value=""/>
<property name="ToolBarPresent" value="true"/>
<property name="HorizontalSplitPanePos" value="170.0"/>
<property name="SubVersion" value="4.4"/>
<property name="LookAndFeel" value="None"/>
</screen>
