<?xml version="1.0" encoding="UTF-8"?>
<screen conversionType="Hash">
<property name="Screen Width" value="323"/>
<property name="Initialize Commands" value=""/>
<property name="screenTitle" value="ICMP Properties"/>
<bean>
<property name="InstanceName" value="Top"/>
<property name="UserCode_Bean_components" value="Bean_components"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Layout Manager" value="GridBag Layout"/>
<property name="Layout Constraints" value="Center"/>
<property name="Panel" value="container"/>
<property name="Layout Manager Constraints" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Manager Constraints" value=""/>
<property name="Layout Constraints" value="0,0,1,1,1,17,0,0,0.1,0.1,0,0,0,0"/>
<property name="DefaultSize" value="315,271"/>
<property name="Layout Manager" value="GridBag Layout"/>
<property name="InstanceName" value="imagePanel"/>
<property name="PropertyOrder" value=",foreground,"/>
<property name="Bean Permissions" value="255"/>
<property name="UserCode_Bean_imagePanel" value="Bean_imagePanel"/>
<property name="foreground" value="-16750951"/>
<property name="Panel" value="Top"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="font" value="Dialog+0+10"/>
<property name="editable" value="false"/>
<property name="Layout Constraints" value="1,0,1,1,2,10,0,0,0.1,0.0,0,0,0,0"/>
<property name="DefaultSize" value="287,64"/>
<property name="InstanceName" value="taICMP"/>
<property name="PropertyOrder" value=",editable,font,lineWrap,wrapStyleWord,text,tabSize,"/>
<property name="tabSize" value="5"/>
<property name="Bean Permissions" value="247"/>
<property name="wrapStyleWord" value="true"/>
<property name="UserCode_Bean_taICMP" value="Bean_taICMP"/>
<property name="Panel" value="imagePanel"/>
<property name="ClassName" value="javax.swing.JTextArea"/>
<property name="text" value=" Configure ICMP Properties.Ping retries is the number of attempts made to discover a network element and PingTimeout specifies the number of seconds for the ping to get the request"/>
<property name="lineWrap" value="true"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Constraints" value="0,0,1,1,0,17,0,0,0.0,0.0,0,0,0,0"/>
<property name="DefaultSize" value="20,20"/>
<property name="InstanceName" value="lfImage"/>
<property name="PropertyOrder" value=",horizontalTextPosition,horizontalAlignment,"/>
<property name="Bean Permissions" value="247"/>
<property name="UserCode_Bean_lfImage" value="Bean_lfImage"/>
<property name="Panel" value="imagePanel"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="horizontalTextPosition" value="0"/>
<property name="horizontalAlignment" value="0"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="PopupMenu" value="none"/>
<property name="Layout Manager Constraints" value=""/>
<property name="Layout Constraints" value="0,1,0,1,1,10,0,0,0.1,0.1,0,0,0,0"/>
<property name="DefaultSize" value="252,199"/>
<property name="Layout Manager" value="GridBag Layout"/>
<property name="InstanceName" value="icmpPanel"/>
<property name="UserCode_Bean_icmpPanel" value="Bean_icmpPanel"/>
<property name="Bean Permissions" value="255"/>
<property name="Panel" value="imagePanel"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="UserCode_Bean_chbICMP" value="Bean_chbICMP"/>
<property name="Initializer" value=""/>
<property name="Layout Constraints" value="0,0,1,1,2,17,0,0,0.0,0.0,0,5,5,5"/>
<property name="toolTipText" value="ICMP Discovery"/>
<property name="DefaultSize" value="141,34"/>
<property name="selected" value="true"/>
<property name="InstanceName" value="chbICMP"/>
<property name="PropertyOrder" value=",text,toolTipText,selected,"/>
<property name="Bean Permissions" value="247"/>
<property name="Panel" value="icmpPanel"/>
<property name="ClassName" value="javax.swing.JCheckBox"/>
<property name="text" value="ICMP Discovery"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="PopupMenu" value="none"/>
<property name="Layout Constraints" value="0,1,1,1,2,17,0,0,0.0,0.0,5,5,5,5"/>
<property name="DefaultSize" value="112,26"/>
<property name="InstanceName" value="lfPingRet"/>
<property name="PropertyOrder" value=",horizontalTextPosition,horizontalAlignment,foreground,text,"/>
<property name="Bean Permissions" value="247"/>
<property name="foreground" value="-16764109"/>
<property name="UserCode_Bean_lfPingRet" value="Bean_lfPingRet"/>
<property name="Panel" value="icmpPanel"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="horizontalTextPosition" value="2"/>
<property name="text" value="Ping Retries"/>
<property name="horizontalAlignment" value="10"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="PopupMenu" value="none"/>
<property name="UserCode_Bean_tfPingRet" value="Bean_tfPingRet"/>
<property name="Layout Constraints" value="1,1,1,1,2,17,0,0,0.1,0.0,5,5,5,15"/>
<property name="toolTipText" value="Specify Ping Retries in seconds."/>
<property name="DefaultSize" value="20,30"/>
<property name="border" value="BevelBorder,1,null,null,null,null"/>
<property name="InstanceName" value="tfPingRet"/>
<property name="PropertyOrder" value=",border,toolTipText,verifyInputWhenFocusTarget,"/>
<property name="Bean Permissions" value="247"/>
<property name="verifyInputWhenFocusTarget" value="true"/>
<property name="Panel" value="icmpPanel"/>
<property name="ClassName" value="javax.swing.JTextField"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="PopupMenu" value="none"/>
<property name="Layout Manager Constraints" value="5,5,2"/>
<property name="Layout Constraints" value="0,3,0,1,2,17,0,0,0.1,0.0,5,5,0,5"/>
<property name="DefaultSize" value="234,67"/>
<property name="border" value="EtchedBorder,0,null,null"/>
<property name="Layout Manager" value="Flow Layout"/>
<property name="UserCode_Bean_butPanel" value="Bean_butPanel"/>
<property name="InstanceName" value="butPanel"/>
<property name="PropertyOrder" value=",border,"/>
<property name="Bean Permissions" value="255"/>
<property name="Panel" value="icmpPanel"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Modifiers" value=""/>
<property name="preferredSize" value="73,27"/>
<property name="minimumSize" value="73,27"/>
<property name="UserCode_Bean_okButton" value="Bean_okButton"/>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="PropertyOrder" value=",toolTipText,border,horizontalTextPosition,preferredSize,text,minimumSize,maximumSize,"/>
<property name="DefaultSize" value="81,35"/>
<property name="PopupMenu" value="none"/>
<property name="text" value="OK"/>
<property name="Initializer" value=""/>
<property name="InstanceName" value="okButton"/>
<property name="border" value="BevelBorder,0,null,null,null,null"/>
<property name="maximumSize" value="73,27"/>
<property name="toolTipText" value="OK"/>
<property name="Panel" value="butPanel"/>
<property name="horizontalTextPosition" value="0"/>
<property name="Layout Constraints" value="0"/>
<property name="Bean Permissions" value="247"/>
</bean>
<bean>
<property name="UserCode_Bean_cancelButton" value="Bean_cancelButton"/>
<property name="Modifiers" value=""/>
<property name="preferredSize" value="73,27"/>
<property name="minimumSize" value="73,27"/>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="PropertyOrder" value=",toolTipText,border,horizontalTextPosition,text,preferredSize,minimumSize,maximumSize,"/>
<property name="DefaultSize" value="81,35"/>
<property name="PopupMenu" value="none"/>
<property name="text" value="Cancel"/>
<property name="Initializer" value=""/>
<property name="InstanceName" value="cancelButton"/>
<property name="border" value="BevelBorder,0,null,null,null,null"/>
<property name="maximumSize" value="73,27"/>
<property name="toolTipText" value="Cancel"/>
<property name="Panel" value="butPanel"/>
<property name="horizontalTextPosition" value="0"/>
<property name="Layout Constraints" value="1"/>
<property name="Bean Permissions" value="247"/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JLabel();"/>
<property name="Layout Constraints" value="0,2,1,1,2,17,0,0,0.0,0.0,5,5,5,0"/>
<property name="DefaultSize" value="103,26"/>
<property name="UserCode_Bean_lfPingTimeout" value="Bean_lfPingTimeout"/>
<property name="InstanceName" value="lfPingTimeout"/>
<property name="PropertyOrder" value=",text,foreground,"/>
<property name="Bean Permissions" value="247"/>
<property name="foreground" value="-16764109"/>
<property name="Panel" value="icmpPanel"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="text" value="Ping Timeout"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JTextField();"/>
<property name="Layout Constraints" value="1,2,1,1,2,17,0,0,0.0,0.0,5,5,5,15"/>
<property name="toolTipText" value="Specify Ping Timeout in seconds"/>
<property name="DefaultSize" value="20,30"/>
<property name="InstanceName" value="tfPingTimeout"/>
<property name="PropertyOrder" value=",toolTipText,"/>
<property name="Bean Permissions" value="247"/>
<property name="UserCode_Bean_tfPingTimeout" value="Bean_tfPingTimeout"/>
<property name="Panel" value="icmpPanel"/>
<property name="ClassName" value="javax.swing.JTextField"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="background" value="-6750055"/>
<property name="Initializer" value=""/>
<property name="Layout Constraints" value="BOTTOM"/>
<property name="DefaultSize" value="20,20"/>
<property name="border" value="BevelBorder,0,null,null,null,null"/>
<property name="InstanceName" value="lfEmpty"/>
<property name="PropertyOrder" value=",background,border,"/>
<property name="Bean Permissions" value="247"/>
<property name="Panel" value="Bottom"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="UserCode_Bean_lfEmpty" value="Bean_lfEmpty"/>
<property name="Modifiers" value=""/>
</bean>
<property name="Import Code" value=""/>
<property name="Variable Definitions" value=""/>
<property name="Version" value="4.4"/>
<property name="Screen Height" value="214"/>
<property name="Start Commands" value=""/>
<property name="Type" value="Dialog"/>
<property name="FileVersion" value="15"/>
<property name="MenuBarPresent" value="true"/>
<property name="GenSource" value="true"/>
<property name="Custom Code" value=""/>
<property name="Dummy Interface" value=""/>
<property name="ScreenTitle" value=""/>
<property name="ToolBarPresent" value="true"/>
<property name="HorizontalSplitPanePos" value="247.0"/>
<property name="SubVersion" value="4.4"/>
<property name="LookAndFeel" value="None"/>
</screen>
