<?xml version="1.0" encoding="UTF-8"?>
<screen conversionType="Hash">
<property name="Screen Width" value="640"/>
<property name="Initialize Commands" value=""/>
<property name="screenTitle" value="Initial Parameters"/>
<bean>
<property name="InstanceName" value="Top"/>
<property name="UserCode_Bean_components" value="Bean_components"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Layout Manager" value="GridBag Layout"/>
<property name="Layout Constraints" value="Center"/>
<property name="Panel" value="container"/>
<property name="Layout Manager Constraints" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="PopupMenu" value="none"/>
<property name="Layout Manager Constraints" value=""/>
<property name="Layout Constraints" value="0,10,0,1,2,17,0,0,0.1,0.0,5,5,5,5"/>
<property name="DefaultSize" value="234,67"/>
<property name="border" value="EtchedBorder,0,null,null"/>
<property name="Layout Manager" value="GridBag Layout"/>
<property name="UserCode_Bean_butPanel" value="Bean_butPanel"/>
<property name="InstanceName" value="butPanel"/>
<property name="PropertyOrder" value=",border,"/>
<property name="Bean Permissions" value="255"/>
<property name="Panel" value="Top"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Modifiers" value=""/>
<property name="preferredSize" value="73,27"/>
<property name="minimumSize" value="73,27"/>
<property name="UserCode_Bean_okButton" value="Bean_okButton"/>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="PropertyOrder" value=",toolTipText,border,horizontalTextPosition,preferredSize,minimumSize,maximumSize,text,"/>
<property name="DefaultSize" value="81,35"/>
<property name="PopupMenu" value="none"/>
<property name="text" value="OK"/>
<property name="Initializer" value=""/>
<property name="InstanceName" value="okButton"/>
<property name="border" value="BevelBorder,0,null,null,null,null"/>
<property name="maximumSize" value="73,27"/>
<property name="toolTipText" value="OK"/>
<property name="Panel" value="butPanel"/>
<property name="horizontalTextPosition" value="0"/>
<property name="Layout Constraints" value="0,0,1,1,0,10,0,0,0.0,0.0,10,10,10,20"/>
<property name="Bean Permissions" value="247"/>
</bean>
<bean>
<property name="UserCode_Bean_cancelButton" value="Bean_cancelButton"/>
<property name="Modifiers" value=""/>
<property name="preferredSize" value="73,27"/>
<property name="minimumSize" value="73,27"/>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="PropertyOrder" value=",toolTipText,border,horizontalTextPosition,preferredSize,minimumSize,maximumSize,text,"/>
<property name="DefaultSize" value="81,35"/>
<property name="PopupMenu" value="none"/>
<property name="text" value="Cancel"/>
<property name="Initializer" value=""/>
<property name="InstanceName" value="cancelButton"/>
<property name="border" value="BevelBorder,0,null,null,null,null"/>
<property name="maximumSize" value="73,27"/>
<property name="toolTipText" value="Cancel"/>
<property name="Panel" value="butPanel"/>
<property name="horizontalTextPosition" value="0"/>
<property name="Layout Constraints" value="1,0,1,1,0,10,0,0,0.0,0.0,10,20,10,10"/>
<property name="Bean Permissions" value="247"/>
</bean>
<bean>
<property name="UserCode_Bean_lfNatRetries" value="Bean_lfNatRetries"/>
<property name="Initializer" value=""/>
<property name="Layout Constraints" value="0,8,1,1,0,17,0,0,0.0,0.0,5,5,5,5"/>
<property name="DefaultSize" value="139,25"/>
<property name="InstanceName" value="lfNatRetries"/>
<property name="PropertyOrder" value=",foreground,text,"/>
<property name="Bean Permissions" value="247"/>
<property name="foreground" value="-16777211"/>
<property name="Panel" value="Top"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="text" value="NativePing Retries"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="UserCode_Bean_lfSNMPTime" value="Bean_lfSNMPTime"/>
<property name="Initializer" value=""/>
<property name="Layout Constraints" value="0,5,1,1,0,17,0,0,0.0,0.0,5,5,5,5"/>
<property name="DefaultSize" value="110,25"/>
<property name="InstanceName" value="lfSNMPTime"/>
<property name="PropertyOrder" value=",foreground,text,"/>
<property name="Bean Permissions" value="247"/>
<property name="foreground" value="-16777215"/>
<property name="Panel" value="Top"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="text" value="SNMP Timeout"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="UserCode_Bean_lfICMPRet" value="Bean_lfICMPRet"/>
<property name="Initializer" value=""/>
<property name="Layout Constraints" value="0,4,1,1,0,17,0,0,0.0,0.0,5,5,5,5"/>
<property name="DefaultSize" value="133,25"/>
<property name="InstanceName" value="lfICMPRet"/>
<property name="PropertyOrder" value=",text,foreground,"/>
<property name="Bean Permissions" value="247"/>
<property name="foreground" value="-16777213"/>
<property name="Panel" value="Top"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="text" value="ICMP Ping Retries"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Constraints" value="0,2,1,1,0,17,0,0,0.0,0.0,5,5,5,5"/>
<property name="DefaultSize" value="137,25"/>
<property name="InstanceName" value="lfDiscInt"/>
<property name="PropertyOrder" value=",text,foreground,"/>
<property name="Bean Permissions" value="247"/>
<property name="foreground" value="-16777216"/>
<property name="UserCode_Bean_lfDiscInt" value="Bean_lfDiscInt"/>
<property name="Panel" value="Top"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="text" value="Discovery Interval"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Constraints" value="0,3,1,1,0,17,0,0,0.0,0.0,5,5,5,5"/>
<property name="toolTipText" value=""/>
<property name="DefaultSize" value="153,25"/>
<property name="UserCode_Bean_lfRediscInt" value="Bean_lfRediscInt"/>
<property name="InstanceName" value="lfRediscInt"/>
<property name="PropertyOrder" value=",text,foreground,toolTipText,"/>
<property name="Bean Permissions" value="247"/>
<property name="foreground" value="-16777213"/>
<property name="Panel" value="Top"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="text" value="Rediscovery Interval"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="UserCode_Bean_lfSNMPRet" value="Bean_lfSNMPRet"/>
<property name="Initializer" value=""/>
<property name="Layout Constraints" value="0,6,1,1,0,17,0,0,0.0,0.0,5,5,5,5"/>
<property name="DefaultSize" value="101,25"/>
<property name="InstanceName" value="lfSNMPRet"/>
<property name="PropertyOrder" value=",foreground,text,"/>
<property name="Bean Permissions" value="247"/>
<property name="foreground" value="-16777214"/>
<property name="Panel" value="Top"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="text" value="SNMP Retries"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Constraints" value="0,7,1,1,0,17,0,0,0.0,0.0,5,5,5,5"/>
<property name="DefaultSize" value="148,25"/>
<property name="InstanceName" value="lfNatTime"/>
<property name="PropertyOrder" value=",foreground,text,"/>
<property name="UserCode_Bean_lfNatTime" value="Bean_lfNatTime"/>
<property name="Bean Permissions" value="247"/>
<property name="foreground" value="-16777214"/>
<property name="Panel" value="Top"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="text" value="NativePing Timeout"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="UserCode_Bean_tfDiscInt" value="Bean_tfDiscInt"/>
<property name="Layout Constraints" value="1,2,0,1,2,17,0,0,0.1,0.0,5,5,5,5"/>
<property name="toolTipText" value="Discovery Interval in seconds"/>
<property name="DefaultSize" value="20,29"/>
<property name="border" value="BevelBorder,1,null,null,null,null"/>
<property name="InstanceName" value="tfDiscInt"/>
<property name="PropertyOrder" value=",text,toolTipText,border,"/>
<property name="Bean Permissions" value="247"/>
<property name="Panel" value="Top"/>
<property name="ClassName" value="javax.swing.JTextField"/>
<property name="text" value="0"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Constraints" value="1,3,0,1,2,17,0,0,0.1,0.0,5,5,5,5"/>
<property name="toolTipText" value="Rediscovery Interval in hours"/>
<property name="DefaultSize" value="20,29"/>
<property name="border" value="BevelBorder,1,null,null,null,null"/>
<property name="UserCode_Bean_tfRediscInt" value="Bean_tfRediscInt"/>
<property name="InstanceName" value="tfRediscInt"/>
<property name="PropertyOrder" value=",text,toolTipText,border,"/>
<property name="Bean Permissions" value="247"/>
<property name="Panel" value="Top"/>
<property name="ClassName" value="javax.swing.JTextField"/>
<property name="text" value="1"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Constraints" value="1,4,0,1,2,17,0,0,0.1,0.0,5,5,5,5"/>
<property name="toolTipText" value="ICMP Ping Retries"/>
<property name="DefaultSize" value="20,29"/>
<property name="border" value="BevelBorder,1,null,null,null,null"/>
<property name="InstanceName" value="tfICMPRet"/>
<property name="PropertyOrder" value=",text,toolTipText,border,"/>
<property name="Bean Permissions" value="247"/>
<property name="UserCode_Bean_tfICMPRet" value="Bean_tfICMPRet"/>
<property name="Panel" value="Top"/>
<property name="ClassName" value="javax.swing.JTextField"/>
<property name="text" value="0"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Constraints" value="1,5,0,1,2,17,0,0,0.1,0.0,5,5,5,5"/>
<property name="toolTipText" value="SNMP Timeout"/>
<property name="DefaultSize" value="20,29"/>
<property name="border" value="BevelBorder,1,null,null,null,null"/>
<property name="InstanceName" value="tfSNMPTime"/>
<property name="PropertyOrder" value=",text,toolTipText,border,"/>
<property name="UserCode_Bean_tfSNMPTime" value="Bean_tfSNMPTime"/>
<property name="Bean Permissions" value="247"/>
<property name="Panel" value="Top"/>
<property name="ClassName" value="javax.swing.JTextField"/>
<property name="text" value="1"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Constraints" value="1,6,0,1,2,17,0,0,0.1,0.0,5,5,5,5"/>
<property name="toolTipText" value="SNMP Retries"/>
<property name="DefaultSize" value="20,29"/>
<property name="border" value="BevelBorder,1,null,null,null,null"/>
<property name="UserCode_Bean_tfSNMPRet" value="Bean_tfSNMPRet"/>
<property name="InstanceName" value="tfSNMPRet"/>
<property name="PropertyOrder" value=",text,toolTipText,border,"/>
<property name="Bean Permissions" value="247"/>
<property name="Panel" value="Top"/>
<property name="ClassName" value="javax.swing.JTextField"/>
<property name="text" value="0"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Constraints" value="1,7,0,1,2,17,0,0,0.1,0.0,5,5,5,5"/>
<property name="toolTipText" value="NativePing Timeout"/>
<property name="DefaultSize" value="20,29"/>
<property name="border" value="BevelBorder,1,null,null,null,null"/>
<property name="InstanceName" value="tfNatTime"/>
<property name="PropertyOrder" value=",text,toolTipText,border,"/>
<property name="Bean Permissions" value="247"/>
<property name="Panel" value="Top"/>
<property name="ClassName" value="javax.swing.JTextField"/>
<property name="text" value="1"/>
<property name="UserCode_Bean_tfNatTime" value="Bean_tfNatTime"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Constraints" value="1,8,0,1,2,17,0,0,0.1,0.0,5,5,5,5"/>
<property name="toolTipText" value="NativePing Retries"/>
<property name="DefaultSize" value="20,29"/>
<property name="border" value="BevelBorder,1,null,null,null,null"/>
<property name="InstanceName" value="tfNatRet"/>
<property name="PropertyOrder" value=",text,toolTipText,border,"/>
<property name="UserCode_Bean_tfNatRet" value="Bean_tfNatRet"/>
<property name="Bean Permissions" value="247"/>
<property name="Panel" value="Top"/>
<property name="ClassName" value="javax.swing.JTextField"/>
<property name="text" value="1"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Constraints" value="0,9,0,1,1,17,0,0,0.1,0.1,5,5,5,5"/>
<property name="DefaultSize" value="20,20"/>
<property name="UserCode_Bean_emptyLabel2" value="Bean_emptyLabel2"/>
<property name="InstanceName" value="emptyLabel2"/>
<property name="Bean Permissions" value="247"/>
<property name="Panel" value="Top"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Constraints" value="0,1,0,1,2,17,0,0,0.1,0.0,5,5,5,5"/>
<property name="DefaultSize" value="20,20"/>
<property name="UserCode_Bean_emptyLabel1" value="Bean_emptyLabel1"/>
<property name="InstanceName" value="emptyLabel1"/>
<property name="Bean Permissions" value="247"/>
<property name="Panel" value="Top"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Manager Constraints" value="5,5"/>
<property name="Layout Constraints" value="0,0,0,1,2,17,0,0,0.1,0.0,5,5,5,5"/>
<property name="DefaultSize" value="622,60"/>
<property name="Layout Manager" value="Border Layout"/>
<property name="InstanceName" value="imagePanel"/>
<property name="Bean Permissions" value="255"/>
<property name="UserCode_Bean_imagePanel" value="Bean_imagePanel"/>
<property name="Panel" value="Top"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Constraints" value="West"/>
<property name="DefaultSize" value="20,20"/>
<property name="InstanceName" value="lfImage"/>
<property name="PropertyOrder" value=",horizontalTextPosition,horizontalAlignment,"/>
<property name="Bean Permissions" value="247"/>
<property name="UserCode_Bean_lfImage" value="Bean_lfImage"/>
<property name="Panel" value="imagePanel"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="horizontalTextPosition" value="0"/>
<property name="horizontalAlignment" value="0"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="foreground" value="-16777216"/>
<property name="UserCode_Bean_taInit" value="Bean_taInit"/>
<property name="lineWrap" value="true"/>
<property name="Modifiers" value=""/>
<property name="ClassName" value="javax.swing.JTextArea"/>
<property name="PropertyOrder" value=",wrapStyleWord,lineWrap,editable,text,foreground,font,rows,"/>
<property name="DefaultSize" value="579,42"/>
<property name="rows" value="2"/>
<property name="text" value=" The discovery engine considers the parameters specified here during the first start of  the WebNMS server(either a cold or a warm start)."/>
<property name="Initializer" value=""/>
<property name="font" value="Dialog+0+10"/>
<property name="InstanceName" value="taInit"/>
<property name="editable" value="false"/>
<property name="Panel" value="imagePanel"/>
<property name="Layout Constraints" value="Center"/>
<property name="wrapStyleWord" value="true"/>
<property name="PaddingSize" value="0,6"/>
<property name="Bean Permissions" value="247"/>
</bean>
<property name="Import Code" value=""/>
<property name="Variable Definitions" value=""/>
<property name="Version" value="4.4"/>
<property name="Screen Height" value="433"/>
<property name="Start Commands" value=""/>
<property name="Type" value="Dialog"/>
<property name="FileVersion" value="1"/>
<property name="MenuBarPresent" value="true"/>
<property name="GenSource" value="true"/>
<property name="Custom Code" value=""/>
<property name="Dummy Interface" value=""/>
<property name="ScreenTitle" value=""/>
<property name="ToolBarPresent" value="true"/>
<property name="HorizontalSplitPanePos" value="277.0"/>
<property name="SubVersion" value="4.4"/>
<property name="LookAndFeel" value="None"/>
</screen>

