<?xml version="1.0" encoding="ISO-8859-1"?>
<screen conversionType="Hash">
<property name="Screen Width" value="685"/>
<property name="Initialize Commands" value=""/>
<property name="screenTitle" value="Managed Object User Interface Settings"/>
<bean>
<property name="UserCode_Bean_Top" value="Bean_Top"/>
<property name="InstanceName" value="Top"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Layout Manager" value="GridBag Layout"/>
<property name="Panel" value="container"/>
<property name="Layout Constraints" value="Center"/>
<property name="Layout Manager Constraints" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Manager Constraints" value="5,5"/>
<property name="Layout Constraints" value="0,0,1,1,2,10,0,0,0.0,0.0,15,5,5,5"/>
<property name="DefaultSize" value="413,65"/>
<property name="Layout Manager" value="Border Layout"/>
<property name="UserCode_Bean_JPanel1" value="Bean_JPanel1"/>
<property name="InstanceName" value="JPanel1"/>
<property name="Bean Permissions" value="252"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Panel" value="Top"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="UserCode_Bean_JPanel8" value="Bean_JPanel8"/>
<property name="Layout Manager Constraints" value="10,5,1"/>
<property name="Layout Constraints" value="Center"/>
<property name="DefaultSize" value="395,47"/>
<property name="border" value="EtchedBorder,1,null,null"/>
<property name="Layout Manager" value="Flow Layout"/>
<property name="InstanceName" value="JPanel8"/>
<property name="PropertyOrder" value=",border,"/>
<property name="Bean Permissions" value="252"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Panel" value="JPanel1"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="UserCode_Bean_JLabel4" value="Bean_JLabel4"/>
<property name="Layout Constraints" value="0"/>
<property name="DefaultSize" value="20,20"/>
<property name="InstanceName" value="JLabel4"/>
<property name="Bean Permissions" value="244"/>
<property name="Panel" value="JPanel8"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Constraints" value="1"/>
<property name="DefaultSize" value="206,25"/>
<property name="UserCode_Bean_JLabel1" value="Bean_JLabel1"/>
<property name="PaddingSize" value="0,4"/>
<property name="InstanceName" value="JLabel1"/>
<property name="PropertyOrder" value=",text,horizontalAlignment,foreground,"/>
<property name="Bean Permissions" value="244"/>
<property name="foreground" value="-16764109"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="Panel" value="JPanel8"/>
<property name="text" value="Managed Object UI Settings"/>
<property name="horizontalAlignment" value="0"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="UserCode_Bean_JLabel5" value="Bean_JLabel5"/>
<property name="Layout Constraints" value="2"/>
<property name="DefaultSize" value="117,25"/>
<property name="PaddingSize" value="0,4"/>
<property name="InstanceName" value="JLabel5"/>
<property name="PropertyOrder" value=",text,foreground,"/>
<property name="Bean Permissions" value="244"/>
<property name="foreground" value="-16764109"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="Panel" value="JPanel8"/>
<property name="text" value="( listicon.data )"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Manager Constraints" value=""/>
<property name="Layout Constraints" value="0,1,1,1,1,10,0,0,0.1,0.1,5,5,5,5"/>
<property name="DefaultSize" value="580,198"/>
<property name="border" value="EtchedBorder,0,null,null"/>
<property name="UserCode_Bean_JPanel2" value="Bean_JPanel2"/>
<property name="Layout Manager" value="GridBag Layout"/>
<property name="InstanceName" value="JPanel2"/>
<property name="PropertyOrder" value=",border,"/>
<property name="Bean Permissions" value="252"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Panel" value="Top"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Manager Constraints" value=""/>
<property name="Layout Constraints" value="0,1,1,1,1,10,0,0,0.1,0.1,5,5,5,5"/>
<property name="DefaultSize" value="32,32"/>
<property name="Layout Manager" value="Viewport Layout"/>
<property name="InstanceName" value="JScrollPane1"/>
<property name="Bean Permissions" value="252"/>
<property name="UserCode_Bean_JScrollPane1" value="Bean_JScrollPane1"/>
<property name="ClassName" value="javax.swing.JScrollPane"/>
<property name="Panel" value="JPanel2"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="UserCode_Bean_table" value="Bean_table"/>
<property name="rowHeight" value="22"/>
<property name="Initializer" value=""/>
<property name="toolTipText" value="Please double-click to view details"/>
<property name="DefaultSize" value="20,20"/>
<property name="model" value="tableModel$BEAN"/>
<property name="InstanceName" value="table"/>
<property name="PropertyOrder" value=",model,rowHeight,toolTipText,"/>
<property name="Bean Permissions" value="244"/>
<property name="ClassName" value="javax.swing.JTable"/>
<property name="Panel" value="JScrollPane1"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Manager Constraints" value=""/>
<property name="UserCode_Bean_JPanel7" value="Bean_JPanel7"/>
<property name="Layout Constraints" value="0,0,1,1,2,10,0,0,0.0,0.0,5,5,5,5"/>
<property name="DefaultSize" value="558,73"/>
<property name="border" value="LineBorder,-1,1,false"/>
<property name="Layout Manager" value="GridBag Layout"/>
<property name="InstanceName" value="JPanel7"/>
<property name="PropertyOrder" value=",border,"/>
<property name="Bean Permissions" value="252"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Panel" value="JPanel2"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Manager Constraints" value=""/>
<property name="Layout Constraints" value="2,0,1,1,0,10,0,0,0.0,0.0,5,10,5,10"/>
<property name="DefaultSize" value="94,41"/>
<property name="UserCode_Bean_JPanel3" value="Bean_JPanel3"/>
<property name="Layout Manager" value="GridBag Layout"/>
<property name="InstanceName" value="JPanel3"/>
<property name="Bean Permissions" value="252"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Panel" value="JPanel7"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="borderPainted" value="false"/>
<property name="Layout Constraints" value="1,0,1,1,0,10,0,0,0.0,0.0,0,0,0,0"/>
<property name="toolTipText" value="Next"/>
<property name="minimumSize" value="30,25"/>
<property name="DefaultSize" value="38,33"/>
<property name="InstanceName" value="nextButton"/>
<property name="PropertyOrder" value=",text,preferredSize,minimumSize,borderPainted,focusPainted,toolTipText,"/>
<property name="Bean Permissions" value="244"/>
<property name="preferredSize" value="30,25"/>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="Panel" value="JPanel3"/>
<property name="text" value=""/>
<property name="UserCode_Bean_nextButton" value="Bean_nextButton"/>
<property name="focusPainted" value="false"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="borderPainted" value="false"/>
<property name="Layout Constraints" value="0,0,1,1,0,10,0,0,0.0,0.0,0,0,0,10"/>
<property name="toolTipText" value="Previous"/>
<property name="minimumSize" value="30,25"/>
<property name="DefaultSize" value="38,33"/>
<property name="InstanceName" value="previousButton"/>
<property name="PropertyOrder" value=",text,minimumSize,preferredSize,borderPainted,focusPainted,toolTipText,"/>
<property name="Bean Permissions" value="244"/>
<property name="preferredSize" value="30,25"/>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="Panel" value="JPanel3"/>
<property name="UserCode_Bean_previousButton" value="Bean_previousButton"/>
<property name="text" value=""/>
<property name="focusPainted" value="false"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Manager Constraints" value="5,5"/>
<property name="Layout Constraints" value="0,0,1,1,2,10,0,0,0.1,0.0,5,5,5,5"/>
<property name="UserCode_Bean_JPanel5" value="Bean_JPanel5"/>
<property name="DefaultSize" value="256,53"/>
<property name="Layout Manager" value="Border Layout"/>
<property name="InstanceName" value="JPanel5"/>
<property name="Bean Permissions" value="252"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Panel" value="JPanel7"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Constraints" value="West"/>
<property name="UserCode_Bean_JLabel3" value="Bean_JLabel3"/>
<property name="DefaultSize" value="119,25"/>
<property name="PaddingSize" value="0,4"/>
<property name="InstanceName" value="JLabel3"/>
<property name="PropertyOrder" value=",text,"/>
<property name="Bean Permissions" value="244"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="Panel" value="JPanel5"/>
<property name="text" value="Search for Type"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Constraints" value="Center"/>
<property name="DefaultSize" value="20,29"/>
<property name="PaddingSize" value="0,4"/>
<property name="InstanceName" value="searchText"/>
<property name="Bean Permissions" value="244"/>
<property name="ClassName" value="javax.swing.JTextField"/>
<property name="Panel" value="JPanel5"/>
<property name="UserCode_Bean_searchText" value="Bean_searchText"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="borderPainted" value="true"/>
<property name="Layout Constraints" value="East"/>
<property name="DefaultSize" value="89,35"/>
<property name="PaddingSize" value="0,4"/>
<property name="InstanceName" value="searchButton"/>
<property name="PropertyOrder" value=",text,borderPainted,"/>
<property name="Bean Permissions" value="244"/>
<property name="UserCode_Bean_searchButton" value="Bean_searchButton"/>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="Panel" value="JPanel5"/>
<property name="text" value="Search"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Manager Constraints" value="5,8,1"/>
<property name="UserCode_Bean_JPanel6" value="Bean_JPanel6"/>
<property name="Layout Constraints" value="1,0,1,1,0,10,0,0,0.0,0.0,5,5,5,5"/>
<property name="maximumSize" value="150,50"/>
<property name="minimumSize" value="150,44"/>
<property name="DefaultSize" value="158,52"/>
<property name="Layout Manager" value="Flow Layout"/>
<property name="InstanceName" value="JPanel6"/>
<property name="PropertyOrder" value=",maximumSize,minimumSize,preferredSize,"/>
<property name="Bean Permissions" value="252"/>
<property name="preferredSize" value="150,44"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Panel" value="JPanel7"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Constraints" value="0"/>
<property name="DefaultSize" value="95,25"/>
<property name="UserCode_Bean_JLabel2" value="Bean_JLabel2"/>
<property name="PaddingSize" value="0,4"/>
<property name="InstanceName" value="JLabel2"/>
<property name="PropertyOrder" value=",text,"/>
<property name="Bean Permissions" value="244"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="Panel" value="JPanel6"/>
<property name="text" value="Page Length"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="PopupMenu" value="none"/>
<property name="Layout Constraints" value="1"/>
<property name="maximumSize" value="50,24"/>
<property name="minimumSize" value="50,24"/>
<property name="DefaultSize" value="58,34"/>
<property name="UserCode_Bean_combo" value="Bean_combo"/>
<property name="PaddingSize" value="0,2"/>
<property name="InstanceName" value="combo"/>
<property name="PropertyOrder" value=",maximumSize,minimumSize,preferredSize,"/>
<property name="Bean Permissions" value="244"/>
<property name="preferredSize" value="50,24"/>
<property name="ClassName" value="javax.swing.JComboBox"/>
<property name="Panel" value="JPanel6"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="UserCode_Bean_JPanel9" value="Bean_JPanel9"/>
<property name="Initializer" value=""/>
<property name="Layout Manager Constraints" value=""/>
<property name="Layout Constraints" value="0,2,1,1,2,10,0,0,0.0,0.0,5,5,5,5"/>
<property name="DefaultSize" value="554,69"/>
<property name="border" value="EtchedBorder,0,null,null"/>
<property name="Layout Manager" value="GridBag Layout"/>
<property name="InstanceName" value="JPanel9"/>
<property name="PropertyOrder" value=",border,"/>
<property name="Bean Permissions" value="252"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Panel" value="Top"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Manager Constraints" value="5,5,1"/>
<property name="Layout Constraints" value="0,0,1,1,2,10,0,0,0.1,0.0,0,0,0,0"/>
<property name="DefaultSize" value="427,57"/>
<property name="UserCode_Bean_JPanel4" value="Bean_JPanel4"/>
<property name="border" value="BevelBorder,1,null,null,null,null"/>
<property name="Layout Manager" value="Flow Layout"/>
<property name="InstanceName" value="JPanel4"/>
<property name="PropertyOrder" value=",border,"/>
<property name="Bean Permissions" value="252"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Panel" value="JPanel9"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Constraints" value="0"/>
<property name="DefaultSize" value="81,35"/>
<property name="UserCode_Bean_addButton" value="Bean_addButton"/>
<property name="PaddingSize" value="10,4"/>
<property name="InstanceName" value="addButton"/>
<property name="PropertyOrder" value=",text,"/>
<property name="Bean Permissions" value="244"/>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="Panel" value="JPanel4"/>
<property name="text" value="Add"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Constraints" value="1"/>
<property name="DefaultSize" value="91,35"/>
<property name="PaddingSize" value="0,4"/>
<property name="InstanceName" value="modifyButton"/>
<property name="PropertyOrder" value=",text,"/>
<property name="Bean Permissions" value="244"/>
<property name="UserCode_Bean_modifyButton" value="Bean_modifyButton"/>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="Panel" value="JPanel4"/>
<property name="text" value="Modify"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Constraints" value="2"/>
<property name="DefaultSize" value="87,35"/>
<property name="PaddingSize" value="0,4"/>
<property name="UserCode_Bean_deleteButton" value="Bean_deleteButton"/>
<property name="InstanceName" value="deleteButton"/>
<property name="PropertyOrder" value=",text,"/>
<property name="Bean Permissions" value="244"/>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="Panel" value="JPanel4"/>
<property name="text" value="Delete"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Constraints" value="3"/>
<property name="DefaultSize" value="131,35"/>
<property name="PaddingSize" value="0,4"/>
<property name="InstanceName" value="detailsButton"/>
<property name="PropertyOrder" value=",text,"/>
<property name="Bean Permissions" value="244"/>
<property name="UserCode_Bean_detailsButton" value="Bean_detailsButton"/>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="Panel" value="JPanel4"/>
<property name="text" value="View Details"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Manager Constraints" value="5,5,1"/>
<property name="Layout Constraints" value="1,0,1,1,0,10,0,0,0.0,0.0,0,10,0,0"/>
<property name="DefaultSize" value="105,57"/>
<property name="border" value="BevelBorder,1,null,null,null,null"/>
<property name="Layout Manager" value="Flow Layout"/>
<property name="UserCode_Bean_JPanel10" value="Bean_JPanel10"/>
<property name="InstanceName" value="JPanel10"/>
<property name="PropertyOrder" value=",border,"/>
<property name="Bean Permissions" value="252"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Panel" value="JPanel9"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="UserCode_Bean_applyButton" value="Bean_applyButton"/>
<property name="Initializer" value=""/>
<property name="Layout Constraints" value="0"/>
<property name="DefaultSize" value="83,35"/>
<property name="PaddingSize" value="0,4"/>
<property name="InstanceName" value="applyButton"/>
<property name="PropertyOrder" value=",text,foreground,"/>
<property name="Bean Permissions" value="244"/>
<property name="foreground" value="-16764109"/>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="Panel" value="JPanel10"/>
<property name="text" value="Apply"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Constraints" value="BOTTOM"/>
<property name="DefaultSize" value="87,25"/>
<property name="InstanceName" value="tableModel"/>
<property name="Bean Permissions" value="244"/>
<property name="Panel" value="Bottom"/>
<property name="ClassName" value="javax.swing.table.DefaultTableModel"/>
<property name="UserCode_Bean_tableModel" value="Bean_tableModel"/>
<property name="Modifiers" value=""/>
</bean>
<property name="Import Code" value=""/>
<property name="Variable Definitions" value=""/>
<property name="Version" value="4.4"/>
<property name="Screen Height" value="476"/>
<property name="Start Commands" value=""/>
<property name="Type" value="Panel"/>
<connection>
<property name="ConnectionType" value="1"/>
<property name="UserCode_Connection_combo_combo_conn1" value="Connection_combo_combo_conn1"/>
<property name="ClassHeader" value="&#10; class combo_combo_conn1 implements java.awt.event.ActionListener, java.io.Serializable &#10;  {&#10;&#10;     //&lt;TOP_PART&gt;&#10;"/>
<property name="NeedsCompilation" value="false"/>
<property name="Targets" value="combo-TARGET"/>
<property name="Sources" value="combo-action-false"/>
<property name="ConnectionName" value="combo_combo_conn1"/>
<property name="ConnectionClass" value="java.awt.event.ActionListener"/>
<property name="Connection_Version" value="1"/>
<property name="ListenerMethodName" value="actionPerformed"/>
</connection>
<connection>
<property name="ConnectionType" value="1"/>
<property name="ClassHeader" value="&#10; class previousButton_previousButton_conn1 implements java.awt.event.ActionListener, java.io.Serializable &#10;  {&#10;&#10;     //&lt;TOP_PART&gt;&#10;"/>
<property name="NeedsCompilation" value="false"/>
<property name="Targets" value="previousButton-TARGET"/>
<property name="Sources" value="previousButton-action-false"/>
<property name="ConnectionName" value="previousButton_previousButton_conn1"/>
<property name="ConnectionClass" value="java.awt.event.ActionListener"/>
<property name="Connection_Version" value="1"/>
<property name="UserCode_Connection_previousButton_previousButton_conn1" value="Connection_previousButton_previousButton_conn1"/>
<property name="ListenerMethodName" value="actionPerformed"/>
</connection>
<connection>
<property name="UserCode_Connection_table_table_conn1" value="Connection_table_table_conn1"/>
<property name="ConnectionType" value="1"/>
<property name="ClassHeader" value="&#10; class table_table_conn1 extends java.awt.event.MouseAdapter implements java.io.Serializable &#10;  {&#10;&#10;     //&lt;TOP_PART&gt;&#10;"/>
<property name="NeedsCompilation" value="false"/>
<property name="Targets" value="table-TARGET"/>
<property name="Sources" value="table-mouse-false"/>
<property name="ConnectionName" value="table_table_conn1"/>
<property name="ConnectionClass" value="java.awt.event.MouseAdapter"/>
<property name="Connection_Version" value="1"/>
<property name="ListenerMethodName" value="mouseClicked"/>
</connection>
<connection>
<property name="ConnectionType" value="1"/>
<property name="ClassHeader" value="&#10; class addButton_addButton_conn1 implements java.awt.event.ActionListener, java.io.Serializable &#10;  {&#10;&#10;     //&lt;TOP_PART&gt;&#10;"/>
<property name="NeedsCompilation" value="false"/>
<property name="Targets" value="addButton-TARGET"/>
<property name="UserCode_Connection_addButton_addButton_conn1" value="Connection_addButton_addButton_conn1"/>
<property name="Sources" value="addButton-action-false"/>
<property name="ConnectionName" value="addButton_addButton_conn1"/>
<property name="ConnectionClass" value="java.awt.event.ActionListener"/>
<property name="Connection_Version" value="1"/>
<property name="ListenerMethodName" value="actionPerformed"/>
</connection>
<connection>
<property name="ConnectionType" value="1"/>
<property name="ClassHeader" value="&#10; class searchButton_searchButton_conn1 implements java.awt.event.ActionListener, java.io.Serializable &#10;  {&#10;&#10;     //&lt;TOP_PART&gt;&#10;"/>
<property name="NeedsCompilation" value="false"/>
<property name="Targets" value="searchButton-TARGET"/>
<property name="Sources" value="searchButton-action-false"/>
<property name="ConnectionName" value="searchButton_searchButton_conn1"/>
<property name="ConnectionClass" value="java.awt.event.ActionListener"/>
<property name="Connection_Version" value="1"/>
<property name="ListenerMethodName" value="actionPerformed"/>
<property name="UserCode_Connection_searchButton_searchButton_conn1" value="Connection_searchButton_searchButton_conn1"/>
</connection>
<connection>
<property name="ConnectionType" value="1"/>
<property name="ClassHeader" value="&#10; class detailsButton_detailsButton_conn1 implements java.awt.event.ActionListener, java.io.Serializable &#10;  {&#10;&#10;     //&lt;TOP_PART&gt;&#10;"/>
<property name="NeedsCompilation" value="false"/>
<property name="Targets" value="detailsButton-TARGET"/>
<property name="Sources" value="detailsButton-action-false"/>
<property name="ConnectionName" value="detailsButton_detailsButton_conn1"/>
<property name="ConnectionClass" value="java.awt.event.ActionListener"/>
<property name="Connection_Version" value="1"/>
<property name="UserCode_Connection_detailsButton_detailsButton_conn1" value="Connection_detailsButton_detailsButton_conn1"/>
<property name="ListenerMethodName" value="actionPerformed"/>
</connection>
<connection>
<property name="UserCode_Connection_modifyButton_modifyButton_conn1" value="Connection_modifyButton_modifyButton_conn1"/>
<property name="ConnectionType" value="1"/>
<property name="ClassHeader" value="&#10; class modifyButton_modifyButton_conn1 implements java.awt.event.ActionListener, java.io.Serializable &#10;  {&#10;&#10;     //&lt;TOP_PART&gt;&#10;"/>
<property name="NeedsCompilation" value="false"/>
<property name="Targets" value="modifyButton-TARGET"/>
<property name="Sources" value="modifyButton-action-false"/>
<property name="ConnectionName" value="modifyButton_modifyButton_conn1"/>
<property name="ConnectionClass" value="java.awt.event.ActionListener"/>
<property name="Connection_Version" value="1"/>
<property name="ListenerMethodName" value="actionPerformed"/>
</connection>
<connection>
<property name="ConnectionType" value="1"/>
<property name="UserCode_Connection_nextButton_nextButton_conn1" value="Connection_nextButton_nextButton_conn1"/>
<property name="ClassHeader" value="&#10; class nextButton_nextButton_conn1 implements java.awt.event.ActionListener, java.io.Serializable &#10;  {&#10;&#10;     //&lt;TOP_PART&gt;&#10;"/>
<property name="NeedsCompilation" value="false"/>
<property name="Targets" value="nextButton-TARGET"/>
<property name="Sources" value="nextButton-action-false"/>
<property name="ConnectionName" value="nextButton_nextButton_conn1"/>
<property name="ConnectionClass" value="java.awt.event.ActionListener"/>
<property name="Connection_Version" value="1"/>
<property name="ListenerMethodName" value="actionPerformed"/>
</connection>
<connection>
<property name="ConnectionType" value="1"/>
<property name="ClassHeader" value="&#10; class searchText_searchText_conn1 extends java.awt.event.KeyAdapter implements java.io.Serializable &#10;  {&#10;&#10;     //&lt;TOP_PART&gt;&#10;"/>
<property name="NeedsCompilation" value="false"/>
<property name="UserCode_Connection_searchText_searchText_conn1" value="Connection_searchText_searchText_conn1"/>
<property name="Targets" value="searchText-TARGET"/>
<property name="Sources" value="searchText-key-false"/>
<property name="ConnectionName" value="searchText_searchText_conn1"/>
<property name="ConnectionClass" value="java.awt.event.KeyAdapter"/>
<property name="Connection_Version" value="1"/>
<property name="ListenerMethodName" value="keyReleased"/>
</connection>
<connection>
<property name="ConnectionType" value="1"/>
<property name="ClassHeader" value="&#10; class deleteButton_deleteButton_conn1 implements java.awt.event.ActionListener, java.io.Serializable &#10;  {&#10;&#10;     //&lt;TOP_PART&gt;&#10;"/>
<property name="NeedsCompilation" value="false"/>
<property name="UserCode_Connection_deleteButton_deleteButton_conn1" value="Connection_deleteButton_deleteButton_conn1"/>
<property name="Targets" value="deleteButton-TARGET"/>
<property name="Sources" value="deleteButton-action-false"/>
<property name="ConnectionName" value="deleteButton_deleteButton_conn1"/>
<property name="ConnectionClass" value="java.awt.event.ActionListener"/>
<property name="Connection_Version" value="1"/>
<property name="ListenerMethodName" value="actionPerformed"/>
</connection>
<connection>
<property name="ConnectionType" value="1"/>
<property name="ClassHeader" value="&#10; class JButton1_JButton1_conn1 implements java.awt.event.ActionListener, java.io.Serializable &#10;  {&#10;&#10;     //&lt;TOP_PART&gt;&#10;"/>
<property name="NeedsCompilation" value="false"/>
<property name="Targets" value="applyButton-TARGET"/>
<property name="Sources" value="applyButton-action-false"/>
<property name="ConnectionName" value="JButton1_JButton1_conn1"/>
<property name="ConnectionClass" value="java.awt.event.ActionListener"/>
<property name="Connection_Version" value="1"/>
<property name="ListenerMethodName" value="actionPerformed"/>
<property name="UserCode_Connection_JButton1_JButton1_conn1" value="Connection_JButton1_JButton1_conn1"/>
</connection>
<property name="MenuBarPresent" value="true"/>
<property name="Custom Code" value=""/>
<property name="GenSource" value="true"/>
<property name="Dummy Interface" value=""/>
<property name="ToolBarPresent" value="true"/>
<property name="HorizontalSplitPanePos" value="170.0"/>
<property name="SubVersion" value="4.4"/>
<property name="LookAndFeel" value="None"/>
</screen>
