<?xml version="1.0" encoding="ISO-8859-1"?>
<screen conversionType="Hash">
<property name="Screen Width" value="628"/>
<property name="Initialize Commands" value=""/>
<property name="screenTitle" value="Native Ping Properties"/>
<bean>
<property name="UserCode_Bean_Top" value="Bean_Top"/>
<property name="InstanceName" value="Top"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Layout Manager" value="GridBag Layout"/>
<property name="Panel" value="container"/>
<property name="Layout Constraints" value="Center"/>
<property name="Layout Manager Constraints" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="PopupMenu" value="none"/>
<property name="Layout Manager Constraints" value=""/>
<property name="Layout Constraints" value="0,3,0,1,2,17,0,0,0.1,0.0,5,5,5,5"/>
<property name="DefaultSize" value="234,67"/>
<property name="border" value="EtchedBorder,0,null,null"/>
<property name="Layout Manager" value="GridBag Layout"/>
<property name="UserCode_Bean_butPanel" value="Bean_butPanel"/>
<property name="InstanceName" value="butPanel"/>
<property name="PropertyOrder" value=",border,"/>
<property name="Bean Permissions" value="255"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Panel" value="Top"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Modifiers" value=""/>
<property name="preferredSize" value="73,27"/>
<property name="minimumSize" value="73,27"/>
<property name="UserCode_Bean_okButton" value="Bean_okButton"/>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="PropertyOrder" value=",toolTipText,border,horizontalTextPosition,preferredSize,minimumSize,maximumSize,text,"/>
<property name="DefaultSize" value="81,35"/>
<property name="PopupMenu" value="none"/>
<property name="text" value="OK"/>
<property name="Initializer" value=""/>
<property name="InstanceName" value="okButton"/>
<property name="border" value="BevelBorder,0,null,null,null,null"/>
<property name="maximumSize" value="73,27"/>
<property name="toolTipText" value="OK"/>
<property name="Panel" value="butPanel"/>
<property name="horizontalTextPosition" value="0"/>
<property name="Layout Constraints" value="0,0,1,1,0,10,0,0,0.0,0.0,10,10,10,20"/>
<property name="Bean Permissions" value="247"/>
</bean>
<bean>
<property name="UserCode_Bean_cancelButton" value="Bean_cancelButton"/>
<property name="Modifiers" value=""/>
<property name="preferredSize" value="73,27"/>
<property name="minimumSize" value="73,27"/>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="PropertyOrder" value=",toolTipText,border,horizontalTextPosition,text,preferredSize,minimumSize,maximumSize,"/>
<property name="DefaultSize" value="81,35"/>
<property name="PopupMenu" value="none"/>
<property name="text" value="Cancel"/>
<property name="Initializer" value=""/>
<property name="InstanceName" value="cancelButton"/>
<property name="border" value="BevelBorder,0,null,null,null,null"/>
<property name="maximumSize" value="73,27"/>
<property name="toolTipText" value="Cancel"/>
<property name="Panel" value="butPanel"/>
<property name="horizontalTextPosition" value="0"/>
<property name="Layout Constraints" value="1,0,1,1,0,10,0,0,0.0,0.0,10,20,10,10"/>
<property name="Bean Permissions" value="247"/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Manager Constraints" value=""/>
<property name="UserCode_Bean_panelICMP" value="Bean_panelICMP"/>
<property name="Layout Constraints" value="0,1,0,1,2,17,0,0,0.1,0.0,5,5,5,5"/>
<property name="DefaultSize" value="289,289"/>
<property name="Layout Manager" value="GridBag Layout"/>
<property name="InstanceName" value="panelICMP"/>
<property name="Bean Permissions" value="255"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Panel" value="Top"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Constraints" value="0,0,1,1,0,17,0,0,0.0,0.0,5,5,5,5"/>
<property name="UserCode_Bean_chbNatPing" value="Bean_chbNatPing"/>
<property name="toolTipText" value="Native Ping"/>
<property name="DefaultSize" value="114,33"/>
<property name="selected" value="true"/>
<property name="InstanceName" value="chbNatPing"/>
<property name="PropertyOrder" value=",text,toolTipText,selected,"/>
<property name="Bean Permissions" value="247"/>
<property name="ClassName" value="javax.swing.JCheckBox"/>
<property name="Panel" value="panelICMP"/>
<property name="text" value="Native Ping"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="PopupMenu" value="none"/>
<property name="Layout Constraints" value="0,6,1,1,0,17,0,0,0.0,0.0,5,5,5,5"/>
<property name="toolTipText" value="NativePing Sweep"/>
<property name="DefaultSize" value="163,33"/>
<property name="InstanceName" value="chbPingSw"/>
<property name="PropertyOrder" value=",text,toolTipText,label,"/>
<property name="Bean Permissions" value="247"/>
<property name="label" value="Native Ping Sweep"/>
<property name="ClassName" value="javax.swing.JCheckBox"/>
<property name="Panel" value="panelICMP"/>
<property name="UserCode_Bean_chbPingSw" value="Bean_chbPingSw"/>
<property name="text" value="ICMP Ping Sweep"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="UserCode_Bean_lfTimeout" value="Bean_lfTimeout"/>
<property name="Layout Constraints" value="0,1,-1,1,0,17,0,0,0.0,0.0,5,5,5,5"/>
<property name="DefaultSize" value="153,25"/>
<property name="InstanceName" value="lfTimeout"/>
<property name="PropertyOrder" value=",foreground,text,"/>
<property name="Bean Permissions" value="247"/>
<property name="foreground" value="-16777211"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="Panel" value="panelICMP"/>
<property name="text" value="Native Ping Timeout"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Constraints" value="0,2,-1,1,0,17,0,0,0.0,0.0,5,5,5,5"/>
<property name="DefaultSize" value="144,25"/>
<property name="UserCode_Bean_lfRetries" value="Bean_lfRetries"/>
<property name="InstanceName" value="lfRetries"/>
<property name="PropertyOrder" value=",foreground,text,"/>
<property name="Bean Permissions" value="247"/>
<property name="foreground" value="-16777210"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="Panel" value="panelICMP"/>
<property name="text" value="Native Ping Retries"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Constraints" value="0,3,-1,1,0,17,0,0,0.0,0.0,5,5,5,5"/>
<property name="DefaultSize" value="196,25"/>
<property name="UserCode_Bean_lfSwPack" value="Bean_lfSwPack"/>
<property name="InstanceName" value="lfSwPack"/>
<property name="PropertyOrder" value=",foreground,text,"/>
<property name="Bean Permissions" value="247"/>
<property name="foreground" value="-16777213"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="Panel" value="panelICMP"/>
<property name="text" value="Native Ping Sweep Packets"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Constraints" value="0,4,-1,1,0,17,0,0,0.0,0.0,5,5,5,5"/>
<property name="DefaultSize" value="241,25"/>
<property name="InstanceName" value="lfSwSlInt"/>
<property name="PropertyOrder" value=",foreground,text,"/>
<property name="Bean Permissions" value="247"/>
<property name="UserCode_Bean_lfSwSlInt" value="Bean_lfSwSlInt"/>
<property name="foreground" value="-16777216"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="Panel" value="panelICMP"/>
<property name="text" value="Native Ping Sweep Sleep Interval"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="PopupMenu" value="none"/>
<property name="Layout Constraints" value="0,5,-1,1,0,17,0,0,0.0,0.0,5,5,5,5"/>
<property name="DefaultSize" value="186,25"/>
<property name="InstanceName" value="lfDebug"/>
<property name="PropertyOrder" value=",foreground,text,"/>
<property name="UserCode_Bean_lfDebug" value="Bean_lfDebug"/>
<property name="Bean Permissions" value="247"/>
<property name="foreground" value="-16777213"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="Panel" value="panelICMP"/>
<property name="text" value="Native Ping Debug  Level"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Constraints" value="1,1,0,1,2,17,0,0,0.1,0.0,5,5,5,5"/>
<property name="toolTipText" value="NativePing Timeout in seconds"/>
<property name="DefaultSize" value="20,29"/>
<property name="border" value="BevelBorder,1,null,null,null,null"/>
<property name="InstanceName" value="tfTimeout"/>
<property name="PropertyOrder" value=",toolTipText,border,"/>
<property name="Bean Permissions" value="247"/>
<property name="UserCode_Bean_tfTimeout" value="Bean_tfTimeout"/>
<property name="ClassName" value="javax.swing.JTextField"/>
<property name="Panel" value="panelICMP"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Constraints" value="1,2,0,1,2,17,0,0,0.1,0.0,5,5,5,5"/>
<property name="toolTipText" value="NativePing Retries"/>
<property name="DefaultSize" value="20,29"/>
<property name="border" value="BevelBorder,1,null,null,null,null"/>
<property name="InstanceName" value="tfRetries"/>
<property name="PropertyOrder" value=",toolTipText,border,"/>
<property name="Bean Permissions" value="247"/>
<property name="UserCode_Bean_tfRetries" value="Bean_tfRetries"/>
<property name="ClassName" value="javax.swing.JTextField"/>
<property name="Panel" value="panelICMP"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Constraints" value="1,3,0,1,2,17,0,0,0.1,0.0,5,5,5,5"/>
<property name="toolTipText" value="NativePing Sweep Packets"/>
<property name="DefaultSize" value="20,29"/>
<property name="border" value="BevelBorder,1,null,null,null,null"/>
<property name="InstanceName" value="tfSwPack"/>
<property name="PropertyOrder" value=",toolTipText,border,"/>
<property name="Bean Permissions" value="247"/>
<property name="ClassName" value="javax.swing.JTextField"/>
<property name="Panel" value="panelICMP"/>
<property name="UserCode_Bean_tfSwPack" value="Bean_tfSwPack"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Constraints" value="1,4,0,1,2,17,0,0,0.1,0.0,5,5,5,5"/>
<property name="UserCode_Bean_tfSwSlInt" value="Bean_tfSwSlInt"/>
<property name="toolTipText" value="NativePing_Sweep_Sleep Interval in seconds"/>
<property name="DefaultSize" value="20,29"/>
<property name="border" value="BevelBorder,1,null,null,null,null"/>
<property name="InstanceName" value="tfSwSlInt"/>
<property name="PropertyOrder" value=",toolTipText,border,"/>
<property name="Bean Permissions" value="247"/>
<property name="ClassName" value="javax.swing.JTextField"/>
<property name="Panel" value="panelICMP"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Constraints" value="1,5,0,1,2,17,0,0,0.1,0.0,5,5,5,5"/>
<property name="toolTipText" value="NativePing Debug Level"/>
<property name="DefaultSize" value="20,29"/>
<property name="border" value="BevelBorder,1,null,null,null,null"/>
<property name="InstanceName" value="tfDebug"/>
<property name="PropertyOrder" value=",toolTipText,border,"/>
<property name="Bean Permissions" value="247"/>
<property name="UserCode_Bean_tfDebug" value="Bean_tfDebug"/>
<property name="ClassName" value="javax.swing.JTextField"/>
<property name="Panel" value="panelICMP"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Manager Constraints" value="5,5"/>
<property name="Layout Constraints" value="0,0,0,1,2,17,0,0,0.1,0.0,5,5,5,5"/>
<property name="DefaultSize" value="653,43"/>
<property name="Layout Manager" value="Border Layout"/>
<property name="InstanceName" value="imagePanel"/>
<property name="Bean Permissions" value="255"/>
<property name="UserCode_Bean_imagePanel" value="Bean_imagePanel"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Panel" value="Top"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="background" value="-3355444"/>
<property name="Layout Constraints" value="West"/>
<property name="DefaultSize" value="20,20"/>
<property name="InstanceName" value="lfImage"/>
<property name="PropertyOrder" value=",horizontalTextPosition,horizontalAlignment,background,"/>
<property name="Bean Permissions" value="247"/>
<property name="UserCode_Bean_lfImage" value="Bean_lfImage"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="Panel" value="imagePanel"/>
<property name="horizontalTextPosition" value="0"/>
<property name="horizontalAlignment" value="0"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Constraints" value="Center"/>
<property name="editable" value="false"/>
<property name="font" value="Dialog+0+10"/>
<property name="DefaultSize" value="577,25"/>
<property name="PaddingSize" value="9,5"/>
<property name="InstanceName" value="taICMP"/>
<property name="PropertyOrder" value=",text,editable,wrapStyleWord,lineWrap,font,"/>
<property name="Bean Permissions" value="247"/>
<property name="wrapStyleWord" value="true"/>
<property name="UserCode_Bean_taICMP" value="Bean_taICMP"/>
<property name="ClassName" value="javax.swing.JTextArea"/>
<property name="Panel" value="imagePanel"/>
<property name="text" value="Configure Native Ping parameters for discovery."/>
<property name="Modifiers" value=""/>
<property name="lineWrap" value="true"/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Constraints" value="0,2,0,1,1,17,0,0,0.1,0.1,5,5,5,5"/>
<property name="DefaultSize" value="20,20"/>
<property name="InstanceName" value="lfEmpty"/>
<property name="Bean Permissions" value="247"/>
<property name="Panel" value="Top"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="UserCode_Bean_lfEmpty" value="Bean_lfEmpty"/>
<property name="Modifiers" value=""/>
</bean>
<property name="Import Code" value=""/>
<property name="Variable Definitions" value=""/>
<property name="Version" value="4.4"/>
<property name="Screen Height" value="430"/>
<property name="Start Commands" value=""/>
<property name="Type" value="Dialog"/>
<property name="MenuBarPresent" value="true"/>
<property name="Custom Code" value=""/>
<property name="GenSource" value="false"/>
<property name="Dummy Interface" value=""/>
<property name="ToolBarPresent" value="true"/>
<property name="HorizontalSplitPanePos" value="170.0"/>
<property name="SubVersion" value="4.4"/>
<property name="LookAndFeel" value="None"/>
</screen>
