<?xml version="1.0" encoding="UTF-8"?>
<screen conversionType="Hash">
<property name="Screen Width" value="675"/>
<property name="Initialize Commands" value=""/>
<property name="screenTitle" value="NetworkDiscoveryScreen"/>
<bean>
<property name="InstanceName" value="Top"/>
<property name="UserCode_Bean_components" value="Bean_components"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Layout Manager" value="GridBag Layout"/>
<property name="Layout Constraints" value="Center"/>
<property name="Panel" value="container"/>
<property name="Layout Manager Constraints" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="PopupMenu" value="none"/>
<property name="Layout Manager Constraints" value=""/>
<property name="Layout Constraints" value="0,2,0,1,2,17,0,0,0.1,0.0,5,5,5,5"/>
<property name="minimumSize" value="650,236"/>
<property name="DefaultSize" value="1126,244"/>
<property name="Layout Manager" value="GridBag Layout"/>
<property name="InstanceName" value="entriesPanel"/>
<property name="PropertyOrder" value=",minimumSize,preferredSize,"/>
<property name="UserCode_Bean_entriesPanel" value="Bean_entriesPanel"/>
<property name="Bean Permissions" value="255"/>
<property name="preferredSize" value="650,236"/>
<property name="Panel" value="Top"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new com.adventnet.beans.probeans.ProIpAddressComponent();"/>
<property name="UserCode_Bean_proEnd" value="Bean_proEnd"/>
<property name="Layout Constraints" value="3,2,1,1,2,17,0,0,0.1,0.0,5,0,5,0"/>
<property name="minimumSize" value="60,22"/>
<property name="toolTipText" value="End IP"/>
<property name="DefaultSize" value="68,30"/>
<property name="border" value="BevelBorder,1,null,null,null,null"/>
<property name="InstanceName" value="proEnd"/>
<property name="PropertyOrder" value=",toolTipText,border,Editable,enabled,minimumSize,"/>
<property name="Bean Permissions" value="247"/>
<property name="enabled" value="false"/>
<property name="Panel" value="entriesPanel"/>
<property name="ClassName" value="com.adventnet.beans.probeans.ProIpAddressComponent"/>
<property name="Editable" value="false"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Manager Constraints" value=""/>
<property name="Layout Constraints" value="1,0,-1,1,2,10,0,0,0.4,0.0,5,5,5,15"/>
<property name="DefaultSize" value="310,42"/>
<property name="Layout Manager" value="GridBag Layout"/>
<property name="UserCode_Bean_rbPanel" value="Bean_rbPanel"/>
<property name="InstanceName" value="rbPanel"/>
<property name="Bean Permissions" value="255"/>
<property name="Panel" value="entriesPanel"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="UserCode_Bean_rbEntire" value="Bean_rbEntire"/>
<property name="Initializer" value=""/>
<property name="Layout Constraints" value="0,0,1,1,0,17,0,0,0.0,0.0,0,0,0,20"/>
<property name="DefaultSize" value="138,34"/>
<property name="selected" value="true"/>
<property name="InstanceName" value="rbEntire"/>
<property name="PropertyOrder" value=",label,selected,"/>
<property name="Bean Permissions" value="247"/>
<property name="label" value="Entire Network"/>
<property name="Panel" value="rbPanel"/>
<property name="ClassName" value="javax.swing.JRadioButton"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Constraints" value="1,0,1,1,0,17,0,0,0.0,0.0,0,20,0,0"/>
<property name="DefaultSize" value="124,34"/>
<property name="InstanceName" value="rbRange"/>
<property name="PropertyOrder" value=",label,"/>
<property name="Bean Permissions" value="247"/>
<property name="label" value="Set of Nodes"/>
<property name="Panel" value="rbPanel"/>
<property name="ClassName" value="javax.swing.JRadioButton"/>
<property name="UserCode_Bean_rbRange" value="Bean_rbRange"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Constraints" value="0,0,1,1,0,17,0,0,0.0,0.0,5,5,5,0"/>
<property name="toolTipText" value="Discover"/>
<property name="DefaultSize" value="94,34"/>
<property name="selected" value="true"/>
<property name="InstanceName" value="chbDisc"/>
<property name="PropertyOrder" value=",text,toolTipText,selected,"/>
<property name="Bean Permissions" value="247"/>
<property name="UserCode_Bean_chbDisc" value="Bean_chbDisc"/>
<property name="Panel" value="entriesPanel"/>
<property name="ClassName" value="javax.swing.JCheckBox"/>
<property name="text" value="Discover"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new com.adventnet.beans.probeans.ProIpAddressComponent();"/>
<property name="Layout Constraints" value="1,1,1,1,2,17,0,0,0.1,0.0,5,5,5,10"/>
<property name="minimumSize" value="60,22"/>
<property name="toolTipText" value="IP Address"/>
<property name="DefaultSize" value="68,30"/>
<property name="UserCode_Bean_proIPAddr" value="Bean_proIPAddr"/>
<property name="border" value="BevelBorder,1,null,null,null,null"/>
<property name="InstanceName" value="proIPAddr"/>
<property name="PropertyOrder" value=",toolTipText,border,minimumSize,preferredSize,"/>
<property name="Bean Permissions" value="247"/>
<property name="preferredSize" value="60,22"/>
<property name="Panel" value="entriesPanel"/>
<property name="ClassName" value="com.adventnet.beans.probeans.ProIpAddressComponent"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Constraints" value="0,1,1,1,0,17,0,0,0.0,0.0,5,5,5,5"/>
<property name="DefaultSize" value="79,26"/>
<property name="UserCode_Bean_lfIPAddr" value="Bean_lfIPAddr"/>
<property name="InstanceName" value="lfIPAddr"/>
<property name="PropertyOrder" value=",text,foreground,"/>
<property name="Bean Permissions" value="247"/>
<property name="foreground" value="-16777214"/>
<property name="Panel" value="entriesPanel"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="text" value="IPAddress"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Constraints" value="2,1,1,1,0,17,0,0,0.0,0.0,5,5,5,5"/>
<property name="DefaultSize" value="68,26"/>
<property name="InstanceName" value="lfNetMask"/>
<property name="PropertyOrder" value=",text,foreground,"/>
<property name="UserCode_Bean_lfNetMask" value="Bean_lfNetMask"/>
<property name="Bean Permissions" value="247"/>
<property name="foreground" value="-16777214"/>
<property name="Panel" value="entriesPanel"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="text" value="NetMask"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Constraints" value="0,3,1,1,0,17,0,0,0.0,0.0,5,5,5,5"/>
<property name="DefaultSize" value="70,34"/>
<property name="InstanceName" value="chbDHCP"/>
<property name="PropertyOrder" value=",label,enabled,"/>
<property name="Bean Permissions" value="247"/>
<property name="enabled" value="false"/>
<property name="label" value="DHCP"/>
<property name="Panel" value="entriesPanel"/>
<property name="ClassName" value="javax.swing.JCheckBox"/>
<property name="UserCode_Bean_chbDHCP" value="Bean_chbDHCP"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Constraints" value="0,2,1,1,0,17,0,0,0.0,0.0,5,5,5,5"/>
<property name="DefaultSize" value="60,26"/>
<property name="InstanceName" value="lfStart"/>
<property name="PropertyOrder" value=",text,foreground,enabled,"/>
<property name="Bean Permissions" value="247"/>
<property name="enabled" value="false"/>
<property name="UserCode_Bean_lfStart" value="Bean_lfStart"/>
<property name="foreground" value="-16777214"/>
<property name="Panel" value="entriesPanel"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="text" value="Start IP"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new com.adventnet.beans.probeans.ProIpAddressComponent();"/>
<property name="Layout Constraints" value="1,2,1,1,2,17,0,0,0.1,0.0,5,5,5,10"/>
<property name="minimumSize" value="60,22"/>
<property name="toolTipText" value="Start IP"/>
<property name="DefaultSize" value="68,30"/>
<property name="border" value="BevelBorder,1,null,null,null,null"/>
<property name="InstanceName" value="proStart"/>
<property name="PropertyOrder" value=",toolTipText,border,Editable,enabled,minimumSize,"/>
<property name="Bean Permissions" value="247"/>
<property name="enabled" value="false"/>
<property name="UserCode_Bean_proStart" value="Bean_proStart"/>
<property name="Panel" value="entriesPanel"/>
<property name="ClassName" value="com.adventnet.beans.probeans.ProIpAddressComponent"/>
<property name="Editable" value="false"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Constraints" value="2,2,1,1,0,17,0,0,0.0,0.0,5,5,5,5"/>
<property name="DefaultSize" value="52,26"/>
<property name="UserCode_Bean_lfEnd" value="Bean_lfEnd"/>
<property name="InstanceName" value="lfEnd"/>
<property name="PropertyOrder" value=",text,foreground,enabled,"/>
<property name="Bean Permissions" value="247"/>
<property name="enabled" value="false"/>
<property name="foreground" value="-16777213"/>
<property name="Panel" value="entriesPanel"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="text" value="End IP"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JCheckBox();"/>
<property name="Layout Constraints" value="0,4,1,1,0,17,0,0,0.0,0.0,5,5,5,5"/>
<property name="DefaultSize" value="145,34"/>
<property name="UserCode_Bean_snmpDiscCh" value="Bean_snmpDiscCh"/>
<property name="InstanceName" value="snmpDiscCh"/>
<property name="PropertyOrder" value=",text,label,"/>
<property name="Bean Permissions" value="247"/>
<property name="label" value="SNMP"/>
<property name="Panel" value="entriesPanel"/>
<property name="ClassName" value="javax.swing.JCheckBox"/>
<property name="text" value="SNMP Discovery"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JButton();"/>
<property name="Layout Constraints" value="1,4,1,1,0,13,0,0,0.0,0.0,5,5,5,10"/>
<property name="DefaultSize" value="191,37"/>
<property name="InstanceName" value="snmpDiscButton"/>
<property name="PropertyOrder" value=",text,label,"/>
<property name="Bean Permissions" value="247"/>
<property name="UserCode_Bean_snmpDiscButton" value="Bean_snmpDiscButton"/>
<property name="label" value="SNMP Properties"/>
<property name="Panel" value="entriesPanel"/>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="text" value="Configure Properties"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JPanel();"/>
<property name="Layout Manager Constraints" value=""/>
<property name="Layout Constraints" value="3,1,1,1,0,17,0,0,0.1,0.0,5,0,5,0"/>
<property name="toolTipText" value="Netmask"/>
<property name="DefaultSize" value="544,43"/>
<property name="Layout Manager" value="GridBag Layout"/>
<property name="UserCode_Bean_JPanel1" value="Bean_JPanel1"/>
<property name="InstanceName" value="JPanel1"/>
<property name="PropertyOrder" value=",toolTipText,"/>
<property name="Bean Permissions" value="255"/>
<property name="Panel" value="entriesPanel"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="background" value="-1"/>
<property name="Initializer" value="new javax.swing.JComboBox();"/>
<property name="Layout Constraints" value="0,0,1,1,0,10,0,0,0.0,0.0,0,0,0,0"/>
<property name="DefaultSize" value="134,35"/>
<property name="InstanceName" value="jcb1"/>
<property name="PropertyOrder" value=",autoscrolls,background,"/>
<property name="Bean Permissions" value="247"/>
<property name="autoscrolls" value="false"/>
<property name="UserCode_Bean_jcb1" value="Bean_jcb1"/>
<property name="Panel" value="JPanel1"/>
<property name="ClassName" value="javax.swing.JComboBox"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="background" value="-1"/>
<property name="Initializer" value="new javax.swing.JComboBox();"/>
<property name="Layout Constraints" value="1,0,1,1,0,10,0,0,0.0,0.0,0,0,0,0"/>
<property name="DefaultSize" value="134,35"/>
<property name="InstanceName" value="jcb2"/>
<property name="PropertyOrder" value=",background,"/>
<property name="Bean Permissions" value="247"/>
<property name="UserCode_Bean_jcb2" value="Bean_jcb2"/>
<property name="Panel" value="JPanel1"/>
<property name="ClassName" value="javax.swing.JComboBox"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="background" value="-1"/>
<property name="Initializer" value="new javax.swing.JComboBox();"/>
<property name="Layout Constraints" value="2,0,1,1,0,10,0,0,0.0,0.0,0,0,0,0"/>
<property name="DefaultSize" value="134,35"/>
<property name="InstanceName" value="jcb3"/>
<property name="PropertyOrder" value=",background,"/>
<property name="Bean Permissions" value="247"/>
<property name="UserCode_Bean_jcb3" value="Bean_jcb3"/>
<property name="Panel" value="JPanel1"/>
<property name="ClassName" value="javax.swing.JComboBox"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="background" value="-1"/>
<property name="Initializer" value="new javax.swing.JComboBox();"/>
<property name="Layout Constraints" value="3,0,1,1,0,10,0,0,0.0,0.0,0,0,0,0"/>
<property name="DefaultSize" value="134,35"/>
<property name="InstanceName" value="jcb4"/>
<property name="PropertyOrder" value=",background,"/>
<property name="Bean Permissions" value="247"/>
<property name="UserCode_Bean_jcb4" value="Bean_jcb4"/>
<property name="Panel" value="JPanel1"/>
<property name="ClassName" value="javax.swing.JComboBox"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Manager Constraints" value="5,5"/>
<property name="Layout Constraints" value="0,0,0,1,2,17,0,0,0.1,0.0,5,5,5,5"/>
<property name="DefaultSize" value="657,60"/>
<property name="Layout Manager" value="Border Layout"/>
<property name="InstanceName" value="imagePanel"/>
<property name="Bean Permissions" value="255"/>
<property name="UserCode_Bean_imagePanel" value="Bean_imagePanel"/>
<property name="Panel" value="Top"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Constraints" value="West"/>
<property name="DefaultSize" value="20,20"/>
<property name="InstanceName" value="lfImage"/>
<property name="Bean Permissions" value="247"/>
<property name="UserCode_Bean_lfImage" value="Bean_lfImage"/>
<property name="Panel" value="imagePanel"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="font" value="Dialog+0+10"/>
<property name="editable" value="false"/>
<property name="Layout Constraints" value="Center"/>
<property name="UserCode_Bean_taNetwork" value="Bean_taNetwork"/>
<property name="DefaultSize" value="614,42"/>
<property name="PaddingSize" value="0,6"/>
<property name="InstanceName" value="taNetwork"/>
<property name="PropertyOrder" value=",wrapStyleWord,lineWrap,editable,text,foreground,font,"/>
<property name="Bean Permissions" value="247"/>
<property name="wrapStyleWord" value="true"/>
<property name="foreground" value="-16777216"/>
<property name="Panel" value="imagePanel"/>
<property name="ClassName" value="javax.swing.JTextArea"/>
<property name="text" value="Configure Network Discovery parameters.IPAddress,Netmask,StartIP,EndIP and DHCP are the key parameters for Network Discovery."/>
<property name="lineWrap" value="true"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="PopupMenu" value="none"/>
<property name="Layout Manager Constraints" value=""/>
<property name="Layout Constraints" value="0,3,0,1,2,17,0,0,0.1,0.0,5,5,5,5"/>
<property name="DefaultSize" value="355,67"/>
<property name="border" value="EtchedBorder,0,null,null"/>
<property name="Layout Manager" value="GridBag Layout"/>
<property name="UserCode_Bean_butPanel" value="Bean_butPanel"/>
<property name="InstanceName" value="butPanel"/>
<property name="PropertyOrder" value=",border,"/>
<property name="Bean Permissions" value="255"/>
<property name="Panel" value="Top"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Modifiers" value=""/>
<property name="preferredSize" value="73,27"/>
<property name="minimumSize" value="73,27"/>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="PropertyOrder" value=",text,border,horizontalTextPosition,label,maximumSize,minimumSize,preferredSize,toolTipText,"/>
<property name="DefaultSize" value="81,35"/>
<property name="label" value="Add"/>
<property name="UserCode_Bean_addButton" value="Bean_addButton"/>
<property name="PopupMenu" value="none"/>
<property name="text" value="Add"/>
<property name="Initializer" value=""/>
<property name="InstanceName" value="addButton"/>
<property name="border" value="BevelBorder,0,null,null,null,null"/>
<property name="maximumSize" value="73,27"/>
<property name="toolTipText" value="Click here to Add a row to the table."/>
<property name="Panel" value="butPanel"/>
<property name="horizontalTextPosition" value="0"/>
<property name="Layout Constraints" value="0,0,1,1,0,10,0,0,0.0,0.0,10,10,10,20"/>
<property name="Bean Permissions" value="247"/>
</bean>
<bean>
<property name="Modifiers" value=""/>
<property name="preferredSize" value="73,27"/>
<property name="minimumSize" value="73,27"/>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="PropertyOrder" value=",text,border,horizontalTextPosition,label,maximumSize,minimumSize,preferredSize,toolTipText,"/>
<property name="DefaultSize" value="81,35"/>
<property name="label" value="Delete"/>
<property name="PopupMenu" value="none"/>
<property name="text" value="Delete"/>
<property name="Initializer" value=""/>
<property name="InstanceName" value="delButton"/>
<property name="border" value="BevelBorder,0,null,null,null,null"/>
<property name="maximumSize" value="73,27"/>
<property name="toolTipText" value="Click here to Delete a row from the table."/>
<property name="Panel" value="butPanel"/>
<property name="horizontalTextPosition" value="0"/>
<property name="Layout Constraints" value="1,0,1,1,0,10,0,0,0.0,0.0,10,20,10,20"/>
<property name="UserCode_Bean_delButton" value="Bean_delButton"/>
<property name="Bean Permissions" value="247"/>
</bean>
<bean>
<property name="Modifiers" value=""/>
<property name="preferredSize" value="73,27"/>
<property name="minimumSize" value="73,27"/>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="PropertyOrder" value=",border,label,horizontalTextPosition,text,maximumSize,minimumSize,preferredSize,toolTipText,"/>
<property name="DefaultSize" value="81,35"/>
<property name="label" value="   Modify   "/>
<property name="PopupMenu" value="none"/>
<property name="text" value="Modify"/>
<property name="Initializer" value=""/>
<property name="InstanceName" value="modButton"/>
<property name="border" value="BevelBorder,0,null,null,null,null"/>
<property name="maximumSize" value="73,27"/>
<property name="toolTipText" value="Click here to Modify an existing row in the table."/>
<property name="UserCode_Bean_modButton" value="Bean_modButton"/>
<property name="Panel" value="butPanel"/>
<property name="horizontalTextPosition" value="0"/>
<property name="Layout Constraints" value="2,0,1,1,0,10,0,0,0.0,0.0,10,20,10,10"/>
<property name="Bean Permissions" value="247"/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Manager Constraints" value=""/>
<property name="Layout Constraints" value="0,1,0,1,1,17,0,0,0.1,1.0,5,5,5,5"/>
<property name="minimumSize" value="58,58"/>
<property name="DefaultSize" value="66,66"/>
<property name="border" value="LineBorder,-15987700,1,false"/>
<property name="Layout Manager" value="GridBag Layout"/>
<property name="UserCode_Bean_tablePanel" value="Bean_tablePanel"/>
<property name="InstanceName" value="tablePanel"/>
<property name="PropertyOrder" value=",border,preferredSize,minimumSize,"/>
<property name="Bean Permissions" value="255"/>
<property name="preferredSize" value="58,58"/>
<property name="Panel" value="Top"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Manager Constraints" value=""/>
<property name="Layout Constraints" value="0,0,0,1,1,17,0,0,0.1,0.1,5,5,5,5"/>
<property name="DefaultSize" value="30,30"/>
<property name="UserCode_Bean_tableScroller" value="Bean_tableScroller"/>
<property name="Layout Manager" value="Viewport Layout"/>
<property name="InstanceName" value="tableScroller"/>
<property name="Bean Permissions" value="255"/>
<property name="Panel" value="tablePanel"/>
<property name="ClassName" value="javax.swing.JScrollPane"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="UserCode_Bean_table" value="Bean_table"/>
<property name="Initializer" value=""/>
<property name="DefaultSize" value="20,20"/>
<property name="InstanceName" value="table"/>
<property name="PropertyOrder" value=",autoResizeMode,"/>
<property name="Bean Permissions" value="247"/>
<property name="autoResizeMode" value="4"/>
<property name="Panel" value="tableScroller"/>
<property name="ClassName" value="javax.swing.JTable"/>
<property name="Modifiers" value=""/>
</bean>
<property name="Import Code" value=""/>
<property name="Variable Definitions" value=""/>
<property name="Version" value="4.4"/>
<property name="Screen Height" value="533"/>
<property name="Start Commands" value=""/>
<property name="Type" value="Panel"/>
<property name="FileVersion" value="75"/>
<property name="MenuBarPresent" value="false"/>
<property name="GenSource" value="false"/>
<property name="Custom Code" value=""/>
<property name="Dummy Interface" value=""/>
<property name="ScreenTitle" value=""/>
<property name="ToolBarPresent" value="true"/>
<property name="HorizontalSplitPanePos" value="170.0"/>
<property name="SubVersion" value="4.4"/>
<property name="LookAndFeel" value="None"/>
</screen>
