<?xml version="1.0" encoding="UTF-8"?>
<screen conversionType="Hash">
<property name="Screen Width" value="764"/>
<property name="Initialize Commands" value=""/>
<property name="screenTitle" value="NodeDiscoveryScreen"/>
<bean>
<property name="InstanceName" value="Top"/>
<property name="UserCode_Bean_components" value="Bean_components"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Layout Manager" value="GridBag Layout"/>
<property name="Layout Constraints" value="Center"/>
<property name="Panel" value="container"/>
<property name="Layout Manager Constraints" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="PopupMenu" value="none"/>
<property name="Layout Manager Constraints" value=""/>
<property name="Layout Constraints" value="0,2,0,1,2,17,0,0,0.1,0.0,5,5,5,5"/>
<property name="DefaultSize" value="1039,286"/>
<property name="Layout Manager" value="GridBag Layout"/>
<property name="InstanceName" value="entriesPanel"/>
<property name="UserCode_Bean_entriesPanel" value="Bean_entriesPanel"/>
<property name="Bean Permissions" value="255"/>
<property name="Panel" value="Top"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="font" value="Dialog+1+12"/>
<property name="Layout Constraints" value="0,4,1,1,2,17,0,0,0.0,0.0,5,5,5,5"/>
<property name="UserCode_Bean_lfUser" value="Bean_lfUser"/>
<property name="DefaultSize" value="79,26"/>
<property name="InstanceName" value="lfUser"/>
<property name="PropertyOrder" value=",text,foreground,font,"/>
<property name="Bean Permissions" value="247"/>
<property name="foreground" value="-16449024"/>
<property name="Panel" value="entriesPanel"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="text" value="UserName"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="editable" value="false"/>
<property name="Layout Constraints" value="1,4,1,1,2,17,0,0,0.1,0.0,5,5,5,5"/>
<property name="toolTipText" value="UserName"/>
<property name="DefaultSize" value="20,30"/>
<property name="border" value="BevelBorder,1,null,null,null,null"/>
<property name="InstanceName" value="tfUser"/>
<property name="PropertyOrder" value=",toolTipText,border,editable,enabled,"/>
<property name="Bean Permissions" value="247"/>
<property name="enabled" value="true"/>
<property name="UserCode_Bean_tfUser" value="Bean_tfUser"/>
<property name="Panel" value="entriesPanel"/>
<property name="ClassName" value="javax.swing.JTextField"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="editable" value="false"/>
<property name="UserCode_Bean_tfContext" value="Bean_tfContext"/>
<property name="Layout Constraints" value="3,4,1,1,2,17,0,0,0.1,0.0,5,5,5,5"/>
<property name="toolTipText" value="ContextName"/>
<property name="DefaultSize" value="20,30"/>
<property name="border" value="BevelBorder,1,null,null,null,null"/>
<property name="InstanceName" value="tfContext"/>
<property name="PropertyOrder" value=",toolTipText,border,editable,enabled,"/>
<property name="Bean Permissions" value="247"/>
<property name="enabled" value="true"/>
<property name="Panel" value="entriesPanel"/>
<property name="ClassName" value="javax.swing.JTextField"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="font" value="Dialog+1+12"/>
<property name="Layout Constraints" value="2,4,1,1,0,17,0,0,0.0,0.0,5,5,5,5"/>
<property name="DefaultSize" value="102,26"/>
<property name="InstanceName" value="lfContext"/>
<property name="PropertyOrder" value=",text,foreground,font,"/>
<property name="Bean Permissions" value="247"/>
<property name="foreground" value="-16777215"/>
<property name="UserCode_Bean_lfContext" value="Bean_lfContext"/>
<property name="Panel" value="entriesPanel"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="text" value="ContextName"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="PopupMenu" value="none"/>
<property name="font" value="Dialog+1+12"/>
<property name="Layout Constraints" value="0,3,1,1,0,17,0,0,0.0,0.0,5,5,5,5"/>
<property name="DefaultSize" value="89,26"/>
<property name="InstanceName" value="lfComm"/>
<property name="PropertyOrder" value=",text,foreground,font,"/>
<property name="UserCode_Bean_lfComm" value="Bean_lfComm"/>
<property name="Bean Permissions" value="247"/>
<property name="foreground" value="-16777216"/>
<property name="Panel" value="entriesPanel"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="text" value="Community"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="UserCode_Bean_lfPort" value="Bean_lfPort"/>
<property name="Initializer" value=""/>
<property name="font" value="Dialog+1+12"/>
<property name="Layout Constraints" value="2,3,1,1,0,17,0,0,0.0,0.0,5,5,5,5"/>
<property name="toolTipText" value=""/>
<property name="DefaultSize" value="117,26"/>
<property name="InstanceName" value="lfPort"/>
<property name="PropertyOrder" value=",text,foreground,toolTipText,font,"/>
<property name="Bean Permissions" value="247"/>
<property name="foreground" value="-16777214"/>
<property name="Panel" value="entriesPanel"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="text" value="SNMPAgentPort"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="UserCode_Bean_lfVersion" value="Bean_lfVersion"/>
<property name="Initializer" value=""/>
<property name="font" value="Dialog+1+12"/>
<property name="Layout Constraints" value="0,2,1,1,0,17,0,0,0.0,0.0,5,5,5,5"/>
<property name="DefaultSize" value="105,26"/>
<property name="InstanceName" value="lfVersion"/>
<property name="PropertyOrder" value=",text,foreground,font,"/>
<property name="Bean Permissions" value="247"/>
<property name="foreground" value="-16777205"/>
<property name="Panel" value="entriesPanel"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="text" value="SNMP Version"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Constraints" value="3,3,1,1,2,17,0,0,0.1,0.0,5,5,5,5"/>
<property name="toolTipText" value="SNMPAgentPort"/>
<property name="DefaultSize" value="20,30"/>
<property name="border" value="BevelBorder,1,null,null,null,null"/>
<property name="InstanceName" value="tfPort"/>
<property name="PropertyOrder" value=",toolTipText,text,border,selectionEnd,selectionStart,"/>
<property name="UserCode_Bean_tfPort" value="Bean_tfPort"/>
<property name="Bean Permissions" value="247"/>
<property name="selectionStart" value="3"/>
<property name="Panel" value="entriesPanel"/>
<property name="ClassName" value="javax.swing.JTextField"/>
<property name="selectionEnd" value="6"/>
<property name="text" value="161"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Constraints" value="1,2,1,1,2,17,0,0,0.1,0.0,5,5,5,5"/>
<property name="DefaultSize" value="134,35"/>
<property name="border" value="EtchedBorder,1,null,null"/>
<property name="InstanceName" value="comboVersion"/>
<property name="PropertyOrder" value=",border,"/>
<property name="Bean Permissions" value="247"/>
<property name="UserCode_Bean_comboVersion" value="Bean_comboVersion"/>
<property name="Panel" value="entriesPanel"/>
<property name="ClassName" value="javax.swing.JComboBox"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="font" value="Dialog+1+12"/>
<property name="Layout Constraints" value="0,1,1,1,0,17,0,0,0.0,0.0,5,5,5,5"/>
<property name="DefaultSize" value="105,26"/>
<property name="UserCode_Bean_lfIPAddr" value="Bean_lfIPAddr"/>
<property name="InstanceName" value="lfIPAddr"/>
<property name="PropertyOrder" value=",foreground,text,font,"/>
<property name="Bean Permissions" value="247"/>
<property name="foreground" value="-16711414"/>
<property name="Panel" value="entriesPanel"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="text" value="IPAddress(es)"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="font" value="Dialog+1+12"/>
<property name="Layout Constraints" value="2,1,1,1,0,17,0,0,0.0,0.0,5,5,5,5"/>
<property name="toolTipText" value="NetMask"/>
<property name="DefaultSize" value="68,26"/>
<property name="InstanceName" value="lfNetMask"/>
<property name="PropertyOrder" value=",toolTipText,text,foreground,font,"/>
<property name="UserCode_Bean_lfNetMask" value="Bean_lfNetMask"/>
<property name="Bean Permissions" value="247"/>
<property name="foreground" value="-16777206"/>
<property name="Panel" value="entriesPanel"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="text" value="NetMask"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="font" value="Dialog+1+12"/>
<property name="Layout Constraints" value="0,0,1,1,0,17,0,0,0.0,0.0,5,5,5,5"/>
<property name="toolTipText" value="Discover"/>
<property name="DefaultSize" value="94,34"/>
<property name="selected" value="true"/>
<property name="InstanceName" value="chbDisc"/>
<property name="PropertyOrder" value=",text,selected,label,toolTipText,font,"/>
<property name="Bean Permissions" value="247"/>
<property name="UserCode_Bean_chbDisc" value="Bean_chbDisc"/>
<property name="label" value="Discover"/>
<property name="Panel" value="entriesPanel"/>
<property name="ClassName" value="javax.swing.JCheckBox"/>
<property name="text" value="Discovery"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JLabel();"/>
<property name="font" value="Dialog+1+12"/>
<property name="Layout Constraints" value="2,2,1,1,0,17,0,0,0.0,0.0,5,5,5,5"/>
<property name="DefaultSize" value="148,26"/>
<property name="UserCode_Bean_JLabel1" value="Bean_JLabel1"/>
<property name="InstanceName" value="JLabel1"/>
<property name="PropertyOrder" value=",horizontalAlignment,foreground,horizontalTextPosition,text,font,"/>
<property name="Bean Permissions" value="247"/>
<property name="foreground" value="-16777216"/>
<property name="Panel" value="entriesPanel"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="horizontalTextPosition" value="4"/>
<property name="text" value="Discover Parent Net"/>
<property name="horizontalAlignment" value="2"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JCheckBox();"/>
<property name="font" value="SansSerif+0+12"/>
<property name="Layout Constraints" value="3,2,1,1,2,17,0,0,0.1,0.0,5,2,5,5"/>
<property name="DefaultSize" value="29,29"/>
<property name="InstanceName" value="parentNetCheck"/>
<property name="PropertyOrder" value=",font,horizontalTextPosition,"/>
<property name="Bean Permissions" value="247"/>
<property name="Panel" value="entriesPanel"/>
<property name="ClassName" value="javax.swing.JCheckBox"/>
<property name="horizontalTextPosition" value="4"/>
<property name="UserCode_Bean_parentNetCheck" value="Bean_parentNetCheck"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JButton();"/>
<property name="font" value="Dialog+1+12"/>
<property name="Layout Constraints" value="0,5,1,1,0,10,0,0,0.0,0.0,5,5,5,5"/>
<property name="DefaultSize" value="115,37"/>
<property name="UserCode_Bean_v3PropButton" value="Bean_v3PropButton"/>
<property name="InstanceName" value="v3PropButton"/>
<property name="PropertyOrder" value=",text,font,"/>
<property name="Bean Permissions" value="247"/>
<property name="Panel" value="entriesPanel"/>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="text" value="Properties"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JTextField();"/>
<property name="Layout Constraints" value="1,3,1,1,2,17,0,0,0.1,0.0,5,5,5,5"/>
<property name="toolTipText" value="Community"/>
<property name="DefaultSize" value="20,30"/>
<property name="InstanceName" value="tfComm"/>
<property name="PropertyOrder" value=",text,toolTipText,"/>
<property name="Bean Permissions" value="247"/>
<property name="Panel" value="entriesPanel"/>
<property name="ClassName" value="javax.swing.JTextField"/>
<property name="text" value="public"/>
<property name="UserCode_Bean_tfComm" value="Bean_tfComm"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JPanel();"/>
<property name="Layout Manager Constraints" value=""/>
<property name="Layout Constraints" value="3,1,1,1,2,17,0,0,0.1,0.0,5,5,5,5"/>
<property name="DefaultSize" value="544,51"/>
<property name="Layout Manager" value="GridBag Layout"/>
<property name="UserCode_Bean_JPanel1" value="Bean_JPanel1"/>
<property name="InstanceName" value="JPanel1"/>
<property name="Bean Permissions" value="255"/>
<property name="Panel" value="entriesPanel"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="background" value="-1"/>
<property name="Initializer" value="new javax.swing.JComboBox();"/>
<property name="Layout Constraints" value="0,0,1,1,2,17,0,0,0.1,0.0,0,0,0,0"/>
<property name="DefaultSize" value="134,35"/>
<property name="InstanceName" value="jcb1"/>
<property name="PropertyOrder" value=",background,"/>
<property name="Bean Permissions" value="247"/>
<property name="UserCode_Bean_jcb1" value="Bean_jcb1"/>
<property name="Panel" value="JPanel1"/>
<property name="ClassName" value="javax.swing.JComboBox"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="background" value="-1"/>
<property name="Initializer" value="new javax.swing.JComboBox();"/>
<property name="Layout Constraints" value="1,0,1,1,2,10,0,0,0.1,0.0,0,0,0,0"/>
<property name="DefaultSize" value="134,35"/>
<property name="InstanceName" value="jcb2"/>
<property name="PropertyOrder" value=",background,"/>
<property name="Bean Permissions" value="247"/>
<property name="UserCode_Bean_jcb2" value="Bean_jcb2"/>
<property name="Panel" value="JPanel1"/>
<property name="ClassName" value="javax.swing.JComboBox"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="background" value="-1"/>
<property name="Initializer" value="new javax.swing.JComboBox();"/>
<property name="Layout Constraints" value="2,0,1,1,2,10,0,0,0.1,0.0,0,0,0,0"/>
<property name="DefaultSize" value="134,35"/>
<property name="InstanceName" value="jcb3"/>
<property name="PropertyOrder" value=",background,"/>
<property name="Bean Permissions" value="247"/>
<property name="UserCode_Bean_jcb3" value="Bean_jcb3"/>
<property name="Panel" value="JPanel1"/>
<property name="ClassName" value="javax.swing.JComboBox"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="background" value="-1"/>
<property name="Initializer" value="new javax.swing.JComboBox();"/>
<property name="Layout Constraints" value="3,0,1,1,2,10,0,0,0.1,0.0,0,0,0,0"/>
<property name="DefaultSize" value="134,35"/>
<property name="InstanceName" value="jcb4"/>
<property name="PropertyOrder" value=",background,"/>
<property name="Bean Permissions" value="247"/>
<property name="UserCode_Bean_jcb4" value="Bean_jcb4"/>
<property name="Panel" value="JPanel1"/>
<property name="ClassName" value="javax.swing.JComboBox"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JPanel();"/>
<property name="Layout Manager Constraints" value=""/>
<property name="Layout Constraints" value="1,1,1,1,2,17,0,0,0.8,0.0,5,5,5,5"/>
<property name="DefaultSize" value="110,52"/>
<property name="UserCode_Bean_JPanel2" value="Bean_JPanel2"/>
<property name="Layout Manager" value="GridBag Layout"/>
<property name="InstanceName" value="JPanel2"/>
<property name="Bean Permissions" value="255"/>
<property name="Panel" value="entriesPanel"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JComboBox();"/>
<property name="PopupMenu" value="none"/>
<property name="UserCode_Bean_comboIPAddr" value="Bean_comboIPAddr"/>
<property name="font" value="monospaced+0+12"/>
<property name="editable" value="true"/>
<property name="Layout Constraints" value="0,0,1,1,2,17,0,0,1.0,0.0,5,5,5,0"/>
<property name="minimumSize" value="31,22"/>
<property name="toolTipText" value="IPAddress"/>
<property name="DefaultSize" value="39,30"/>
<property name="border" value="BevelBorder,1,null,null,null,null"/>
<property name="InstanceName" value="comboIPAddr"/>
<property name="PropertyOrder" value=",toolTipText,border,editable,font,minimumSize,actionCommand,"/>
<property name="Bean Permissions" value="244"/>
<property name="actionCommand" value="comboIPAddr"/>
<property name="Panel" value="JPanel2"/>
<property name="ClassName" value="javax.swing.JComboBox"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JButton();"/>
<property name="Layout Constraints" value="1,0,1,1,0,17,0,0,0.0,0.0,0,0,0,0"/>
<property name="toolTipText" value="Click here to add more IP Address(es)."/>
<property name="DefaultSize" value="58,34"/>
<property name="UserCode_Bean_addMore" value="Bean_addMore"/>
<property name="InstanceName" value="addMore"/>
<property name="PropertyOrder" value=",icon,actionCommand,toolTipText,"/>
<property name="Bean Permissions" value="247"/>
<property name="actionCommand" value="Add More"/>
<property name="icon" value="./images/zoomPlus.png"/>
<property name="Panel" value="JPanel2"/>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Manager Constraints" value=""/>
<property name="Layout Constraints" value="0,1,0,1,1,17,0,0,0.1,0.1,5,5,5,5"/>
<property name="DefaultSize" value="50,50"/>
<property name="border" value="LineBorder,-13434880,1,false"/>
<property name="Layout Manager" value="GridBag Layout"/>
<property name="UserCode_Bean_tablePanel" value="Bean_tablePanel"/>
<property name="InstanceName" value="tablePanel"/>
<property name="PropertyOrder" value=",border,"/>
<property name="Bean Permissions" value="255"/>
<property name="Panel" value="Top"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Manager Constraints" value=""/>
<property name="Layout Constraints" value="0,0,0,1,1,17,0,0,0.1,0.1,5,5,5,5"/>
<property name="DefaultSize" value="30,30"/>
<property name="UserCode_Bean_tableScroller" value="Bean_tableScroller"/>
<property name="Layout Manager" value="Viewport Layout"/>
<property name="InstanceName" value="tableScroller"/>
<property name="Bean Permissions" value="255"/>
<property name="Panel" value="tablePanel"/>
<property name="ClassName" value="javax.swing.JScrollPane"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="UserCode_Bean_table" value="Bean_table"/>
<property name="Initializer" value=""/>
<property name="DefaultSize" value="20,20"/>
<property name="InstanceName" value="table"/>
<property name="PropertyOrder" value=",autoResizeMode,"/>
<property name="Bean Permissions" value="247"/>
<property name="autoResizeMode" value="4"/>
<property name="Panel" value="tableScroller"/>
<property name="ClassName" value="javax.swing.JTable"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="PopupMenu" value="none"/>
<property name="Layout Manager Constraints" value=""/>
<property name="Layout Constraints" value="0,3,0,1,2,17,0,0,0.1,0.0,5,5,5,5"/>
<property name="DefaultSize" value="355,67"/>
<property name="border" value="EtchedBorder,0,null,null"/>
<property name="Layout Manager" value="GridBag Layout"/>
<property name="UserCode_Bean_butPanel" value="Bean_butPanel"/>
<property name="InstanceName" value="butPanel"/>
<property name="PropertyOrder" value=",border,"/>
<property name="Bean Permissions" value="255"/>
<property name="Panel" value="Top"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Modifiers" value=""/>
<property name="preferredSize" value="73,27"/>
<property name="minimumSize" value="73,27"/>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="PropertyOrder" value=",border,toolTipText,horizontalTextPosition,preferredSize,text,minimumSize,maximumSize,"/>
<property name="DefaultSize" value="81,35"/>
<property name="UserCode_Bean_addButton" value="Bean_addButton"/>
<property name="PopupMenu" value="none"/>
<property name="text" value="Add"/>
<property name="Initializer" value=""/>
<property name="InstanceName" value="addButton"/>
<property name="border" value="BevelBorder,0,null,null,null,null"/>
<property name="maximumSize" value="73,27"/>
<property name="toolTipText" value="Click here to Add a row to the table."/>
<property name="Panel" value="butPanel"/>
<property name="horizontalTextPosition" value="0"/>
<property name="Layout Constraints" value="0,0,1,1,0,10,0,0,0.0,0.0,10,10,10,20"/>
<property name="Bean Permissions" value="247"/>
</bean>
<bean>
<property name="Modifiers" value=""/>
<property name="preferredSize" value="73,27"/>
<property name="minimumSize" value="73,27"/>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="PropertyOrder" value=",text,border,horizontalTextPosition,maximumSize,minimumSize,preferredSize,label,toolTipText,"/>
<property name="DefaultSize" value="81,35"/>
<property name="label" value="Delete"/>
<property name="PopupMenu" value="none"/>
<property name="text" value="Delete"/>
<property name="Initializer" value=""/>
<property name="InstanceName" value="delButton"/>
<property name="border" value="BevelBorder,0,null,null,null,null"/>
<property name="maximumSize" value="73,27"/>
<property name="toolTipText" value="Click here to Delete a row from the table."/>
<property name="Panel" value="butPanel"/>
<property name="horizontalTextPosition" value="0"/>
<property name="Layout Constraints" value="1,0,1,1,0,10,0,0,0.0,0.0,10,20,10,20"/>
<property name="UserCode_Bean_delButton" value="Bean_delButton"/>
<property name="Bean Permissions" value="247"/>
</bean>
<bean>
<property name="Modifiers" value=""/>
<property name="preferredSize" value="73,27"/>
<property name="minimumSize" value="73,27"/>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="PropertyOrder" value=",text,border,horizontalTextPosition,label,maximumSize,minimumSize,preferredSize,toolTipText,"/>
<property name="DefaultSize" value="81,35"/>
<property name="label" value="Modify"/>
<property name="PopupMenu" value="none"/>
<property name="text" value="Modify"/>
<property name="Initializer" value=""/>
<property name="InstanceName" value="modButton"/>
<property name="border" value="BevelBorder,0,null,null,null,null"/>
<property name="maximumSize" value="73,27"/>
<property name="toolTipText" value="Click here to Modify an existing row in the table."/>
<property name="UserCode_Bean_modButton" value="Bean_modButton"/>
<property name="Panel" value="butPanel"/>
<property name="horizontalTextPosition" value="0"/>
<property name="Layout Constraints" value="2,0,1,1,0,10,0,0,0.0,0.0,10,20,10,10"/>
<property name="Bean Permissions" value="247"/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Manager Constraints" value="5,5"/>
<property name="Layout Constraints" value="0,0,0,1,2,17,0,0,0.1,0.0,5,5,5,5"/>
<property name="DefaultSize" value="1043,60"/>
<property name="Layout Manager" value="Border Layout"/>
<property name="InstanceName" value="imagePanel"/>
<property name="Bean Permissions" value="255"/>
<property name="UserCode_Bean_imagePanel" value="Bean_imagePanel"/>
<property name="Panel" value="Top"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Constraints" value="West"/>
<property name="DefaultSize" value="20,20"/>
<property name="InstanceName" value="lfImage"/>
<property name="Bean Permissions" value="247"/>
<property name="UserCode_Bean_lfImage" value="Bean_lfImage"/>
<property name="Panel" value="imagePanel"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="font" value="Dialog+0+10"/>
<property name="editable" value="false"/>
<property name="Layout Constraints" value="Center"/>
<property name="DefaultSize" value="1000,42"/>
<property name="PaddingSize" value="297,8"/>
<property name="InstanceName" value="taNode"/>
<property name="PropertyOrder" value=",wrapStyleWord,lineWrap,editable,text,font,"/>
<property name="Bean Permissions" value="247"/>
<property name="wrapStyleWord" value="true"/>
<property name="Panel" value="imagePanel"/>
<property name="ClassName" value="javax.swing.JTextArea"/>
<property name="text" value="Configure Node Discovery parameters.IPAddress,Netmask,Community,Port,SNMP Version,UserName and ContextName are the key parameters for Node Discovery."/>
<property name="lineWrap" value="true"/>
<property name="UserCode_Bean_taNode" value="Bean_taNode"/>
<property name="Modifiers" value=""/>
</bean>
<property name="Import Code" value=""/>
<property name="Variable Definitions" value=""/>
<property name="Version" value="4.4"/>
<property name="Screen Height" value="499"/>
<property name="Start Commands" value=""/>
<property name="Type" value="Panel"/>
<property name="FileVersion" value="63"/>
<property name="MenuBarPresent" value="true"/>
<property name="GenSource" value="false"/>
<property name="Custom Code" value=""/>
<property name="Dummy Interface" value=""/>
<property name="ScreenTitle" value=""/>
<property name="ToolBarPresent" value="true"/>
<property name="HorizontalSplitPanePos" value="170.0"/>
<property name="SubVersion" value="4.4"/>
<property name="LookAndFeel" value="None"/>
</screen>
