<?xml version="1.0" encoding="ISO-8859-1"?>
<screen conversionType="Hash">
<property name="Screen Width" value="728"/>
<property name="Initialize Commands" value=""/>
<property name="screenTitle" value="Policy Configuration"/>
<bean>
<property name="UserCode_Bean_Top" value="Bean_Top"/>
<property name="InstanceName" value="Top"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Layout Manager" value="GridBag Layout"/>
<property name="Panel" value="container"/>
<property name="Layout Constraints" value="Center"/>
<property name="Layout Manager Constraints" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Manager Constraints" value="5,5"/>
<property name="Layout Constraints" value="0,0,1,1,2,18,0,0,0.0,0.0,15,5,5,5"/>
<property name="DefaultSize" value="350,65"/>
<property name="Layout Manager" value="Border Layout"/>
<property name="UserCode_Bean_JPanel1" value="Bean_JPanel1"/>
<property name="InstanceName" value="JPanel1"/>
<property name="Bean Permissions" value="255"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Panel" value="Top"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="UserCode_Bean_JPanel9" value="Bean_JPanel9"/>
<property name="Initializer" value=""/>
<property name="Layout Manager Constraints" value="10,5,1"/>
<property name="Layout Constraints" value="Center"/>
<property name="DefaultSize" value="332,47"/>
<property name="border" value="EtchedBorder,1,null,null"/>
<property name="Layout Manager" value="Flow Layout"/>
<property name="InstanceName" value="JPanel9"/>
<property name="PropertyOrder" value=",border,"/>
<property name="Bean Permissions" value="255"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Panel" value="JPanel1"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="UserCode_Bean_JLabel5" value="Bean_JLabel5"/>
<property name="Layout Constraints" value="0"/>
<property name="DefaultSize" value="20,20"/>
<property name="InstanceName" value="JLabel5"/>
<property name="Bean Permissions" value="247"/>
<property name="Panel" value="JPanel9"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Constraints" value="1"/>
<property name="DefaultSize" value="154,25"/>
<property name="UserCode_Bean_JLabel1" value="Bean_JLabel1"/>
<property name="PaddingSize" value="0,4"/>
<property name="InstanceName" value="JLabel1"/>
<property name="PropertyOrder" value=",text,horizontalAlignment,foreground,"/>
<property name="Bean Permissions" value="247"/>
<property name="foreground" value="-16764109"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="Panel" value="JPanel9"/>
<property name="text" value="Policy Configuration"/>
<property name="horizontalAlignment" value="0"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="UserCode_Bean_JLabel6" value="Bean_JLabel6"/>
<property name="Layout Constraints" value="2"/>
<property name="DefaultSize" value="106,25"/>
<property name="PaddingSize" value="0,4"/>
<property name="InstanceName" value="JLabel6"/>
<property name="PropertyOrder" value=",text,foreground,"/>
<property name="Bean Permissions" value="247"/>
<property name="foreground" value="-16764109"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="Panel" value="JPanel9"/>
<property name="text" value="( policy.conf )"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Manager Constraints" value="5,5"/>
<property name="Layout Constraints" value="0,3,1,1,2,18,0,0,0.0,0.0,5,5,5,5"/>
<property name="DefaultSize" value="973,79"/>
<property name="UserCode_Bean_JPanel4" value="Bean_JPanel4"/>
<property name="border" value="EtchedBorder,0,null,null"/>
<property name="Layout Manager" value="Border Layout"/>
<property name="InstanceName" value="JPanel4"/>
<property name="PropertyOrder" value=",border,"/>
<property name="Bean Permissions" value="255"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Panel" value="Top"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Manager Constraints" value="5,5,1"/>
<property name="UserCode_Bean_JPanel6" value="Bean_JPanel6"/>
<property name="Layout Constraints" value="West"/>
<property name="DefaultSize" value="386,57"/>
<property name="border" value="BevelBorder,1,null,null,null,null"/>
<property name="Layout Manager" value="Flow Layout"/>
<property name="PaddingSize" value="95,0"/>
<property name="InstanceName" value="JPanel6"/>
<property name="PropertyOrder" value=",border,"/>
<property name="Bean Permissions" value="255"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Panel" value="JPanel4"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Constraints" value="0"/>
<property name="DefaultSize" value="81,35"/>
<property name="UserCode_Bean_addButton" value="Bean_addButton"/>
<property name="PaddingSize" value="10,4"/>
<property name="InstanceName" value="addButton"/>
<property name="PropertyOrder" value=",text,"/>
<property name="Bean Permissions" value="247"/>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="Panel" value="JPanel6"/>
<property name="text" value="Add"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Constraints" value="1"/>
<property name="DefaultSize" value="91,35"/>
<property name="PaddingSize" value="0,4"/>
<property name="InstanceName" value="modifyButton"/>
<property name="PropertyOrder" value=",text,"/>
<property name="Bean Permissions" value="247"/>
<property name="UserCode_Bean_modifyButton" value="Bean_modifyButton"/>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="Panel" value="JPanel6"/>
<property name="text" value="Modify"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Constraints" value="2"/>
<property name="DefaultSize" value="87,35"/>
<property name="PaddingSize" value="0,4"/>
<property name="UserCode_Bean_deleteButton" value="Bean_deleteButton"/>
<property name="InstanceName" value="deleteButton"/>
<property name="PropertyOrder" value=",text,"/>
<property name="Bean Permissions" value="247"/>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="Panel" value="JPanel6"/>
<property name="text" value="Delete"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="UserCode_Bean_JPanel8" value="Bean_JPanel8"/>
<property name="Layout Manager Constraints" value="5,5,2"/>
<property name="Layout Constraints" value="East"/>
<property name="DefaultSize" value="104,57"/>
<property name="border" value="BevelBorder,1,null,null,null,null"/>
<property name="Layout Manager" value="Flow Layout"/>
<property name="PaddingSize" value="1,0"/>
<property name="InstanceName" value="JPanel8"/>
<property name="PropertyOrder" value=",border,"/>
<property name="Bean Permissions" value="255"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Panel" value="JPanel4"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="UserCode_Bean_applyButton" value="Bean_applyButton"/>
<property name="Initializer" value=""/>
<property name="Layout Constraints" value="0"/>
<property name="maximumSize" value="63,27"/>
<property name="minimumSize" value="63,27"/>
<property name="DefaultSize" value="81,35"/>
<property name="PaddingSize" value="10,0"/>
<property name="InstanceName" value="applyButton"/>
<property name="PropertyOrder" value=",text,preferredSize,minimumSize,maximumSize,foreground,"/>
<property name="Bean Permissions" value="247"/>
<property name="preferredSize" value="63,27"/>
<property name="foreground" value="-16764109"/>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="Panel" value="JPanel8"/>
<property name="text" value="Apply"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Manager Constraints" value="5,5,1"/>
<property name="UserCode_Bean_JPanel7" value="Bean_JPanel7"/>
<property name="Layout Constraints" value="Center"/>
<property name="DefaultSize" value="181,57"/>
<property name="border" value="BevelBorder,1,null,null,null,null"/>
<property name="Layout Manager" value="Flow Layout"/>
<property name="PaddingSize" value="32,0"/>
<property name="InstanceName" value="JPanel7"/>
<property name="PropertyOrder" value=",border,"/>
<property name="Bean Permissions" value="255"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Panel" value="JPanel4"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Constraints" value="0"/>
<property name="DefaultSize" value="127,35"/>
<property name="PaddingSize" value="0,4"/>
<property name="InstanceName" value="policyColorButton"/>
<property name="PropertyOrder" value=",text,"/>
<property name="Bean Permissions" value="247"/>
<property name="UserCode_Bean_policyColorButton" value="Bean_policyColorButton"/>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="Panel" value="JPanel7"/>
<property name="text" value="Policy Color"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Manager Constraints" value=""/>
<property name="Layout Constraints" value="0,1,1,1,2,10,0,0,0.0,0.0,5,5,5,5"/>
<property name="DefaultSize" value="710,82"/>
<property name="UserCode_Bean_JPanel3" value="Bean_JPanel3"/>
<property name="border" value="EtchedBorder,0,null,null"/>
<property name="Layout Manager" value="GridBag Layout"/>
<property name="InstanceName" value="JPanel3"/>
<property name="PropertyOrder" value=",border,"/>
<property name="Bean Permissions" value="255"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Panel" value="Top"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="background" value="-1"/>
<property name="PopupMenu" value="none"/>
<property name="Layout Constraints" value="1,0,1,1,2,18,0,0,0.1,0.0,5,5,5,5"/>
<property name="DefaultSize" value="658,25"/>
<property name="opaque" value="false"/>
<property name="InstanceName" value="JTextArea1"/>
<property name="PropertyOrder" value=",text,background,opaque,lineWrap,wrapStyleWord,"/>
<property name="Bean Permissions" value="247"/>
<property name="wrapStyleWord" value="true"/>
<property name="ClassName" value="javax.swing.JTextArea"/>
<property name="Panel" value="JPanel3"/>
<property name="text" value=""/>
<property name="UserCode_Bean_JTextArea1" value="Bean_JTextArea1"/>
<property name="Modifiers" value=""/>
<property name="lineWrap" value="true"/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="background" value="-6684673"/>
<property name="PopupMenu" value="none"/>
<property name="Layout Constraints" value="1,1,1,1,2,18,0,0,0.0,0.0,5,5,5,5"/>
<property name="DefaultSize" value="658,25"/>
<property name="opaque" value="false"/>
<property name="InstanceName" value="JTextArea2"/>
<property name="PropertyOrder" value=",background,text,opaque,lineWrap,wrapStyleWord,"/>
<property name="Bean Permissions" value="247"/>
<property name="wrapStyleWord" value="true"/>
<property name="ClassName" value="javax.swing.JTextArea"/>
<property name="Panel" value="JPanel3"/>
<property name="UserCode_Bean_JTextArea2" value="Bean_JTextArea2"/>
<property name="text" value=""/>
<property name="Modifiers" value=""/>
<property name="lineWrap" value="true"/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="background" value="-16764109"/>
<property name="Layout Constraints" value="0,1,1,1,0,18,0,0,0.0,0.0,5,5,5,5"/>
<property name="DefaultSize" value="20,20"/>
<property name="UserCode_Bean_JLabel2" value="Bean_JLabel2"/>
<property name="InstanceName" value="JLabel2"/>
<property name="PropertyOrder" value=",background,"/>
<property name="Bean Permissions" value="247"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="Panel" value="JPanel3"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="background" value="-16764109"/>
<property name="Layout Constraints" value="0,0,1,1,0,18,0,0,0.0,0.0,5,5,5,5"/>
<property name="UserCode_Bean_JLabel3" value="Bean_JLabel3"/>
<property name="DefaultSize" value="20,20"/>
<property name="InstanceName" value="JLabel3"/>
<property name="PropertyOrder" value=",background,"/>
<property name="Bean Permissions" value="247"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="Panel" value="JPanel3"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Manager Constraints" value="5,5"/>
<property name="Layout Constraints" value="0,2,1,1,1,10,0,0,0.1,0.1,5,5,5,5"/>
<property name="UserCode_Bean_JPanel5" value="Bean_JPanel5"/>
<property name="DefaultSize" value="262,269"/>
<property name="border" value="EtchedBorder,0,null,null"/>
<property name="Layout Manager" value="Border Layout"/>
<property name="InstanceName" value="JPanel5"/>
<property name="PropertyOrder" value=",border,"/>
<property name="Bean Permissions" value="255"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Panel" value="Top"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Manager Constraints" value=""/>
<property name="Layout Constraints" value="Center"/>
<property name="DefaultSize" value="56,56"/>
<property name="UserCode_Bean_JPanel2" value="Bean_JPanel2"/>
<property name="Layout Manager" value="GridBag Layout"/>
<property name="PaddingSize" value="2,2"/>
<property name="InstanceName" value="JPanel2"/>
<property name="Bean Permissions" value="255"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Panel" value="JPanel5"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Manager Constraints" value=""/>
<property name="Layout Constraints" value="0,0,1,1,1,18,0,0,0.1,0.1,0,0,0,0"/>
<property name="DefaultSize" value="32,32"/>
<property name="Layout Manager" value="Viewport Layout"/>
<property name="InstanceName" value="JScrollPane1"/>
<property name="Bean Permissions" value="255"/>
<property name="UserCode_Bean_JScrollPane1" value="Bean_JScrollPane1"/>
<property name="ClassName" value="javax.swing.JScrollPane"/>
<property name="Panel" value="JPanel2"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="UserCode_Bean_table" value="Bean_table"/>
<property name="rowHeight" value="22"/>
<property name="Initializer" value=""/>
<property name="toolTipText" value=""/>
<property name="DefaultSize" value="20,20"/>
<property name="model" value="tableModel$BEAN"/>
<property name="InstanceName" value="table"/>
<property name="PropertyOrder" value=",model,rowHeight,toolTipText,"/>
<property name="Bean Permissions" value="247"/>
<property name="ClassName" value="javax.swing.JTable"/>
<property name="Panel" value="JScrollPane1"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="UserCode_Bean_JLabel4" value="Bean_JLabel4"/>
<property name="Layout Constraints" value="West"/>
<property name="DefaultSize" value="179,247"/>
<property name="PaddingSize" value="159,227"/>
<property name="InstanceName" value="JLabel4"/>
<property name="Bean Permissions" value="247"/>
<property name="Panel" value="JPanel5"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Constraints" value="BOTTOM"/>
<property name="DefaultSize" value="87,25"/>
<property name="InstanceName" value="tableModel"/>
<property name="Bean Permissions" value="246"/>
<property name="Panel" value="Bottom"/>
<property name="ClassName" value="javax.swing.table.DefaultTableModel"/>
<property name="UserCode_Bean_tableModel" value="Bean_tableModel"/>
<property name="Modifiers" value=""/>
</bean>
<property name="Import Code" value=""/>
<property name="Variable Definitions" value=""/>
<property name="Version" value="4.4"/>
<property name="Screen Height" value="517"/>
<property name="Start Commands" value=""/>
<property name="Type" value="Panel"/>
<connection>
<property name="ConnectionType" value="1"/>
<property name="ClassHeader" value="&#10; class table_table_conn3 extends java.awt.event.KeyAdapter implements java.io.Serializable &#10;  {&#10;&#10;     //&lt;TOP_PART&gt;&#10;"/>
<property name="NeedsCompilation" value="false"/>
<property name="Targets" value="table-TARGET"/>
<property name="Sources" value="table-key-false"/>
<property name="ConnectionName" value="table_table_conn3"/>
<property name="ConnectionClass" value="java.awt.event.KeyAdapter"/>
<property name="Connection_Version" value="1"/>
<property name="ListenerMethodName" value="keyPressed"/>
<property name="UserCode_Connection_table_table_conn3" value="Connection_table_table_conn3"/>
</connection>
<connection>
<property name="UserCode_Connection_table_table_conn2" value="Connection_table_table_conn2"/>
<property name="ConnectionType" value="1"/>
<property name="ClassHeader" value="&#10; class table_table_conn2 extends java.awt.event.MouseMotionAdapter implements java.io.Serializable &#10;  {&#10;&#10;     //&lt;TOP_PART&gt;&#10;"/>
<property name="NeedsCompilation" value="false"/>
<property name="Targets" value="table-TARGET"/>
<property name="Sources" value="table-mouseMotion-false"/>
<property name="ConnectionName" value="table_table_conn2"/>
<property name="ConnectionClass" value="java.awt.event.MouseMotionAdapter"/>
<property name="Connection_Version" value="1"/>
<property name="ListenerMethodName" value="mouseDragged"/>
</connection>
<connection>
<property name="UserCode_Connection_table_table_conn1" value="Connection_table_table_conn1"/>
<property name="ConnectionType" value="1"/>
<property name="ClassHeader" value="&#10; class table_table_conn1 extends java.awt.event.MouseAdapter implements java.io.Serializable &#10;  {&#10;&#10;     //&lt;TOP_PART&gt;&#10;"/>
<property name="NeedsCompilation" value="false"/>
<property name="Targets" value="table-TARGET"/>
<property name="Sources" value="table-mouse-false"/>
<property name="ConnectionName" value="table_table_conn1"/>
<property name="ConnectionClass" value="java.awt.event.MouseAdapter"/>
<property name="Connection_Version" value="1"/>
<property name="ListenerMethodName" value="mousePressed"/>
</connection>
<connection>
<property name="ConnectionType" value="1"/>
<property name="ClassHeader" value="&#10; class addButton_addButton_conn1 implements java.awt.event.ActionListener, java.io.Serializable &#10;  {&#10;&#10;     //&lt;TOP_PART&gt;&#10;"/>
<property name="NeedsCompilation" value="false"/>
<property name="Targets" value="addButton-TARGET"/>
<property name="UserCode_Connection_addButton_addButton_conn1" value="Connection_addButton_addButton_conn1"/>
<property name="Sources" value="addButton-action-false"/>
<property name="ConnectionName" value="addButton_addButton_conn1"/>
<property name="ConnectionClass" value="java.awt.event.ActionListener"/>
<property name="Connection_Version" value="1"/>
<property name="ListenerMethodName" value="actionPerformed"/>
</connection>
<connection>
<property name="ConnectionType" value="1"/>
<property name="ClassHeader" value="&#10; class classPathButton_classPathButton_conn1 implements java.awt.event.ActionListener, java.io.Serializable &#10;  {&#10;&#10;     //&lt;TOP_PART&gt;&#10;"/>
<property name="NeedsCompilation" value="false"/>
<property name="Targets" value="applyButton-TARGET"/>
<property name="Sources" value="applyButton-action-false"/>
<property name="ConnectionName" value="classPathButton_classPathButton_conn1"/>
<property name="ConnectionClass" value="java.awt.event.ActionListener"/>
<property name="Connection_Version" value="1"/>
<property name="ListenerMethodName" value="actionPerformed"/>
<property name="UserCode_Connection_classPathButton_classPathButton_conn1" value="Connection_classPathButton_classPathButton_conn1"/>
</connection>
<connection>
<property name="UserCode_Connection_modifyButton_modifyButton_conn1" value="Connection_modifyButton_modifyButton_conn1"/>
<property name="ConnectionType" value="1"/>
<property name="ClassHeader" value="&#10; class modifyButton_modifyButton_conn1 implements java.awt.event.ActionListener, java.io.Serializable &#10;  {&#10;&#10;     //&lt;TOP_PART&gt;&#10;"/>
<property name="NeedsCompilation" value="false"/>
<property name="Targets" value="modifyButton-TARGET"/>
<property name="Sources" value="modifyButton-action-false"/>
<property name="ConnectionName" value="modifyButton_modifyButton_conn1"/>
<property name="ConnectionClass" value="java.awt.event.ActionListener"/>
<property name="Connection_Version" value="1"/>
<property name="ListenerMethodName" value="actionPerformed"/>
</connection>
<connection>
<property name="UserCode_Connection_policyColorButton_JPanel8_conn1" value="Connection_policyColorButton_JPanel8_conn1"/>
<property name="ConnectionType" value="1"/>
<property name="ClassHeader" value="&#10; class policyColorButton_JPanel8_conn1 implements java.awt.event.ActionListener, java.io.Serializable &#10;  {&#10;&#10;     //&lt;TOP_PART&gt;&#10;"/>
<property name="NeedsCompilation" value="false"/>
<property name="Targets" value="JPanel8-TARGET"/>
<property name="Sources" value="policyColorButton-action-false"/>
<property name="ConnectionName" value="policyColorButton_JPanel8_conn1"/>
<property name="ConnectionClass" value="java.awt.event.ActionListener"/>
<property name="Connection_Version" value="1"/>
<property name="ListenerMethodName" value="actionPerformed"/>
</connection>
<connection>
<property name="ConnectionType" value="1"/>
<property name="ClassHeader" value="&#10; class deleteButton_deleteButton_conn1 implements java.awt.event.ActionListener, java.io.Serializable &#10;  {&#10;&#10;     //&lt;TOP_PART&gt;&#10;"/>
<property name="NeedsCompilation" value="false"/>
<property name="UserCode_Connection_deleteButton_deleteButton_conn1" value="Connection_deleteButton_deleteButton_conn1"/>
<property name="Targets" value="deleteButton-TARGET"/>
<property name="Sources" value="deleteButton-action-false"/>
<property name="ConnectionName" value="deleteButton_deleteButton_conn1"/>
<property name="ConnectionClass" value="java.awt.event.ActionListener"/>
<property name="Connection_Version" value="1"/>
<property name="ListenerMethodName" value="actionPerformed"/>
</connection>
<property name="MenuBarPresent" value="true"/>
<property name="Custom Code" value=""/>
<property name="GenSource" value="false"/>
<property name="Dummy Interface" value=""/>
<property name="ToolBarPresent" value="true"/>
<property name="HorizontalSplitPanePos" value="170.0"/>
<property name="SubVersion" value="4.4"/>
<property name="LookAndFeel" value="None"/>
</screen>
