<?xml version="1.0" encoding="ISO-8859-1"?>
<screen conversionType="Hash">
<property name="Screen Width" value="574"/>
<property name="Initialize Commands" value=""/>
<property name="screenTitle" value="ProtocolScreen"/>
<bean>
<property name="UserCode_Bean_Top" value="Bean_Top"/>
<property name="InstanceName" value="Top"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Layout Manager" value="GridBag Layout"/>
<property name="Panel" value="container"/>
<property name="Layout Constraints" value="Center"/>
<property name="Layout Manager Constraints" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Manager Constraints" value="5,5"/>
<property name="Layout Constraints" value="0,0,0,1,2,17,0,0,0.1,0.0,5,5,5,5"/>
<property name="DefaultSize" value="556,43"/>
<property name="Layout Manager" value="Border Layout"/>
<property name="InstanceName" value="tipPanel"/>
<property name="PropertyOrder" value=",foreground,"/>
<property name="UserCode_Bean_tipPanel" value="Bean_tipPanel"/>
<property name="Bean Permissions" value="255"/>
<property name="foreground" value="-16776443"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Panel" value="Top"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Constraints" value="Center"/>
<property name="editable" value="false"/>
<property name="font" value="Dialog+0+10"/>
<property name="DefaultSize" value="513,25"/>
<property name="UserCode_Bean_taProtocol" value="Bean_taProtocol"/>
<property name="PaddingSize" value="0,5"/>
<property name="InstanceName" value="taProtocol"/>
<property name="PropertyOrder" value=",editable,wrapStyleWord,lineWrap,text,font,"/>
<property name="Bean Permissions" value="247"/>
<property name="wrapStyleWord" value="true"/>
<property name="ClassName" value="javax.swing.JTextArea"/>
<property name="Panel" value="tipPanel"/>
<property name="text" value="Protocols supported by Web NMS discovery process."/>
<property name="Modifiers" value=""/>
<property name="lineWrap" value="true"/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Constraints" value="West"/>
<property name="DefaultSize" value="20,20"/>
<property name="InstanceName" value="lfEmpty"/>
<property name="Bean Permissions" value="247"/>
<property name="Panel" value="tipPanel"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="UserCode_Bean_lfEmpty" value="Bean_lfEmpty"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Manager Constraints" value=""/>
<property name="Layout Constraints" value="0,1,0,1,1,17,0,0,0.1,0.1,5,5,5,5"/>
<property name="DefaultSize" value="30,30"/>
<property name="Layout Manager" value="Viewport Layout"/>
<property name="InstanceName" value="listScroller"/>
<property name="Bean Permissions" value="255"/>
<property name="UserCode_Bean_listScroller" value="Bean_listScroller"/>
<property name="ClassName" value="javax.swing.JScrollPane"/>
<property name="Panel" value="Top"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="DefaultSize" value="20,20"/>
<property name="InstanceName" value="listProtoScr"/>
<property name="PropertyOrder" value=",enabled,"/>
<property name="UserCode_Bean_listProtoScr" value="Bean_listProtoScr"/>
<property name="Bean Permissions" value="247"/>
<property name="enabled" value="true"/>
<property name="ClassName" value="javax.swing.JList"/>
<property name="Panel" value="listScroller"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Modifiers" value=""/>
<property name="preferredSize" value="95,27"/>
<property name="minimumSize" value="95,27"/>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="PropertyOrder" value=",border,horizontalTextPosition,text,preferredSize,minimumSize,maximumSize,toolTipText,"/>
<property name="DefaultSize" value="103,35"/>
<property name="PopupMenu" value="none"/>
<property name="text" value="Properties"/>
<property name="Initializer" value=""/>
<property name="InstanceName" value="bProperties"/>
<property name="border" value="BevelBorder,0,null,null,null,null"/>
<property name="maximumSize" value="95,27"/>
<property name="toolTipText" value="Select an item from the above list and click here to configure the respective properties."/>
<property name="Panel" value="Top"/>
<property name="horizontalTextPosition" value="0"/>
<property name="Layout Constraints" value="0,2,1,1,0,13,0,0,0.0,0.0,5,5,5,5"/>
<property name="UserCode_Bean_bProperties" value="Bean_bProperties"/>
<property name="Bean Permissions" value="247"/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Manager Constraints" value="5,5"/>
<property name="Layout Constraints" value="0,3,0,1,1,17,0,0,0.1,0.1,5,5,5,5"/>
<property name="DefaultSize" value="556,149"/>
<property name="border" value="EtchedBorder,0,null,null"/>
<property name="Layout Manager" value="Border Layout"/>
<property name="InstanceName" value="descrPanel"/>
<property name="PropertyOrder" value=",border,"/>
<property name="Bean Permissions" value="255"/>
<property name="UserCode_Bean_descrPanel" value="Bean_descrPanel"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Panel" value="Top"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Constraints" value="Center"/>
<property name="editable" value="false"/>
<property name="font" value="Dialog+0+11"/>
<property name="DefaultSize" value="509,127"/>
<property name="UserCode_Bean_taDes" value="Bean_taDes"/>
<property name="PaddingSize" value="0,107"/>
<property name="InstanceName" value="taDes"/>
<property name="PropertyOrder" value=",enabled,editable,wrapStyleWord,lineWrap,font,"/>
<property name="Bean Permissions" value="247"/>
<property name="enabled" value="true"/>
<property name="wrapStyleWord" value="true"/>
<property name="ClassName" value="javax.swing.JTextArea"/>
<property name="Panel" value="descrPanel"/>
<property name="Modifiers" value=""/>
<property name="lineWrap" value="true"/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Constraints" value="West"/>
<property name="DefaultSize" value="20,20"/>
<property name="InstanceName" value="lfImage"/>
<property name="Bean Permissions" value="247"/>
<property name="UserCode_Bean_lfImage" value="Bean_lfImage"/>
<property name="Panel" value="descrPanel"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="Modifiers" value=""/>
</bean>
<property name="Import Code" value=""/>
<property name="Variable Definitions" value=""/>
<property name="Version" value="4.4"/>
<property name="Screen Height" value="395"/>
<property name="Start Commands" value=""/>
<property name="Type" value="Panel"/>
<property name="MenuBarPresent" value="true"/>
<property name="Custom Code" value=""/>
<property name="GenSource" value="false"/>
<property name="Dummy Interface" value=""/>
<property name="ToolBarPresent" value="true"/>
<property name="HorizontalSplitPanePos" value="170.0"/>
<property name="SubVersion" value="4.4"/>
<property name="LookAndFeel" value="None"/>
</screen>
