<?xml version="1.0" encoding="ISO-8859-1"?>
<screen conversionType="Hash">
<property name="Screen Width" value="873"/>
<property name="Initialize Commands" value=""/>
<property name="screenTitle" value="RunTime Administration"/>
<menu>
<property name="InstanceName" value="FileMenu"/>
<property name="UserCode_Menu_FileMenu" value="Menu_FileMenu"/>
<property name="menuName" value="File"/>
<property name="type" value="menu"/>
<property name="parent" value="top"/>
<property name="mnemonic" value="F"/>
<property name="uniqueID" value="MenuBar"/>
</menu>
<menu>
<property name="uniqueID" value="MenuBar"/>
<property name="shortCutKey" value="S"/>
<property name="menuName" value="Apply"/>
<property name="UserCode_MenuItem_ApplyMenuItem" value="MenuItem_ApplyMenuItem"/>
<property name="InstanceName" value="ApplyMenuItem"/>
<property name="shiftKeyStatus" value="false"/>
<property name="ctrlKeyStatus" value="true"/>
<property name="altKeyStatus" value="false"/>
<property name="type" value="menuItem"/>
<property name="actionCommand" value="Apply To Server"/>
<property name="mnemonic" value="A"/>
<property name="parent" value="File"/>
</menu>
<menu>
<property name="UserCode_MenuItem_Classpath_settingsMenuItem" value="MenuItem_Classpath_settingsMenuItem"/>
<property name="uniqueID" value="MenuBar"/>
<property name="shortCutKey" value="C"/>
<property name="menuName" value="Classpath settings"/>
<property name="InstanceName" value="Classpath_settingsMenuItem"/>
<property name="shiftKeyStatus" value="false"/>
<property name="ctrlKeyStatus" value="true"/>
<property name="altKeyStatus" value="true"/>
<property name="type" value="menuItem"/>
<property name="actionCommand" value="Classpath settings"/>
<property name="mnemonic" value="none"/>
<property name="parent" value="File"/>
</menu>
<menu>
<property name="uniqueID" value="MenuBar"/>
<property name="UserCode_MenuItem_CloseMenuItem" value="MenuItem_CloseMenuItem"/>
<property name="shortCutKey" value="F4"/>
<property name="menuName" value="Close"/>
<property name="InstanceName" value="CloseMenuItem"/>
<property name="shiftKeyStatus" value="false"/>
<property name="ctrlKeyStatus" value="false"/>
<property name="altKeyStatus" value="true"/>
<property name="type" value="menuItem"/>
<property name="actionCommand" value="Close"/>
<property name="mnemonic" value="C"/>
<property name="parent" value="File"/>
</menu>
<menu>
<property name="UserCode_Menu_HelpMenu" value="Menu_HelpMenu"/>
<property name="InstanceName" value="HelpMenu"/>
<property name="menuName" value="Help"/>
<property name="type" value="menu"/>
<property name="parent" value="top"/>
<property name="mnemonic" value="H"/>
<property name="uniqueID" value="MenuBar"/>
</menu>
<menu>
<property name="UserCode_MenuItem_Help_ContentsMenuItem" value="MenuItem_Help_ContentsMenuItem"/>
<property name="uniqueID" value="MenuBar"/>
<property name="shortCutKey" value="F1"/>
<property name="menuName" value="Help Contents"/>
<property name="InstanceName" value="Help_ContentsMenuItem"/>
<property name="shiftKeyStatus" value="false"/>
<property name="ctrlKeyStatus" value="false"/>
<property name="altKeyStatus" value="false"/>
<property name="type" value="menuItem"/>
<property name="actionCommand" value="Help Contents"/>
<property name="mnemonic" value="H"/>
<property name="parent" value="Help"/>
</menu>
<menu>
<property name="uniqueID" value="MenuBar"/>
<property name="shortCutKey" value="B"/>
<property name="menuName" value="About"/>
<property name="InstanceName" value="AboutMenuItem"/>
<property name="shiftKeyStatus" value="false"/>
<property name="ctrlKeyStatus" value="true"/>
<property name="altKeyStatus" value="false"/>
<property name="type" value="menuItem"/>
<property name="actionCommand" value="About"/>
<property name="UserCode_MenuItem_AboutMenuItem" value="MenuItem_AboutMenuItem"/>
<property name="mnemonic" value="B"/>
<property name="parent" value="Help"/>
</menu>
<bean>
<property name="PopupMenu" value="none"/>
<property name="Layout Manager Constraints" value="5,5"/>
<property name="Layout Constraints" value="Center"/>
<property name="Layout Manager" value="Border Layout"/>
<property name="InstanceName" value="Top"/>
<property name="Panel" value="container"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="UserCode_Bean_Top" value="Bean_Top"/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Manager Constraints" value=""/>
<property name="Layout Constraints" value="Center"/>
<property name="DefaultSize" value="843,518"/>
<property name="Layout Manager" value="SplitPane Layout"/>
<property name="PaddingSize" value="502,355"/>
<property name="InstanceName" value="JSplitPane1"/>
<property name="Bean Permissions" value="252"/>
<property name="ClassName" value="javax.swing.JSplitPane"/>
<property name="Panel" value="Top"/>
<property name="UserCode_Bean_JSplitPane1" value="Bean_JSplitPane1"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Manager Constraints" value=""/>
<property name="Layout Constraints" value="left,197"/>
<property name="DefaultSize" value="125,153"/>
<property name="Layout Manager" value="Viewport Layout"/>
<property name="InstanceName" value="JScrollPane1"/>
<property name="Bean Permissions" value="252"/>
<property name="UserCode_Bean_JScrollPane1" value="Bean_JScrollPane1"/>
<property name="ClassName" value="javax.swing.JScrollPane"/>
<property name="Panel" value="JSplitPane1"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Bean Permissions" value="244"/>
<property name="InstanceName" value="JTree1"/>
<property name="DefaultSize" value="91,80"/>
<property name="UserCode_Bean_JTree1" value="Bean_JTree1"/>
<property name="Modifiers" value=""/>
<property name="ClassName" value="javax.swing.JTree"/>
<property name="Panel" value="JScrollPane1"/>
<property name="Initializer" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Manager Constraints" value="5,5"/>
<property name="Layout Constraints" value="right,197"/>
<property name="DefaultSize" value="196,116"/>
<property name="Layout Manager" value="Border Layout"/>
<property name="InstanceName" value="basePanel"/>
<property name="Bean Permissions" value="252"/>
<property name="UserCode_Bean_basePanel" value="Bean_basePanel"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Panel" value="JSplitPane1"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="UserCode_Bean_JButton1" value="Bean_JButton1"/>
<property name="Initializer" value=""/>
<property name="background" value="-16764109"/>
<property name="PopupMenu" value="none"/>
<property name="Layout Constraints" value="Center"/>
<property name="DefaultSize" value="43,20"/>
<property name="PaddingSize" value="23,0"/>
<property name="InstanceName" value="JButton1"/>
<property name="opaque" value="false"/>
<property name="PropertyOrder" value=",background,opaque,"/>
<property name="Bean Permissions" value="244"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="Panel" value="basePanel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Manager Constraints" value="5,5"/>
<property name="Layout Constraints" value="North"/>
<property name="DefaultSize" value="20,20"/>
<property name="UserCode_Bean_JPanel4" value="Bean_JPanel4"/>
<property name="Layout Manager" value="Border Layout"/>
<property name="InstanceName" value="JPanel4"/>
<property name="Bean Permissions" value="252"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Panel" value="Top"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Manager Constraints" value="5,5"/>
<property name="Layout Constraints" value="South"/>
<property name="maximumSize" value="2147483647,18"/>
<property name="minimumSize" value="855,18"/>
<property name="DefaultSize" value="873,41"/>
<property name="Layout Manager" value="Border Layout"/>
<property name="UserCode_Bean_JPanel1" value="Bean_JPanel1"/>
<property name="PaddingSize" value="10,15"/>
<property name="InstanceName" value="JPanel1"/>
<property name="PropertyOrder" value=",minimumSize,maximumSize,preferredSize,"/>
<property name="Bean Permissions" value="252"/>
<property name="preferredSize" value="855,18"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Panel" value="Top"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Modifiers" value=""/>
<property name="preferredSize" value="190,17"/>
<property name="minimumSize" value="190,17"/>
<property name="UserCode_Bean_JPanel2" value="Bean_JPanel2"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="PropertyOrder" value=",border,preferredSize,minimumSize,maximumSize,"/>
<property name="DefaultSize" value="208,37"/>
<property name="Initializer" value=""/>
<property name="Layout Manager Constraints" value="5,5"/>
<property name="Layout Manager" value="Border Layout"/>
<property name="InstanceName" value="JPanel2"/>
<property name="border" value="BevelBorder,1,null,null,null,null"/>
<property name="maximumSize" value="190,17"/>
<property name="Panel" value="JPanel1"/>
<property name="Layout Constraints" value="West"/>
<property name="PaddingSize" value="10,12"/>
<property name="Bean Permissions" value="252"/>
</bean>
<bean>
<property name="Modifiers" value=""/>
<property name="preferredSize" value="24,17"/>
<property name="minimumSize" value="24,17"/>
<property name="UserCode_Bean_JPanel3" value="Bean_JPanel3"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="PropertyOrder" value=",border,minimumSize,maximumSize,preferredSize,"/>
<property name="DefaultSize" value="652,36"/>
<property name="Initializer" value=""/>
<property name="Layout Manager Constraints" value=""/>
<property name="Layout Manager" value="GridBag Layout"/>
<property name="InstanceName" value="JPanel3"/>
<property name="border" value="BevelBorder,1,null,null,null,null"/>
<property name="maximumSize" value="2147483647,17"/>
<property name="Panel" value="JPanel1"/>
<property name="Layout Constraints" value="Center"/>
<property name="PaddingSize" value="620,11"/>
<property name="Bean Permissions" value="252"/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Constraints" value="0,0,1,1,1,10,0,0,0.1,0.1,0,0,0,0"/>
<property name="DefaultSize" value="20,20"/>
<property name="UserCode_Bean_JLabel1" value="Bean_JLabel1"/>
<property name="InstanceName" value="JLabel1"/>
<property name="Bean Permissions" value="244"/>
<property name="Panel" value="JPanel3"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="Modifiers" value=""/>
</bean>
<property name="Import Code" value=""/>
<property name="Variable Definitions" value=""/>
<property name="Version" value="4.4"/>
<property name="Screen Height" value="620"/>
<property name="Start Commands" value=""/>
<property name="Type" value="Nms Frame"/>
<property name="MenuBarPresent" value="true"/>
<property name="Custom Code" value=""/>
<property name="GenSource" value="false"/>
<property name="Dummy Interface" value=""/>
<property name="ToolBarPresent" value="true"/>
<property name="HorizontalSplitPanePos" value="170.0"/>
<property name="SubVersion" value="4.4"/>
<property name="LookAndFeel" value="None"/>
</screen>
