<?xml version="1.0" encoding="UTF-8"?>
<screen conversionType="Hash">
<property name="Screen Width" value="648"/>
<property name="Initialize Commands" value=""/>
<property name="screenTitle" value="SNMP Properties"/>
<bean>
<property name="InstanceName" value="Top"/>
<property name="UserCode_Bean_components" value="Bean_components"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Layout Manager" value="GridBag Layout"/>
<property name="Layout Constraints" value="Center"/>
<property name="Panel" value="container"/>
<property name="Layout Manager Constraints" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Manager Constraints" value="5,5"/>
<property name="Layout Constraints" value="0,0,0,1,2,17,0,0,0.1,0.0,5,5,5,5"/>
<property name="DefaultSize" value="630,43"/>
<property name="Layout Manager" value="Border Layout"/>
<property name="InstanceName" value="tipsPanel"/>
<property name="Bean Permissions" value="255"/>
<property name="UserCode_Bean_tipsPanel" value="Bean_tipsPanel"/>
<property name="Panel" value="Top"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Constraints" value="West"/>
<property name="DefaultSize" value="20,20"/>
<property name="InstanceName" value="lfImage"/>
<property name="Bean Permissions" value="247"/>
<property name="UserCode_Bean_lfImage" value="Bean_lfImage"/>
<property name="Panel" value="tipsPanel"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="font" value="Dialog+0+10"/>
<property name="editable" value="false"/>
<property name="Layout Constraints" value="Center"/>
<property name="DefaultSize" value="587,25"/>
<property name="UserCode_Bean_taSNMP" value="Bean_taSNMP"/>
<property name="PaddingSize" value="0,5"/>
<property name="InstanceName" value="taSNMP"/>
<property name="PropertyOrder" value=",wrapStyleWord,lineWrap,editable,text,font,"/>
<property name="Bean Permissions" value="247"/>
<property name="wrapStyleWord" value="true"/>
<property name="Panel" value="tipsPanel"/>
<property name="ClassName" value="javax.swing.JTextArea"/>
<property name="text" value="SNMP based discovery with support for different versions."/>
<property name="lineWrap" value="true"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Manager Constraints" value=""/>
<property name="Layout Constraints" value="0,1,0,1,2,17,0,0,0.1,0.0,5,5,5,5"/>
<property name="DefaultSize" value="180,367"/>
<property name="Layout Manager" value="GridBag Layout"/>
<property name="InstanceName" value="snmpPanel"/>
<property name="Bean Permissions" value="255"/>
<property name="UserCode_Bean_snmpPanel" value="Bean_snmpPanel"/>
<property name="Panel" value="Top"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Constraints" value="0,1,1,1,0,17,0,0,0.0,0.0,5,5,5,5"/>
<property name="toolTipText" value=""/>
<property name="DefaultSize" value="101,25"/>
<property name="UserCode_Bean_lfRetries" value="Bean_lfRetries"/>
<property name="InstanceName" value="lfRetries"/>
<property name="PropertyOrder" value=",text,toolTipText,foreground,"/>
<property name="Bean Permissions" value="247"/>
<property name="foreground" value="-16777211"/>
<property name="Panel" value="snmpPanel"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="text" value="SNMP Retries"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="UserCode_Bean_lfTimeout" value="Bean_lfTimeout"/>
<property name="Layout Constraints" value="0,2,1,1,0,17,0,0,0.0,0.0,5,5,5,5"/>
<property name="toolTipText" value=""/>
<property name="DefaultSize" value="110,25"/>
<property name="InstanceName" value="lfTimeout"/>
<property name="PropertyOrder" value=",text,toolTipText,foreground,"/>
<property name="Bean Permissions" value="247"/>
<property name="foreground" value="-16777211"/>
<property name="Panel" value="snmpPanel"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="text" value="SNMP Timeout"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Constraints" value="1,1,0,1,2,17,0,0,0.1,0.0,5,5,5,5"/>
<property name="toolTipText" value="Specify SNMP Retries"/>
<property name="DefaultSize" value="20,29"/>
<property name="border" value="BevelBorder,1,null,null,null,null"/>
<property name="InstanceName" value="tfRetries"/>
<property name="PropertyOrder" value=",border,toolTipText,"/>
<property name="Bean Permissions" value="247"/>
<property name="UserCode_Bean_tfRetries" value="Bean_tfRetries"/>
<property name="Panel" value="snmpPanel"/>
<property name="ClassName" value="javax.swing.JTextField"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Constraints" value="1,2,0,1,2,17,0,0,0.1,0.0,5,5,5,5"/>
<property name="toolTipText" value="Specify SNMP Timeout in seconds."/>
<property name="DefaultSize" value="20,29"/>
<property name="border" value="BevelBorder,1,null,null,null,null"/>
<property name="InstanceName" value="tfTimeout"/>
<property name="PropertyOrder" value=",border,toolTipText,"/>
<property name="Bean Permissions" value="247"/>
<property name="UserCode_Bean_tfTimeout" value="Bean_tfTimeout"/>
<property name="Panel" value="snmpPanel"/>
<property name="ClassName" value="javax.swing.JTextField"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="UserCode_Bean_lfPorts" value="Bean_lfPorts"/>
<property name="Layout Constraints" value="0,5,1,1,0,17,0,0,0.0,0.0,5,5,5,5"/>
<property name="toolTipText" value=""/>
<property name="DefaultSize" value="90,25"/>
<property name="InstanceName" value="lfPorts"/>
<property name="PropertyOrder" value=",foreground,text,toolTipText,"/>
<property name="Bean Permissions" value="247"/>
<property name="foreground" value="-16777215"/>
<property name="Panel" value="snmpPanel"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="text" value="SNMP_Ports"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Constraints" value="1,5,0,1,2,17,0,0,0.1,0.0,5,5,5,5"/>
<property name="toolTipText" value="A numerical value for PortNumber is mandatory or 161 will be assumed."/>
<property name="DefaultSize" value="20,29"/>
<property name="border" value="BevelBorder,1,null,null,null,null"/>
<property name="UserCode_Bean_tfPorts" value="Bean_tfPorts"/>
<property name="InstanceName" value="tfPorts"/>
<property name="PropertyOrder" value=",text,border,toolTipText,"/>
<property name="Bean Permissions" value="247"/>
<property name="Panel" value="snmpPanel"/>
<property name="ClassName" value="javax.swing.JTextField"/>
<property name="text" value="161"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Constraints" value="0,6,0,1,2,17,0,0,0.1,0.0,5,5,5,5"/>
<property name="toolTipText" value="SNMPv3 Discovery"/>
<property name="DefaultSize" value="162,33"/>
<property name="InstanceName" value="chbSNMPv3"/>
<property name="PropertyOrder" value=",text,toolTipText,"/>
<property name="UserCode_Bean_chbSNMPv3" value="Bean_chbSNMPv3"/>
<property name="Bean Permissions" value="247"/>
<property name="Panel" value="snmpPanel"/>
<property name="ClassName" value="javax.swing.JCheckBox"/>
<property name="text" value="SNMPv3 Discovery"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Constraints" value="0,7,1,1,0,17,0,0,0.0,0.0,5,5,5,5"/>
<property name="UserCode_Bean_lfUser" value="Bean_lfUser"/>
<property name="DefaultSize" value="92,25"/>
<property name="InstanceName" value="lfUser"/>
<property name="PropertyOrder" value=",foreground,text,enabled,"/>
<property name="Bean Permissions" value="247"/>
<property name="enabled" value="false"/>
<property name="foreground" value="-16777215"/>
<property name="Panel" value="snmpPanel"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="text" value="User Names"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="editable" value="false"/>
<property name="Layout Constraints" value="1,7,0,1,2,17,0,0,0.1,0.0,5,5,5,5"/>
<property name="toolTipText" value="A value here is mandatory for SNMPv3 based Discovery"/>
<property name="DefaultSize" value="20,29"/>
<property name="border" value="BevelBorder,1,null,null,null,null"/>
<property name="InstanceName" value="tfUser"/>
<property name="PropertyOrder" value=",toolTipText,border,editable,enabled,"/>
<property name="Bean Permissions" value="247"/>
<property name="enabled" value="true"/>
<property name="UserCode_Bean_tfUser" value="Bean_tfUser"/>
<property name="Panel" value="snmpPanel"/>
<property name="ClassName" value="javax.swing.JTextField"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Constraints" value="0,8,1,1,0,17,0,0,0.0,0.0,5,5,5,5"/>
<property name="DefaultSize" value="107,25"/>
<property name="InstanceName" value="lfContext"/>
<property name="PropertyOrder" value=",foreground,text,enabled,"/>
<property name="Bean Permissions" value="247"/>
<property name="enabled" value="false"/>
<property name="foreground" value="-16777215"/>
<property name="UserCode_Bean_lfContext" value="Bean_lfContext"/>
<property name="Panel" value="snmpPanel"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="text" value="Context Name"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="editable" value="false"/>
<property name="UserCode_Bean_tfContext" value="Bean_tfContext"/>
<property name="Layout Constraints" value="1,8,0,1,2,17,0,0,0.1,0.0,5,5,5,5"/>
<property name="toolTipText" value="A value here is mandatory for SNMPv3 based Discovery"/>
<property name="DefaultSize" value="20,29"/>
<property name="border" value="BevelBorder,1,null,null,null,null"/>
<property name="InstanceName" value="tfContext"/>
<property name="PropertyOrder" value=",toolTipText,border,editable,enabled,"/>
<property name="Bean Permissions" value="247"/>
<property name="enabled" value="true"/>
<property name="Panel" value="snmpPanel"/>
<property name="ClassName" value="javax.swing.JTextField"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="PopupMenu" value="none"/>
<property name="Layout Constraints" value="0,3,1,1,0,17,0,0,0.0,0.0,5,5,5,5"/>
<property name="DefaultSize" value="128,25"/>
<property name="InstanceName" value="lfRead"/>
<property name="PropertyOrder" value=",foreground,text,"/>
<property name="Bean Permissions" value="247"/>
<property name="foreground" value="-16777211"/>
<property name="Panel" value="snmpPanel"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="text" value="Read Community"/>
<property name="UserCode_Bean_lfRead" value="Bean_lfRead"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="PopupMenu" value="none"/>
<property name="Layout Constraints" value="0,4,1,1,0,17,0,0,0.0,0.0,5,5,5,5"/>
<property name="DefaultSize" value="131,25"/>
<property name="UserCode_Bean_lfWrite" value="Bean_lfWrite"/>
<property name="InstanceName" value="lfWrite"/>
<property name="PropertyOrder" value=",foreground,text,"/>
<property name="Bean Permissions" value="247"/>
<property name="foreground" value="-16777215"/>
<property name="Panel" value="snmpPanel"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="text" value="Write Community"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Constraints" value="0,0,0,1,2,17,0,0,0.1,0.0,5,5,5,5"/>
<property name="toolTipText" value="SNMP Discovery"/>
<property name="DefaultSize" value="145,33"/>
<property name="selected" value="true"/>
<property name="InstanceName" value="chbSNMP"/>
<property name="PropertyOrder" value=",text,toolTipText,selected,"/>
<property name="Bean Permissions" value="247"/>
<property name="Panel" value="snmpPanel"/>
<property name="ClassName" value="javax.swing.JCheckBox"/>
<property name="UserCode_Bean_chbSNMP" value="Bean_chbSNMP"/>
<property name="text" value="SNMP Discovery"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JPasswordField();"/>
<property name="Layout Constraints" value="1,4,0,1,2,17,0,0,0.1,0.0,5,5,5,5"/>
<property name="toolTipText" value="Specify Write Community"/>
<property name="DefaultSize" value="20,25"/>
<property name="InstanceName" value="tfWrite"/>
<property name="PropertyOrder" value=",toolTipText,"/>
<property name="Bean Permissions" value="247"/>
<property name="UserCode_Bean_tfWrite" value="Bean_tfWrite"/>
<property name="Panel" value="snmpPanel"/>
<property name="ClassName" value="javax.swing.JPasswordField"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JPasswordField();"/>
<property name="Layout Constraints" value="1,3,0,1,2,17,0,0,0.1,0.0,5,5,5,5"/>
<property name="toolTipText" value="Specify Read Community"/>
<property name="DefaultSize" value="20,25"/>
<property name="UserCode_Bean_tfRead" value="Bean_tfRead"/>
<property name="InstanceName" value="tfRead"/>
<property name="PropertyOrder" value=",toolTipText,"/>
<property name="Bean Permissions" value="247"/>
<property name="Panel" value="snmpPanel"/>
<property name="ClassName" value="javax.swing.JPasswordField"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="PopupMenu" value="none"/>
<property name="Layout Manager Constraints" value=""/>
<property name="Layout Constraints" value="0,3,0,1,2,17,0,0,0.1,0.0,5,5,5,5"/>
<property name="DefaultSize" value="234,67"/>
<property name="border" value="EtchedBorder,0,null,null"/>
<property name="Layout Manager" value="GridBag Layout"/>
<property name="UserCode_Bean_butPanel" value="Bean_butPanel"/>
<property name="InstanceName" value="butPanel"/>
<property name="PropertyOrder" value=",border,"/>
<property name="Bean Permissions" value="255"/>
<property name="Panel" value="Top"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Modifiers" value=""/>
<property name="preferredSize" value="73,27"/>
<property name="minimumSize" value="73,27"/>
<property name="UserCode_Bean_okButton" value="Bean_okButton"/>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="PropertyOrder" value=",label,toolTipText,border,horizontalTextPosition,preferredSize,minimumSize,maximumSize,text,"/>
<property name="DefaultSize" value="81,35"/>
<property name="label" value="Ok"/>
<property name="PopupMenu" value="none"/>
<property name="text" value="OK"/>
<property name="Initializer" value=""/>
<property name="InstanceName" value="okButton"/>
<property name="border" value="BevelBorder,0,null,null,null,null"/>
<property name="maximumSize" value="73,27"/>
<property name="toolTipText" value="OK"/>
<property name="Panel" value="butPanel"/>
<property name="horizontalTextPosition" value="0"/>
<property name="Layout Constraints" value="0,0,1,1,0,10,0,0,0.0,0.0,10,10,10,20"/>
<property name="Bean Permissions" value="247"/>
</bean>
<bean>
<property name="foreground" value="-16777216"/>
<property name="UserCode_Bean_cancelButton" value="Bean_cancelButton"/>
<property name="Modifiers" value=""/>
<property name="preferredSize" value="73,27"/>
<property name="minimumSize" value="73,27"/>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="PropertyOrder" value=",toolTipText,border,text,horizontalTextPosition,maximumSize,minimumSize,preferredSize,foreground,label,"/>
<property name="DefaultSize" value="81,35"/>
<property name="label" value="Cancel"/>
<property name="PopupMenu" value="none"/>
<property name="text" value="   Cancel   "/>
<property name="Initializer" value=""/>
<property name="InstanceName" value="cancelButton"/>
<property name="border" value="BevelBorder,0,null,null,null,null"/>
<property name="maximumSize" value="73,27"/>
<property name="toolTipText" value="Cancel"/>
<property name="Panel" value="butPanel"/>
<property name="horizontalTextPosition" value="0"/>
<property name="Layout Constraints" value="1,0,1,1,0,10,0,0,0.0,0.0,10,20,10,10"/>
<property name="Bean Permissions" value="247"/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="UserCode_Bean_emptyLabel" value="Bean_emptyLabel"/>
<property name="Layout Constraints" value="0,2,0,1,1,17,0,0,0.1,0.1,5,5,5,5"/>
<property name="DefaultSize" value="20,20"/>
<property name="InstanceName" value="emptyLabel"/>
<property name="Bean Permissions" value="247"/>
<property name="Panel" value="Top"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="Modifiers" value=""/>
</bean>
<property name="Import Code" value=""/>
<property name="Variable Definitions" value=""/>
<property name="Version" value="4.4"/>
<property name="Screen Height" value="490"/>
<property name="Start Commands" value=""/>
<property name="Type" value="Dialog"/>
<property name="FileVersion" value="2"/>
<property name="MenuBarPresent" value="true"/>
<property name="GenSource" value="false"/>
<property name="Custom Code" value=""/>
<property name="Dummy Interface" value=""/>
<property name="ScreenTitle" value=""/>
<property name="ToolBarPresent" value="true"/>
<property name="HorizontalSplitPanePos" value="246.0"/>
<property name="SubVersion" value="4.4"/>
<property name="LookAndFeel" value="None"/>
</screen>
