<?xml version="1.0" encoding="UTF-8"?>
<screen conversionType="Hash">
<property name="Version" value="4.4"/>
<property name="Type" value="Dialog"/>
<property name="ScreenTitle" value="Snmp Properties"/>
<property name="Screen Width" value="569"/>
<property name="SubVersion" value="4.4"/>
<property name="GenSource" value="false"/>
<property name="Screen Height" value="491"/>
<property name="HorizontalSplitPanePos" value="271.0"/>
<property name="FileVersion" value="64"/>
<property name="ToolBarPresent" value="true"/>
<property name="LookAndFeel" value="None"/>
<bean>
<property name="InstanceName" value="Top"/>
<property name="PopupMenu" value="none"/>
<property name="UserCode_Bean_components" value="Bean_components"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Layout Manager" value="Border Layout"/>
<property name="Layout Constraints" value="Center"/>
<property name="Panel" value="container"/>
<property name="Layout Manager Constraints" value="5,5"/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JPanel();"/>
<property name="Layout Manager Constraints" value=""/>
<property name="Layout Constraints" value="South"/>
<property name="DefaultSize" value="551,55"/>
<property name="Layout Manager" value="GridBag Layout"/>
<property name="PaddingSize" value="371,0"/>
<property name="InstanceName" value="buttonPanel"/>
<property name="Bean Permissions" value="255"/>
<property name="UserCode_Bean_buttonPanel" value="Bean_buttonPanel"/>
<property name="Panel" value="Top"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JButton();"/>
<property name="Layout Constraints" value="0,0,1,1,0,10,0,0,0.0,0.0,5,5,5,5"/>
<property name="DefaultSize" value="63,37"/>
<property name="InstanceName" value="okButton"/>
<property name="PropertyOrder" value=",text,"/>
<property name="Bean Permissions" value="247"/>
<property name="Panel" value="buttonPanel"/>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="text" value="OK"/>
<property name="UserCode_Bean_okButton" value="Bean_okButton"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JButton();"/>
<property name="UserCode_Bean_cancelButton" value="Bean_cancelButton"/>
<property name="Layout Constraints" value="1,0,1,1,0,10,0,0,0.0,0.0,5,5,5,5"/>
<property name="DefaultSize" value="89,37"/>
<property name="InstanceName" value="cancelButton"/>
<property name="PropertyOrder" value=",text,"/>
<property name="Bean Permissions" value="247"/>
<property name="Panel" value="buttonPanel"/>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="text" value="Cancel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JTabbedPane();"/>
<property name="PopupMenu" value="none"/>
<property name="Layout Manager Constraints" value=""/>
<property name="Layout Constraints" value="Center"/>
<property name="DefaultSize" value="667,338"/>
<property name="Layout Manager" value="TabPane Layout"/>
<property name="InstanceName" value="v3TabPane"/>
<property name="PropertyOrder" value=",enabled,"/>
<property name="Bean Permissions" value="255"/>
<property name="enabled" value="true"/>
<property name="Panel" value="Top"/>
<property name="ClassName" value="javax.swing.JTabbedPane"/>
<property name="UserCode_Bean_v3TabPane" value="Bean_v3TabPane"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="name" value="General"/>
<property name="Initializer" value="new javax.swing.JPanel();"/>
<property name="Layout Manager Constraints" value=""/>
<property name="Layout Constraints" value="SNMP Properties,null,SNMP Properties,0"/>
<property name="toolTipText" value="General Parameters"/>
<property name="DefaultSize" value="175,156"/>
<property name="Layout Manager" value="GridBag Layout"/>
<property name="InstanceName" value="snmpGeneralPanel"/>
<property name="PropertyOrder" value=",name,toolTipText,enabled,"/>
<property name="UserCode_Bean_snmpGeneralPanel" value="Bean_snmpGeneralPanel"/>
<property name="Bean Permissions" value="255"/>
<property name="enabled" value="false"/>
<property name="Panel" value="v3TabPane"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JLabel();"/>
<property name="Layout Constraints" value="0,2,1,1,0,17,0,0,0.0,0.0,5,5,5,5"/>
<property name="DefaultSize" value="92,26"/>
<property name="UserCode_Bean_lCommunity" value="Bean_lCommunity"/>
<property name="InstanceName" value="lCommunity"/>
<property name="PropertyOrder" value=",foreground,text,"/>
<property name="Bean Permissions" value="247"/>
<property name="foreground" value="-16777216"/>
<property name="Panel" value="snmpGeneralPanel"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="text" value="Community"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="UserCode_Bean_lAgentPort" value="Bean_lAgentPort"/>
<property name="Initializer" value="new javax.swing.JLabel();"/>
<property name="Layout Constraints" value="0,3,1,1,0,17,0,0,0.0,0.0,5,5,5,5"/>
<property name="DefaultSize" value="127,26"/>
<property name="InstanceName" value="lAgentPort"/>
<property name="PropertyOrder" value=",text,foreground,"/>
<property name="Bean Permissions" value="247"/>
<property name="foreground" value="-16777216"/>
<property name="Panel" value="snmpGeneralPanel"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="text" value="SNMP Agent Port"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JTextField();"/>
<property name="editable" value="true"/>
<property name="Layout Constraints" value="1,2,1,1,2,10,0,0,0.1,0.0,5,5,5,5"/>
<property name="DefaultSize" value="20,30"/>
<property name="InstanceName" value="tfCommunity"/>
<property name="PropertyOrder" value=",editable,enabled,"/>
<property name="Bean Permissions" value="247"/>
<property name="enabled" value="true"/>
<property name="UserCode_Bean_tfCommunity" value="Bean_tfCommunity"/>
<property name="Panel" value="snmpGeneralPanel"/>
<property name="ClassName" value="javax.swing.JTextField"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JTextField();"/>
<property name="Layout Constraints" value="1,3,1,1,2,10,0,0,0.0,0.0,5,5,5,5"/>
<property name="DefaultSize" value="20,30"/>
<property name="UserCode_Bean_tfAgentPort" value="Bean_tfAgentPort"/>
<property name="InstanceName" value="tfAgentPort"/>
<property name="Bean Permissions" value="247"/>
<property name="Panel" value="snmpGeneralPanel"/>
<property name="ClassName" value="javax.swing.JTextField"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JPanel();"/>
<property name="Layout Manager Constraints" value="5,5"/>
<property name="Layout Constraints" value="SNMP V3 Properties,null,SNMP V3 Properties,1"/>
<property name="DefaultSize" value="654,300"/>
<property name="UserCode_Bean_snmpV3Panel" value="Bean_snmpV3Panel"/>
<property name="border" value="LineBorder,-16777216,1,false"/>
<property name="Layout Manager" value="Border Layout"/>
<property name="InstanceName" value="snmpV3Panel"/>
<property name="PropertyOrder" value=",border,"/>
<property name="Bean Permissions" value="255"/>
<property name="Panel" value="v3TabPane"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JPanel();"/>
<property name="Layout Manager Constraints" value="5,5,0"/>
<property name="UserCode_Bean_descPanel" value="Bean_descPanel"/>
<property name="Layout Constraints" value="North"/>
<property name="DefaultSize" value="527,62"/>
<property name="Layout Manager" value="Flow Layout"/>
<property name="PaddingSize" value="10,0"/>
<property name="InstanceName" value="descPanel"/>
<property name="Bean Permissions" value="255"/>
<property name="Panel" value="snmpV3Panel"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="lineWrap" value="false"/>
<property name="Modifiers" value=""/>
<property name="UserCode_Bean_taDesc" value="Bean_taDesc"/>
<property name="ClassName" value="javax.swing.JTextArea"/>
<property name="disabledTextColor" value="-16777216"/>
<property name="PropertyOrder" value=",editable,enabled,disabledTextColor,background,opaque,requestFocusEnabled,text,lineWrap,"/>
<property name="DefaultSize" value="499,44"/>
<property name="opaque" value="false"/>
<property name="requestFocusEnabled" value="false"/>
<property name="enabled" value="true"/>
<property name="text" value="This tab is for configuring SNMP V3 Security Parameters"/>
<property name="Initializer" value="new javax.swing.JTextArea();"/>
<property name="InstanceName" value="taDesc"/>
<property name="editable" value="false"/>
<property name="Panel" value="descPanel"/>
<property name="background" value="-1"/>
<property name="Layout Constraints" value="0"/>
<property name="PaddingSize" value="141,18"/>
<property name="Bean Permissions" value="247"/>
</bean>
<bean>
<property name="UserCode_Bean_v3ButtonsPanel" value="Bean_v3ButtonsPanel"/>
<property name="Initializer" value="new javax.swing.JPanel();"/>
<property name="Layout Manager Constraints" value="5,5,1"/>
<property name="Layout Constraints" value="South"/>
<property name="DefaultSize" value="369,55"/>
<property name="Layout Manager" value="Flow Layout"/>
<property name="PaddingSize" value="92,0"/>
<property name="InstanceName" value="v3ButtonsPanel"/>
<property name="Bean Permissions" value="255"/>
<property name="Panel" value="snmpV3Panel"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JButton();"/>
<property name="Layout Constraints" value="0"/>
<property name="DefaultSize" value="71,37"/>
<property name="UserCode_Bean_addButton" value="Bean_addButton"/>
<property name="InstanceName" value="addButton"/>
<property name="PropertyOrder" value=",text,"/>
<property name="Bean Permissions" value="247"/>
<property name="Panel" value="v3ButtonsPanel"/>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="text" value="Add"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JButton();"/>
<property name="Layout Constraints" value="1"/>
<property name="DefaultSize" value="91,37"/>
<property name="InstanceName" value="modButton"/>
<property name="PropertyOrder" value=",text,"/>
<property name="Bean Permissions" value="247"/>
<property name="UserCode_Bean_modButton" value="Bean_modButton"/>
<property name="Panel" value="v3ButtonsPanel"/>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="text" value="Modify"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JButton();"/>
<property name="Layout Constraints" value="2"/>
<property name="DefaultSize" value="87,37"/>
<property name="InstanceName" value="delButton"/>
<property name="PropertyOrder" value=",text,"/>
<property name="Bean Permissions" value="247"/>
<property name="Panel" value="v3ButtonsPanel"/>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="text" value="Delete"/>
<property name="UserCode_Bean_delButton" value="Bean_delButton"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JScrollPane();"/>
<property name="Layout Manager Constraints" value=""/>
<property name="Layout Constraints" value="Center"/>
<property name="DefaultSize" value="634,100"/>
<property name="Layout Manager" value="Viewport Layout"/>
<property name="PaddingSize" value="0,69"/>
<property name="InstanceName" value="JScrollPane1"/>
<property name="Bean Permissions" value="255"/>
<property name="UserCode_Bean_JScrollPane1" value="Bean_JScrollPane1"/>
<property name="Panel" value="snmpV3Panel"/>
<property name="ClassName" value="javax.swing.JScrollPane"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Bean Permissions" value="247"/>
<property name="InstanceName" value="snmpV3Table"/>
<property name="DefaultSize" value="608,20"/>
<property name="Modifiers" value=""/>
<property name="ClassName" value="javax.swing.JTable"/>
<property name="UserCode_Bean_snmpV3Table" value="Bean_snmpV3Table"/>
<property name="Panel" value="JScrollPane1"/>
<property name="Initializer" value="new javax.swing.JTable();"/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JPanel();"/>
<property name="Layout Manager Constraints" value="5,5,2,0"/>
<property name="Layout Constraints" value="North"/>
<property name="DefaultSize" value="569,127"/>
<property name="Layout Manager" value="Grid Layout"/>
<property name="PaddingSize" value="178,10"/>
<property name="InstanceName" value="titlePanel"/>
<property name="Bean Permissions" value="255"/>
<property name="UserCode_Bean_titlePanel" value="Bean_titlePanel"/>
<property name="Panel" value="Top"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="background" value="-3355444"/>
<property name="Initializer" value="new javax.swing.JLabel();"/>
<property name="font" value="dialog+1+13"/>
<property name="Layout Constraints" value="0"/>
<property name="DefaultSize" value="142,31"/>
<property name="border" value="EtchedBorder,0,null,null"/>
<property name="InstanceName" value="titleLbl"/>
<property name="PropertyOrder" value=",background,font,text,horizontalAlignment,border,foreground,"/>
<property name="Bean Permissions" value="247"/>
<property name="foreground" value="-16764109"/>
<property name="Panel" value="titlePanel"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="horizontalAlignment" value="10"/>
<property name="text" value="SNMP Properties "/>
<property name="UserCode_Bean_titleLbl" value="Bean_titleLbl"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JPanel();"/>
<property name="Layout Manager Constraints" value=""/>
<property name="UserCode_Bean_chPanel" value="Bean_chPanel"/>
<property name="Layout Constraints" value="1"/>
<property name="DefaultSize" value="383,52"/>
<property name="Layout Manager" value="GridBag Layout"/>
<property name="InstanceName" value="chPanel"/>
<property name="Bean Permissions" value="255"/>
<property name="Panel" value="titlePanel"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JRadioButton();"/>
<property name="Layout Constraints" value="2,0,1,1,0,10,0,0,0.0,0.0,5,5,5,5"/>
<property name="DefaultSize" value="71,34"/>
<property name="InstanceName" value="chV1V2"/>
<property name="PropertyOrder" value=",text,label,"/>
<property name="Bean Permissions" value="247"/>
<property name="UserCode_Bean_chV1V2" value="Bean_chV1V2"/>
<property name="label" value="V1"/>
<property name="Panel" value="chPanel"/>
<property name="ClassName" value="javax.swing.JRadioButton"/>
<property name="text" value="SNMP"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JRadioButton();"/>
<property name="Layout Constraints" value="4,0,1,1,0,10,0,0,0.0,0.0,5,5,5,5"/>
<property name="DefaultSize" value="94,34"/>
<property name="InstanceName" value="chV3"/>
<property name="PropertyOrder" value=",text,label,"/>
<property name="Bean Permissions" value="247"/>
<property name="label" value="V3"/>
<property name="UserCode_Bean_chV3" value="Bean_chV3"/>
<property name="Panel" value="chPanel"/>
<property name="ClassName" value="javax.swing.JRadioButton"/>
<property name="text" value="SNMP V3"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JRadioButton();"/>
<property name="Layout Constraints" value="3,0,1,1,0,10,0,0,0.0,0.0,5,5,5,5"/>
<property name="DefaultSize" value="51,34"/>
<property name="InstanceName" value="chV2"/>
<property name="PropertyOrder" value=",label,"/>
<property name="Bean Permissions" value="247"/>
<property name="label" value="V2"/>
<property name="UserCode_Bean_chV2" value="Bean_chV2"/>
<property name="Panel" value="chPanel"/>
<property name="ClassName" value="javax.swing.JRadioButton"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JLabel();"/>
<property name="Layout Constraints" value="1,0,1,1,0,10,0,0,0.0,0.0,5,5,5,5"/>
<property name="DefaultSize" value="119,26"/>
<property name="UserCode_Bean_JLabel1" value="Bean_JLabel1"/>
<property name="InstanceName" value="JLabel1"/>
<property name="PropertyOrder" value=",foreground,text,"/>
<property name="Bean Permissions" value="247"/>
<property name="foreground" value="-16764109"/>
<property name="Panel" value="chPanel"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="text" value="SNMP Version : "/>
<property name="Modifiers" value=""/>
</bean>
<property name="MenuBarPresent" value="true"/>
</screen>
