<?xml version="1.0" encoding="ISO-8859-1"?>
<screen conversionType="Hash">
<property name="Screen Width" value="443"/>
<property name="Initialize Commands" value=""/>
<property name="screenTitle" value="new_screen2"/>
<bean>
<property name="UserCode_Bean_Top" value="Bean_Top"/>
<property name="InstanceName" value="Top"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Layout Manager" value="GridBag Layout"/>
<property name="Panel" value="container"/>
<property name="Layout Constraints" value="Center"/>
<property name="Layout Manager Constraints" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Manager Constraints" value=""/>
<property name="Layout Constraints" value="0,0,1,1,1,10,0,0,0.1,0.1,5,5,5,5"/>
<property name="DefaultSize" value="320,246"/>
<property name="border" value="EtchedBorder,0,null,null"/>
<property name="Layout Manager" value="GridBag Layout"/>
<property name="UserCode_Bean_JPanel1" value="Bean_JPanel1"/>
<property name="InstanceName" value="JPanel1"/>
<property name="PropertyOrder" value=",border,"/>
<property name="Bean Permissions" value="255"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Panel" value="Top"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Constraints" value="0,0,1,1,0,18,0,0,0.0,0.0,5,5,5,5"/>
<property name="DefaultSize" value="109,25"/>
<property name="UserCode_Bean_JLabel1" value="Bean_JLabel1"/>
<property name="InstanceName" value="JLabel1"/>
<property name="PropertyOrder" value=",text,"/>
<property name="Bean Permissions" value="247"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="Panel" value="JPanel1"/>
<property name="text" value="Log File Name"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Constraints" value="1,0,1,1,2,18,0,0,0.1,0.0,5,5,5,5"/>
<property name="DefaultSize" value="20,29"/>
<property name="InstanceName" value="fileName"/>
<property name="UserCode_Bean_fileName" value="Bean_fileName"/>
<property name="Bean Permissions" value="247"/>
<property name="Panel" value="JPanel1"/>
<property name="ClassName" value="javax.swing.JTextField"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Constraints" value="0,1,1,1,0,18,0,0,0.0,0.0,5,5,5,5"/>
<property name="DefaultSize" value="136,25"/>
<property name="UserCode_Bean_JLabel2" value="Bean_JLabel2"/>
<property name="InstanceName" value="JLabel2"/>
<property name="PropertyOrder" value=",text,"/>
<property name="Bean Permissions" value="247"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="Panel" value="JPanel1"/>
<property name="text" value="Logging Directory"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="UserCode_Bean_directory" value="Bean_directory"/>
<property name="Layout Constraints" value="1,1,1,1,2,18,0,0,0.0,0.0,5,5,5,5"/>
<property name="DefaultSize" value="20,29"/>
<property name="InstanceName" value="directory"/>
<property name="Bean Permissions" value="247"/>
<property name="Panel" value="JPanel1"/>
<property name="ClassName" value="javax.swing.JTextField"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Constraints" value="0,2,1,1,0,18,0,0,0.0,0.0,5,5,5,5"/>
<property name="UserCode_Bean_JLabel3" value="Bean_JLabel3"/>
<property name="DefaultSize" value="259,25"/>
<property name="InstanceName" value="JLabel3"/>
<property name="PropertyOrder" value=",text,"/>
<property name="Bean Permissions" value="247"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="Panel" value="JPanel1"/>
<property name="text" value="Maximum Number Of Lines Per File"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Constraints" value="1,2,1,1,2,18,0,0,0.0,0.0,5,5,5,5"/>
<property name="DefaultSize" value="20,29"/>
<property name="InstanceName" value="maxLines"/>
<property name="Bean Permissions" value="247"/>
<property name="Panel" value="JPanel1"/>
<property name="ClassName" value="javax.swing.JTextField"/>
<property name="UserCode_Bean_maxLines" value="Bean_maxLines"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="UserCode_Bean_JLabel4" value="Bean_JLabel4"/>
<property name="Layout Constraints" value="0,3,1,1,0,18,0,0,0.0,0.0,5,5,5,5"/>
<property name="DefaultSize" value="154,25"/>
<property name="InstanceName" value="JLabel4"/>
<property name="PropertyOrder" value=",text,"/>
<property name="Bean Permissions" value="247"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="Panel" value="JPanel1"/>
<property name="text" value="Maximum File Count"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Constraints" value="1,3,1,1,2,18,0,0,0.0,0.0,5,5,5,5"/>
<property name="DefaultSize" value="20,29"/>
<property name="InstanceName" value="fileCount"/>
<property name="Bean Permissions" value="247"/>
<property name="UserCode_Bean_fileCount" value="Bean_fileCount"/>
<property name="Panel" value="JPanel1"/>
<property name="ClassName" value="javax.swing.JTextField"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Constraints" value="1,4,1,1,2,18,0,0,0.0,0.0,5,5,5,5"/>
<property name="DefaultSize" value="29,29"/>
<property name="InstanceName" value="timeStampCheck"/>
<property name="UserCode_Bean_timeStampCheck" value="Bean_timeStampCheck"/>
<property name="Bean Permissions" value="247"/>
<property name="Panel" value="JPanel1"/>
<property name="ClassName" value="javax.swing.JCheckBox"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Constraints" value="1,5,1,1,2,18,0,0,0.0,0.0,5,5,5,5"/>
<property name="DefaultSize" value="29,29"/>
<property name="UserCode_Bean_loggingCheck" value="Bean_loggingCheck"/>
<property name="InstanceName" value="loggingCheck"/>
<property name="Bean Permissions" value="247"/>
<property name="Panel" value="JPanel1"/>
<property name="ClassName" value="javax.swing.JCheckBox"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="UserCode_Bean_JLabel5" value="Bean_JLabel5"/>
<property name="Layout Constraints" value="0,4,1,1,0,18,0,0,0.0,0.0,5,5,5,5"/>
<property name="DefaultSize" value="135,25"/>
<property name="InstanceName" value="JLabel5"/>
<property name="PropertyOrder" value=",text,"/>
<property name="Bean Permissions" value="247"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="Panel" value="JPanel1"/>
<property name="text" value="Use Time Stamp ?"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="UserCode_Bean_JLabel6" value="Bean_JLabel6"/>
<property name="Layout Constraints" value="0,5,1,1,0,18,0,0,0.0,0.0,5,5,5,5"/>
<property name="DefaultSize" value="130,25"/>
<property name="InstanceName" value="JLabel6"/>
<property name="PropertyOrder" value=",text,"/>
<property name="Bean Permissions" value="247"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="Panel" value="JPanel1"/>
<property name="text" value="Enable Logging ?"/>
<property name="Modifiers" value=""/>
</bean>
<property name="Import Code" value=""/>
<property name="Variable Definitions" value=""/>
<property name="Version" value="4.4"/>
<property name="Screen Height" value="370"/>
<property name="Start Commands" value=""/>
<property name="Type" value="Panel"/>
<property name="MenuBarPresent" value="true"/>
<property name="Custom Code" value=""/>
<property name="GenSource" value="false"/>
<property name="Dummy Interface" value=""/>
<property name="ToolBarPresent" value="true"/>
<property name="HorizontalSplitPanePos" value="170.0"/>
<property name="SubVersion" value="4.4"/>
<property name="LookAndFeel" value="None"/>
</screen>
