<?xml version="1.0" encoding="UTF-8"?>
<screen conversionType="Hash">
<property name="Screen Width" value="505"/>
<property name="Initialize Commands" value=""/>
<property name="screenTitle" value=""/>
<bean>
<property name="InstanceName" value="Top"/>
<property name="UserCode_Bean_components" value="Bean_components"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Layout Manager" value="GridBag Layout"/>
<property name="Layout Constraints" value="Center"/>
<property name="Panel" value="container"/>
<property name="Layout Manager Constraints" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JLabel();"/>
<property name="font" value="SansSerif+0+12"/>
<property name="Layout Constraints" value="0,0,1,1,0,17,0,0,0.0,0.0,0,5,0,0"/>
<property name="DefaultSize" value="34,25"/>
<property name="UserCode_Bean_JLabel1" value="Bean_JLabel1"/>
<property name="InstanceName" value="JLabel1"/>
<property name="PropertyOrder" value=",horizontalAlignment,font,foreground,horizontalTextPosition,text,"/>
<property name="Bean Permissions" value="244"/>
<property name="foreground" value="-16777216"/>
<property name="Panel" value="Top"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="horizontalTextPosition" value="4"/>
<property name="text" value="Type"/>
<property name="horizontalAlignment" value="2"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JTextField();"/>
<property name="font" value="SansSerif+0+12"/>
<property name="Layout Constraints" value="1,0,1,1,2,10,0,0,0.1,0.0,0,5,5,0"/>
<property name="DefaultSize" value="20,29"/>
<property name="InstanceName" value="JTextField1"/>
<property name="PropertyOrder" value=",horizontalAlignment,font,"/>
<property name="Bean Permissions" value="244"/>
<property name="Panel" value="Top"/>
<property name="ClassName" value="javax.swing.JTextField"/>
<property name="horizontalAlignment" value="2"/>
<property name="UserCode_Bean_JTextField1" value="Bean_JTextField1"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JLabel();"/>
<property name="font" value="SansSerif+0+12"/>
<property name="Layout Constraints" value="0,1,1,1,0,17,0,0,0.0,0.0,0,5,0,0"/>
<property name="DefaultSize" value="30,25"/>
<property name="UserCode_Bean_JLabel2" value="Bean_JLabel2"/>
<property name="InstanceName" value="JLabel2"/>
<property name="PropertyOrder" value=",horizontalAlignment,font,foreground,horizontalTextPosition,text,"/>
<property name="Bean Permissions" value="244"/>
<property name="foreground" value="-16777216"/>
<property name="Panel" value="Top"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="horizontalTextPosition" value="4"/>
<property name="text" value="Port"/>
<property name="horizontalAlignment" value="2"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JTextField();"/>
<property name="maximumSize" value="2147483647,2147483647"/>
<property name="font" value="SansSerif+0+12"/>
<property name="Layout Constraints" value="1,1,1,1,2,10,0,0,0.1,0.0,0,5,5,0"/>
<property name="minimumSize" value="4,21"/>
<property name="DefaultSize" value="20,29"/>
<property name="InstanceName" value="JTextField2"/>
<property name="PropertyOrder" value=",horizontalAlignment,font,maximumSize,minimumSize,"/>
<property name="Bean Permissions" value="244"/>
<property name="Panel" value="Top"/>
<property name="ClassName" value="javax.swing.JTextField"/>
<property name="horizontalAlignment" value="2"/>
<property name="UserCode_Bean_JTextField2" value="Bean_JTextField2"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JLabel();"/>
<property name="font" value="SansSerif+0+12"/>
<property name="Layout Constraints" value="0,2,1,1,0,17,0,0,0.0,0.0,0,5,0,0"/>
<property name="UserCode_Bean_JLabel3" value="Bean_JLabel3"/>
<property name="DefaultSize" value="78,25"/>
<property name="InstanceName" value="JLabel3"/>
<property name="PropertyOrder" value=",horizontalAlignment,font,foreground,horizontalTextPosition,text,"/>
<property name="Bean Permissions" value="244"/>
<property name="foreground" value="-16777216"/>
<property name="Panel" value="Top"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="horizontalTextPosition" value="4"/>
<property name="text" value="Status Poller"/>
<property name="horizontalAlignment" value="2"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JTextField();"/>
<property name="font" value="SansSerif+0+12"/>
<property name="Layout Constraints" value="1,2,0,1,2,10,0,0,0.1,0.0,0,5,5,5"/>
<property name="DefaultSize" value="20,29"/>
<property name="InstanceName" value="JTextField3"/>
<property name="PropertyOrder" value=",horizontalAlignment,font,"/>
<property name="Bean Permissions" value="244"/>
<property name="Panel" value="Top"/>
<property name="ClassName" value="javax.swing.JTextField"/>
<property name="UserCode_Bean_JTextField3" value="Bean_JTextField3"/>
<property name="horizontalAlignment" value="2"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JLabel();"/>
<property name="font" value="SansSerif+0+12"/>
<property name="UserCode_Bean_JLabel4" value="Bean_JLabel4"/>
<property name="Layout Constraints" value="0,3,1,1,0,17,0,0,0.0,0.0,0,5,0,0"/>
<property name="DefaultSize" value="118,25"/>
<property name="InstanceName" value="JLabel4"/>
<property name="PropertyOrder" value=",horizontalAlignment,font,foreground,horizontalTextPosition,text,"/>
<property name="Bean Permissions" value="244"/>
<property name="foreground" value="-16777216"/>
<property name="Panel" value="Top"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="horizontalTextPosition" value="4"/>
<property name="text" value="Connection Handler"/>
<property name="horizontalAlignment" value="2"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JTextField();"/>
<property name="font" value="SansSerif+0+12"/>
<property name="Layout Constraints" value="1,3,0,1,2,10,0,0,0.1,0.0,0,5,5,5"/>
<property name="DefaultSize" value="20,29"/>
<property name="InstanceName" value="JTextField4"/>
<property name="PropertyOrder" value=",horizontalAlignment,font,"/>
<property name="Bean Permissions" value="244"/>
<property name="UserCode_Bean_JTextField4" value="Bean_JTextField4"/>
<property name="Panel" value="Top"/>
<property name="ClassName" value="javax.swing.JTextField"/>
<property name="horizontalAlignment" value="2"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JLabel();"/>
<property name="UserCode_Bean_JLabel5" value="Bean_JLabel5"/>
<property name="font" value="SansSerif+0+12"/>
<property name="Layout Constraints" value="1,6,1,1,0,10,0,0,0.0,0.0,5,0,5,0"/>
<property name="DefaultSize" value="67,25"/>
<property name="InstanceName" value="JLabel5"/>
<property name="PropertyOrder" value=",horizontalAlignment,font,foreground,horizontalTextPosition,text,"/>
<property name="Bean Permissions" value="244"/>
<property name="foreground" value="-16777216"/>
<property name="Panel" value="Top"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="horizontalTextPosition" value="4"/>
<property name="text" value="Command"/>
<property name="horizontalAlignment" value="2"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JLabel();"/>
<property name="UserCode_Bean_JLabel6" value="Bean_JLabel6"/>
<property name="font" value="SansSerif+0+12"/>
<property name="Layout Constraints" value="2,6,1,1,0,10,0,0,0.0,0.0,5,0,0,0"/>
<property name="DefaultSize" value="66,25"/>
<property name="InstanceName" value="JLabel6"/>
<property name="PropertyOrder" value=",horizontalAlignment,font,foreground,horizontalTextPosition,text,"/>
<property name="Bean Permissions" value="244"/>
<property name="foreground" value="-16777216"/>
<property name="Panel" value="Top"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="horizontalTextPosition" value="4"/>
<property name="text" value="Response"/>
<property name="horizontalAlignment" value="2"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="UserCode_Bean_JLabel7" value="Bean_JLabel7"/>
<property name="Initializer" value="new javax.swing.JLabel();"/>
<property name="font" value="SansSerif+0+12"/>
<property name="Layout Constraints" value="0,7,1,1,0,17,0,0,0.0,0.0,0,5,0,0"/>
<property name="DefaultSize" value="39,25"/>
<property name="InstanceName" value="JLabel7"/>
<property name="PropertyOrder" value=",horizontalAlignment,font,foreground,horizontalTextPosition,text,"/>
<property name="Bean Permissions" value="244"/>
<property name="foreground" value="-16777216"/>
<property name="Panel" value="Top"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="horizontalTextPosition" value="4"/>
<property name="text" value="Login"/>
<property name="horizontalAlignment" value="2"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JTextField();"/>
<property name="font" value="SansSerif+0+12"/>
<property name="Layout Constraints" value="1,7,1,1,2,10,0,0,0.1,0.0,0,5,5,0"/>
<property name="DefaultSize" value="20,29"/>
<property name="InstanceName" value="JTextField5"/>
<property name="PropertyOrder" value=",horizontalAlignment,font,"/>
<property name="Bean Permissions" value="244"/>
<property name="UserCode_Bean_JTextField5" value="Bean_JTextField5"/>
<property name="Panel" value="Top"/>
<property name="ClassName" value="javax.swing.JTextField"/>
<property name="horizontalAlignment" value="2"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JTextField();"/>
<property name="font" value="SansSerif+0+12"/>
<property name="Layout Constraints" value="2,7,1,1,2,10,0,0,0.1,0.0,0,5,5,5"/>
<property name="DefaultSize" value="20,29"/>
<property name="InstanceName" value="JTextField6"/>
<property name="PropertyOrder" value=",horizontalAlignment,font,"/>
<property name="Bean Permissions" value="244"/>
<property name="UserCode_Bean_JTextField6" value="Bean_JTextField6"/>
<property name="Panel" value="Top"/>
<property name="ClassName" value="javax.swing.JTextField"/>
<property name="horizontalAlignment" value="2"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="UserCode_Bean_JLabel8" value="Bean_JLabel8"/>
<property name="Initializer" value="new javax.swing.JLabel();"/>
<property name="font" value="SansSerif+0+12"/>
<property name="Layout Constraints" value="0,8,1,1,0,17,0,0,0.0,0.0,0,5,0,0"/>
<property name="DefaultSize" value="24,25"/>
<property name="InstanceName" value="JLabel8"/>
<property name="PropertyOrder" value=",horizontalAlignment,font,foreground,horizontalTextPosition,text,"/>
<property name="Bean Permissions" value="244"/>
<property name="foreground" value="-16777216"/>
<property name="Panel" value="Top"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="horizontalTextPosition" value="4"/>
<property name="text" value="Init"/>
<property name="horizontalAlignment" value="2"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JTextField();"/>
<property name="font" value="SansSerif+0+12"/>
<property name="Layout Constraints" value="1,8,1,1,2,10,0,0,0.1,0.0,0,5,5,0"/>
<property name="DefaultSize" value="20,29"/>
<property name="InstanceName" value="JTextField7"/>
<property name="PropertyOrder" value=",horizontalAlignment,font,"/>
<property name="Bean Permissions" value="244"/>
<property name="UserCode_Bean_JTextField7" value="Bean_JTextField7"/>
<property name="Panel" value="Top"/>
<property name="ClassName" value="javax.swing.JTextField"/>
<property name="horizontalAlignment" value="2"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JTextField();"/>
<property name="font" value="SansSerif+0+12"/>
<property name="Layout Constraints" value="2,8,1,1,2,10,0,0,0.1,0.0,0,5,5,5"/>
<property name="DefaultSize" value="20,29"/>
<property name="InstanceName" value="JTextField8"/>
<property name="PropertyOrder" value=",horizontalAlignment,font,"/>
<property name="Bean Permissions" value="244"/>
<property name="UserCode_Bean_JTextField8" value="Bean_JTextField8"/>
<property name="Panel" value="Top"/>
<property name="ClassName" value="javax.swing.JTextField"/>
<property name="horizontalAlignment" value="2"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JLabel();"/>
<property name="font" value="SansSerif+0+12"/>
<property name="Layout Constraints" value="0,9,1,1,0,17,0,0,0.0,0.0,0,5,0,0"/>
<property name="DefaultSize" value="28,25"/>
<property name="InstanceName" value="JLabel9"/>
<property name="PropertyOrder" value=",horizontalAlignment,font,foreground,horizontalTextPosition,text,"/>
<property name="Bean Permissions" value="244"/>
<property name="foreground" value="-16777216"/>
<property name="Panel" value="Top"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="horizontalTextPosition" value="4"/>
<property name="text" value="Info"/>
<property name="horizontalAlignment" value="2"/>
<property name="UserCode_Bean_JLabel9" value="Bean_JLabel9"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JTextField();"/>
<property name="font" value="SansSerif+0+12"/>
<property name="Layout Constraints" value="1,9,1,1,2,10,0,0,0.1,0.0,0,5,5,0"/>
<property name="DefaultSize" value="20,29"/>
<property name="InstanceName" value="JTextField9"/>
<property name="PropertyOrder" value=",horizontalAlignment,font,"/>
<property name="Bean Permissions" value="244"/>
<property name="UserCode_Bean_JTextField9" value="Bean_JTextField9"/>
<property name="Panel" value="Top"/>
<property name="ClassName" value="javax.swing.JTextField"/>
<property name="horizontalAlignment" value="2"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JTextField();"/>
<property name="font" value="SansSerif+0+12"/>
<property name="Layout Constraints" value="2,9,1,1,2,10,0,0,0.1,0.0,0,5,5,5"/>
<property name="DefaultSize" value="20,29"/>
<property name="InstanceName" value="JTextField10"/>
<property name="PropertyOrder" value=",horizontalAlignment,font,"/>
<property name="Bean Permissions" value="244"/>
<property name="UserCode_Bean_JTextField10" value="Bean_JTextField10"/>
<property name="Panel" value="Top"/>
<property name="ClassName" value="javax.swing.JTextField"/>
<property name="horizontalAlignment" value="2"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JLabel();"/>
<property name="font" value="SansSerif+0+12"/>
<property name="UserCode_Bean_JLabel10" value="Bean_JLabel10"/>
<property name="Layout Constraints" value="0,10,1,1,0,17,0,0,0.0,0.0,0,5,0,0"/>
<property name="DefaultSize" value="43,25"/>
<property name="InstanceName" value="JLabel10"/>
<property name="PropertyOrder" value=",horizontalAlignment,font,foreground,horizontalTextPosition,text,"/>
<property name="Bean Permissions" value="244"/>
<property name="foreground" value="-16777216"/>
<property name="Panel" value="Top"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="horizontalTextPosition" value="4"/>
<property name="text" value="Status"/>
<property name="horizontalAlignment" value="2"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JTextField();"/>
<property name="font" value="SansSerif+0+12"/>
<property name="Layout Constraints" value="1,10,1,1,2,10,0,0,0.1,0.0,0,5,0,0"/>
<property name="DefaultSize" value="20,29"/>
<property name="InstanceName" value="JTextField11"/>
<property name="PropertyOrder" value=",horizontalAlignment,font,"/>
<property name="Bean Permissions" value="244"/>
<property name="UserCode_Bean_JTextField11" value="Bean_JTextField11"/>
<property name="Panel" value="Top"/>
<property name="ClassName" value="javax.swing.JTextField"/>
<property name="horizontalAlignment" value="2"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JTextField();"/>
<property name="font" value="SansSerif+0+12"/>
<property name="Layout Constraints" value="2,10,1,1,2,10,0,0,0.1,0.0,0,5,5,5"/>
<property name="DefaultSize" value="20,29"/>
<property name="InstanceName" value="JTextField12"/>
<property name="PropertyOrder" value=",horizontalAlignment,font,"/>
<property name="Bean Permissions" value="244"/>
<property name="UserCode_Bean_JTextField12" value="Bean_JTextField12"/>
<property name="Panel" value="Top"/>
<property name="ClassName" value="javax.swing.JTextField"/>
<property name="horizontalAlignment" value="2"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JTextField();"/>
<property name="font" value="SansSerif+0+12"/>
<property name="Layout Constraints" value="1,4,1,1,0,17,0,0,0.0,0.0,0,5,5,5"/>
<property name="minimumSize" value="250,21"/>
<property name="DefaultSize" value="258,29"/>
<property name="InstanceName" value="JTextField13"/>
<property name="PropertyOrder" value=",horizontalAlignment,font,minimumSize,preferredSize,"/>
<property name="UserCode_Bean_JTextField13" value="Bean_JTextField13"/>
<property name="Bean Permissions" value="247"/>
<property name="preferredSize" value="200,21"/>
<property name="Panel" value="Top"/>
<property name="ClassName" value="javax.swing.JTextField"/>
<property name="horizontalAlignment" value="2"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JTextField();"/>
<property name="font" value="SansSerif+0+12"/>
<property name="Layout Constraints" value="1,5,1,1,0,17,0,0,0.0,0.0,0,5,5,5"/>
<property name="minimumSize" value="200,21"/>
<property name="DefaultSize" value="208,29"/>
<property name="InstanceName" value="JTextField14"/>
<property name="PropertyOrder" value=",horizontalAlignment,font,preferredSize,minimumSize,"/>
<property name="UserCode_Bean_JTextField14" value="Bean_JTextField14"/>
<property name="Bean Permissions" value="247"/>
<property name="preferredSize" value="200,21"/>
<property name="Panel" value="Top"/>
<property name="ClassName" value="javax.swing.JTextField"/>
<property name="horizontalAlignment" value="2"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JLabel();"/>
<property name="UserCode_Bean_JLabel11" value="Bean_JLabel11"/>
<property name="font" value="SansSerif+0+12"/>
<property name="Layout Constraints" value="0,4,1,1,0,17,0,0,0.0,0.0,0,5,0,0"/>
<property name="DefaultSize" value="78,25"/>
<property name="InstanceName" value="JLabel11"/>
<property name="PropertyOrder" value=",horizontalAlignment,font,foreground,horizontalTextPosition,text,preferredSize,"/>
<property name="Bean Permissions" value="247"/>
<property name="preferredSize" value="70,17"/>
<property name="foreground" value="-16777216"/>
<property name="Panel" value="Top"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="horizontalTextPosition" value="4"/>
<property name="text" value="AppendFront"/>
<property name="horizontalAlignment" value="2"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JLabel();"/>
<property name="UserCode_Bean_JLabel12" value="Bean_JLabel12"/>
<property name="font" value="SansSerif+0+12"/>
<property name="Layout Constraints" value="0,5,1,1,0,17,0,0,0.0,0.0,0,5,0,0"/>
<property name="DefaultSize" value="72,25"/>
<property name="InstanceName" value="JLabel12"/>
<property name="PropertyOrder" value=",horizontalAlignment,font,foreground,horizontalTextPosition,text,preferredSize,"/>
<property name="Bean Permissions" value="247"/>
<property name="preferredSize" value="70,17"/>
<property name="foreground" value="-16777216"/>
<property name="Panel" value="Top"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="horizontalTextPosition" value="4"/>
<property name="text" value="AppendEnd"/>
<property name="horizontalAlignment" value="2"/>
<property name="Modifiers" value=""/>
</bean>
<property name="Import Code" value=""/>
<property name="Variable Definitions" value=""/>
<property name="Version" value="4.4"/>
<property name="Screen Height" value="442"/>
<property name="Start Commands" value=""/>
<property name="Type" value="Panel"/>
<property name="FileVersion" value="1"/>
<property name="MenuBarPresent" value="false"/>
<property name="GenSource" value="true"/>
<property name="Custom Code" value=""/>
<property name="Dummy Interface" value=""/>
<property name="ScreenTitle" value=""/>
<property name="ToolBarPresent" value="true"/>
<property name="HorizontalSplitPanePos" value="170.0"/>
<property name="SubVersion" value="4.4"/>
<property name="LookAndFeel" value="None"/>
</screen>
