<?xml version="1.0" encoding="UTF-8"?>
<screen conversionType="Hash">
<property name="Version" value="4.4"/>
<property name="Type" value="Dialog"/>
<property name="ScreenTitle" value="SNMP V3 Properties"/>
<property name="Screen Width" value="363"/>
<property name="SubVersion" value="4.4"/>
<property name="GenSource" value="false"/>
<property name="Screen Height" value="327"/>
<property name="HorizontalSplitPanePos" value="233.0"/>
<property name="FileVersion" value="18"/>
<property name="ToolBarPresent" value="true"/>
<property name="LookAndFeel" value="None"/>
<bean>
<property name="InstanceName" value="Top"/>
<property name="PopupMenu" value="none"/>
<property name="UserCode_Bean_components" value="Bean_components"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Layout Manager" value="Border Layout"/>
<property name="Layout Constraints" value="Center"/>
<property name="Panel" value="container"/>
<property name="Layout Manager Constraints" value="5,5"/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JPanel();"/>
<property name="Layout Manager Constraints" value="5,5,1"/>
<property name="UserCode_Bean_btnPanel" value="Bean_btnPanel"/>
<property name="Layout Constraints" value="South"/>
<property name="DefaultSize" value="345,55"/>
<property name="Layout Manager" value="Flow Layout"/>
<property name="PaddingSize" value="170,0"/>
<property name="InstanceName" value="btnPanel"/>
<property name="Bean Permissions" value="255"/>
<property name="Panel" value="Top"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JButton();"/>
<property name="Layout Constraints" value="0"/>
<property name="DefaultSize" value="63,37"/>
<property name="PaddingSize" value="2,4"/>
<property name="InstanceName" value="okButton"/>
<property name="PropertyOrder" value=",text,label,"/>
<property name="Bean Permissions" value="247"/>
<property name="label" value="OK"/>
<property name="Panel" value="btnPanel"/>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="text" value="Ok"/>
<property name="UserCode_Bean_okButton" value="Bean_okButton"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JButton();"/>
<property name="UserCode_Bean_cancelButton" value="Bean_cancelButton"/>
<property name="Layout Constraints" value="1"/>
<property name="DefaultSize" value="89,37"/>
<property name="PaddingSize" value="6,4"/>
<property name="InstanceName" value="cancelButton"/>
<property name="PropertyOrder" value=",text,"/>
<property name="Bean Permissions" value="247"/>
<property name="Panel" value="btnPanel"/>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="text" value="Cancel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="name" value="Security"/>
<property name="Initializer" value="new javax.swing.JPanel();"/>
<property name="Layout Manager Constraints" value=""/>
<property name="Layout Constraints" value="Center"/>
<property name="toolTipText" value="Security parameters"/>
<property name="DefaultSize" value="275,220"/>
<property name="Layout Manager" value="GridBag Layout"/>
<property name="PaddingSize" value="4,0"/>
<property name="InstanceName" value="security"/>
<property name="PropertyOrder" value=",name,toolTipText,"/>
<property name="Bean Permissions" value="255"/>
<property name="Panel" value="Top"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="UserCode_Bean_security" value="Bean_security"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JLabel();"/>
<property name="Layout Constraints" value="0,0,1,1,0,17,0,0,0.0,0.0,5,5,5,5"/>
<property name="DefaultSize" value="107,26"/>
<property name="UserCode_Bean_lSecLevel" value="Bean_lSecLevel"/>
<property name="InstanceName" value="lSecLevel"/>
<property name="PropertyOrder" value=",text,foreground,"/>
<property name="Bean Permissions" value="247"/>
<property name="foreground" value="-16777216"/>
<property name="Panel" value="security"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="text" value="Security Level"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JLabel();"/>
<property name="Layout Constraints" value="0,1,1,1,0,17,0,0,0.0,0.0,5,5,5,0"/>
<property name="DefaultSize" value="106,26"/>
<property name="InstanceName" value="lAuthPr"/>
<property name="PropertyOrder" value=",text,foreground,"/>
<property name="UserCode_Bean_lAuthPr" value="Bean_lAuthPr"/>
<property name="Bean Permissions" value="247"/>
<property name="foreground" value="-16777216"/>
<property name="Panel" value="security"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="text" value="Auth Protocol"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JLabel();"/>
<property name="Layout Constraints" value="0,2,1,1,0,17,0,0,0.0,0.0,5,5,5,0"/>
<property name="DefaultSize" value="114,26"/>
<property name="InstanceName" value="lAuthPass"/>
<property name="PropertyOrder" value=",text,foreground,"/>
<property name="Bean Permissions" value="247"/>
<property name="foreground" value="-16777216"/>
<property name="UserCode_Bean_lAuthPass" value="Bean_lAuthPass"/>
<property name="Panel" value="security"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="text" value="Auth Password"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JLabel();"/>
<property name="Layout Constraints" value="0,3,1,1,0,17,0,0,0.0,0.0,5,5,5,0"/>
<property name="DefaultSize" value="99,26"/>
<property name="UserCode_Bean_lPrivPr" value="Bean_lPrivPr"/>
<property name="InstanceName" value="lPrivPr"/>
<property name="PropertyOrder" value=",text,foreground,"/>
<property name="Bean Permissions" value="247"/>
<property name="foreground" value="-16777216"/>
<property name="Panel" value="security"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="text" value="Priv Protocol"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JLabel();"/>
<property name="Layout Constraints" value="0,4,1,1,0,17,0,0,0.0,0.0,5,5,5,0"/>
<property name="DefaultSize" value="107,26"/>
<property name="InstanceName" value="lPrivPass"/>
<property name="PropertyOrder" value=",text,foreground,"/>
<property name="Bean Permissions" value="247"/>
<property name="foreground" value="-16777216"/>
<property name="Panel" value="security"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="text" value="Priv Password"/>
<property name="UserCode_Bean_lPrivPass" value="Bean_lPrivPass"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JComboBox();"/>
<property name="Layout Constraints" value="1,0,1,1,2,17,0,0,0.1,0.0,5,5,5,0"/>
<property name="DefaultSize" value="134,35"/>
<property name="InstanceName" value="comboSecLevel"/>
<property name="PropertyOrder" value=",actionCommand,"/>
<property name="UserCode_Bean_comboSecLevel" value="Bean_comboSecLevel"/>
<property name="Bean Permissions" value="247"/>
<property name="actionCommand" value="comboSecLevel"/>
<property name="Panel" value="security"/>
<property name="ClassName" value="javax.swing.JComboBox"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JComboBox();"/>
<property name="Layout Constraints" value="1,1,1,1,2,17,0,0,0.0,0.0,5,5,5,5"/>
<property name="DefaultSize" value="134,35"/>
<property name="InstanceName" value="comboAuthPr"/>
<property name="Bean Permissions" value="247"/>
<property name="Panel" value="security"/>
<property name="ClassName" value="javax.swing.JComboBox"/>
<property name="UserCode_Bean_comboAuthPr" value="Bean_comboAuthPr"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JPasswordField();"/>
<property name="Layout Constraints" value="1,2,1,1,2,17,0,0,0.0,0.0,5,5,5,0"/>
<property name="DefaultSize" value="20,30"/>
<property name="InstanceName" value="pwdAuthPass"/>
<property name="UserCode_Bean_pwdAuthPass" value="Bean_pwdAuthPass"/>
<property name="Bean Permissions" value="247"/>
<property name="Panel" value="security"/>
<property name="ClassName" value="javax.swing.JPasswordField"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JComboBox();"/>
<property name="PopupMenu" value="none"/>
<property name="Layout Constraints" value="1,3,1,1,2,17,0,0,0.0,0.0,5,5,5,5"/>
<property name="DefaultSize" value="40,32"/>
<property name="InstanceName" value="comboPrivPr"/>
<property name="Bean Permissions" value="247"/>
<property name="UserCode_Bean_comboPrivPr" value="Bean_comboPrivPr"/>
<property name="Panel" value="security"/>
<property name="ClassName" value="javax.swing.JComboBox"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JPasswordField();"/>
<property name="Layout Constraints" value="1,4,1,1,2,17,0,0,0.0,0.0,5,5,5,5"/>
<property name="DefaultSize" value="20,30"/>
<property name="InstanceName" value="pwdPrivPass"/>
<property name="Bean Permissions" value="247"/>
<property name="UserCode_Bean_pwdPrivPass" value="Bean_pwdPrivPass"/>
<property name="Panel" value="security"/>
<property name="ClassName" value="javax.swing.JPasswordField"/>
<property name="Modifiers" value=""/>
</bean>
<property name="MenuBarPresent" value="true"/>
</screen>

