<?xml version="1.0" encoding="UTF-8"?>
<screen conversionType="Hash">
<property name="Version" value="4.4"/>
<property name="Type" value="Dialog"/>
<property name="ScreenTitle" value="Rebranding Tool"/>
<property name="Screen Width" value="528"/>
<property name="SubVersion" value="4.4"/>
<property name="GenSource" value="false"/>
<property name="Screen Height" value="551"/>
<property name="HorizontalSplitPanePos" value="170.0"/>
<property name="FileVersion" value="32"/>
<property name="ToolBarPresent" value="true"/>
<configgroup>
<property name="UserCode_loadSaveDetailCode" value="ConfigGroup_group1_loadSaveDetailCode"/>
<property name="ProtocolName" value=""/>
<property name="groupname" value="group1"/>
<property name="UserCode_getSaveDetailCode" value="ConfigGroup_group1_getSaveDetailCode"/>
<property name="UserCode_validationcode" value="ConfigGroup_group1"/>
<property name="configIDArr" value=""/>
</configgroup>
<property name="LookAndFeel" value="None"/>
<bean>
<property name="InstanceName" value="Top"/>
<property name="PopupMenu" value="none"/>
<property name="UserCode_Bean_components" value="Bean_components"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Layout Manager" value="Border Layout"/>
<property name="Layout Constraints" value="Center"/>
<property name="Panel" value="container"/>
<property name="Layout Manager Constraints" value="5,5"/>
</bean>
<bean>
<property name="UserCode_Bean_JPanel21" value="Bean_JPanel21"/>
<property name="Initializer" value="new javax.swing.JPanel();"/>
<property name="PopupMenu" value="none"/>
<property name="Layout Manager Constraints" value=""/>
<property name="Layout Constraints" value="South"/>
<property name="DefaultSize" value="519,76"/>
<property name="border" value="EtchedBorder,0,null,null"/>
<property name="Layout Manager" value="GridBag Layout"/>
<property name="InstanceName" value="JPanel21"/>
<property name="PropertyOrder" value=",border,"/>
<property name="Bean Permissions" value="255"/>
<property name="Panel" value="Top"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JPanel();"/>
<property name="Layout Manager Constraints" value="5,5,2"/>
<property name="Layout Constraints" value="1,0,1,1,2,13,0,0,0.1,0.0,5,5,5,5"/>
<property name="DefaultSize" value="270,52"/>
<property name="UserCode_Bean_JPanel2" value="Bean_JPanel2"/>
<property name="Layout Manager" value="Flow Layout"/>
<property name="InstanceName" value="JPanel2"/>
<property name="Bean Permissions" value="255"/>
<property name="Panel" value="JPanel21"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JButton();"/>
<property name="font" value="dialog+0+12"/>
<property name="Layout Constraints" value="0"/>
<property name="DefaultSize" value="70,34"/>
<property name="PaddingSize" value="1,0"/>
<property name="InstanceName" value="help"/>
<property name="PropertyOrder" value=",label,font,"/>
<property name="UserCode_Bean_help" value="Bean_help"/>
<property name="Bean Permissions" value="247"/>
<property name="label" value="Help"/>
<property name="Panel" value="JPanel2"/>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JButton();"/>
<property name="font" value="dialog+0+12"/>
<property name="Layout Constraints" value="1"/>
<property name="DefaultSize" value="92,34"/>
<property name="InstanceName" value="rebrand"/>
<property name="PropertyOrder" value=",text,font,mnemonic,"/>
<property name="Bean Permissions" value="247"/>
<property name="UserCode_Bean_rebrand" value="Bean_rebrand"/>
<property name="mnemonic" value="\'r'$VARIABLE"/>
<property name="Panel" value="JPanel2"/>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="text" value="Rebrand"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JButton();"/>
<property name="font" value="dialog+0+12"/>
<property name="UserCode_Bean_cancel" value="Bean_cancel"/>
<property name="Layout Constraints" value="2"/>
<property name="nextFocusableComponent" value="companyName$BEAN"/>
<property name="DefaultSize" value="80,34"/>
<property name="PaddingSize" value="7,0"/>
<property name="InstanceName" value="cancel"/>
<property name="PropertyOrder" value=",font,nextFocusableComponent,text,"/>
<property name="Bean Permissions" value="247"/>
<property name="Panel" value="JPanel2"/>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="text" value="Close"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JPanel();"/>
<property name="Layout Manager Constraints" value="5,5,0"/>
<property name="Layout Constraints" value="0,0,1,1,0,17,0,0,0.0,0.0,5,5,5,0"/>
<property name="DefaultSize" value="222,54"/>
<property name="Layout Manager" value="Flow Layout"/>
<property name="InstanceName" value="JPanel22"/>
<property name="Bean Permissions" value="255"/>
<property name="Panel" value="JPanel21"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="UserCode_Bean_JPanel22" value="Bean_JPanel22"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JRadioButton();"/>
<property name="PopupMenu" value="none"/>
<property name="font" value="dialog+0+12"/>
<property name="Layout Constraints" value="0"/>
<property name="toolTipText" value="Enter the details for rebranding "/>
<property name="DefaultSize" value="100,32"/>
<property name="selected" value="true"/>
<property name="InstanceName" value="newvalues"/>
<property name="PropertyOrder" value=",label,selected,actionCommand,toolTipText,font,"/>
<property name="UserCode_Bean_newvalues" value="Bean_newvalues"/>
<property name="Bean Permissions" value="247"/>
<property name="actionCommand" value="newvalues"/>
<property name="label" value="New Values"/>
<property name="Panel" value="JPanel22"/>
<property name="ClassName" value="javax.swing.JRadioButton"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JRadioButton();"/>
<property name="font" value="dialog+0+12"/>
<property name="Layout Constraints" value="1"/>
<property name="toolTipText" value="Enter the Values If you have rebranded manually "/>
<property name="DefaultSize" value="95,32"/>
<property name="UserCode_Bean_oldvalues" value="Bean_oldvalues"/>
<property name="InstanceName" value="oldvalues"/>
<property name="PropertyOrder" value=",label,actionCommand,toolTipText,font,"/>
<property name="Bean Permissions" value="247"/>
<property name="actionCommand" value="oldvalues"/>
<property name="label" value="Old Values"/>
<property name="Panel" value="JPanel22"/>
<property name="ClassName" value="javax.swing.JRadioButton"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JPanel();"/>
<property name="PopupMenu" value="none"/>
<property name="Layout Manager Constraints" value=""/>
<property name="Layout Constraints" value="Center"/>
<property name="DefaultSize" value="538,691"/>
<property name="Layout Manager" value="GridBag Layout"/>
<property name="UserCode_Bean_JPanel1" value="Bean_JPanel1"/>
<property name="InstanceName" value="JPanel1"/>
<property name="Bean Permissions" value="255"/>
<property name="Panel" value="Top"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JLabel();"/>
<property name="font" value="dialog+0+12"/>
<property name="Layout Constraints" value="0,1,1,1,0,17,0,0,0.0,0.0,10,5,5,0"/>
<property name="DefaultSize" value="106,27"/>
<property name="UserCode_Bean_JLabel1" value="Bean_JLabel1"/>
<property name="InstanceName" value="JLabel1"/>
<property name="PropertyOrder" value=",text,font,foreground,"/>
<property name="Bean Permissions" value="247"/>
<property name="foreground" value="-16777216"/>
<property name="Panel" value="JPanel1"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="text" value="Company Name"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JLabel();"/>
<property name="font" value="dialog+0+12"/>
<property name="Layout Constraints" value="0,2,1,1,0,17,0,0,0.0,0.0,5,5,5,0"/>
<property name="DefaultSize" value="95,27"/>
<property name="UserCode_Bean_JLabel2" value="Bean_JLabel2"/>
<property name="InstanceName" value="JLabel2"/>
<property name="PropertyOrder" value=",text,font,foreground,"/>
<property name="Bean Permissions" value="247"/>
<property name="foreground" value="-16777216"/>
<property name="Panel" value="JPanel1"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="text" value="Product Name"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JLabel();"/>
<property name="font" value="dialog+0+12"/>
<property name="Layout Constraints" value="0,3,1,1,0,17,0,0,0.0,0.0,5,5,5,0"/>
<property name="DefaultSize" value="55,27"/>
<property name="InstanceName" value="JLabel21"/>
<property name="PropertyOrder" value=",text,font,foreground,"/>
<property name="Bean Permissions" value="247"/>
<property name="foreground" value="-16777216"/>
<property name="UserCode_Bean_JLabel21" value="Bean_JLabel21"/>
<property name="Panel" value="JPanel1"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="text" value="Version"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JLabel();"/>
<property name="font" value="dialog+0+12"/>
<property name="Layout Constraints" value="0,4,1,1,0,17,0,0,0.0,0.0,5,5,5,0"/>
<property name="UserCode_Bean_JLabel3" value="Bean_JLabel3"/>
<property name="DefaultSize" value="95,27"/>
<property name="InstanceName" value="JLabel3"/>
<property name="PropertyOrder" value=",text,font,foreground,"/>
<property name="Bean Permissions" value="247"/>
<property name="foreground" value="-16777216"/>
<property name="Panel" value="JPanel1"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="text" value="Company URL"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JLabel();"/>
<property name="font" value="dialog+0+12"/>
<property name="UserCode_Bean_JLabel4" value="Bean_JLabel4"/>
<property name="Layout Constraints" value="0,5,1,1,0,17,0,0,0.0,0.0,5,5,5,0"/>
<property name="DefaultSize" value="45,27"/>
<property name="InstanceName" value="JLabel4"/>
<property name="PropertyOrder" value=",text,font,foreground,"/>
<property name="Bean Permissions" value="247"/>
<property name="foreground" value="-16777216"/>
<property name="Panel" value="JPanel1"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="text" value="Motto"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JLabel();"/>
<property name="UserCode_Bean_JLabel5" value="Bean_JLabel5"/>
<property name="font" value="dialog+0+12"/>
<property name="Layout Constraints" value="0,6,1,1,0,17,0,0,0.0,0.0,5,5,5,0"/>
<property name="DefaultSize" value="70,27"/>
<property name="InstanceName" value="JLabel5"/>
<property name="PropertyOrder" value=",text,font,foreground,"/>
<property name="Bean Permissions" value="247"/>
<property name="foreground" value="-16777216"/>
<property name="Panel" value="JPanel1"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="text" value="Copyright"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JLabel();"/>
<property name="UserCode_Bean_JLabel6" value="Bean_JLabel6"/>
<property name="font" value="dialog+0+12"/>
<property name="Layout Constraints" value="0,7,1,1,0,17,0,0,0.0,0.0,5,5,5,0"/>
<property name="DefaultSize" value="91,27"/>
<property name="InstanceName" value="JLabel6"/>
<property name="PropertyOrder" value=",text,font,foreground,"/>
<property name="Bean Permissions" value="247"/>
<property name="foreground" value="-16777216"/>
<property name="Panel" value="JPanel1"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="text" value="Splash Image"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="UserCode_Bean_JLabel7" value="Bean_JLabel7"/>
<property name="Initializer" value="new javax.swing.JLabel();"/>
<property name="font" value="dialog+0+12"/>
<property name="Layout Constraints" value="0,8,1,1,0,17,0,0,0.0,0.0,5,5,5,0"/>
<property name="DefaultSize" value="77,27"/>
<property name="InstanceName" value="JLabel7"/>
<property name="PropertyOrder" value=",text,font,foreground,"/>
<property name="Bean Permissions" value="247"/>
<property name="foreground" value="-16777216"/>
<property name="Panel" value="JPanel1"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="text" value="Frame Icon"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="UserCode_Bean_JLabel8" value="Bean_JLabel8"/>
<property name="Initializer" value="new javax.swing.JLabel();"/>
<property name="font" value="dialog+0+12"/>
<property name="Layout Constraints" value="0,9,1,1,0,17,0,0,0.0,0.0,5,5,5,0"/>
<property name="DefaultSize" value="91,27"/>
<property name="InstanceName" value="JLabel8"/>
<property name="PropertyOrder" value=",text,font,foreground,"/>
<property name="Bean Permissions" value="247"/>
<property name="foreground" value="-16777216"/>
<property name="Panel" value="JPanel1"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="text" value="Product Logo"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JTextField();"/>
<property name="UserCode_Bean_companyName" value="Bean_companyName"/>
<property name="Layout Constraints" value="1,1,1,1,2,10,0,0,0.1,0.0,10,5,5,5"/>
<property name="DefaultSize" value="20,31"/>
<property name="InstanceName" value="companyName"/>
<property name="Bean Permissions" value="247"/>
<property name="Panel" value="JPanel1"/>
<property name="ClassName" value="javax.swing.JTextField"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="UserCode_Bean_productName" value="Bean_productName"/>
<property name="Initializer" value="new javax.swing.JTextField();"/>
<property name="Layout Constraints" value="1,2,1,1,2,10,0,0,0.1,0.0,5,5,5,5"/>
<property name="DefaultSize" value="20,31"/>
<property name="InstanceName" value="productName"/>
<property name="Bean Permissions" value="247"/>
<property name="Panel" value="JPanel1"/>
<property name="ClassName" value="javax.swing.JTextField"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JTextField();"/>
<property name="Layout Constraints" value="1,3,1,1,2,10,0,0,0.1,0.0,5,5,5,5"/>
<property name="DefaultSize" value="20,31"/>
<property name="UserCode_Bean_version" value="Bean_version"/>
<property name="InstanceName" value="version"/>
<property name="Bean Permissions" value="247"/>
<property name="Panel" value="JPanel1"/>
<property name="ClassName" value="javax.swing.JTextField"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JTextField();"/>
<property name="UserCode_Bean_companyURL" value="Bean_companyURL"/>
<property name="Layout Constraints" value="1,4,1,1,2,10,0,0,0.1,0.0,5,5,5,5"/>
<property name="DefaultSize" value="20,31"/>
<property name="InstanceName" value="companyURL"/>
<property name="Bean Permissions" value="247"/>
<property name="Panel" value="JPanel1"/>
<property name="ClassName" value="javax.swing.JTextField"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JTextField();"/>
<property name="Layout Constraints" value="1,5,1,1,2,10,0,0,0.1,0.0,5,5,5,5"/>
<property name="DefaultSize" value="20,31"/>
<property name="InstanceName" value="motto"/>
<property name="Bean Permissions" value="247"/>
<property name="UserCode_Bean_motto" value="Bean_motto"/>
<property name="Panel" value="JPanel1"/>
<property name="ClassName" value="javax.swing.JTextField"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JTextField();"/>
<property name="Layout Constraints" value="1,6,1,1,2,10,0,0,0.1,0.0,5,5,5,5"/>
<property name="DefaultSize" value="20,31"/>
<property name="InstanceName" value="copyRight"/>
<property name="Bean Permissions" value="247"/>
<property name="Panel" value="JPanel1"/>
<property name="ClassName" value="javax.swing.JTextField"/>
<property name="UserCode_Bean_copyRight" value="Bean_copyRight"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JTextField();"/>
<property name="editable" value="false"/>
<property name="Layout Constraints" value="1,7,1,1,2,10,0,0,0.1,0.0,5,5,5,5"/>
<property name="DefaultSize" value="20,31"/>
<property name="InstanceName" value="splashImage"/>
<property name="PropertyOrder" value=",editable,"/>
<property name="Bean Permissions" value="247"/>
<property name="Panel" value="JPanel1"/>
<property name="ClassName" value="javax.swing.JTextField"/>
<property name="UserCode_Bean_splashImage" value="Bean_splashImage"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JTextField();"/>
<property name="editable" value="false"/>
<property name="Layout Constraints" value="1,8,1,1,2,10,0,0,0.1,0.0,5,5,5,5"/>
<property name="DefaultSize" value="20,31"/>
<property name="InstanceName" value="frameIcon"/>
<property name="PropertyOrder" value=",editable,"/>
<property name="Bean Permissions" value="247"/>
<property name="UserCode_Bean_frameIcon" value="Bean_frameIcon"/>
<property name="Panel" value="JPanel1"/>
<property name="ClassName" value="javax.swing.JTextField"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JTextField();"/>
<property name="editable" value="false"/>
<property name="Layout Constraints" value="1,9,1,1,2,10,0,0,0.1,0.0,5,5,5,5"/>
<property name="DefaultSize" value="20,31"/>
<property name="UserCode_Bean_productLogo" value="Bean_productLogo"/>
<property name="InstanceName" value="productLogo"/>
<property name="PropertyOrder" value=",editable,"/>
<property name="Bean Permissions" value="247"/>
<property name="Panel" value="JPanel1"/>
<property name="ClassName" value="javax.swing.JTextField"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="UserCode_Bean_splashButton" value="Bean_splashButton"/>
<property name="Initializer" value="new javax.swing.JButton();"/>
<property name="font" value="dialog+0+12"/>
<property name="Layout Constraints" value="2,7,1,1,1,10,0,0,0.0,0.0,5,5,5,5"/>
<property name="DefaultSize" value="55,37"/>
<property name="InstanceName" value="splashButton"/>
<property name="PropertyOrder" value=",text,font,"/>
<property name="Bean Permissions" value="247"/>
<property name="Panel" value="JPanel1"/>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="text" value="..."/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JButton();"/>
<property name="font" value="dialog+0+12"/>
<property name="Layout Constraints" value="2,9,1,1,1,10,0,0,0.0,0.0,5,5,5,5"/>
<property name="DefaultSize" value="55,37"/>
<property name="InstanceName" value="logoButton"/>
<property name="PropertyOrder" value=",text,font,"/>
<property name="Bean Permissions" value="247"/>
<property name="UserCode_Bean_logoButton" value="Bean_logoButton"/>
<property name="Panel" value="JPanel1"/>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="text" value="..."/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JButton();"/>
<property name="font" value="dialog+0+12"/>
<property name="Layout Constraints" value="2,8,1,1,1,10,0,0,0.0,0.0,5,5,5,5"/>
<property name="DefaultSize" value="55,37"/>
<property name="UserCode_Bean_frameIconButton" value="Bean_frameIconButton"/>
<property name="InstanceName" value="frameIconButton"/>
<property name="PropertyOrder" value=",text,font,"/>
<property name="Bean Permissions" value="247"/>
<property name="Panel" value="JPanel1"/>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="text" value="..."/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JLabel();"/>
<property name="UserCode_Bean_JLabel12" value="Bean_JLabel12"/>
<property name="font" value="dialog+0+12"/>
<property name="Layout Constraints" value="0,12,1,1,0,17,0,0,0.0,0.0,5,5,5,5"/>
<property name="DefaultSize" value="68,27"/>
<property name="InstanceName" value="JLabel12"/>
<property name="PropertyOrder" value=",font,text,foreground,"/>
<property name="Bean Permissions" value="247"/>
<property name="foreground" value="-16777216"/>
<property name="Panel" value="JPanel1"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="text" value="Language"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JTextField();"/>
<property name="Layout Constraints" value="1,12,1,1,2,10,0,0,0.1,0.0,5,5,5,5"/>
<property name="DefaultSize" value="20,31"/>
<property name="InstanceName" value="language"/>
<property name="UserCode_Bean_language" value="Bean_language"/>
<property name="Bean Permissions" value="247"/>
<property name="Panel" value="JPanel1"/>
<property name="ClassName" value="javax.swing.JTextField"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="UserCode_Bean_JLabel13" value="Bean_JLabel13"/>
<property name="Initializer" value="new javax.swing.JLabel();"/>
<property name="font" value="dialog+0+12"/>
<property name="Layout Constraints" value="0,13,1,1,0,17,0,0,0.0,0.0,5,5,5,5"/>
<property name="DefaultSize" value="58,27"/>
<property name="InstanceName" value="JLabel13"/>
<property name="PropertyOrder" value=",font,text,foreground,"/>
<property name="Bean Permissions" value="247"/>
<property name="foreground" value="-16777216"/>
<property name="Panel" value="JPanel1"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="text" value="Country"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JTextField();"/>
<property name="Layout Constraints" value="1,13,1,1,2,10,0,0,0.1,0.0,5,5,5,5"/>
<property name="DefaultSize" value="20,31"/>
<property name="InstanceName" value="country"/>
<property name="Bean Permissions" value="247"/>
<property name="Panel" value="JPanel1"/>
<property name="ClassName" value="javax.swing.JTextField"/>
<property name="UserCode_Bean_country" value="Bean_country"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JLabel();"/>
<property name="UserCode_Bean_JLabel10" value="Bean_JLabel10"/>
<property name="Layout Constraints" value="0,14,0,1,1,10,0,0,0.1,0.1,5,5,5,5"/>
<property name="DefaultSize" value="20,20"/>
<property name="InstanceName" value="JLabel10"/>
<property name="PropertyOrder" value=",foreground,"/>
<property name="Bean Permissions" value="247"/>
<property name="foreground" value="-16777216"/>
<property name="Panel" value="JPanel1"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="name" value="Contact Address"/>
<property name="Initializer" value="new javax.swing.JLabel();"/>
<property name="font" value="dialog+0+12"/>
<property name="Layout Constraints" value="0,11,1,1,0,17,0,0,0.0,0.0,5,5,5,0"/>
<property name="DefaultSize" value="103,24"/>
<property name="InstanceName" value="contactAddress"/>
<property name="PropertyOrder" value=",font,name,text,"/>
<property name="Bean Permissions" value="247"/>
<property name="UserCode_Bean_contactAddress" value="Bean_contactAddress"/>
<property name="Panel" value="JPanel1"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="text" value="Contact Address"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JTextField();"/>
<property name="PopupMenu" value="none"/>
<property name="editable" value="false"/>
<property name="Layout Constraints" value="1,11,1,1,2,10,0,0,0.0,0.0,5,5,5,5"/>
<property name="DefaultSize" value="20,28"/>
<property name="UserCode_Bean_contactaddress" value="Bean_contactaddress"/>
<property name="InstanceName" value="contactaddress"/>
<property name="PropertyOrder" value=",editable,"/>
<property name="Bean Permissions" value="247"/>
<property name="Panel" value="JPanel1"/>
<property name="ClassName" value="javax.swing.JTextField"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="name" value="browse"/>
<property name="Initializer" value="new javax.swing.JButton();"/>
<property name="font" value="dialog+0+12"/>
<property name="Layout Constraints" value="2,11,1,1,1,10,0,0,0.0,0.0,5,5,5,5"/>
<property name="DefaultSize" value="54,34"/>
<property name="UserCode_Bean_caddressButton" value="Bean_caddressButton"/>
<property name="InstanceName" value="caddressButton"/>
<property name="PropertyOrder" value=",name,actionCommand,font,label,"/>
<property name="Bean Permissions" value="247"/>
<property name="actionCommand" value="cAddButton"/>
<property name="label" value="..."/>
<property name="Panel" value="JPanel1"/>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JTextField();"/>
<property name="editable" value="false"/>
<property name="UserCode_Bean_aboutDialogText" value="Bean_aboutDialogText"/>
<property name="Layout Constraints" value="1,10,1,1,2,10,0,0,0.1,0.0,5,5,5,5"/>
<property name="DefaultSize" value="20,28"/>
<property name="InstanceName" value="aboutDialogText"/>
<property name="PropertyOrder" value=",editable,"/>
<property name="Bean Permissions" value="247"/>
<property name="Panel" value="JPanel1"/>
<property name="ClassName" value="javax.swing.JTextField"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JButton();"/>
<property name="UserCode_Bean_aboutDialogBrowse" value="Bean_aboutDialogBrowse"/>
<property name="font" value="dialog+0+12"/>
<property name="Layout Constraints" value="2,10,1,1,1,10,0,0,0.0,0.0,5,5,5,5"/>
<property name="DefaultSize" value="54,34"/>
<property name="InstanceName" value="aboutDialogBrowse"/>
<property name="PropertyOrder" value=",label,font,"/>
<property name="Bean Permissions" value="247"/>
<property name="label" value="..."/>
<property name="Panel" value="JPanel1"/>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JLabel();"/>
<property name="font" value="dialog+0+12"/>
<property name="Layout Constraints" value="0,10,1,1,0,17,0,0,0.0,0.0,5,5,5,5"/>
<property name="DefaultSize" value="121,24"/>
<property name="InstanceName" value="JLabel19"/>
<property name="PropertyOrder" value=",font,text,"/>
<property name="Bean Permissions" value="247"/>
<property name="UserCode_Bean_JLabel19" value="Bean_JLabel19"/>
<property name="Panel" value="JPanel1"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="text" value="About Dialog Image"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="background" value="-3355444"/>
<property name="Initializer" value="new javax.swing.JTextArea();"/>
<property name="font" value="dialog+0+12"/>
<property name="editable" value="false"/>
<property name="Layout Constraints" value="0,0,0,1,2,10,0,0,0.1,0.0,10,5,5,5"/>
<property name="DefaultSize" value="520,76"/>
<property name="border" value="EtchedBorder,0,null,null"/>
<property name="InstanceName" value="JTextArea1"/>
<property name="PropertyOrder" value=",background,wrapStyleWord,lineWrap,editable,font,text,border,"/>
<property name="Bean Permissions" value="247"/>
<property name="wrapStyleWord" value="true"/>
<property name="Panel" value="JPanel1"/>
<property name="ClassName" value="javax.swing.JTextArea"/>
<property name="text" value="This tool is meant to rebrand the product completely. .Please Note that if you have manually rebranded previously ,  kindly click on the Old Values option and update the old values . Then on you can use the tool to rebrand the product with your new values."/>
<property name="UserCode_Bean_JTextArea1" value="Bean_JTextArea1"/>
<property name="lineWrap" value="true"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.ButtonGroup();"/>
<property name="Layout Constraints" value="BOTTOM"/>
<property name="DefaultSize" value="96,24"/>
<property name="UserCode_Bean_ButtonGroup1" value="Bean_ButtonGroup1"/>
<property name="InstanceName" value="ButtonGroup1"/>
<property name="Bean Permissions" value="247"/>
<property name="Panel" value="Bottom"/>
<property name="ClassName" value="javax.swing.ButtonGroup"/>
<property name="Modifiers" value=""/>
</bean>
<property name="MenuBarPresent" value="true"/>
</screen>
