<?xml version="1.0" encoding="UTF-8"?>
<screen conversionType="Hash">
<property name="Version" value="4.4"/>
<property name="Type" value="Frame"/>
<connection>
<property name="UserCode_Connection_helpButton_helpButton_conn" value="Connection_helpButton_helpButton_conn"/>
<property name="ConnectionType" value="1"/>
<property name="ClassHeader" value="&#10; class helpButton_helpButton_conn implements java.awt.event.ActionListener, java.io.Serializable &#10;  {&#10;&#10;     //&lt;TOP_PART&gt;&#10;"/>
<property name="NeedsCompilation" value="false"/>
<property name="Targets" value="helpButton-TARGET"/>
<property name="Sources" value="helpButton-action-false"/>
<property name="ConnectionName" value="helpButton_helpButton_conn"/>
<property name="ConnectionClass" value="java.awt.event.ActionListener"/>
<property name="Connection_Version" value="1"/>
<property name="ListenerMethodName" value="actionPerformed"/>
</connection>
<connection>
<property name="UserCode_Connection_PlotButton_PlotButton_conn" value="Connection_PlotButton_PlotButton_conn"/>
<property name="ConnectionType" value="1"/>
<property name="ClassHeader" value="&#10; class PlotButton_PlotButton_conn implements java.awt.event.ActionListener, java.io.Serializable &#10;  {&#10;&#10;     //&lt;TOP_PART&gt;&#10;"/>
<property name="NeedsCompilation" value="false"/>
<property name="Targets" value="plotButton-TARGET"/>
<property name="Sources" value="plotButton-action-false"/>
<property name="ConnectionName" value="PlotButton_PlotButton_conn"/>
<property name="ConnectionClass" value="java.awt.event.ActionListener"/>
<property name="Connection_Version" value="1"/>
<property name="ListenerMethodName" value="actionPerformed"/>
</connection>
<connection>
<property name="ConnectionType" value="1"/>
<property name="ClassHeader" value="&#10; class JButton1_JButton1_conn implements java.awt.event.ActionListener, java.io.Serializable &#10;  {&#10;&#10;     //&lt;TOP_PART&gt;&#10;"/>
<property name="NeedsCompilation" value="false"/>
<property name="Targets" value="saveButton-TARGET"/>
<property name="Sources" value="saveButton-action-false"/>
<property name="ConnectionName" value="JButton1_JButton1_conn"/>
<property name="ConnectionClass" value="java.awt.event.ActionListener"/>
<property name="UserCode_Connection_JButton1_JButton1_conn" value="Connection_JButton1_JButton1_conn"/>
<property name="Connection_Version" value="1"/>
<property name="ListenerMethodName" value="actionPerformed"/>
</connection>
<connection>
<property name="ConnectionType" value="1"/>
<property name="ClassHeader" value="&#10; class tableButton_tableButton_conn implements java.awt.event.ActionListener, java.io.Serializable &#10;  {&#10;&#10;     //&lt;TOP_PART&gt;&#10;"/>
<property name="NeedsCompilation" value="false"/>
<property name="Targets" value="tableButton-TARGET"/>
<property name="UserCode_Connection_tableButton_tableButton_conn" value="Connection_tableButton_tableButton_conn"/>
<property name="Sources" value="tableButton-action-false"/>
<property name="ConnectionName" value="tableButton_tableButton_conn"/>
<property name="ConnectionClass" value="java.awt.event.ActionListener"/>
<property name="Connection_Version" value="1"/>
<property name="ListenerMethodName" value="actionPerformed"/>
</connection>
<connection>
<property name="ConnectionType" value="1"/>
<property name="ClassHeader" value="&#10; class JButton2_JButton2_conn implements java.awt.event.ActionListener, java.io.Serializable &#10;  {&#10;&#10;     //&lt;TOP_PART&gt;&#10;"/>
<property name="NeedsCompilation" value="false"/>
<property name="Targets" value="clearGraphButton-TARGET"/>
<property name="UserCode_Connection_JButton2_JButton2_conn" value="Connection_JButton2_JButton2_conn"/>
<property name="Sources" value="clearGraphButton-action-false"/>
<property name="ConnectionName" value="JButton2_JButton2_conn"/>
<property name="ConnectionClass" value="java.awt.event.ActionListener"/>
<property name="Connection_Version" value="1"/>
<property name="ListenerMethodName" value="actionPerformed"/>
</connection>
<connection>
<property name="ConnectionType" value="1"/>
<property name="UserCode_Connection_lineButton_graphPanel_conn" value="Connection_lineButton_graphPanel_conn"/>
<property name="ClassHeader" value="&#10; class lineButton_graphPanel_conn implements java.awt.event.ActionListener, java.io.Serializable &#10;  {&#10;&#10;     //&lt;TOP_PART&gt;&#10;"/>
<property name="NeedsCompilation" value="false"/>
<property name="Targets" value="graphTablePanel-TARGET"/>
<property name="Sources" value="lineButton-action-false,barButton-action-false,areaButton-action-false,scatterButton-action-false,xystepButton-action-false"/>
<property name="ConnectionName" value="lineButton_graphPanel_conn"/>
<property name="ConnectionClass" value="java.awt.event.ActionListener"/>
<property name="Connection_Version" value="1"/>
<property name="ListenerMethodName" value="actionPerformed"/>
</connection>
<connection>
<property name="ConnectionType" value="1"/>
<property name="ClassHeader" value="&#10; class closeButton_closeButton_conn implements java.awt.event.ActionListener, java.io.Serializable &#10;  {&#10;&#10;     //&lt;TOP_PART&gt;&#10;"/>
<property name="NeedsCompilation" value="false"/>
<property name="Targets" value="closeButton-TARGET"/>
<property name="Sources" value="closeButton-action-false"/>
<property name="ConnectionName" value="closeButton_closeButton_conn"/>
<property name="ConnectionClass" value="java.awt.event.ActionListener"/>
<property name="Connection_Version" value="1"/>
<property name="ListenerMethodName" value="actionPerformed"/>
<property name="UserCode_Connection_closeButton_closeButton_conn" value="Connection_closeButton_closeButton_conn"/>
</connection>
<connection>
<property name="ConnectionType" value="1"/>
<property name="ClassHeader" value="&#10; class DefaultRange_CustomRangePanel_conn implements java.awt.event.ItemListener, java.io.Serializable &#10;  {&#10;&#10;     //&lt;TOP_PART&gt;&#10;"/>
<property name="NeedsCompilation" value="false"/>
<property name="Targets" value="customRangePanel-TARGET"/>
<property name="UserCode_Connection_DefaultRange_CustomRangePanel_conn" value="Connection_DefaultRange_CustomRangePanel_conn"/>
<property name="Sources" value="customRange-item-false"/>
<property name="ConnectionName" value="DefaultRange_CustomRangePanel_conn"/>
<property name="ConnectionClass" value="java.awt.event.ItemListener"/>
<property name="Connection_Version" value="1"/>
<property name="ListenerMethodName" value="itemStateChanged"/>
</connection>
<property name="ScreenTitle" value="CollectedGraphViewer"/>
<property name="Screen Width" value="800"/>
<property name="SubVersion" value="4.4"/>
<property name="GenSource" value="false"/>
<property name="Screen Height" value="426"/>
<property name="HorizontalSplitPanePos" value="272.0"/>
<property name="FileVersion" value="134"/>
<property name="ToolBarPresent" value="true"/>
<property name="LookAndFeel" value="None"/>
<bean>
<property name="PopupMenu" value="none"/>
<property name="Layout Manager Constraints" value="5,5"/>
<property name="Layout Constraints" value="Center"/>
<property name="minimumSize" value="10,10"/>
<property name="Layout Manager" value="Border Layout"/>
<property name="InstanceName" value="Top"/>
<property name="PropertyOrder" value=",minimumSize,preferredSize,"/>
<property name="UserCode_Bean_components" value="Bean_components"/>
<property name="preferredSize" value="950,486"/>
<property name="Panel" value="container"/>
<property name="ClassName" value="javax.swing.JPanel"/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JPanel();"/>
<property name="Layout Manager Constraints" value="5,5"/>
<property name="Layout Constraints" value="Center"/>
<property name="minimumSize" value="347,546"/>
<property name="DefaultSize" value="796,564"/>
<property name="Layout Manager" value="Border Layout"/>
<property name="PaddingSize" value="441,10"/>
<property name="InstanceName" value="mainPanel"/>
<property name="PropertyOrder" value=",preferredSize,minimumSize,"/>
<property name="Bean Permissions" value="252"/>
<property name="preferredSize" value="347,546"/>
<property name="UserCode_Bean_mainPanel" value="Bean_mainPanel"/>
<property name="Panel" value="Top"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JPanel();"/>
<property name="Layout Manager Constraints" value="5,5"/>
<property name="Layout Constraints" value="Center"/>
<property name="DefaultSize" value="421,319"/>
<property name="Layout Manager" value="Card Layout"/>
<property name="PaddingSize" value="15,21"/>
<property name="InstanceName" value="graphTablePanel"/>
<property name="Bean Permissions" value="252"/>
<property name="UserCode_Bean_graphTablePanel" value="Bean_graphTablePanel"/>
<property name="Panel" value="mainPanel"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JPanel();"/>
<property name="Layout Manager Constraints" value="5,5"/>
<property name="maximumSize" value="32767,32767"/>
<property name="Layout Constraints" value="graphView:0"/>
<property name="minimumSize" value="230,4"/>
<property name="DefaultSize" value="320,280"/>
<property name="border" value="BevelBorder,0,null,null,null,null"/>
<property name="Layout Manager" value="Border Layout"/>
<property name="InstanceName" value="graphPanel"/>
<property name="PropertyOrder" value=",preferredSize,minimumSize,border,maximumSize,"/>
<property name="Bean Permissions" value="255"/>
<property name="preferredSize" value="230,4"/>
<property name="UserCode_Bean_graphPanel" value="Bean_graphPanel"/>
<property name="Panel" value="graphTablePanel"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JPanel();"/>
<property name="Layout Manager Constraints" value=""/>
<property name="Layout Constraints" value="TableView:1"/>
<property name="DefaultSize" value="388,112"/>
<property name="Layout Manager" value="GridBag Layout"/>
<property name="UserCode_Bean_tablePanel" value="Bean_tablePanel"/>
<property name="InstanceName" value="tablePanel"/>
<property name="Bean Permissions" value="255"/>
<property name="Panel" value="graphTablePanel"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JPanel();"/>
<property name="Layout Manager Constraints" value="5,5"/>
<property name="Layout Constraints" value="0,0,1,1,2,10,0,0,0.1,0.0,5,5,5,5"/>
<property name="DefaultSize" value="370,38"/>
<property name="Layout Manager" value="Border Layout"/>
<property name="InstanceName" value="labelPanel"/>
<property name="UserCode_Bean_labelPanel" value="Bean_labelPanel"/>
<property name="Bean Permissions" value="255"/>
<property name="Panel" value="tablePanel"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JLabel();"/>
<property name="font" value="Bitstream Charter+1+16"/>
<property name="Layout Constraints" value="Center"/>
<property name="DefaultSize" value="352,20"/>
<property name="UserCode_Bean_dataName" value="Bean_dataName"/>
<property name="PaddingSize" value="332,0"/>
<property name="InstanceName" value="dataName"/>
<property name="PropertyOrder" value=",foreground,horizontalTextPosition,horizontalAlignment,font,"/>
<property name="Bean Permissions" value="247"/>
<property name="foreground" value="-16777216"/>
<property name="Panel" value="labelPanel"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="horizontalTextPosition" value="0"/>
<property name="horizontalAlignment" value="0"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JScrollPane();"/>
<property name="Layout Manager Constraints" value=""/>
<property name="Layout Constraints" value="0,1,1,1,1,10,0,0,0.1,0.1,5,5,5,5"/>
<property name="DefaultSize" value="30,30"/>
<property name="Layout Manager" value="Viewport Layout"/>
<property name="InstanceName" value="tablePane"/>
<property name="UserCode_Bean_tablePane" value="Bean_tablePane"/>
<property name="Bean Permissions" value="255"/>
<property name="Panel" value="tablePanel"/>
<property name="ClassName" value="javax.swing.JScrollPane"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Bean Permissions" value="247"/>
<property name="InstanceName" value="tableView"/>
<property name="DefaultSize" value="20,20"/>
<property name="Modifiers" value=""/>
<property name="UserCode_Bean_tableView" value="Bean_tableView"/>
<property name="ClassName" value="javax.swing.JTable"/>
<property name="Panel" value="tablePane"/>
<property name="Initializer" value="new javax.swing.JTable();"/>
</bean>
<bean>
<property name="UserCode_Bean_rangeSettingsPanel" value="Bean_rangeSettingsPanel"/>
<property name="Initializer" value="new javax.swing.JPanel();"/>
<property name="Layout Manager Constraints" value=""/>
<property name="Layout Constraints" value="East"/>
<property name="minimumSize" value="245,90"/>
<property name="DefaultSize" value="253,431"/>
<property name="border" value="TitledBorder,[EtchedBorder,0,null,null],Date Range Settings,0,2,dialog.bold+0+12,-13434829"/>
<property name="Layout Manager" value="GridBag Layout"/>
<property name="PaddingSize" value="0,333"/>
<property name="InstanceName" value="rangeSettingsPanel"/>
<property name="PropertyOrder" value=",border,preferredSize,minimumSize,"/>
<property name="Bean Permissions" value="252"/>
<property name="preferredSize" value="245,90"/>
<property name="Panel" value="mainPanel"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="UserCode_Bean_customRange" value="Bean_customRange"/>
<property name="Initializer" value="new javax.swing.JRadioButton();"/>
<property name="font" value="SansSerif+0+12"/>
<property name="Layout Constraints" value="0,3,1,1,0,17,0,0,0.0,0.0,5,5,5,5"/>
<property name="DefaultSize" value="102,34"/>
<property name="InstanceName" value="customRange"/>
<property name="PropertyOrder" value=",font,horizontalTextPosition,horizontalAlignment,verticalAlignment,verticalTextPosition,text,"/>
<property name="Bean Permissions" value="244"/>
<property name="verticalAlignment" value="0"/>
<property name="verticalTextPosition" value="0"/>
<property name="Panel" value="rangeSettingsPanel"/>
<property name="ClassName" value="javax.swing.JRadioButton"/>
<property name="horizontalTextPosition" value="4"/>
<property name="text" value="Custom     "/>
<property name="horizontalAlignment" value="2"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="UserCode_Bean_defaultRange" value="Bean_defaultRange"/>
<property name="Initializer" value="new javax.swing.JRadioButton();"/>
<property name="font" value="SansSerif+0+12"/>
<property name="Layout Constraints" value="0,0,1,1,0,17,0,0,0.0,0.0,5,5,5,5"/>
<property name="DefaultSize" value="103,34"/>
<property name="InstanceName" value="defaultRange"/>
<property name="PropertyOrder" value=",font,horizontalTextPosition,horizontalAlignment,verticalAlignment,verticalTextPosition,text,"/>
<property name="Bean Permissions" value="244"/>
<property name="verticalAlignment" value="0"/>
<property name="verticalTextPosition" value="0"/>
<property name="Panel" value="rangeSettingsPanel"/>
<property name="ClassName" value="javax.swing.JRadioButton"/>
<property name="horizontalTextPosition" value="4"/>
<property name="text" value="Last 24hrs "/>
<property name="horizontalAlignment" value="2"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JPanel();"/>
<property name="Layout Manager Constraints" value="5,5,2"/>
<property name="Layout Constraints" value="0,5,1,1,0,13,0,0,0.0,0.0,20,0,10,0"/>
<property name="DefaultSize" value="123,55"/>
<property name="UserCode_Bean_plotButtonPanel" value="Bean_plotButtonPanel"/>
<property name="Layout Manager" value="Flow Layout"/>
<property name="InstanceName" value="plotButtonPanel"/>
<property name="Bean Permissions" value="252"/>
<property name="Panel" value="rangeSettingsPanel"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JButton();"/>
<property name="font" value="SansSerif+0+12"/>
<property name="Layout Constraints" value="0"/>
<property name="UserCode_Bean_plotButton" value="Bean_plotButton"/>
<property name="DefaultSize" value="105,37"/>
<property name="PaddingSize" value="7,3"/>
<property name="InstanceName" value="plotButton"/>
<property name="PropertyOrder" value=",font,horizontalTextPosition,text,"/>
<property name="Bean Permissions" value="244"/>
<property name="Panel" value="plotButtonPanel"/>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="horizontalTextPosition" value="4"/>
<property name="text" value="Plot Chart"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JRadioButton();"/>
<property name="font" value="SansSerif+0+12"/>
<property name="Layout Constraints" value="0,1,1,1,0,17,0,0,0.0,0.0,5,5,5,5"/>
<property name="DefaultSize" value="71,34"/>
<property name="InstanceName" value="todayRange"/>
<property name="PropertyOrder" value=",font,horizontalTextPosition,horizontalAlignment,verticalAlignment,verticalTextPosition,text,"/>
<property name="Bean Permissions" value="244"/>
<property name="verticalAlignment" value="0"/>
<property name="UserCode_Bean_todayRange" value="Bean_todayRange"/>
<property name="verticalTextPosition" value="0"/>
<property name="Panel" value="rangeSettingsPanel"/>
<property name="ClassName" value="javax.swing.JRadioButton"/>
<property name="horizontalTextPosition" value="4"/>
<property name="text" value="Today"/>
<property name="horizontalAlignment" value="2"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JRadioButton();"/>
<property name="UserCode_Bean_day7Range" value="Bean_day7Range"/>
<property name="font" value="SansSerif+0+12"/>
<property name="Layout Constraints" value="0,2,1,1,0,17,0,0,0.0,0.0,5,5,5,5"/>
<property name="DefaultSize" value="122,34"/>
<property name="InstanceName" value="day7Range"/>
<property name="PropertyOrder" value=",font,horizontalTextPosition,horizontalAlignment,verticalAlignment,verticalTextPosition,text,"/>
<property name="Bean Permissions" value="244"/>
<property name="verticalAlignment" value="0"/>
<property name="verticalTextPosition" value="0"/>
<property name="Panel" value="rangeSettingsPanel"/>
<property name="ClassName" value="javax.swing.JRadioButton"/>
<property name="horizontalTextPosition" value="4"/>
<property name="text" value="Last one week"/>
<property name="horizontalAlignment" value="2"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JPanel();"/>
<property name="Layout Manager Constraints" value=""/>
<property name="Layout Constraints" value="0,4,1,1,0,13,0,0,0.0,0.0,0,5,5,0"/>
<property name="DefaultSize" value="228,128"/>
<property name="Layout Manager" value="GridBag Layout"/>
<property name="InstanceName" value="customRangePanel"/>
<property name="Bean Permissions" value="252"/>
<property name="UserCode_Bean_customRangePanel" value="Bean_customRangePanel"/>
<property name="Panel" value="rangeSettingsPanel"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new com.adventnet.beans.probeans.ProDateTimeComponent();"/>
<property name="maximumSize" value="210,22"/>
<property name="Layout Constraints" value="0,1,1,1,0,17,0,0,0.0,0.0,1,1,1,1"/>
<property name="minimumSize" value="210,22"/>
<property name="DefaultSize" value="218,30"/>
<property name="UserCode_Bean_fromTimeComponent" value="Bean_fromTimeComponent"/>
<property name="InstanceName" value="fromTimeComponent"/>
<property name="PropertyOrder" value=",maximumSize,minimumSize,preferredSize,"/>
<property name="Bean Permissions" value="244"/>
<property name="preferredSize" value="210,22"/>
<property name="Panel" value="customRangePanel"/>
<property name="ClassName" value="com.adventnet.beans.probeans.ProDateTimeComponent"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JLabel();"/>
<property name="font" value="SansSerif+0+12"/>
<property name="Layout Constraints" value="0,0,1,1,0,17,0,0,0.0,0.0,1,1,1,1"/>
<property name="DefaultSize" value="40,26"/>
<property name="UserCode_Bean_fromLabel" value="Bean_fromLabel"/>
<property name="InstanceName" value="fromLabel"/>
<property name="PropertyOrder" value=",horizontalAlignment,font,foreground,horizontalTextPosition,text,"/>
<property name="Bean Permissions" value="244"/>
<property name="foreground" value="-16777216"/>
<property name="Panel" value="customRangePanel"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="horizontalTextPosition" value="4"/>
<property name="text" value="From"/>
<property name="horizontalAlignment" value="2"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new com.adventnet.beans.probeans.ProDateTimeComponent();"/>
<property name="UserCode_Bean_toTimeComponent" value="Bean_toTimeComponent"/>
<property name="maximumSize" value="210,22"/>
<property name="Layout Constraints" value="0,3,1,1,0,17,0,0,0.0,0.0,1,1,1,1"/>
<property name="minimumSize" value="210,22"/>
<property name="DefaultSize" value="218,30"/>
<property name="InstanceName" value="toTimeComponent"/>
<property name="PropertyOrder" value=",maximumSize,minimumSize,preferredSize,"/>
<property name="Bean Permissions" value="244"/>
<property name="preferredSize" value="210,22"/>
<property name="Panel" value="customRangePanel"/>
<property name="ClassName" value="com.adventnet.beans.probeans.ProDateTimeComponent"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JLabel();"/>
<property name="font" value="SansSerif+0+12"/>
<property name="Layout Constraints" value="0,2,1,1,0,17,0,0,0.0,0.0,1,1,1,1"/>
<property name="UserCode_Bean_toLabel" value="Bean_toLabel"/>
<property name="DefaultSize" value="24,26"/>
<property name="InstanceName" value="toLabel"/>
<property name="PropertyOrder" value=",horizontalAlignment,font,foreground,horizontalTextPosition,text,"/>
<property name="Bean Permissions" value="244"/>
<property name="foreground" value="-16777216"/>
<property name="Panel" value="customRangePanel"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="horizontalTextPosition" value="4"/>
<property name="text" value="To"/>
<property name="horizontalAlignment" value="2"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JPanel();"/>
<property name="Layout Manager Constraints" value="5,5,7,0"/>
<property name="UserCode_Bean_graphTypePanel" value="Bean_graphTypePanel"/>
<property name="Layout Constraints" value="West"/>
<property name="minimumSize" value="62,440"/>
<property name="DefaultSize" value="81,458"/>
<property name="border" value="BevelBorder,1,null,null,null,null"/>
<property name="Layout Manager" value="Grid Layout"/>
<property name="PaddingSize" value="11,10"/>
<property name="InstanceName" value="graphTypePanel"/>
<property name="PropertyOrder" value=",border,minimumSize,preferredSize,"/>
<property name="Bean Permissions" value="252"/>
<property name="preferredSize" value="62,440"/>
<property name="Panel" value="mainPanel"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Modifiers" value=""/>
<property name="preferredSize" value="50,50"/>
<property name="minimumSize" value="50,50"/>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="PropertyOrder" value=",font,horizontalTextPosition,toolTipText,text,preferredSize,maximumSize,minimumSize,actionCommand,icon,"/>
<property name="DefaultSize" value="58,58"/>
<property name="UserCode_Bean_lineButton" value="Bean_lineButton"/>
<property name="actionCommand" value="lineButton"/>
<property name="text" value=""/>
<property name="Initializer" value="new javax.swing.JButton();"/>
<property name="font" value="SansSerif+0+12"/>
<property name="InstanceName" value="lineButton"/>
<property name="maximumSize" value="50,50"/>
<property name="toolTipText" value="Line Chart"/>
<property name="Panel" value="graphTypePanel"/>
<property name="horizontalTextPosition" value="4"/>
<property name="Layout Constraints" value="0"/>
<property name="icon" value="./images/graphs/line.png"/>
<property name="Bean Permissions" value="244"/>
</bean>
<bean>
<property name="UserCode_Bean_barButton" value="Bean_barButton"/>
<property name="Modifiers" value=""/>
<property name="preferredSize" value="50,50"/>
<property name="minimumSize" value="50,50"/>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="PropertyOrder" value=",font,horizontalTextPosition,actionCommand,toolTipText,icon,maximumSize,minimumSize,preferredSize,"/>
<property name="DefaultSize" value="58,58"/>
<property name="actionCommand" value="barButton"/>
<property name="Initializer" value="new javax.swing.JButton();"/>
<property name="font" value="SansSerif+0+12"/>
<property name="InstanceName" value="barButton"/>
<property name="maximumSize" value="50,50"/>
<property name="toolTipText" value="Bar Chart"/>
<property name="Panel" value="graphTypePanel"/>
<property name="horizontalTextPosition" value="4"/>
<property name="Layout Constraints" value="1"/>
<property name="icon" value="./images/graphs/bargraph_48.png"/>
<property name="Bean Permissions" value="244"/>
</bean>
<bean>
<property name="Modifiers" value=""/>
<property name="preferredSize" value="50,50"/>
<property name="minimumSize" value="50,50"/>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="PropertyOrder" value=",font,horizontalTextPosition,actionCommand,toolTipText,icon,maximumSize,minimumSize,preferredSize,"/>
<property name="DefaultSize" value="58,58"/>
<property name="actionCommand" value="areaButton"/>
<property name="UserCode_Bean_areaButton" value="Bean_areaButton"/>
<property name="Initializer" value="new javax.swing.JButton();"/>
<property name="font" value="SansSerif+0+12"/>
<property name="InstanceName" value="areaButton"/>
<property name="maximumSize" value="50,50"/>
<property name="toolTipText" value="Area Chart"/>
<property name="Panel" value="graphTypePanel"/>
<property name="horizontalTextPosition" value="4"/>
<property name="Layout Constraints" value="2"/>
<property name="icon" value="./images/graphs/area_48.png"/>
<property name="Bean Permissions" value="247"/>
</bean>
<bean>
<property name="UserCode_Bean_scatterButton" value="Bean_scatterButton"/>
<property name="Modifiers" value=""/>
<property name="preferredSize" value="50,50"/>
<property name="minimumSize" value="50,50"/>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="PropertyOrder" value=",font,horizontalTextPosition,actionCommand,icon,toolTipText,maximumSize,minimumSize,preferredSize,"/>
<property name="DefaultSize" value="58,58"/>
<property name="actionCommand" value="scatterButton"/>
<property name="Initializer" value="new javax.swing.JButton();"/>
<property name="font" value="SansSerif+0+12"/>
<property name="InstanceName" value="scatterButton"/>
<property name="maximumSize" value="50,50"/>
<property name="toolTipText" value="Scatter Chart"/>
<property name="Panel" value="graphTypePanel"/>
<property name="horizontalTextPosition" value="4"/>
<property name="Layout Constraints" value="3"/>
<property name="icon" value="./images/graphs/scatter_48.png"/>
<property name="Bean Permissions" value="247"/>
</bean>
<bean>
<property name="Modifiers" value=""/>
<property name="preferredSize" value="50,50"/>
<property name="minimumSize" value="50,50"/>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="PropertyOrder" value=",font,horizontalTextPosition,actionCommand,maximumSize,minimumSize,preferredSize,toolTipText,icon,"/>
<property name="DefaultSize" value="58,58"/>
<property name="UserCode_Bean_xystepButton" value="Bean_xystepButton"/>
<property name="actionCommand" value="xystepButton"/>
<property name="Initializer" value="new javax.swing.JButton();"/>
<property name="font" value="SansSerif+0+12"/>
<property name="InstanceName" value="xystepButton"/>
<property name="maximumSize" value="50,50"/>
<property name="toolTipText" value="XYStep Chart"/>
<property name="Panel" value="graphTypePanel"/>
<property name="horizontalTextPosition" value="4"/>
<property name="Layout Constraints" value="4"/>
<property name="icon" value="./images/graphs/xystep_48.png"/>
<property name="Bean Permissions" value="247"/>
</bean>
<bean>
<property name="UserCode_Bean_tableButton" value="Bean_tableButton"/>
<property name="Initializer" value="new javax.swing.JButton();"/>
<property name="font" value="SansSerif+0+12"/>
<property name="Layout Constraints" value="5"/>
<property name="toolTipText" value="Table"/>
<property name="DefaultSize" value="90,66"/>
<property name="InstanceName" value="tableButton"/>
<property name="PropertyOrder" value=",font,horizontalTextPosition,actionCommand,toolTipText,icon,"/>
<property name="Bean Permissions" value="247"/>
<property name="actionCommand" value="tableButton"/>
<property name="icon" value="./images/graphs/table.png"/>
<property name="Panel" value="graphTypePanel"/>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="horizontalTextPosition" value="4"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JPanel();"/>
<property name="Layout Manager Constraints" value="5,5"/>
<property name="Layout Constraints" value="North"/>
<property name="DefaultSize" value="270,83"/>
<property name="border" value="EtchedBorder,1,null,null"/>
<property name="UserCode_Bean_toolBarPanel" value="Bean_toolBarPanel"/>
<property name="Layout Manager" value="Border Layout"/>
<property name="PaddingSize" value="10,10"/>
<property name="InstanceName" value="toolBarPanel"/>
<property name="PropertyOrder" value=",border,"/>
<property name="Bean Permissions" value="252"/>
<property name="Panel" value="mainPanel"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JPanel();"/>
<property name="Layout Manager Constraints" value="5,5,0"/>
<property name="maximumSize" value="101,53"/>
<property name="Layout Constraints" value="Center"/>
<property name="DefaultSize" value="109,61"/>
<property name="UserCode_Bean_toolBar1Panel" value="Bean_toolBar1Panel"/>
<property name="Layout Manager" value="Flow Layout"/>
<property name="InstanceName" value="toolBar1Panel"/>
<property name="PropertyOrder" value=",maximumSize,"/>
<property name="Bean Permissions" value="252"/>
<property name="Panel" value="toolBarPanel"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JButton();"/>
<property name="maximumSize" value="35,35"/>
<property name="font" value="SansSerif+0+12"/>
<property name="Layout Constraints" value="0"/>
<property name="toolTipText" value="Save"/>
<property name="minimumSize" value="35,35"/>
<property name="DefaultSize" value="43,43"/>
<property name="UserCode_Bean_saveButton" value="Bean_saveButton"/>
<property name="InstanceName" value="saveButton"/>
<property name="PropertyOrder" value=",font,horizontalTextPosition,maximumSize,minimumSize,preferredSize,toolTipText,icon,"/>
<property name="Bean Permissions" value="244"/>
<property name="preferredSize" value="35,35"/>
<property name="icon" value="./images/graphs/save.png"/>
<property name="Panel" value="toolBar1Panel"/>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="horizontalTextPosition" value="4"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="UserCode_Bean_clearGraphButton" value="Bean_clearGraphButton"/>
<property name="Modifiers" value=""/>
<property name="preferredSize" value="35,35"/>
<property name="minimumSize" value="35,35"/>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="PropertyOrder" value=",font,horizontalTextPosition,maximumSize,minimumSize,preferredSize,text,toolTipText,icon,"/>
<property name="DefaultSize" value="43,43"/>
<property name="text" value=""/>
<property name="Initializer" value="new javax.swing.JButton();"/>
<property name="font" value="SansSerif+0+12"/>
<property name="InstanceName" value="clearGraphButton"/>
<property name="maximumSize" value="35,35"/>
<property name="toolTipText" value="Clear Graph"/>
<property name="Panel" value="toolBar1Panel"/>
<property name="horizontalTextPosition" value="4"/>
<property name="Layout Constraints" value="1"/>
<property name="icon" value="./images/graphs/clear.png"/>
<property name="Bean Permissions" value="244"/>
</bean>
<bean>
<property name="PopupMenu" value="none"/>
<property name="Initializer" value="new javax.swing.JPanel();"/>
<property name="Layout Manager Constraints" value="5,5,1"/>
<property name="maximumSize" value="101,53"/>
<property name="Layout Constraints" value="East"/>
<property name="DefaultSize" value="134,61"/>
<property name="Layout Manager" value="Flow Layout"/>
<property name="PaddingSize" value="25,0"/>
<property name="InstanceName" value="toolBar2Panel"/>
<property name="PropertyOrder" value=",maximumSize,"/>
<property name="Bean Permissions" value="252"/>
<property name="UserCode_Bean_toolBar2Panel" value="Bean_toolBar2Panel"/>
<property name="Panel" value="toolBarPanel"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Modifiers" value=""/>
<property name="preferredSize" value="35,35"/>
<property name="minimumSize" value="35,35"/>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="PropertyOrder" value=",font,horizontalTextPosition,maximumSize,minimumSize,preferredSize,icon,focusPainted,toolTipText,"/>
<property name="focusPainted" value="true"/>
<property name="DefaultSize" value="43,43"/>
<property name="Initializer" value="new javax.swing.JButton();"/>
<property name="font" value="SansSerif+0+12"/>
<property name="InstanceName" value="helpButton"/>
<property name="UserCode_Bean_helpButton" value="Bean_helpButton"/>
<property name="maximumSize" value="35,35"/>
<property name="toolTipText" value="Help"/>
<property name="Panel" value="toolBar2Panel"/>
<property name="horizontalTextPosition" value="4"/>
<property name="Layout Constraints" value="0"/>
<property name="icon" value="./images/graphs/help.png"/>
<property name="Bean Permissions" value="244"/>
</bean>
<bean>
<property name="Modifiers" value=""/>
<property name="preferredSize" value="35,35"/>
<property name="minimumSize" value="35,35"/>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="UserCode_Bean_closeButton" value="Bean_closeButton"/>
<property name="PropertyOrder" value=",font,horizontalTextPosition,maximumSize,minimumSize,preferredSize,icon,text,toolTipText,"/>
<property name="DefaultSize" value="43,43"/>
<property name="text" value=""/>
<property name="Initializer" value="new javax.swing.JButton();"/>
<property name="font" value="SansSerif+0+12"/>
<property name="InstanceName" value="closeButton"/>
<property name="maximumSize" value="35,35"/>
<property name="toolTipText" value="Exit"/>
<property name="Panel" value="toolBar2Panel"/>
<property name="horizontalTextPosition" value="4"/>
<property name="Layout Constraints" value="1"/>
<property name="icon" value="./images/graphs/exit.png"/>
<property name="Bean Permissions" value="244"/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.ButtonGroup();"/>
<property name="Layout Constraints" value="BOTTOM"/>
<property name="UserCode_Bean_rangeButtonGroup" value="Bean_rangeButtonGroup"/>
<property name="DefaultSize" value="138,26"/>
<property name="InstanceName" value="rangeButtonGroup"/>
<property name="Bean Permissions" value="244"/>
<property name="Panel" value="Bottom"/>
<property name="ClassName" value="javax.swing.ButtonGroup"/>
<property name="Modifiers" value=""/>
</bean>
<property name="MenuBarPresent" value="true"/>
</screen>

