<?xml version="1.0" encoding="UTF-8"?>
<screen conversionType="Hash">
<property name="Version" value="4.4"/>
<property name="Type" value="Frame"/>
<connection>
<property name="UserCode_Connection_helpButton_helpButton_conn" value="Connection_helpButton_helpButton_conn"/>
<property name="ConnectionType" value="1"/>
<property name="ClassHeader" value="&#10; class helpButton_helpButton_conn implements java.awt.event.ActionListener, java.io.Serializable &#10;  {&#10;&#10;     //&lt;TOP_PART&gt;&#10;"/>
<property name="NeedsCompilation" value="false"/>
<property name="Targets" value="helpButton-TARGET"/>
<property name="Sources" value="helpButton-action-false"/>
<property name="ConnectionName" value="helpButton_helpButton_conn"/>
<property name="ConnectionClass" value="java.awt.event.ActionListener"/>
<property name="Connection_Version" value="1"/>
<property name="ListenerMethodName" value="actionPerformed"/>
</connection>
<connection>
<property name="ConnectionType" value="1"/>
<property name="ClassHeader" value="&#10; class pollInterval_graphPanel_conn implements java.awt.event.ActionListener, java.io.Serializable &#10;  {&#10;&#10;     //&lt;TOP_PART&gt;&#10;"/>
<property name="NeedsCompilation" value="false"/>
<property name="Targets" value="graphPanel-TARGET"/>
<property name="Sources" value="pollInterval-action-false"/>
<property name="ConnectionName" value="pollInterval_graphPanel_conn"/>
<property name="ConnectionClass" value="java.awt.event.ActionListener"/>
<property name="Connection_Version" value="1"/>
<property name="ListenerMethodName" value="actionPerformed"/>
<property name="UserCode_Connection_pollInterval_graphPanel_conn" value="Connection_pollInterval_graphPanel_conn"/>
</connection>
<connection>
<property name="ConnectionType" value="1"/>
<property name="ClassHeader" value="&#10; class saveButton_saveButton_conn implements java.awt.event.ActionListener, java.io.Serializable &#10;  {&#10;&#10;     //&lt;TOP_PART&gt;&#10;"/>
<property name="NeedsCompilation" value="false"/>
<property name="Targets" value="saveButton-TARGET"/>
<property name="UserCode_Connection_saveButton_saveButton_conn" value="Connection_saveButton_saveButton_conn"/>
<property name="Sources" value="saveButton-action-false"/>
<property name="ConnectionName" value="saveButton_saveButton_conn"/>
<property name="ConnectionClass" value="java.awt.event.ActionListener"/>
<property name="Connection_Version" value="1"/>
<property name="ListenerMethodName" value="actionPerformed"/>
</connection>
<connection>
<property name="ConnectionType" value="1"/>
<property name="ClassHeader" value="&#10; class tableButton_tableButton_conn implements java.awt.event.ActionListener, java.io.Serializable &#10;  {&#10;&#10;     //&lt;TOP_PART&gt;&#10;"/>
<property name="NeedsCompilation" value="false"/>
<property name="Targets" value="tableButton-TARGET"/>
<property name="UserCode_Connection_tableButton_tableButton_conn" value="Connection_tableButton_tableButton_conn"/>
<property name="Sources" value="tableButton-action-false"/>
<property name="ConnectionName" value="tableButton_tableButton_conn"/>
<property name="ConnectionClass" value="java.awt.event.ActionListener"/>
<property name="Connection_Version" value="1"/>
<property name="ListenerMethodName" value="actionPerformed"/>
</connection>
<connection>
<property name="ConnectionType" value="1"/>
<property name="ClassHeader" value="&#10; class pollerButton_pollerButton_conn implements java.awt.event.ActionListener, java.io.Serializable &#10;  {&#10;&#10;     //&lt;TOP_PART&gt;&#10;"/>
<property name="NeedsCompilation" value="false"/>
<property name="Targets" value="pollerButton-TARGET"/>
<property name="Sources" value="pollerButton-action-false"/>
<property name="ConnectionName" value="pollerButton_pollerButton_conn"/>
<property name="UserCode_Connection_pollerButton_pollerButton_conn" value="Connection_pollerButton_pollerButton_conn"/>
<property name="ConnectionClass" value="java.awt.event.ActionListener"/>
<property name="Connection_Version" value="1"/>
<property name="ListenerMethodName" value="actionPerformed"/>
</connection>
<connection>
<property name="ConnectionType" value="1"/>
<property name="UserCode_Connection_lineButton_graphPanel_conn" value="Connection_lineButton_graphPanel_conn"/>
<property name="ClassHeader" value="&#10; class lineButton_graphPanel_conn implements java.awt.event.ActionListener, java.io.Serializable &#10;  {&#10;&#10;     //&lt;TOP_PART&gt;&#10;"/>
<property name="NeedsCompilation" value="false"/>
<property name="Targets" value="graphPanel-TARGET"/>
<property name="Sources" value="lineButton-action-false,barButton-action-false,areaButton-action-false,scatterButton-action-false,xystepButton-action-false"/>
<property name="ConnectionName" value="lineButton_graphPanel_conn"/>
<property name="ConnectionClass" value="java.awt.event.ActionListener"/>
<property name="Connection_Version" value="1"/>
<property name="ListenerMethodName" value="actionPerformed"/>
</connection>
<connection>
<property name="ConnectionType" value="1"/>
<property name="ClassHeader" value="&#10; class closeButton_closeButton_conn implements java.awt.event.ActionListener, java.io.Serializable &#10;  {&#10;&#10;     //&lt;TOP_PART&gt;&#10;"/>
<property name="NeedsCompilation" value="false"/>
<property name="Targets" value="closeButton-TARGET"/>
<property name="Sources" value="closeButton-action-false"/>
<property name="ConnectionName" value="closeButton_closeButton_conn"/>
<property name="ConnectionClass" value="java.awt.event.ActionListener"/>
<property name="Connection_Version" value="1"/>
<property name="ListenerMethodName" value="actionPerformed"/>
<property name="UserCode_Connection_closeButton_closeButton_conn" value="Connection_closeButton_closeButton_conn"/>
</connection>
<connection>
<property name="ConnectionType" value="1"/>
<property name="ClassHeader" value="&#10; class clearGraphButton_clearGraphButton_conn implements java.awt.event.ActionListener, java.io.Serializable &#10;  {&#10;&#10;     //&lt;TOP_PART&gt;&#10;"/>
<property name="NeedsCompilation" value="false"/>
<property name="Targets" value="clearGraphButton-TARGET"/>
<property name="Sources" value="clearGraphButton-action-false"/>
<property name="ConnectionName" value="clearGraphButton_clearGraphButton_conn"/>
<property name="ConnectionClass" value="java.awt.event.ActionListener"/>
<property name="Connection_Version" value="1"/>
<property name="ListenerMethodName" value="actionPerformed"/>
<property name="UserCode_Connection_clearGraphButton_clearGraphButton_conn" value="Connection_clearGraphButton_clearGraphButton_conn"/>
</connection>
<property name="ScreenTitle" value="CurrentGraphViewer"/>
<property name="Screen Width" value="800"/>
<property name="SubVersion" value="4.4"/>
<property name="GenSource" value="false"/>
<property name="Screen Height" value="425"/>
<property name="HorizontalSplitPanePos" value="209.0"/>
<property name="FileVersion" value="50"/>
<property name="ToolBarPresent" value="true"/>
<property name="LookAndFeel" value="None"/>
<bean>
<property name="InstanceName" value="Top"/>
<property name="PopupMenu" value="none"/>
<property name="UserCode_Bean_components" value="Bean_components"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Layout Manager" value="Border Layout"/>
<property name="Layout Constraints" value="Center"/>
<property name="Panel" value="container"/>
<property name="Layout Manager Constraints" value="5,5"/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JPanel();"/>
<property name="Layout Manager Constraints" value="5,5"/>
<property name="Layout Constraints" value="Center"/>
<property name="DefaultSize" value="782,564"/>
<property name="Layout Manager" value="Border Layout"/>
<property name="UserCode_Bean_JPanel1" value="Bean_JPanel1"/>
<property name="PaddingSize" value="10,10"/>
<property name="InstanceName" value="JPanel1"/>
<property name="Bean Permissions" value="252"/>
<property name="Panel" value="Top"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JPanel();"/>
<property name="Layout Manager Constraints" value="5,5"/>
<property name="Layout Constraints" value="North"/>
<property name="DefaultSize" value="667,83"/>
<property name="border" value="EtchedBorder,1,null,null"/>
<property name="UserCode_Bean_toolBarPanel" value="Bean_toolBarPanel"/>
<property name="Layout Manager" value="Border Layout"/>
<property name="PaddingSize" value="10,10"/>
<property name="InstanceName" value="toolBarPanel"/>
<property name="PropertyOrder" value=",border,"/>
<property name="Bean Permissions" value="255"/>
<property name="Panel" value="JPanel1"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JPanel();"/>
<property name="Layout Manager Constraints" value="5,5,0"/>
<property name="Layout Constraints" value="Center"/>
<property name="DefaultSize" value="506,61"/>
<property name="UserCode_Bean_toolBar1Panel" value="Bean_toolBar1Panel"/>
<property name="Layout Manager" value="Flow Layout"/>
<property name="PaddingSize" value="127,0"/>
<property name="InstanceName" value="toolBar1Panel"/>
<property name="Bean Permissions" value="255"/>
<property name="Panel" value="toolBarPanel"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JButton();"/>
<property name="maximumSize" value="35,35"/>
<property name="font" value="SansSerif+0+12"/>
<property name="Layout Constraints" value="0"/>
<property name="toolTipText" value="Save"/>
<property name="minimumSize" value="35,35"/>
<property name="DefaultSize" value="43,43"/>
<property name="UserCode_Bean_saveButton" value="Bean_saveButton"/>
<property name="InstanceName" value="saveButton"/>
<property name="PropertyOrder" value=",font,horizontalTextPosition,maximumSize,minimumSize,preferredSize,toolTipText,icon,"/>
<property name="Bean Permissions" value="247"/>
<property name="preferredSize" value="35,35"/>
<property name="icon" value="./images/graphs/save.png"/>
<property name="Panel" value="toolBar1Panel"/>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="horizontalTextPosition" value="4"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="UserCode_Bean_clearGraphButton" value="Bean_clearGraphButton"/>
<property name="Modifiers" value=""/>
<property name="preferredSize" value="35,35"/>
<property name="minimumSize" value="35,35"/>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="PropertyOrder" value=",font,horizontalTextPosition,maximumSize,minimumSize,preferredSize,text,toolTipText,icon,"/>
<property name="DefaultSize" value="43,43"/>
<property name="text" value=""/>
<property name="Initializer" value="new javax.swing.JButton();"/>
<property name="font" value="SansSerif+0+12"/>
<property name="InstanceName" value="clearGraphButton"/>
<property name="maximumSize" value="35,35"/>
<property name="toolTipText" value="Clear Graph"/>
<property name="Panel" value="toolBar1Panel"/>
<property name="horizontalTextPosition" value="4"/>
<property name="Layout Constraints" value="1"/>
<property name="icon" value="./images/graphs/clear.png"/>
<property name="Bean Permissions" value="247"/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JButton();"/>
<property name="maximumSize" value="35,35"/>
<property name="font" value="SansSerif+0+12"/>
<property name="Layout Constraints" value="2"/>
<property name="toolTipText" value="Stop Poller"/>
<property name="minimumSize" value="35,35"/>
<property name="DefaultSize" value="43,43"/>
<property name="UserCode_Bean_pollerButton" value="Bean_pollerButton"/>
<property name="InstanceName" value="pollerButton"/>
<property name="PropertyOrder" value=",font,horizontalTextPosition,preferredSize,maximumSize,minimumSize,toolTipText,icon,"/>
<property name="Bean Permissions" value="247"/>
<property name="preferredSize" value="35,35"/>
<property name="icon" value="./images/graphs/stop.png"/>
<property name="Panel" value="toolBar1Panel"/>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="horizontalTextPosition" value="4"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="foreground" value="-16777216"/>
<property name="Modifiers" value=""/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="PropertyOrder" value=",horizontalAlignment,font,foreground,horizontalTextPosition,toolTipText,text,"/>
<property name="DefaultSize" value="94,24"/>
<property name="PopupMenu" value="none"/>
<property name="text" value="Polling interval"/>
<property name="Initializer" value="new javax.swing.JLabel();"/>
<property name="font" value="SansSerif+0+12"/>
<property name="InstanceName" value="pollingLabel"/>
<property name="horizontalAlignment" value="2"/>
<property name="toolTipText" value=""/>
<property name="Panel" value="toolBar1Panel"/>
<property name="horizontalTextPosition" value="4"/>
<property name="Layout Constraints" value="3"/>
<property name="PaddingSize" value="3,0"/>
<property name="UserCode_Bean_pollingLabel" value="Bean_pollingLabel"/>
<property name="Bean Permissions" value="247"/>
</bean>
<bean>
<property name="Initializer" value="new com.adventnet.beans.utilbeans.NumericSpinControl();"/>
<property name="PopupMenu" value="none"/>
<property name="maximumSize" value="50,35"/>
<property name="Layout Constraints" value="4"/>
<property name="minimumSize" value="50,35"/>
<property name="DefaultSize" value="58,43"/>
<property name="InstanceName" value="pollInterval"/>
<property name="PropertyOrder" value=",maximumSize,minimumSize,preferredSize,value,"/>
<property name="Bean Permissions" value="247"/>
<property name="preferredSize" value="50,35"/>
<property name="value" value="0"/>
<property name="UserCode_Bean_pollInterval" value="Bean_pollInterval"/>
<property name="Panel" value="toolBar1Panel"/>
<property name="ClassName" value="com.adventnet.beans.utilbeans.NumericSpinControl"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JLabel();"/>
<property name="font" value="SansSerif+0+12"/>
<property name="Layout Constraints" value="5"/>
<property name="DefaultSize" value="55,24"/>
<property name="UserCode_Bean_PollingLabel1" value="Bean_PollingLabel1"/>
<property name="InstanceName" value="PollingLabel1"/>
<property name="PropertyOrder" value=",horizontalAlignment,font,foreground,horizontalTextPosition,text,"/>
<property name="Bean Permissions" value="247"/>
<property name="foreground" value="-16777216"/>
<property name="Panel" value="toolBar1Panel"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="horizontalTextPosition" value="4"/>
<property name="text" value="Seconds"/>
<property name="horizontalAlignment" value="2"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="PopupMenu" value="none"/>
<property name="Initializer" value="new javax.swing.JPanel();"/>
<property name="Layout Manager Constraints" value="5,5,2"/>
<property name="Layout Constraints" value="East"/>
<property name="DefaultSize" value="134,61"/>
<property name="Layout Manager" value="Flow Layout"/>
<property name="PaddingSize" value="25,0"/>
<property name="InstanceName" value="toolBar2Panel"/>
<property name="Bean Permissions" value="255"/>
<property name="UserCode_Bean_toolBar2Panel" value="Bean_toolBar2Panel"/>
<property name="Panel" value="toolBarPanel"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Modifiers" value=""/>
<property name="preferredSize" value="35,35"/>
<property name="minimumSize" value="35,35"/>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="PropertyOrder" value=",font,horizontalTextPosition,maximumSize,minimumSize,preferredSize,icon,focusPainted,toolTipText,"/>
<property name="focusPainted" value="true"/>
<property name="DefaultSize" value="43,43"/>
<property name="Initializer" value="new javax.swing.JButton();"/>
<property name="font" value="SansSerif+0+12"/>
<property name="InstanceName" value="helpButton"/>
<property name="UserCode_Bean_helpButton" value="Bean_helpButton"/>
<property name="maximumSize" value="35,35"/>
<property name="toolTipText" value="Help"/>
<property name="Panel" value="toolBar2Panel"/>
<property name="horizontalTextPosition" value="4"/>
<property name="Layout Constraints" value="0"/>
<property name="icon" value="./images/graphs/help.png"/>
<property name="Bean Permissions" value="247"/>
</bean>
<bean>
<property name="Modifiers" value=""/>
<property name="preferredSize" value="35,35"/>
<property name="minimumSize" value="35,35"/>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="UserCode_Bean_closeButton" value="Bean_closeButton"/>
<property name="PropertyOrder" value=",font,horizontalTextPosition,maximumSize,minimumSize,preferredSize,icon,text,toolTipText,"/>
<property name="DefaultSize" value="43,43"/>
<property name="text" value=""/>
<property name="Initializer" value="new javax.swing.JButton();"/>
<property name="font" value="SansSerif+0+12"/>
<property name="InstanceName" value="closeButton"/>
<property name="maximumSize" value="35,35"/>
<property name="toolTipText" value="Exit"/>
<property name="Panel" value="toolBar2Panel"/>
<property name="horizontalTextPosition" value="4"/>
<property name="Layout Constraints" value="1"/>
<property name="icon" value="./images/graphs/exit.png"/>
<property name="Bean Permissions" value="247"/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JPanel();"/>
<property name="Layout Manager Constraints" value="5,5,7,0"/>
<property name="UserCode_Bean_graphTypePanel" value="Bean_graphTypePanel"/>
<property name="Layout Constraints" value="West"/>
<property name="DefaultSize" value="85,458"/>
<property name="border" value="BevelBorder,1,null,null,null,null"/>
<property name="Layout Manager" value="Grid Layout"/>
<property name="PaddingSize" value="15,10"/>
<property name="InstanceName" value="graphTypePanel"/>
<property name="PropertyOrder" value=",border,"/>
<property name="Bean Permissions" value="255"/>
<property name="Panel" value="JPanel1"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Modifiers" value=""/>
<property name="preferredSize" value="50,50"/>
<property name="minimumSize" value="50,50"/>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="PropertyOrder" value=",font,horizontalTextPosition,icon,toolTipText,text,maximumSize,minimumSize,preferredSize,actionCommand,"/>
<property name="DefaultSize" value="58,58"/>
<property name="UserCode_Bean_lineButton" value="Bean_lineButton"/>
<property name="actionCommand" value="lineButton"/>
<property name="text" value=""/>
<property name="Initializer" value="new javax.swing.JButton();"/>
<property name="font" value="SansSerif+0+12"/>
<property name="InstanceName" value="lineButton"/>
<property name="maximumSize" value="50,50"/>
<property name="toolTipText" value="Line Chart"/>
<property name="Panel" value="graphTypePanel"/>
<property name="horizontalTextPosition" value="4"/>
<property name="Layout Constraints" value="0"/>
<property name="icon" value="./images/graphs/line.png"/>
<property name="Bean Permissions" value="247"/>
</bean>
<bean>
<property name="UserCode_Bean_barButton" value="Bean_barButton"/>
<property name="Modifiers" value=""/>
<property name="preferredSize" value="50,50"/>
<property name="minimumSize" value="50,50"/>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="PropertyOrder" value=",font,horizontalTextPosition,actionCommand,icon,toolTipText,maximumSize,minimumSize,preferredSize,"/>
<property name="DefaultSize" value="58,58"/>
<property name="actionCommand" value="barButton"/>
<property name="Initializer" value="new javax.swing.JButton();"/>
<property name="font" value="SansSerif+0+12"/>
<property name="InstanceName" value="barButton"/>
<property name="maximumSize" value="50,50"/>
<property name="toolTipText" value="Bar Chart"/>
<property name="Panel" value="graphTypePanel"/>
<property name="horizontalTextPosition" value="4"/>
<property name="Layout Constraints" value="1"/>
<property name="icon" value="./images/graphs/bargraph_48.png"/>
<property name="Bean Permissions" value="247"/>
</bean>
<bean>
<property name="preferredSize" value="50,50"/>
<property name="Modifiers" value=""/>
<property name="minimumSize" value="50,50"/>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="PropertyOrder" value=",font,horizontalTextPosition,actionCommand,icon,toolTipText,maximumSize,minimumSize,preferredSize,"/>
<property name="DefaultSize" value="58,58"/>
<property name="actionCommand" value="areaButton"/>
<property name="PopupMenu" value="none"/>
<property name="UserCode_Bean_areaButton" value="Bean_areaButton"/>
<property name="Initializer" value="new javax.swing.JButton();"/>
<property name="font" value="SansSerif+0+12"/>
<property name="InstanceName" value="areaButton"/>
<property name="maximumSize" value="50,50"/>
<property name="toolTipText" value="Area Chart"/>
<property name="Panel" value="graphTypePanel"/>
<property name="horizontalTextPosition" value="4"/>
<property name="Layout Constraints" value="2"/>
<property name="icon" value="./images/graphs/area_48.png"/>
<property name="Bean Permissions" value="247"/>
</bean>
<bean>
<property name="UserCode_Bean_scatterButton" value="Bean_scatterButton"/>
<property name="preferredSize" value="50,50"/>
<property name="Modifiers" value=""/>
<property name="minimumSize" value="50,50"/>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="PropertyOrder" value=",font,horizontalTextPosition,actionCommand,icon,toolTipText,maximumSize,minimumSize,preferredSize,"/>
<property name="DefaultSize" value="58,58"/>
<property name="actionCommand" value="scatterButton"/>
<property name="PopupMenu" value="none"/>
<property name="Initializer" value="new javax.swing.JButton();"/>
<property name="font" value="SansSerif+0+12"/>
<property name="InstanceName" value="scatterButton"/>
<property name="maximumSize" value="50,50"/>
<property name="toolTipText" value="Scatter Chart"/>
<property name="Panel" value="graphTypePanel"/>
<property name="horizontalTextPosition" value="4"/>
<property name="Layout Constraints" value="3"/>
<property name="icon" value="./images/graphs/scatter_48.png"/>
<property name="Bean Permissions" value="247"/>
</bean>
<bean>
<property name="Modifiers" value=""/>
<property name="preferredSize" value="50,50"/>
<property name="minimumSize" value="50,50"/>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="PropertyOrder" value=",font,horizontalTextPosition,actionCommand,toolTipText,maximumSize,minimumSize,preferredSize,icon,"/>
<property name="DefaultSize" value="58,58"/>
<property name="UserCode_Bean_xystepButton" value="Bean_xystepButton"/>
<property name="actionCommand" value="xystepButton"/>
<property name="PopupMenu" value="none"/>
<property name="Initializer" value="new javax.swing.JButton();"/>
<property name="font" value="SansSerif+0+12"/>
<property name="InstanceName" value="xystepButton"/>
<property name="maximumSize" value="50,50"/>
<property name="toolTipText" value="XYStep Chart"/>
<property name="Panel" value="graphTypePanel"/>
<property name="horizontalTextPosition" value="4"/>
<property name="Layout Constraints" value="4"/>
<property name="icon" value="./images/graphs/xystep_48.png"/>
<property name="Bean Permissions" value="247"/>
</bean>
<bean>
<property name="UserCode_Bean_tableButton" value="Bean_tableButton"/>
<property name="Initializer" value="new javax.swing.JButton();"/>
<property name="font" value="SansSerif+0+12"/>
<property name="Layout Constraints" value="5"/>
<property name="toolTipText" value="Table"/>
<property name="DefaultSize" value="42,20"/>
<property name="InstanceName" value="tableButton"/>
<property name="PropertyOrder" value=",font,horizontalTextPosition,actionCommand,toolTipText,"/>
<property name="Bean Permissions" value="247"/>
<property name="actionCommand" value="tableButton"/>
<property name="Panel" value="graphTypePanel"/>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="horizontalTextPosition" value="4"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JPanel();"/>
<property name="Layout Manager Constraints" value="5,5"/>
<property name="Layout Constraints" value="Center"/>
<property name="DefaultSize" value="674,151"/>
<property name="border" value="BevelBorder,0,null,null,null,null"/>
<property name="Layout Manager" value="Border Layout"/>
<property name="PaddingSize" value="10,10"/>
<property name="InstanceName" value="graphPanel"/>
<property name="PropertyOrder" value=",border,"/>
<property name="Bean Permissions" value="252"/>
<property name="UserCode_Bean_graphPanel" value="Bean_graphPanel"/>
<property name="Panel" value="JPanel1"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JPanel();"/>
<property name="Layout Manager Constraints" value=""/>
<property name="Layout Constraints" value="Center"/>
<property name="DefaultSize" value="652,129"/>
<property name="UserCode_Bean_JPanel2" value="Bean_JPanel2"/>
<property name="Layout Manager" value="GridBag Layout"/>
<property name="InstanceName" value="JPanel2"/>
<property name="Bean Permissions" value="255"/>
<property name="Panel" value="graphPanel"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JPanel();"/>
<property name="Layout Manager Constraints" value="5,5"/>
<property name="Layout Constraints" value="0,0,1,1,2,10,0,0,0.1,0.0,5,5,5,0"/>
<property name="DefaultSize" value="639,55"/>
<property name="Layout Manager" value="Border Layout"/>
<property name="InstanceName" value="labelPanel"/>
<property name="UserCode_Bean_labelPanel" value="Bean_labelPanel"/>
<property name="Bean Permissions" value="255"/>
<property name="Panel" value="JPanel2"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JLabel();"/>
<property name="font" value="Bitstream Charter+1+16"/>
<property name="Layout Constraints" value="Center"/>
<property name="DefaultSize" value="621,37"/>
<property name="UserCode_Bean_dataName" value="Bean_dataName"/>
<property name="PaddingSize" value="601,17"/>
<property name="InstanceName" value="dataName"/>
<property name="PropertyOrder" value=",foreground,horizontalAlignment,horizontalTextPosition,font,"/>
<property name="Bean Permissions" value="247"/>
<property name="foreground" value="-16777216"/>
<property name="Panel" value="labelPanel"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="horizontalTextPosition" value="0"/>
<property name="horizontalAlignment" value="0"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JScrollPane();"/>
<property name="Layout Manager Constraints" value=""/>
<property name="Layout Constraints" value="0,1,1,1,1,10,0,0,0.1,0.1,5,5,5,5"/>
<property name="DefaultSize" value="30,30"/>
<property name="Layout Manager" value="Viewport Layout"/>
<property name="InstanceName" value="tablePane"/>
<property name="UserCode_Bean_tablePane" value="Bean_tablePane"/>
<property name="Bean Permissions" value="255"/>
<property name="Panel" value="JPanel2"/>
<property name="ClassName" value="javax.swing.JScrollPane"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Bean Permissions" value="247"/>
<property name="InstanceName" value="tableView"/>
<property name="DefaultSize" value="20,20"/>
<property name="Modifiers" value=""/>
<property name="UserCode_Bean_tableView" value="Bean_tableView"/>
<property name="ClassName" value="javax.swing.JTable"/>
<property name="Panel" value="tablePane"/>
<property name="Initializer" value="new javax.swing.JTable();"/>
</bean>
<property name="MenuBarPresent" value="true"/>
</screen>

