<?xml version="1.0" encoding="UTF-8"?>
<screen conversionType="Hash">
<property name="Version" value="4.4"/>
<property name="Type" value="Panel"/>
<connection>
<property name="ConnectionType" value="0"/>
<property name="ClassHeader" value=" new java.awt.event.ActionListener()&#10;  {&#10;&#10;     //&lt;TOP_PART&gt;&#10;"/>
<property name="NeedsCompilation" value="false"/>
<property name="Targets" value="radButPanel-TARGET"/>
<property name="Sources" value="comTabRadBut-action-false,comChaRadBut-action-false,catChaRadBut-action-false,sevChaRadBut-action-false"/>
<property name="ConnectionName" value="comTabRadBut_radButPanel_conn"/>
<property name="ConnectionClass" value="java.awt.event.ActionListener"/>
<property name="Connection_Version" value="1"/>
<property name="ListenerMethodName" value="actionPerformed"/>
<property name="UserCode_Connection_comTabRadBut_radButPanel_conn" value="Connection_comTabRadBut_radButPanel_conn"/>
</connection>
<property name="ScreenTitle" value="ACCPanel"/>
<property name="Screen Width" value="300"/>
<property name="SubVersion" value="4.4"/>
<property name="GenSource" value="false"/>
<property name="Screen Height" value="300"/>
<property name="HorizontalSplitPanePos" value="170.0"/>
<property name="FileVersion" value="5"/>
<property name="ToolBarPresent" value="true"/>
<configgroup>
<property name="UserCode_loadSaveDetailCode" value="ConfigGroup_group1_loadSaveDetailCode"/>
<property name="ProtocolName" value=""/>
<property name="groupname" value="group1"/>
<property name="UserCode_getSaveDetailCode" value="ConfigGroup_group1_getSaveDetailCode"/>
<property name="UserCode_validationcode" value="ConfigGroup_group1"/>
<property name="configIDArr" value=""/>
</configgroup>
<property name="LookAndFeel" value="None"/>
<bean>
<property name="InstanceName" value="Top"/>
<property name="PopupMenu" value="none"/>
<property name="UserCode_Bean_components" value="Bean_components"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Layout Manager" value="Border Layout"/>
<property name="Layout Constraints" value="Center"/>
<property name="Panel" value="container"/>
<property name="Layout Manager Constraints" value="0,0"/>
</bean>
<bean>
<property name="PopupMenu" value="none"/>
<property name="Initializer" value="new com.adventnet.nms.util.CustomImagePanel();"/>
<property name="Layout Manager Constraints" value=""/>
<property name="Layout Constraints" value="Center"/>
<property name="DefaultSize" value="282,190"/>
<property name="Layout Manager" value="GridBag Layout"/>
<property name="PaddingSize" value="234,142"/>
<property name="InstanceName" value="ImageLabel1"/>
<property name="PropertyOrder" value=",backgroundImageOption,backgroundImage,"/>
<property name="backgroundImageOption" value="Scaled"/>
<property name="Bean Permissions" value="252"/>
<property name="UserCode_Bean_ImageLabel1" value="Bean_ImageLabel1"/>
<property name="backgroundImage" value="\getImageIcon(&quot;alpanel_background.png&quot;)$VARIABLE"/>
<property name="Panel" value="Top"/>
<property name="ClassName" value="com.adventnet.nms.util.CustomImagePanel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new com.adventnet.beans.panels.CardPanel(applet);"/>
<property name="Layout Constraints" value="0,0,1,1,1,10,0,0,1.0,1.0,10,10,10,10"/>
<property name="DefaultSize" value="20,20"/>
<property name="cardAndClassNames" value="SeverityChart=com.adventnet.nms.alertui.accpanel.SeverityAlarmChart|CombinedChart=com.adventnet.nms.alertui.accpanel.CombinedAlarmChart|CombinedTable=com.adventnet.nms.alertui.accpanel.CombinedAlarmTable"/>
<property name="UserCode_Bean_chartPanel" value="Bean_chartPanel"/>
<property name="InstanceName" value="chartPanel"/>
<property name="PropertyOrder" value=",cardAndClassNames,"/>
<property name="Bean Permissions" value="244"/>
<property name="Panel" value="ImageLabel1"/>
<property name="ClassName" value="com.adventnet.beans.panels.CardPanel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JPanel();"/>
<property name="Layout Manager Constraints" value="0,0"/>
<property name="Layout Constraints" value="North"/>
<property name="DefaultSize" value="282,90"/>
<property name="Layout Manager" value="Border Layout"/>
<property name="UserCode_Bean_headPanel" value="Bean_headPanel"/>
<property name="PaddingSize" value="10,18"/>
<property name="InstanceName" value="headPanel"/>
<property name="Bean Permissions" value="252"/>
<property name="Panel" value="Top"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JPanel();"/>
<property name="Layout Manager Constraints" value=""/>
<property name="Layout Constraints" value="Center"/>
<property name="DefaultSize" value="264,34"/>
<property name="Layout Manager" value="GridBag Layout"/>
<property name="UserCode_Bean_radButPanel" value="Bean_radButPanel"/>
<property name="PaddingSize" value="39,6"/>
<property name="InstanceName" value="radButPanel"/>
<property name="PropertyOrder" value=",preferredSize,"/>
<property name="Bean Permissions" value="252"/>
<property name="preferredSize" value="217,20"/>
<property name="Panel" value="headPanel"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="selectedIcon" value="\getImageIcon(&quot;alarm_combined_table_on.png&quot;)$VARIABLE"/>
<property name="Initializer" value="new javax.swing.JRadioButton();"/>
<property name="PopupMenu" value="none"/>
<property name="Layout Constraints" value="0,0,1,1,0,10,0,0,0.0,0.0,0,0,0,0"/>
<property name="toolTipText" value="Severity and Category - All Alarms"/>
<property name="DefaultSize" value="29,29"/>
<property name="UserCode_Bean_comTabRadBut" value="Bean_comTabRadBut"/>
<property name="InstanceName" value="comTabRadBut"/>
<property name="PropertyOrder" value=",verticalAlignment,toolTipText,icon,selectedIcon,"/>
<property name="Bean Permissions" value="244"/>
<property name="verticalAlignment" value="1"/>
<property name="icon" value="\getImageIcon(&quot;alarm_combined_table.png&quot;)$VARIABLE"/>
<property name="Panel" value="radButPanel"/>
<property name="ClassName" value="javax.swing.JRadioButton"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="selectedIcon" value="\getImageIcon(&quot;alarm_combined_on.png&quot;)$VARIABLE"/>
<property name="Initializer" value="new javax.swing.JRadioButton();"/>
<property name="Layout Constraints" value="1,0,1,1,0,10,0,0,0.0,0.0,0,0,0,0"/>
<property name="toolTipText" value="Severity and Category - Active Alarms"/>
<property name="DefaultSize" value="29,29"/>
<property name="UserCode_Bean_comChaRadBut" value="Bean_comChaRadBut"/>
<property name="InstanceName" value="comChaRadBut"/>
<property name="PropertyOrder" value=",verticalAlignment,toolTipText,icon,selectedIcon,"/>
<property name="Bean Permissions" value="244"/>
<property name="verticalAlignment" value="1"/>
<property name="icon" value="\getImageIcon(&quot;alarm_combined.png&quot;)$VARIABLE"/>
<property name="Panel" value="radButPanel"/>
<property name="ClassName" value="javax.swing.JRadioButton"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="selectedIcon" value="\getImageIcon(&quot;alarm_severity_on.png&quot;)$VARIABLE"/>
<property name="Initializer" value="new javax.swing.JRadioButton();"/>
<property name="Layout Constraints" value="2,0,1,1,0,10,0,0,0.0,0.0,0,0,0,0"/>
<property name="toolTipText" value="Severity only - Active Alarms"/>
<property name="DefaultSize" value="29,29"/>
<property name="InstanceName" value="sevChaRadBut"/>
<property name="PropertyOrder" value=",verticalAlignment,toolTipText,icon,selectedIcon,"/>
<property name="Bean Permissions" value="244"/>
<property name="verticalAlignment" value="1"/>
<property name="icon" value="\getImageIcon(&quot;alarm_severity.png&quot;)$VARIABLE"/>
<property name="Panel" value="radButPanel"/>
<property name="ClassName" value="javax.swing.JRadioButton"/>
<property name="UserCode_Bean_sevChaRadBut" value="Bean_sevChaRadBut"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.JLabel();"/>
<property name="Layout Constraints" value="3,0,1,1,2,10,0,0,1.0,0.0,0,0,0,0"/>
<property name="DefaultSize" value="20,20"/>
<property name="UserCode_Bean_JLabel1" value="Bean_JLabel1"/>
<property name="InstanceName" value="JLabel1"/>
<property name="PropertyOrder" value=",horizontalAlignment,foreground,horizontalTextPosition,"/>
<property name="Bean Permissions" value="247"/>
<property name="foreground" value="-16777216"/>
<property name="Panel" value="radButPanel"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="horizontalTextPosition" value="4"/>
<property name="horizontalAlignment" value="2"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Modifiers" value=""/>
<property name="iconTextGap" value="0"/>
<property name="verticalAlignment" value="1"/>
<property name="verticalTextPosition" value="0"/>
<property name="UserCode_Bean_titleLabel" value="Bean_titleLabel"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="PropertyOrder" value=",horizontalAlignment,horizontalTextPosition,verticalTextPosition,iconTextGap,text,verticalAlignment,icon,"/>
<property name="DefaultSize" value="264,25"/>
<property name="text" value="Alarm Summary View"/>
<property name="Initializer" value="new javax.swing.JLabel();"/>
<property name="InstanceName" value="titleLabel"/>
<property name="horizontalAlignment" value="0"/>
<property name="Panel" value="headPanel"/>
<property name="horizontalTextPosition" value="0"/>
<property name="Layout Constraints" value="North"/>
<property name="icon" value="\getImageIcon(&quot;alpanel_top.png&quot;)$VARIABLE"/>
<property name="PaddingSize" value="123,2"/>
<property name="Bean Permissions" value="244"/>
</bean>
<bean>
<property name="Initializer" value="new javax.swing.ButtonGroup();"/>
<property name="Layout Constraints" value="BOTTOM"/>
<property name="UserCode_Bean_radButGroup" value="Bean_radButGroup"/>
<property name="DefaultSize" value="87,24"/>
<property name="InstanceName" value="radButGroup"/>
<property name="Bean Permissions" value="244"/>
<property name="Panel" value="Bottom"/>
<property name="ClassName" value="javax.swing.ButtonGroup"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="selectedIcon" value="\getImageIcon(&quot;alarm_category_on.png&quot;)$VARIABLE"/>
<property name="Initializer" value="new javax.swing.JRadioButton();"/>
<property name="Layout Constraints" value="BOTTOM"/>
<property name="toolTipText" value="Category only"/>
<property name="DefaultSize" value="48,48"/>
<property name="InstanceName" value="catChaRadBut"/>
<property name="PropertyOrder" value=",toolTipText,verticalAlignment,icon,selectedIcon,"/>
<property name="Bean Permissions" value="244"/>
<property name="verticalAlignment" value="1"/>
<property name="icon" value="\getImageIcon(&quot;alarm_category.png&quot;)$VARIABLE"/>
<property name="UserCode_Bean_catChaRadBut" value="Bean_catChaRadBut"/>
<property name="Panel" value="Bottom"/>
<property name="ClassName" value="javax.swing.JRadioButton"/>
<property name="Modifiers" value=""/>
</bean>
<property name="MenuBarPresent" value="true"/>
</screen>
