<?xml version="1.0" encoding="UTF-8"?>
<screen conversionType="Hash">
<property name="Version" value="4.4"/>
<property name="Type" value="Panel"/>
<property name="ScreenTitle" value="CombinedAlarmChart"/>
<property name="Screen Width" value="250"/>
<property name="SubVersion" value="4.4"/>
<property name="GenSource" value="false"/>
<property name="Screen Height" value="200"/>
<property name="HorizontalSplitPanePos" value="170.0"/>
<property name="FileVersion" value="3"/>
<property name="ToolBarPresent" value="true"/>
<configgroup>
<property name="groupname" value="group1"/>
<property name="ProtocolName" value=""/>
<property name="UserCode_loadSaveDetailCode" value="ConfigGroup_group1_loadSaveDetailCode"/>
<property name="configIDArr" value=""/>
<property name="UserCode_validationcode" value="ConfigGroup_group1"/>
<property name="UserCode_getSaveDetailCode" value="ConfigGroup_group1_getSaveDetailCode"/>
</configgroup>
<property name="LookAndFeel" value="None"/>
<bean>
<property name="InstanceName" value="Top"/>
<property name="PopupMenu" value="none"/>
<property name="UserCode_Bean_components" value="Bean_components"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Layout Manager" value="Border Layout"/>
<property name="Layout Constraints" value="Center"/>
<property name="Panel" value="container"/>
<property name="Layout Manager Constraints" value="0,0"/>
</bean>
<bean>
<property name="vertical" value="true"/>
<property name="Modifiers" value="public"/>
<property name="UserCode_Bean_combinedChart" value="Bean_combinedChart"/>
<property name="ClassName" value="com.adventnet.nms.alertui.accpanel.BarChart"/>
<property name="legendOutlineColor" value="-1"/>
<property name="PropertyOrder" value=",3DEffect,vertical,plotOutlineColor,background,legendOutlineColor,enabled,title,"/>
<property name="DefaultSize" value="158,158"/>
<property name="enabled" value="true"/>
<property name="PopupMenu" value="none"/>
<property name="plotOutlineColor" value="-1"/>
<property name="Initializer" value="new com.adventnet.nms.alertui.accpanel.BarChart();"/>
<property name="Layout Manager Constraints" value="5,5,1"/>
<property name="3DEffect" value="true"/>
<property name="Layout Manager" value="Flow Layout"/>
<property name="InstanceName" value="combinedChart"/>
<property name="Panel" value="Top"/>
<property name="background" value="-1"/>
<property name="Layout Constraints" value="Center"/>
<property name="title" value="\(org.jfree.chart.title.TextTitle) null$VARIABLE"/>
<property name="Bean Permissions" value="252"/>
</bean>
<property name="MenuBarPresent" value="true"/>
</screen>
