<?xml version="1.0" encoding="ISO-8859-1"?>
<screen conversionType="Hash">
<bean>
<property name="Layout Manager" value="Position Layout"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Panel" value="container"/>
<property name="InstanceName" value="Top"/>
<property name="Layout Manager Constraints" value=""/>
<property name="ExtraCode" value="setResizable(false);"/>
<property name="Layout Constraints" value="Center"/>
</bean>
<bean>
<property name="Modifiers" value=""/>
<property name="ClassName" value="javax.swing.JTextField"/>
<property name="Panel" value="Top"/>
<property name="InstanceName" value="keyText"/>
<property name="ExtraCode" value="keyText.setNextFocusableComponent(valueText);"/>
<property name="Layout Constraints" value="75,5,220,25"/>
<property name="Bean Permissions" value="244"/>
<property name="DefaultSize" value="20,29"/>
<property name="Initializer" value=""/>
</bean>
<bean>
<property name="Modifiers" value=""/>
<property name="ClassName" value="javax.swing.JTextField"/>
<property name="Panel" value="Top"/>
<property name="InstanceName" value="valueText"/>
<property name="ExtraCode" value=""/>
<property name="Layout Constraints" value="75,40,220,25"/>
<property name="Bean Permissions" value="244"/>
<property name="DefaultSize" value="20,29"/>
<property name="Initializer" value=""/>
</bean>
<bean>
<property name="Modifiers" value=""/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="PropertyOrder" value=",text,foreground,"/>
<property name="Panel" value="Top"/>
<property name="InstanceName" value="JLabel1"/>
<property name="ExtraCode" value=""/>
<property name="text" value="Key"/>
<property name="foreground" value="-16764109"/>
<property name="Layout Constraints" value="10,5,60,25"/>
<property name="Bean Permissions" value="244"/>
<property name="DefaultSize" value="37,25"/>
<property name="Initializer" value=""/>
</bean>
<bean>
<property name="Modifiers" value=""/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="PropertyOrder" value=",foreground,text,"/>
<property name="Panel" value="Top"/>
<property name="InstanceName" value="JLabel2"/>
<property name="ExtraCode" value=""/>
<property name="text" value="Value"/>
<property name="foreground" value="-16764109"/>
<property name="Layout Constraints" value="10,40,60,25"/>
<property name="Bean Permissions" value="244"/>
<property name="DefaultSize" value="52,25"/>
<property name="Initializer" value=""/>
</bean>
<bean>
<property name="Modifiers" value=""/>
<property name="PopupMenu" value="none"/>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="PropertyOrder" value=",text,"/>
<property name="Panel" value="Top"/>
<property name="InstanceName" value="JButton2"/>
<property name="ExtraCode" value=""/>
<property name="text" value="Cancel"/>
<property name="Layout Constraints" value="205,75,90,25"/>
<property name="Bean Permissions" value="244"/>
<property name="DefaultSize" value="95,35"/>
<property name="Initializer" value=""/>
</bean>
<bean>
<property name="Modifiers" value=""/>
<property name="PopupMenu" value="none"/>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="PropertyOrder" value=",text,"/>
<property name="Panel" value="Top"/>
<property name="InstanceName" value="JButton1"/>
<property name="ExtraCode" value=""/>
<property name="text" value="Add"/>
<property name="Layout Constraints" value="105,75,90,25"/>
<property name="Bean Permissions" value="244"/>
<property name="DefaultSize" value="73,35"/>
<property name="Initializer" value=""/>
</bean>
<property name="Screen Height" value="115"/>
<property name="Screen Width" value="307"/>
<property name="Dummy Interface" value=""/>
<property name="Import Code" value=""/>
<property name="Variable Definitions" value=""/>
<property name="MenuBarPresent" value="true"/>
<connection>
<property name="ListenerMethodName" value="actionPerformed"/>
<property name="SrcString" value="&#10; class JButton2_JButton2_conn1 implements java.awt.event.ActionListener, java.io.Serializable &#10;  {&#10;&#10;     //&lt;TOP_PART&gt; - Please do not remove this comment or write any custom code above this&#10;&#10;     //Listener Interface Methods Are Added Below &#10;&#10;&#10;     public void actionPerformed( java.awt.event.ActionEvent arg0)&#10;     {&#10; dispose(); &#10;     }&#10;}"/>
<property name="ConnectionType" value="1"/>
<property name="Sources" value="JButton2-action-false"/>
<property name="ConnectionName" value="JButton2_JButton2_conn1"/>
<property name="Connection_Version" value="1"/>
<property name="NeedsCompilation" value="false"/>
<property name="Targets" value="JButton2-TARGET"/>
<property name="ConnectionClass" value="java.awt.event.ActionListener"/>
</connection>
<connection>
<property name="ListenerMethodName" value="actionPerformed"/>
<property name="SrcString" value="&#10; class JButton1_JButton1_conn1 implements java.awt.event.ActionListener, java.io.Serializable &#10;  {&#10;&#10;     //&lt;TOP_PART&gt; - Please do not remove this comment or write any custom code above this&#10;&#10;     //Listener Interface Methods Are Added Below &#10;&#10;&#10;     public void actionPerformed( java.awt.event.ActionEvent arg0)&#10;      {&#10; if(keyText.getText().equals(&quot;&quot;))&#10;  {&#10;   return;&#10;  } &#10; intInter.setAddText(keyText.getText(),valueText.getText());&#10; dispose(); &#10;      }&#10;}"/>
<property name="ConnectionType" value="1"/>
<property name="Sources" value="JButton1-action-false"/>
<property name="ConnectionName" value="JButton1_JButton1_conn1"/>
<property name="Connection_Version" value="1"/>
<property name="NeedsCompilation" value="false"/>
<property name="Targets" value="JButton1-TARGET"/>
<property name="ConnectionClass" value="java.awt.event.ActionListener"/>
</connection>
<property name="Type" value="Dialog"/>
<property name="HorizontalSplitPanePos" value="170.0"/>
<property name="SubVersion" value="BeanBuilder_2.0"/>
<property name="LookAndFeel" value="None"/>
<property name="screenTitle" value="Add new entry"/>
<property name="Version" value="4.3"/>
<property name="Initialize Commands" value=""/>
<property name="Start Commands" value=""/>
<property name="ToolBarPresent" value="true"/>
<property name="GenSource" value="true"/>
<property name="Custom Code" value=""/>
</screen>
