<?xml version="1.0" encoding="ISO-8859-1"?>
<screen conversionType="Hash">
<bean>
<property name="Layout Manager" value="Border Layout"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Panel" value="container"/>
<property name="InstanceName" value="Top"/>
<property name="Layout Manager Constraints" value="5,5"/>
<property name="ExtraCode" value="setResizable(false);"/>
<property name="Layout Constraints" value="Center"/>
</bean>
<bean>
<property name="Modifiers" value=""/>
<property name="Layout Manager" value="Grid Layout"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Panel" value="Top"/>
<property name="InstanceName" value="JPanel1"/>
<property name="Layout Manager Constraints" value="5,5,2,1"/>
<property name="Layout Constraints" value="Center"/>
<property name="PaddingSize" value="338,10"/>
<property name="Bean Permissions" value="252"/>
<property name="DefaultSize" value="402,177"/>
<property name="Initializer" value="new javax.swing.JPanel();"/>
</bean>
<bean>
<property name="Modifiers" value=""/>
<property name="Layout Manager" value="Viewport Layout"/>
<property name="ClassName" value="javax.swing.JScrollPane"/>
<property name="PropertyOrder" value=",border,"/>
<property name="border" value="TitledBorder,[null],Key,4,2,Dialog+1+12,-10066279"/>
<property name="Panel" value="JPanel1"/>
<property name="InstanceName" value="JScrollPane1"/>
<property name="Layout Manager Constraints" value=""/>
<property name="ExtraCode" value=""/>
<property name="Layout Constraints" value="0"/>
<property name="Bean Permissions" value="252"/>
<property name="DefaultSize" value="56,77"/>
<property name="Initializer" value="new javax.swing.JScrollPane();"/>
</bean>
<bean>
<property name="Modifiers" value=""/>
<property name="ClassName" value="javax.swing.JTextArea"/>
<property name="PropertyOrder" value=",editable,"/>
<property name="Panel" value="JScrollPane1"/>
<property name="InstanceName" value="KeyArea"/>
<property name="ExtraCode" value=""/>
<property name="editable" value="false"/>
<property name="Bean Permissions" value="244"/>
<property name="DefaultSize" value="20,25"/>
<property name="Initializer" value="new javax.swing.JTextArea();"/>
</bean>
<bean>
<property name="Modifiers" value=""/>
<property name="Layout Manager" value="Viewport Layout"/>
<property name="ClassName" value="javax.swing.JScrollPane"/>
<property name="PropertyOrder" value=",border,"/>
<property name="border" value="TitledBorder,[null],Edit Value,4,2,Dialog+1+12,-10066279"/>
<property name="Panel" value="JPanel1"/>
<property name="InstanceName" value="JScrollPane2"/>
<property name="Layout Manager Constraints" value=""/>
<property name="ExtraCode" value=""/>
<property name="Layout Constraints" value="1"/>
<property name="Bean Permissions" value="252"/>
<property name="DefaultSize" value="56,77"/>
<property name="Initializer" value="new javax.swing.JScrollPane();"/>
</bean>
<bean>
<property name="Modifiers" value=""/>
<property name="ClassName" value="javax.swing.JTextArea"/>
<property name="PropertyOrder" value=",editable,"/>
<property name="Panel" value="JScrollPane2"/>
<property name="InstanceName" value="ValueArea"/>
<property name="ExtraCode" value=""/>
<property name="editable" value="true"/>
<property name="Bean Permissions" value="244"/>
<property name="DefaultSize" value="20,25"/>
<property name="Initializer" value="new javax.swing.JTextArea();"/>
</bean>
<bean>
<property name="Modifiers" value=""/>
<property name="Layout Manager" value="Flow Layout"/>
<property name="PopupMenu" value="none"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Panel" value="Top"/>
<property name="InstanceName" value="JPanel2"/>
<property name="Layout Manager Constraints" value="5,5,2"/>
<property name="Layout Constraints" value="South"/>
<property name="Bean Permissions" value="252"/>
<property name="DefaultSize" value="491,53"/>
<property name="Initializer" value="new javax.swing.JPanel();"/>
</bean>
<bean>
<property name="Modifiers" value=""/>
<property name="ClassName" value="javax.swing.JCheckBox"/>
<property name="PropertyOrder" value=",text,"/>
<property name="Panel" value="JPanel2"/>
<property name="InstanceName" value="JCheckBox1"/>
<property name="ExtraCode" value=""/>
<property name="text" value="Edit key"/>
<property name="Layout Constraints" value="0"/>
<property name="PaddingSize" value="138,0"/>
<property name="Bean Permissions" value="244"/>
<property name="DefaultSize" value="215,33"/>
<property name="Initializer" value="new javax.swing.JCheckBox();"/>
</bean>
<bean>
<property name="Modifiers" value=""/>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="PropertyOrder" value=",text,"/>
<property name="Panel" value="JPanel2"/>
<property name="InstanceName" value="JButton1"/>
<property name="ExtraCode" value=""/>
<property name="text" value="OK"/>
<property name="Layout Constraints" value="1"/>
<property name="PaddingSize" value="22,0"/>
<property name="Bean Permissions" value="244"/>
<property name="DefaultSize" value="81,35"/>
<property name="Initializer" value="new javax.swing.JButton();"/>
</bean>
<bean>
<property name="Modifiers" value=""/>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="PropertyOrder" value=",text,"/>
<property name="Panel" value="JPanel2"/>
<property name="InstanceName" value="JButton2"/>
<property name="ExtraCode" value=""/>
<property name="text" value="Cancel"/>
<property name="Layout Constraints" value="2"/>
<property name="Bean Permissions" value="244"/>
<property name="DefaultSize" value="81,35"/>
<property name="Initializer" value="new javax.swing.JButton();"/>
</bean>
<bean>
<property name="Modifiers" value=""/>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="PropertyOrder" value=",text,"/>
<property name="Panel" value="JPanel2"/>
<property name="InstanceName" value="JButton3"/>
<property name="ExtraCode" value=""/>
<property name="text" value="Apply"/>
<property name="Layout Constraints" value="3"/>
<property name="PaddingSize" value="8,0"/>
<property name="Bean Permissions" value="244"/>
<property name="DefaultSize" value="81,35"/>
<property name="Initializer" value="new javax.swing.JButton();"/>
</bean>
<property name="Screen Height" value="231"/>
<property name="Screen Width" value="508"/>
<property name="Dummy Interface" value=""/>
<property name="Import Code" value=""/>
<property name="Variable Definitions" value=""/>
<property name="MenuBarPresent" value="true"/>
<connection>
<property name="ListenerMethodName" value="itemStateChanged"/>
<property name="SrcString" value="&#10; class JCheckBox1_JCheckBox1_conn1 implements java.awt.event.ItemListener, java.io.Serializable &#10;  {&#10;&#10;     //&lt;TOP_PART&gt; - Please do not remove this comment or write any custom code above this&#10;&#10;     //Listener Interface Methods Are Added Below &#10;&#10;&#10;     public void itemStateChanged( java.awt.event.ItemEvent arg0)&#10;     {&#10; if(JCheckBox1.isSelected()) &#10;  {&#10;   KeyArea.setEditable(true);&#10;  } &#10; else&#10;  {&#10;   KeyArea.setEditable(false);   &#10;  } &#10;     }&#10;}"/>
<property name="ConnectionType" value="1"/>
<property name="Sources" value="JCheckBox1-item-false"/>
<property name="ConnectionName" value="JCheckBox1_JCheckBox1_conn1"/>
<property name="Connection_Version" value="1"/>
<property name="NeedsCompilation" value="false"/>
<property name="Targets" value="JCheckBox1-TARGET"/>
<property name="ConnectionClass" value="java.awt.event.ItemListener"/>
</connection>
<connection>
<property name="ListenerMethodName" value="actionPerformed"/>
<property name="SrcString" value="&#10; class JButton2_JButton2_conn1 implements java.awt.event.ActionListener, java.io.Serializable &#10;  {&#10;&#10;     //&lt;TOP_PART&gt; - Please do not remove this comment or write any custom code above this&#10;&#10;     //Listener Interface Methods Are Added Below &#10;&#10;&#10;     public void actionPerformed( java.awt.event.ActionEvent arg0)&#10;     {&#10; dispose(); &#10;     }&#10;}"/>
<property name="ConnectionType" value="1"/>
<property name="Sources" value="JButton2-action-false"/>
<property name="ConnectionName" value="JButton2_JButton2_conn1"/>
<property name="Connection_Version" value="1"/>
<property name="NeedsCompilation" value="false"/>
<property name="Targets" value="JButton2-TARGET"/>
<property name="ConnectionClass" value="java.awt.event.ActionListener"/>
</connection>
<connection>
<property name="ListenerMethodName" value="actionPerformed"/>
<property name="SrcString" value="&#10; class JButton3_JButton3_conn1 implements java.awt.event.ActionListener, java.io.Serializable &#10;  {&#10;&#10;     //&lt;TOP_PART&gt; - Please do not remove this comment or write any custom code above this&#10;&#10;     //Listener Interface Methods Are Added Below &#10;&#10;&#10;     public void actionPerformed( java.awt.event.ActionEvent arg0)&#10;     {&#10; setValueToTable();  &#10;     }&#10;}"/>
<property name="ConnectionType" value="1"/>
<property name="Sources" value="JButton3-action-false"/>
<property name="ConnectionName" value="JButton3_JButton3_conn1"/>
<property name="Connection_Version" value="1"/>
<property name="NeedsCompilation" value="false"/>
<property name="Targets" value="JButton3-TARGET"/>
<property name="ConnectionClass" value="java.awt.event.ActionListener"/>
</connection>
<connection>
<property name="ListenerMethodName" value="actionPerformed"/>
<property name="SrcString" value="&#10; class JButton1_JButton1_conn1 implements java.awt.event.ActionListener, java.io.Serializable &#10;  {&#10;&#10;     //&lt;TOP_PART&gt; - Please do not remove this comment or write any custom code above this&#10;&#10;     //Listener Interface Methods Are Added Below &#10;&#10;&#10;     public void actionPerformed( java.awt.event.ActionEvent arg0)&#10;     {&#10; setValueToTable(); &#10; dispose(); &#10;     }&#10;}"/>
<property name="ConnectionType" value="1"/>
<property name="Sources" value="JButton1-action-false"/>
<property name="ConnectionName" value="JButton1_JButton1_conn1"/>
<property name="Connection_Version" value="1"/>
<property name="NeedsCompilation" value="false"/>
<property name="Targets" value="JButton1-TARGET"/>
<property name="ConnectionClass" value="java.awt.event.ActionListener"/>
</connection>
<property name="Type" value="Dialog"/>
<property name="HorizontalSplitPanePos" value="170.0"/>
<property name="SubVersion" value="BeanBuilder_2.0"/>
<property name="LookAndFeel" value="None"/>
<property name="screenTitle" value="Row Editor"/>
<property name="Version" value="4.3"/>
<property name="Initialize Commands" value=""/>
<property name="Start Commands" value=""/>
<property name="ToolBarPresent" value="true"/>
<property name="GenSource" value="false"/>
<property name="Custom Code" value=""/>
</screen>
