<?xml version="1.0" encoding="ISO-8859-1"?>
<screen conversionType="Hash">
<bean>
<property name="Layout Manager" value="Position Layout"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Panel" value="container"/>
<property name="InstanceName" value="Top"/>
<property name="Layout Manager Constraints" value=""/>
<property name="ExtraCode" value="setResizable(false);"/>
<property name="Layout Constraints" value="Center"/>
</bean>
<bean>
<property name="Modifiers" value=""/>
<property name="PopupMenu" value="none"/>
<property name="ClassName" value="javax.swing.JCheckBox"/>
<property name="PropertyOrder" value=",text,focusPainted,"/>
<property name="Panel" value="Top"/>
<property name="InstanceName" value="caseCheck"/>
<property name="ExtraCode" value="caseCheck.setVisible(false);"/>
<property name="text" value="Match case "/>
<property name="focusPainted" value="false"/>
<property name="Layout Constraints" value="5,65,240,30"/>
<property name="Bean Permissions" value="244"/>
<property name="DefaultSize" value="102,33"/>
<property name="Initializer" value=""/>
</bean>
<bean>
<property name="Modifiers" value=""/>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="PropertyOrder" value=",text,"/>
<property name="Panel" value="Top"/>
<property name="InstanceName" value="JButton1"/>
<property name="ExtraCode" value=""/>
<property name="text" value="Find next"/>
<property name="Layout Constraints" value="255,15,95,30"/>
<property name="Bean Permissions" value="244"/>
<property name="DefaultSize" value="93,35"/>
<property name="Initializer" value=""/>
</bean>
<bean>
<property name="Modifiers" value=""/>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="PropertyOrder" value=",text,"/>
<property name="Panel" value="Top"/>
<property name="InstanceName" value="JButton2"/>
<property name="ExtraCode" value=""/>
<property name="text" value="Cancel"/>
<property name="Layout Constraints" value="255,65,95,30"/>
<property name="Bean Permissions" value="244"/>
<property name="DefaultSize" value="81,35"/>
<property name="Initializer" value=""/>
</bean>
<bean>
<property name="Modifiers" value=""/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="PropertyOrder" value=",text,foreground,"/>
<property name="Panel" value="Top"/>
<property name="InstanceName" value="JLabel1"/>
<property name="ExtraCode" value=""/>
<property name="text" value="Find what"/>
<property name="foreground" value="-16764109"/>
<property name="Layout Constraints" value="5,15,85,30"/>
<property name="Bean Permissions" value="244"/>
<property name="DefaultSize" value="62,25"/>
<property name="Initializer" value=""/>
</bean>
<bean>
<property name="Modifiers" value=""/>
<property name="PopupMenu" value="none"/>
<property name="ClassName" value="javax.swing.JTextField"/>
<property name="Panel" value="Top"/>
<property name="InstanceName" value="searchText"/>
<property name="ExtraCode" value=""/>
<property name="Layout Constraints" value="95,15,155,30"/>
<property name="Bean Permissions" value="244"/>
<property name="DefaultSize" value="20,29"/>
<property name="Initializer" value=""/>
</bean>
<property name="Screen Height" value="114"/>
<property name="Screen Width" value="360"/>
<property name="Dummy Interface" value=""/>
<property name="Import Code" value=""/>
<property name="Variable Definitions" value=""/>
<property name="MenuBarPresent" value="true"/>
<connection>
<property name="ListenerMethodName" value="actionPerformed"/>
<property name="SrcString" value="&#10; class JButton2_JButton2_conn1 implements java.awt.event.ActionListener, java.io.Serializable &#10;  {&#10;&#10;     //&lt;TOP_PART&gt; - Please do not remove this comment or write any custom code above this&#10;&#10;     //Listener Interface Methods Are Added Below &#10;&#10;&#10;     public void actionPerformed( java.awt.event.ActionEvent arg0)&#10;     {&#10; close();&#10;     }&#10;}"/>
<property name="ConnectionType" value="1"/>
<property name="Sources" value="JButton2-action-false"/>
<property name="ConnectionName" value="JButton2_JButton2_conn1"/>
<property name="Connection_Version" value="1"/>
<property name="NeedsCompilation" value="false"/>
<property name="Targets" value="JButton2-TARGET"/>
<property name="ConnectionClass" value="java.awt.event.ActionListener"/>
</connection>
<connection>
<property name="ListenerMethodName" value="actionPerformed"/>
<property name="SrcString" value="&#10; class JButton1_JButton1_conn1 implements java.awt.event.ActionListener, java.io.Serializable &#10;  {&#10;&#10;     //&lt;TOP_PART&gt; - Please do not remove this comment or write any custom code above this&#10;&#10;     //Listener Interface Methods Are Added Below &#10;&#10;&#10;     public void actionPerformed( java.awt.event.ActionEvent arg0)&#10;     {&#10; search(); &#10;     }&#10;}"/>
<property name="ConnectionType" value="1"/>
<property name="Sources" value="JButton1-action-false"/>
<property name="ConnectionName" value="JButton1_JButton1_conn1"/>
<property name="Connection_Version" value="1"/>
<property name="NeedsCompilation" value="false"/>
<property name="Targets" value="JButton1-TARGET"/>
<property name="ConnectionClass" value="java.awt.event.ActionListener"/>
</connection>
<property name="Type" value="Dialog"/>
<property name="HorizontalSplitPanePos" value="170.0"/>
<property name="SubVersion" value="BeanBuilder_2.0"/>
<property name="LookAndFeel" value="None"/>
<property name="screenTitle" value="Find"/>
<property name="Version" value="4.3"/>
<property name="Initialize Commands" value=""/>
<property name="Start Commands" value=""/>
<property name="ToolBarPresent" value="true"/>
<property name="GenSource" value="false"/>
<property name="Custom Code" value=""/>
</screen>
