<?xml version="1.0" encoding="UTF-8"?>
<screen conversionType="Hash">
<property name="Screen Width" value="520"/>
<property name="Initialize Commands" value=""/>
<bean>
<property name="Layout Manager Constraints" value="5,10"/>
<property name="Layout Constraints" value="Center"/>
<property name="Layout Manager" value="Border Layout"/>
<property name="InstanceName" value="Top"/>
<property name="PropertyOrder" value=",preferredSize,"/>
<property name="UserCode_Bean_components" value="Bean_components"/>
<property name="preferredSize" value="300,500"/>
<property name="Panel" value="container"/>
<property name="ClassName" value="javax.swing.JPanel"/>
</bean>
<bean>
<property name="PopupMenu" value="none"/>
<property name="Initializer" value=""/>
<property name="Layout Manager Constraints" value=""/>
<property name="Layout Constraints" value="North"/>
<property name="DefaultSize" value="145,106"/>
<property name="Layout Manager" value="GridBag Layout"/>
<property name="UserCode_Bean_JPanel1" value="Bean_JPanel1"/>
<property name="PaddingSize" value="6,0"/>
<property name="InstanceName" value="JPanel1"/>
<property name="Bean Permissions" value="252"/>
<property name="Panel" value="Top"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Constraints" value="1,0,0,1,2,17,0,0,0.1,0.0,10,10,10,10"/>
<property name="toolTipText" value="Specify the Host Name"/>
<property name="DefaultSize" value="20,29"/>
<property name="border" value="BevelBorder,1,null,null,null,null"/>
<property name="InstanceName" value="JTextField2"/>
<property name="PropertyOrder" value=",text,border,toolTipText,"/>
<property name="Bean Permissions" value="244"/>
<property name="Panel" value="JPanel1"/>
<property name="ClassName" value="javax.swing.JTextField"/>
<property name="text" value=""/>
<property name="UserCode_Bean_JTextField2" value="Bean_JTextField2"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Constraints" value="1,1,0,1,2,17,0,0,0.1,0.0,10,10,10,10"/>
<property name="toolTipText" value="Specify the Port where Agent is running"/>
<property name="DefaultSize" value="20,29"/>
<property name="border" value="BevelBorder,1,null,null,null,null"/>
<property name="InstanceName" value="JTextField1"/>
<property name="PropertyOrder" value=",text,border,toolTipText,"/>
<property name="Bean Permissions" value="244"/>
<property name="Panel" value="JPanel1"/>
<property name="ClassName" value="javax.swing.JTextField"/>
<property name="text" value=""/>
<property name="UserCode_Bean_JTextField1" value="Bean_JTextField1"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="font" value="Dialog+0+12"/>
<property name="Layout Constraints" value="0,1,1,1,0,17,0,0,0.0,0.0,10,10,10,10"/>
<property name="DefaultSize" value="65,25"/>
<property name="UserCode_Bean_JLabel2" value="Bean_JLabel2"/>
<property name="InstanceName" value="JLabel2"/>
<property name="PropertyOrder" value=",font,text,foreground,"/>
<property name="Bean Permissions" value="244"/>
<property name="foreground" value="-16777216"/>
<property name="Panel" value="JPanel1"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="text" value="Agent Port"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="font" value="Dialog+0+12"/>
<property name="Layout Constraints" value="0,0,1,1,0,17,0,0,0.0,0.0,10,10,10,10"/>
<property name="DefaultSize" value="71,25"/>
<property name="UserCode_Bean_JLabel1" value="Bean_JLabel1"/>
<property name="InstanceName" value="JLabel1"/>
<property name="PropertyOrder" value=",font,text,foreground,"/>
<property name="Bean Permissions" value="244"/>
<property name="foreground" value="-16777216"/>
<property name="Panel" value="JPanel1"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="text" value="Host Name"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="PopupMenu" value="none"/>
<property name="Layout Manager Constraints" value=""/>
<property name="font" value="Dialog+1+12"/>
<property name="Layout Constraints" value="Center"/>
<property name="DefaultSize" value="274,406"/>
<property name="selectedIndex" value="0"/>
<property name="Layout Manager" value="TabPane Layout"/>
<property name="InstanceName" value="JTabbedPane1"/>
<property name="PropertyOrder" value=",font,selectedIndex,"/>
<property name="Bean Permissions" value="255"/>
<property name="UserCode_Bean_JTabbedPane1" value="Bean_JTabbedPane1"/>
<property name="Panel" value="Top"/>
<property name="ClassName" value="javax.swing.JTabbedPane"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="PopupMenu" value="none"/>
<property name="Layout Manager Constraints" value=""/>
<property name="Layout Constraints" value="General,null,General Information,0"/>
<property name="DefaultSize" value="142,172"/>
<property name="border" value="EtchedBorder,1,null,null"/>
<property name="UserCode_Bean_JPanel3" value="Bean_JPanel3"/>
<property name="Layout Manager" value="GridBag Layout"/>
<property name="InstanceName" value="JPanel3"/>
<property name="PropertyOrder" value=",border,"/>
<property name="Bean Permissions" value="252"/>
<property name="Panel" value="JTabbedPane1"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="font" value="Dialog+0+12"/>
<property name="Layout Constraints" value="0,0,1,1,1,17,0,0,0.0,0.0,15,10,10,10"/>
<property name="UserCode_Bean_JLabel3" value="Bean_JLabel3"/>
<property name="DefaultSize" value="34,25"/>
<property name="InstanceName" value="JLabel3"/>
<property name="PropertyOrder" value=",text,foreground,font,"/>
<property name="Bean Permissions" value="244"/>
<property name="foreground" value="-16777216"/>
<property name="Panel" value="JPanel3"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="text" value="Host"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="UserCode_Bean_JLabel5" value="Bean_JLabel5"/>
<property name="font" value="Dialog+0+12"/>
<property name="Layout Constraints" value="0,2,1,1,1,17,0,0,0.0,0.0,10,10,10,10"/>
<property name="DefaultSize" value="70,25"/>
<property name="InstanceName" value="JLabel5"/>
<property name="PropertyOrder" value=",text,font,foreground,"/>
<property name="Bean Permissions" value="244"/>
<property name="foreground" value="-16777216"/>
<property name="Panel" value="JPanel3"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="text" value="IP Address"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="UserCode_Bean_host" value="Bean_host"/>
<property name="Initializer" value=""/>
<property name="font" value="Dialog+0+12"/>
<property name="Layout Constraints" value="1,0,0,1,1,17,0,0,0.1,0.0,15,10,10,10"/>
<property name="DefaultSize" value="20,20"/>
<property name="InstanceName" value="host"/>
<property name="PropertyOrder" value=",font,foreground,"/>
<property name="Bean Permissions" value="244"/>
<property name="foreground" value="-16777216"/>
<property name="Panel" value="JPanel3"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="font" value="Dialog+0+12"/>
<property name="Layout Constraints" value="1,1,0,1,1,17,0,0,0.1,0.0,10,10,10,10"/>
<property name="DefaultSize" value="20,20"/>
<property name="InstanceName" value="Version"/>
<property name="PropertyOrder" value=",font,foreground,"/>
<property name="Bean Permissions" value="244"/>
<property name="foreground" value="-16777216"/>
<property name="Panel" value="JPanel3"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="UserCode_Bean_Version" value="Bean_Version"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="font" value="Dialog+0+12"/>
<property name="Layout Constraints" value="1,2,0,1,1,17,0,0,0.1,0.0,10,10,10,10"/>
<property name="DefaultSize" value="20,20"/>
<property name="UserCode_Bean_IpAddress" value="Bean_IpAddress"/>
<property name="InstanceName" value="IpAddress"/>
<property name="PropertyOrder" value=",font,foreground,"/>
<property name="Bean Permissions" value="244"/>
<property name="foreground" value="-16777216"/>
<property name="Panel" value="JPanel3"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="UserCode_Bean_JLabel7" value="Bean_JLabel7"/>
<property name="Initializer" value=""/>
<property name="font" value="Dialog+0+12"/>
<property name="Layout Constraints" value="0,1,1,1,1,17,0,0,0.0,0.0,10,10,10,10"/>
<property name="DefaultSize" value="52,25"/>
<property name="InstanceName" value="JLabel7"/>
<property name="PropertyOrder" value=",text,font,foreground,"/>
<property name="Bean Permissions" value="244"/>
<property name="foreground" value="-16777216"/>
<property name="Panel" value="JPanel3"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="text" value="Version"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="UserCode_Bean_JLabel4" value="Bean_JLabel4"/>
<property name="Layout Constraints" value="0,3,0,0,1,17,0,0,0.1,0.1,0,0,0,0"/>
<property name="DefaultSize" value="20,20"/>
<property name="InstanceName" value="JLabel4"/>
<property name="Bean Permissions" value="247"/>
<property name="Panel" value="JPanel3"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Manager Constraints" value=""/>
<property name="Layout Constraints" value="Topology,null,Topology Related Information,1"/>
<property name="DefaultSize" value="249,262"/>
<property name="UserCode_Bean_JPanel4" value="Bean_JPanel4"/>
<property name="border" value="EtchedBorder,1,null,null"/>
<property name="Layout Manager" value="GridBag Layout"/>
<property name="InstanceName" value="JPanel4"/>
<property name="PropertyOrder" value=",border,"/>
<property name="Bean Permissions" value="252"/>
<property name="Panel" value="JTabbedPane1"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="font" value="Dialog+0+12"/>
<property name="Layout Constraints" value="0,0,1,1,1,17,0,0,0.0,0.0,15,10,10,10"/>
<property name="DefaultSize" value="165,25"/>
<property name="InstanceName" value="JLabel18"/>
<property name="PropertyOrder" value=",font,text,foreground,"/>
<property name="Bean Permissions" value="247"/>
<property name="foreground" value="-16777216"/>
<property name="Panel" value="JPanel4"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="UserCode_Bean_JLabel18" value="Bean_JLabel18"/>
<property name="text" value="Number of Managed Objects"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="font" value="Dialog+0+12"/>
<property name="Layout Constraints" value="0,1,1,1,1,17,0,0,0.0,0.0,10,10,10,10"/>
<property name="DefaultSize" value="175,25"/>
<property name="InstanceName" value="JLabel17"/>
<property name="PropertyOrder" value=",font,text,foreground,"/>
<property name="Bean Permissions" value="247"/>
<property name="foreground" value="-16777216"/>
<property name="Panel" value="JPanel4"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="text" value="Number of Networks Managed"/>
<property name="UserCode_Bean_JLabel17" value="Bean_JLabel17"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="font" value="Dialog+0+12"/>
<property name="Layout Constraints" value="0,2,1,1,1,17,0,0,0.0,0.0,10,10,10,10"/>
<property name="DefaultSize" value="160,25"/>
<property name="InstanceName" value="JLabel16"/>
<property name="PropertyOrder" value=",font,text,foreground,"/>
<property name="Bean Permissions" value="247"/>
<property name="foreground" value="-16777216"/>
<property name="Panel" value="JPanel4"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="text" value="Number of Nodes Managed"/>
<property name="UserCode_Bean_JLabel16" value="Bean_JLabel16"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="font" value="Dialog+0+12"/>
<property name="Layout Constraints" value="0,3,1,1,1,17,0,0,0.0,0.0,10,10,10,10"/>
<property name="DefaultSize" value="177,25"/>
<property name="InstanceName" value="JLabel15"/>
<property name="PropertyOrder" value=",font,text,foreground,"/>
<property name="Bean Permissions" value="247"/>
<property name="foreground" value="-16777216"/>
<property name="Panel" value="JPanel4"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="text" value="Number of Interfaces Managed"/>
<property name="UserCode_Bean_JLabel15" value="Bean_JLabel15"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="UserCode_Bean_JLabel14" value="Bean_JLabel14"/>
<property name="Initializer" value=""/>
<property name="font" value="Dialog+0+12"/>
<property name="Layout Constraints" value="0,4,1,1,1,17,0,0,0.0,0.0,10,10,10,10"/>
<property name="DefaultSize" value="149,25"/>
<property name="InstanceName" value="JLabel14"/>
<property name="PropertyOrder" value=",font,text,foreground,"/>
<property name="Bean Permissions" value="247"/>
<property name="foreground" value="-16777216"/>
<property name="Panel" value="JPanel4"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="text" value="Number of Polled Objects"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="font" value="Dialog+0+12"/>
<property name="Layout Constraints" value="1,0,0,1,1,17,0,0,0.1,0.0,15,10,10,10"/>
<property name="DefaultSize" value="20,20"/>
<property name="InstanceName" value="NoofManagedObjects"/>
<property name="PropertyOrder" value=",font,foreground,"/>
<property name="UserCode_Bean_NoofManagedObjects" value="Bean_NoofManagedObjects"/>
<property name="Bean Permissions" value="247"/>
<property name="foreground" value="-16777216"/>
<property name="Panel" value="JPanel4"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="PopupMenu" value="none"/>
<property name="font" value="Dialog+0+12"/>
<property name="Layout Constraints" value="1,1,0,1,1,17,0,0,0.1,0.0,10,10,10,10"/>
<property name="DefaultSize" value="20,20"/>
<property name="InstanceName" value="NoofNwManaged"/>
<property name="PropertyOrder" value=",font,foreground,"/>
<property name="Bean Permissions" value="247"/>
<property name="foreground" value="-16777216"/>
<property name="Panel" value="JPanel4"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="UserCode_Bean_NoofNwManaged" value="Bean_NoofNwManaged"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="font" value="Dialog+0+12"/>
<property name="Layout Constraints" value="1,2,0,1,1,17,0,0,0.1,0.0,10,10,10,10"/>
<property name="DefaultSize" value="20,20"/>
<property name="UserCode_Bean_NoofNodesManaged" value="Bean_NoofNodesManaged"/>
<property name="InstanceName" value="NoofNodesManaged"/>
<property name="PropertyOrder" value=",font,foreground,"/>
<property name="Bean Permissions" value="247"/>
<property name="foreground" value="-16777216"/>
<property name="Panel" value="JPanel4"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="font" value="Dialog+0+12"/>
<property name="Layout Constraints" value="1,3,0,1,1,17,0,0,0.1,0.0,10,10,10,10"/>
<property name="DefaultSize" value="20,20"/>
<property name="InstanceName" value="NoofInterfacesManaged"/>
<property name="PropertyOrder" value=",font,foreground,"/>
<property name="Bean Permissions" value="247"/>
<property name="foreground" value="-16777216"/>
<property name="UserCode_Bean_NoofInterfacesManaged" value="Bean_NoofInterfacesManaged"/>
<property name="Panel" value="JPanel4"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="font" value="Dialog+0+12"/>
<property name="Layout Constraints" value="1,4,0,1,1,17,0,0,0.1,0.0,10,10,10,10"/>
<property name="DefaultSize" value="20,20"/>
<property name="UserCode_Bean_NoofPollObjects" value="Bean_NoofPollObjects"/>
<property name="InstanceName" value="NoofPollObjects"/>
<property name="PropertyOrder" value=",font,foreground,"/>
<property name="Bean Permissions" value="247"/>
<property name="foreground" value="-16777216"/>
<property name="Panel" value="JPanel4"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="UserCode_Bean_JLabel8" value="Bean_JLabel8"/>
<property name="Initializer" value=""/>
<property name="Layout Constraints" value="0,5,0,0,1,17,0,0,0.1,0.1,0,0,0,0"/>
<property name="DefaultSize" value="20,20"/>
<property name="InstanceName" value="JLabel8"/>
<property name="Bean Permissions" value="247"/>
<property name="Panel" value="JPanel4"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Manager Constraints" value=""/>
<property name="Layout Constraints" value="Fault,null,Fault Related Information,2"/>
<property name="UserCode_Bean_JPanel5" value="Bean_JPanel5"/>
<property name="DefaultSize" value="261,369"/>
<property name="border" value="EtchedBorder,1,null,null"/>
<property name="Layout Manager" value="GridBag Layout"/>
<property name="InstanceName" value="JPanel5"/>
<property name="PropertyOrder" value=",border,"/>
<property name="Bean Permissions" value="255"/>
<property name="Panel" value="JTabbedPane1"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="UserCode_Bean_JLabel39" value="Bean_JLabel39"/>
<property name="font" value="Dialog+0+12"/>
<property name="Layout Constraints" value="0,0,1,1,1,17,0,0,0.0,0.0,15,10,10,10"/>
<property name="DefaultSize" value="106,25"/>
<property name="InstanceName" value="JLabel39"/>
<property name="PropertyOrder" value=",font,text,foreground,"/>
<property name="Bean Permissions" value="247"/>
<property name="foreground" value="-16777216"/>
<property name="Panel" value="JPanel5"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="text" value="Number of Events"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="UserCode_Bean_JLabel38" value="Bean_JLabel38"/>
<property name="font" value="Dialog+0+12"/>
<property name="Layout Constraints" value="0,1,1,1,1,17,0,0,0.0,0.0,10,10,10,10"/>
<property name="DefaultSize" value="100,25"/>
<property name="InstanceName" value="JLabel38"/>
<property name="PropertyOrder" value=",font,text,foreground,"/>
<property name="Bean Permissions" value="247"/>
<property name="foreground" value="-16777216"/>
<property name="Panel" value="JPanel5"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="text" value="Number of Alerts"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="font" value="Dialog+0+12"/>
<property name="UserCode_Bean_JLabel37" value="Bean_JLabel37"/>
<property name="Layout Constraints" value="0,2,1,1,1,17,0,0,0.0,0.0,10,10,10,10"/>
<property name="DefaultSize" value="106,25"/>
<property name="InstanceName" value="JLabel37"/>
<property name="PropertyOrder" value=",text,font,foreground,"/>
<property name="Bean Permissions" value="247"/>
<property name="foreground" value="-16777216"/>
<property name="Panel" value="JPanel5"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="text" value="Event Queue Size"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="font" value="Dialog+0+12"/>
<property name="Layout Constraints" value="0,3,1,1,1,17,0,0,0.0,0.0,10,10,10,10"/>
<property name="UserCode_Bean_JLabel36" value="Bean_JLabel36"/>
<property name="DefaultSize" value="110,25"/>
<property name="InstanceName" value="JLabel36"/>
<property name="PropertyOrder" value=",font,text,foreground,"/>
<property name="Bean Permissions" value="247"/>
<property name="foreground" value="-16777216"/>
<property name="Panel" value="JPanel5"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="text" value="Alert Queue Size"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="font" value="Dialog+0+12"/>
<property name="Layout Constraints" value="0,4,1,1,1,17,0,0,0.0,0.0,10,10,10,10"/>
<property name="DefaultSize" value="142,25"/>
<property name="UserCode_Bean_JLabel35" value="Bean_JLabel35"/>
<property name="InstanceName" value="JLabel35"/>
<property name="PropertyOrder" value=",font,text,foreground,"/>
<property name="Bean Permissions" value="247"/>
<property name="foreground" value="-16777216"/>
<property name="Panel" value="JPanel5"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="text" value="Number of Active Pollers"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="font" value="Dialog+0+12"/>
<property name="Layout Constraints" value="0,5,1,1,1,17,0,0,0.0,0.0,10,10,10,10"/>
<property name="DefaultSize" value="170,25"/>
<property name="UserCode_Bean_JLabel34" value="Bean_JLabel34"/>
<property name="InstanceName" value="JLabel34"/>
<property name="PropertyOrder" value=",font,text,foreground,"/>
<property name="Bean Permissions" value="247"/>
<property name="foreground" value="-16777216"/>
<property name="Panel" value="JPanel5"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="text" value="Number of Threshold Objects"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="font" value="Dialog+0+12"/>
<property name="Layout Constraints" value="1,0,0,1,1,17,0,0,0.1,0.0,15,10,10,10"/>
<property name="DefaultSize" value="20,20"/>
<property name="InstanceName" value="NoofEvents"/>
<property name="PropertyOrder" value=",font,foreground,"/>
<property name="UserCode_Bean_NoofEvents" value="Bean_NoofEvents"/>
<property name="Bean Permissions" value="247"/>
<property name="foreground" value="-16777216"/>
<property name="Panel" value="JPanel5"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="font" value="Dialog+0+12"/>
<property name="Layout Constraints" value="1,2,0,1,1,17,0,0,0.1,0.0,10,10,10,10"/>
<property name="DefaultSize" value="20,20"/>
<property name="InstanceName" value="EventQSize"/>
<property name="PropertyOrder" value=",font,foreground,"/>
<property name="Bean Permissions" value="247"/>
<property name="foreground" value="-16777216"/>
<property name="Panel" value="JPanel5"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="UserCode_Bean_EventQSize" value="Bean_EventQSize"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="font" value="Dialog+0+12"/>
<property name="Layout Constraints" value="1,3,0,1,1,17,0,0,0.1,0.0,10,10,10,10"/>
<property name="DefaultSize" value="20,20"/>
<property name="InstanceName" value="AlertQSize"/>
<property name="PropertyOrder" value=",font,foreground,"/>
<property name="Bean Permissions" value="247"/>
<property name="foreground" value="-16777216"/>
<property name="Panel" value="JPanel5"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="UserCode_Bean_AlertQSize" value="Bean_AlertQSize"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="font" value="Dialog+0+12"/>
<property name="Layout Constraints" value="1,4,0,1,1,17,0,0,0.1,0.0,10,10,10,10"/>
<property name="DefaultSize" value="20,20"/>
<property name="InstanceName" value="ActivePollers"/>
<property name="PropertyOrder" value=",font,foreground,"/>
<property name="Bean Permissions" value="247"/>
<property name="foreground" value="-16777216"/>
<property name="UserCode_Bean_ActivePollers" value="Bean_ActivePollers"/>
<property name="Panel" value="JPanel5"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="PopupMenu" value="none"/>
<property name="font" value="Dialog+0+12"/>
<property name="Layout Constraints" value="0,6,1,1,1,17,0,0,0.0,0.0,10,10,10,10"/>
<property name="DefaultSize" value="189,25"/>
<property name="InstanceName" value="JLabel24"/>
<property name="PropertyOrder" value=",font,text,foreground,"/>
<property name="Bean Permissions" value="247"/>
<property name="foreground" value="-16777216"/>
<property name="UserCode_Bean_JLabel24" value="Bean_JLabel24"/>
<property name="Panel" value="JPanel5"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="text" value="Sequence Number of Notification"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="font" value="Dialog+0+12"/>
<property name="Layout Constraints" value="1,5,0,1,1,17,0,0,0.1,0.0,10,10,10,10"/>
<property name="DefaultSize" value="20,20"/>
<property name="UserCode_Bean_NoofThresholdObjects" value="Bean_NoofThresholdObjects"/>
<property name="InstanceName" value="NoofThresholdObjects"/>
<property name="PropertyOrder" value=",font,foreground,"/>
<property name="Bean Permissions" value="247"/>
<property name="foreground" value="-16777216"/>
<property name="Panel" value="JPanel5"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="UserCode_Bean_NoofAlerts" value="Bean_NoofAlerts"/>
<property name="Initializer" value=""/>
<property name="PopupMenu" value="none"/>
<property name="font" value="Dialog+0+12"/>
<property name="Layout Constraints" value="1,1,0,1,1,17,0,0,0.1,0.0,10,10,10,10"/>
<property name="DefaultSize" value="20,20"/>
<property name="InstanceName" value="NoofAlerts"/>
<property name="PropertyOrder" value=",font,foreground,"/>
<property name="Bean Permissions" value="247"/>
<property name="foreground" value="-16777216"/>
<property name="Panel" value="JPanel5"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="font" value="Dialog+0+12"/>
<property name="Layout Constraints" value="1,6,0,1,1,17,0,0,0.1,0.0,10,10,10,10"/>
<property name="DefaultSize" value="20,20"/>
<property name="InstanceName" value="NoofNotification"/>
<property name="PropertyOrder" value=",font,foreground,"/>
<property name="Bean Permissions" value="247"/>
<property name="foreground" value="-16777216"/>
<property name="UserCode_Bean_NoofNotification" value="Bean_NoofNotification"/>
<property name="Panel" value="JPanel5"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="font" value="Dialog+0+12"/>
<property name="UserCode_Bean_JLabel10" value="Bean_JLabel10"/>
<property name="Layout Constraints" value="0,7,0,0,1,17,0,0,0.1,0.1,0,0,0,0"/>
<property name="DefaultSize" value="20,20"/>
<property name="InstanceName" value="JLabel10"/>
<property name="PropertyOrder" value=",font,foreground,"/>
<property name="Bean Permissions" value="247"/>
<property name="foreground" value="-16777216"/>
<property name="Panel" value="JPanel5"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Manager Constraints" value=""/>
<property name="UserCode_Bean_JPanel6" value="Bean_JPanel6"/>
<property name="Layout Constraints" value="Memory,null,Memory Related Information,3"/>
<property name="DefaultSize" value="212,138"/>
<property name="border" value="EtchedBorder,1,null,null"/>
<property name="Layout Manager" value="GridBag Layout"/>
<property name="InstanceName" value="JPanel6"/>
<property name="PropertyOrder" value=",border,"/>
<property name="Bean Permissions" value="255"/>
<property name="Panel" value="JTabbedPane1"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="UserCode_Bean_JLabel42" value="Bean_JLabel42"/>
<property name="Initializer" value=""/>
<property name="font" value="Dialog+0+12"/>
<property name="Layout Constraints" value="0,0,1,1,1,17,0,0,0.0,0.0,10,10,10,10"/>
<property name="DefaultSize" value="129,25"/>
<property name="InstanceName" value="JLabel42"/>
<property name="PropertyOrder" value=",text,font,foreground,"/>
<property name="Bean Permissions" value="247"/>
<property name="foreground" value="-16777216"/>
<property name="Panel" value="JPanel6"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="text" value="Memory Used (Bytes)"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="UserCode_Bean_JLabel41" value="Bean_JLabel41"/>
<property name="font" value="Dialog+0+12"/>
<property name="Layout Constraints" value="0,1,1,1,1,17,0,0,0.0,0.0,10,10,10,10"/>
<property name="DefaultSize" value="125,25"/>
<property name="InstanceName" value="JLabel41"/>
<property name="PropertyOrder" value=",text,font,foreground,"/>
<property name="Bean Permissions" value="247"/>
<property name="foreground" value="-16777216"/>
<property name="Panel" value="JPanel6"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="text" value="Free Memory (Bytes)"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="font" value="Dialog+0+12"/>
<property name="Layout Constraints" value="1,0,0,1,1,17,0,0,0.1,0.0,10,10,10,10"/>
<property name="DefaultSize" value="20,20"/>
<property name="InstanceName" value="MemoryUsed"/>
<property name="PropertyOrder" value=",font,foreground,"/>
<property name="Bean Permissions" value="247"/>
<property name="foreground" value="-16777216"/>
<property name="UserCode_Bean_MemoryUsed" value="Bean_MemoryUsed"/>
<property name="Panel" value="JPanel6"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="font" value="Dialog+0+12"/>
<property name="Layout Constraints" value="1,1,0,1,1,17,0,0,0.1,0.0,10,10,10,10"/>
<property name="DefaultSize" value="20,20"/>
<property name="UserCode_Bean_FreeMemory" value="Bean_FreeMemory"/>
<property name="InstanceName" value="FreeMemory"/>
<property name="PropertyOrder" value=",font,foreground,"/>
<property name="Bean Permissions" value="247"/>
<property name="foreground" value="-16777216"/>
<property name="Panel" value="JPanel6"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="UserCode_Bean_JLabel6" value="Bean_JLabel6"/>
<property name="Layout Constraints" value="0,2,0,0,1,17,0,0,0.1,0.1,0,0,0,0"/>
<property name="DefaultSize" value="20,20"/>
<property name="InstanceName" value="JLabel6"/>
<property name="Bean Permissions" value="247"/>
<property name="Panel" value="JPanel6"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Manager Constraints" value=""/>
<property name="UserCode_Bean_JPanel7" value="Bean_JPanel7"/>
<property name="Layout Constraints" value="Port,null,Port Related Information,4"/>
<property name="DefaultSize" value="175,259"/>
<property name="border" value="EtchedBorder,1,null,null"/>
<property name="Layout Manager" value="GridBag Layout"/>
<property name="InstanceName" value="JPanel7"/>
<property name="PropertyOrder" value=",border,"/>
<property name="Bean Permissions" value="255"/>
<property name="Panel" value="JTabbedPane1"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="font" value="Dialog+0+12"/>
<property name="Layout Constraints" value="0,0,1,1,1,17,0,0,0.0,0.0,15,10,10,10"/>
<property name="DefaultSize" value="64,25"/>
<property name="InstanceName" value="JLabel54"/>
<property name="PropertyOrder" value=",font,text,foreground,"/>
<property name="Bean Permissions" value="247"/>
<property name="UserCode_Bean_JLabel54" value="Bean_JLabel54"/>
<property name="foreground" value="-16777216"/>
<property name="Panel" value="JPanel7"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="text" value="HTTP Port"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="font" value="Dialog+0+12"/>
<property name="Layout Constraints" value="0,1,1,1,1,17,0,0,0.0,0.0,10,10,10,10"/>
<property name="DefaultSize" value="75,25"/>
<property name="InstanceName" value="JLabel53"/>
<property name="PropertyOrder" value=",text,font,foreground,"/>
<property name="Bean Permissions" value="247"/>
<property name="foreground" value="-16777216"/>
<property name="UserCode_Bean_JLabel53" value="Bean_JLabel53"/>
<property name="Panel" value="JPanel7"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="text" value="Socket Port"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="font" value="Dialog+0+12"/>
<property name="Layout Constraints" value="0,2,1,1,1,17,0,0,0.0,0.0,10,10,10,10"/>
<property name="DefaultSize" value="103,25"/>
<property name="InstanceName" value="JLabel51"/>
<property name="PropertyOrder" value=",font,text,foreground,"/>
<property name="Bean Permissions" value="247"/>
<property name="foreground" value="-16777216"/>
<property name="UserCode_Bean_JLabel51" value="Bean_JLabel51"/>
<property name="Panel" value="JPanel7"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="text" value="RMI Registry Port"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="font" value="Dialog+0+12"/>
<property name="Layout Constraints" value="1,0,0,1,1,17,0,0,0.1,0.0,15,10,10,10"/>
<property name="DefaultSize" value="20,20"/>
<property name="UserCode_Bean_Httpport" value="Bean_Httpport"/>
<property name="InstanceName" value="Httpport"/>
<property name="PropertyOrder" value=",font,foreground,"/>
<property name="Bean Permissions" value="247"/>
<property name="foreground" value="-16777216"/>
<property name="Panel" value="JPanel7"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="font" value="Dialog+0+12"/>
<property name="Layout Constraints" value="1,1,0,1,1,17,0,0,0.1,0.0,10,10,10,10"/>
<property name="DefaultSize" value="20,20"/>
<property name="UserCode_Bean_Socketport" value="Bean_Socketport"/>
<property name="InstanceName" value="Socketport"/>
<property name="PropertyOrder" value=",font,foreground,"/>
<property name="Bean Permissions" value="247"/>
<property name="foreground" value="-16777216"/>
<property name="Panel" value="JPanel7"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="font" value="Dialog+0+12"/>
<property name="Layout Constraints" value="1,2,0,1,1,17,0,0,0.1,0.0,10,10,10,10"/>
<property name="UserCode_Bean_Rmiregistryport" value="Bean_Rmiregistryport"/>
<property name="DefaultSize" value="20,20"/>
<property name="InstanceName" value="Rmiregistryport"/>
<property name="PropertyOrder" value=",font,foreground,"/>
<property name="Bean Permissions" value="247"/>
<property name="foreground" value="-16777216"/>
<property name="Panel" value="JPanel7"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="Layout Constraints" value="0,3,0,0,1,17,0,0,0.1,0.1,0,0,0,0"/>
<property name="DefaultSize" value="20,20"/>
<property name="InstanceName" value="JLabel9"/>
<property name="Bean Permissions" value="247"/>
<property name="Panel" value="JPanel7"/>
<property name="ClassName" value="javax.swing.JLabel"/>
<property name="UserCode_Bean_JLabel9" value="Bean_JLabel9"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Initializer" value=""/>
<property name="UserCode_Bean_JPanel8" value="Bean_JPanel8"/>
<property name="Layout Manager Constraints" value="20,8,1"/>
<property name="Layout Constraints" value="South"/>
<property name="DefaultSize" value="316,63"/>
<property name="border" value="EtchedBorder,1,null,null"/>
<property name="Layout Manager" value="Flow Layout"/>
<property name="InstanceName" value="JPanel8"/>
<property name="PropertyOrder" value=",border,"/>
<property name="Bean Permissions" value="252"/>
<property name="Panel" value="Top"/>
<property name="ClassName" value="javax.swing.JPanel"/>
<property name="Modifiers" value=""/>
</bean>
<bean>
<property name="Modifiers" value=""/>
<property name="preferredSize" value="50,25"/>
<property name="minimumSize" value="50,25"/>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="PropertyOrder" value=",label,border,minimumSize,horizontalTextPosition,preferredSize,maximumSize,font,toolTipText,"/>
<property name="DefaultSize" value="87,35"/>
<property name="label" value="Refresh"/>
<property name="PopupMenu" value="none"/>
<property name="Initializer" value=""/>
<property name="font" value="Dialog+1+12"/>
<property name="InstanceName" value="JButton1"/>
<property name="border" value="BevelBorder,0,null,null,null,null"/>
<property name="maximumSize" value="50,25"/>
<property name="toolTipText" value="Click here to Refresh."/>
<property name="Panel" value="JPanel8"/>
<property name="horizontalTextPosition" value="0"/>
<property name="Layout Constraints" value="0"/>
<property name="UserCode_Bean_JButton1" value="Bean_JButton1"/>
<property name="PaddingSize" value="29,2"/>
<property name="Bean Permissions" value="244"/>
</bean>
<bean>
<property name="Modifiers" value=""/>
<property name="preferredSize" value="50,25"/>
<property name="minimumSize" value="50,25"/>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="PropertyOrder" value=",label,border,horizontalTextPosition,maximumSize,minimumSize,preferredSize,font,toolTipText,"/>
<property name="DefaultSize" value="72,35"/>
<property name="label" value="Exit"/>
<property name="Initializer" value=""/>
<property name="font" value="Dialog+1+12"/>
<property name="InstanceName" value="JButton2"/>
<property name="border" value="BevelBorder,0,null,null,null,null"/>
<property name="maximumSize" value="50,25"/>
<property name="toolTipText" value="Click here to Exit the tool."/>
<property name="Panel" value="JPanel8"/>
<property name="horizontalTextPosition" value="0"/>
<property name="Layout Constraints" value="1"/>
<property name="UserCode_Bean_JButton2" value="Bean_JButton2"/>
<property name="PaddingSize" value="14,2"/>
<property name="Bean Permissions" value="247"/>
</bean>
<bean>
<property name="Modifiers" value=""/>
<property name="preferredSize" value="50,25"/>
<property name="minimumSize" value="50,25"/>
<property name="ClassName" value="javax.swing.JButton"/>
<property name="PropertyOrder" value=",text,border,preferredSize,maximumSize,minimumSize,horizontalTextPosition,font,toolTipText,"/>
<property name="UserCode_Bean_help" value="Bean_help"/>
<property name="DefaultSize" value="65,35"/>
<property name="text" value="Help"/>
<property name="Initializer" value=""/>
<property name="font" value="Dialog+1+12"/>
<property name="InstanceName" value="help"/>
<property name="border" value="BevelBorder,0,null,null,null,null"/>
<property name="maximumSize" value="50,25"/>
<property name="toolTipText" value="Click here for Help."/>
<property name="Panel" value="JPanel8"/>
<property name="horizontalTextPosition" value="0"/>
<property name="Layout Constraints" value="2"/>
<property name="PaddingSize" value="7,2"/>
<property name="Bean Permissions" value="247"/>
</bean>
<property name="Import Code" value=""/>
<property name="Variable Definitions" value=""/>
<property name="Version" value="4.4"/>
<property name="Screen Height" value="494"/>
<property name="Start Commands" value=""/>
<property name="Type" value="Nms Panel"/>
<property name="FileVersion" value="1"/>
<connection>
<property name="ConnectionType" value="1"/>
<property name="ClassHeader" value="&#10; class JButton2_JButton2_conn1 implements java.awt.event.ActionListener, java.io.Serializable &#10;  {&#10;&#10;     //&lt;TOP_PART&gt;&#10;"/>
<property name="NeedsCompilation" value="false"/>
<property name="Targets" value="JButton2-TARGET"/>
<property name="UserCode_Connection_JButton2_JButton2_conn1" value="Connection_JButton2_JButton2_conn1"/>
<property name="Sources" value="JButton2-action-false"/>
<property name="ConnectionName" value="JButton2_JButton2_conn1"/>
<property name="ConnectionClass" value="java.awt.event.ActionListener"/>
<property name="Connection_Version" value="1"/>
<property name="ListenerMethodName" value="actionPerformed"/>
</connection>
<connection>
<property name="ConnectionType" value="1"/>
<property name="ClassHeader" value="&#10; class help_help_conn1 implements java.awt.event.ActionListener, java.io.Serializable &#10;  {&#10;&#10;     //&lt;TOP_PART&gt;&#10;"/>
<property name="NeedsCompilation" value="false"/>
<property name="Targets" value="help-TARGET"/>
<property name="Sources" value="help-action-false"/>
<property name="ConnectionName" value="help_help_conn1"/>
<property name="ConnectionClass" value="java.awt.event.ActionListener"/>
<property name="Connection_Version" value="1"/>
<property name="ListenerMethodName" value="actionPerformed"/>
<property name="UserCode_Connection_help_help_conn1" value="Connection_help_help_conn1"/>
</connection>
<connection>
<property name="ConnectionType" value="1"/>
<property name="ClassHeader" value="&#10; class JButton1_JButton1_conn1 implements java.awt.event.ActionListener, java.io.Serializable &#10;  {&#10;&#10;     //&lt;TOP_PART&gt;&#10;"/>
<property name="NeedsCompilation" value="false"/>
<property name="Targets" value="JButton1-TARGET"/>
<property name="Sources" value="JButton1-action-false"/>
<property name="ConnectionName" value="JButton1_JButton1_conn1"/>
<property name="ConnectionClass" value="java.awt.event.ActionListener"/>
<property name="Connection_Version" value="1"/>
<property name="ListenerMethodName" value="actionPerformed"/>
<property name="UserCode_Connection_JButton1_JButton1_conn1" value="Connection_JButton1_JButton1_conn1"/>
</connection>
<property name="MenuBarPresent" value="true"/>
<property name="GenSource" value="true"/>
<property name="Custom Code" value=""/>
<property name="Dummy Interface" value=""/>
<property name="ScreenTitle" value="new_screen1"/>
<property name="ToolBarPresent" value="true"/>
<property name="HorizontalSplitPanePos" value="170.0"/>
<property name="SubVersion" value="4.4"/>
<property name="LookAndFeel" value="None"/>
</screen>
