#Launcher configurations please dont delete or modify this file
#Tue Mar 06 17:25:13 IST 2012
Menu_Configurator_Loggingenabled=true
EnableLogging=true
LookAndFeel=javax.swing.plaf.metal.MetalLookAndFeel
Non_UI_Agent_Logfilename=Non_UI_Agent
Shutdown_NMS_Server-Settings=;.\\mysql\\driver\\mysql_connector.jar
Multi_Protocol_Browser_Logfilesize=256
Configuration_Wizard_Logfilesize=256
SNMP_V3_Security_Logfilename=SNMP_V3_Security
I18N_Editor_Loggingenabled=true
Start_Web_NMS_Server-Settings=;.\\mysql\\driver\\mysql_connector.jar
Application_Client_Logfilesize=256
Reinitialize_Web_NMS_Logfilename=Reinitialize_Web_NMS
Shutdown_NMS_Server_Logfilename=Shutdown_NMS_Server
Deployment_Wizard_Loggingenabled=true
Event_Parser_Logfilename=Event_Parser
Application_Client_Loggingenabled=true
BROWSER_PATH=
SNMP_Agent_Simulator_Logfilesize=256
Start_Web_NMS_Server=\ ROOT_DIR . APACHE_DIR ./apache TOMCAT_DIR ./apache/tomcat BE_FE  TCP NATIVE_PING true NMS_BE_PORT 2000 WEBSERVER_PORT 9090 WEBCONTAINER_PORT 9090 TOMCAT_WORKER_FILE workers.properties COUNTRY US LANGUAGE en
TL1_Message_Builder_Loggingenabled=true
Chassis_Wizard_Logfilesize=256
Chassis_Wizard_Loggingenabled=true
java_home=D\:\\praba\\nms5.2\\jre
CLIBrowser_Logfilesize=256
Event_Filter_Loggingenabled=true
Status_Viewer_Logfilesize=256
Configuration_File_Checker_Loggingenabled=true
Height=744
UpdateManagerImplClass=com.adventnet.tools.update.installer.UpdateManager
Trap_Parser_Logfilename=Trap_Parser
Menu_Configurator_Logfilesize=256
CLIBrowser_Loggingenabled=true
SNMP_V3_Security_Loggingenabled=true
Configuration_Wizard_Logfilename=Configuration_Wizard
Multi_Protocol_Browser_Logfilename=Multi_Protocol_Browser
Alert_Filter_Loggingenabled=true
Start_Web_NMS_Server_Logfilesize=256
MibBrowser_Logfilesize=256
TL1_Agent_Simulator_Logfilesize=256
TL1_Agent_Simulator_Loggingenabled=true
BeanBuilder_Loggingenabled=true
Application_Client_Logfilename=Application_Client
java_classpath=;.\\classes\\NmsServerClasses.jar;.\\classes;.\\classes\\JimiProClasses.jar;.\\classes\\jfreechart.jar;.\\classes\\jcommon.jar;.\\classes\\AdventNetUpdateManager.jar;.;.\\classes\\ApiUtils.jar;.\\classes\\AdventNetUpdateManagerInstaller.jar;.\\classes\\JimiProClasses.jar;.\\classes\\jfreechart.jar;.\\classes\\jcommon.jar;.\\classes;.\\classes\\Mail.jar;.\\classes\\activation.jar;.\\classes\\AdventNetNPrevalent.jar;.\\classes\\bsh-1.2b3.jar;.\\classes\\debugger.jar
SNMP_Agent_Simulator_Logfilename=SNMP_Agent_Simulator
Chassis_Wizard_Logfilename=Chassis_Wizard
Multi_Protocol_Browser_Loggingenabled=true
CLIBrowser_Logfilename=CLIBrowser
Status_Viewer_Logfilename=Status_Viewer
Discovery_Configurator_Logfilesize=256
BeanBuilder_Logfilesize=256
Vy=-8
Vx=-8
Shutdown_NMS_Server_Loggingenabled=true
Start_Web_NMS_Server_Loggingenabled=true
TL1CraftInterface_Logfilesize=256
Menu_Configurator_Logfilename=Menu_Configurator
I18N_Editor_Logfilesize=256
Alert_Filter_Logfilesize=256
Application_Client=\ localhost 9090 yes en US
Start_Web_NMS_Server_Logfilename=Start_Web_NMS_Server
MibBrowser_Logfilename=MibBrowser
TL1_Agent_Simulator_Logfilename=TL1_Agent_Simulator
Y=-8
X=-8
Event_Parser_Loggingenabled=true
SNMP_Agent_Simulator_Loggingenabled=true
Event_Filter_Logfilesize=256
Discovery_Configurator_Logfilename=Discovery_Configurator
BeanBuilder_Logfilename=BeanBuilder
Configuration_Wizard_Loggingenabled=true
Reinitialize_Web_NMS=\ -ROOT_DIR . -STATE_DIR state -NMS_RESOURCE_DIRECTORY .\\html -RESOURCE_PROPERTIES ReinitializeNmsResources -RESOURCE_LOCALE en_US
TL1CraftInterface_Logfilename=TL1CraftInterface
DisplayAreaLineCount=100
I18N_Editor_Logfilename=I18N_Editor
TL1_Message_Builder_Logfilesize=256
Alert_Filter_Logfilename=Alert_Filter
Shutdown_NMS_Server=\ -NMS_RESOURCE_DIRECTORY .\\html -RESOURCE_PROPERTIES ShutDownNmsServerResources -RESOURCE_LOCALE en_US
Status_Viewer_Loggingenabled=true
Deployment_Wizard_Logfilesize=256
MibBrowser_Loggingenabled=true
Configuration_File_Checker_Logfilesize=256
Status_Viewer=\ -host localhost -port 8001 -NMS_RESOURCE_DIRECTORY .\\html -RESOURCE_PROPERTIES StatusViewer -RESOURCE_LOCALE en_US
Non_UI_Agent_Logfilesize=256
Event_Filter_Logfilename=Event_Filter
Width=1382
SNMP_V3_Security_Logfilesize=256
Reinitialize_Web_NMS_Logfilesize=256
Shutdown_NMS_Server_Logfilesize=256
Event_Parser_Logfilesize=256
Reinitialize_Web_NMS_Loggingenabled=true
Trap_Parser_Loggingenabled=true
Non_UI_Agent_Loggingenabled=true
TL1_Message_Builder_Logfilename=TL1_Message_Builder
View=NORMAL_VIEW
Reinitialize_Web_NMS-Settings=;.\\mysql\\driver\\mysql_connector.jar
TL1CraftInterface_Loggingenabled=true
Discovery_Configurator=\ -NMS_RESOURCE_DIRECTORY .\\html -RESOURCE_PROPERTIES RuntimeAdministrationResources -RESOURCE_LOCALE en_US
Trap_Parser_Logfilesize=256
Deployment_Wizard_Logfilename=Deployment_Wizard
Configuration_File_Checker_Logfilename=Configuration_File_Checker
Discovery_Configurator_Loggingenabled=true
